﻿@model BackOfficeAcquaJoss.Models.ReservationsModel
@using Core;
@using General = Core.Resources.General;
@{
    List<ProductsTypes> productsTypesList = Model.ProductsTypes;
    List<Products> productsList = Model.ProductsList;
    List<DiscountCoupon> discountCouponList = Model.DiscountCouponList;

    string filterMenu = (string)ViewData["filterMenu"];
    string filterActivity = (string)ViewData["filterActivity"];
}

<div id="addons_menus" class="ibox" filter="@filterMenu">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5><i class="fa fa-cutlery" aria-hidden="true"></i> MENU</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <input id="reservaAfiliado" type="checkbox" class="js-switch-small" />
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="display:none;">
                <form validate="true" method="post" class="addToCart">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 form-group m-b-sm">
                            <label>@General.lblFood</label>
                            <select name="idProduct" class="form-control input-sm">
                                <option value=""></option>
                                @foreach (Products p in productsList.FindAll(p => p.Product_Type.Equals(filterMenu)))
                                {
                                <option value="@p.Product_Id" @(p.Product_Status ? "" : "disabled")>@p.Product_Name</option>
                                }
                            </select>
                        </div>

                        <div class="col-sm-6 col-md-3 form-group m-b-sm">
                            <label>@General.lblDate</label>
                            <div class="input-group datepicker">
                                <input id="Menudate" name="date" type="text" readonly class="form-control input-sm" required />
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-2 form-group m-b-sm">
                            <label>@General.lblQuantity</label>
                            <input name="quantity" min="1" type="number" class="form-control input-sm" value="1" />
                        </div>

                        <div class="col-sm-6 col-md-3 form-group m-b-sm">
                            <label>@General.lblCoupon</label>
                            <select id="coupon" name="coupon" class="form-control input-sm">
                                <option value=""></option>
                                @foreach (DiscountCoupon c in discountCouponList)
                                {
                                <option value="@c.DiscountCoupon_Identifier">@c.DiscountCoupon_Identifier</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-right text-right">
                            <button class="btn btn-info btn-sm btn-w-m" type="submit">@General.lblAddToCart.ToUpper()</button>
                        </div>
                    </div>
                    <input class="static" name="type" type="hidden" value="@ProductIdentifier.MenuSchool">
                    <input name="product" type="hidden" />
                    <input name="price" type="hidden" />
                    <input name="currency_code" type="hidden" />
                    <input name="currency_symbol" type="hidden" />

                    <input name="total" type="hidden" />
                    <input name="discount" type="hidden" />
                    <input name="totalWithDiscount" type="hidden" />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="addons_animals" class="ibox" filter="@filterActivity">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5><i class="fa fa fa-linux" aria-hidden="true"></i> @General.lblActivityWithAnimals.ToUpper()</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <input type="checkbox" class="js-switch-small" />
                    </a>
                </div>
            </div>
            <div class="ibox-content clearfix" style="display:none;">
                <form id="reservation_activity" validate="true" method="post" class="addToCart">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 form-group m-b-sm">
                            <label>@General.lblActivity</label>
                            <select id="productActivity" name="idProduct" class="form-control input-sm no-coupon">
                                <option></option>
                                @foreach (Products p in productsList.FindAll(p => p.Product_Type.Equals(filterActivity)))
                                {
                                    <option value="@p.Product_Id" @(p.Product_Status ? "" : "disabled")>@p.Product_Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-3 form-group m-b-sm">
                            <label>@General.lblDate</label>
                            <div class="input-group datepicker">
                                <input id="Activitydate" name="date" type="text" readonly class="form-control input-sm" />
                            </div>
                        </div>

                        @*<div class="col-sm-6 col-md-3 form-group m-b-sm">
                                <label>@General.lblDate</label>
                                <div class="input-group datepicker">
                                    <input id="Extradate" type="text" readonly class="form-control" />
                                </div>
                            </div>*@

                        <div class="col-sm-6 col-md-2 form-group m-b-sm">
                            <label>@General.lblQuantity</label>
                            <input type="number" name="quantity" class="form-control input-sm" min="1" />
                        </div>
                        <div class="col-sm-6 col-md-2 form-group">
                            <label>@General.lblSchedule</label>
                            <select id="scheduleActivity" name="schedule" class="form-control input-sm allow-schedule">
                                <option value="0">...</option>
                            </select>

                        </div>


                    </div>
                    <div class="clearfix">
                        <div class="pull-right text-right">
                            <button class="btn btn-info btn-sm btn-w-m" type="submit">@General.lblAddToCart.ToUpper()</button>
                        </div>
                    </div>

                    <input class="static" name="type" type="hidden" value="@ProductIdentifier.ActivitySchool" />

                    <input name="product" type="hidden" />
                    <input name="price" type="hidden" />

                    <input name="currency_code" type="hidden" />
                    <input name="currency_symbol" type="hidden" />

                    <input name="total" type="hidden" />
                    <input name="discount" type="hidden" />
                    <input name="totalWithDiscount" type="hidden" />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="addons_extras" class="ibox">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5><i class="fa fa-bicycle" aria-hidden="true"></i> ATTIVITA' EXTRA</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <input type="checkbox" class="js-switch-small" />
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="display:none;">
                <form validate="true" method="post" class="addToCart">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group m-b-sm">
                            <label>Extra</label>
                            <select name="idProduct" class="form-control input-sm no-coupon">
                                <option></option>
                                @foreach (Products p in productsList.FindAll(p => p.Product_Type.Equals(ProductIdentifier.Extra)))
                                {
                                <option value="@p.Product_Id" @(p.Product_Status ? "" : "disabled")>@p.Product_Name</option>
                                }
                            </select>
                        </div>

                        <div class="col-sm-3 col-md-3 form-group m-b-sm">
                            <label>@General.lblDate</label>
                            <div class="input-group datepicker">
                                <input id="Extradate" name="date" type="text" readonly class="form-control input-sm" />
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 form-group m-b-sm">
                            <label>@General.lblQuantity</label>
                            <input type="number" name="quantity" class="form-control input-sm" />
                        </div>

                    </div>
                    <div class="clearfix">
                        <div class="pull-right text-right">
                            <button class="btn btn-info btn-sm btn-w-m" type="submit">@General.lblAddToCart.ToUpper()</button>
                        </div>
                    </div>

                    <input class="static" name="type" type="hidden" value="@ProductIdentifier.Extra" />

                    <input name="product" type="hidden" />
                    <input name="price" type="hidden" />

                    <input name="currency_code" type="hidden" />
                    <input name="currency_symbol" type="hidden" />

                    <input name="total" type="hidden" />
                    <input name="discount" type="hidden" />
                    <input name="totalWithDiscount" type="hidden" />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="addons_gadgets" class="ibox">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5><i class="fa fa-gamepad" aria-hidden="true"></i> GADGET</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <input type="checkbox" class="js-switch-small" />
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="display:none;">
                <form validate="true" method="post" class="addToCart">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Gadget</label>
                            <select name="idProduct" class="form-control input-sm">
                                <option></option>
                                @foreach (Products p in productsList.FindAll(p => p.Product_Type.Equals(ProductIdentifier.Gadget)))
                                {
                                <option value="@p.Product_Id" @(p.Product_Status ? "" : "disabled")>@p.Product_Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>@General.lblQuantity</label>
                            <input type="number" name="quantity" class="form-control input-sm" />
                        </div>
                        <div class="col-sm-3 form-group m-b-sm">
                            <label>Promo</label>
                            <select id="coupon" name="coupon" class="form-control input-sm">
                                <option value=""></option>
                                @*@foreach (DiscountCoupon c in discountCouponList)
                                {
                                <option value="@c.DiscountCoupon_Identifier">@c.DiscountCoupon_Identifier</option>
                                }*@
                            </select>
                        </div>
                    </div>
                    <input class="static" name="type" type="hidden" value="@ProductIdentifier.Gadget">
                    <input name="product" type="hidden" />
                    <input name="price" type="hidden" />
                    <input name="currency_code" type="hidden" />
                    <input name="currency_symbol" type="hidden" />

                    <input name="total" type="hidden" />
                    <input name="discount" type="hidden" />
                    <input name="totalWithDiscount" type="hidden" />
                </form>

            </div>
        </div>
    </div>
</div>