﻿@model BackOfficeAcquaJoss.Models.MainModel
@{
    string userLang = Global.LangSelected;
}

<div id="list-lang" class="btn-group" userLang="@userLang" langSelected="@userLang">
    @{
        <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-primary">
            <span class="btn-content">
                <i class="flag flag-icon-@(userLang.Equals("en") ? "us" : userLang)"></i>
                <span>@userLang</span>
            </span>
            <span class="caret"></span>
        </button>
    }

    <ul class="dropdown-menu">
        @foreach (var lang in Model.Languages)
        {
            <li id-lang="@lang.Language_Id" userLang="@lang.Language_Code" style="@(lang.Language_Code.Equals(userLang) ? "display:none": string.Empty)">
                <a href="#">
                    <i class="flag flag-icon-@(lang.Language_Code.ToLower().Equals("en") ? "us" : lang.Language_Code)"></i>
                    <span>@lang.Language_Code</span>
                </a>
            </li>
        }
    </ul>
</div>

<script>
    $(document).ready(function ()
    {
        var segments = @(Html.Raw(Json.Encode(Request.Url.Segments)));
        var url = "/" + segments[1];
        if(segments.length > 2 && !$.isNumeric(segments[2])){
            url += segments[2];
        }
        console.log(segments);
        console.log(url);

        $("#list-lang").on("click", "li", function ()
        {
            console.log(this);
            var $li = $(this);
            var langSelected = $li.attr("userlang");
            var $container = $li.closest("#list-lang");
            $li.hide();
            $container.find(".dropdown-toggle .btn-content").html($li.find("a").html());
            $container.find(".dropdown-menu li").not($li).show();
            console.log(langSelected);
            $.redirect(url, { LangSelected: langSelected });
        });
    });
</script>