﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="DTraveller">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "BackAcquaJoss" : ViewBag.Title)</title>
    <link href="http://loudev.com/css/multi-select.css" media="screen" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/tables")


    <script type="text/javascript">
        var lang = "@Global.Lang";
        var isMobile = @Global.IsMobile.ToString().ToLower();
        var CKEDITOR_BASEPATH = '/Scripts/ckeditor/';
        var CultureInfo = {};
        CultureInfo.DateTimeFormat = @Html.Raw(Json.Encode(Global.CultureInfo.DateTimeFormat));
        CultureInfo.NumberFormat = @Html.Raw(Json.Encode(Global.CultureInfo.NumberFormat));
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @{
        if (!Global.Lang.Equals("en"))
        {
            <script src="~/Scripts/locales/bootstrap-year-calendar.it.js" charset="utf-8"></script>
        }
    }
    @RenderSection("css", required: false)

    <script type="text/javascript">
        var dateTimeFormatDB = "YYYY-MM-DD HH:mm:ss";
        var dateFormat = null, dateTimeFormat = null;
        $(document).ready(function () {
            moment.locale(lang);
            $.fn.datetimepicker.defaults.locale = lang;
            $.fn.datetimepicker.defaults.format = "L";
            $.fn.button.Constructor.DEFAULTS.loadingText = '<i class="fa fa-spin fa-spinner"></i>';
            dateFormat = moment().localeData().longDateFormat("L");
            timeFormat = moment().localeData().longDateFormat("LT");
            dateTimeFormat = dateFormat + " " + timeFormat;

            console.log(lang, dateFormat, $.fn.datetimepicker.defaults);
        });
    </script>
</head>
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                @if (Global.IsLogged)
                {
                    @Html.Partial("~/Views/Shared/_NavBar.cshtml")
                }
                else if (Request.Url.AbsolutePath != "/")
                {
                    BackOfficeAcquaJoss.Controllers.HomeController.UrlBack = Request.Url.AbsoluteUri;
                    Session.Abandon();
                    Response.Redirect("~/");
                }
            </div>

            <div class="wrapper wrapper-content">
                <div class="full-width">
                    @RenderBody()
                </div>
            </div>
        </div>
        @if (!Global.IsLogged)
        {
            <footer class="footer">
                <center>
                    <span>&copy; @DateTime.Now.Year - Developer by DTraveller</span>
                </center>
            </footer>
        }
    </div>
</body>
</html>

@Scripts.Render("~/bundles/jqueryval")
@{
    if (!Global.Lang.Equals("en"))
    {
        <script src="~/Scripts/localization/messages_it.js" charset="utf-8"></script>
        <script src="~/Scripts/localization/methods_it.js" charset="utf-8"></script>
    }
}
@Scripts.Render("~/bundles/ckeditor")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/functions")

@RenderSection("scripts", required: false)