﻿@using Core.Resources
@model Core.Login

<div class="container">   
    <center class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h2>BACKOFFICE ACQUAJOSS</h2>
        <br />
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login", @class = "form-signin pull_none clearfix" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken();
            <div class="form-group text-left">
                @Html.TextBoxFor(model => model.Login_Email, new { autofocus = "autofocus", placeholder = General.lblEmail, @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Login_Email, "", new { @class = "text-danger validationMessage" })
            </div>
            <div class="form-group text-left">
                @Html.PasswordFor(model => model.Login_Password, new { placeholder = General.lblPassword, @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Login_Password, "", new { @class = "text-danger validationMessage" })
            </div>
            <div class="text-right">
                <input type="submit" value="Login" class="btn-block btn-primary btn-lg" style="background-color: #ff8888;" />
            </div>
        }
    </center>
</div>