﻿@using Core;
@using General = Core.Resources.General;
@using ResourcesTelemarketing = Core.Resources.Telemarketing;
@{ 
    List<string> MasterUsers = new List<string>() {
        UserType.ADMIN,
        UserType.DEVELOPER,
        UserType.SEO
    };

    var Test = "";
    if (Core.GlobalSettings.EnProduccion == false)
    {
        Test = "- TEST";
    }

    string Fakeday = Core.Impostazioni.FakeDayNow;
    if (Fakeday != null) { Fakeday = "data finta: " + Fakeday; }

    string SkipTicket = Core.Impostazioni.SkipTicket;
    if (SkipTicket != null) { SkipTicket = "SkipTicket : " + SkipTicket; }
}

<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="#" class="navbar-brand" style="background-color: #ff8888;">BACK OFFICE ACQUAJOSS @Test&nbsp;@Fakeday&nbsp;@SkipTicket</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul id="top_menu" class="nav navbar-nav">
            <li class="active hidden-sm">@Html.ActionLink("Home", "Index", "Home")</li>
            <li id="park" class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    Park <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>@Html.ActionLink("Schedules", "Schedules", "Park")</li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Park")</li>
                    <li>@Html.ActionLink("Seasons", "Seasons", "Park")</li>
                    @*<li>@Html.ActionLink("Events", "Events", "Park")</li>*@
                </ul>
            </li>
            <li id="reservations" class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    Products <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>@Html.ActionLink("Main products", "Product", "Products")</li>
                    <li>@Html.ActionLink("Addons", "Addon", "Addons")</li>
                    <li>@Html.ActionLink("Rates", "Prices", "Products")</li>
                    <li>@Html.ActionLink("Dematerialized rates", "Dematerialized", "Products")</li>
                    <li>@Html.ActionLink("Dynamic Prices", "DynPrices", "Products")</li>

                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Allotments</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Activities", "ProductsAllotments", "Products")</li>
                            <li>@Html.ActionLink("Hotels", "HotelsAllotments", "Products")</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="reservations" class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    Reservations <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Create</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("New", "New", "Reservations")</li>
                            <li>@Html.ActionLink("Schools", "Schools", "Reservations")</li>
                            @*<li>@Html.ActionLink("Groups", "Groups", "Reservations")</li>*@
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Search", "Search", "Reservations")</li>
                    <li>@Html.ActionLink("Cancel", "Cancel", "Reservations")</li>
                </ul>
            </li>
            <li id="reservations" class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    Marketing <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>@Html.ActionLink("SEO", "Index", "Seo")</li>
                    <li>@Html.ActionLink("Mailing", "Emails", "Seo")</li>
                </ul>
            </li>
            <li id="promotions" class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    Promotions <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>@Html.ActionLink("Banners", "Banners", "Promotions")</li>
                    <li>@Html.ActionLink("Deals", "Deals", "Promotions")</li>
                    <li>@Html.ActionLink("Discounts", "Discounts", "Promotions")</li>
                    @*<li>@Html.ActionLink("Products in calendar", "DealsAddons", "Promotions")</li>*@
                </ul>
            </li>
               @if ( Global.UserProfile.User_Type=="seo" )
               {
                <li id="promotions" class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Admin <span class="caret"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("Home", "Home", "Admin")</li>
                       
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Reports</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Sales", "Sales", "Reports")</li>
                                <li>@Html.ActionLink("SalesAddons", "SalesAddons", "Reports")</li>
                                <li>@Html.ActionLink("SalesDetails", "SalesDetails", "Reports")</li>
                                <li>@Html.ActionLink("SalesCustomers", "SalesCustomers", "Reports")</li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    }

                    @if (MasterUsers.Contains(Global.UserProfile.User_Type) && MasterUsers[2].ToString()!= Global.UserProfile.User_Type)
                    {
<li id="promotions" class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                    Admin <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>@Html.ActionLink("Home", "Home", "Admin")</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Admin")</li>
                    <li>@Html.ActionLink("HotelInfo", "HotelInfo", "Admin")</li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Customers</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Clients", "Clients", "Customers")</li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">@General.lblSchool</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("All", "Schools", "Customers")</li>
                                    <li>@Html.ActionLink(@ResourcesTelemarketing.lblSection, "Telemarketing", "Customers")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Activities</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("All", "Activities", "Admin")</li>
                            <li>@Html.ActionLink("Schedule", "ActivitySchedule", "Admin")</li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Reports</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Sales", "Sales", "Reports")</li>
                            <li>@Html.ActionLink("SalesAddons", "SalesAddons", "Reports")</li>
                            <li>@Html.ActionLink("SalesDetails", "SalesDetails", "Reports")</li>
                            <li>@Html.ActionLink("SalesCustomers", "SalesCustomers", "Reports")</li>
                            <li>@Html.ActionLink("Subscription Names", "SalesSubscriptionNames", "Reports")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Check Banca Sella", "CheckBank", "Admin")</li>
                    <li>@Html.ActionLink("Events", "Events", "Admin")</li>
                    <li>@Html.ActionLink("Convenzioni", "Convenzioni", "Admin")</li>
                    <li>@Html.ActionLink("Partners", "Partners", "Admin")</li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">TMaster</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Rates", "TMaster", "Admin")</li>
                            <li>@Html.ActionLink("Product", "TMasterMapeo", "Admin")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Faqs", "Faq", "Admin")</li>
                    <li>@Html.ActionLink("News", "News", "Admin")</li>
                    <li>@Html.ActionLink("Hotel-User", "hotelusers", "Admin")</li>
                </ul>
            </li>
        }
    </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @Global.UserProfile.User_Name
                    <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li class="hidden-xs">
                        <div class="navbar-login" style="min-width: 300px; padding:15px 0px;">
                            <div class="clearfix">
                                <div class="col-sm-4 col-md-3">
                                    <center class="text-center">
                                        <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
                                    </center>
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <div class="text-left"><h4 style="margin:0;">@Global.UserProfile.User_FullName</h4></div>
                                    <div><small class="text-left">@Global.UserProfile.User_Email</small></div>
                                    <div><span class="text-info">@(Global.UserProfile.User_UserType == null ? Global.UserProfile.User_Type : Global.UserProfile.User_UserType.UsersType_Name)</span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li role="separator" class="divider m_0"></li>
                @if (MasterUsers.Contains(Global.UserProfile.User_Type))
                {
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                }
                    <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>