﻿@using General = Core.Resources.General;

<div id="rates" class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-money" aria-hidden="true"></i> @General.lblRates.ToUpper()</h5>
        <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
    <div class="ibox-content clearfix">
        <div id="price_container">
            <div class="m-b-xs">
                <span class="label label-info">@General.lblPrice</span>
            </div>
            <h2 id="price_container_product">
                <span style="display:block;">
                    <small id="product_type" class="text-uppercase"></small>
                    <b id="product" class="text-info"></b>
                </span>
                <span class="text-info price_container">
                    <span class="price_unit" style="display: none;">
                        <small>@General.lblPrice.ToUpper(): </small>
                        <b><span class="currency_symbol"></span><span class="price_value"></span> <span class="currency_code"></span></b>
                    </span>
                    <span class="price_more_than_one" style="display: none;">
                        <small class="quantity"></small>
                        <b><span class="currency_symbol"></span><span class="price_value"></span> <span class="currency_code"></span></b>
                    </span>
                </span>
            </h2>
            <h2 id="infants">
                <small>@General.lblInfants.ToUpper(): </small>
                <span class="text-info price_container">
                    <b><span class="price_value">@General.lblFree.ToUpper()</span></b>
                </span>
            </h2>

            @*<!--Addons-->
            <div id="nestable2">
                <ol class="dd-list dd-nodrag">
                    <!--Activities with animals-->
                    <li class="dd-item">
                        <div class="dd-bg">
                            <span class="btn-xs btn-info "><i class="fa fa-camera-retro"></i></span> Activities with animals
                            <button class="btn btn-primary pull-right boton-add" type="submit">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        </div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="2">
                                <div class="dd-bg">
                                    <span class="pull-right ">
                                        <span class="price_addons">
                                            <b>$20</b>
                                            <span class="totalxPhotos" style="display:inline;">
                                                <small class="num_photos">x2</small>
                                                <b>
                                                    $<span id="" class="price_value">40</span> <span class="currency_code"></span>
                                                </b>
                                            </span>
                                        </span>                              
                                        /
                                        <span class="discount_addons text-warning">
                                            <b>$18</b>
                                            <span class="totalxPhotos" style="display:inline;">
                                                <small class="num_photos">x2 =</small>
                                                <b>
                                                    $<span id="" class="price_value PriceDisc">36</span> <span class="currency_code"></span>
                                                </b>
                                            </span>
                                           
                                        </span>
                                    </span>
                                    <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> PASSIONE DELFINI
                                </div>
                            </li>
                            <li class="dd-item" data-id="4">
                                <div class="dd-bg">
                                    <span class="pull-right price_addons">
                                        <b>$15</b>
                                        <span class="totalxPhotos" style="display:inline;">
                                            <small class="num_photos">x2</small>
                                            <b>
                                                $<span id="" class="price_value">30</span> <span class="currency_code"></span>
                                            </b>
                                        </span>
                                    </span>
                                    <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> PASSIONE PINGUINI
                                </div>
                            </li>
                        </ol>
                    </li>
                    <!--Menu-->
                    <li class="dd-item">
                        <div class="dd-bg">
                            <span class="btn-xs btn-info "><i class="fa fa-cutlery"></i></span> Menu
                            <button class="btn btn-primary pull-right boton-add" type="submit">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        </div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="6">
                                <div class="dd-bg">
                                    <span class="pull-right price_addons">
                                        <b>$8.30</b>
                                        <span class="totalxMenu" style="display:none;">
                                            <small class="num_menu">x2</small>
                                            <b>
                                                $<span id="" class="price_value">30</span> <span class="currency_code"></span>
                                            </b>
                                        </span>
                                    </span>
                                    <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> Menù hamburger +Maxi +Birra
                                </div>
                            </li>
                            <li class="dd-item" data-id="7">
                                <div class="dd-bg">
                                    <span class="pull-right price_addons">
                                        <b>$7.90</b>
                                        <span class="totalxMenu" style="display:none;">
                                            <small class="num_menu">x2</small>
                                            <b>
                                                $<span id="" class="price_value">30</span> <span class="currency_code"></span>
                                            </b>
                                        </span>
                                    </span>
                                    <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> Menù Pizza +Maxi +Birra
                                </div>
                            </li>
                        </ol>
                    </li>
                    <!--Gadget-->
                    <li class="dd-item">
                        <div class="dd-bg">
                            <span class="btn-xs btn-info "><i class="fa fa-gift"></i></span> Gadget
                            <button class="btn btn-primary pull-right boton-add" type="submit">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        </div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="6">
                                <div class="dd-bg">
                                    <span class="pull-right price_addons">
                                        <b>$16</b>
                                        <span class="totalxGadget" style="display:none;">
                                            <small class="num_gadget">x2</small>
                                            <b>
                                                $<span id="" class="price_value">30</span> <span class="currency_code"></span>
                                            </b>
                                        </span>
                                    </span>
                                    <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> BICCHIERI CON MASCOTTE ZOOMARINE
                                </div>
                            </li>
                            <li class="dd-item" data-id="7">
                                <div class="dd-bg">
                                    <span class="pull-right price_addons">
                                        <b>$12</b>
                                        <span class="totalxMenu" style="display:none;">
                                            <small class="num_menu">x2</small>
                                            <b>
                                                $<span id="" class="price_value">30</span> <span class="currency_code"></span>
                                            </b>
                                        </span>
                                    </span>
                                    <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> BOX BIMBA
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
            <!--End Addons-->*@
        </div>
        <div id="discount_container" style="display:none;">
            <hr class="m-sm" />
            <div class="m-b-xs">
                <span class="label label-warning">PROMO</span>
            </div>
            <h2>
                <span style="display:block;"><small>@General.lblName: </small> <b id="coupon" class="text-warning"></b></span>
                <span><small id="discount_type"></small> <b id="discount_value" class="text-warning"></b></span>
                <span class="discount_more_than_one" style="display:none">
                    <small>INDIVIDUAL DISCOUNT</small>
                    <b class="text-warning"><span class="currency_symbol"></span><span class="discount_value"></span> <span class="currency_code"></span></b>
                </span>
            </h2>
        </div>
        <hr class="m-sm" />
        <div class="m-b-xs hide">
            <span class="label label-success">@General.lblTotal.ToUpper()</span>
        </div>
        <div class="text-right">
            <div id="totalPrice" class="m-b-xs" style="display: block;">
                <h2 class="font-bold">@General.lblTotal.ToUpper(): <span class="text-info price_container"><span class="currency_symbol"></span><span id="total"></span> <span class="currency_code"></span></span></h2>
            </div>
            <div id="totalDiscount" class="m-b-xs" style="display:none;">
                <h2 class="font-bold">PROMO: <span class="text-warning price_container"><span class="currency_symbol"></span><span id="totalDiscountValue"></span> <span class="currency_code"></span></span></h2>
            </div>
            <div id="totalFinalDiscount" style="display:none;">
                <hr style="margin:0px;" />
                <h1 class="font-bold m-xxs">
                    <span class="text-danger price_container">
                        <span class="currency_symbol"></span><span id="totalFinalDiscountValue" class="price_value price_format"></span> <span class="currency_code"></span>
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>
