﻿@using General = Core.Resources.General;

<div id="shopcart" class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-shopping-cart" aria-hidden="true"></i> @General.lblShopCart.ToUpper()</h5>
        <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <ul id="shopcart-list" class="list-unstyled"></ul>
        </div>
    </div>
    <div class="ibox-footer clearfix">
        <div class="h1 font-bold no-margins text-right">@General.lblTotal.ToUpper(): <span id="shopcart-total" class="text-danger"></span></div>
        <div id="buttons" class="btn-group col-lg-12">
            <hr class="m-xs" />
            <button class="btn btn-danger col-lg-4"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
            <button class="btn btn-info col-lg-4"><i class="fa fa-file-text-o" aria-hidden="true"></i> Profile</button>
            <button id="btn-checkout" class="btn btn-primary col-lg-4"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Checkout</button>
        </div>  
    </div>
</div>

<style>
    #shopcart #buttons{
        display:none;
    }

    #shopcart[items] #buttons{
        display:block;
    }

     #shopcart[items="0"] #buttons{
        display:none !important;
    }
    #shopcart li + li {
        margin-top: 10px;
        border-top: 1px solid #f3f3f4;
        padding-top: 10px;
    }

    #shopcart .item_title {
        margin-top: 0px;
    }

    #shopcart .item_content label + label {
        margin-left: 5px;
    }
</style>