﻿@using Core;
@using BackOfficeAcquaJoss.Models;
@using General = Core.Resources.General;

@model ReservationModel
@{
    Layout = null;
    Reservations reservation = Model.reservation;
    Customers customer = reservation.Reservation_Customer;
    Users seller = reservation.Reservation_Seller;
    SalesSource source = reservation.Reservation_SaleSource;
    Currencies currency = reservation.Reservation_Currency;
    List<ReservationItems> items = reservation.Reservation_Items;

    decimal ItemsTotalSum = items.Select(i => i.ReservationItem_Total).Sum();


    ReservationItems Info = items.FirstOrDefault(i => i.ReservationItem_Type.Equals(ProductIdentifier.School));
    string InfoHeaderDate = ""; string InfoHeaderSchedule = "";

    if (Info != null)
    {
        InfoHeaderDate = Info.ReservationItem_Date.Value.ToShortDateString();
        InfoHeaderSchedule = "";
        if (Info.ReservationItem_Schedule != null)
        {
            InfoHeaderSchedule = Info.ReservationItem_Schedule.Value.ToShortTimeString();
        }
        InfoHeaderDate = (Info.ReservationItem_Date.HasValue ? Info.ReservationItem_Date.Value.ToShortDateString() : string.Empty);
        InfoHeaderSchedule = (Info.ReservationItem_Schedule.HasValue ? Info.ReservationItem_Schedule.Value.ToShortTimeString() : string.Empty);
    }

}

<style>
    #booking {
        width: 99%;
        border-spacing: 0px;
        border-collapse: collapse;
        font-size: 11px !important;
    }

        #booking .header,
        #booking .summary {
            height: 13.5px;
        }

        #booking tr.border-bottom td {
            border-top:1px solid black;
            border-bottom:0.5px solid black;
        }

        #booking .summary-title {
            color: #0f0fa0;
        }

        #booking .separator {
            height: 10px;
        }

        #booking .separator.summary td {
            padding: 3px;
        }

        #booking .title {
            height: 15px;
            color: #0f0fa0;
            font-weight: bold;
            text-align: center;
            background-color: #999999bf;
        }

        #booking .thead {
            height: 10px;
            background-color: lightgray;
        }
            #booking .thead-title {
                color: #0f0fa0;
                border-right: 1px solid black;
            }
            #booking .thead .thead-title:last-child {
            border-right: none;
        }

            #booking tbody td {
                padding: 1px;
            }

        #booking .item,
        #booking .totals {
            height: 13px;
        }
        #booking .item .item-data, #booking .totals .item-data {
            padding: 0px 2px 0px 0px;
        }

        [contenteditable="true"]:hover {
            border: 1px solid red !important;
        }
</style>

<center>
    <table id="booking" class="" width="900px" border="0" style="font-size: 12px; font-family: Arial, sans-serif;">
        <tbody>
            <!--HEADER-->
            <tr class="header">
                <td style="text-align: center;" colspan="8" rowspan="5" >
                    <img src="https://www.zoomarine.it/Content/images/logos/zoomarine-logo.png" alt="Zoomarine IT" style="height: 84px;" />
                </td>
                <td colspan="22"></td>
            </tr>
            <tr class="header">
                <td colspan="19"></td>
                <td style="text-align:center; border: 0.5px solid; font-weight: bold; font-size: 15px;" colspan="3" rowspan="3">@reservation.Reservation_Id</td>
            </tr>
            <tr class="header">
                <td style="text-align:center;" colspan="19">PRESENTARE IL CODICE DI PRENOTAZIONE ALL’INGRESSO</td>
            </tr>
            <tr class="header">
                <td colspan="19"></td>
            </tr>
            <tr class="header">
                <td colspan="19"></td>
                <td colspan="2" style="color: rgb(0,0,205);">STATO:</td>
                <td status="@reservation.Reservation_Status" style="text-align:center; font-weight: bold; color:@(reservation.Reservation_Status != "OK" ? "rgb(237, 85, 101)" : "rgb(26, 179, 38)")">@reservation.Reservation_Status</td>
            </tr>
            <!--HEADER-->

            <tr class="separator">
                <td colspan="30"></td>
            </tr>

            <!--SUMMARY-->

            <tr class="summary border-bottom">
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left;" colspan="5">NOME SCUOLA:</td>
                <td style="text-align: center;" colspan="21">@customer.Customer_Company_Name</td>
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left; width: 50px;" colspan="2">CAP:</td>
                <td style="text-align: center; width: 70px;" colspan="2">@customer.Customer_ZipCode</td>
            </tr>
            <tr class="summary border-bottom">
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left;" colspan="5">DATA VISITA:</td>
                <td style="text-align: center; width: 100px;" colspan="4">@InfoHeaderDate</td>
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left; width: 100px;" colspan="4">ORA ARRIVO:</td>
                <td style="text-align: center; width: 50px;" colspan="2" contenteditable="true" spellcheck="false">@InfoHeaderSchedule</td>
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left; width: 100px;" colspan="4">ORA PARTENZA:</td>
                <td style="text-align: center; width: 50px;" colspan="2" contenteditable="true" spellcheck="false">@InfoHeaderSchedule</td>
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left; width: 150px;" colspan="6">CELLULARE REFERENTE:</td>
                <td style="text-align: center;" colspan="3" contenteditable="true" spellcheck="false">@(customer.Customer_Phone != null ? customer.Customer_Phone : customer.Customer_CellPhone)</td>
            </tr>
            <tr class="summary border-bottom">
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left; width: 200px;" colspan="8">NOME E COGNOME INSEGNANTE:</td>
                <td style="text-align: center;" colspan="22" contenteditable="true" spellcheck="false"></td>
            </tr>
            <tr class="summary border-bottom">
                <td class="summary-title" style="color: rgb(0,0,205); text-align: left;" colspan="8">E-MAIL INSEGNANTE/SCUOLA:</td>
                <td style="text-align: center;" colspan="22" contenteditable="true" spellcheck="false">@customer.Customer_Email</td>
            </tr>

            <!--SUMMARY-->

            <tr class="separator">
                <td colspan="30"></td>
            </tr>
            @{
                List<ReservationItems> admissions = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.School));
                @table("RIEPILOGO INGRESI", admissions);
            }

            @{
                List<ReservationItems> activities = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.ActivitySchool));
                @table("RIEPILOGO LABORATORI", activities);
            }

            @{
                List<ReservationItems> menus = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.MenuSchool));
                @table("RIEPILOGO MENÚ", menus);
            }

            @{
                List<ReservationItems> extras = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Extra));
                @table("RIEPILOGO GUIDA", extras);
            }

            <tr style="">
                <td style="text-align: justify;" colspan="30" contenteditable="true" spellcheck="false">
                    Il posto a sedere sarà riservato solo a chi prenota il pranzo. I pasti non consumati non sono rimborsabili. I pasti prenotati devono essere saldati entro 5 gg dalla visita.
                </td>
            </tr>
            <tr class="separator">
                <td style="text-align: left;" colspan="20"></td>
                <td style="text-align: left;" colspan="4" rowspan="4"></td>
                <td style="text-align: left;" colspan="6"></td>
            </tr>
            <tr class="">
                <td style="color: rgb(0,0,205); text-align: left; border-bottom: 0.5px solid black; border-top: 0.5px solid black;" colspan="17">TOTALE COSTO VISITA:</td>
                <td style="font-weight: bold; border-bottom: 0.5px solid black; border-top: 0.5px solid black;" colspan="3">@ItemsTotalSum.FormatCurrency(currency.Currency_Symbol)</td>
                <td style="text-align: center; font-weight: bold; border-top:0.5px dashed;  border-left: 0.5px dashed; border-right: 0.5px dashed;" colspan="6">@DateTime.Now.ToShortDateString()</td> <!-- InfoHeaderDate -->
            </tr>
            <tr style="">
                <td style="color: rgb(0,0,205); text-align: left; border-bottom: 0.5px solid black; border-top: 0.5px solid black;" colspan="17">CAPARRA VERSATA:</td>
                <td style="border-bottom: 0.5px solid black; border-top: 0.5px solid black;" colspan="3"></td>
                <td style="text-align:center; font-weight: bold; border-bottom:0.5px dashed; border-left: 0.5px dashed; border-right: 0.5px dashed;" colspan="6" rowspan="2" contenteditable="true" spellcheck="false">  </td>
            </tr>
            <tr style="">
                <td style="color: rgb(0,0,205); text-align: left; border-bottom: 0.5px solid black; border-top: 0.5px solid black;" colspan="17">DA SALDARE:</td>
                <td style="border-bottom: 0.5px solid; font-weight: bold; border-top: 0.5px solid;" colspan="3"></td>
            </tr>
        </tbody>
    </table>
</center>

@helper table(string title, List<ReservationItems> items)
{
    if (items.Count > 0)
    {
        <tr class="title border-bottom" style="height: 20px; color: rgb(0,0,205); font-weight: bold; text-align: center; background-color: rgb(192,192,192);">
            <td colspan="30" style="border-top: 0.5px solid black; border-bottom: 0.5px solid black;">@title</td>
        </tr>
        <tr class="separator summary" style="height: 7px;">
            <td colspan="30" style="padding: 3px;"></td>
        </tr>
        <tr class="thead border-bottom" style="height: 20px; color: rgb(0,0,205); background-color: rgb(220,220,220);">
            <td class="thead-title" style="width: 200px; text-align: center; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="17">DESCRIZIONE</td>
            <td class="thead-title" style="text-align: center; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="6">IMPORTO UNITARIO</td>
            <td class="thead-title" style="text-align: center; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="3">QUANTIT&Aacute;</td>
            <td class="thead-title" style="text-align: center; border-top: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="4">IMPORTO TOTALE</td>
        </tr>

        string CurrencySum = null;
        int QuantitySum = 0;
        decimal TotalSum = default(decimal);
        foreach (ReservationItems item in items)
        {
            Core.Products p = item.ReservationItem_Product;
            Currencies c = (item.ReservationItem_Currency != null ? item.ReservationItem_Currency : null);
            string cc = c.Currency_Code;
            string promo = (item.ReservationItem_Coupon != null ? item.ReservationItem_Coupon.DiscountCoupon_Identifier.ToUpper() : string.Empty);

            if (CurrencySum == null) { CurrencySum = cc; }
            QuantitySum += item.ReservationItem_Quantity;
            TotalSum += item.ReservationItem_Total;

            <tr class="item">
                <td class="item-data" style="text-align: left; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="17">@p.Product_Name</td>
                <td class="item-data" style="text-align: right; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="6">@item.ReservationItem_Price.FormatCurrency(cc)</td>
                <td class="item-data" style="text-align: right; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="3">@item.ReservationItem_Quantity</td>
                <td class="item-data" style="text-align: right; border-top: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="4">@item.ReservationItem_Total.FormatCurrency(cc)</td>
            </tr>
        }

        if (items != null)
        {
            <tr class="totals">
                <td style="" colspan="17"></td>
                <td class="item-data" style="text-align: right; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black; border-left: 0.5px solid black;" colspan="6">TOTALE:</td>
                <td class="item-data" style="text-align: right; font-weight: bold; border-top: 0.5px solid black; border-right: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="3">@QuantitySum</td>
                <td class="item-data" style="text-align: right; font-weight: bold; border-top: 0.5px solid black; border-bottom: 0.5px solid black;" colspan="4">@TotalSum.FormatCurrency(CurrencySum)</td>
            </tr>
        }
    }
    <tr class="separator" style="height: 15px;">
        <td colspan="30" style="padding: 3px;"></td>
    </tr>
}