﻿@using Core;
@using Resources = Core.Resources;
@using BackOfficeAcquaJoss.Models;

@model ReservationModel
@{
    Reservations reservation = Model.reservation;
    List<ReservationItems> items = reservation.Reservation_Items;
    Decimal subtotal = 0;

    if (items != null)
    {
        string currency = items.FirstOrDefault().ReservationItem_CurrencyCode;
        subtotal = items.FindAll(r => r.ReservationItem_Status != "AN").Select(r => r.ReservationItem_Total).Sum();

        <!-- #region ADMISSION -->
        List<ReservationItems> itemsAdmission = items.FindAll(r => r.ReservationItem_Type.Equals(ProductIdentifier.Admission));
        @panelItemShopCart("AMMISSIONE", "admissions", itemsAdmission)
        <!-- #endregion ADMISSION -->

        <!-- #region DYNAMIC -->
        List<ReservationItems> itemsDynamic = items.FindAll(r => r.ReservationItem_Type.Equals(ProductIdentifier.Dynamic));
        @panelItemShopCart("DINAMICO", "dynamic", itemsDynamic)
        <!-- #endregion DYNAMIC -->

        <!-- #region HOTELS -->
        List<ReservationItems> itemsHotels = items.FindAll(r => r.ReservationItem_Type.Equals(ProductIdentifier.Hotel));
        @panelItemShopCart("HOTELS", "hotels", itemsHotels)
        <!-- #endregion HOTELS -->

        <!-- #region MENU -->
        List<ReservationItems> itemsMenu = items.FindAll(r => r.ReservationItem_Type.Equals(ProductIdentifier.Menu));
        @panelItemShopCart("MENU", "menus", itemsMenu)
        <!-- #endregion MENU -->

        <!-- #region ACTIVITIES -->
        List<ReservationItems> itemsActivities = items.FindAll(r => r.ReservationItem_Type.Equals(ProductIdentifier.Activity));
        @panelItemShopCart("ATTIVITÀ", "activities", itemsActivities)
        <!-- #endregion ACTIVITIES -->

        <!-- #region GADGETS -->
        List<ReservationItems> itemsGadgets = items.FindAll(r => r.ReservationItem_Type.Equals(ProductIdentifier.Gadget));
        @panelItemShopCart("GADGETS", "gadget", itemsGadgets)
        <!-- #endregion GADGETS -->

        <!-- #region EXTRA -->
        List<ReservationItems> itemsExtras = items.FindAll(r => r.ReservationItem_Type.Equals(ProductIdentifier.Extra));
        @panelItemShopCart("EXTRA", "extra", itemsExtras)
        <!-- #endregion EXTRA -->

        <div class="panel-footer m-t-xxs p-xs no-borders text-right">
            <h2 class="no-margins"><b>TOTAL: <span id="total" class="text-danger">@(subtotal + " " + currency)</span></b></h2>
        </div>
    }
    else
    {
        <h3 class="text-danger">EMPTY SHOPCART</h3>
    }
}

@helper panelItemShopCart(string title, string id, List<ReservationItems> items)
{
    if (items.Count > 0)
    {
        int i = 0;
        Decimal subtotal = 0;

        <div class="panel-body no-padding">
            <div class="panel-group m-b-xxs" id="shopcart">
                <div class="panel panel-default no-borders">
                    <div class="panel-heading">
                        <span class="pull-right">(<strong>@items.Count</strong>) items</span>
                        <h5 class="panel-title no-margins">
                            <a data-toggle="collapse" data-parent="#shopcart" href="#@id" class="collapsed" aria-expanded="false">@title @*(<strong>@items.Count</strong>)*@</a>
                        </h5>
                    </div>
                    <div id="@id" class="panel-collapse in collapse">
                        @foreach (ReservationItems item in items)
                        {
                            if (item.ReservationItem_Status != "AN")
                            {
                                <div class="panel-body p-w-xs" item="@item.ReservationItem_Id">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="text_overflow">Biglietto: <span class="text-info">@Html.Encode(item.ReservationItem_Product.Product_Name)</span></label>
                                            <label class="text_overflow">Date: <span class="text-info">@item.ReservationItem_Date.Value.ToShortDateString()</span></label>
                                            @if (item.ReservationItem_Schedule != null)
                                            {
                                                <label class="text_overflow">Schedule: <span class="text-info">@item.ReservationItem_Schedule.Value.ToShortTimeString()</span></label>
                                            }
                                        </div>
                                        <div class="col-lg-12">
                                            @if (item.ReservationItem_Coupon != null)
                                            {
                                                <label class="text_overflow">Promo: <span class="text-info">@item.ReservationItem_Coupon.DiscountCoupon_Identifier.ToUpper()</span></label>
                                            }
                                            <label class="text_overflow">Quantita: <span class="text-info">@item.ReservationItem_Quantity</span></label>
                                            <label class="text_overflow">Prezzo: <span class="text-info">@item.ReservationItem_Price.ToString("C")</span></label>
                                        </div>
                                        <div class="col-lg-12">
                                            <label class="text_overflow">TOTAL: <span id="total" class="text-success">@item.ReservationItem_Total.ToString("C")</span></label>
                                        </div>
                                    </div>
                                </div>
                                i++;
                                subtotal += item.ReservationItem_Total;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
