﻿@using Core;
@using BackOfficeAcquaJoss.Models;
@model ReservationModel
@{
    Reservations reservation = Model.reservation;
    List<ReservationLogs> logs = reservation.Reservation_Logs;
    if (logs.Count > 0)
    {
        int i = 0;
        foreach (ReservationLogs log in logs)
        {
            Users user = Users.Instance().GetUser(log.User_Id);
            <tr log="@log.Id">
                <td width="10" align="center">@(++i)</td>
                <td style="width:160px!important;text-align:center;">@log.Creation</td>
                <td style="width:200px!important;white-space:nowrap;">@(user != null ? user.User_FullName : string.Empty)</td>
                <td class="text-uppercase">@log.Comment</td>
            </tr>
        }
    }
    else
    {
        <tr class="table-empty font-bold">
            <td colspan="4" align="center">NO RESULTS</td>
        </tr>
    }
}