﻿@using Core;
@using BackOfficeAcquaJoss.Models;
@using General = Core.Resources.General;

@model ReservationModel
@{
    Reservations reservation = Model.reservation;
    Customers customer = reservation.Reservation_Customer;
    Users seller = reservation.Reservation_Seller;
    SalesSource source = reservation.Reservation_SaleSource;
    Currencies currency = reservation.Reservation_Currency;

    bool isSchool = !string.IsNullOrEmpty(customer.Customer_SchoolCategory);
}

<style>
    .tooltip-inner {
        max-width: none !important;
    }

    #reservationtion_summary [class*="col-md"] {
        padding: 0px !important;
    }

    #reservationtion_summary .text-right {
        padding-right: 3px !important;
    }

    .key {
        padding-right: 2.5px;
    }

    .text {
        padding-left: 2.5px;
    }

    @@media (max-width: 768px) {
        .key, .text {
            display: inline-block !important;
            vertical-align: middle !important;
        }

        .text {
            padding: 0 !important;
        }
    }
</style>

<div class="ibox-title">
    <div class="clearfix m-b-xs" style="position:relative;">
        <h2 class="text-center font-bold text-primary">@General.lblReservationSummary.ToUpper()</h2>
    </div>

    <div class="text-right m-n">
        <h2 style="display: inline-block;vertical-align: middle;margin:0px;">
            <small style="vertical-align:middle;">@General.lblReservationId: </small>
            <b class="text-info">@reservation.Reservation_Id</b>
        </h2>
        <div class="ibox-tools" style="display: inline-block;vertical-align: middle;float: none;">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" style="margin:0;font-size:2em;">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul role="menu" class="dropdown-menu" style="margin-top:10px;">
                <li><a href="/reservations/summary/@reservation.Reservation_Id">@General.lblSummary</a></li>
                <li><a href="/reservations/update/@reservation.Reservation_Id">@General.lblUpdate</a></li>
                <li><a href="/reservations/checkout/@reservation.Reservation_Id">CheckOut</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="ibox-content clearfix">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    @if (isSchool)
                    {
                        <b class="col-lg-5 col-sm-6 text-right key">@General.lblSchool.ToUpper():</b>
                        <div class="col-lg-7 col-sm-6 text_overflow text">
                            <span class="text-warning">(@customer.Customer_Id) </span>
                            <span>@customer.Customer_Company_Name</span>
                        </div>
                    }
                    else
                    {
                        <b class="col-lg-5 col-sm-6 text-right key">@General.lblClient.ToUpper():</b>
                        <div class="col-lg-7 col-sm-6 text_overflow text">
                            <span class="text-warning">(@customer.Customer_Id) </span>
                            <a href="#">
                                <span id="Customer" style="text-decoration: underline;">@customer.Customer_FullName</span>
                            </a>
                        </div>
                    }
                </div>
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@General.lblEmail.ToUpper():</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@customer.Customer_Email</span>
                    </div>
                </div>
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@General.lblPhone.ToUpper():</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@(!string.IsNullOrEmpty(customer.Customer_CellPhone) ? customer.Customer_CellPhone : customer.Customer_Phone)</span>
                    </div>
                </div>
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">FATTURA:</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@(!string.IsNullOrEmpty(reservation.Reservation_Invoice) ? reservation.Reservation_Invoice : "NO")</span>
                    </div>
                </div>

                @if (isSchool)
                {
                    <div class="row">
                        <b class="col-lg-5 col-sm-6 text-right key">CATEGORY:</b>
                        <div class="col-lg-7 col-sm-6 text_overflow text">
                            <span>@(!string.IsNullOrEmpty(customer.Customer_SchoolCategory) ? SchoolCategories.Instance().GetSchoolCategory(customer.Customer_SchoolCategory).SchoolCategory_Name : string.Empty)</span>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-4">
                @*
                    <div class="row">
                        <b class="col-lg-5 col-sm-6 text-right key">Tipo pagamento:</b>
                        <div class="col-lg-7 col-sm-6 text_overflow text">
                            <b id="type"></b>
                        </div>
                    </div>
                *@
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@General.lblStatus.ToUpper():</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <b id="status" status="@reservation.Reservation_Status">@reservation.Reservation_Status</b>
                    </div>
                </div>
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@(seller != null ? General.lblSeller.ToUpper() : General.lblSite.ToUpper()):</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@reservation.Reservation_SellerName</span>
                    </div>
                </div>
                @if (seller != null)
                {
                    <div class="row">
                        <b class="col-lg-5 col-sm-6 text-right key">@General.lblSellerEmail.ToUpper():</b>
                        <div class="col-lg-7 col-sm-6 text_overflow text">
                            <span>@seller.User_Email</span>
                        </div>
                    </div>
                }
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@General.lblMeansOfSale.ToUpper():</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@source.SaleSource_Name</span>
                    </div>
                </div>

                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@General.lblCreationDate.ToUpper():</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@reservation.Reservation_CreationDate.ToString()</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@General.lblCountry.ToUpper():</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@(customer.Customer_Country == null ? string.Empty : customer.Customer_Country.Country_Name.ToUpper())</span>
                    </div>
                </div>
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">CAP:</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@customer.Customer_ZipCode</span>
                    </div>
                </div>
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">TIPO PAGAMENTO:</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <span>@ViewBag.TipoPag</span>
                    </div>
                </div>
                <div class="row">
                    <b class="col-lg-5 col-sm-6 text-right key">@General.lblTotal.ToUpper():</b>
                    <div class="col-lg-7 col-sm-6 text_overflow text">
                        <b class="text-danger">@reservation.Reservation_Total.FormatCurrency(currency.Currency_Code)</b>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-customer" tabindex="-1" role="dialog" aria-labelledby="modal-new-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>

            <h3 style="margin-left: 25px; color: #1ab394;">DETTAGLI CLIENTE</h3>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>NOME:</label>
                        <h3 class="form-control">@customer.Customer_Name</h3>
                    </div>

                    <div class="form-group col-md-4">
                        <label>COGNOME:</label>
                        <h3 class="form-control">@customer.Customer_LastName</h3>
                    </div>

                    <div class="form-group col-md-4">
                        <label>E-MAIL:</label>
                        <h3 class="form-control">@customer.Customer_Email</h3>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label>TELEFONO:</label>
                        <h3 class="form-control">@customer.Customer_Phone</h3>
                    </div>


                    <div class="form-group col-md-4">
                        <label>INDIRIZZO:</label>
                        <h3 class="form-control">@customer.Customer_Address</h3>
                    </div>

                    <div class="form-group col-md-4">
                        <label>CAP:</label>
                        <h3 class="form-control">@customer.Customer_ZipCode</h3>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label>CITTA':</label>
                        <h3 class="form-control">@customer.Customer_City</h3>
                    </div>

                    <div class="form-group col-md-4">
                        <label>PROVINCIA:</label>
                        <h3 class="form-control">@customer.Customer_State</h3>
                    </div>

                    <div class="form-group col-md-4">
                        <label>CODICE FISCALE:</label>
                        <h3 class="form-control">@customer.Customer_SSN</h3>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        <label>RAGIONE SOCIALE:</label>
                        <h3 class="form-control">@customer.Customer_Company_Name</h3>
                    </div>

                    <div class="form-group col-md-4">
                        <label>PARTITA IVA:</label>
                        <h3 class="form-control">@customer.Customer_VAT_Number</h3>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $("#Customer").click(function () {
        $("#modal-customer").modal('show');
    });

</script>