﻿@using Core;
@using BackOfficeAcquaJoss.Models;
@using General = Core.Resources.General;

@model ReservationModel
@{
    Reservations reservation = Model.reservation;
    Customers customer = reservation.Reservation_Customer;
    List<ReservationLogs> logs = reservation.Reservation_Logs;

    string Date = reservation.Reservation_CreationDate.ToString();

    Date = Date.Substring(6, 4) + "-" + Date.Substring(3, 2) + "-" + Date.Substring(0, 2);

    bool isSchool = !string.IsNullOrEmpty(customer.Customer_SchoolCategory);
}

<section id="Section_Logs" class="ibox">
    <div class="ibox-title">
        <h5>LOGS (<span class="total">(@logs.Count)</span>)</h5>
        <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
    <div class="ibox-content clearfix">
        <div class="m-b-sm">
            <form id="add_new_coment" class="form-group" validate="true" autocomplete="off" novalidate="novalidate">
                <div class="input-group">
                    <input type="hidden" name="Reservation_Id" value="@reservation.Reservation_Id" />
                    <input type="hidden" name="User_Id" value="@Global.UserProfile.User_Id" />
                    <input type="text" id="new_coment" name="Comment" class="form-control input-sm" autocomplete="off" required="" placeholder="NEW COMMENT" aria-required="true">
                    <span class="input-group-btn">
                        <button id="btn_new_coment" class="btn btn-sm btn-primary btn-w-m" type="submit">ADD</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="table-responsive m_0" style="overflow-y:hidden;">
            <table id="tableLogs" class="table table-small dataTable table-bordered table-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <td></td>
                        <td class="font-bold">Date</td>
                        <td class="font-bold">User</td>
                        <td class="font-bold">Comment</td>
                    </tr>
                </thead>
                <tbody class="animated">
                    @{Html.RenderPartial("~/Views/Shared/Reservations/_SummaryLogItems.cshtml"); }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    var $section_logs = $("#Section_Logs");
    var $new_coment = $("#new_coment");
    $( function () {
        $( "#add_new_coment" ).on( "submit", function (e) {
            e.preventDefault();
            if ( $( this ).valid() ){
                var $btn = $( this ).find( "#btn_new_coment" );
                var ReservationLog = $( this ).getValues();
                $btn.button('loading');
                $.post( "/Functions/AddBitacoraComent/", {
                    log: ReservationLog
                }, function (data) {
                    $new_coment.val("");
                    $.success("COMMENT", "New comment was added.");
                    $("#tableLogs tbody").html(data);
                    $('#tableLogs tbody').addClass("flash").delay(3000).queue(function (next) {
                        $(this).removeClass("flash").dequeue();
                    });
                }, "html").fail(function(xhr, error, respose){
                    console.log(xhr, error, respose);
                }).always( function () {
                    $btn.button('reset');
                    $section_logs.find(".total").text($("#tableLogs tbody tr").length);
                } );
            }
            return false;
        } );
    } );
</script>