﻿@model BackOfficeAcquaJoss.Models.HotelsModel
@using Core.Resources
@{
    List<Core.Services> servicesList = Model.ServicesList;
    int[] servicesListByHotel = Model.Hotel.Hotel_Services;

    string UrlBo = ""; // Core.Impostazioni.UrlBackOffice;
}

<style>

    /* START MODAL*/
    #ModalHotel .modal-content .modal-body {
        padding: 10px 15px;
    }

    #ModalHotel .modal-content .modal-header {
        padding: 20px 15px;
        text-align: center;
    }

    #ModalHotel .modal-content .modal-type {
        position: absolute;
        top: 15px;
        left: -7px;
        background: #1ab394;
        text-transform: uppercase;
        color: #FFF;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 0;
        font-weight: 600;
        box-shadow: 1px 1px 5px rgba(0,0,0,.36);
        z-index: 100;
    }

        #ModalHotel .modal-content .modal-type::after {
            left: 0;
            border-right: 7px solid #0d5a4a;
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            bottom: -8px;
            border-bottom: 8px solid transparent;
        }

    @@media (min-width: 992px) {
        .modal-xlg {
            width: 90%;
        }
    }
    /* END MODAL*/
</style>

<div class="modal fade" id="ModalHotel" tabindex="-1" role="dialog" aria-labelledby="ModalHotel" aria-hidden="true" keyboard="true">
    <div class="modal-dialog modal-xlg">
        <form id="frmHotelInfo" method="post" action="/Products/InsertOrUpdateHotel" role="form" data-toggle="validator">
            <div class="modal-content animated fadeIn">
                <div class="modal-type">@Model.Product.Product_ProductType.ProductType_Identifier</div>
                <div class="modal-header">
                    <button type="button" class="close close-model" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 id="Product_Key" class="modal-title">@Model.Product.Product_Key</h4>
                    <small id="Product_Note" class="font-bold">@Html.Raw(Model.Product.Product_Note)</small>
                </div>
                <div class="modal-body" style="display: inline-block; width: 100%;">
                    @if (Model != null && Model.Hotel.Hotel_Id != 0)
                    {
                        @Html.HiddenFor(model => Model.Hotel.Hotel_Id);
                    }

                    @Html.HiddenFor(model => Model.Hotel.Hotel_IdProduct)

                    <div class="row">
                        <div class="form-group m-b-sm col-sm-6 col-md-3">
                            @Html.LabelFor(model => Model.Hotel.Hotel_EmailContact, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Hotel.Hotel_EmailContact, new { htmlAttributes = new { @type = "email", @class = "form-control input-sm" } })
                        </div>
                        <div class="form-group m-b-sm col-sm-6 col-md-3">
                            @Html.LabelFor(model => Model.Hotel.Hotel_EmailReserve, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Hotel.Hotel_EmailReserve, new { htmlAttributes = new { @type = "email", @class = "form-control input-sm" } })
                        </div>
                        <div class="form-group m-b-sm col-sm-6 col-md-3">
                            @Html.LabelFor(model => Model.Hotel.Hotel_Url, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Hotel.Hotel_Url, new { htmlAttributes = new { @type = "url", @class = "form-control input-sm" } })
                        </div>
                        <div class="form-group m-b-sm col-sm-6 col-md-2">
                            @Html.LabelFor(model => Model.Hotel.Hotel_Phone, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Hotel.Hotel_Phone, new { htmlAttributes = new { @type = "tel", @class = "form-control input-sm" } })
                        </div>
                        <div class="form-group m-b-sm col-sm-6 col-md-1">
                            @Html.LabelFor(model => Model.Hotel.Hotel_Online, new { @class = "control-label" })
                            <div>
                                <input id="Hotel_Online" name="Hotel_Online" type="checkbox" class="js-switch" data-switchery="true" style="display: none;" value="@(Model.Hotel.Hotel_Id == 0 ? "false" : "true")" checked="@Model.Hotel.Hotel_Online" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <fieldset class="col-lg-3">
                            <div class="form-group m-b-sm col-sm-6 col-md" style="padding-left: 0px; padding-right: 0px;">
                                @Html.LabelFor(model => Model.Hotel.Hotel_ProvinceCode, new { @class = "control-label" })
                                <div>
                                    @{ var ProvincesItemsGroup = Model.Provinces.GroupBy(pCodes => new { pCodes.Province_Region }); }
                                    <select id="Hotel_Hotel_ProvinceCode" name="Hotel.Hotel_ProvinceCode" class="chosen-select select-province-code">
                                        <option value="">Select Province´s Code</option>
                                        @foreach (var provinceGroup in ProvincesItemsGroup)
                                        {
                                            <optgroup label="@provinceGroup.Key.Province_Region">
                                                @foreach (var province in provinceGroup)
                                                {
                                                    <option value="@province.Province_Code" selected="@(Model.Hotel.Hotel_ProvinceCode != null && Model.Hotel.Hotel_ProvinceCode.Equals(province.Province_Code))">@province.Province_Name</option>
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md" style="padding-right: 0px;">
                                <label>Comune</label>
                                @Html.EditorFor(model => model.Hotel.Hotel_City, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-4">
                            <div class="form-group m-b-sm col-sm-6 col-md-2" style="padding-left: 0px;">
                                @Html.LabelFor(model => Model.Hotel.Hotel_Stars, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Hotel.Hotel_Stars, new { htmlAttributes = new { @class = "form-control input-sm", @min = "0", @max = "5" } })
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md-3" style="padding-left: 0px;">
                                @Html.LabelFor(model => Model.Hotel.Hotel_Priority, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Hotel.Hotel_Priority, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required" } })
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md-2" style="padding-left: 0px;">
                                @Html.LabelFor(model => Model.Hotel.Hotel_PostalCode, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Hotel.Hotel_PostalCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md-3" style="padding-left: 0px;">
                                @Html.LabelFor(model => Model.Hotel.Hotel_Distance, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Hotel.Hotel_Distance, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md-2" style="padding-left: 0px;">
                                @Html.LabelFor(model => Model.Hotel.Hotel_Rooms, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Hotel.Hotel_Rooms, new { htmlAttributes = new { @class = "form-control input-sm", @min = "0", } })
                            </div>
                        </fieldset>
                        <fieldset class="col-lg-3">
                            @*<legend>Massimo di</legend>*@
                            <div class="form-group m-b-sm col-sm-6 col-md-4">
                                <label>PERSONE</label>
                                @Html.EditorFor(model => model.Hotel.Hotel_MaxPeople, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @min = "0", } })
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md-4">
                                <label>ADULTI</label>
                                @Html.EditorFor(model => model.Hotel.Hotel_MaxAdults, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @min = "0", } })
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md-4">
                                <label>BAMBINI</label>
                                @Html.EditorFor(model => model.Hotel.Hotel_MaxKids, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @min = "0", } })
                            </div>
                            <div class="text-center"><label>Massimo di persone,adulti e bambini per l'hotel</label></div>
                        </fieldset>
                        <fieldset class="col-lg-2">
                            @*<legend>Per camera</legend>*@
                            <div class="form-group m-b-sm col-sm-6 col-md-6">
                                <label>ADULTI</label>
                                @Html.EditorFor(model => model.Hotel.Hotel_MaxAdultsPerRoom, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @min = "0", } })
                            </div>
                            <div class="form-group m-b-sm col-sm-6 col-md-6">
                                <label>BAMBINI</label>
                                @Html.EditorFor(model => model.Hotel.Hotel_MaxKidsPerRoom, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @min = "0", } })
                            </div>
                            <div class="text-center"><label>Massimo di adulti e bambini per camera</label></div>
                        </fieldset>
                    </div>
                    <div id="servicesContainer" class="form-group">
                        <label class="control-label" style="display:block;">SERVIZI</label>
                        <div class="btn-group" data-toggle="buttons">
                            @foreach (Core.Services service in servicesList.FindAll(c => c.HotelCatServices_Status))
                            {
                                bool isChecked = (Array.FindIndex(servicesListByHotel, e => e == service.HotelCatServices_Id) >= 0 ? true : false);
                                <label class="btn btn-default @(isChecked ? "active" : "")" type="button" style="padding: 5px 10px;min-height:37px;">
                                    <input type="checkbox" class="Hotel_Services" name="Hotel_Services[]" value="@service.HotelCatServices_Id" @(isChecked ? "checked='checked'" : "") @(servicesListByHotel.Length == 0 ? "required" : "") />
                                    <span style="vertical-align:middle;">@service.HotelCatServices_Name</span>
                                </label>
                            }
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-5">
                            @Html.LabelFor(model => Model.Hotel.Hotel_Address, new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Hotel.Hotel_Address, new { @class = "form-control input-sm", @rows = "1" })
                        </div>


                        <div class="form-group col-md-2">
                            <label>Offerta speciale</label>
                            <div>
                                <input id="Hotel_SpecialOffer" name="Hotel_SpecialOffer" type="checkbox" class="js-switch" data-switchery="true" style="display: none;" value="@(Model.Hotel.Hotel_SpecialOffer.ToString())" checked="@Model.Hotel.Hotel_SpecialOffer" />
                            </div>
                        </div>


                        <div class="form-group col-md-3" style="padding-left: 0px;">
                            <label>Descrizione Offerta</label>
                            @Html.EditorFor(model => model.Hotel.Hotel_SpecialOfferDescription, new { htmlAttributes = new { @class = "form-control input-sm", @min = "0", } })
                        </div>

                        <div class="form-group col-md-2">
                            <label>Immagine Offerta 216x36</label>
                            <input id="Hotel_SpecialOfferImage" name="Hotel_SpecialOfferImage" type="hidden" value="@(Model.Hotel.Hotel_SpecialOfferImage)" />

                            <div class="dropzone one clsbox" id="Hotel_SpecialOfferImg">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button id="btn-close" type="button" class="btn btn-white close-model" data-dismiss="modal">@General.lblClose</button>
                    <button id="btn-update" type="submit" class="btn btn-primary">
                        @Html.Raw(Model.Hotel.Hotel_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@*<script src="~/Scripts/functions.js"></script>*@

<script>
    var $targetModal = $('#ModalHotel');
    var $sectionModal = $targetModal.parent();
    var $targetForm = $('#frmHotelInfo'), dropzoneThumbnail;

    $.showSwitchery();
    $(document).startChosen();

    var UrlsDesktop = @(!string.IsNullOrEmpty(Model.Hotel.Hotel_SpecialOfferImage) ? Html.Raw("[\""+ UrlBo + Model.Hotel.Hotel_SpecialOfferImage + "\"]") : Html.Raw("[]"));

    var imgWidth = @Core.ImagesTypes.Instance().GetImageType(Core.ImagenType.SPECIALOFFER).ImageType_Width;
    var imgHeight = @Core.ImagesTypes.Instance().GetImageType(Core.ImagenType.SPECIALOFFER).ImageType_Height;

    dropzoneThumbnail = initializeDropzone("#Hotel_SpecialOfferImg", {
        URL: "@Url.Action("UploadFile")",
        AUTOQUEUE: false,
        AUTOPROCESSQUEUE: false,
        PARAMNAME: "file",
        ACCEPTEDFILES: "image/*",
        MAXFILES: 1,
        MAXFILESIZE: 1,
        UPLOADMULTIPLE: false,
        THUMBNAILWIDTH: imgWidth,
        THUMBNAILHEIGHT: imgHeight,
        WIDTH: imgWidth,
        HEIGHT: imgHeight,
        DICTDEFAULTMESSAGE: "",
        THUMBNAILURLS: UrlsDesktop,
    });


    function MoveDownRemove()
    {
        setTimeout(function(){
            $(".dz-remove").css('margin-top',25);
        }, 500);

        $("#Hotel_SpecialOfferImg").mouseover(function(){
            $(".dz-remove").css('margin-top',60);
        });
    }


    $("#Hotel_SpecialOffer").change(function() {
        var status = this.checked;
        this.value = status ? "True" : "False";
    });

    $("#btn-update").click(function(e) {
        //validation for special offer
        var dd = Dropzone.forElement("#Hotel_SpecialOfferImg").files[0];

        if (dd == null){
            if ($("#Hotel_SpecialOffer").attr('checked'))
            {
                $.error("Errore", "Aggiungere un immagine");
                e.preventDefault();
            }
            else
            {
                $("#Hotel_SpecialOfferImage").val("");
            }
        }
    });


    $(document).ready(function () {


        MoveDownRemove();

        $targetModal.modal('show');


        $targetModal.on("hidden.bs.modal", function () {
            $('.dz-hidden-input, .modal-backdrop').each(function () { $(this).remove(); });
            $sectionModal.empty();
        });

        var requiredCheckboxes = $('#servicesContainer :checkbox[required]');
        if (requiredCheckboxes.length > 0) $targetForm.validator('validate');
        requiredCheckboxes.change(function () {
            if (requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
            $targetForm.validator('validate');
        });

        /** START SUBMIT FORM **/
        //$targetForm.validator();
        $targetForm.validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
            } else {
                e.preventDefault();
                e.stopPropagation();
                var form = $(this);
                $("#servicesContainer").removeClass().addClass("form-group");

                var $btn = form.find(":submit").button("loading");
                var Hotel = $("#frmHotelInfo").getValues("Hotel.", "");

                var formData = new FormData();
                $.each(Hotel, function (key, value) {
                    formData.append(key, value);
                });

                formData.append("Hotel_ServicesNew", Hotel.Hotel_Services);


                var file_desktop = Dropzone.forElement("#Hotel_SpecialOfferImg").files[0];

                formData.append("file_desktop", file_desktop);

                $.ajax({
                    url: e.currentTarget.action,
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response != null) {
                            $.success("SUCCESS", "Salvataggio Hotel concluso correttamente");
                            $targetModal.modal('toggle');
                        } else {
                            $.error("ERROR", "@General.lblMsgError");
                        }
                    }, error: function (xhr, status, error) {
                        console.log(xhr, status, error);
                    },
                    always: function () {
                        $btn.button("reset");
                    }
                });
                @*
                $.post(e.currentTarget.action, Hotel, function (data)
                {
                    if (data != null) {
                        $.success("SUCCESS", "El contenido del hotel se actualizo correctamente");
                        $targetModal.modal('toggle');
                    } else {
                        $.error("ERROR", "@General.lblMsgError");
                    }
                }, "json").fail(function (error, xhr, response)
                {
                    $.error("ERROR", "@General.lblMsgError");
                });
                *@
            }
            return false;
        });
        /** END SUBMIT FORM **/
    });
</script>