﻿@model BackOfficeAcquaJoss.Models.HotelsMoldel
@using Core;
@{
    Layout = null;
    List<Hotel> hotels = Model.Hotels;
    if (hotels != null)
    {
        foreach (Hotel hotel in hotels)
        {
            <div class="hotel" idProduct="@hotel.Hotel_IdProduct">
                <div class="clearfix">
                    <div class="text-info h4 pull-left m_0">
                        <input type="checkbox" id-product="@hotel.Hotel_IdProduct" class="checkbox-hotel" />
                        <span class="hotel-name">@(string.IsNullOrEmpty(hotel.ProductInfo_Name) ? hotel.Product_Key : hotel.ProductInfo_Name)</span>
                    </div>
                    <div class="pull-right">
                        <div class="hotel-rate-container">
                            <span class="h4 hotel-rate text-success"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8 col-md-7">
                        <div>
                            @for (int i = 0; i < hotel.Hotel_Stars; i++){
                                <i class="fa fa-star" aria-hidden="true"></i>
                            }
                        </div>
                        <div>@Html.Raw(hotel.ProductInfo_Description)</div>
                        <div class="hotel-info"></div>
                        <div class="hotel-rooms"></div>
                    </div>
                    <div class="col-sm-4 col-md-5">
                        <div class="gallery">
                            <div class="image-preview m-b-xs">
                                <img class="preview img-responsive" />
                            </div>

                            <ul class="elastislide-list">
                                @foreach (ProductsImage img in hotel.Hotel_Gallery)
                                {
                                    <li data-preview="@("/" + img.ProductImage_Url)"><a href="#"><img src="@("/" + img.ProductImage_Url)" alt="@img.ProductImage_Alt" /></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }

        <link href="~/Content/elastislide.css" rel="stylesheet" />
        <script src="~/Scripts/modernizr.custom.js"></script>
        <script src="~/Scripts/jquerypp.custom.js"></script>
        <script src="~/Scripts/jquery.elastislide.js"></script>
        <style>
            .gallery .elastislide-horizontal {
                padding: 0px !important;
            }

            .gallery .image-preview .preview,
            .gallery .elastislide-carousel ul li a img {
                border: 0px;
                border-radius: 0px;
                box-shadow:none;
            }
            .gallery .elastislide-wrapper:before, 
            .gallery .elastislide-wrapper:after {
                display:none !important;
            }
        </style>
        <script type="text/javascript">
            var current = 0;

            $('.gallery').each(function ()
            {
                var $carouselEl = $(this);
                var carousel = $(this).find('.elastislide-list').elastislide({
                    current: current,
                    minItems: 3,
                    onClick: function(el, pos, evt)
                    {
                        $carouselEl.changeImage(el, pos);
                        evt.preventDefault();
                    },
                    onReady: function() {
                        var $carouselItems = $carouselEl.find('.elastislide-list').children();
                        $carouselEl.data("elastislide", carousel);
                        $carouselEl.changeImage($carouselItems.eq(current), current);
                    }
                });
            });

			$.fn.changeImage = function (el, pos)
			{
			    var $carouselEl = $(this);
			    var $carouselItems = $carouselEl.children();
			    var carousel = $carouselEl.data("elastislide");
			    $carouselEl.find('.preview').attr('src', el.data('preview'));
                $carouselItems.removeClass('current-img');
                el.addClass('current-img');
                carousel.setCurrent(pos);
            }
        </script>
    }
}
