﻿@using Core;
@using Dictionary = Core.Resources.ProductsInfo
@using General = Core.Resources.General
@model BackOfficeAcquaJoss.Models.ProductsInfoModel
@{
    ProductsSchedules productSchedule = Model.ProductSchedule;
    List<ProductsSchedules> productsSchedulesList = Model.ProductsSchedules;
    if (Model.Product == null)
    {
        Model.Product = new Products();
    }
    List<string> ProductsWithSchedule = new List<string>() {
        Core.ProductIdentifier.Activity,
        Core.ProductIdentifier.ActivitySchool,
        Core.ProductIdentifier.Extra
    };

    IEnumerable<SelectListItem> ParkOperationalItems = ViewBag.Popen;


    bool ActVisible = true;

    if (Model.Product.Product_ProductType.ProductType_Identifier.ToUpper() == "EXTRA")
    {
        ActVisible = false;
    }

    bool allowSchedules = (ProductsWithSchedule.Contains(Model.Product.Product_ProductType.ProductType_Identifier) ? true : false);

    List<Core.ImagesTypes>
        ImageType = Model.ImagesTypes;
    if (ViewBag.Folder == "addons")
    {
        ImageType = ImageType.Where(x => x.ImageType_Identifier == "Addons Gallery").ToList();
    }

}
<style>
    .select-schedules {
        font-family: 'FontAwesome', 'sans-serif';
    }

    /* START MODAL*/
    #ModalProductInfo .modal-content .modal-body {
        padding: 10px 15px;
    }

    #ModalProductInfo .modal-content .modal-header {
        padding: 20px 15px;
        text-align: center;
    }

    #ModalProductInfo .modal-content .modal-type {
        position: absolute;
        top: 15px;
        left: -7px;
        background: #1ab394;
        text-transform: uppercase;
        color: #FFF;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 0;
        font-weight: 600;
        box-shadow: 1px 1px 5px rgba(0,0,0,.36);
        z-index: 100;
    }

        #ModalProductInfo .modal-content .modal-type::after {
            left: 0;
            border-right: 7px solid #0d5a4a;
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            bottom: -8px;
            border-bottom: 8px solid transparent;
        }
    /* END MODAL*/

    .input-group-btn {
        /*z-index: 5 !important;*/
    }

    #tabs-navs-product-info span.label.label-warning {
        position: absolute;
        top: 1px;
        right: 1px;
        padding: 3px 0px 2px 6px;
    }

    /* INSIDE TABS - IMAGE */
    .tabs-container .tabs-left .panel-body {
        width: 90%;
        margin-left: 10%;
    }

    .tabs-container .tabs-left > .nav-tabs {
        width: 10%;
        margin-right: 0px;
    }


    /* START TEMPLATE-IMAGES */
    #tabs-container-product-info.tabs-container .tab-content .panel-body {
        padding: 10px;
    }

    #tabs-navs-product-info.nav-tabs > li {
        width: 13%;
    }

    .tab-content .editor {
        display: block !important;
    }

    .tab-content .editor {
        display: block !important;
    }
    /* END TEMPLATE-IMAGES */

    /* START FOOTABLE */
    .fixed_header tbody {
        height: 250px !important;
    }

    div.table {
        display: table;
    }

        div.table .file-row {
            display: table-row;
        }

            div.table .file-row > div {
                display: table-cell;
                vertical-align: top;
                border-top: 1px solid #ddd;
                padding: 8px;
            }

            div.table .file-row:nth-child(odd) {
                background: #f9f9f9;
            }
    /* END FOOTABLE */

    /** START FORM UPLOAD IMAGE **/
    .template-upload {
        position: relative;
        border: 1px dashed lightgray;
        padding: 14px 0px 14px 0px;
        display: inline-block;
    }

        .template-upload:last-child {
            margin-bottom: 0px;
        }

    .form-upload {
        position: relative;
        border: 1px dashed lightgray;
        padding: 14px 0px 14px 0px;
        display: inline-block;
    }

        .form-upload .actions-images-description {
            padding-top: 0px;
        }

            .form-upload .actions-images-description .form-group:last-child {
                margin-bottom: 0px;
            }

        .form-upload .actions-images-description-mobile {
            padding-top: 4%;
        }

        .form-upload .actions-images-preview {
            padding: 0px 5px 0px 0px;
            position: relative;
            height: 116px;
        }

        .form-upload .actions-images-preview-mobile {
            padding: 0px 5px 0px 0px;
            position: relative;
            height: 212px;
        }

            .form-upload .actions-images-preview-mobile .dropzone .dz-message {
                margin: 5.2em 0;
            }

        .form-upload .delete-upload-image,
        .panel-body .add-upload-image {
            display: block;
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            padding: 1px 0;
        }

        .form-upload #ProductImage_ProductImage_Name {
            text-transform: uppercase;
        }

        .form-upload #ProductImage_ProductImage_Alt {
            text-transform: capitalize;
        }
    /** END FORM UPLOAD IMAGE **/

    /* START SECTION DROPZONE */
    .dropzone {
        padding: 5px 5px;
        min-height: 100%;
        border: 1px dashed lightgray;
    }

        .dropzone .dz-message {
            margin: 2.7em 0;
        }

        .dropzone.dz-disabled {
            pointer-events: none;
        }

        .dropzone .dz-preview {
            margin: 0px;
            position: static;
        }

            .dropzone .dz-preview .dz-image {
                border-radius: 0px;
                width: 100%;
                height: 100%;
            }

                .dropzone .dz-preview .dz-image img {
                    border-radius: 6px;
                    width: 100%;
                }

    /* END SECTION DROPZONE */
    @@media (min-width: 992px) {
        .modal-xlg {
            width: 90%;
        }
    }

    @@media (max-width: 767px) {
        .tabs-container .nav-tabs > li {
            width: 32.6%;
            display: inline-block;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
        }

        #tabs-lang li span {
            font-size: 8px;
            padding: 1px 0px 1px 6px;
            display: inline;
        }

        .modal-body {
            padding: 20px 17px;
        }

        .tabs-container {
            padding-right: 0px;
            padding-left: 0px;
        }
        /* INSIDE TABS - IMAGE - EDIT/UPLOAD START */
        #dashboard-tab-images .nav-tabs {
            writing-mode: vertical-rl;
            text-orientation: upright;
            width: 2%;
        }

            #dashboard-tab-images .nav-tabs li a {
                min-width: 35px;
            }

        #dashboard-tab-images .panel-body {
            width: 97%;
            margin-left: 4%;
        }
        /* INSIDE TABS - IMAGE - EDIT/UPLOAD END */
    }
</style>
<div class="modal" id="ModalProductInfo" tabindex="-1" role="dialog" aria-labelledby="ModalProductInfo" aria-hidden="true" keyboard="true">
    <div class="modal-dialog modal-xlg">
        <form id="frmProductInfo" method="post" action="/Products/InsertOrUpdateInfo" role="form" data-toggle="validator" enctype="multipart/form-data">
            @Html.HiddenFor(model => Model.ProductInfo.ProductInfo_Id)
            @Html.HiddenFor(model => Model.ProductInfo.ProductInfo_IdProduct)
            <div class="modal-content animated fadeIn">
                <div class="modal-type">@Model.Product.Product_ProductType.ProductType_Identifier</div>
                <div class="modal-header">
                    <button type="button" class="close close-model" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 id="Product_Key" class="modal-title">@Model.Product.Product_Key</h4>
                    <small id="Product_Note" class="font-bold">@Html.Raw(Model.Product.Product_Note)</small>
                </div>
                <div class="modal-body" style="display: inline-block; width: 100%;">
                    <div id="data-productinfo" class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                @Html.LabelFor(model => Model.ProductInfo.ProductInfo_Name)
                                @Html.EditorFor(model => Model.ProductInfo.ProductInfo_Name, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "e.g. PACCHETTO FAMIGLIA X3", @required = "required" } })
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                @Html.LabelFor(model => Model.ProductInfo.ProductInfo_Url)
                                @{
                                    if (Model.Product.Product_ProductType.ProductType_Identifier != Core.ProductIdentifier.Activity)
                                    {
                                        @Html.EditorFor(model => Model.ProductInfo.ProductInfo_Url, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "e.g. /Acquisto/Pacchetti/PacchettoFamiglia3", @required = "required" } });
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => Model.ProductInfo.ProductInfo_Url, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "e.g. /Acquisto/Pacchetti/PacchettoFamiglia3" } });
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                @Html.LabelFor(model => Model.ProductInfo.ProductInfo_LanguageCode)
                                @{
                                    Model.LanguagesItems_Index = string.IsNullOrEmpty(Model.ProductInfo.ProductInfo_LanguageCode) ? Global.Lang : Model.ProductInfo.ProductInfo_LanguageCode;
                                    if (Model.LanguagesItems.Count() == 1)
                                    {
                                        Model.LanguagesItems_Index = Model.LanguagesItems.Last().Value;
                                    }
                                }
                                @Html.DropDownListFor(model => Model.ProductInfo.ProductInfo_LanguageCode, Model.LanguagesItems, new { @class = "form-control input-sm select-language-product-info", @required = "required", data_product_id = Model.Product.Product_Id })
                            </div>

                        </div>

                    </div>

                    <div id="tabs-container-product-info" class="tabs-container">

                        <ul id="tabs-navs-product-info" class="nav nav-tabs nav-tabs-center nav-tabs-border">

                            <li class="active">

                                <a data-toggle="tab" href="#tab-description" aria-expanded="true">@Dictionary.ProductInfo_Description<span class='label label-warning @(!String.IsNullOrEmpty(Model.ProductInfo.ProductInfo_Description) ? Html.Raw("hide") : Html.Raw(""))'><i class='fa fa-info'></i></span></a>

                            </li>

                            <li>

                                <a data-toggle="tab" href="#tab-summary" aria-expanded="true">@Dictionary.ProductInfo_Summary<span class='label label-warning @(!String.IsNullOrEmpty(Model.ProductInfo.ProductInfo_Summary) ? Html.Raw("hide") : Html.Raw(""))'><i class='fa fa-info'></i></span></a>

                            </li>

                            <li>

                                <a data-toggle="tab" href="#tab-additionl-info" aria-expanded="true">Info sul Voucher<span class='label label-warning @(!String.IsNullOrEmpty(Model.ProductInfo.ProductInfo_AdditionalInfo) ? Html.Raw("hide") : Html.Raw(""))'><i class='fa fa-info'></i></span></a>

                            </li>

                            <li>

                                <a data-toggle="tab" href="#tab-include" aria-expanded="true">@Dictionary.ProductInfo_Include<span class='label label-warning @(!String.IsNullOrEmpty(Model.ProductInfo.ProductInfo_Include) ? Html.Raw("hide") : Html.Raw(""))'><i class='fa fa-info'></i></span></a>

                            </li>

                            <li>

                                <a data-toggle="tab" href="#tab-not-include" aria-expanded="true">@Dictionary.ProductInfo_NotInclude<span class='label label-warning @(!String.IsNullOrEmpty(Model.ProductInfo.ProductInfo_NotInclude) ? Html.Raw("hide") : Html.Raw(""))'><i class='fa fa-info'></i></span></a>

                            </li>

                            <li>

                                <a data-toggle="tab" href="#tab-images" aria-expanded="true">@General.lblImages<span class='label label-warning @(Model.ProductsImage.Count > 0 ? Html.Raw("hide") : Html.Raw(""))'><i class='fa fa-info'></i></span></a>

                            </li>
                            @if (allowSchedules)
                            {
                                <li>
                                    <a data-toggle="tab" href="#tab-schedules" aria-expanded="true">@General.lblSchedule<span class='label label-warning @(Model.ProductsSchedules.Count > 0 ? Html.Raw("hide") : Html.Raw(""))'><i class='fa fa-info'></i></span></a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div id="tab-description" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="editor">
                                        @Html.TextAreaFor(m => m.ProductInfo.ProductInfo_Description, new { @class = "form-control text_editor" })
                                    </div>
                                </div>
                            </div>
                            <div id="tab-summary" class="tab-pane">
                                <div class="panel-body">
                                    <div class="editor">
                                        @Html.TextAreaFor(m => m.ProductInfo.ProductInfo_Summary, new { @class = "form-control text_editor" })
                                    </div>
                                </div>
                            </div>
                            <div id="tab-additionl-info" class="tab-pane">
                                <div class="panel-body">
                                    <div class="editor">
                                        @Html.TextAreaFor(m => m.ProductInfo.ProductInfo_AdditionalInfo, new { @class = "form-control text_editor" })
                                    </div>
                                </div>
                            </div>
                            <div id="tab-include" class="tab-pane">
                                <div class="panel-body">
                                    <div class="editor">
                                        @Html.TextAreaFor(m => m.ProductInfo.ProductInfo_Include, new { @class = "form-control text_editor" })
                                    </div>
                                </div>
                            </div>
                            <div id="tab-not-include" class="tab-pane">
                                <div class="panel-body">
                                    <div class="editor">
                                        @Html.TextAreaFor(m => m.ProductInfo.ProductInfo_NotInclude, new { @class = "form-control text_editor" })
                                    </div>
                                </div>
                            </div>
                            <div id="tab-images" class="tab-pane">
                                <div class="panel-body">
                                    <div id="dashboard-tab-images" class="tabs-container">
                                        <div class="tabs-left">
                                            <ul id="tabs-navs-product-image" class="nav nav-tabs nav-tabs-border">
                                                <li class="active"><a data-toggle="tab" href="#tab-images-edit"> @General.lblEdit</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-images-upload">@General.lblUpload</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="tab-images-edit" class="tab-pane active">
                                                    <div class="panel-body">
                                                        <table id="table-products-images" data-url="@Url.Action("GetProductsImage", "Products")" data-id='{ "productinfo_id": "@Model.ProductInfo.ProductInfo_Id" }' class="table table-stripped table-hover toggle-arrow-tiny" data-paging="true" data-sorting="true" data-filtering="true"></table>
                                                    </div>
                                                </div>
                                                <div id="tab-images-upload" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div id="actions-images-1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-upload">
                                                            <div class="actions-images-description col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                                @Html.HiddenFor(model => Model.ProductImage.ProductImage_IdProductInfo, new { @Value = Model.ProductInfo.ProductInfo_Id })
                                                                <div class="form-group col-lg-3" style="text-align:  center;">
                                                                    @Html.LabelFor(model => Model.ProductImage.ProductImage_Status, new { @class = "col-lg-4 control-label" })
                                                                    <div class="col-lg-8">
                                                                        @Html.EditorFor(model => Model.ProductImage.ProductImage_Status, new { htmlAttributes = new { @class = "js-switch", @type = "checkbox", @data_switchery = "true" } })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-lg-9">
                                                                    @Html.LabelFor(model => Model.ProductImage.ProductImage_ImageType, new { @class = "col-lg-1 control-label" })
                                                                    <div class="col-lg-11">
                                                                        <select id="ProductImage_ProductImage_IdImageType" name="ProductImage.ProductImage_ImageType" class="form-control input-sm chosen-select select-image-type required">
                                                                            <option value="">@General.lblSelectImages</option>
                                                                            @{
                                                                                foreach (Core.ImagesTypes imageType in ImageType)
                                                                                {
                                                                                    <optgroup label="Dims.: @imageType.ImageType_Width x @imageType.ImageType_Height | Sz.: @imageType.ImageType_MaxSize KB">
                                                                                        <option value="@imageType.ImageType_Identifier" data-width="@imageType.ImageType_Width" data-height="@imageType.ImageType_Height" data-maxsize="@imageType.ImageType_MaxSize">
                                                                                            @imageType.ImageType_Identifier
                                                                                        </option>
                                                                                    </optgroup>
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => Model.ProductImage.ProductImage_Name, new { @class = "col-lg-1 control-label" })
                                                                    <div class="col-lg-11">
                                                                        @Html.EditorFor(model => Model.ProductImage.ProductImage_Name, new { htmlAttributes = new { @class = "form-control input-sm required", @placeholder = "e.g. SUPER SAVER" } })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => Model.ProductImage.ProductImage_Alt, new { @class = "col-lg-1 control-label" })
                                                                    <div class="col-lg-11">
                                                                        @Html.EditorFor(model => Model.ProductImage.ProductImage_Alt, new { htmlAttributes = new { @class = "form-control input-sm required", @placeholder = "e.g. super-saver-50%" } })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="actions-images-preview text-center col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="dropzone clsbox" id="img-upload-1"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (allowSchedules)
                            {
                                <div id="tab-schedules" class="tab-pane">
                                    <div class="panel-body">
                                        <div id="dashboard-tab-schedules" class="tabs-container">
                                            <div class="tabs-left">
                                                <ul id="tabs-navs-schedule" class="nav nav-tabs nav-tabs-border">
                                                    <li class="active"><a data-toggle="tab" id="EditValue" href="#tab-schedules-edit"> @General.lblEdit</a></li>
                                                    <li class=""><a data-toggle="tab" id="InsValue" href="#tab-schedules-add">@General.lblUpload</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="tab-schedules-edit" class="tab-pane active">
                                                        <div class="panel-body">
                                                            <table id="table-product-schedules" data-url="@Url.Action("GetProductSchedulesJson", "Products")" data-id='{ "product_Id": "@Model.Product.Product_Id" }' class="table" data-paging="false" data-sorting="true" data-filtering="true"></table>
                                                        </div>
                                                    </div>
                                                    <div id="tab-schedules-add" class="tab-pane">
                                                        <div class="panel-body" id="product-schudeles-form" method="post" action="/Products/InsertOrUpdateSchedule" data-toggle="validator" role="form">

                                                            @*<form id="product-schudeles-form" action="/Product/InsertOrUpdateProductSchedules" validate="true" method="post" autocomplete="off">*@
                                                            @Html.HiddenFor(model => Model.ProductSchedule.Id, new { Id = "Id", Name = "Id" })
                                                            @Html.HiddenFor(model => Model.ProductSchedule.Product_Id, new { Id = "Product_Id", Name = "Product_Id", Value = Model.Product.Product_Id, @required = "required" })
                                                            @Html.HiddenFor(model => Model.ProductSchedule.Position, new { Id = "Position", Name = "Position" })
                                                            <div class="clearfix">
                                                                <div class="form-group col-md-3 p-xxs">
                                                                    Calendario
                                                                    @{ Model.ParkOperationalItems_Index = null; }
                                                                    @*@Html.DropDownListFor(model => Model.ProductSchedule.ParkOperational_Id, Model.ParkOperationalItems, new { Id = "ParkOperational_Id", Name = "ParkOperational_Id", Class = "col-lg-12 form-control input-sm required" })*@
                                                                    @Html.DropDownList("Id", new SelectList(ParkOperationalItems, "Value", "Text"), new { Id = "ParkOperational_Id", Name = "ParkOperational_Id", Class = "col-lg-12 form-control input-sm required" })

                                                                </div>
                                                                <div class="form-group col-md-3 p-xxs">
                                                                    Fascia Oraria
                                                                    @{ Model.ParkSchedulesItems_Index = null; }
                                                                    <select class="col-lg-12 form-control input-sm select-schedules" id="ParkSchedule_Id" name="ParkSchedule_Id">
                                                                        <option value=""></option>
                                                                        @foreach (ParkSchedules item in Model.ParkSchedules)
                                                                        {
                                                                            <option value="@item.ParkSchedule_Id" parkOperational="@string.Join(",", item.AvailableInParkOperations.Select(i => i.ParkOperational_Id).ToList())" scheduleMin="@item.ParkSchedule_TimeStartString" scheduleMax="@item.ParkSchedule_TimeEndString" style="color: @item.ParkSchedule_Color;">&#xf111; @item.ParkSchedule_Description</option>
                                                                        }
                                                                    </select>
                                                                    @*@Html.DropDownListFor(model => Model.ProductSchedule.ParkSchedule_Id, Model.ParkSchedulesItems, new { Id = "ParkSchedule_Id", Name = "ParkSchedule_Id", Class = "col-lg-12 form-control input-sm required" }) @*, Required = "required"*@
                                                                </div>
                                                                <div class="form-group col-md-3 p-xxs" id="divact">
                                                                    Orario Attività
                                                                    <input type="hidden" id="ActivitySchedule_Id_Default" name="ActivitySchedule_Id_Default" value="0" />
                                                                    @{
                                                                        Model.ActivitySchedules = Model.ActivitySchedules.OrderBy(i => i.Schedule).ToList();
                                                                        Model.ActivityScheduleItems_Index = null;
                                                                    }
                                                                    @Html.DropDownListFor(model => Model.ProductSchedule.ActivitySchedule_Id, Model.ActivitySchedulesItems, new { Id = "ActivitySchedule_Id", Name = "ActivitySchedule_Id", Class = "col-lg-12 form-control input-sm required" }) @*, Required = "required"*@
                                                                </div>
                                                                <div class="col-md-3 p-xxs">
                                                                    <div class="form-group col-md-6">
                                                                        Quantità
                                                                        @Html.EditorFor(model => Model.ProductSchedule.Allotment, new { htmlAttributes = new { Id = "Allotment", Name = "Allotment", @class = "form-control input-sm required", @min = "0" } }) @*, @required = "required"*@
                                                                        @*<div class="help-block with-errors"></div>*@
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        Stato
                                                                        <div>
                                                                            @Html.EditorFor(model => Model.ProductSchedule.Status, new { htmlAttributes = new { Id = "Status", Name = "Status", @class = "js-switch", @type = "checkbox", @data_switchery = "true" } })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*
                                                                    <div class="form-group col-md-1 p-xxs">
                                                                        @Html.LabelFor(model => Model.ProductSchedule.Position)
                                                                        @Html.EditorFor(model => Model.ProductSchedule.Position, new { htmlAttributes = new { Id = "Position", Name = "Position", @class = "form-control input-sm" } })
                                                                    </div>
                                                                *@
                                                            </div>
                                                            <div id="buttons" class="text-right">
                                                                <button type="reset" id="BtnReset" form="product-schudeles-form" class="btn btn-white btn-sm btn-reset" onclick="$('#product-schudeles-form').clear(this, '#Product_Id')">Reset</button>
                                                                <button id="btn-update-schedules" form="product-schudeles-form" class="btn btn-primary btn-sm btn-save">
                                                                    Salva orario
                                                                </button>
                                                            </div>
                                                            @*</form>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="modal-footer">
                        <div class="col-md-2">
                            <input type="checkbox" form="frmProductInfo" id="NoHtml" name="NoHtml" style="margin-left: 10px;">
                            <label for="NoHtml">Descrizione No Html</label>
                        </div>

                        <div class="col-md-2">
                            <input type="checkbox" form="frmProductInfo" id="NoHtmlSum" name="NoHtmlSum" style="margin-left: 10px;">
                            <label for="NoHtmlSum">Sommario No Html</label>
                        </div>

                        <div class="col-md-8">
                            <button id="btn-update" form="frmProductInfo" type="submit" class="btn btn-primary">
                                @Html.Raw(Model.ProductInfo.ProductInfo_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
    <style scoped>
        .form-group.required .control-label:after {
            content: "*";
            color: red;
            margin-left: 4px;
        }
    </style>
</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>

<script>
    var list_products = @Html.Raw(Json.Encode(Model.Product));

    var $targetModal = $('#ModalProductInfo');
    var $sectionModal = $targetModal.parent();
    var $targetForm = $('#frmProductInfo');
    var DZ;

    //Form of Schedules
    var $formInside = $("#product-schudeles-form"); //product-schudeles-form
    //$formInside.validate();
    //$formInside.find("#Allotment").rules('add', { required: true });

    /** START CHANGES ON SELECT LANGUAGES **/

    var valn = false;
    var vals = false;

    $('#NoHtml').change(function () {
        valn = $(this).is(':checked');
    });

    $('#NoHtmlSum').change(function () {
        vals = $(this).is(':checked');
    });

    //default insert mode with duplication check
    var Insert = "1";

    $("#EditValue").click(function () {
        Insert = "0";
    });


    $("#btn-update-schedules").click(function (e) {

        //validations:
        if ($("#ParkSchedule_Id").val() == "")
        {
            $.error("AVVISO", "Fascia Oraria Obbligatoria");
            return;
        }

        var All = $("#Allotment").val();

        if (All == null || All == "" || All == "0") {
            $.error("AVVISO", "Quantità Obbligatoria");
            return;
        }


        if (Insert == "1") {
            //insert: duplication check
            var ProdId = '@Model.Product.Product_Id';
            var PsId = $("#ParkSchedule_Id").val();
            var AsId = $("#ActivitySchedule_Id").val();
            if (AsId == '') { AsId = 0;}

            var URL = "/Products/VerifyProductSchedules/";

            var Info = { ProdId: ProdId, PsId: PsId, AsId: AsId };

                var promise = $.post(URL, Info);
                promise.done(function (data) {

                    if (data == "KO") {
                        $.error("Avviso", "Orario già presente");
                        e.preventDefault();
                    }
                    else {
                        $('#loader').modal('show');
                        $('#product-schudeles-form').submit();

                    }
                });
        }
        else
        {
            //update
            $('#loader').modal('show');
            $('#product-schudeles-form').submit();

            Insert = "1";
        }

    });

    $("#InsValue").click(function () {
        $("#BtnReset").trigger("click");
    })

    $(".select-language-product-info").on("change", function () {
        $targetModal.modal('hide');
        $sectionModal.empty();
        var product_id = $(this).data("product-id");
        var product = list_products;
        var langSelect = $(this).val();
        $.post("@Url.Action("UpdateInfo", "Products")", { product: product, language: langSelect }, function (response) {
            $sectionModal.html(response);
        });
        $('.modal-backdrop').remove();
    });
    /** END CHANGES ON SELECT LANGUAGES **/

    /** START CHANGE OF TYPE IMAGE IN FORM **/
    $(document).on('change', '.select-image-type', function () {
        var $this = $(this);
        var value = $this.val();
        var width = parseInt($(this).find(':selected').data('width'));
        var height = parseInt($(this).find(':selected').data('height'));
        var maxsize = parseInt($(this).find(':selected').data('maxsize'));
        if (value != 0 || value != "") {
            $this.parents('.form-upload').each(function () {
                var data = $(this).find('.dropzone').data();
                //data.Dropzone.options.maxFilesize = (maxsize / 1024);
                data.width = width;
                data.height = height;

                if (data.Dropzone.files.length == 1) {
                    data.Dropzone.removeAllFiles(true);
                }

                if (height > width) {
                    data.Dropzone.options.thumbnailWidth = 150;
                    data.Dropzone.options.thumbnailHeight = 200;
                    $(this).find('.actions-images-description').removeClass("col-lg-9").addClass("col-lg-10");
                    $(this).find('.actions-images-preview').removeClass("col-lg-3").addClass("col-lg-2");
                    $(this).find('.actions-images-description').removeClass('actions-images-description').addClass('actions-images-description-mobile');
                    $(this).find('.actions-images-preview').removeClass("actions-images-preview").addClass("actions-images-preview-mobile");
                } else {
                    data.Dropzone.options.thumbnailWidth = 300;
                    data.Dropzone.options.thumbnailHeight = 125;
                    $(this).find('.actions-images-description-mobile').removeClass("col-lg-10").addClass("col-lg-9");
                    $(this).find('.actions-images-preview-mobile').removeClass("col-lg-2").addClass("col-lg-3");
                    $(this).find('.actions-images-description-mobile').removeClass('actions-images-description-mobile').addClass('actions-images-description');
                    $(this).find('.actions-images-preview-mobile').removeClass("actions-images-preview-mobile").addClass("actions-images-preview");

                }
            });
        }
    });
    /** END CHANGE OF TYPE IMAGE IN FORM **/

    function CKEDITOR_AllDestroy()
    {
        CKEDITOR.instances["ProductInfo_ProductInfo_Description"].destroy(true);
        CKEDITOR.instances["ProductInfo_ProductInfo_Summary"].destroy(true);
        CKEDITOR.instances["ProductInfo_ProductInfo_AdditionalInfo"].destroy(true);
        CKEDITOR.instances["ProductInfo_ProductInfo_Include"].destroy(true);
        CKEDITOR.instances["ProductInfo_ProductInfo_NotInclude"].destroy(true);
    }

    function CKEDITOR_AllCreate()
    {
        $("#ProductInfo_ProductInfo_Description").ckeditor();
        $("#ProductInfo_ProductInfo_Summary").ckeditor();
        $("#ProductInfo_ProductInfo_AdditionalInfo").ckeditor();
        $("#ProductInfo_ProductInfo_Include").ckeditor();
        $("#ProductInfo_ProductInfo_NotInclude").ckeditor();
    }

    var ActVisible = '@ActVisible';


    $(document).ready(function () {
        $targetModal.modal('show');
        //$targetForm.validator(); REMOVE!!!

        $.showSwitchery();
        $(this).startChosen();



        if (ActVisible == 'False') {
            $("#divact").css("display", "none");
        }

        $("#ModalProductInfo").on("hidden.bs.modal", function () {
            $('.dz-hidden-input, .modal-backdrop').each(function () { $(this).remove(); });
            $sectionModal.empty();
        });

        CKEDITOR_AllCreate();

        /** START INITIALIZE DROPZONE **/
        Dropzone.autoDiscover = false;
        var options = {
        //Dropzone.options.dropzone = {
            URL: "@Url.Action("UploadFile", "Products")",
            AUTOQUEUE: true,
            AUTOPROCESSQUEUE: false,
            PARAMNAME: "file",
            ACCEPTEDFILES: "image/*",
            MAXFILES: 1,
            MAXFILESIZE: 1,
            UPLOADMULTIPLE: false,
            THUMBNAILWIDTH: 300,
            THUMBNAILHEIGHT: 125,
            WIDTH: 0,
            HEIGHT: 0,
            DICTDEFAULTMESSAGE: "Select first the type image <br> Upload your file here",
            BUTTONSUBMIT: "#btn-update", //"#btn-update", "#btn-upload-image"
            CONTAINERFORM: "#actions-images-1",
            INPUTSVALIDATE: function () {
                return $("#ProductImage_ProductImage_IdImageType").val() != '' && $("#ProductImage_ProductImage_Name").val() != '' && $("#ProductImage_ProductImage_Alt").val() != '';
            },
            DATA: function () {
                return [
                    { name: "ProductImage_Url",             value: "Content/images/@ViewBag.Folder/" },
                    { name: "ProductImage_IdProductInfo",   value: $("#actions-images-1").find("#ProductImage_ProductImage_IdProductInfo").val() },
                    { name: "ProductImage_Name",            value: $("#actions-images-1").find("#ProductImage_ProductImage_Name").val() },
                    { name: "ProductImage_Alt",             value: $("#actions-images-1").find("#ProductImage_ProductImage_Alt").val() },
                    { name: "ProductImage_ImageType",       value: $("#actions-images-1").find("#ProductImage_ProductImage_IdImageType").val() },
                    { name: "ProductImage_Status",          value: $("#actions-images-1").find("#ProductImage_ProductImage_Status").val() },
                ];
            }
        };

        DZ = initializeDropzone("#img-upload-1", options);
        /** END INITIALIZE DROPZONE **/

        /* START TABLE FOOTABLE */
        FooTable.FilterinImagesType = FooTable.Filtering.extend({
            construct: function (instance) {
                this._super(instance);

                console.log("(FilterinParkOperational)", this.ft.rows, instance.rows, instance);
                this.imagestypes = @Html.Raw(Json.Encode(Model.ImagesTypes.Select(i => new { value = i.ImageType_Identifier, text = i.ImageType_Identifier }))); //["true", "false"];
                this.def = 'ALL';
                this.$imagestypes = null;
            },
            $create: function () {
                this._super();
                var self = this,
                    $form_grp = $('<div/>', { class: 'form-group footable-filtering-imagestype', "data-toggle": "tooltip", "data-original-title": "" })
                                .append($('<label/>', { class: 'sr-only', text: 'ProductImage_ImageType' }))
                                .prependTo(self.$form);
                $label_length = $('<span/>', { class: 'label label-default pull-left p-xs' }).html("<span class='rows_total'>" + self.ft.rows.all.length + "</span> of rows available")
                                .prependTo(self.$form);

                self.$imagestypes = $('<select/>', { 'class': 'form-control input-sm select-schedules' })
                    .on('change', { self: self }, self._onImagesTypesDropdownChanged)
                    .append($('<option/>', { text: self.def }).css("color", "#676a6c"))
                    .appendTo($form_grp);

                $.each(self.imagestypes, function (i, imagestype) {
                    self.$imagestypes.append($('<option/>').html(imagestype.text.toUpperCase()).val(imagestype.value));
                });
            },
            _onImagesTypesDropdownChanged: function (e) {
                var self = e.data.self,
                    selected = $(this).val();
                if (selected !== self.def) {
                    self.addFilter("ProductImage_ImageType", selected, ['ProductImage_ImageType']);
                } else {
                    self.removeFilter("ProductImage_ImageType");
                }
                self.filter();
            },
            draw: function () {
                this._super();
                var self = this,
                    items = self.ft.rows.array.length;
                self.ft.$el.find(".rows_total").text(items);
                var imagestype = this.find("ProductImage_ImageType");
                if (imagestype instanceof FooTable.Filter) {
                    this.$imagestypes.val(imagestype.query.val());
                } else {
                    this.$imagestypes.val(this.def);
                }
            },
            //filter: function(){
            //    // this goes through all filters and ensures they are actually filters setting default properties etc.
            //    this.filters = this.ensure(this.filters);
            //    // use the filters array to figure out the url to load
            //    //var url = ...;
            //    // once you have the url ajax load the rows and push them into the table
            //    //var self = this;
            //    //$.get(url).then(function(rows){
            //    //    self.ft.loadRows(rows);
            //    //});

            //    console.log("filter", this.filters);
            //}
        });
        var ft = FooTable.init(
            '#table-products-images',
            {
                columns: [
                    { "name": "ProductImage_Id", "title": "ID", "type": "number", "style": { "width": 30, "maxWidth": 50 } },
                    { "name": "ProductImage_Name", "title": "@Core.Resources.ProductsImage.ProductImage_Name" },
                    {
                        "name": "ProductImage_Url", "title": "@Core.Resources.ProductsImage.ProductImage_Url",
                        "formatter": function (value, options, rowData)
                        {
                            var array = @Html.Raw(Json.Encode(@Model.ImagesTypes));
                            var width = array.find(t => t.ImageType_Identifier == rowData.ProductImage_ImageType).ImageType_Width;
                            var height = array.find(t => t.ImageType_Identifier == rowData.ProductImage_ImageType).ImageType_Height;
                            var placeholder = "http://placehold.it/" + width + "x" + height;
                            var url = (value.length != 0) ? value : "#";
                            var thumbnail = (value.length != 0) ? value : placeholder;
                            var html =
                                `<a href="/${url}" target="_blank" class="viewBanner">` +
                                '<div class="hover-img">' +
                                '<i class="fa fa-eye"></i>' +
                                `<span><img src="/${thumbnail}" alt="image" height="${(height > width) ? "200" : "100"}" onerror="this.src='${placeholder}'"></span>` +
                                '</div>' +
                                '</a>';
                            return html;
                        }
                    },
                    { "name": "ProductImage_Alt", "title": "@Core.Resources.ProductsImage.ProductImage_Alt", "breakpoints": "xs sm md" },
                    {
                        "name": "ProductImage_ImageType", "title": "@Core.Resources.ProductsImage.ProductImage_ImageType", "breakpoints": "xs sm md", "classes": "select",
                        "formatter": function (value, options, rowData)
                        {
                            var div = document.createElement("div");
                            var array = @Html.Raw(Json.Encode(@Model.ImagesTypes));
                            return array.find(t => t.ImageType_Identifier == value).ImageType_Identifier;
                        }
                    },
                    {
                        "name": "ProductImage_Del", "title": "Delete",
                        "formatter": function (value, options, rowData)
                        {
                            var imgId = `${rowData.ProductImage_Id}`;
                            var html = '<button class="btn btn-danger btn-sm btn-link btn-outline" onclick="Delete(this,' + imgId +');" type="button"><i class="fa fa-trash"></i></button>';
                            return html;
                        }
                    },
                    {
                        "name": "ProductImage_Status", "title": "Stato", "breakpoints": "xs sm md", "classes": "switch",
                        "formatter": function (value, options, rowData)
                        {
                            var thumbnail = (value.length != 0) ? value : "http://placehold.it/300x150";
                            var div = document.createElement("div");
                            div.className = "onoffswitch";
                            div.style = "margin:auto;";

                            var input = document.createElement("input");
                            input.type = "checkbox"
                            input.id = `Product_Image_Status_${rowData.ProductImage_Id}`;
                            input.name = `Product_Image_Status_${rowData.ProductImage_Id}`;
                            input.className = "onoffswitch-checkbox change_state_product_image";
                            input.setAttribute("productimage_id", `${rowData.ProductImage_Id}`);
                            input.checked = `${(rowData.ProductImage_Status == 'true') ? `checked` : ``}`;
                            input.onchange = function () {
                                $.post("@Url.Action("ChangeStatusImage", "Products")", {
                                    productimage_id: this.getAttribute("productimage_id"),
                                    productimage_status: this.checked
                                }, function (res) {
                                    res == 1 ? $.success("SUCCESS", "La imagen del producto se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "Surgio un error inesperato intentelo mas tarde");
                                }).fail(function (response, status, xhr) {
                                    console.log(response, status, xhr);
                                    $.error("ERROR", "Surgio un error inesperado intentelo mas tarde");
                                });
                            };

                            var label = document.createElement("label");
                            label.className = "onoffswitch-label";
                            label.setAttribute("for", `Product_Image_Status_${rowData.ProductImage_Id}`);

                            var spaninner = document.createElement("span");
                            spaninner.className = "onoffswitch-inner";

                            var spanswitch = document.createElement("span");
                            spanswitch.className = "onoffswitch-switch";

                            label.appendChild(spaninner);
                            label.appendChild(spanswitch);
                            div.appendChild(input);
                            div.appendChild(label);

                            return div;
                        }
                    },
                ],
                rows: $.post('@Url.Action("GetProductsImage", "Products")', { productinfo_id: @Model.ProductInfo.ProductInfo_Id }),
                components: {
                    filtering: FooTable.FilterinImagesType
                },
                on: {
                    "ready.ft.table": function (e, ft) {
                        ft.$el.find("form.form-inline .input-group .input-group-btn").append(TableRefresh);
                    }
                }
            }
        );

        FooTable.FilterinParkOperational = FooTable.Filtering.extend({
            construct: function (instance) {
                this._super(instance);
                this.parkschedules = @Html.Raw(Json.Encode(Model.ParkSchedules.Select(i => new { value = i.ParkSchedule_Id, text = i.ParkSchedule_Description, color = i.ParkSchedule_Color }))); //["true", "false"];
                this.def = 'ALL';
                this.$parkschedules = null;
            },
            $create: function () {
                this._super();
                var self = this,
                    $form_grp = $('<div/>', { class: 'form-group footable-filtering-parkschedules', "data-toggle": "tooltip", "data-original-title": "" })
                                .append($('<label/>', { class: 'sr-only', text: 'ParkSchedule_Id' }))
                                .prependTo(self.$form);
                $label_length = $('<span/>', { class: 'label label-default pull-left p-xs' }).html("<span class='rows_total'>" + self.ft.rows.all.length + "</span> of rows available")
                                .prependTo(self.$form);

                self.$parkschedules = $('<select/>', { 'class': 'form-control input-sm select-schedules' })
                    .on('change', { self: self }, self._onParkschedulesDropdownChanged)
                    .append($('<option/>', { text: self.def }).css("color", "#676a6c"))
                    .appendTo($form_grp);

                $.each(self.parkschedules, function (i, parkschedules) {
                    self.$parkschedules.append($('<option/>').css("color", parkschedules.color).html("&#xf111; " + parkschedules.text.toUpperCase()).val(parkschedules.value));
                });
            },
            _onParkschedulesDropdownChanged: function (e) {
                var self = e.data.self,
                    selected = $(this).val();
                if (selected !== self.def) {
                    self.addFilter("ParkSchedule_Id", selected, ['ParkSchedule_Id']);
                } else {
                    self.removeFilter("ParkSchedule_Id");
                }
                self.filter();
            },
            draw: function () {
                this._super();
                var self = this,
                    items = self.ft.rows.array.length;
                self.ft.$el.find(".rows_total").text(items);
                var parkschedules = this.find("ParkSchedule_Id");
                if (parkschedules instanceof FooTable.Filter) {
                    this.$parkschedules.val(parkschedules.query.val());
                } else {
                    this.$parkschedules.val(this.def);
                }
            },
            //filter: function(){
            //    // this goes through all filters and ensures they are actually filters setting default properties etc.
            //    this.filters = this.ensure(this.filters);
            //    // use the filters array to figure out the url to load
            //    //var url = ...;
            //    // once you have the url ajax load the rows and push them into the table
            //    //var self = this;
            //    //$.get(url).then(function(rows){
            //    //    self.ft.loadRows(rows);
            //    //});

            //    console.log("filter", this.filters);
            //}
        });

        var ft1 = FooTable.init(
            '#table-product-schedules',
            {
                columns: [
                    { "name": "Id", "title": "ID", "visible": false, "classes": "text-center", "sortable": false,
                        "formatter": function (value, options, rowData) {
                            var div = "<div class=\"order-arrow\">" +
                                "<span class=\"index\">" + rowData.Position + "</span>" +
                                "</div>" + value;

                            return div;
                        }
                    },
                    { "name": "Product_Id", "title": "Product_Id", "visible": false, "sortable": false },
                    { "name": "CreationDateDateFormat", "title": "CreationDate", "visible": false, "classes": "text-center", "sortable": false, "filterable": false },
                    { "name": "Position", "title": "Position", "visible": false, "classes": "text-center", "sortable": false, "sorted": false, "filterable": false },
                    { "name": "ParkOperational", "title": "Calendario", "breakpoints": "xs sm md", "classes": "text-center", "visible": true, "sortable": false, "type": "object", "filterable": false,
                        formatter: function (value, options, rowData)
                        {
                            return value.ParkOperational_Code;
                        }
                    },
                    { "name": "ParkOperational_Id", "title": "Periodo", "visible": false, "sortable": false },
                    { "name": "ParkSchedule", "title": "Fascia oraria", "visible": true, "sortable": false, "type": "object", "breakpoints": "xs sm md", "classes": "text-center", "style": { "width": 250, "maxWidth": 250, "line-height" : 1 }, "filterable": false,
                        formatter: function (value, options, rowData)
                        {
                            var _color = (value != null ? value.ParkSchedule_Color : "transparent");
                            var _description = (value != null ? value.ParkSchedule_Description : "...");
                            var _start = (value != null ? value.ParkSchedule_TimeStartString.toMoment("HH:mm", 'en').format("LT") : "...");
                            var _end = (value != null ? value.ParkSchedule_TimeEndString.toMoment("HH:mm", 'en').format("LT") : "...");
                            var result = "<i class=\"fa fa-circle\" style=\"color: " + _color + ";vertical-align: middle;display: inline-block;\"></i> " +
                                         "<div style=\"vertical-align: middle;display: inline-block;\">" +
                                            "<p class=\"no-margins\">" + _description + "</p>" +
                                            "<small>" + _start + " - " + _end + "</small>" +
                                         "</div>";
                            return result;
                        }
                    },
                    { "name": "ParkSchedule_Id", "title": "ParkSchedule_Id", "visible": false, "sortable": false },
                    { "name": "ActivitySchedule", "title": "Orario Attività", "visible": true, "sortable": false, type: "object", "breakpoints": "xs sm md", "classes": "text-center", "style": { "line-height" : 1 }, "filterable": false,
                        formatter: function (value, options, rowData)
                        {
                            var result = "<div> - </div>";

                            if (ActVisible != 'False')
                            {
                                result = "<div>" + value.ScheduleTimeFormat + "</div>" +
                                    "<small>" + value.ScheduleTimeFormat.toMoment("HH:mm", 'en').format("LT") + "</small>";
                            }
                            return result;
                        }
                    },
                    { "name": "Allotment", "title": "Quantità", "breakpoints": "xs sm md", "classes": "text-center", "sortable": false },
                    { "name": "Status", "title": "Stato", "visible": true, "sortable": false, "sorted": false, "filterable": false },
                    { "name": "ActivitySchedule_Id", "title": "ActivitySchedule_Id", "visible": false, "sortable": false },
                    { "name": "", "title": "@General.lblActions", "breakpoints": "xs sm md", "classes": "text-center", "sortable": false, "filterable": false,
                        formatter: function (value, options, rowData) {
                            var div = document.createElement("div");
                            div.className = "";
                            div.style = "margin:auto;";

                            var anchor = document.createElement("a");
                            var anchorText = document.createTextNode("Edit");
                            anchor.className = "btn btn-default btn-xs edit_product_schedule"
                            anchor.setAttribute('href', `@Url.Action("Schedules", "Products")/${rowData.Id}`);
                            anchor.appendChild(anchorText);
                            anchor.onclick = function (e) {
                                Insert = "0";
                                e.preventDefault();
                                $("#dashboard-tab-schedules .nav-tabs a[href='#tab-schedules-add']").trigger("click");
                                var dataRow = $(this).closest("tr").data("__FooTableRow__").value;
                                dataRow.ActivitySchedule_Id_Default = dataRow.ActivitySchedule_Id;
                                $formInside.setValues(dataRow);
                                $formInside.find("button[type='submit']").html("<i class='fa fa-edit'></i> @General.lblEdit</button >");
                                $formInside.find("#ParkOperational_Id").trigger("change");
                                $formInside.find("#ParkSchedule_Id").trigger("change");
                                $formInside.validator("validate");
                            };
                            div.appendChild(anchor);

                            var anchor2 = document.createElement("a");
                            var anchorText2 = document.createTextNode("Delete");

                            anchor2.className = "btn btn-danger btn-xs btn-link btn-outline";
                            anchor2.appendChild(anchorText2);
                            anchor2.onclick = function () {
                            var risp = confirm("Vuoi eliminare questo allotment?");

                                if (risp == true) {
                                    var URL = "/Products/DeleteScheduleAllotment/";
                                    var Id = rowData.Id;
                                    var Info = { Id: Id };

                                    var promise = $.post(URL, Info);

                                    promise.done(function (data) {
                                    $.warning("Avviso", "Cancellazione effettuata");

                                    $("#" + Id).remove();
                                    });
                                }
                            };

                            div.appendChild(anchor2);

                            return div;
                        }
                    }
                ],
                rows: getData('@Url.Action("GetProductSchedulesJson", "Products")', { product_Id: @Model.Product.Product_Id }, "JSON").filter(i => i.ParkOperational.ParkOperational_Status == true),
                components: {
                    filtering: FooTable.FilterinParkOperational
                },
                on: {
                    "postdraw.ft.table": function (e, ft) {
                        var attrs = {
                            "data-table": "@ProductsSchedules.TABLE",
                            "data-keyId": "Id",
                            "data-keyValue": "Position",
                        }
                        $.each(ft.rows.array, function (i, row) {
                            var attrs = {
                                "id": row.value.Id,
                                "index": row.value.Position,
                                "data-id_productschedule": row.value.Id
                            };
                            ft.$el.find("tbody tr").eq(i).attr(attrs);
                        });
                        if (ft.rows.array.length) {
                            ft.$el.find("tbody").addClass("sortable").attr(attrs);
                            ft.$el.find("tbody tr").not(".footable-empty").addClass("sortable-item");
                            ft.$el.find("tbody").sortable("enable");
                            ft.$el.find("tbody .order-arrow").addClass("show");
                            ft.$el.find("tbody").sortableDB(".sortable-item", function () { /*console.log($(document).find(".load-rows").trigger("click"));*/ });
                        }
                    },
                    "ready.ft.table": function (e, ft) {
                        ft.$el.find("form.form-inline .input-group .input-group-btn").append(TableRefresh);
                        //ft1.$el.find(".load-rows").click();
                    }
                }
            }
        );
        /* END TABLE FOOTABLE */

        $(document).on("change", ".select-schedules", function(){
            var $this = $(this);
            var option = $this.find(":selected");
            var color = option.css("color");
            $this.css("color", color ? color : "inherit");
        });

        /** START SUBMIT FORM .validator() **/
        $formInside.validator().submit(function(e){
            if (e.isDefaultPrevented()) {
            } else {
                e.preventDefault();
                e.stopPropagation();

                var form = $(this);

                var ProductSchedule = {
                    Id: $formInside.find("#Id").val(),
                    Position: $formInside.find("#Position").val() == "" ? 0 : $formInside.find("#Position").val(),
                    Product_Id: $formInside.find("#Product_Id").val(),
                    ParkOperational_Id: $formInside.find("#ParkOperational_Id").val(),
                    ParkSchedule_Id: $formInside.find("#ParkSchedule_Id").val(),
                    ActivitySchedule_Id: $formInside.find("#ActivitySchedule_Id").val(),
                    ActivitySchedule_Id_Default: $formInside.find("#ActivitySchedule_Id_Default").val() == "" ? $formInside.find("#ActivitySchedule_Id").val() : $formInside.find("#ActivitySchedule_Id_Default").val(),
                    Allotment: $formInside.find("#Allotment").val(),
                    Status: $formInside.find("#Status").val()
                };

                //$formInside.getValues();

                $.post(form.attr("action"), ProductSchedule, function (data) {
                    if (data != null) {
                        $.success("SUCCESS", "modifica orario effettuata con successo");
                        ft1.$el.find(".load-rows").click();
                        $('#loader').modal('hide');
                        $formInside.find("#ActivitySchedule_Id_Default").val(ProductSchedule.ActivitySchedule_Id)
                    } else {
                        $.error("ERROR", "@General.lblMsgError");
                    }
                }, "json").fail(function (error, xhr, response) {
                    $.error("ERROR", "@General.lblMsgError");
                });
            }
            return false;
        });

        $formInside.find("[type='submit']").on('click', function (e) {
            $formInside.submit();
        })

        //$('#frmProductInfo').on('submit', 'button[id="btn-update"]', function (e) {
        $("#frmProductInfo").submit(function(e) {
            if (e.isDefaultPrevented()) {
            } else {
                e.preventDefault();
                e.stopPropagation();

                var form = $(this);

                var TestoDes = $("#ProductInfo_ProductInfo_Description").val();
                var Sommario = $("#ProductInfo_ProductInfo_Summary").val();

                //no html
                if (valn == true) {
                    TestoDes = TestoDes.replace(/<\/?[^>]+(>|$)/g, "");
                }

                if (vals == true) {
                    Sommario = Sommario.replace(/<\/?[^>]+(>|$)/g, "");
                }

                var ProductsInfo = {
                    ProductInfo_Id: $("#ProductInfo_ProductInfo_Id").val(),
                    ProductInfo_IdProduct: $("#ProductInfo_ProductInfo_IdProduct").val(),
                    ProductInfo_Name: $("#ProductInfo_ProductInfo_Name").val(),
                    ProductInfo_Url: $("#ProductInfo_ProductInfo_Url").val(),
                    ProductInfo_LanguageCode: $("#ProductInfo_ProductInfo_LanguageCode").val(),
                    ProductInfo_Description: TestoDes,
                    ProductInfo_Summary: Sommario,
                    ProductInfo_AdditionalInfo: $("#ProductInfo_ProductInfo_AdditionalInfo").val(),
                    ProductInfo_Include: $("#ProductInfo_ProductInfo_Include").val(),
                    ProductInfo_NotInclude: $("#ProductInfo_ProductInfo_NotInclude").val(),
                }

                $.post(e.currentTarget.action, ProductsInfo, function (data) {
                    if (data != null) {
                        var $tabDesc = $('#tabs-navs-product-info li a[href="#tab-description"] span');
                        (typeof data.ProductInfo_Description != 'object' ? $tabDesc.addClass('hide') : $tabDesc.removeClass('hide'))

                        var $tabSumm = $('#tabs-navs-product-info li a[href="#tab-summary"] span');
                        (typeof data.ProductInfo_Summary != 'object' ? $tabSumm.addClass('hide') : $tabSumm.removeClass('hide'))

                        var $tabAdd = $('#tabs-navs-product-info li a[href="#tab-additionl-info"] span');
                        (typeof data.ProductInfo_AdditionalInfo != 'object' ? $tabAdd.addClass('hide') : $tabAdd.removeClass('hide'))

                        var $tabIncl = $('#tabs-navs-product-info li a[href="#tab-include"] span');
                        (typeof data.ProductInfo_Include != 'object' ? $tabIncl.addClass('hide') : $tabIncl.removeClass('hide'))

                        var $tabNotIncl = $('#tabs-navs-product-info li a[href="#tab-not-include"] span');
                        (typeof data.ProductInfo_NotInclude != 'object' ? $tabNotIncl.addClass('hide') : $tabNotIncl.removeClass('hide'))

                        $("#ProductInfo_ProductInfo_Id").val(data.ProductInfo_Id);
                        $(".load-rows").attr("data-value", data.ProductInfo_Id);
                        $.success("SUCCESS", "Modifica prodotto effettuata correttamente");

                        $("#tab-images-upload .form-upload").each(function () {
                            $("#actions-images-1 #ProductImage_ProductImage_IdProductInfo").val(data.ProductInfo_Id);
                            var inputs = $(this).getValues("ProductImage.", "");
                            inputs.ProductImage_Name = inputs.ProductImage_Name ? inputs.ProductImage_Name.toUpperCase() : "";
                            var div = $(this).find(".dropzone");
                            var dz = div.data("Dropzone");
                            if (inputs.ProductImage_ImageType != '' && inputs.ProductImage_Name != '' && inputs.ProductImage_Alt != '')
                            {
                                if (dz.files.length > 0) {
                                    dz.processQueue();
                                    dz.on("success", function () {
                                        $("#actions-images-1").clear();
                                    });
                                }else{
                                    $.error("ERROR", "Selezionare almeno un immagine.");
                                }
                            }
                        });
                    } else {
                        $.error("ERROR", "@General.lblMsgError");
                    }
                }, "json").fail(function (error, xhr, response) {
                    $.error("ERROR", "@General.lblMsgError");
                });
            }
            return false;
        });
        /** END SUBMIT FORM **/

        $("#ParkOperational_Id").on("change", function(){
            var value = this.value;
            $("#ParkSchedule_Id option").hide();
            $("#ActivitySchedule_Id option").hide();
            if (value != "" || value != null) {
                $("#ParkSchedule_Id option").filter(function () {
                    var elem = $(this);
                    //same schedule for different parkoperational ex: 22,28 must use array
                    var found = elem.attr("parkoperational");
                    if (found == null) { found = ""; }
                    //array conversion:
                    var elems = found.split(",");
                    if (elems.indexOf(value) >= 0) { return value;}
                    return "";
                }).show();
            } else {
                $("#ParkSchedule_Id").val("");
                $("#ActivitySchedule_Id").val("");
            }
        });

        $("#ParkSchedule_Id").on("change", function(){
            var $this = $(this);
            var $selected = $this.find("option:selected");
            var scheduleMin = $selected.attr("schedulemin");
            var scheduleMax = $selected.attr("schedulemax");
            $("#ActivitySchedule_Id option").hide();
            if($this.val() != ""){
                $("#ActivitySchedule_Id option").filter(function () {
                    return $(this).text() > scheduleMin && $(this).text() < scheduleMax;
                }).show();
            }else{
                $("#ActivitySchedule_Id").val("");
            }
        });

        $("#ParkOperational_Id").trigger("change");
        $("#ParkSchedule_Id").trigger("change");
    });

    function TableRefresh(){
        var buttonRefresh = $('<button><i class="fa fa-refresh"></i></button>');
        buttonRefresh.click(function (e) {
            e.preventDefault();
            var $btn = $(this).find("i.fa").addClass("fa-spin");
            var $table = $(this).closest("table");
            var url = $table.data('url'),
                value = $table.data('id');
            $.post(url, value).then(function (rows) {
                if($.type(rows) == "array" && $.type(rows[0]) == "object" && "ParkOperational" in rows[0]) rows = rows.filter(i => i.ParkOperational.ParkOperational_Status == true);
                $table.data("__FooTable__").rows.load(rows); /* or ft.loadRows(rows); */
                $btn.removeClass().addClass("fa fa-refresh");
            });
        });
        buttonRefresh.attr("type", "button");
        buttonRefresh.attr("class", "btn btn-primary btn-outline btn-sm load-rows");
        return buttonRefresh;
    }

    function Delete(obj, SlId)
	{
		var risp = confirm("Vuoi eliminare questa immagine?");

		if (risp == true)
		{
			var URL = "/Products/ImageDelete/";
			var Info = { Id: SlId};

			var promise = $.post(URL, Info);

			promise.done(function (data) {
				$.warning("Avviso", "Cancellazione effettuata");

				//remove the row in the table
				$(obj).closest('tr').remove();
			});
		}

	};


</script>
