﻿@model BackOfficeAcquaJoss.Models.DiscountCouponModel
@{
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", Core.Resources.DiscountCoupon.lblSection);
    IList<SelectListItem> discountTypeList = Enum.GetValues(typeof(Core.DiscountCouponType)).Cast<Core.DiscountCouponType>().Select(x => new SelectListItem { Text = x.ToString().ToUpper(), Value = ((int)x).ToString() }).ToList();
}
@foreach (Core.DiscountCoupon DiscountCoupon in Model.DiscountCoupons.OrderByDescending(c => c.DiscountCoupon_CreationDate).Take(100))
{
    SelectListItem selected = discountTypeList.Where(x => x.Value == DiscountCoupon.DiscountCoupon_Type.ToString()).FirstOrDefault();
    SelectList discountTypeSelect = new SelectList(discountTypeList, "Value", "Text", selected != null ? int.Parse(selected.Value) : 0);
    Model.SalesChannelItems_Index = DiscountCoupon.DiscountCoupon_Channel;
    Model.ProductsItems_Index = DiscountCoupon.DiscountCoupon_Product_Id;
    Model.TMastersItems_Index = DiscountCoupon.DiscountCoupon_IdTmaster;

<tr class="discountcoupon" data-id-discountcoupon="@DiscountCoupon.DiscountCoupon_Id">
    <td style="width: 15%;">@Html.EditorFor(model => DiscountCoupon.DiscountCoupon_Identifier, new { htmlAttributes = new { @class = "form-control input-sm", @maxlength = 25 } })</td>
    <td style="width: 15%;">@Html.DropDownListFor(model => DiscountCoupon.DiscountCoupon_Product_Id, Model.ProductsItems, new { @class = "form-control input-sm select-product" })</td>
    <td style="width: 15%;">@Html.DropDownListFor(model => DiscountCoupon.DiscountCoupon_IdTmaster, Model.TMastersItems, new { @class = "form-control input-sm select-tmaster" })</td>
    <td style="width: 8%;">@Html.DropDownListFor(model => DiscountCoupon.DiscountCoupon_Channel, Model.SalesChannelItems, new { @class = "form-control input-sm select-sales-channel" })</td>
    <td style="width: 8.5%;">@Html.DropDownListFor(model => DiscountCoupon.DiscountCoupon_Type, discountTypeSelect, new { @class = "form-control input-sm" })</td>
    <td style="width: 5%;">@Html.EditorFor(model => DiscountCoupon.DiscountCoupon_Value, new { htmlAttributes = new { @class = "form-control input-sm text-right text-warning field-discount-value" }, @style = "width" })</td>
    <td style="width: 10%;">@Html.EditorFor(model => DiscountCoupon.DiscountCoupon_DateStart, new { htmlAttributes = new { @class = "form-control input-sm datepicker field-discount-startdate" } })</td>
    <td style="width: 10%;">@Html.EditorFor(model => DiscountCoupon.DiscountCoupon_DateEnd, new { htmlAttributes = new { @class = "form-control input-sm datepicker field-discount-enddate" } })</td>
    <td style="width: 6%;">@Html.EditorFor(model => DiscountCoupon.DiscountCoupon_AnticipationDays, new { htmlAttributes = new { @class = "form-control input-sm field-discount-days" } })</td>
    <td style="width: 5%;">@Html.EditorFor(model => DiscountCoupon.DiscountCoupon_Score, new { htmlAttributes = new { @class = "form-control input-sm field-discount-score" } })</td>
    <td class="switch" style="padding-bottom: 13px; padding-top: 13px; width: 5%;">
        <div class="onoffswitch" style="margin:auto;">
            <input id="SaleDiscount_DiscountCoupon_Status_@DiscountCoupon.DiscountCoupon_Id"
                   discountcoupon_id="@DiscountCoupon.DiscountCoupon_Id"
                   name="DiscountCoupon.DiscountCoupon_Status"
                   class="form-control onoffswitch-checkbox change_state_coupon"
                   checked="@DiscountCoupon.DiscountCoupon_Status"
                   value="@DiscountCoupon.DiscountCoupon_Status.ToString()"
                   type="checkbox" />
            <label class="onoffswitch-label" for="SaleDiscount_DiscountCoupon_Status_@DiscountCoupon.DiscountCoupon_Id">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </td>
    <td class="text-center" style="width: 5%;">
        @Html.HiddenFor(model => DiscountCoupon.DiscountCoupon_Id)
        <button type="button" data-toggle="tooltip" data-original-title="Shortcut: Ctrl+Enter"
                class="btn btn-sm btn-white btn-save-coupon"
                data-url="@Url.Action("InsertOrUpdateDiscount")"
                data-coupon-id="@(DiscountCoupon != null ? DiscountCoupon.DiscountCoupon_Id : 0)"
                @(DiscountCoupon != null && DiscountCoupon.DiscountCoupon_Id != 0 ? string.Empty : "disabled")>
            <i class="fa @(DiscountCoupon != null ? "fa-pencil" : "fa-save")"></i>
        </button>
    </td>
</tr>
            }

@if (Model.DiscountCoupons.Count == 0)
{
    <tr>
        <td colspan="12"> <h1 class="text-center">NO RESULTS</h1></td>
    </tr>
}