﻿@using Core;
@using Dictionary = Core.Resources.EventsFaqs;
@using General = Core.Resources.General;

@model BackOfficeAcquaJoss.Models.EventsModel
@{ 
    EventsFaqs eventFaq = Model.EventFaq;
    List<EventsFaqs> eventsFaqsList = Model.EventsFaqs;
    if (Model.Event == null)
    {
        Model.Event = new Events();
    }
}


<div id="dashboard-tab-faqs" class="tabs-container">
    <div class="tabs-left">
        <ul id="tabs-navs-event-faqs" class="nav nav-tabs nav-tabs-border">
            <li class="active"><a data-toggle="tab" href="#tab-faqs-edit"> @General.lblEdit</a></li>
            <li class=""><a data-toggle="tab" href="#tab-faqs-add">@General.lblUpload</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-faqs-edit" class="tab-pane active">
                <div class="panel-body">
                    <table id="table-event-faqs" class="table table-order table-stripped table-hover toggle-arrow-tiny" data-paging="true" data-sorting="true" data-filtering="true"></table>
                </div>
            </div>
            <div id="tab-faqs-add" class="tab-pane">
                <div class="panel-body">
                    <form id="event-faq-form" action="/Admin/InsertOrUpdateEventFaq" validate="true" method="post" autocomplete="off">
                        @Html.HiddenFor(model => Model.EventFaq.EventsFaqs_IdEvent, new { Id = "EventsFaqs_IdEvent", Name = "EventsFaqs_IdEvent", Value = Model.Event.Event_Id })
                        @Html.HiddenFor(model => Model.EventFaq.EventsFaqs_Id, new { Id = "EventsFaqs_Id", Name = "EventsFaqs_Id" })
                        <div class="clearfix row">
                            <div class="form-group col-md-8 p-xxs">
                                @Html.LabelFor(model => Model.EventFaq.EventsFaqs_Identifier)
                                @Html.EditorFor(model => Model.EventFaq.EventsFaqs_Identifier, new { htmlAttributes = new { Id = "EventsFaqs_Identifier", Name = "EventsFaqs_Identifier", @class = "form-control input-sm", @required = "required", MaxLength = "200", MinLength = "5" } })
                            </div>
                            <div class="form-group col-md-3 hide">
                                @Html.LabelFor(model => Model.EventFaq.EventsFaqs_Order)
                                @Html.EditorFor(model => Model.EventFaq.EventsFaqs_Order, new { htmlAttributes = new { Id = "EventsFaqs_Order", Name = "EventsFaqs_Order", @class = "form-control input-sm" } })
                            </div>
                            <div class="form-group col-md-3 m-b-sm">
                                @Html.LabelFor(model => Model.EventFaq.EventsFaqs_Status)
                                <div>
                                    <input id="EventsFaqs_Status" name="EventsFaqs_Status" checked="checked" class="js-switch check-box" data-switchery="true" data-val="true" type="checkbox" value="true">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix row">
                            <div class="col-sm-12 form-group m-b-sm">
                                <div class="form-group m-b-sm">
                                    @Html.LabelFor(model => Model.EventFaq.EventsFaqs_Content)
                                    <div class="editor">
                                        @Html.TextAreaFor(model => Model.EventFaq.EventsFaqs_Content, new { Id = "EventsFaqs_Content", Name = "EventsFaqs_Content", @class = "form-control text_editor", Required = "required", MaxLength = "3000" })
                                        <label id="EventsFaqs_Content-msn" class="error" for="EventsFaqs_Content" style="display: none;">This field is required</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="buttons" class="text-right">
                            <button type="reset" form="event-faq-form" class="btn btn-white btn-sm btn-reset">Reset</button>
                            <button type="submit" form="event-faq-form" class="btn btn-primary btn-sm btn-save">
                                @Html.Raw(eventFaq == null ? "<i class='fa fa-plus'></i> " + General.lblAdd : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $formInside = $("#event-faq-form");
    $formInside.validate();
    $formInside.find("#EventsFaqs_Identifier").rules('add', { required: true, maxlength: 200, minlength: 5 });

    $(document).ready(function () {
        /* START TABLE FOOTABLE */
        var ft = FooTable.init(
            '#table-event-faqs',
            {
                columns: [
                    { "name": "EventsFaqs_Id", "title": "ID", "style": { "width": 60, "maxWidth": 60 }, "classes": "text-center", "sortable": false,
                        "formatter": function (value, options, rowData) {
                            var div = "<div class=\"order-arrow\">" +
                                "<span class=\"index\">" + rowData.EventsFaqs_Order + "</span>" +
                                "</div>" + value;

                            return div;
                        }
                    },
                    { "name": "EventsFaqs_IdEvent", "title": "@Dictionary.EventsFaqs_IdEvent", "visible": false, "sortable": false },
                    { "name": "EventsFaqs_Order", "title": "@Dictionary.EventsFaqs_Order", "visible": false, "sortable": true, "sorted": true },
                    { "name": "EventsFaqs_Identifier", "title": "@Dictionary.EventsFaqs_Identifier", "classes": "text-center", "sortable": false },
                    { "name": "EventsFaqs_Content", "title": "@Dictionary.EventsFaqs_Content", "visible": false, "classes": "text-center", "sortable": false },
                    { "name": "EventsFaqs_Status", "title": "@Dictionary.EventsFaqs_Status", "breakpoints": "xs sm md", "classes": "text-center switch", "sortable": false,
                        formatter: function (value, options, rowData)
                        {
                            var div = document.createElement("div");
                            div.className = "onoffswitch";
                            div.style = "margin:auto;";

                            var input = document.createElement("input");
                            input.type = "checkbox"
                            input.id = `EventsFaqs_Status_${rowData.EventsFaqs_Id}`;
                            input.name = `EventsFaqs_Status_${rowData.EventsFaqs_Id}`;
                            input.className = "onoffswitch-checkbox change_state_event_faq";
                            input.setAttribute("eventfaq_id", `${rowData.EventsFaqs_Id}`);
                            input.checked = `${(rowData.EventsFaqs_Status == 'true') ? `checked` : ``}`;
                            input.onchange = function () {
                                $.post("@Url.Action("ChangeStatusEventFaq", "Admin")", {
                                    eventfaq_id     : this.getAttribute("eventfaq_id"),
                                    eventfaq_status : this.checked
                                }, function (res) {
                                    res == 1 ? $.success("SUCCESS", "El Faq del evento se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "@General.lblMsgError");
                                }).fail(function (response, status, xhr) {
                                    console.log(response, status, xhr);
                                    $.error("ERROR", "@General.lblMsgError");
                                });
                            };

                            var label = document.createElement("label");
                            label.className = "onoffswitch-label";
                            label.setAttribute("for", `EventsFaqs_Status_${rowData.EventsFaqs_Id}`);

                            var spaninner = document.createElement("span");
                            spaninner.className = "onoffswitch-inner";

                            var spanswitch = document.createElement("span");
                            spanswitch.className = "onoffswitch-switch";

                            label.appendChild(spaninner);
                            label.appendChild(spanswitch);
                            div.appendChild(input);
                            div.appendChild(label);

                            return div;
                        }
                    },
                    { "name": "", "title": "@General.lblActions", "breakpoints": "xs sm md", "classes": "text-center", "sortable": false,
                        formatter: function (value, options, rowData)
                        {
                            var div = document.createElement("div");
                            div.className = "";
                            div.style = "margin:auto;";

                            var anchor = document.createElement("a");
                            var anchorText = document.createTextNode("Edit");
                            anchor.className = "btn btn-default btn-xs edit_event_faq"
                            anchor.setAttribute('href', `@Url.Action("Events", "Admin")/${rowData.EventsFaqs_Id}`);
                            anchor.appendChild(anchorText);
                            anchor.onclick = function (e) {
                                e.preventDefault();
                                $("#dashboard-tab-faqs .nav-tabs a[href='#tab-faqs-add']").trigger("click");
                                var dataRow = $(this).closest("tr").data("__FooTableRow__").value;
                                CKEDITOR.instances.EventsFaqs_Content.setData(dataRow.EventsFaqs_Content);
                                $formInside.setValues(dataRow);
                                $formInside.find("button[type='submit']").html("<i class='fa fa-edit'></i> @General.lblEdit</button >");
                            };
                            div.appendChild(anchor);

                            return div;
                        }
                    }
                ],
                rows: $.post('@Url.Action("GetEventsFaqsJson", "Admin")', { event_Id: @Model.Event.Event_Id }),
                on: {
                    "postdraw.ft.table": function (e, ft) {
                        var attrs = {
                            "data-table": "@EventsFaqs.TABLE",
                            "data-keyId": "EventsFaqs_Id",
                            "data-keyValue": "EventsFaqs_Order",
                        }
                        $.each(ft.rows.array, function (i, row) {
                            var attrs = {
                                "id": row.value.EventsFaqs_Id,
                                "index": row.value.EventsFaqs_Order,
                                "data-id_eventsfaqs": row.value.EventsFaqs_Id
                            };
                            ft.$el.find("tbody tr").eq(i).attr(attrs);
                        });
                        if (ft.rows.array.length) {
                            ft.$el.find("tbody").addClass("sortable").attr(attrs);
                            ft.$el.find("tbody tr").not(".footable-empty").addClass("sortable-item");
                            ft.$el.find("tbody").sortable("enable");
                            ft.$el.find("tbody .order-arrow").addClass("show");
                            ft.$el.find("tbody").sortableDB(".sortable-item", function () { /*console.log($(document).find(".load-rows").trigger("click"));*/ });
                        }
                    },
                }
            }
        );
        /* END TABLE FOOTABLE */

        /* START BUTTON REFRESH TABLE */
        setTimeout( function () { $("#table-event-faqs form.form-inline .input-group .input-group-btn").append(buttonRefresh); }, 1500);

        var buttonRefresh = $('<a><i class="fa fa-refresh"></i></a>');
        buttonRefresh.attr("class", "btn btn-primary btn-sm btn-outline load-rows");
        buttonRefresh.attr("data-url", "@Url.Action("GetEventsFaqsJson", "Admin")");
        buttonRefresh.attr("data-value", "@Model.Event.Event_Id");
        buttonRefresh.click(function (e) {
            e.preventDefault();
            var url = $(this).data('url'), value = $(this).data('value');
            if (value != 0) $.post(url, { event_Id: value }).then(function (rows) { ft.rows.load(rows); /* or ft.loadRows(rows); */ });
        });
        /* END BUTTON REFRESH TABLE */

        /** START SUBMIT FORM **/
        $formInside.on('reset', function (e) {
            e.preventDefault();
            $formInside.clear(true, "input#EventsFaqs_IdEvent");
            $formInside.find("button[type='submit']").html("<i class='fa fa-plus'></i> @General.lblAdd</button >");
        });

        $formInside.on('submit', function (e) {
            e.preventDefault();
            var data = $form.getValues();
            if (parseInt(data.Event_Id)) {
                var form = $(this),
                    validator = form.data("validator"),
                    EventsFaqs = form.getValues(),
                    faq = CKEDITOR.instances.EventsFaqs_Content.getData() != "";

                if (faq) { $("#cke_EventsFaqs_Content").removeClass("error"); $("#EventsFaqs_Content-msn").hide(); }
                else { $("#cke_EventsFaqs_Content").addClass("error"); $("#EventsFaqs_Content-msn").text("This field is required.").show(); return false; }

                if (validator.valid() && form.valid()) {
                    $.post(e.currentTarget.action, EventsFaqs, function (data) {
                        if (data != null) {
                            $("#dashboard-tab-faqs .nav-tabs a[href='#tab-faqs-edit']").trigger("click")
                            $.success("SUCCESS", "La Pregunta Frecuente se añadio correctamente");
                            $(".load-rows").attr("data-value", data.EventsFaqs_IdEvent);
                            $(".load-rows").trigger("click");
                            $formInside.clear(true, "input#EventsFaqs_IdEvent");
                        }
                        else {
                            $.error("ERROR", "@General.lblMsgError" + " | Events Faqs");
                        }
                    }, "json").fail(function (error, xhr, response) {
                        $.error("ERROR", "@General.lblMsgError" + " | Events Faqs")
                    });
                }
            }
            else {
                $("#tabs .nav-tabs a[href='#tab-0']").trigger("click")
                $form.valid();
            }
            $formInside.find("button[type='submit']").html("<i class='fa fa-plus'></i> @General.lblAdd</button >");
            return false;
        });
        /** END SUBMIT FORM **/
    });
</script>