﻿@model BackOfficeAcquaJoss.Models.UsersModel
@using Core;
@using Core.Resources;

@{
    List<SelectListItem> HotelList = ViewBag.HotelList;

    string HotelUser = ViewBag.HotelUser;

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "usuario");
}

<div class="row">
    <div class="col-sm-8">
        <div class="ibox">
            <div class="ibox-title">
                <h5><i class="fa fa-user"></i> Users</h5>
            </div>
            <div class="ibox-content">


                <div class="input-group">
                    &nbsp;&nbsp;<a class="btn btn-primary btn" href="/Users/Index">Tutti</a>
                    <input id="search-user" type="text" style="width:300px;" placeholder="Utente" class="input form-control">
                </div>


                <div class="clients-list">
                    <ul class="nav nav-tabs">
                        @{
                            int i = 0;
                            foreach (UsersType ut in Model.UsersTypes)
                            {
                                <li class="@((Model.UserAndLogin.User != null && Model.UserAndLogin.User.User_Type.Equals(ut.UsersType_Identifier)) ? "active" : (Model.UserAndLogin.User == null && i.Equals(0) ? "active" : string.Empty))">
                                    <a data-toggle="tab" href="#tab-@i" aria-expanded="true">@ut.UsersType_Name</a>
                                </li>
                                i++;
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @{
                            int j = 0;
                            foreach (UsersType ut in Model.UsersTypes)
                            {
                                <div id="tab-@j" class="tab-pane @((Model.UserAndLogin.User != null && Model.UserAndLogin.User.User_Type.Equals(ut.UsersType_Identifier)) ? "active" : (Model.UserAndLogin.User == null && j.Equals(0) ? "active" : string.Empty))">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                    @foreach (Users user in Model.Users.FindAll(u => u.User_Type.Equals(ut.UsersType_Identifier)))
                                                    {
                                                        <tr>
                                                            <td><a data-toggle="tab" href="/Users/@user.User_Id" class="client-link">@user.User_FullName</a></td>
                                                            <td class="contact-type"><i class="fa fa-envelope"></i></td>
                                                            <td>@user.User_Email</td>
                                                            <td class="switch">
                                                                <div class="onoffswitch" style="margin:auto;">
                                                                    <input type="checkbox"
                                                                           id="User_Status_@user.User_Id"
                                                                           user_id="@user.User_Id"
                                                                           name="User_Status_@user.User_Id"
                                                                           value="@(user.User_Status ? "true" : "false")"
                                                                           checked="@user.User_Status"
                                                                           class="onoffswitch-checkbox change_state_user" />
                                                                    <label class="onoffswitch-label" for="User_Status_@user.User_Id">
                                                                        <span class="onoffswitch-inner"></span>
                                                                        <span class="onoffswitch-switch"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="btn-group">
                                                                    <a class="btn btn-default btn-xs" href="/Users/Update/@user.User_Id" title="Update" data-toggle="tooltip"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                    <a class="btn btn-default btn-xs" href="/Users/Data/@user.User_Id" title="View" data-toggle="tooltip"><i class="fa fa-eye" aria-hidden="true"></i></a>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                j++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Dati Utente</h4>
                <div class="ibox-tools">
                    <a class="btn btn-xs btn-info" href="/Users?Show=true" style="color:white">Nuovo Utente</a>
                </div>
            </div>
            <div class="ibox-content" id="InfoUtente" style="display: none;">
                @{
                    string option = ViewBag.Option == null ? string.Empty : ViewBag.Option.ToString();
                    if (option.Equals("insert") || option.Equals("update"))
                    {
                                <form validate="true" action="/Users/InsertOrUpdate" method="post" class="form-horizontal form-group" autocomplete="off" style="margin-top: 10px;">
                                    @if (option.Equals("update"))
                                    {
                                        @Html.HiddenFor(model => Model.UserAndLogin.User.User_Id)
                                        @Html.HiddenFor(model => Model.UserAndLogin.User.User_Status)
                                    }
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@General.lblName</label>
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => Model.UserAndLogin.User.User_Name, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@General.lblLastName</label>
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => Model.UserAndLogin.User.User_LastName, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@General.lblEmail</label>
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => Model.UserAndLogin.User.User_Email, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @type = "email" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@General.lblPhone</label>
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => Model.UserAndLogin.User.User_Phone, new { htmlAttributes = new { @class = "form-control input-sm", @type = "tel" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@General.lblCellPhone</label>
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => Model.UserAndLogin.User.User_CellPhone, new { htmlAttributes = new { @class = "form-control input-sm", @type = "tel" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@General.lblGender</label>
                                        <div class="col-lg-9">
                                            @Html.DropDownListFor(model => Model.UserAndLogin.User.User_Sex, new List<SelectListItem>() {
                                                new SelectListItem{
                                                    Text = General.lblMale,
                                                    Value = "M",
                                                    Selected = (Model.UserAndLogin.User != null && Model.UserAndLogin.User.User_Sex.Equals("M"))
                                                },
                                                new SelectListItem{
                                                    Text = General.lblFemale,
                                                    Value = "F",
                                                    Selected = (Model.UserAndLogin.User != null && Model.UserAndLogin.User.User_Sex.Equals("F"))
                                                }
                                            }, null, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@General.lblPermissions</label>
                                        <div class="col-lg-9">
                                            @{
                                                List<SelectListItem> UsersTypeList = new List<SelectListItem>();
                                                foreach (UsersType ut in UsersType.Instance().GetUsersTypes())
                                                {
                                                    UsersTypeList.Add(new SelectListItem()
                                                    {
                                                        Text = ut.UsersType_Name,
                                                        Value = ut.UsersType_Identifier,
                                                        Selected = (Model.UserAndLogin.User != null && Model.UserAndLogin.User.User_Type.Equals(ut.UsersType_Identifier))
                                                    });
                                                }
                                                @Html.DropDownListFor(model => Model.UserAndLogin.User.User_Type, UsersTypeList, null, new { @class = "form-control input-sm" });
                                            }
                                        </div>
                                    </div>

                                    <div id="divhotel" class="form-group" style="visibility: hidden;">
                                        <label class="col-lg-3 control-label">Hotel</label>
                                        <div class="col-lg-9">
                                            @Html.DropDownListFor(model => Model.UserAndLogin.HotelUserId, HotelList, null, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>


                                    @if (Model.UserAndLogin.User != null && option.Equals("update"))
                                    {
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">PASSWORD</label>
                                            <div class="col-lg-9">
                                                @{
                                                    Login userLogin = Model.UserAndLogin.Login = Login.Instance().GetLogin(Model.UserAndLogin.User.User_Email);
                                                    if (userLogin.Login_Id != 0)
                                                    {
                                                        @Html.HiddenFor(model => Model.UserAndLogin.Login.Login_Id)
                                                    }
                                                }
                                                @Html.EditorFor(model => Model.UserAndLogin.Login.Login_Password, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @type = "password", @data_toggle = "password", @autocomplete = "new-password" } })
                                            </div>
                                        </div>

                                        <div class="text-right">
                                            <button id="BtnSave" class="btn btn-primary" type="submit">Update <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">@General.lblPassword</label>
                                            <div class="col-lg-9">
                                                @Html.EditorFor(model => Model.UserAndLogin.Login.Login_Password, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @type = "password", @data_toggle = "password", @autocomplete = "new-password" } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">@General.lblStatus</label>
                                            <div class="col-lg-9">
                                                @Html.EditorFor(model => Model.UserAndLogin.User.User_Status, new { htmlAttributes = new { @class = "js-switch", @type = "checkbox", @data_switchery = "true" } })
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button id="BtnSave" class="btn btn-primary" type="submit">@General.lblSave <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                        </div>
                                    }
                                </form>
                    }
                    else
                    {
                        Users User = Model.UserAndLogin.User;
                        <div class="client-detail">
                            <div class="full-height-scroll">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">@User.User_Name</span>
                                        <span>@General.lblName</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">@User.User_LastName</span>
                                        <span>@General.lblLastName</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">@User.User_Email</span>
                                        <span>@General.lblEmail</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">@User.User_Phone</span>
                                        <span>@General.lblPhone</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">@User.User_CellPhone</span>
                                        <span>@General.lblCellPhone</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">@(((DateTime)User.User_CreationDate).ToShortDateString())</span>
                                        <span>@General.lblCreationDate</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>

    var ShowInfo = '@ViewBag.ShowInfo';

    if (ShowInfo == 'True') {
        $("#InfoUtente").css("display", "block");
    }

    $("#UserAndLogin_User_User_Type").change(function () {
        var value = $(this).val();
        if (value == 'hoteloperator') {
            $("#divhotel").css("visibility", "visible");
        }
        else
        {
            $("#UserAndLogin_HotelUserId").val("0");
            $("#divhotel").css("visibility", "hidden");
        }

    });

    $("#BtnSave").click(function (e) {
        var hot = $("#UserAndLogin_HotelUserId").val();
        var op = $("#UserAndLogin_User_User_Type").val();
        if (op == 'hoteloperator' && hot == "0") {
            $.error("avviso", "Hotel obbligatorio per operatore hotel");
            e.preventDefault();
            return;
        }

    })

    var HotelUser = '@HotelUser';


    if (HotelUser != '') {
        $("#divhotel").css("visibility", "visible");
        $("#UserAndLogin_HotelUserId").val(HotelUser);
    }



    $(document).ready(function ()
    {

        var value = $("#UserAndLogin_User_User_Type").val();
        if (value == 'hoteloperator') {
            $("#divhotel").css("visibility", "visible");
        }
        else {
            $("#UserAndLogin_HotelUserId").val("0");
            $("#divhotel").css("visibility", "hidden");
        }

        $(".change_state_user").on("change", function (){
            var status = this.checked;
            $.post("/Users/ChangeStatus/", {
                user_id: $(this).attr("user_id"),
                user_status: status
            }, function (res){
                res == 1 ? $.success("SUCCESS", "El usuario se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "Surgio un error inesperato intentelo mas tarde");
            }).fail(function (response, status, xhr)
            {
                console.log(response, status, xhr);
            });
        });

        $("#search-user").on("keyup", function(){
            $(".tab-pane.active table").filterText(this.value);
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e){
            $($(e.relatedTarget).attr("href")).find("table tbody > tr").show();
        })
    });
</script>