﻿@using Core;
@using Dictionary = Core.Resources.Sliders;
@using General = Core.Resources.General;

@model BackOfficeAcquaJoss.Models.SlidersModel
@{
    int size = 7;
    double index = 0;
    double page = 0;

    List<Sliders> slidersList = Model.Sliders.OrderBy(s => s.Slider_Section.Section_Name).ThenBy(s => s.Slider_Order).ToList();

    if (Model.Slider == null)
    {
        Model.Slider = new Sliders();
        Model.Slider.Slider_IdUser = Global.UserProfile.User_Id;
        Model.Slider.Slider_DateStart = DateTime.Now;
    }
    else
    {
        //selected record
        slidersList = slidersList.Where(x => x.Slider_Id == Model.Slider.Slider_Id).ToList();

        index = slidersList.FindIndex(s => s.Slider_Id.Equals(Model.Slider.Slider_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", Dictionary.lblSection);
}


<style type="text/css">
    .fa-lg {
        font-size: 1.666666em;
    }

    .dropzone .dz-preview .dz-image {
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }


    #table-banners tbody {
        height: 100%;
        overflow-y: auto;
        width: 100%;
    }

    #table-banners tbody tr td {
        position: relative;
    }

    .order-arrow {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        display: none;
    }

        .order-arrow span {
            color: #1ab394;
            font-size: 9px;
            position: absolute;
            left: -10px;
            top: 4px;
            right: 0;
            margin: auto;
        }

        .order-arrow:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 0px;
            height: 0px;
            border-color: transparent;
            border-style: solid;
            border-width: 0px 0px 30px 30px;
            border-left-color: #f3f3f4;
        }
  

    .error:not(label) {
        border: 1px dotted #cc5965 !important;
    }
    /* End Table */
</style>

<section id="Sliders">
    <div class="clearfix">
        <div class="ibox-title">
            <h5><i class="fa fa-desktop"></i> @Dictionary.lblSection</h5>
            <div class="ibox-tools">
                <a class="btn btn-primary btn-xs" href="@Url.Action("Banners")"> @string.Format(General.lblNew, Dictionary.lblSection)</a>
            </div>
        </div>
        <div class="ibox-content clearfix">
            <div class="row">
                <div class="col-sm-8 col-lg-7">
                    <table id="table-banners" class="table table-order table-hover footable fixed_header table-stripped toggle-arrow-tiny" data-show-toggle="false" data-index="@index" data-paging="false" data-paging-size="@size" data-paging-current="@page" data-filtering="true" style="display:none;">
                        <thead>
                            <tr>
                                <th data-name="Slider_Id" data-breakpoints="xs" data-sortable="false" class="text-center">ID</th>
                                <th data-name="Slider_Order" data-visible="false" data-sortable="true" class="text-center">Order</th>
                                <th data-name="Slider_Image" data-breakpoints="xs" class="text-center">@Dictionary.Slider_Image</th>
                                <th data-name="Slider_Image_Mobile" data-breakpoints="sm" class="text-center">@Dictionary.Slider_Image_Mobile</th>
                                <th data-name="Slider_Link" data-breakpoints="xs sm" class="text-center">@Dictionary.Slider_Link</th>
                                <th data-name="Slider_DateStart" data-breakpoints="xs" class="text-center">@Dictionary.Slider_DateStart</th>
                                <th data-name="Slider_DateEnd" data-breakpoints="xs" class="text-center">@Dictionary.Slider_DateEnd</th>
                                <th data-name="Slider_Section" class="text-center">@Dictionary.Slider_IdSection</th>
                                <th data-name="Slider_Status" data-breakpoints="xs sm" class="text-center">@Dictionary.Slider_Status</th>
                                <th class="text-center">Mod</th>
                                <th class="text-center">Del</th>
                            </tr>
                        </thead>
                        <tbody class="sortable" data-table="@Core.Sliders.TABLE" data-keyId="Slider_Id" data-keyValue="Slider_Order">
                            @{
                                foreach (Sliders Slider in slidersList.OrderBy(p => p.Slider_Order).ToList())
                                {
                                    <tr id="@Slider.Slider_Id" index="@Slider.Slider_Order" class="@(Slider.Slider_Id.Equals(Model.Slider.Slider_Id) ? "active" : string.Empty) sortable-item" type="@Slider.Slider_Section.Section_Name.ToLower()" data-id_slider="@Slider.Slider_Id">
                                        <td class="text-center">
                                            <div class="order-arrow">
                                                <span class="index">@Slider.Slider_Order</span>
                                            </div>
                                            @Slider.Slider_Id
                                        </td>
                                        <td class="text-center col-lg-1">@Slider.Slider_Order</td>
                                        <td class="text-center">                                          
                                            <a href="#" class="viewBanner">
                                                <div class="hover-img">
                                                    <img src="@(!string.IsNullOrEmpty(Slider.Slider_Image) ? "/" + Slider.Slider_Image.ToString() : "http://placehold.it/200x150" )" style="max-width: 70px;" />
                                                    <span><img src="@(!string.IsNullOrEmpty(Slider.Slider_Image) ? "/" + Slider.Slider_Image.ToString() : "http://placehold.it/200x150" )" alt="image" height="@(Slider.Slider_ImageType == ImagenType.BANNERHOME ? "90" : "150")" /></span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="viewBanner">
                                                <div class="hover-img">
                                                    <img src="@(!string.IsNullOrEmpty(Slider.Slider_Image_Mobile) ? "/" + Slider.Slider_Image_Mobile.ToString() : "http://placehold.it/150x150" )" style="max-width:50px;" />
                                                    <span><img src="@(!string.IsNullOrEmpty(Slider.Slider_Image_Mobile) ? "/" + Slider.Slider_Image_Mobile.ToString() : "http://placehold.it/150x150" )" alt="image" height="@(Slider.Slider_ImageType == Core.ImagenType.BANNERHOME ? "150" : "150")" /></span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-default @(string.IsNullOrEmpty(Slider.Slider_Link) ? "disabled" : string.Empty) btn-xs" href="@(Slider.Slider_Site.Site_Url + "/" + Slider.Slider_Link)" target="_blank">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">@Slider.Slider_DateStart</td>
                                        <td class="text-center">@Slider.Slider_DateEnd</td>
                                        <td class="text-center">@Slider.Slider_Section.Section_Name</td>
                                        <td class="switch">
                                            <div class="onoffswitch" style="margin:auto;">
                                                <input id="Slider_Status_@Slider.Slider_Id"
                                                       slider_id="@Slider.Slider_Id"
                                                       name="Slider_Status_@Slider.Slider_Id"
                                                       class="onoffswitch-checkbox change_state_slider"
                                                       checked="@Slider.Slider_Status"
                                                       type="checkbox" />
                                                <label class="onoffswitch-label" for="Slider_Status_@Slider.Slider_Id">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-default btn-xs @(Slider.Slider_Id.Equals(Model.Slider.Slider_Id) ? "active" : string.Empty)" href="@Url.Action("BannersUpdate", "Promotions", new { id = Slider.Slider_Id })">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>                                         
                                        </td>
                                        <td align="center">                                          
                                            <button class="btn btn-danger btn-sm btn-link btn-outline" onclick="Delete(@Slider.Slider_Id);"
                                                    type="button" data-toggle="modal" data-target="#modal-new">
                                                <i class="fa fa-trash"></i>
                                            </button>                                        
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-lg-5 form-upload">
                    <form id="frmSlider" validate="true" method="post" autocomplete="off">
                        <div class="clearfix row">
                            @Html.HiddenFor(model => Model.Slider.Slider_Id)
                            @Html.HiddenFor(model => Model.Slider.Slider_IdUser)
                            @Html.HiddenFor(model => Model.Slider.Slider_Status)
                            <div class="form-group col-md-6 col-sm-12">
                                @Html.LabelFor(model => Model.Slider.Slider_IdSite)
                                @{ 
                                    Model.SitesItems_Index = Model.Slider.Slider_IdSite.ToString();
                                    if(Model.Slider.Slider_Id == 0 && Model.SitesList.Count() == 1)
                                    {
                                        Model.SitesItems_Index = Model.SitesList.LastOrDefault().Site_Id.ToString();
                                    }
                                }
                                @Html.DropDownListFor(model => Model.Slider.Slider_IdSite, Model.SitesItems, null, new { @class = "form-control input-sm", @required = "required" })
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                @Html.LabelFor(model => Model.Slider.Slider_IdSection)
                                @{ Model.SectionsItems_Index = Model.Slider.Slider_IdSection.ToString(); }
                                @Html.DropDownListFor(model => Model.Slider.Slider_IdSection, Model.SectionsItems, null, new { @class = "form-control input-sm", @required = "required" })
                            </div>
                        </div>
                        <div class="clearfix row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                @Html.LabelFor(model => Model.Slider.Slider_Link)
                                @Html.EditorFor(model => Model.Slider.Slider_Link, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                @Html.LabelFor(model => Model.Slider.Slider_Alt)
                                @Html.EditorFor(model => Model.Slider.Slider_Alt, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                        </div>
                        <div class="clearfix row">
                            <div class="form-range-dates">
                                <div class="input-daterange input-group date">
                                    <div class="form-group col-sm-6 m-b-sm">
                                        @Html.LabelFor(model => Model.Slider.Slider_DateStart)
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => Model.Slider.Slider_DateStart, new { htmlAttributes = new { @class = "form-control input-sm text-center", @data_format = "L LTS", @required = "required"} })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 m-b-sm">
                                        @Html.LabelFor(model => Model.Slider.Slider_DateEnd)
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => Model.Slider.Slider_DateEnd, new { htmlAttributes = new { @class = "form-control input-sm text-center" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix row">                           
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(model => Model.Slider.Slider_ShowCounter)
                                <div>
                                    @Html.EditorFor(model => Model.Slider.Slider_ShowCounter, new { htmlAttributes = new { @class = "js-switch", @type = "checkbox", @data_switchery = "true", @value = Model.Slider.Slider_ShowCounter } })
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="form-group m-b-sm">
                                    @Html.LabelFor(model => Model.Slider.Slider_EndDays)
                                    @Html.EditorFor(model => Model.Slider.Slider_EndDays, new { htmlAttributes = new { @class = "form-control input-sm", @disabled = "" } })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-group m-b-sm">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-desktop"><i class="fa fa-desktop"></i></a></li>
                                    <li><a data-toggle="tab" href="#tab-mobile"><i class="fa fa-mobile fa-lg"></i></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-desktop" class="tab-pane active">
                                        <div class="panel-body">
                                            <div id="img-upload-1" class="dropzone one clsbox" required></div>
                                        </div>
                                    </div>
                                    <div id="tab-mobile" class="tab-pane">
                                        <div class="panel-body">
                                            <div id="img-upload-2" class="dropzone one clsbox" required></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="buttons" class="text-right">
                            <button id="BtnSave" type="submit" class="btn btn-primary btn-save">
                                @Html.Raw(Model.Slider.Slider_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                            </button>                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">
        @Dictionary.lblSection: <b>@Model.Sliders.Count</b>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function Delete(SlId)
        {
            var risp = confirm("Vuoi eliminare questo banner?");

            
            if (risp == true)
            {
                var URL = "/Promotions/BannersRecordDelete/";
                var Info = { Id: SlId};

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    $.warning("Avviso", "Cancellazione effettuata");

                    //reload
                    window.location.href =  "/Promotions/Banners";
                });
            }
        
        };


        var sections = @Html.Raw(Json.Encode(Model.Sections.Select(s => s.Section_Name)));
        var $form = $('#frmSlider'), dropzoneDesktop, dropzoneMobile;

        /** START CHANGE OF STATE SLIDER **/
        Dropzone.autoDiscover = false;
        $(document).on("change", ".change_state_slider", function () {
            var status = this.checked;
            $.post("@Url.Action("BannersChangeStatus")", {
                slider_id: $(this).attr("slider_id"),
                slider_status: status
            }, function (res) {
                res == 1 ? $.success("SUCCESS", "@General.lblState".format("@Dictionary.lblSection", (status ? "@General.lblActive" : "@General.lblDeactivated"))) : $.error("ERROR", "");
            }).fail(function (response, status, xhr) {
                console.log(response, status, xhr);
            });
        });
        /** END CHANGE OF STATE SLIDER **/

        $(document).on('click', '.input-group-btn .btn-primary', function (e) {
            $('.btn-group').find('.btn').each(function(i, e) {
                $(e).removeClass('active');
            });
        });

        /** START CHANGE OF STATE COUNTDOWN **/
        $(document).on("change", ".change_state_slider_countdown, #Slider_Slider_ShowCounter", function () {
            var status = this.checked;
            if ($(this).hasClass("change_state_slider_countdown")) {
                $.post("@Url.Action("BannersChangeStatusCountdown")", {
                    slider_id: $(this).attr("slider_id"),
                    slider_status: status
                }, function (res) {
                    res == 1 ? $.success("SUCCESS", "@General.lblState".format("Countdown", (status ? "@General.lblActive" : "@General.lblDeactivated"))) : $.error("ERROR", "");
                }).fail(function (response, status, xhr) {
                    console.log(response, status, xhr);
                });
            }

            if ($(this).hasClass("js-switch")) {
                $("#Slider_Slider_EndDays").prop("disabled", !status);
            }
        });
        /** END CHANGE OF STATE COUNTDOWN **/
        if(sections && sections.length > 1){
            FooTable.Filtering = FooTable.Filtering.extend({
                construct: function (instance) {
                    this._super(instance);
                    this.sections = sections;
                    this.def = 'All Sections';
                    this.$sections = null;
                },
                $create: function(){
                    this._super();
                    var self = this;
                    var $form_grp = $('<div/>', {'class': 'form-group'}).append($('<label/>', {'class': 'sr-only', text: 'Slider_Section'})).prependTo(self.$form);
                    $form_grp.append("<a class='btn btn-primary btn-xs' href='/Promotions/Banners'>Tutti</a>");
                    self.$sections = $('<select/>', { 'class': 'form-control input-sm' }).on('change', { self: self }, self._onStatusDropdownChanged).append($('<option/>', { text: self.def })).appendTo($form_grp);
                    $.each(self.sections, function(i, section){
                        self.$sections.append($('<option/>').text(section.toUpperCase()).val(section));
                    });
                },
                _onStatusDropdownChanged: function(e){
                    var self = e.data.self, selected = $(this).val();
                    selected !== self.def ? self.addFilter('Slider_Section', selected, ['Slider_Section']) : self.removeFilter('Slider_Section');
                    self.filter();
                },
                draw: function(){
                    this._super();
                    var section = this.find('Slider_Section');
                    section instanceof FooTable.Filter ? this.$sections.val(section.query.val()) : this.$sections.val(this.def);
                }
            });
        }

        $(document).ready(function () {
            FooTable.components.register('filtering', FooTable.Filtering);
            var $table = $('#table-banners');
            var $sortable = $table.find("tbody");
            $table.footable({
                on: {
                    "postdraw.ft.table" : function() {
                        //var filtering = FooTable.get($table).use(FooTable.Filtering);
                        //if(filtering && filtering.filters.length){
                            $sortable.sortable("enable");
                            $table.find(".order-arrow").addClass("show");
                        //}
                        //else{
                        //    $sortable.sortable("disable");
                        //    $table.find(".order-arrow").removeClass("show");
                        //}
                    }
                }
            });

            $sortable.sortableDB({
                table: "@Sliders.TABLE",
                keyId: "Slider_Id",
                keyValue: "Slider_Order"
            });


            var UrlsDesktop = @(!string.IsNullOrEmpty(Model.Slider.Slider_Image) ? Html.Raw("[\"/" + Model.Slider.Slider_Image + "\"]") : Html.Raw("[]"));
            dropzoneDesktop = initializeDropzone("#img-upload-1", {
                URL: "@Url.Action("UploadFile")",
                AUTOQUEUE: false,
                AUTOPROCESSQUEUE: false,
                PARAMNAME: "file",
                ACCEPTEDFILES: "image/*",
                MAXFILES: 1,
                MAXFILESIZE: 2,
                UPLOADMULTIPLE: false,
                THUMBNAILWIDTH: 400,
                THUMBNAILHEIGHT: 100,
                WIDTH: @ImagesTypes.Instance().GetImageType(ImagenType.BANNERHOME).ImageType_Width,
                HEIGHT: @ImagesTypes.Instance().GetImageType(ImagenType.BANNERHOME).ImageType_Height,
                DICTDEFAULTMESSAGE: "Upload your file size desktop here",
                THUMBNAILURLS: UrlsDesktop,
                INPUTSVALIDATE: function () {
                    return $("#Slider_Slider_ImageType").val() != '' && $("#Slider_Slider_IdSite").val() != '' && $("#Slider_Slider_DateStart").val() != '';
                },
            });

            var UrlsMobile = @(!string.IsNullOrEmpty(Model.Slider.Slider_Image_Mobile) ? Html.Raw("[\"/" + Model.Slider.Slider_Image_Mobile  + "\"]") : Html.Raw("[]"));
            dropzoneMobile = initializeDropzone("#img-upload-2", {
                URL: "@Url.Action("UploadFile")",
                AUTOQUEUE: false,
                AUTOPROCESSQUEUE: false,
                PARAMNAME: "file",
                ACCEPTEDFILES: "image/*",
                MAXFILES: 1,
                MAXFILESIZE: 2,
                UPLOADMULTIPLE: false,
                THUMBNAILWIDTH: 150,
                THUMBNAILHEIGHT: 130,
                WIDTH: @ImagesTypes.Instance().GetImageType(ImagenType.BANNERHOMEMOBILE).ImageType_Width,
                HEIGHT: @ImagesTypes.Instance().GetImageType(ImagenType.BANNERHOMEMOBILE).ImageType_Height,
                DICTDEFAULTMESSAGE: "Upload your file size mobile here",
                THUMBNAILURLS: UrlsMobile,
                INPUTSVALIDATE: function () {
                    return $("#Slider_Slider_ImageType").val() != '' && $("#Slider_Slider_IdSite").val() != '' && $("#Slider_Slider_DateStart").val() != '';
                },
            });
            /** END INITIALIZE DROPZONE **/

            /** START SUBMIT FORM **/
            $form.on('submit', function (e) {
                e.preventDefault();
                e.stopPropagation();
                var $form = $(this);
                if ($form.valid() && $form.find(".dropzone").validarDropzones()){
                    var $btn = $form.find(".btn-save").button("loading");
                    var Slider = $(this).getValues("Slider.", "");
                    var formData = new FormData($form[0])
                    var file_desktop = Dropzone.forElement("#img-upload-1").files[0];
                    var file_mobile = Dropzone.forElement("#img-upload-2").files[0];

                    formData.append("Slider_Image",             "@Model.Slider.Slider_Image");
                    formData.append("Slider_Image_Mobile",      "@Model.Slider.Slider_Image_Mobile");
                    formData.append("Slider_Id",                $("#Slider_Slider_Id").val());
                    formData.append("Slider_IdSite",            $("#Slider_Slider_IdSite").val());
                    formData.append("Slider_IdUser",            $("#Slider_Slider_IdUser").val());
                    formData.append("Slider_IdSection",         $("#Slider_Slider_IdSection").val());
                    formData.append("Slider_ImageType",         "@ImagenType.BANNERHOME");
                    formData.append("Slider_ImageType_Mobile",  "@ImagenType.BANNERHOMEMOBILE");
                    formData.append("Slider_Status",            $("#Slider_Slider_Status").val());
                    formData.append("Slider_ShowCounter",       $("#Slider_Slider_ShowCounter").val());
                    formData.append("Slider_Alt",               $("#Slider_Slider_Alt").val());
                    formData.append("Slider_DateStart",         $("#Slider_Slider_DateStart").val());
                    formData.append("Slider_DateEnd",           $("#Slider_Slider_DateEnd").val());
                    formData.append("Slider_EndDays",           $("#Slider_Slider_EndDays").val());
                    formData.append("Slider_Link",              $("#Slider_Slider_Link").val());
                    formData.append("Slider_Order",             $("#Slider_Slider_Order").val());
                    formData.append("file_desktop",             file_desktop);
                    formData.append("file_mobile",              file_mobile);

                    $.ajax({
                        url: "@Url.Action("UploadFile")",
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result,status,xhr) {
                            $.success("SUCCESS", "@General.lblState".format("content of @Dictionary.lblSection", "update"));
                            $.reload();
                        },
                        error: function (xhr, status, error) {
                            $.error("ERROR", "@General.lblMsgError");
                            console.log(response, status, xhr);
                        },
                        always: function(){
                            $btn.button("reset");
                        }
                    });

                    return false;
                }
                return false;
            });
            /** END SUBMIT FORM **/
        });
    </script>
}