﻿@using Core;
@using BackOfficeAcquaJoss.Models;
@model PromotionsAddonsModel
@{
    List<Products> Products = Model.Products.Where(x => x.Product_Calendarized == true).ToList();

    //default null value
    //Products.Insert(0, new Products());

    List<ParkOperational> parkOperationalList = Model.ParkOperationals;
    ParkOperational parkOperational = parkOperationalList.FirstOrDefault(i => i.ParkOperational_Status.Equals(true));
    List<ParkCalendar> calendarList = Model.ParksCalendars.FindAll(i => i.ParkCalendar_IdOperational.Equals(parkOperational.ParkOperational_Id));
    List<ProductsCalendar> ProductsCalendars = Model.PromotionsAddons;

    DateTime Today = Impostazioni.ConvertiDataDateFormatTwo(Impostazioni.DataOggi());
    calendarList = calendarList.Where(x => x.ParkCalendar_Date >= Today).ToList();


    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Calendar Products");
}

@section css {
    <style>
        .day {
            box-shadow: none !important;
        }

            .day.assigned.active {
                border: 2px dashed #1a7bb9 !important;
            }
        /*.calendar-context-menu .item:last-child { display: none; }*/
    </style>
}

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 100px;">
        <div class="modal-content">
            <div class="modal-body p-xxs">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-calendar" aria-hidden="true"></i> Calendar Products Addons</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up hide"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">
                <div id="calendar-container">
                    @if (parkOperational != null && parkOperational.ParkOperational_Id > 0)
                    {
                        <div class="clearfix row">
                            <div class="form-group col-xs-8 col-sm-7 col-md-9 m-b-none">
                                <h3 class="m-n">@parkOperational.ParkOperational_Code</h3>
                                <small>@parkOperational.ParkOperational_DateStart.ToShortDateString() - @parkOperational.ParkOperational_DateEnd.ToShortDateString()</small>
                                <small>* <b>left click</b> to select and <b>right click</b> for more options</small>
                            </div>
                        </div>
                    }
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-products-calendar" class="modal">
    <div class="modal-dialog">
        <form class="modal-content animated fadeIn" action="/promotions/DealsAddonsManage/" method="post" data-toggle="validator">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Calendario Prodotto</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8">
                            <label>PRODOTTO</label>
                            @{ Model.ProductsItems_Index = null; }
                            @Html.DropDownList("Product_Id", new SelectList(Products, "Product_Id", "Product_Name"), new { @class = "form-control input-sm select-product", @required = "required", Name = "product_id" })
                            <div>
                                <small id="schedule_description_container" style="display:none;">
                                    <span><i id="schedule_color" class="fa fa-circle"></i> </span>
                                    <span>Description: </span>
                                    <span id="schedule_description"></span>
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>ESCLUDI DA PROMOZIONE</label>
                            <div>
                                <input class="js-switch check-box" data-switchery="true" id="Product_EventExclude" type="checkbox" value="False" />
                            </div>
                            <input type="hidden" name="productEventExclude" value="null" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Data</label>
                    <ul id="selected-dates" class="list-inline"></ul>
                </div>
                <input type="hidden" id="Product_Calendar_Id" name="productsCalendar_Id" value="0" required />
            </div>
            <div class="modal-footer">
                <button id="btn-close" class="btn btn-white" type="button" data-dismiss="modal">Close</button>
                <button id="btn-save" class="btn btn-primary" type="submit">SAVE <i class="fa fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        var parkOperational = @Html.Raw(Json.Encode(parkOperational));
        var calendarList = @Html.Raw(Json.Encode(calendarList.Select(i => new {
                          ParkCalendar_Id = i.ParkCalendar_Id,
                          ParkCalendar_IdOperational = i.ParkCalendar_IdOperational,
                          ParkCalendar_Date = i.ParkCalendar_Date,
                          ParkCalendar_DateFormat = i.ParkCalendar_DateFormat,
                          ParkCalendar_Status = i.ParkCalendar_Status,
                          ParkCalendar_CreationDate = i.ParkCalendar_CreationDate,
                          ParkOperational = new { ParkOperational_Id = i.ParkOperational.ParkOperational_Id, ParkOperational_Color = i.ParkOperational.ParkOperational_Color } })));
        var calendarListDates = getDatesList(calendarList);
        var productsCalendarList = @Html.Raw(Json.Encode(ProductsCalendars));

        var $Calendar = $("#calendar");
        var $CalendarProducts = null;
        var $ModalProductsClendar = $("#modal-products-calendar");

        $("#btn-save").click( function(){
            $('#loader').modal('show');
        });

        $(document).ready(function () {
            var productsCalendarListDataSource = productsCalendarList.map(i => ({
                id: i.Product_Calendar_Id,
                name: i.Product_Name.toLocaleUpperCase(),
                startDate: i.Product_DateFormat.toMoment().toDate(),
                endDate: i.Product_DateFormat.toMoment().toDate(),
                color: `#${intToRGB(hashCode(i.Product_Name.toLocaleUpperCase()))}`,
                ProductsCalendar: {
                    Product_Calendar_Id: i.Product_Calendar_Id,
                    Product_Id: i.Product_Id,
                    Product_Date: i.Product_DateFormat.toMoment().format(dateTimeFormatDB),
                    Product_EventExclude: i.Product_EventExclude
                }
            }));

            $CalendarProducts = $Calendar.calendar({
                //style: "custom",
                language: lang,
                startYear: parkOperational && parkOperational.ParkOperational_DateStart ? parkOperational.ParkOperational_DateStartFormat.toDate().getFullYear() : new Date().getFullYear(),
                minDate: parkOperational && parkOperational.ParkOperational_DateStart ? parkOperational.ParkOperational_DateStartFormat.toDate() : null,
                maxDate: parkOperational && parkOperational.ParkOperational_DateEnd ? parkOperational.ParkOperational_DateEndFormat.toDate() : null,
                hideEmptyMonths: true,
                //enableContextClear: true,
                enableRangeSelection: true,
                enableContextMenuCustom: true,
                //enableContextMenu: false,

                contextMenuCustomItems: [
                   {
                       text: 'Insert product',
                       click: function (e) {
                           $("#Product_Id").val(0);

                           var selected = e.selected;
                           if (selected.length) {
                               var $ulDates = $ModalProductsClendar.find("#selected-dates");
                               $ulDates.empty();
                               $ModalProductsClendar.find(".date").remove();
                               $.each(selected.dates, function () {
                                   var date = moment(this);
                                   $ulDates.append($("<li/>").text(date.format("L")));
                                   $ModalProductsClendar.find("form").append('<input type="hidden" class="date" name="dates[]" value="' + date.format(dateTimeFormatDB) + '"/>');
                               });
                               $ModalProductsClendar.modal("show");
                           } else {
                               $.warning("Dates", "Please select at least one date without schedule");
                           }
                       }
                   },
                ],

                dayContextMenu: function (e) {
                    var element = e.element, date = e.date, events = e.events;
                    $(".calendar-context-menu:not(:visible)").remove();
                    if((events.length > 0 && element.hasClass("assigned")) && !element.hasClass("active")){
                        $CalendarProducts.options.enableContextMenuCustom = false;
                        $CalendarProducts.options.enableContextMenu = true;
                        $(element).popover('hide');
                        $(".calendar-context-menu > .item").last().remove();
                    }else{
                        $CalendarProducts.options.enableContextMenu = false;
                        $CalendarProducts.options.enableContextMenuCustom = true;
                        $(".calendar-context-menu > .item").last().remove();
                    }
                    element.addClass('contextMenu');
                    //$CalendarProducts.setStyle("custom");
                },

                dayContextMenuHide: function (e) {
                    var element = e.element, date = e.date, events = e.events;
                    element.removeClass('contextMenu');
                },

                contextMenuItems: [
                    {
                        text: 'Update',
                        click: function (event) {
                            var $this = $(this);
                            $ModalProductsClendar.find("#Product_Calendar_Id").setValue(event.ProductsCalendar.Product_Calendar_Id);
                            $ModalProductsClendar.find("#Product_Id").setValue(event.ProductsCalendar.Product_Id);
                            $ModalProductsClendar.find("#Product_EventExclude").checked(event.ProductsCalendar.Product_EventExclude).trigger("change");
                            var $ulDates = $ModalProductsClendar.find("#selected-dates");
                            $ulDates.empty();
                            $ModalProductsClendar.find(".date").remove();
                            var date = event.startDate.toLocaleDateString().toMoment();
                            $ulDates.append($("<li/>").text(date.format("L")));
                            $ModalProductsClendar.find("form #selected-dates").parent().append('<input type="hidden" class="date" name="dates[]" value="' + date.format(dateTimeFormatDB) + '"/>');
                            $ModalProductsClendar.modal("show");
                        },
                    },
                    {
                        text: 'Delete',
                        click: function (event) {
                            $('#loader').modal('show');
                            if (event) {
                                $.post("/promotions/DealsDelete/", {
                                    product_id: null,
                                    dates: null,
                                    productsCalendarRemove: event.ProductsCalendar
                                }, function (res) {
                                    $.success("SUCCESS", "The product was successfully eliminated");
                                    $.reload();
                                });
                            } else {
                                $.error("ERROR", "First add a schedule in the date selected");
                            }
                        }
                    }
                ],

                clickDay: function (e) {
                    var element = e.element, date = e.date, events = e.events;
                    var $element = $(element);
                    //if (!$element.hasClass("assigned"))
                    $element.toggleClass('active btn-success');
                },

                selectRange: function (e) {
                    var element = e.element, elements = e.elements, date = e.date, events = e.events;
                    if (elements.length > 1) {
                        //editEvent({ startDate: e.startDate, endDate: e.endDate });
                        $(elements).each(function () {
                            //if (!$(this).hasClass("assigned"))
                            $(this).addClass('active btn-success');
                        });
                    }
                },

                customDayRenderer: function (element, date) {
                    var $element = $(element);
                    var parkCalendar = calendarList.find(c => c.ParkCalendar_DateFormat.toMoment().format("L") == moment(date).format("L") && c.ParkCalendar_Status);
                    if (parkCalendar) {
                        var productCalendar = productsCalendarList.find(i => i.Product_DateFormat.toMoment().format("L") == moment(date).format("L"));
                        if (productCalendar && productCalendar.Product_Calendar_Id > 0) { //&& productCalendar.ParkCalendarSchedule_Status
                            var _idProductCalendar = productCalendar.Product_Calendar_Id;
                            var _idProduct = productCalendar.Product_Calendar_Id;
                            var _name = productCalendar.Product_Name;
                            $element.closest(".day")
                                //.attr({
                                //    "idProductsCalendar": _idProductCalendar,
                                //    "idProduct": _idProduct
                                //})
                                .addClass("assigned")
                                .css({
                                    "background-color": parkCalendar.ParkOperational.ParkOperational_Color,//`#${intToRGB(hashCode(_name.toLocaleUpperCase()))}`
                                });
                        }
                    } else {
                        $element.closest('.day').addClass('disabled').css("pointer-events", "none");;
                    }
                },

                renderEnd: function (e) {
                    if ($CalendarProducts && calendarList && calendarList.length) {
                        $CalendarProducts.setDatesSelected(calendarListDates.filter(c => c.getFullYear() == $CalendarProducts.getYear()));
                    }
                    $(this).find('.active').removeClass('active');
                },

                mouseOnDay: function(e) {
                    var element = e.element, date = e.date, events = e.events;
                    var _container = $(element.target);
                    if(events.length > 0) {
                        var content = '';

                        for(var i in events) {
                            content += '<div class="event-tooltip-content">'
                                            + '<div class="product-name" style="color:' + events[i].color + '">' + events[i].name + '</div>'
                                        + '</div>';
                        }

                        $(element).popover({
                            trigger: 'manual',
                            container: '#calendar-container',
                            html:true,
                            content: content,
                            placement: 'auto'
                        });

                        $(element).popover('show');
                        if(element.hasClass("assigned") && !element.hasClass("active")){
                            $CalendarProducts.options.enableContextMenuCustom = false;
                            $CalendarProducts.options.enableContextMenu = true;
                        }else{
                            $CalendarProducts.options.enableContextMenu = false;
                            $CalendarProducts.options.enableContextMenuCustom = true;
                        }
                    }else{
                        $CalendarProducts.options.enableContextMenu = false;
                        $CalendarProducts.options.enableContextMenuCustom = true;
                    }
                },
                mouseOutDay: function(e) {
                    var element = e.element, date = e.date, events = e.events;
                    if(events.length > 0) {
                        $(element).popover('hide');
                    }
                },

                dataSource: productsCalendarListDataSource,

                customDataSourceRenderer: function(element, date, events)
                {
                    //var element = e.element, date = e.date, events = e.events;
                    //console.log(element, date, events);
                },
            });
            //$CalendarProducts.setDatesSelected(calendarListDates);

            $("#Product_EventExclude").on("change", function(e){
                var $this = $(this);
                var value = $this.is(":checked") ? true : false;
                $("[name='productEventExclude']").setValue(value);
            });
        });

        function getDatesList(calendar){
            var dates = [];
            $(calendar).each(function(){
                if(this.ParkCalendar_Status) dates.push(this.ParkCalendar_DateFormat.toDate());
            });
            return dates;
        }

        function hashCode(str) { // java String#hashCode
            var hash = 0;
            for (var i = 0; i < str.length; i++) {
                hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }
            return hash;
        }

        function intToRGB(i){
            var c = (i & 0x00FFFFFF)
                .toString(16)
                .toUpperCase();

            return "00000".substring(0, 6 - c.length) + c;
        }
    </script>
}

