﻿@using Core;
@using Dictionary = Core.Resources.Promotions;
@using General = Core.Resources.General;

@model BackOfficeAcquaJoss.Models.PromotionsModel
@{
    int size = 7;
    double index = 0;
    double page = 0;

    List<Products> Products = ViewBag.Products;
    int AddonId = ViewBag.AddonId;

    //default null value
    Products.Insert(0, new Products());

    List<Promotions> prmotionsList = Model.Promotions.OrderBy(s => s.PromotionDeal_DateStart).ToList();

    if (Model.Promotion == null)
    {
        Model.Promotion = new Promotions();
        //Model.Promotion.Slider_IdUser = Global.UserProfile.User_Id;
        Model.Promotion.PromotionDeal_DateStart = DateTime.Now;
    }
    else
    {
        //selected record
        prmotionsList = prmotionsList.Where(x => x.PromotionDeal_Code == Model.Promotion.PromotionDeal_Code).ToList();

        index = prmotionsList.FindIndex(s => s.PromotionDeal_Id.Equals(Model.Promotion.PromotionDeal_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }

    DateTime dd = Model.Promotion.PromotionDeal_DateStart;
    Model.Promotion.PromotionDeal_DateStart = dd.Date;

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", Dictionary.lblSection);
}


<style type="text/css">
    .fa-lg {
        font-size: 1.666666em;
    }

    .dropzone .dz-preview .dz-image {
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }

    /* Start Table */

    .table-fixed {
        width: 100%;
    }

    #table-deals tbody {
        height:100%;
        overflow-y:auto;
        width: 100%;
    }

    #table-deals thead,
    #table-deals tbody,
    #table-deals tr,
    #table-deals td,
    #table-deals th {
        display:block;
      }

    .footable a {
        color: gray !important;
        background: white !important;
    }

    .error:not(label) {
        border: 1px dotted #cc5965 !important;
    }
    /* End Table */
</style>

<section id="Deals">
    <div class="clearfix">
        <div class="ibox-title">
            <h5><i class="fa fa-desktop"></i> @Dictionary.lblSection</h5>
            <div class="ibox-tools">
                <a class="btn btn-primary btn-xs" href="@Url.Action("Deals")"> @string.Format(General.lblNew, Dictionary.lblSection)</a>
            </div>
        </div>
        <div class="ibox-content clearfix">
            <div class="row">
                <div class="col-sm-8 col-lg-7 table-responsivex">
                    <table id="table-deals" class="table footable table-order 
                           table-striped table-hover table-fixed" 
                           data-show-toggle="false" data-index="@index" 
                    data-paging="false" data-paging-size="@size" 
                    data-paging-current="@page" data-filtering="true" 
                    data-sorting="true" style="width: 100%; display:none;">
                        <thead>
                            <tr>
                                <th data-name="PromotionDeal_Id" data-breakpoints="xs" data-sortable="false" class="text-center" style="width: 80px;">ID</th>
                                <th data-name="PromotionDeal_Order" data-visible="false" data-sortable="true" class="text-center">Order</th>
                                <th data-name="PromotionDeal_Code" data-sortable="false" class="text-center" style="width: 160px;">Code</th>
                                <th data-name="PromotionDeal_Link" data-breakpoints="xs" data-sortable="false" class="text-center" style="width: 80px;">Link</th>
                                <th data-name="PromotionDeal_Title" data-sortable="false" class="text-center" style="width: 160px;">Title</th>
                                <th data-name="PromotionDeal_DateStart" data-breakpoints="xs" data-sortable="false" class="text-center" style="width: 100px;">Start Date</th>
                                <th data-name="PromotionDeal_DateEnd" data-breakpoints="xs" data-sortable="false" class="text-center" style="width: 100px;">End Date</th>
                                <th data-name="PromotionDeal_Status" data-sortable="false" data-type="html" class="text-center" style="width: 80px;">Status</th>
                                <th data-name="PromotionDeal_Pack" data-sortable="false" data-type="html" class="text-center" style="width: 80px;">Pack</th>
                                <th data-sortable="false" class="text-center" style="width: 80px;">Mod</th>
                                <th data-sortable="false" class="text-center" style="width: 80px;">Del</th>
                            </tr>
                        </thead>
                        <tbody class="sortable" data-table="@Promotions.TABLE" data-keyId="PromotionDeal_Id" data-keyValue="PromotionDeal_Order">
                            @{
                                foreach (Promotions promotion in prmotionsList.OrderBy(p => p.PromotionDeal_Order).ToList())
                                {
                                    <tr id="@promotion.PromotionDeal_Id" index="@promotion.PromotionDeal_Order" class="@(promotion.PromotionDeal_Id.Equals(Model.Promotion.PromotionDeal_Id) ? "active" : string.Empty) sortable-item" data-id_promotion="@promotion.PromotionDeal_Id">
                                        <td class="text-center" style="width: 80px;">
                                            <div class="order-arrow">
                                                <span class="index">@promotion.PromotionDeal_Order</span>
                                            </div>
                                            @promotion.PromotionDeal_Id
                                        </td>
                                        <td class="text-center">@promotion.PromotionDeal_Order</td>
                                        <td class="text-center" style="width: 160px;">
                                            <a href="#" class="viewBanner">
                                                <div class="hover-img">
                                                    @{
                                                        PromotionsImage viewImage = promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType.Contains(ImagenType.PROMOTIONTHUMBNAIL) && i.PromotionImage_Status == true);
                                                        string urlViewImage = (viewImage != null ? viewImage.PromotionImage_Url : "http://placehold.it/150x150");
                                                    }
                                                    <img src="@urlViewImage" style="max-width: 50px;" onError="this.src = 'http://placehold.it/150x150';" />
                                                </div>
                                            </a>
                                            @promotion.PromotionDeal_Code
                                        </td>
                                        <td class="text-center" style="width: 80px;">
                                            <a class="btn btn-default @(string.IsNullOrEmpty(promotion.PromotionDeal_Link) ? "disabled" : string.Empty) btn-xs" href="@(promotion.Promotion_Site.Site_Url + "/" + promotion.PromotionDeal_Link)" target="_blank">
                                                <i class="fa fa-link" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td class="text-center" style="width: 160px;">@promotion.PromotionDeal_Title</td>
                                        <td class="text-center" style="width: 100px;">@promotion.PromotionDeal_DateStart</td>
                                        <td class="text-center" style="width: 100px;">@promotion.PromotionDeal_DateEnd</td>
                                        @*<td><span class=""><i class="flag flag-icon-us"></i></span></td>*@
                                        <td class="switch text-center" style="width: 80px;">
                                            <p class="hide">@promotion.PromotionDeal_Status</p>
                                            <div class="onoffswitch" style="margin:auto;">
                                                <input id="Promotion_Status_@promotion.PromotionDeal_Id"
                                                        promotion_id="@promotion.PromotionDeal_Id"
                                                        name="Promotion_Status_@promotion.PromotionDeal_Id"
                                                        class="onoffswitch-checkbox change_state_promotion"
                                                        data-parameter="promotion_status"
                                                        checked="@promotion.PromotionDeal_Status"
                                                        value="@promotion.PromotionDeal_Status.ToString()"
                                                        type="checkbox" />
                                                <label class="onoffswitch-label" for="Promotion_Status_@promotion.PromotionDeal_Id">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="switch text-center" style="width: 80px;">
                                            <p class="hide">@promotion.PromotionDeal_Pack</p>
                                            <div class="onoffswitch" style="margin:auto;">
                                                <input id="PromotionDeal_Pack_@promotion.PromotionDeal_Id"
                                                        promotion_id="@promotion.PromotionDeal_Id"
                                                        name="PromotionDeal_Pack_@promotion.PromotionDeal_Id"
                                                        class="onoffswitch-checkbox change_state_promotion"
                                                        data-parameter="promotion_pack"
                                                        checked="@promotion.PromotionDeal_Pack"
                                                        value="@promotion.PromotionDeal_Pack.ToString()"
                                                        type="checkbox" />
                                                <label class="onoffswitch-label" for="PromotionDeal_Pack_@promotion.PromotionDeal_Id">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center" style="width: 80px;">
                                            <a id="BtnSel" class="btn btn-default btn-xs @(promotion.PromotionDeal_Id.Equals(Model.Promotion.PromotionDeal_Id) ? "active" : string.Empty)" href="@Url.Action("DealsSelect", "Promotions" ,new {id = promotion.PromotionDeal_Id })">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td class="text-center" style="width: 80px;">
                                            <button class="btn btn-danger btn-sm btn-link btn-outline" onclick="Delete(@promotion.PromotionDeal_Id);"
                                                    type="button" data-toggle="modal" data-target="#modal-new">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-lg-5 form-upload">
                    <form id="frmDeal" validate="true" method="post" autocomplete="off">
                        <div class="clearfix row">
                            @Html.HiddenFor(model => Model.Promotion.PromotionDeal_Id, new { Id = "PromotionDeal_Id", Name = "PromotionDeal_Id" })
                            @*@Html.HiddenFor(model => Model.Promotion.Slider_IdUser)*@
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Url Sito Web</label>
                                @{
                                    Model.SitesItems_Index = Model.Promotion.PromotionDeal_CodeSite.ToString();
                                    if (Model.Promotion.PromotionDeal_Id == 0 && Model.SitesList.Count() == 1)
                                    {
                                        Model.SitesItems_Index = Model.SitesList.LastOrDefault().Site_Id.ToString();
                                    }
                                }
                                @Html.DropDownListFor(model => Model.Promotion.PromotionDeal_CodeSite, Model.SitesItems, null, new { Id = "PromotionDeal_CodeSite", Name = "PromotionDeal_CodeSite", @class = "form-control input-sm", @required = "required" })
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Link</label>
                                @Html.EditorFor(model => Model.Promotion.PromotionDeal_Link, new { htmlAttributes = new { Id = "PromotionDeal_Link", Name = "PromotionDeal_Link", @class = "form-control input-sm", @required = "required" } })
                            </div>
                        </div>
                        <div class="clearfix row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label>Codice sconto</label>
                                @Html.EditorFor(model => Model.Promotion.PromotionDeal_Code, new { htmlAttributes = new { Id = "PromotionDeal_Code", Name = "PromotionDeal_Code", @class = "form-control input-sm", @required = "required", MaxLength = "20", MinLength = "5" } })
                            </div>
                            <div class="form-group col-md-3 col-sm-12 hidden">
                                @Html.LabelFor(model => Model.Promotion.PromotionDeal_Order)
                                @Html.EditorFor(model => Model.Promotion.PromotionDeal_Order, new { htmlAttributes = new { Id = "PromotionDeal_Order", Name = "PromotionDeal_Order", @class = "form-control input-sm" } })
                            </div>
                            <div class="form-group col-md-3 col-sm-12 m-b-sm">
                                <label>Status</label>
                                <div>
                                    <input id="PromotionDeal_Status" name="PromotionDeal_Status" @(Model.Promotion.PromotionDeal_Status == true ? "checked" : " ") class="js-switch check-box" data-switchery="true" data-val="true" type="checkbox" value="true">
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-sm-12 m-b-sm">
                                <label>Package</label>
                                <div>
                                    <input id="PromotionDeal_Pack" name="PromotionDeal_Pack" @(Model.Promotion.PromotionDeal_Pack == true ? "checked" : " ") class="js-switch check-box" data-switchery="false" data-val="false" type="checkbox" value="false">
                                </div>
                            </div>
                        </div>


                        <div class="clearfix row">
                           
                            <div class="form-group col-sm-8">
                                <label>Prodotto associato</label>
                                @{ Model.ProductsItems_Index = null; }
                                @Html.DropDownList("Product_Id", new SelectList(ViewBag.Products, "Product_Id", "Product_Name"), new { @class = "form-control input-sm select-product", @required = "required", Name = "product_id" })
                                <div>
                                    <small id="schedule_description_container" style="display:none;">
                                        <span><i id="schedule_color" class="fa fa-circle"></i> </span>
                                        <span>Description: </span>
                                        <span id="schedule_description"></span>
                                    </small>
                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <a id="BtnTest" class="btn btn-primary btn" style="margin: 10px;" href="#">Test</a>
                            </div>

                        </div>

                        <div class="clearfix row">
                            <div class="form-group col-sm-6">
                                <label>Titolo</label>
                                @Html.EditorFor(model => Model.Promotion.PromotionDeal_Title, new { htmlAttributes = new { Id = "PromotionDeal_Title", Name = "PromotionDeal_Title", @class = "form-control input-sm", @required = "required", MaxLength = "100", MinLength = "5" } })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Descrizione breve</label>
                                @Html.EditorFor(model => Model.Promotion.PromotionDeal_ShortDescription, new { htmlAttributes = new { Id = "PromotionDeal_ShortDescription", Name = "PromotionDeal_ShortDescription", @class = "form-control input-sm", @required = "required", MaxLength = "140", MinLength = "5" } })
                            </div>

                            <div class="form-group col-sm-6">
                                <label>Info Intero(Default: Intero)</label>
                                @Html.EditorFor(model => Model.Promotion.PromotionDeal_FullTicketText, new { htmlAttributes = new { Id = "PromotionDeal_FullTicketText", Name = "PromotionDeal_FullTicketText", @class = "form-control input-sm", MaxLength = "100", MinLength = "5" } })
                            </div>

                            <div class="form-group col-sm-6">
                                <label>Info Ridotto(Default: Bambini da 100 a 130 cm)</label>
                                @Html.EditorFor(model => Model.Promotion.PromotionDeal_ReducedTicketText, new { htmlAttributes = new { Id = "PromotionDeal_ReducedTicketText", Name = "PromotionDeal_ReducedTicketText", @class = "form-control input-sm", MaxLength = "100", MinLength = "5" } })
                            </div>

                        </div>
                        <div class="clearfix row">
                            <div class="form-range-dates">
                                <div class="input-daterange input-group date">
                                    <div class="form-group col-sm-6 m-b-sm">
                                        <label>Data Inizio</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => Model.Promotion.PromotionDeal_DateStart, new { htmlAttributes = new { Id = "PromotionDeal_DateStart", Name = "PromotionDeal_DateStart", @class = "form-control input-sm text-center", @data_format = "L LTS", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 m-b-sm">
                                        <label>Data Fine</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            @Html.EditorFor(model => Model.Promotion.PromotionDeal_DateEnd, new { htmlAttributes = new { Id = "PromotionDeal_DateEnd", Name = "PromotionDeal_DateEnd", @class = "form-control input-sm text-center", @required = "required" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix row">
                            <div class="col-sm-12 form-group m-b-sm">
                                <div class="form-group m-b-sm">
                                    <label>Descrizione</label>
                                    <div class="editor">
                                        @Html.TextAreaFor(model => Model.Promotion.PromotionDeal_Description, new { Id = "PromotionDeal_Description", Name = "PromotionDeal_Description", @class = "form-control text_editor", Required = "required", MaxLength = "3000" })
                                        <label id="PromotionDeal_Description-msn" class="error" for="PromotionDeal_Description" style="display: none;">This field is required</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-group m-b-sm">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-thumbnail"><i class="fa fa-image"></i></a></li>
                                    <li><a data-toggle="tab" href="#tab-desktop"><i class="fa fa-desktop"></i></a></li>
                                    <li><a data-toggle="tab" href="#tab-mobile"><i class="fa fa-mobile fa-lg"></i></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-thumbnail" class="tab-pane active">
                                        <div class="panel-body">
                                            <div id="Promotion_Thumbnail" class="dropzone one" data-name="thumbnail" required></div>
                                        </div>
                                    </div>
                                    <div id="tab-desktop" class="tab-pane">
                                        <div class="panel-body">
                                            <div id="Promotion_Image" class="dropzone one" data-name="desktop" required></div>
                                        </div>
                                    </div>
                                    <div id="tab-mobile" class="tab-pane">
                                        <div class="panel-body">
                                            <div id="Promotion_Mobile" class="dropzone one" data-name="mobile" required></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="buttons" class="text-right">
                            <button type="submit" class="btn btn-primary btn-save">
                                @Html.Raw(Model.Promotion.PromotionDeal_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">
        @Dictionary.lblSection: <b>@Model.Promotions.Count</b>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        function Delete(Id) {
            var risp = confirm("Vuoi eliminare questa promozione?");


            if (risp == true) {
                var URL = "/Promotions/DealsRecordDelete/";
                var Info = { Id: Id };
                
                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    $.warning("Avviso", "Cancellazione effettuata");

                    //reload
                    window.location.href = "/Promotions/Deals";
                });
            }

        };

        var $form = $('#frmDeal'), $table = $('#table-deals'), dropzoneThumbnail, dropzoneDesktop, dropzoneMobile;


        /** START CHANGE OF STATE SLIDER **/
        Dropzone.autoDiscover = false;
        $(document).on("change", ".change_state_promotion", function (e) {
            console.log($(e.currentTarget).data("parameter"));
            var parameter = $(e.currentTarget).data("parameter");
            var status = this.checked;
            this.value = status ? "True" : "False";
            $(this).closest("td").find("p.hide").text(status ? "True" : "False");


            $.post("@Url.Action("DealsChangeStatus")", {
                promotion_id: $(this).attr("promotion_id"),
                [parameter]: status
            }, function (res) {
                res == 1 ? $.success("SUCCESS", "@General.lblState".format("@Dictionary.lblSection", (status ? "@General.lblActive" : "@General.lblDeactivated"))) : $.error("ERROR", "");
            }).fail(function (response, status, xhr) {
                console.log(response, status, xhr);
            });
        });
        /** END CHANGE OF STATE SLIDER **/


        FooTable.Filtering = FooTable.Filtering.extend({
            construct: function (instance) {
                this._super(instance);
                this.status = ["True", "False"];
                this.def = 'By Status';
                this.$status = null;
            },
            $create: function(){
                this._super();
                var self = this;
                var $form_grp = $('<div/>', {'class': 'form-group'}).append($('<label/>', {'class': 'sr-only', text: 'PromotionDeal_Status'})).prependTo(self.$form);
                $form_grp.append("<a class='btn btn-primary btn-xs' href='/Promotions/Deals'>Tutti</a>");
                self.$status = $('<select/>', { 'class': 'form-control input-sm', 'id': 'footable-filter-status' }).on('change', { self: self }, self._onStatusDropdownChanged).append($('<option/>', { text: self.def })).appendTo($form_grp);
                $.each(self.status, function(i, state){
                    self.$status.append($('<option/>').text(state.toUpperCase()).val(state));
                });
            },
            _onStatusDropdownChanged: function(e){
                var self = e.data.self, selected = $(this).val();
                selected !== self.def ? self.addFilter('PromotionDeal_Status', selected, ['PromotionDeal_Status']) : self.removeFilter('PromotionDeal_Status');
                self.filter();
            },
            draw: function(){
                this._super();
                var state = this.find('PromotionDeal_Status');
                console.log(state);
                state instanceof FooTable.Filter ? this.$status.val(state.query.val()) : this.$status.val(this.def);
            }
        });


        FooTable.components.register('filtering', FooTable.Filtering);

        var AddonId = '@ViewBag.AddonId';

        $("#BtnTest").on('click', function() {
            var url = $("#PromotionDeal_CodeSite option:selected" ).text();
            var last = $("#PromotionDeal_Link").val();
            window.open(url + last);
        });

        $('[name=product_id]').on('change', function() {
            AddonId = this.value;
            var Code = $("#PromotionDeal_Code").val();

            var URL = "/Promotions/ChangeProd";

            var Info = { Code: Code, AddonId: AddonId};
            var promise = $.post(URL, Info);       

            promise.done(function (data) {
                //$.warning("Avviso", "Prodotto associato variato");
            });

        });

        $(document).ready(function () {
            
            //selected value
            $('[name=product_id]').val(@ViewBag.AddonId);


            var $sortable = $table.find("tbody");
            $table.footable({
                on: {
                    "postdraw.ft.table" : function() {
                        var filtering = FooTable.get($table).use(FooTable.Filtering);
                        if(filtering && filtering.filters.length){
                            $sortable.sortable("disable");
                            $table.find(".order-arrow").toggleClass("disabled");
                        }else{
                            $sortable.sortable("enable");
                            $table.find(".order-arrow").addClass("show");
                            $table.find(".order-arrow").removeClass("disabled");
                        }
                    }
                }
            });

            $(".sortable").sortableDB(".sortable-item");

            /** START INITIALIZE DROPZONE **/
            @{
                var urlThumbnail = Html.Raw("[]");
                if (Model.Promotion.Promotion_Images.Count != 0)
                {
                    PromotionsImage Thumbnail = Model.Promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType.Contains(ImagenType.PROMOTIONTHUMBNAIL) && i.PromotionImage_Status == true);
                    bool existThumbnail = Thumbnail != null;
                    if (existThumbnail)
                    {
                        urlThumbnail = Html.Raw("[{ Id: '" + Thumbnail.PromotionImage_Id + "', Url: '" + Thumbnail.PromotionImage_Url + "' }]");
                    }
                }
            }
            var UrlsThumbnail = @urlThumbnail;
            UrlsThumbnailImageType_Width = @ImagesTypes.Instance().GetImageType(ImagenType.PROMOTIONTHUMBNAIL).ImageType_Width;
            UrlsThumbnailImageType_Height = @ImagesTypes.Instance().GetImageType(ImagenType.PROMOTIONTHUMBNAIL).ImageType_Height;

            dropzoneThumbnail = initializeDropzone("#Promotion_Thumbnail", {
                URL: "@Url.Action("UploadFile")",
                AUTOQUEUE: false,
                AUTOPROCESSQUEUE: false,
                PARAMNAME: "file",
                ACCEPTEDFILES: "image/*",
                MAXFILES: 1,
                MAXFILESIZE: 2,
                UPLOADMULTIPLE: false,
                THUMBNAILWIDTH: UrlsThumbnailImageType_Width,
                THUMBNAILHEIGHT: UrlsThumbnailImageType_Height,
                WIDTH: UrlsThumbnailImageType_Width,
                HEIGHT: UrlsThumbnailImageType_Height,
                DICTDEFAULTMESSAGE: "Upload your file size thumbnail here <br> <b>" + UrlsThumbnailImageType_Width + "x" + UrlsThumbnailImageType_Height + "</b>",
                THUMBNAILURLS: UrlsThumbnail,
            });

            @{
                var urlDesktop = Html.Raw("[]");
                if (Model.Promotion.Promotion_Images.Count != 0)
                {
                    PromotionsImage Desktop = Model.Promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType.Contains(ImagenType.PROMOTIONIMAGE) && i.PromotionImage_Status == true);
                    bool existDesktop = Desktop != null;
                    if (existDesktop)
                    {
                        urlDesktop = Html.Raw("[{ Id: '" + Desktop.PromotionImage_Id + "', Url: '" + Desktop.PromotionImage_Url + "' }]");
                    }
                }
            }
            var UrlsDesktop = @urlDesktop;
            UrlsDesktopImageType_Width = @ImagesTypes.Instance().GetImageType(ImagenType.PROMOTIONIMAGE).ImageType_Width;
            UrlsDesktopImageType_Height = @ImagesTypes.Instance().GetImageType(ImagenType.PROMOTIONIMAGE).ImageType_Height;

            dropzoneDesktop = initializeDropzone("#Promotion_Image", {
                URL: "@Url.Action("UploadFile")",
                AUTOQUEUE: false,
                AUTOPROCESSQUEUE: false,
                PARAMNAME: "file",
                ACCEPTEDFILES: "image/*",
                MAXFILES: 1,
                MAXFILESIZE: 2,
                UPLOADMULTIPLE: false,
                THUMBNAILWIDTH: UrlsDesktopImageType_Width,
                THUMBNAILHEIGHT: UrlsDesktopImageType_Height,
                WIDTH: UrlsDesktopImageType_Width,
                HEIGHT: UrlsDesktopImageType_Height,
                DICTDEFAULTMESSAGE: "Upload your file size desktop here <br> <b>" + UrlsDesktopImageType_Width + "x" + UrlsDesktopImageType_Height + "</b>",
                THUMBNAILURLS: UrlsDesktop,
            });

            @{
                var urlMobile = Html.Raw("[]");
                if (Model.Promotion.Promotion_Images.Count != 0)
                {
                    PromotionsImage Mobile = Model.Promotion.Promotion_Images.FirstOrDefault(i => i.PromotionImage_ImageType.Contains(ImagenType.PROMOTIONMOBILE) && i.PromotionImage_Status == true);
                    bool existMobile = Mobile != null;
                    if (existMobile)
                    {
                        urlMobile = Html.Raw("[{ Id: '" + Mobile.PromotionImage_Id + "', Url: '" + Mobile.PromotionImage_Url + "' }]");
                    }
                }
            }
            var UrlsMobile = @urlMobile;

            UrlsMobileImageType_Width = @ImagesTypes.Instance().GetImageType(ImagenType.PROMOTIONMOBILE).ImageType_Width;
            UrlsMobileImageType_Height = @ImagesTypes.Instance().GetImageType(ImagenType.PROMOTIONMOBILE).ImageType_Height;

            dropzoneMobile = initializeDropzone("#Promotion_Mobile", {
                URL: "@Url.Action("UploadFile")",
                AUTOQUEUE: false,
                AUTOPROCESSQUEUE: false,
                PARAMNAME: "file",
                ACCEPTEDFILES: "image/*",
                MAXFILES: 1,
                MAXFILESIZE: 2,
                UPLOADMULTIPLE: false,
                THUMBNAILWIDTH: UrlsMobileImageType_Width,
                THUMBNAILHEIGHT: UrlsMobileImageType_Height,
                WIDTH: UrlsMobileImageType_Width,
                HEIGHT: UrlsMobileImageType_Height,
                DICTDEFAULTMESSAGE: "Upload your file size mobile here <br> <b>" + UrlsMobileImageType_Width + "x" + UrlsMobileImageType_Height + "</b>",
                THUMBNAILURLS: UrlsMobile,
            });
            /** END INITIALIZE DROPZONE **/

            /** START SUBMIT FORM **/
            $form.on('submit', function (e) {
                e.preventDefault();
                e.stopPropagation();
                var $form = $(this);
                var description = CKEDITOR.instances.PromotionDeal_Description.getData() != "";;
                if(description){ $("#cke_PromotionDeal_Description").removeClass("error"); $("#PromotionDeal_Description-msn").hide(); }
                else{ $("#cke_PromotionDeal_Description").addClass("error"); $("#PromotionDeal_Description-msn").text("This field is required.").show(); }
                if ($form.valid() && $form.find(".dropzone").validarDropzones()){
                    $("#PromotionDeal_Description-msn").hide();
                    var formDataJson = $form.serializeJSON({
                        useIntKeysAsArrayIndex: true,
                        parseBooleans: true,
                        parseNumbers: true
                    });

                    var $btn = $form.find(".btn-save").button("loading");
                    var formData = new FormData();
                    formDataJson.PromotionDeal_DateEnd = formDataJson.PromotionDeal_DateEnd == "" ? null : formDataJson.PromotionDeal_DateEnd;
                    $.each(formDataJson, function(key, value){
                        formData.append(key, value);
                    });

                    $form.find(".dropzone").each(function() {
                        var paramName = $(this).attr("id");
                        var $dz = $(this);
                        var dropzone = $dz.data("Dropzone");
                        if(dropzone.files.length){
                            if(dropzone.options.maxFiles != null && dropzone.options.maxFiles == 1){
                                console.log("dropzone.options.maxFiles", true, dropzone.files[0]);
                                var file = dropzone.files[0];
                                if(file.status == "added") {
                                    var name = $dz.attr("data-name");
                                    var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                    console.log("file", file, name, fileName);
                                    formData.append(paramName, file, fileName);
                                }
                                //else formData.append(paramName, file.url.replace("/Content", "Content"));
                            }else{
                                console.log("dropzone.options.maxFiles", false, dropzone.files);
                                $.each(dropzone.files, function(i, file){
                                    console.log("file", file);
                                    if(file.status == "queued") {
                                        var name = $dz.attr("data-name");
                                        var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                        formData.append(paramName + '[' + i + ']', file, fileName);
                                    }
                                    else formData.append(paramName, file.url.replace("/Content", "Content"));
                                });
                            }
                        }
                    });


                    $.ajax({
                        url: "/promotions/InsertOrUpdateDeal",
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result,status,xhr) {
                            $.success("SUCCESS", "@General.lblState".format("content of @Dictionary.lblSection", "update"));
                            $.reload();
                        },
                        error: function (xhr, status, error) {
                            $.error("ERROR", "@General.lblMsgError");
                            $btn.button("reset");
                            console.log(response, status, xhr);
                        },
                        always: function(){
                            $btn.button("reset");
                        }
                    });
                    return false;
                }
                return false;
            });
            /** END SUBMIT FORM **/

        });
    </script>
}


