﻿@model BackOfficeAcquaJoss.Models.DiscountCouponModel
@using Core.Resources;
@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Discounts";
    List<Core.DiscountCoupon> Elenco = Model.DiscountCoupons.OrderByDescending(x => x.DiscountCoupon_CreationDate).ToList();
    List<SelectListItem> DiscountTypeList = Enum.GetValues(typeof(Core.DiscountCouponType)).Cast<Core.DiscountCouponType>().Select(x => new SelectListItem { Text = x.ToString().ToUpper(), Value = ((int)x).ToString() }).ToList();

    int ProdSel = ViewBag.ProdSel;

}

<h2>Discounts codes and promotions</h2>


<input type="hidden" id="ProdSel" name="ProdSel" />
<div class="container">
    <div class="row">
        <div class="form-group col-sm-9">
        </div>

        <div class="form-group col-sm-1">
            <label>&nbsp;</label>
            <div>
                <button class="btn btn-primary" onclick="New()" type="button" data-toggle="modal" data-target="#modal-new">Nuovo</button>
            </div>
        </div>

        <div class="form-group col-sm-1"></div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-wandering-cubes">
            <div class="sk-cube1"></div>
            <div class="sk-cube2"></div>
        </div>

        <div class="row">
            <label style="display: inline;">&nbsp;Search:&nbsp;</label>
            <input id="search-user" type="text" style="width:300px; display: inline;" placeholder="Codice Promozionale" class="input form-control">
            <br /><br />

            <table id="table-packages" class="table table-hover table-bordered no-margins" data-filtering="true" style="width:100%;">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 14%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_Identifier)</th>
                        <th class="text-center" style="width: 13%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_Product_Id)</th> @*data-filter-value="filterProduct"*@
                        <th class="text-center" style="width: 13%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_IdTmaster)</th>
                        <th class="text-center" style="width: 8%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_Channel)</th>
                        <th class="text-center" style="width: 7%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_Type)</th>
                        <th class="text-center" style="width: 5%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_Value)</th>
                        <th class="text-center" style="width: 8%;">Data Inizio</th>
                        <th class="text-center" style="width: 8%;">Data Fine</th>
                        <th class="text-center" style="width: 6%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_AnticipationDays)</th>
                        <th class="text-center" style="width: 6%;">@Html.LabelFor(model => Model.DiscountCoupon.DiscountCoupon_Score)</th>
                        <th class="text-center" style="width: 4%;">Stato</th>
                        <th class="text-center" style="width: 4%;">Mod</th>
                        <th class="text-center" style="width: 4%;">Del</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Core.DiscountCoupon elem in Elenco)
                    {
                        string Ticket = "0";
                        string TicketDes = "";
                        try
                        {
                            TicketDes = Model.TMastersItems.Where(x => x.Value == elem.DiscountCoupon_IdTmaster.ToString()).First().Text;
                            Ticket = Model.TMastersItems.Where(x => x.Value == elem.DiscountCoupon_IdTmaster.ToString()).First().Value;
                        }
                        catch { }
                        <tr>
                            <td id="Identifier_@elem.DiscountCoupon_Id" style="width: 14%;">@elem.DiscountCoupon_Identifier</td>
                            <td id="Product_@elem.DiscountCoupon_Id" style="display:none;">@Model.ProductsItems.Where(x => x.Value == elem.DiscountCoupon_Product_Id.ToString()).First().Value</td>
                            <td style="width: 13%;">@Model.ProductsItems.Where(x => x.Value == elem.DiscountCoupon_Product_Id.ToString()).First().Text</td>
                            <td id="Ticket_@elem.DiscountCoupon_Id" style="display:none;">@Ticket</td>
                            <td style="width: 13%;">@TicketDes</td>
                            <td id="Channel_@elem.DiscountCoupon_Id" style="display:none;">@Model.SalesChannelItems.Where(x => x.Value == elem.DiscountCoupon_Channel.ToString()).First().Value</td>
                            <td style="width: 8%;">@Model.SalesChannelItems.Where(x => x.Value == elem.DiscountCoupon_Channel.ToString()).First().Text</td>
                            <td id="Genere_@elem.DiscountCoupon_Id" style="display:none;">@DiscountTypeList.Where(x => x.Value == elem.DiscountCoupon_Type.ToString()).First().Value</td>
                            <td width: 7%;">@DiscountTypeList.Where(x => x.Value == elem.DiscountCoupon_Type.ToString()).First().Text</td>
                            <td id="Value_@elem.DiscountCoupon_Id" style="width: 5%;">@elem.DiscountCoupon_Value</td>
                            <td id="DateStart_@elem.DiscountCoupon_Id" style="width: 8%;">@elem.DiscountCoupon_DateStart.ToString().Substring(0, 10)</td>
                            <td id="DateEnd_@elem.DiscountCoupon_Id" style="width: 8%;">@elem.DiscountCoupon_DateEnd.ToString().Substring(0, 10)</td>
                            <td id="AnticipationDays_@elem.DiscountCoupon_Id" style="width: 6%;">@elem.DiscountCoupon_AnticipationDays</td>
                            <td id="Score_@elem.DiscountCoupon_Id" style="width: 6%;">@elem.DiscountCoupon_Score</td>
                            <td id="Status_@elem.DiscountCoupon_Id" style="width: 4%;">@elem.DiscountCoupon_Status</td>

                            <td class="text-center" style="width: 5%;">
                                <button onclick="Select(@elem.DiscountCoupon_Id)"
                                        type="button" data-toggle="modal" data-target="#modal-new"
                                        class="btn btn-sm btn-white btn-save-coupon">
                                    <i class="fa @(elem != null ? "fa-pencil" : "fa-save")"></i>
                                </button>
                            </td>
                            <td align="center" style="width: 5%;">
                                <button class="btn btn-danger btn-sm btn-link btn-outline" onclick="Delete(@elem.DiscountCoupon_Id);"
                                        type="button" data-toggle="modal" data-target="#modal-new">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>




<div id="modal-new" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="form-discount-coupon" data-toggle="validator" autocomplete="off">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Codice sconto o promozione</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @Html.HiddenFor(model => Model.DiscountCoupon.DiscountCoupon_Id)
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CODICE PROMOZIONALE</label>
                                @Html.EditorFor(model => Model.DiscountCoupon.DiscountCoupon_Identifier, new { htmlAttributes = new { @Class = "form-control input-sm", @Maxlength = 25, @required = "required", @autocompletar = "off" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>PRODOTTO</label>
                                @{Model.ProductsItems_Index = null;}
                                @Html.DropDownList("Id", new SelectList(Model.ProductsItems, "Value", "Text"), new { Id = "ProductSel", Name = "ProductSel", Class = "form-control input-sm", Required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>TICKET</label>
                                @{ Model.TMastersItems_Index = null; }
                                @Html.DropDownList("Id", new SelectList(Model.TMastersItems, "Value", "Text"), new { Id = "TicketSel", Name = "TicketSel", Class = "form-control input-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CANALE VENDITA</label>
                                @{ Model.SalesChannelItems_Index = null; }
                                @Html.DropDownList("Id", new SelectList(Model.SalesChannelItems, "Value", "Text"), new { Id = "ChannelSel", Name = "ChannelSel", Class = "form-control input-sm", Required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>GENERE</label>
                                @Html.DropDownList("Id", new SelectList(DiscountTypeList, "Value", "Text"), new { Id = "GenereSel", Name = "GenereSel", Class = "form-control input-sm", Required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>VALORE</label>
                                @Html.EditorFor(model => Model.DiscountCoupon.DiscountCoupon_Value, new { htmlAttributes = new { @class = "form-control input-sm", Required = "required" } })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>DATA INIZIO</label>
                                @Html.EditorFor(model => Model.DiscountCoupon.DiscountCoupon_DateStart, new { htmlAttributes = new { @Value = "", @class = "form-control input-sm datepicker", @required = "required" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>DATA FINE</label>
                                @Html.EditorFor(model => Model.DiscountCoupon.DiscountCoupon_DateEnd, new { htmlAttributes = new { @Value = "", @class = "form-control input-sm datepicker", @required = "required" } })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>GIORNI DI ANTICIPO</label>
                                @Html.EditorFor(model => Model.DiscountCoupon.DiscountCoupon_AnticipationDays, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required" } })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>PUNTO</label>
                                @Html.EditorFor(model => Model.DiscountCoupon.DiscountCoupon_Score, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required" } })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Stato</label>
                            <div id="DivStatus">
                                <input id="StatoSel" name="StatoSel" class="js-switch check-box"
                                       data-switchery="false" data-val="true" type="checkbox" value="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="SaveChanges" onclick="Save()">Save changes</button>
                    <button type="button" class="btn btn-danger" id="Delete" style="visibility: hidden;">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">

    </div>
</div>

@section Scripts {
    <script type="text/javascript">

            $("#idProductSearch").change(function () {
                var pr = $(this).val();
                $('[name=ProdSel]').val(pr);
            });

            $("#idProductSearch").val('@ProdSel').prop('selected', true);

            $(document).ready(function () {
                //selected value

                $("#search-user").on("keyup", function () {
                    $(".table").filterText(this.value);
                });


            });

            var ProdSel = @ProdSel;

            var ProdSel = 0;
            var SelectedItem = 0;

            function New()
            {
                ProdSel = 0;
                SelectedItem = 0;

                $("#DiscountCoupon_DiscountCoupon_Identifier").val("");
                $("#ProductSel").val(0).prop('selected', true);
                $("#TicketSel").val(0).prop('selected', true);
                $("#ChannelSel").val('ONL').prop('selected', true);
                $("#GenereSel").val(0).prop('selected', true);
                $("#DiscountCoupon_DiscountCoupon_Value").val("");
                $("#DiscountCoupon_DiscountCoupon_DateStart").val("");
                $("#DiscountCoupon_DiscountCoupon_DateEnd").val("");
                $("#DiscountCoupon_DiscountCoupon_AnticipationDays").val("0");
                $("#DiscountCoupon_DiscountCoupon_Score").val("0");

                UnDelete();
            }

            function Select(Id)
            {
                SelectedItem = Id;
                ProdSel = @ProdSel;

                var Identifier = $("#Identifier_" + Id).html();
                var Product = $("#Product_" + Id).html();
                var Ticket = $("#Ticket_" + Id).html();
                var Channel = $("#Channel_" + Id).html();
                var Genere = $("#Genere_" + Id).html();
                var Value = $("#Value_" + Id).html();
                var DateStart = $("#DateStart_" + Id).html();
                var DateEnd = $("#DateEnd_" + Id).html();
                var AnticipationDays = $("#AnticipationDays_" + Id).html();
                var Score = $("#Score_" + Id).html();
                var Status = $("#Status_" + Id).html();

                $("#DiscountCoupon_DiscountCoupon_Identifier").val(Identifier);
                $("#ProductSel").val(Product);
                $("#TicketSel").val(Ticket);
                $("#ChannelSel").val(Channel);
                $("#GenereSel").val(Genere);
                $("#DiscountCoupon_DiscountCoupon_Value").val(Value);
                $("#DiscountCoupon_DiscountCoupon_DateStart").val(DateStart);
                $("#DiscountCoupon_DiscountCoupon_DateEnd").val(DateEnd);
                $("#DiscountCoupon_DiscountCoupon_AnticipationDays").val(AnticipationDays);
                $("#DiscountCoupon_DiscountCoupon_Score").val(Score);

                var st = $("#StatoSel").prop("checked");

                if (Status == "True") {
                    if (st == false) { $("#StatoSel").trigger("click"); }
                }
                else {
                    if (st == true) { $("#StatoSel").trigger("click"); }
                }

                UnDelete();

            }

            function Save()
            {
                var Id = SelectedItem;

                var Identifier = $("#DiscountCoupon_DiscountCoupon_Identifier").val();
                var Product = $("#ProductSel").val();
                var Ticket = $("#TicketSel").val();
                var Channel = $("#ChannelSel").val();
                var Genere = $("#GenereSel").val();
                var Value = $("#DiscountCoupon_DiscountCoupon_Value").val();

                var DateStart = $("#DiscountCoupon_DiscountCoupon_DateStart").val();
                var DateEnd = $("#DiscountCoupon_DiscountCoupon_DateEnd").val();
                var AnticipationDays = $("#DiscountCoupon_DiscountCoupon_AnticipationDays").val();
                var Score = $("#DiscountCoupon_DiscountCoupon_Score").val();
                var Status = $("#StatoSel").prop("checked");


                var URL = "/Promotions/";
                var Info;
                var msg;

                if (Id != 0)
                {
                    if (Validation(Value) != 0){return;}

                    //update
                    URL = URL + "UpdateDiscount";

                    Info = {
                        Id: Id, Identifier: Identifier, Product: Product, Ticket: Ticket,
                        Channel: Channel, Genere: Genere, Value: Value, DateStart: DateStart,
                        DateEnd: DateEnd, AnticipationDays: AnticipationDays,
                        Score: Score, Status: Status
                    };


                    msg = "Salvataggio effettuato";
                }
                else
                {
                    //insert
                    if (Validation(Value) != 0) { return; }

                    URL = URL + "InsertDiscount";
                    Info = {
                        Identifier: Identifier, Product: Product, Ticket: Ticket,
                        Channel: Channel, Genere: Genere, Value: Value, DateStart: DateStart,
                        DateEnd: DateEnd, AnticipationDays: AnticipationDays,
                        Score: Score, Status: Status
                    };

                    msg = "Inserimento effettuato";
                }

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    $.warning("Avviso", msg);
                    window.location.href = '/Promotions/Discounts';
                });

            }

            function Validation(Value)
            {
                Value = Value.replace(",", ".");

                if(isNaN(Value)){
                    $.error("Errore","Prezzo non valido");
                    return 1;
                }

                if(Number(Value) == 0 )
                {
                    $.error("Errore","Prezzo obbligatorio");
                    return 1;
                }


                return 0;
            }

            function UnDelete() {
                $("#Delete").css("visibility", "hidden");
                $("#SaveChanges").css("visibility", "visible");
                EnableSel(false);
            }

            function Delete(value)
            {
                Select(value);

                $("#Delete").css("visibility", "visible");
                $("#SaveChanges").css("visibility", "hidden");
                EnableSel(true);
            }


            function EnableSel(value) {
                $("#DiscountCoupon_DiscountCoupon_Identifier").prop('disabled', value);
                $("#ProductSel").prop('disabled', value);
                $("#TicketSel").prop('disabled', value);
                $("#ChannelSel").prop('disabled', value);
                $("#GenereSel").prop('disabled', value);
                $("#DiscountCoupon_DiscountCoupon_Value").prop('disabled', value);
                $("#DiscountCoupon_DiscountCoupon_DateStart").prop('disabled', value);
                $("#DiscountCoupon_DiscountCoupon_DateEnd").prop('disabled', value);
                $("#DiscountCoupon_DiscountCoupon_AnticipationDays").prop('disabled', value);
                $("#DiscountCoupon_DiscountCoupon_Score").prop('disabled', value);

                //data switchery enable/disable
                if (value == true) {
                    $("#DivStatus").css("opacity", "0.5");
                    $("#DivStatus").css("pointer-events", "none");
                }
                else {
                    $("#DivStatus").removeAttr("style");
                }
            }


            $("#Delete").on("click", function (e) {

                var URL = "/Promotions/DiscountsRecordDelete/";
                var Info = { Id: SelectedItem};

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    $.warning("Avviso", "Cancellazione effettuata");

                    //reload
                    window.location.href = '/Promotions/Discounts';
                });

            });

    </script>
}





