﻿@using System.Globalization
@using General = Core.Resources.General;
@model BackOfficeAcquaJoss.Models.ActivityScheduleModel
@{

    List<Core.ActivitySchedule> activitySchedules = Model.ActivitySchedules;
    int size = 10;
    double index = 0;
    double page = 0;
    if (Model.ActivitySchedule == null)
    {
        Model.ActivitySchedule = new Core.ActivitySchedule();
    }
    else
    {
        index = activitySchedules.FindIndex(s => s.Id.Equals(Model.ActivitySchedule.Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "horario");
}

<div class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Activity Schedule</h5>
        <div class="ibox-tools">
            <a class="btn btn-sm btn-info" href="/admin/ActivitySchedule/" style="color: white;">@string.Format(General.lblNew, "Schedule").ToUpper()</a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6">
                <table id="table-activityschedule" class="table table-stripped table-hover toggle-arrow-tiny" data-show-toggle="false" data-index="@index" data-paging="true" data-paging-count-format="{CP} of {TP}"  data-paging-size="@size" data-paging-current="@page" data-filtering="true" style="display:none;">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Schedule</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Core.ActivitySchedule item in Model.ActivitySchedules.OrderBy(s => s.Schedule))
                        {
                            <tr>
                                <td class="text-center">@item.Id</td>
                                <td class="text-center" style="line-height:1;">
                                    <div>@item.ScheduleTimeFormat</div>
                                    <small>@DateTime.Today.Add(item.Schedule.Value).ToString("hh:mm tt", new CultureInfo("en"))</small>
                                </td>
                                <td class="switch">
                                    <div class="onoffswitch" style="margin:auto;">
                                        <input id="ActivitySchedule_Status_@item.Id"
                                               id-activityschedule="@item.Id"
                                               name="ActivitySchedule_Status_@item.Id"
                                               class="onoffswitch-checkbox change_state"
                                               checked="@item.Status.ToString().ToLower()"
                                               type="checkbox" />
                                        <label class="onoffswitch-label" for="ActivitySchedule_Status_@item.Id">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-center"><a class="btn-white btn btn-xs" href="/admin/ActivitySchedule/@item.Id">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="clearfix row">
                    <div class="form-group col-xs-8 col-sm-7 col-md-9">
                        <small>when the activity is open</small>
                    </div>
                </div>

                <form method="post" action="/Admin/ActivityScheduleInsertOrUpdate/">
                    @if (Model.ActivitySchedules != null && Model.ActivitySchedule.Id != 0)
                    {
                        @Html.HiddenFor(model => Model.ActivitySchedule.Id)
                    }
                    <div class="row">
                        <div class="form-group col-lg-7 m-b-sm">
                            @Html.LabelFor(model => Model.ActivitySchedule.Schedule)
                            <div class="input-group clockpicker" data-autoclose="true">
                                @Html.EditorFor(model => Model.ActivitySchedule.Schedule, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @Value = Model.ActivitySchedule.Id == 0 ? string.Empty : Model.ActivitySchedule.ScheduleTimeFormat } })
                                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2 m-b-sm">
                            @Html.LabelFor(model => Model.ActivitySchedule.Status)
                            <div>
                                @Html.EditorFor(model => Model.ActivitySchedule.Status, new { htmlAttributes = new { @class = "js-switch", @type = "checkbox", @data_switchery = "true" } })
                            </div>
                        </div>
                        <div class="form-group col-lg-3 p-sm text-center">
                            @if (Model.ActivitySchedule.Id == 0)
                            {
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> SAVE</button>
                            }
                            else
                            {
                                <button class="btn btn-primary" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> UPDATE</button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">
        Schedules: <b>@Model.ActivitySchedules.Count</b>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function ()
    {
        FooTable.MyFiltering = FooTable.Filtering.extend({ // inherit the base class
            construct: function (instance) { // override the default constructor
                this._super(instance);
                this.statuses = ['20', '50', '100', 'All'];
                this.def = '10';
                this.$status = null;
            },
            $create: function () {
                this._super();
                var self = this,
                    $form_grp = $('<div/>', { 'class': 'form-group pull-left' })
                        .append($('<label/>', { 'class': 'sr-only', text: 'Paging Size' }))
                        .prependTo(self.$form);

                self.$status = $('<select/>', { 'class': 'form-control input-sm' })
                    .on('change', { self: self }, self._onStatusDropdownChanged)
                    .append($('<option/>', { text: self.def }).attr("data-page-size", self.def))
                    .appendTo($form_grp);

                $.each(self.statuses, function (i, status) {
                    self.$status.append($('<option/>').text(status).attr("data-page-size", (isNaN(parseInt(status)) ? 10000 : status )));
                });
            },
            _onStatusDropdownChanged: function (e) {
                var self = e.data.self,
                    selected = $(this).find("option:selected").data('pageSize');
                FooTable.get('#table-activityschedule').pageSize(selected);
            },
            draw: function () {
                this._super();
            }
        });

        $('#table-activityschedule').footable({
            components: {
                filtering: FooTable.MyFiltering
            }
        });

        $(this).on("change", ".change_state", function ()
        {
            console.log(".change_state");
            var status = this.checked;
            $.post("/Admin/ChangeStatusActivitySchedule/", {
                id: $(this).attr("id-activityschedule"),
                status: status
            }, function (res)
            {
                res == 1 ? $.success("SUCCESS", "El horario se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "@General.lblMsgError");
            }).fail(function (response, status, xhr)
            {
                console.log(response, status, xhr);
            });
        });
    });
</script>
}