﻿@model BackOfficeAcquaJoss.Models.ActivitiesModel
@using Core;
@using System.Globalization;
@{
    DateTime Datenow = DateTime.Now;
    int days = 0;

    List<Categories> categoriesList = Model.categoriesList;
    List<Activities> activitiesList = Model.activitiesList;
    List<ParkCalendar> calendarList = Model.CalendarList;
    List<ActivitySchedule> activitySchedules = Model.ActivitySchedules;
    if (activitiesList != null)
    {
        activitiesList = activitiesList.OrderBy(a => a.Activity_Index).ToList();
    }

    var queyYears = from year in calendarList group year by year.ParkCalendar_Date.Year into g orderby g.Key select g;

    List<string> Years = new List<string>();
    foreach (var year in queyYears)
    {
        if (year != null)
        {
            Years.Add(year.Key.ToString());
        }
    }


    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Activity");
}

<section>
    <style>
        .loader {
            border: 3px solid #f3f3f3;
            border-top: 3px solid #3b9eda;
            width: 35px;
            height: 35px;
            animation: spin 1s linear infinite;
        }

        .loader_container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
            bottom: 0;
            z-index: 1;
            width: 100% !important;
            height: 100% !important;
            display: none;
        }

        #buttons-categories .btn {
            position: relative;
            width: 16%;
            color: #fff;
            font-size: 16px;
            border: 0;
            font-weight: bold;
            padding: 15px 10px;
            line-height: normal;
            min-width: 170px;
            margin-bottom: 3px !important;
        }

            #buttons-categories .btn:not(.active) {
                -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4);
                box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4);
            }

        #buttons-categories .btn-update {
            position: absolute;
            right: 10px;
        }

        #mixitup {
            display: flex;
            flex-wrap: wrap;
        }

            #mixitup .activity {
                margin-bottom: 15px;
            }

            #mixitup .activity_data {
                position: relative;
                cursor: pointer;
            }

            #mixitup .activity h3 {
                position: relative;
            }

            #mixitup .activity .index {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0px;
                line-height: 3;
                background: #3b9eda;
                width: 30px;
            }

            #mixitup .activity .introduction {
                min-height: 70px;
            }

        .dropzone {
            min-height: initial;
        }

            .dropzone .dz-preview .dz-image {
                display: block !important;
            }

                .dropzone .dz-preview .dz-image img {
                    max-width: 100% !important;
                }

            .dropzone .dz-preview .dz-image,
            .dropzone .dz-preview .dz-remove {
                border-radius: 0;
            }

            .dropzone.one .dz-preview .dz-image,
            .dropzone.one .dz-preview .dz-image img {
                width: auto;
                height: auto;
                display: inline-block;
            }

            .dropzone.one .dz-preview {
                margin: 5px auto !important;
                width: 100% !important;
                max-width: 100% !important;
                float: none !important;
            }

            .dropzone:not(.one) {
                text-align: left !important;
            }

                .dropzone:not(.one) .dz-preview {
                    margin: 5px;
                }

                    .dropzone:not(.one) .dz-preview .dz-image {
                        max-width: 190px !important;
                        width: auto;
                        height: auto;
                    }

        /*style table calendar*/
        .table > tbody > tr.active > td,
        .table > tbody > tr.active > th,
        .table > tbody > tr > td.active,
        .table > tbody > tr > th.active,
        .table > tfoot > tr.active > td,
        .table > tfoot > tr.active > th,
        .table > tfoot > tr > td.active,
        .table > tfoot > tr > th.active,
        .table > thead > tr.active > td,
        .table > thead > tr.active > th,
        .table > thead > tr > td.active,
        .table > thead > tr > th.active {
            /*background-color: #fff;*/
        }

        .table-bordered > tbody > tr > td,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > td,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > thead > tr > th {
            border-color: #e4e5e7;
        }

        .table tr.header {
            font-weight: bold;
            background-color: #fff;
            cursor: pointer;
            -webkit-user-select: none;
            /* Chrome all / Safari all */
            -moz-user-select: none;
            /* Firefox all */
            -ms-user-select: none;
            /* IE 10+ */
            user-select: none;
            /* Likely future */
        }

        .table tr:not(.header) {
            display: none;
        }

        .table .header td:after {
            content: "\002b";
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            float: right;
            color: #999;
            text-align: center;
            padding: 3px;
            transition: transform .25s linear;
            -webkit-transition: -webkit-transform .25s linear;
        }

        .table .header.active td:after {
            content: "\2212";
        }
        /* end style table calendar*/
        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            width: 100% !important;
            display: block;
        }

        .chosen-container-active .chosen-choices .search-field input[type="text"] {
            width: 25px !important;
        }

        @@media(max-width: 480px) {
            #mixitup .col-xs-6,
            #mixitup .activity-image {
                width: 100% !important;
            }
        }

        @@media(max-width: 390px) {
            #buttons-categories .btn {
                width: 100% !important;
            }

            .inmodal .tab-content .modal-body {
                padding: 10px 15px !important;
            }
        }
    </style>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-md-5">
            <h2 style="margin: 5px;">ACTIVITIES</h2>
        </div>
        <div class="col-md-3">
            <label>Attività filtrate per stato:&nbsp;</label>
            <div data-toggle="buttons" class="btn-group">
                <label class="btn btn-default btn-sm active">
                    <span>True</span><input type="radio" name="Status" value="true">
                </label>
                <label class="btn btn-default btn-sm" style="font-size: 11.5px;">
                    <span>False</span><input type="radio" name="Status" value="false">
                </label>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>



    <div class="container">

        <center id="buttons-categories" class="controls mtb_30 row" data-toggle="buttons">
            @foreach (Categories category in categoriesList)
            {
                string icon = "/Content/icons/" + category.Category_Name.ToLower() + ".png";
                <label id="btn-category-@category.Category_Id" class="btn control @(category.Category_Id.Equals(1) ? "active" : string.Empty)" data-filter=".category-@category.Category_Id" status="@category.Category_Status.ToString().ToLower()" style="background:@(!string.IsNullOrEmpty(category.Category_Background) ? category.Category_Background : "#b7b7b7");display:@(category.Category_Status ? "inline-block" : "none")">
                    <input type="radio" name="Activity_Categories" value="@category.Category_Id" />
                    <span style="vertical-align:middle;">@category.Category_Name</span>
                    @if (File.Exists(Server.MapPath(icon)))
                    {
                        <img class="img-responsive" src="@icon" style="display:inline-block;width:18%;vertical-align:middle;">
                    }
                    <a href="#modal-category" data-toggle="modal" data-Category_Id="@category.Category_Id" class="btn-update" style="color:inherit;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </label>
            }
        </center>

        <center id="mixitup" class="row sortable" data-table="@Activities.TABLE" data-keyId="Activity_Id" data-keyValue="Activity_Index">
            @foreach (Activities activity in activitiesList)
            {
                <div style="display:none" id="@activity.Activity_Id" class="col-xs-6 col-sm-4 col-md-3 sortable-item activity mix category-1 category-@(string.Join(" category-", activity.Activity_Categories)) status_@activity.Activity_Status.ToString().ToLower()" status="@activity.Activity_Status.ToString().ToLower()" style="display:@(activity.Activity_Status ? "block" : "none")">
                    <div class="activity_data" data-toggle="modal" data-target="#modal-activity" data-Activity_Id="@activity.Activity_Id">
                        <div class="loader_container"><div class="loader"></div></div>
                        <h3 style="background:#113F5B;margin: 0;padding: 15px 10px;color: white;">
                            <span class="index">@activity.Activity_Index</span>
                            <span>@activity.Activity_Title</span>
                        </h3>
                        <div style="position:relative;display:inline-block;">
                            <img src="/@activity.Activity_Thumbnail" class="img-responsive activity-image">
                            <span style="position:absolute;bottom:10px;right:10px;color: white;font-size: 20px;font-weight: bold;text-shadow: 2px 0 0 #013751, -2px 0 0 #013751, 0 2px 0 #013751, 0 -2px 0 #013751, 1px 1px #013751, -1px -1px 0 #013751, 1px -1px 0 #013751, -1px 1px 0 #013751;">@activity.Activity_MinimumHeight</span>
                        </div>
                        <div style="margin:3px 0px;">
                            @foreach (int category_id in activity.Activity_Categories)
                            {
                                Categories category = categoriesList.Find(c => c.Category_Id.Equals(category_id));
                                string icon = "/Content/icons/" + category.Category_Name.ToLower() + ".png";
                                if (File.Exists(Server.MapPath(icon)))
                                {
                                    <div style="width:34px;height:34px;display:inline-block;position:relative;border-radius:50%;text-align:center;background:@(category.Category_Background);">
                                        <img class="img-responsive" src="@icon" style="padding: 0px 2px;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;">
                                    </div>
                                }
                            }
                        </div>
                        <p class="introduction">@activity.Activity_Introduction</p>
                    </div>
                </div>
            }
        </center>
    </div>

    <div class="dropup" style="position: fixed;right: 15px;bottom: 15px;">
        <button class="btn btn-circle btn-lg btn-info" data-toggle="dropdown" type="button">
            <i class="fa fa-plus"></i>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="#modal-category" data-toggle="modal">Gategory</a></li>
            <li><a href="#modal-activity" data-toggle="modal">Activity</a></li>
        </ul>
    </div>

    <div class="modal" id="modal-category" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <form class="modal-form" autocomplete="off" action="/admin/InsertOrUpdateCategory">
                    <input type="hidden" name="Category_Id" value="0" />
                    <input type="hidden" name="Category_IdSite" value="2" />
                    <input type="hidden" name="Category_LanguageCode" value="IT" />

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" name="Category_Name" required />
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Background Color</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm colorpicker" name="Category_Background" required />
                                    <div class="input-group-addon"><i class="fa fa-tint"></i></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label">Status</label>
                                <div>
                                    <input class="js-switch check-box" data-switchery="true" name="Category_Status" value="true" checked type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="modal-activity" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="border:0;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">NEW ACTIVITY</h4>
                </div>
                <form id="activity-form" method="post" class="modal-form" autocomplete="off" validate="true" role="form">
                    <input type="hidden" name="Activity_Id" value="0" />
                    <input type="hidden" name="Activity_Index" value="@(activitiesList.Count + 1)" />

                    <div class="modal-body" style="padding:0px;background-color:transparent;">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-0" aria-expanded="true">Activity</a></li>
                            <li><a data-toggle="tab" href="#tab-1" aria-expanded="false">Logo / Thumbnail</a></li>
                            <li><a data-toggle="tab" href="#tab-2" aria-expanded="false">Video</a></li>
                            <li><a data-toggle="tab" href="#tab-3" aria-expanded="false">Map</a></li>
                            <li><a data-toggle="tab" href="#tab-4" aria-expanded="false">Banner</a></li>
                            <li><a data-toggle="tab" href="#tab-5" aria-expanded="false">Gallery</a></li>
                            <li><a data-toggle="tab" href="#tab-6" aria-expanded="false">Calendar</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-0" class="tab-pane active">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label class="control-label">Titolo</label>
                                            <input type="text" class="form-control" name="Activity_Title" required />
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label class="control-label">Url</label>
                                            <input type="text" class="form-control" name="Activity_Url" required />
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label class="control-label">@Core.Resources.General.lblLanguage</label>
                                            <select class="form-control" name="Activity_LanguageCode" required>
                                                @foreach (Languages lang in Model.LanguagesList)
                                                {
                                                    <option value="@lang.Language_Code">@lang.Language_Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group col-xs-9">
                                            <label class="control-label">Introduzione</label>
                                            <textarea class="form-control" rows="3" name="Activity_Introduction"></textarea>
                                        </div>

                                        <div class="form-group col-xs-3">
                                            <label class="control-label">Attività animali in HP</label>
                                            <div>
                                                <input class="js-switch check-box" data-switchery="true" name="Activity_Animals" value="true" checked type="checkbox" />
                                            </div>
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <label class="control-label">Descrizione</label>
                                            <textarea class="form-control" rows="5" name="Activity_Description"></textarea>
                                        </div>
                                        <div class="form-group col-xs-8 col-sm-10">
                                            <label class="control-label">Altezza minima</label>
                                            <input type="text" class="form-control" name="Activity_MinimumHeight" />
                                        </div>
                                        <div class="form-group col-xs-4 col-sm-2">
                                            <label class="control-label">Stato</label>
                                            <div>
                                                <input class="js-switch check-box" data-switchery="true" name="Activity_Status" value="true" checked type="checkbox" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="categoriesContainer" class="form-group">
                                        <label class="control-label" style="display:block;">Categorie</label>
                                        <div class="btn-group" data-toggle="buttons">
                                            @foreach (Categories category in categoriesList.FindAll(c => !c.Category_Id.Equals(1) && c.Category_Status))
                                            {
                                                string icon = "/Content/icons/" + category.Category_Name.ToLower() + ".png";
                                                <label class="btn btn-default" type="button" style="padding: 5px 10px;min-height:37px;">
                                                    <input type="checkbox" class="Activity_Categories" name="Activity_Categories[]" value="@category.Category_Id" />
                                                    <span style="vertical-align:middle;">@category.Category_Name</span>
                                                    @if (File.Exists(Server.MapPath(icon)))
                                                    {
                                                        <span style="width:25px;height:25px;display:inline-block;position:relative;border-radius:50%;text-align:center;vertical-align:middle;background:@(category.Category_Background);">
                                                            <img class="img-responsive" src="@icon" style="padding: 0px 2px;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;">
                                                        </span>
                                                    }
                                                </label>
                                            }
                                        </div>
                                        <div class="small help-block m-b-none text-warning">Selezionare una o più categorie</div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-1" class="tab-pane">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 mb_xs_15">
                                            <label class="control-label">Logo</label>
                                            @{
                                                ImagesTypes itLogo = ImagesTypes.Instance().GetImageType(ImagenType.ACTIVITYLOGO);
                                            }
                                            <div id="Activity_Logo" class="dropzone one" data-name="" data-thumbnailWidth="@itLogo.ImageType_Width" data-thumbnailHeight="@itLogo.ImageType_Height"></div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 mb_xs_15">
                                            <label class="control-label">Thumbnail</label>
                                            @{
                                                ImagesTypes itThumbnail = ImagesTypes.Instance().GetImageType(ImagenType.ACTIVITYTHUMBNAIL);
                                            }
                                            <div id="Activity_Thumbnail" class="dropzone one" data-name="" data-thumbnailWidth="@itThumbnail.ImageType_Width" data-thumbnailHeight="@itThumbnail.ImageType_Height"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label class="control-label">Url Video</label>
                                            <input type="text" class="form-control" name="Activity_Video" />
                                            <div class="small help-block m-b-none text-warning">Only accept videos from youtube!</div>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <div class="embed-responsive embed-responsive-16by9" style="height: auto;display:none;">
                                                <iframe id="video-preview" class="embed-responsive-item" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="modal-body">
                                    @{
                                        ImagesTypes itMap = ImagesTypes.Instance().GetImageType(ImagenType.ACTIVITYMAP);
                                    }
                                    <div id="Activity_Map" class="dropzone one" data-name="" data-thumbnailWidth="@itMap.ImageType_Width" data-thumbnailHeight="@itMap.ImageType_Height"></div>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="modal-body">
                                    @{
                                        ImagesTypes itBanner = ImagesTypes.Instance().GetImageType(ImagenType.ACTIVITYBANNER);
                                    }
                                    <div id="Activity_Banner" class="dropzone one" data-name="" data-thumbnailWidth="@itBanner.ImageType_Width" data-thumbnailHeight="@itBanner.ImageType_Height"></div>
                                </div>
                            </div>
                            <div id="tab-5" class="tab-pane">
                                <div class="modal-body">
                                    @{
                                        ImagesTypes itGallery = ImagesTypes.Instance().GetImageType(ImagenType.ACTIVITYGALLERY);
                                    }
                                    <div id="Activity_Gallery" class="dropzone sortable" data-table="@ActivityGallery.TABLE" data-keyId="ActivityGallery_Id" data-KeyValue="ActivityGallery_Index" data-thumbnailWidth="@itGallery.ImageType_Width" data-thumbnailHeight="@itGallery.ImageType_Height"></div>
                                </div>
                            </div>
                            <div id="tab-6" class="tab-pane">
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table id="table-calendarActivities" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center col-lg-1">Date</th>
                                                    <th class="text-center col-lg-3">ParkSchedule_Id</th>
                                                    <th class="text-center col-lg-1">Activity Schedule</th>
                                                    <th class="text-center col-lg-1">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (string year in Years)
                                                {
                                                    string anno = Datenow.AddYears(-1).Year.ToString();
                                                    if (year != anno)
                                                    {
                                                        var queyMonths =
                                                        from month in calendarList
                                                        where month.ParkCalendar_Date.Year.ToString().Equals(year)
                                                        group month by month.ParkCalendar_Date.Month into g
                                                        orderby g.Key
                                                        select g;

                                                        List<string> Months = new List<string>();
                                                        foreach (var month in queyMonths)
                                                        {
                                                            if (month != null)
                                                            {
                                                                Months.Add(month.Key.ToString());
                                                            }
                                                        }
                                                        foreach (string i in Months)
                                                        {
                                                            <tr class="header">
                                                                <td colspan="4">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(i))</td>
                                                            </tr>
                                                            <tr style="border-color:#ececec;">
                                                                <th class="text-center col-lg-1">Date</th>
                                                                <th class="text-center col-lg-1">Park Schedule</th>
                                                                <th class="text-center col-lg-3">Activity Schedule</th>
                                                                <th class="text-center col-lg-1">Actions</th>
                                                            </tr>
                                                            days = DateTime.DaysInMonth(Datenow.Year, Convert.ToInt32(i));


                                                            for (int day = 1; day <= days; day++)
                                                            {
                                                                string DateString = i + "-" + day + "-" + year;
                                                                DateTime date = DateTime.ParseExact(DateString, new string[] { "M.d.yyyy", "M-d-yyyy", "MM/dd/yyyy" }, CultureInfo.CurrentCulture, DateTimeStyles.None);
                                                                DayOfWeek dayofweek = date.DayOfWeek;
                                                                string _d = date.ToShortDateString();
                                                                ParkCalendar parkC = calendarList
                                                                                    .SingleOrDefault(PC => PC.ParkCalendar_DateFormat.Equals(date.ToShortDateString()) && PC.ParkCalendar_Status == true);
                                                                if (parkC != null && parkC.ParkCalendar_ParkCalendarSchedule != null)
                                                                {
                                                                    ParkSchedules parkSchedules = null;
                                                                    string color = "";
                                                                    string schedule = "";

                                                                    parkSchedules = ParkSchedules.Instance().GetParkSchedule(parkC.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkSchedule);

                                                                    color = parkSchedules.ParkSchedule_Color;
                                                                    schedule = parkSchedules.ParkSchedule_Description;


                                                                    <tr id="@parkC.ParkCalendar_Id">
                                                                        <td class="text-center col-lg-1"> @parkC.ParkCalendar_DateFormat</td>
                                                                        <td class="text-center col-lg-1"><i class="fa fa-circle" style="color:@color"></i> @schedule</td>
                                                                        <td class="text-center col-lg-1">
                                                                            <div class="input-group">
                                                                                <select data-placeholder="Choose a Schedule" class="chosen-select" name="ActivitiesCalendarSchedule_idSchedule" multiple tabindex="4">
                                                                                    @foreach (Core.ActivitySchedule item in Model.ActivitySchedules.Where(s => s.Schedule.Value >= parkSchedules.ParkSchedule_TimeStart && s.Schedule.Value <= parkSchedules.ParkSchedule_TimeEnd).OrderBy(s => s.Schedule))
                                                                                    {
                                                                                        <option value="@item.Id">@item.ScheduleTimeFormat</option>
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-center col-lg-1">
                                                                            <input type="hidden" name="ActivitiesCalendarSchedule_id" value="" />
                                                                            <input type="hidden" name="ActivitiesCalendarSchedule_idActivity" value="" />
                                                                            <input type="hidden" default-value="@parkC.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkCalendar" id="ActivitiesCalendarSchedule_idParkCalendar" name="ActivitiesCalendarSchedule_idParkCalendar" value="@parkC.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkCalendar" />
                                                                            <button type="button" class="btn btn-sm btn-white btn-save-calendar">
                                                                                <i class="fa fa-pencil"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }

                                                            }
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <a id="Preview" href="#" target="_blank" class="btn btn-info" style="display:none;">Preview</a>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        <script language="javascript" type="text/javascript">
            Dropzone.autoDiscover = false;
            var categories = @Html.Raw(Json.Encode(categoriesList));
            var activities = @Html.Raw(Json.Encode(activitiesList));
            //console.log(categories);
            //console.log(activities);
            $(document).ready(function ()
            {

                //Fixing jQuery Click Events for the iPad
                var ua = navigator.userAgent,
                  event = (ua.match(/iPad/i)) ? "touchstart" : "click";
                if ($('.table').length > 0) {
                    $('.table .header').on(event, function() {
                        $(this).toggleClass("active", "").nextUntil('.header').css('display', function(i, v) {
                            return this.style.display === 'table-row' ? 'none' : 'table-row';
                        });
                    });
                }

                $(".chosen-select").unbind("change")



                $.validator.addMethod("activity_url", function (value, element)
                {
                    if (value) return !activities.find(a => a.Activity_Url == value);
                }, "This url was used");

                $('[name="Activity_Url"]').rules('add', {
                    activity_url: true,
                    minlength: 4
                });



                $("[name='Status']").on("change", function(){
                    $('[status]').hide();
                    $('[status="' + this.value + '"]').show();
                });

                mixitup('#mixitup', {
                    load: {
                        filter: '.category-1'
                    },
                    selectors: {
                        target: '.status_true'
                    },
                });
                $(".category-1").show();
                $("#buttons-categories .btn").on("click", function(e){
                    if($(this).attr("id") == "btn-category-1"){
                        $("#mixitup").sortable("enable");
                        $("#mixitup").find(".index").show();
                    }else{
                        $("#mixitup").sortable("disable");
                        $("#mixitup").find(".index").hide();
                    }
                });

                $('[name="Activity_Title"]').bind("paste", function (e){
                    var value = e.originalEvent.clipboardData.getData('text');
                    var url = value ? (value.toLowerCase().replace(/\s/g,"-")) : "";
                    $('[name="Activity_Url"]').val(url);
                });

                $('[name="Activity_Video"]').on("change", function (e){
                    var id = null;
                    if (this.value) {
                        var id = getIdYoutubeUrl(this.value);
                        if (id) {
                            $(this).closest(".form-group").removeClass("has-error");
                            var url = "https://www.youtube.com/embed/" + id;
                            if(this.value != url) $(this).val(url);
                            $("#video-preview").attr('src', (url  + "?rel=0&showinfo=0")).parent().show();
                        } else {
                            $(this).closest(".form-group").addClass("has-error");
                        }
                    }
                    if (!this.value || !id) {
                        $("#video-preview").removeAttr('src').parent().hide();
                    }
                });

                $("#modal-category").on('show.bs.modal', function (e){
                    var $modal = $(e.target);
                    var $btn = $(e.relatedTarget);
                    var dataSet = e.relatedTarget.dataset;
                    var $modalForm = $modal.find('.modal-form');
                    if(dataSet.category_id){
                        var category = categories.find(c => c.Category_Id == dataSet.category_id);
                        $modalForm.setValues(category);
                        $modalForm.find('[name="Category_Background"]').colorpicker('setValue', category.Category_Background);
                    }
                }).on('hidden.bs.modal', function (e) {
                    var $modal = $(e.target);
                    var $modalForm = $modal.find('.modal-form');
                    $modalForm.clear();
                });

                $('.activity_data').on("click", function(e){
                    e.stopPropagation();
                    var $target = $(this);
                    $target.find(".loader_container").show("fast", function(){
                        $($target.attr("data-target")).modal("show", $target);
                    });
                });

                $("#modal-activity").on('show.bs.modal', function (e){
                    var $modal = $(e.target);
                    var $target = $(e.relatedTarget);
                    var $modalForm = $modal.find('.modal-form');
                    var idActivity = $target.attr("data-activity_id");


                    if(idActivity){
                        var activity = activities.find(a => a.Activity_Id == idActivity);
                        console.log(activity);
                        $modal.find(".modal-title").text("UPDATE ACTIVITY " + activity.Activity_Title);

                        $modal.find("#Preview").attr("href", "@GlobalSettings.UrlZoomarine" + "/ilparco/" +  activity.Activity_Url).show();
                        $modalForm.setValues(activity);
                        $('input[name="ActivitiesCalendarSchedule_idActivity"]').val(idActivity)
                        //console.log($modalForm.setValues(activity));
                        $.each(activity.Activity_Categories, function(i, value){
                            $modalForm.find('.Activity_Categories[value="' + value + '"]').checked(true);
                        });
                        $modalForm.find('[name="Activity_Video"]').change();
                        $modalForm.find('[name="Activity_Url"]').rules("remove", "activity_url");
                        var dz = $modalForm.find('#Activity_Gallery').data("Dropzone");
                        dz.sortable = true;
                        dz.filesToAdd = activity.Activity_Gallery.length;
                        $.each(activity.Activity_Gallery, function(i, obj){
                            dz.findFile("/" + this.ActivityGallery_Image, this.ActivityGallery_Id, this.ActivityGallery_Index);
                        });
                        $.each(activity.ActivitiesCalendar, function(i, obj){
                            var row = $("#table-calendarActivities").find('tbody tr[id="'+ this.ActivitiesCalendarSchedule_idParkCalendar +'"]');
                            if(row != null){

                                row.setValues(obj);

                                if(obj.ActivitiesCalendarSchedule_idSchedule != null){

                                    row.find('[name="ActivitiesCalendarSchedule_idSchedule"]').val(obj.ActivitiesCalendarSchedule_idSchedule.split(',')).trigger("chosen:updated");
                               }

                            }
                        });

                        $target.find(".loader_container").hide();



                    }
                }).on('hidden.bs.modal', function (e) {
                    var $modal = $(e.target);
                    var $modalForm = $modal.find('.modal-form');
                    $modalForm.find('[name="Activity_Index"]').val(activities.length + 1);
                    $modalForm.find('[name="Activity_Video"]').change();
                    $modalForm.find('[name="Activity_Url"]').rules('add', {
                        activity_url: true,
                        minlength: 4
                    });
                    $modal.find('.nav-tabs [data-toggle="tab"]:first').tab('show');
                    $modal.find(".modal-title").text("NEW ACTIVITY");
                    $modal.find("#Preview").attr("href", "").hide();
                    $modal.clear();
                    $(".chosen-select").trigger("chosen:updated");
                    $(".table tr.active").nextUntil('.header').css('display', 'none');
                    $(".table tr.header").removeClass("active");
                });

                $("#modal-activity .modal-form").on("submit", function (e){
                    e.preventDefault();
                    var $form = $(this);
                    var validator = $form.data("validator");
                    if (validator.valid() && $form.valid() && $form.find("#Activity_Thumbnail").data("Dropzone").validarDropzone()) {
                        var formDataJson = $form.serializeJSON({
                            useIntKeysAsArrayIndex: true,
                            parseBooleans: true,
                            parseNumbers: true
                        });

                        $form.find("#categoriesContainer").removeClass("has-error");
                        if(formDataJson.Activity_Categories && formDataJson.Activity_Categories.length){
                            var $btn = $form.find(":submit").button("loading");
                            var formData = new FormData();
                            $.each(formDataJson, function(key, value){
                                formData.append(key, value);
                            });

                            $form.find(".dropzone").each(function() {
                                var paramName = $(this).attr("id");
                                var $dz = $(this);
                                var dropzone = $dz.data("Dropzone");
                                if(dropzone.files.length){
                                    if(dropzone.options.maxFiles != null && dropzone.options.maxFiles == 1){
                                        var file = dropzone.files[0];
                                        if(file.status == "queued") {
                                            var name = $dz.attr("data-name");
                                            var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                            formData.append(paramName, file, fileName);
                                        }
                                        else formData.append(paramName, file.url.replace("/Content", "Content"));
                                    }else{
                                        $.each(dropzone.files, function(i, file){
                                            if(file.status == "queued") {
                                                var name = $dz.attr("data-name");
                                                var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                                formData.append(paramName + '[' + i + ']', file, fileName);
                                            }
                                            else formData.append(paramName, file.url.replace("/Content", "Content"));
                                        });
                                    }
                                }
                            });

                            formData.append("Activity_CategoriesNew", formDataJson.Activity_Categories);
                            $.each($form.find("#Activity_Gallery").data("Dropzone").files, function(){
                                if(this.url) formData.append("Activity_GalleryNew", this.url.replace("/Content", "Content"));
                            });

                            $.ajax({
                                url: "/admin/InsertOrUpadteActivity",
                                method: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function(response) {
                                    $.redirect(location.href, { Action: formDataJson.Activity_Id == 0 ? "insert" : "update", Status: true });
                                },
                                error: function(xhr, status, error){
                                    console.log(xhr, status, error);
                                },
                                always: function(){
                                    $btn.button("reset");
                                }
                            });
                        }
                        else{
                            $("#categoriesContainer").addClass("has-error");
                            $.error("Categories", "Please select at least one category");
                        }
                    }
                    return false;
                });

                $(this).on("click", ".btn-save-calendar", function (){
                    var $btn = $(this);
                    var $row = $btn.closest("tr");
                    console.log($row);
                    if ($row.validValues()) {
                        var values = $row.getValues();
                        values.ActivitiesCalendarSchedule_idSchedule = $row.find("[name='ActivitiesCalendarSchedule_idSchedule']").val().toString();
                        console.log(values);
                        $.post("/admin/InsertUpdateActivitiesCalendarSchedule", values, function (res) {
                            console.log(res);
                            if (res != 0) {
                                $.success("UPDATED", "Los datos fueron actualizados correctamente.");

                                var activity = activities.find(a => a.Activity_Id == res.ActivitiesCalendarSchedule_idActivity);
                                var calendary = activity.ActivitiesCalendar ;
                                   calendary.push(values);

                                console.log(activity);
                            } else {
                                $.error("ERROR", "An unexpected error occurred, try later");
                            }
                        });
                    }
                });


                $(".dropzone").each(function (index, el){
                    var oneFile = $(this).hasClass('one');
                    var name = this.dataset && this.dataset.name ? this.dataset.name : null;
                    var thumbnailWidth = this.dataset && this.dataset.thumbnailwidth ? parseFloat(this.dataset.thumbnailwidth) : null;
                    var thumbnailHeight = this.dataset && this.dataset.thumbnailheight ? parseFloat(this.dataset.thumbnailheight) : null;
                    $(this).dropzone({
                        url: '/admin/InsertOrUpadteActivity',
                        autoProcessQueue: false,
                        thumbnailWidth: thumbnailWidth,
                        thumbnailHeight: thumbnailHeight,
                        dictDefaultMessage: "Drop files here to upload<br><b>" + thumbnailWidth + "x" + thumbnailHeight,
                        maxFiles: oneFile ? 1 : null,
                        uploadMultiple: oneFile ? false : true,
                        addRemoveLinks: true,
                        init: function ()
                        {
                            var $el = $(this.element);
                            $el.data("Dropzone", this);
                            this.on("thumbnail", function (file)
                            {
                                if (!file.id && (file.status != "error" && file.status != "success")) {
                                    if (thumbnailWidth && file.width != thumbnailWidth || thumbnailHeight && file.height != thumbnailHeight) file.rejectDimensions();
                                    else file.acceptDimensions();
                                }
                                $(file.previewElement).find(".dz-remove").removeClass("btn-circle btn-circle-xs");
                            });

                            this.on('addedfile', function (file)
                            {
                                if (oneFile && this.files.length > 1) this.removeFile(this.files[0]);
                                if(file.id) $(file.previewElement).attr("id", file.id);
                                if(file.idx) $(file.previewElement).append('<div class="dz-index">' + file.idx + '</div>');
                                if($el.hasClass("sortable")) $(file.previewElement).addClass("sortable-item");
                                $(file.previewElement).find(".dz-remove").attr("title", "Delete " + file.name);
                            });

                            this.on('complete', function(file, response) {
                                if (this.sortable && this.filesToAdd == this.files.length) {
                                    this.reorder();
                                }
                            });
                        },
                        accept: function (file, done){
                            var dz = this;
                            file.acceptDimensions = done;
                            file.rejectDimensions = function ()
                            {
                                var porcentaje = thumbnailWidth * 0.1;
                                var medidas = file.width + " x " + file.height;
                                var minWidth = thumbnailWidth - porcentaje;
                                var maxWidth = thumbnailWidth + porcentaje;
                                if (file.width < minWidth) {
                                    $.warning(file.name, "La imagen mide " + medidas + " es demasiado pequeña.<br/>El ancho minimo debe ser de " + minWidth + "px");
                                    setTimeout(function ()
                                    {
                                        dz.removeFile(file);
                                    }, 1500);
                                } else if (file.width > maxWidth) {
                                    $.warning(file.name, "La imagen mide " + medidas + " es demasiado grande.<br/>El ancho maximo debe ser de " + maxWidth + "px");
                                    setTimeout(function ()
                                    {
                                        dz.removeFile(file);
                                    }, 1500);
                                } else {
                                    BootstrapDialog.show({
                                        type: BootstrapDialog.TYPE_WARNING,
                                        title: file.name,
                                        closable: false,
                                        message: "You selected an image of " + medidas + " The image should be " + (thumbnailWidth + " x " + thumbnailHeight) + "<br/>Do you wish to continue?",
                                        buttons: [{
                                            label: 'Cancel',
                                            action: function (dialog)
                                            {
                                                dz.removeFile(file);
                                                dialog.close();
                                            }
                                        }, {
                                            label: 'Continue',
                                            action: function (dialog)
                                            {
                                                done();
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            };
                        }
                    });
                });

                $(".sortable").sortableDB(".sortable-item");

                function getIdYoutubeUrl(url)
                {
                    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                    var match = url.match(regExp);
                    if (match && match[2].length == 11) {
                        return match[2];
                    }
                    return null;
                }
            });
        </script>
    }
</section>
