﻿@{
    List<string> Elenco = ViewBag.Elenco;
    ViewBag.Title = "CheckBank";
}

<h2>Check Banca Sella payments</h2>

<div class="container">
    <div class="row">
        <div class="form-group col-sm-9">
        </div>

        <div class="form-group col-sm-1">
            <label>&nbsp;</label>
            <div>
                <button class="btn btn-primary" onclick="Save()" type="button" data-toggle="modal" data-target="#modal-new">Conferma</button>
            </div>
        </div>

        <div class="form-group col-sm-1"></div>
    </div>

    <div class="container">
        <table id="table-check" class="table table-hover table-bordered no-margins" data-filtering="true" style="width:100%;">
            <thead>
                <tr>
                    <th class="text-center" style="width: 10%;">Acquisti KO ma confermati su Banca Sella</th>                   
                </tr>
            </thead>

            <tbody id="tbodyId">
                @foreach (string elem in Elenco)
                {
                    <tr>
                        <td style="width: 10%;">@elem</td>      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function Save() {
            var risp = confirm("Vuoi confermare questi acquisti?");

            if (risp == true) {
                var URL = "/Admin/CheckBankConfirm/";

                var promise = $.post(URL);

                promise.done(function (data) {
                    $.warning("Avviso", "Acquisti confermati");

                    $("#tbodyId").empty();
                });
            }

        }
    </script>
}
           
