﻿@using Core
@model BackOfficeAcquaJoss.Models.ConvenzioniModel
<style>
    .ibox .ibox-title {
        padding: 15px 15px 7px;
        min-height: 48px;
    }

    .ibox-content {
        padding: 15px 20px 20px 20px;
    }
    .tittle_button{
        margin-bottom: 20px;
    }
    .color_picker{
        margin-bottom: 20px;
    }
     .colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div {
        height: 30px;
    }
</style>

<section class="Convenzioni">

    <div class="container">
         <div class="row">


             <form id="convenzioni-form" method="post" autocomplete="off" validate="true">
                 <input type="hidden" name="Convenzioni_Id" value="@Model.home.Convenzioni_Id" />
                 <div class="ibox float-e-margins">
                     <div class="ibox-title" style="padding:5px;">
                         <div class="col-sm-6">
                             <h2 class="">CONVENZIONI</h2>
                         </div>
                         <div class="col-sm-6">
                             <div class="pull-right">
                                 <a id="Preview" href="#" target="_blank" class="btn btn-info">Preview</a>
                                 <button type="submit" class="btn btn-primary">Save changes</button>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="col-sm-12">
                     <div class="ibox float-e-margins">
                         <div class="ibox-title">
                             <h5><i class="fa fa-desktop"></i>Content Inizio</h5>
                         </div>
                         <div class="ibox-content">
                             <div class="form-group">
                                 <label class="control-label">Title 1</label>
                                 <input type="text" class="form-control" name="Title_1" required value="@Model.home.Title_1" />
                             </div>
                             <div class="form-group m-b-sm">
                                 <label>Description 1</label>
                                 <div class="editor">
                                     <textarea Id="Description_1" Name="Description_1" class="form-control text_editor" Required="required" MaxLength="3000">@Model.home.Description_1</textarea>
                                     <label id="Convenzioni_Description-msn_1" class="error" for="Description_1" style="display: none;">This field is required</label>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="control-label">Title 2</label>
                                 <input type="text" class="form-control" name="Title_2" required value="@Model.home.Title_2" />
                             </div>
                             <div class="form-group m-b-sm">
                                 <label>Description 2</label>
                                 <div class="editor">
                                     <textarea Id="Description_2" Name="Description_2" class="form-control text_editor" Required="required" MaxLength="3000">@Model.home.Description_2</textarea>
                                     <label id="Convenzioni_Description-msn_2" class="error" for="Description_2" style="display: none;">This field is required</label>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="control-label">Title 3</label>
                                 <input type="text" class="form-control" name="Title_3" required value="Model.home.Title_3" />
                             </div>
                             <div class="form-group m-b-sm">
                                 <label>Description 3</label>
                                 <div class="editor">
                                     <textarea Id="Description_3" Name="Description_3" class="form-control text_editor" Required="required" MaxLength="3000">@Model.home.Description_3</textarea>
                                     <label id="Convenzioni_Description-msn_3" class="error" for="Description_3" style="display: none;">This field is required</label>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="control-label">Contattaci</label>
                                 <input type="text" class="form-control" name="Contattaci" required value="@Model.home.Contattaci" />
                             </div>
                             <div class="form-group">
                                 <label class="control-label">Email</label>
                                 <input type="text" class="form-control" name="Email" required value="@Model.home.Email" />
                             </div>
                         </div>
                
                     </div>
                 </div>
                 <div class="col-sm-6">
                     <div class="ibox float-e-margins">
                         <div id="content_button1" class="ibox-title button_container_tittle" style="background-color: @Model.home.Color_button_1">
                             <h5 id="h_title1" style="color: @Model.home.Color_Text_1"><i class="fa fa-desktop"></i>Content Button 1</h5>
                         </div>
                         <div class="ibox-content">
                             <div class="row">
                                 <div class="col-sm-12">
                                     <div class="form-group">
                                         <label class="control-label">Tittle Button 1</label>
                                         <input type="text" class="form-control tittle_button" required name="Title_button_1" value="@Model.home.Title_button_1" />
                                         <label class="control-label">Color Button 1</label>
                                         <div id="cp1" class="input-group color_picker colorpicker-component">
                                             <input type="text" name="Color_button_1" value="@Model.home.Color_button_1" required class="form-control" />
                                             <span class="input-group-addon"><i></i></span>
                                         </div>
                                         <label class="control-label">Color Text 1</label>
                                         <div id="cp2" class="input-group color_picker colorpicker-component">
                                             <input type="text" name="Color_Text_1" value="@Model.home.Color_Text_1" required class="form-control" />
                                             <span class="input-group-addon"><i></i></span>
                                         </div>
                                         <div id="Home_ImgMiddle" class="dropzone one" data-name=""></div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                     </div>
                 </div>
                 <div class="col-sm-6">
                     <div class="ibox float-e-margins">
                         <div id="content_button2" class="ibox-title button_container_tittle" style="background-color: @Model.home.Color_button_2">
                             <h5 id="h_title2" style="color: @Model.home.Color_Text_2"><i class="fa fa-desktop"></i>Content Button 2</h5>
                         </div>
                         <div class="ibox-content">
                             <div class="row">
                                 <div class="col-sm-12">
                                     <div class="form-group">
                                         <label class="control-label">Tittle Button 2</label>
                                         <input type="text" class="form-control tittle_button" name="Title_button_2" required value="@Model.home.Title_button_2" />
                                         <label class="control-label">Color Button 2</label>
                                         <div id="cp3" class="input-group color_picker colorpicker-component">
                                             <input type="text" name="Color_button_2" value="@Model.home.Color_button_2" required class="form-control" />
                                             <span class="input-group-addon"><i></i></span>
                                         </div>
                                         <label class="control-label">Color Text 2</label>
                                         <div id="cp4" class="input-group color_picker colorpicker-component">
                                             <input type="text" name="Color_Text_2" value="@Model.home.Color_Text_2" required class="form-control" />
                                             <span class="input-group-addon"><i></i></span>
                                         </div>
                                         <div id="Home_ImgMiddle" class="dropzone one" data-name=""></div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                     </div>
                 </div>
             </form>
        </div>
    </div>




</section>
@section Scripts{
    <script language="javascript" type="text/javascript">

        Dropzone.autoDiscover = false;

        $(document).ready(function () {


            $('#convenzioni-form').on("submit", function () {
                var $form = $(this);
                var validator = $form.data("validator");
                if (validator.valid() && $form.valid()) {
                    var formDataJson = $form.serializeJSON({
                        useIntKeysAsArrayIndex: true,
                        parseBooleans: true,
                        parseNumbers: true
                    });
                    console.log(formDataJson);
                    var $btn = $form.find(":submit").button("loading");
                    var formData = new FormData();
                    $.each(formDataJson, function (key, value) {
                        console.log(key, value);
                        formData.append(key, value);
                    });
                    $form.find(".dropzone").each(function () {
                        var paramName = $(this).attr("id");
                        var $dz = $(this);
                        var dropzone = $dz.data("Dropzone");
                        if (dropzone.files.length) {
                            if (dropzone.options.maxFiles != null && dropzone.options.maxFiles == 1) {
                                var file = dropzone.files[0];
                                if (file.status == "queued") {
                                    var name = $dz.attr("data-name");
                                    var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                    formData.append(paramName, file, fileName);
                                }
                                else formData.append(paramName, file.url.replace("/Content", "Content"));
                            } else {
                                $.each(dropzone.files, function (i, file) {
                                    if (file.status == "queued") {
                                        var name = $dz.attr("data-name");
                                        var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                        formData.append(paramName + '[' + i + ']', file, fileName);
                                    }
                                    else formData.append(paramName, file.url.replace("/Content", "Content"));
                                });
                            }
                        }
                    });

                    $.ajax({
                        url: "/admin/InsertOrUpdateConvenzioni",
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            $.redirect(location.href, { Action: formDataJson.Home_Id == 0 ? "insert" : "update", Status: true });
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr, status, error);
                        },
                        always: function () {
                            $btn.button("reset");
                        }
                    });

                }
                return false;
            });

            $(".dropzone").each(function (index, el) {
                var oneFile = $(this).hasClass('one');
                var name = this.dataset && this.dataset.name ? this.dataset.name : null;
                $(this).dropzone({
                    url: '/admin/InsertOrUpdateHome',
                    autoProcessQueue: false,
                    dictDefaultMessage: "Drop files here to upload",
                    maxFiles: oneFile ? 1 : null,
                    uploadMultiple: oneFile ? false : true,
                    addRemoveLinks: true,
                    init: function () {
                        var $el = $(this.element);
                        $el.data("Dropzone", this);
                        this.on("thumbnail", function (file) {
                            $(file.previewElement).find(".dz-remove").removeClass("btn-circle btn-circle-xs");
                        });

                        this.on('addedfile', function (file) {
                            if (oneFile && this.files.length > 1) this.removeFile(this.files[0]);
                            if (file.id) $(file.previewElement).attr("id", file.id);
                            if (file.idx) $(file.previewElement).append('<div class="dz-index">' + file.idx + '</div>');
                            if ($el.hasClass("sortable")) $(file.previewElement).addClass("sortable-item");
                            $(file.previewElement).find(".dz-remove").attr("title", "Delete " + file.name);
                        });

                        this.on('complete', function (file, response) {
                            if (this.sortable && this.filesToAdd == this.files.length) {
                                this.reorder();
                            }
                        });
                    },
                });
            });

            $('#cp1').colorpicker().on('changeColor', function (e) {
                $('#content_button1')[0].style.backgroundColor = e.color.toString(
                    'rgba');
            });
            $('#cp2').colorpicker().on('changeColor', function (e) {
                $('#h_title1')[0].style.color = e.color.toString(
                    'rgba');
            });
            $('#cp3').colorpicker().on('changeColor', function (e) {
                $('#content_button2')[0].style.backgroundColor = e.color.toString(
                    'rgba');
            });
            $('#cp4').colorpicker().on('changeColor', function (e) {
                $('#h_title2')[0].style.color = e.color.toString(
                    'rgba');
            });
        });

            $(function () {
                $('#cp1').colorpicker({
                    color: '@Model.home.Color_button_1',
                    format: 'rgb'
                });
                $('#cp2').colorpicker({
                    color: '@Model.home.Color_Text_1',
                    format: 'rgb'
                });
                $('#cp3').colorpicker({
                    color: '@Model.home.Color_button_2',
                    format: 'rgb'
                });
                $('#cp4').colorpicker({
                    color: '@Model.home.Color_Text_2',
                    format: 'rgb'
                });
            });

     </script>
}