﻿@using Core;
@using General = Core.Resources.General;
@using Dictionary = Core.Resources.Customers;
@model BackOfficeAcquaJoss.Models.CustomersModel
@{
    List<Core.ProductsTypes> productsTypes = Model.ProductsTypes.FindAll(pt => pt.ProductType_Type.Equals(Core.ProductType.PRODUCT));
    List<Core.Customers> customers = Model.Customers;
    List<Core.Customers> schools = Model.Schools;
    int size = 10;
    double index = 0;
    double page = 0;
    if (Model.Customer == null)
    {
        Model.Customer = new Core.Customers();
    }
    else
    {
        index = customers.FindIndex(s => s.Customer_Id.Equals(Model.Customer.Customer_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Customers");
}

@section Css{
    <style>
        .responsive-table tbody {
            display: block;
            height: 200px;
            overflow: auto;
        }

            .responsive-table thead, .responsive-table tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        .responsive-table thead {
            width: calc( 100% - 1em );
        }

        .footable-filtering-search .dropdown-menu li > a > label > input {
            opacity: 1;
            left: 2px;
            bottom: 9px;
        }

        @@media (max-width: 768px){
            .responsive-table tbody {
                height: 525px;
            }
        }
    </style>
}

<div class="row">
    <div class="col-sm-7">
        <section id="Clients">
            <div class="ibox clearfix">
                <div class="ibox-title">
                    <h5><i class="fa fa-group"></i> @General.lblClient.ToUpper()</h5> <!-- fa-group | fa-handshake-o -->
                    <div class="ibox-tools">
                        <a class="btn btn-primary btn-xs btn-new-client" form_type="section#Clients" href="javascript:void(0)">@string.Format(General.lblNew, General.lblClient)</a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content clearfix" style="padding:0px 5px;">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table-clients" class="table table-order table-stripped table-hover toggle-arrow-tiny responsive-table" data-paging="false" data-sorting="true" data-filtering="true" data-filter-dropdown-title="Search in:"></table>
                            @*data-show-toggle="false" data-index="@index" data-paging="true" data-paging-size="@size" data-paging-current="@page"*@
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="Schools">
            <div class="ibox clearfix">
                <div class="ibox-title">
                    <h5><i class="fa fa fa-graduation-cap"></i> @General.lblSchool.ToUpper()</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-primary btn-xs btn-new-school" form_type="section#Schools" href="javascript:void(0)">@string.Format(General.lblNew, General.lblSchool)</a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content clearfix" style="padding:0px 5px;">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="table-schools" class="table table-order table-stripped table-hover toggle-arrow-tiny responsive-table" data-paging="false" data-sorting="true" data-filtering="true" data-filter-dropdown-title="Search in:"></table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-sm-5">
        <section id="Register">
            <div class="ibox clearfix">
                <div class="ibox-title">
                    <h5><i class="fa fa-question"></i> @Dictionary.lblSection.ToUpper()</h5>
                    <div class="ibox-tools">
                        <a class="" style="visibility:hidden;" href=""></a>
                    </div>
                </div>
                <div class="ibox-content clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="form-customer" role="form" action="/Ajax/CustomersInsertOrUpdate" method="post" data-toggle="validator" >
                                @Html.HiddenFor(model => Model.Customer.Customer_Id, new { Id = "Client_Customer_Id", name = "Customer_Id" })
                                <div class="row">
                                    <div class="col-lg-10 personal-fields p-r-no-paddings">
                                        <div class="form-group col-lg-5 col-md-6 p-l-no-paddings">
                                            @Html.LabelFor(model => Model.Customer.Customer_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_Name, new { htmlAttributes = new { @name = "Customer_Name", @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-5 col-md-6 p-l-no-paddings">
                                            @Html.LabelFor(model => Model.Customer.Customer_LastName)
                                            @Html.EditorFor(model => Model.Customer.Customer_LastName, new { htmlAttributes = new { @name = "Customer_LastName", @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-2 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Sex)
                                            <select id="Client_Customer_Sex" name="Customer.Customer_Sex" class="form-control input-sm mandatory" required >
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenina</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2 col-md-6 text-center">
                                        @Html.LabelFor(model => Model.Customer.Customer_Status)
                                        <div class="">
                                            @Html.EditorFor(model => Model.Customer.Customer_Status, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-7 contact-fields">
                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Email)
                                            @Html.EditorFor(model => Model.Customer.Customer_Email, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Phone)
                                            @Html.EditorFor(model => Model.Customer.Customer_Phone, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_CellPhone)
                                            @Html.EditorFor(model => Model.Customer.Customer_CellPhone, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_ZipCode)
                                            @Html.EditorFor(model => Model.Customer.Customer_ZipCode, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_SSN)
                                            @Html.EditorFor(model => Model.Customer.Customer_SSN, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-5 ubication-fields">
                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_CountryCode, new { @class = "text_overflow" })
                                            <select name="Customer.Customer_CountryCode" class="form-control input-sm chosen-select" data-placeholder="&nbsp;" required>
                                                <option value=""></option>
                                                @foreach (Countries c in Model.CoutriesList)
                                            {
                                                    <option value="@c.Country_Code">@c.Country_Name</option>
                                            }
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_City)
                                            @Html.EditorFor(model => Model.Customer.Customer_City, new { htmlAttributes = new { @class = "form-control input-sm input_key", @required = "required" } })
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Region)
                                            @Html.EditorFor(model => Model.Customer.Customer_Region, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>


                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_State)
                                            @Html.EditorFor(model => Model.Customer.Customer_State, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        @*
                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_State_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_State_Name, new { htmlAttributes = new { @class = "form-control input-sm input_key", @required = "required" } })
                                        </div>
                                        *@

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_VAT_Number)
                                            @Html.EditorFor(model => Model.Customer.Customer_VAT_Number, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12 school-fields">
                                        <div class="form-group col-lg-12 col-md-6 p-xxs">
                                            @Html.LabelFor(model => Model.Customer.Customer_Company_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_Company_Name, new { htmlAttributes = new { @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 p-xxs">
                                            @Html.LabelFor(model => Model.Customer.Customer_Mechanographic_Code, new { @class = "text_overflow" })
                                            @Html.EditorFor(model => Model.Customer.Customer_Mechanographic_Code, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 p-xxs">
                                            @Html.LabelFor(model => Model.Customer.Customer_SchoolCategory, new { @class = "text_overflow" })
                                            <div class="input-group">
                                                <select name="Customer.Customer_SchoolCategory" class="form-control input-sm mandatory" data-placeholder="&nbsp;" required style="position: relative;-ms-flex: 1 1 auto;flex: 1 1 auto;width: 75%;margin-bottom: 0;">
                                                    <option></option>
                                                    @foreach (SchoolCategories c in SchoolCategories.Instance().GetSchoolCategories())
                                                    {
                                                        <option value="@c.SchoolCategory_Identifier">@c.SchoolCategory_Name</option>
                                                    }
                                                </select>
                                                <div class="input-group-append">
                                                    <a data-toggle="modal" class="input-group-addon" href="#modal-add-schoolcategory" style="border-color: transparent;"><span class="fa fa-plus"></span></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 p-xxs">
                                            @Html.LabelFor(model => Model.Customer.Customer_Headquarter)
                                            @Html.EditorFor(model => Model.Customer.Customer_Headquarter, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 p-xxs">
                                            @Html.LabelFor(model => Model.Customer.Customer_School_Headquarters)
                                            @Html.EditorFor(model => Model.Customer.Customer_School_Headquarters, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-4 col-sm-6">
                                        @Html.LabelFor(model => Model.Customer.Customer_Address)
                                        @Html.TextAreaFor(model => Model.Customer.Customer_Address, new { @class = "form-control input-sm" })
                                    </div>

                                    <div class="form-group col-lg-4 col-sm-6">
                                        @Html.LabelFor(model => Model.Customer.Customer_Direction)
                                        @Html.TextAreaFor(model => Model.Customer.Customer_Direction, new { @class = "form-control input-sm" })
                                    </div>

                                    <div class="form-group col-lg-2 col-sm-6 text-center">
                                        @Html.LabelFor(model => Model.Customer.Customer_Marketing)
                                        <div>
                                            @Html.EditorFor(model => Model.Customer.Customer_Marketing, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-2 col-sm-6 text-center"">
                                        @Html.LabelFor(model => Model.Customer.Customer_Invoice)
                                        <div>
                                            @Html.EditorFor(model => Model.Customer.Customer_Invoice, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                        </div>
                                    </div>
                                </div>

                                <div id="buttons" class="text-right">
                                    <button type="submit" class="btn btn-primary btn-save">
                                        @Html.Raw(Model.Customer.Customer_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

    <script>
        var $sectionClients = $("section#Clients"),
            $sectionSchools = $("section#Schools"),
            $sectionRegister = $("section#Register"),
            $formCustomer = $("#form-customer");

        $(document).ready(function () {
            FooTable.FilteringStatusClient = FooTable.Filtering.extend({
                construct: function (instance) {
                    this._super(instance);
                    this.status = ["true", "false"]; @*["@General.lblActive", "@General.lblDeactivated"]*@
                    this.def = 'ALL';
                    this.$status = null;
                },
                $create: function () {
                    this._super();
                    var self = this,
                        $form_grp = $('<div/>', { class: 'form-group footable-filtering-status' })
                                    .append($('<label/>', { class: 'sr-only', text: '@General.lblStatus' }))
                                    .prependTo(self.$form);
                        @*$label_length = $('<span/>', { class: 'label label-default pull-left p-xs' }).html("<span class='rows_total'>" + self.ft.rows.all.length + "</span> of rows available")
                                        .prependTo(self.$form);*@

                    self.$status = $('<select/>', { 'class': 'form-control input-sm' })
                        .on('change', { self: self }, self._onStatusDropdownChanged)
                        .append($('<option/>', { text: self.def }))
                        .appendTo($form_grp);

                    $.each(self.status, function (i, status) {
                        self.$status.append($('<option/>').text(status.toUpperCase()).val(status));
                    });
                },
                _onStatusDropdownChanged: function (e) {
                    var self = e.data.self,
                        selected = $(this).val();
                    if (selected !== self.def) {
                        self.addFilter("@General.lblStatus", selected, ['@General.lblStatus']);
                    } else {
                        self.removeFilter("@General.lblStatus");
                    }
                    self.filter();
                },
                draw: function () {
                    this._super();
                    var self = this,
                        items = self.ft.rows.array.length;
                    self.ft.$el.find(".rows_total").text(items);
                    var status = this.find("@General.lblStatus");
                    if (status instanceof FooTable.Filter) {
                        console.log("self: ", self, "status: ", status.query.val(), "this.$status: ", this.$status.val());
                        this.$status.val(status.query.val());
                    } else {
                        this.$status.val(this.def);
                    }
                }
            });

            var ftClients = FooTable.init(
                '#table-clients',
                {
                    columns: [
                        { name: "Customer_Id", title: "ID", style: { width: 60, maxWidth: 60 }, breakpoints: "xs sm", classes: "text-left", sortable: false },
                        { name: "Customer_Name", title: "@Dictionary.Customer_Name", visible: false, sortable: false },
                        { name: "Customer_LastName", title: "@Dictionary.Customer_LastName", visible: false, sortable: false, "sorted": false },
                        { name: "Customer_FullName", title: "Nome e cognome", sortable: false, sorted: true },
                        { name: "Customer_Sex", title: "@Dictionary.Customer_Sex", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Email", title: "@Dictionary.Customer_Email", classes: "text-center text_overflow", sortable: false },
                        { name: "Customer_Phone", title: "@Dictionary.Customer_Phone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CellPhone", title: "@Dictionary.Customer_CellPhone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Fax", title: "Fax", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_ZipCode", title: "@Dictionary.Customer_ZipCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Direction", title: "@Dictionary.Customer_Direction", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CountryCode", title: "@Dictionary.Customer_CountryCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_City", title: "@Dictionary.Customer_City", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Region", title: "@Dictionary.Customer_Region", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State", title: "@Dictionary.Customer_State", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State_Name", title: "@Dictionary.Customer_State_Name", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Address", title: "@Dictionary.Customer_Address", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_VAT_Number", title: "@Dictionary.Customer_VAT_Number", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_SSN", title: "@Dictionary.Customer_SSN", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Marketing", title: "@Dictionary.Customer_Marketing", type: "text", breakpoints: "xs sm", classes: "text-center switch", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "onoffswitch";
                                div.style = "margin:auto;";

                                var text = document.createElement("div");
                                div.className = "hide";
                                text.textContent = (value == 'true' || value == true) ? '@General.lblActive' : '@General.lblDeactivated';

                                var input = document.createElement("input");
                                input.type = "checkbox"
                                input.id = `Customer_Marketing_${rowData.Customer_Id}`;
                                input.name = `Customer_Marketing_${rowData.Customer_Id}`;
                                input.className = "onoffswitch-checkbox change_marketing_client";
                                input.setAttribute("customer_id", `${rowData.Customer_Id}`);
                                input.checked = `${(value == 'true' || value == true) ? `checked` : ``}`;
                                input.onchange = function () {
                                    var ID = this.getAttribute("customer_id");
                                    var checked = this.checked;
                                    var $table = options;
                                    var row = $(this).closest("tr").data("__FooTableRow__");
                                    var values = rowData;
                                    $.post("@Url.Action("ChangeCustomers", "Ajax")", {
                                        id: this.getAttribute("customer_id"),
                                        status: this.checked,
                                        column: "Customer_Marketing"
                                    }, function (res) {
                                        if (res) {
                                            values.Customer_Status = checked;
                                            if (row instanceof FooTable.Row) {
                                                row.val(values);
                                                $.success("SUCCESS", "Se " + (status ? "activo" : "desactivo") + " correctamente");
                                            }
                                        } else {
                                            $.error("ERROR", "@General.lblMsgError");
                                        }
                                    }).fail(function (response, status, xhr) {
                                        console.log(response, status, xhr);
                                        $.error("ERROR", "@General.lblMsgError");
                                    });
                                };

                                var label = document.createElement("label");
                                label.className = "onoffswitch-label";
                                label.setAttribute("for", `Customer_Marketing_${rowData.Customer_Id}`);

                                var spaninner = document.createElement("span");
                                spaninner.className = "onoffswitch-inner";

                                var spanswitch = document.createElement("span");
                                spanswitch.className = "onoffswitch-switch";

                                label.appendChild(spaninner);
                                label.appendChild(spanswitch);
                                div.appendChild(text);
                                div.appendChild(input);
                                div.appendChild(label);

                                return div;
                            }
                        },
                        {
                            name: "@General.lblStatus", title: "@General.lblStatus", type: "text", visible: true, classes: "text-center", sortable: false,
                            formatter: function (value, options, rowData) {
                                console.log(value, options, rowData);
                                return rowData.Customer_Status;
                            }
                        },
                        {
                            name: "Customer_Status", title: "Status", type: "text", classes: "text-center switch", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "onoffswitch";
                                div.style = "margin:auto;";

                                var input = document.createElement("input");
                                input.type = "checkbox"
                                input.id = `Customer_Status_${rowData.Customer_Id}`;
                                input.name = `Customer_Status_${rowData.Customer_Id}`;
                                input.className = "onoffswitch-checkbox change_state_client";
                                input.setAttribute("customer_id", `${rowData.Customer_Id}`);
                                input.checked = `${(rowData.Customer_Status == 'true' || rowData.Customer_Status == true) ? `checked` : ``}`;
                                input.onchange = function () {
                                    var ID = this.getAttribute("customer_id");
                                    var checked = this.checked;
                                    var $table = options;
                                    var row = $(this).closest("tr").data("__FooTableRow__");
                                    var values = rowData;
                                    $.post("@Url.Action("ChangeCustomers", "Ajax")", {
                                        id: this.getAttribute("customer_id"),
                                        status: this.checked,
                                        column: "Customer_Status"
                                    }, function (res) {
                                        if (res) {
                                            values.Customer_Status = checked;
                                            if (row instanceof FooTable.Row) {
                                                row.val(values);
                                                $.success("SUCCESS", "Se " + (status ? "activo" : "desactivo") + " correctamente");
                                            }
                                        } else {
                                            $.error("ERROR", "@General.lblMsgError");
                                        }
                                    }).fail(function (response, status, xhr) {
                                        console.log(response, status, xhr);
                                        $.error("ERROR", "@General.lblMsgError");
                                    });
                                };

                                var label = document.createElement("label");
                                label.className = "onoffswitch-label";
                                label.setAttribute("for", `Customer_Status_${rowData.Customer_Id}`);

                                var spaninner = document.createElement("span");
                                spaninner.className = "onoffswitch-inner";

                                var spanswitch = document.createElement("span");
                                spanswitch.className = "onoffswitch-switch";

                                label.appendChild(spaninner);
                                label.appendChild(spanswitch);
                                div.appendChild(input);
                                div.appendChild(label);

                                return div;
                            }
                        },
                        {
                            name: "", title: "@General.lblActions", classes: "text-center", sortable: false, //"breakpoints": "xs sm md",
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "";
                                div.style = "margin:auto;";

                                var anchorIcon = document.createElement("i");
                                anchorIcon.className = "fa fa-edit visible-xs";
                                var anchorText = document.createElement("span");
                                anchorText.className = "hidden-xs";
                                anchorText.textContent = "@General.lblEdit";

                                var anchor = document.createElement("a");
                                anchor.className = "btn btn-default btn-sm ladda-button ladda-button-demo edit_client"
                                anchor.setAttribute("data-style", "zoom-in");
                                anchor.appendChild(anchorIcon);
                                anchor.appendChild(anchorText);
                                anchor.onclick = function (e) {
                                    e.preventDefault();
                                    var $this = $(this);
                                    $sectionSchools.find("tbody tr.active").removeClass();
                                    $sectionClients.find("tbody tr.active").removeClass();
                                    $this.closest("tr").addClass("active");
                                    $this.button('loading');
                                    var dataRow = $this.closest("tr").data("__FooTableRow__");
                                    $formCustomer.RefactoryForm(true, dataRow);
                                    $formCustomer.setValues(dataRow.val(), "Customer.");
                                    $this.button('reset');
                                };
                                div.appendChild(anchor);

                                return div;
                            }
                        }
                    ],
                    rows: $.post('@Url.Action("GetCustomersClientsJson", "Ajax")'),
                    components: {
                        filtering: FooTable.FilteringStatusClient
                    },
                    on: {
                        "postdraw.ft.table": function (e, ft) {
                            $.each(ft.rows.array, function (i, row) {
                                var attrs = {
                                    "id": row.value.Customer_Id
                                };
                                ft.$el.find("tbody tr").eq(i).attr(attrs);
                            });
                        },
                    }
                }
            );

            var ftScholls = FooTable.init(
                '#table-schools',
                {
                    columns: [
                        { name: "Customer_Id", title: "ID", style: { width: 60, maxWidth: 60 }, classes: "text-left", sortable: false },
                        { name: "Customer_Name", title: "@Dictionary.Customer_Name", visible: false, sortable: false },
                        { name: "Customer_LastName", title: "@Dictionary.Customer_LastName", visible: false, sortable: false, sorted: false },
                        { name: "Customer_FullName", title: "Nome e cognome", visible: false, sortable: false, sorted: false },
                        { name: "Customer_Company_Name", title: "@General.lblSchoolName", classes: "text-center", sortable: false, sorted: true },
                        { name: "Customer_Sex", title: "@Dictionary.Customer_Sex", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Email", title: "@Dictionary.Customer_Email", classes: "text-center text_overflow", sortable: false },
                        { name: "Customer_Phone", title: "@Dictionary.Customer_Phone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CellPhone", title: "@Dictionary.Customer_CellPhone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Fax", title: "Fax", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_ZipCode", title: "@Dictionary.Customer_ZipCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Direction", title: "@Dictionary.Customer_Direction", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CountryCode", title: "@Dictionary.Customer_CountryCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_City", title: "@Dictionary.Customer_City", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Region", title: "@Dictionary.Customer_Region", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State", title: "@Dictionary.Customer_State", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State_Name", title: "@Dictionary.Customer_State_Name", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Invoice", title: "@Dictionary.Customer_Invoice", type: "text", visible: false, classes: "text-center", sortable: false,
                            @*formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "onoffswitch";
                                div.style = "margin:auto;";

                                var input = document.createElement("input");
                                input.type = "checkbox"
                                input.id = `Customer_Invoice_${rowData.Customer_Id}`;
                                input.name = `Customer_Invoice_${rowData.Customer_Id}`;
                                input.className = "onoffswitch-checkbox change_invoice_school";
                                input.setAttribute("customer_id", `${rowData.Customer_Id}`);
                                input.checked = `${(value == 'true' || value == true) ? `checked` : ``}`;
                                input.onchange = function () {
                                    var ID = this.getAttribute("customer_id");
                                    var checked = this.checked;
                                    var $table = options;
                                    var row = $(this).closest("tr").data("__FooTableRow__");
                                    var values = rowData;
                                    $.post("@Url.Action("ChangeCustomers", "Ajax")", {
                                        id: this.getAttribute("customer_id"),
                                        status: this.checked,
                                        column: "Customer_Invoice"
                                    }, function (res) {
                                        if (res) {
                                            values.Customer_Status = checked;
                                            if (row instanceof FooTable.Row) {
                                                row.val(values);
                                                $.success("SUCCESS", "Se " + (status ? "activo" : "desactivo") + " correctamente");
                                            }
                                        } else {
                                            $.error("ERROR", "@General.lblMsgError");
                                        }
                                    }).fail(function (response, status, xhr) {
                                        console.log(response, status, xhr);
                                        $.error("ERROR", "@General.lblMsgError");
                                    });
                                };

                                var label = document.createElement("label");
                                label.className = "onoffswitch-label";
                                label.setAttribute("for", `Customer_Status_${rowData.Customer_Id}`);

                                var spaninner = document.createElement("span");
                                spaninner.className = "onoffswitch-inner";

                                var spanswitch = document.createElement("span");
                                spanswitch.className = "onoffswitch-switch";

                                label.appendChild(spaninner);
                                label.appendChild(spanswitch);
                                div.appendChild(input);
                                div.appendChild(label);

                                return div;
                            }*@
                        },
                        { name: "Customer_Address", title: "@Dictionary.Customer_Address", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_VAT_Number", title: "@Dictionary.Customer_VAT_Number", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_SSN", title: "@Dictionary.Customer_SSN", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Marketing", title: "@Dictionary.Customer_Marketing", type: "text", classes: "text-center", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "onoffswitch";
                                div.style = "margin:auto;";

                                var input = document.createElement("input");
                                input.type = "checkbox"
                                input.id = `Customer_Marketing_${rowData.Customer_Id}`;
                                input.name = `Customer_Marketing_${rowData.Customer_Id}`;
                                input.className = "onoffswitch-checkbox change_marketing_school";
                                input.setAttribute("customer_id", `${rowData.Customer_Id}`);
                                input.checked = `${(value == 'true' || value == true) ? `checked` : ``}`;
                                input.onchange = function () {
                                    var ID = this.getAttribute("customer_id");
                                    var checked = this.checked;
                                    var $table = options;
                                    var row = $(this).closest("tr").data("__FooTableRow__");
                                    var values = rowData;
                                    $.post("@Url.Action("ChangeCustomers", "Ajax")", {
                                        id: this.getAttribute("customer_id"),
                                        status: this.checked,
                                        column: "Customer_Marketing"
                                    }, function (res) {
                                        if (res) {
                                            values.Customer_Status = checked;
                                            if (row instanceof FooTable.Row) {
                                                row.val(values);
                                                $.success("SUCCESS", "Se " + (status ? "activo" : "desactivo") + " correctamente");
                                            }
                                        } else {
                                            $.error("ERROR", "@General.lblMsgError");
                                        }
                                    }).fail(function (response, status, xhr) {
                                        console.log(response, status, xhr);
                                        $.error("ERROR", "@General.lblMsgError");
                                    });
                                };

                                var label = document.createElement("label");
                                label.className = "onoffswitch-label";
                                label.setAttribute("for", `Customer_Status_${rowData.Customer_Id}`);

                                var spaninner = document.createElement("span");
                                spaninner.className = "onoffswitch-inner";

                                var spanswitch = document.createElement("span");
                                spanswitch.className = "onoffswitch-switch";

                                label.appendChild(spaninner);
                                label.appendChild(spanswitch);
                                div.appendChild(input);
                                div.appendChild(label);

                                return div;
                            }
                        },
                        { name: "Customer_SchoolCategory", title: "@Dictionary.Customer_SchoolCategory", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Mechanographic_Code", title: "@Dictionary.Customer_Mechanographic_Code", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Headquarter", title: "@Dictionary.Customer_Headquarter", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_School_Headquarters", title: "@Dictionary.Customer_School_Headquarters", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Status", title: "@Dictionary.Customer_Status", classes: "text-center switch", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "onoffswitch";
                                div.style = "margin:auto;";

                                var input = document.createElement("input");
                                input.type = "checkbox"
                                input.id = `Customer_Status_${rowData.Customer_Id}`;
                                input.name = `Customer_Status_${rowData.Customer_Id}`;
                                input.className = "onoffswitch-checkbox change_state_school";
                                input.setAttribute("customer_id", `${rowData.Customer_Id}`);
                                input.checked = `${(value == 'true' || value == true) ? `checked` : ``}`;
                                input.onchange = function () {
                                    var ID = this.getAttribute("customer_id");
                                    var checked = this.checked;
                                    var $table = options;
                                    var row = $(this).closest("tr").data("__FooTableRow__");
                                    var values = rowData;
                                    $.post("@Url.Action("ChangeCustomers", "Ajax")", {
                                        id: ID,
                                        status: checked,
                                        column: "Customer_Status"
                                    }, function (res) {
                                        if (res) {
                                            values.Customer_Status = checked;
                                            if (row instanceof FooTable.Row) {
                                                row.val(values);
                                                $.success("SUCCESS", "Se " + (status ? "activo" : "desactivo") + " correctamente");
                                            }
                                        } else {
                                            $.error("ERROR", "@General.lblMsgError");
                                        }
                                    }).fail(function (response, status, xhr) {
                                        console.log(response, status, xhr);
                                        $.error("ERROR", "@General.lblMsgError");
                                    });
                                };

                                var label = document.createElement("label");
                                label.className = "onoffswitch-label";
                                label.setAttribute("for", `Customer_Status_${rowData.Customer_Id}`);

                                var spaninner = document.createElement("span");
                                spaninner.className = "onoffswitch-inner";

                                var spanswitch = document.createElement("span");
                                spanswitch.className = "onoffswitch-switch";

                                label.appendChild(spaninner);
                                label.appendChild(spanswitch);
                                div.appendChild(input);
                                div.appendChild(label);

                                return div;
                            }
                        },
                        {
                            name: "", title: "@General.lblActions", classes: "text-center", sortable: false, //"breakpoints": "xs sm md",
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "";
                                div.style = "margin:auto;";

                                var anchorIcon = document.createElement("i");
                                anchorIcon.className = "fa fa-edit visible-xs";
                                var anchorText = document.createElement("span");
                                anchorText.className = "hidden-xs";
                                anchorText.textContent = "@General.lblEdit";

                                var anchor = document.createElement("a");
                                anchor.className = "btn btn-default btn-sm ladda-button ladda-button-demo edit_school"
                                anchor.setAttribute("data-style", "zoom-in");
                                anchor.appendChild(anchorText);
                                anchor.onclick = function (e) {
                                    e.preventDefault();
                                    var $this = $(this);
                                    $sectionClients.find("tbody tr.active").removeClass();
                                    $sectionSchools.find("tbody tr.active").removeClass();
                                    $this.closest("tr").addClass("active");
                                    $this.button('loading');
                                    var dataRow = $this.closest("tr").data("__FooTableRow__");
                                    $formCustomer.RefactoryForm(false, dataRow);
                                    $formCustomer.setValues(dataRow.val(), "Customer.");
                                    $this.button('reset');
                                };
                                div.appendChild(anchor);

                                return div;
                            }
                        }
                    ],
                    rows: $.post('@Url.Action("GetCustomersSchoolsJson", "Ajax")'),
                    components: {
                        filtering: FooTable.FilteringStatusClient
                    },
                    on: {
                        "postdraw.ft.table": function (e, ft) {
                            $.each(ft.rows.array, function (i, row) {
                                var attrs = {
                                    "id": row.value.Customer_Id
                                };
                                ft.$el.find("tbody tr").eq(i).attr(attrs);
                            });
                        },
                    }
                }
            );

            $(".btn-new-client").on("click", function (e) {
                $(this).RefactoryForm(true, null);
            });

            $(".btn-new-school").on("click", function (e) {
                $(this).RefactoryForm(false, null);
            });

            $formCustomer.validator();
            $formCustomer.on("submit", function (e) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    e.preventDefault();
                    var $form = $(this),
                        $table = $($form.data('footable_id')),
                        row = $form.data('row'),
                        customer = $form.getValues();

                    customer["Customer.Customer_Status"] = $("#form-customer").find("#Customer_Customer_Status").val();
                    if (customer["Customer.Customer_Name"] == "" || customer["Customer.Customer_LastName"] == "") {
                        customer["Customer.Customer_Name"] = " ";
                        customer["Customer.Customer_Name"] = " ";
                    }

                    console.log("response:", customer);

                    $form.find("[type='submit']").button("loading");
                    $.post(e.currentTarget.action, customer, function (data) {
                        var values = data;
                        console.log("request:", values);
                        if (row instanceof FooTable.Row) {
                            row.val(values);
                            $.success("SUCCESS", "Los datos se han actualizado correctamente");
                        } else {
                            $table.rows.add(values);
                            $.success("SUCCESS", "Los datos se han guardado correctamente");
                        }
                        $form.find("[type='submit']").button("reset");
                    }).fail(function (response, status, xhr) {
                        console.log(response, status, xhr);
                        $.error("ERROR", "@General.lblMsgError");
                    });
                }
                return false;
            });
        });

        $.fn.RefactoryForm = function (hide, dataRow) {
            $formCustomer.clear();
            if (hide) {
                if (dataRow) $formCustomer.data('footable_id', '#table-clients');
                $sectionRegister.find(".ibox-title h5").html($sectionClients.find(".ibox-title h5").clone());
                $formCustomer.find(".contact-fields").removeClass().addClass("col-lg-6 col-md-7 contact-fields");
                $formCustomer.find(".ubication-fields").removeClass().addClass("col-lg-6 col-md-5 ubication-fields");
                $formCustomer.find(".personal-fields").show();
                $formCustomer.find("div.row").eq(0).find("> div:last-child").removeClass().addClass("form-group col-lg-2 col-md-6 text-center");
                $formCustomer.find(".personal-fields .mandatory").attr("required", "required");
                $formCustomer.find(".school-fields").hide();
                $formCustomer.find(".school-fields :input[required]").removeAttr("required");
            } else {
                if (dataRow) $formCustomer.data('footable_id', '#table-schools');
                $sectionRegister.find(".ibox-title h5").html($sectionSchools.find(".ibox-title h5").clone());
                $formCustomer.find(".contact-fields").removeClass().addClass("col-lg-4 col-md-7 contact-fields");
                $formCustomer.find(".ubication-fields").removeClass().addClass("col-lg-4 col-md-5 ubication-fields");
                $formCustomer.find(".personal-fields").hide();
                $formCustomer.find("div.row").eq(0).find("> div:last-child").removeClass().addClass("form-group col-lg-12 col-md-6 text-center");
                $formCustomer.find(".personal-fields :input[required]").removeAttr("required");
                $formCustomer.find(".school-fields").show();
                $formCustomer.find(".school-fields .mandatory").attr("required", "required");
            }
            if (dataRow) {
                $formCustomer.data('row', dataRow);
                console.log("dataRow: ", dataRow.val());
                $formCustomer.find("button[type='submit']").html("<i class='fa fa-edit'></i> @General.lblEdit");
            } else {
                $formCustomer.find("button[type='submit']").html("<i class='fa fa-save'></i> @General.lblAdd");
            }

            $formCustomer.validator('update');
        }
    </script>
}
