﻿@using Core;
@using System.Globalization;
@using General = Core.Resources.General
@model BackOfficeAcquaJoss.Models.EventsModel

@{
    DateTime date = DateTime.Now;

    Events events = new Events();
    List<Events> EventsList = Model.Events;

    if (EventsList != null)
    {
        EventsList = Events.Instance().GetEvents().OrderBy(a => a.Event_DateStart).ToList();
    }

    var queyYears = from year in Model.Events group year by year.Event_DateStart.Year into g orderby g.Key select g;
    List<string> Years = new List<string>();
    foreach (var year in queyYears)
    {
        if (year != null)
        {
            Years.Add(year.Key.ToString());
        }
    }

    var YearNow = DateTime.Now.Year;


    List<string> MonthNames = DateTimeFormatInfo.CurrentInfo.MonthNames.Where(m => !string.IsNullOrWhiteSpace(m)).ToList();
    List<string> MonthShortNames = DateTimeFormatInfo.CurrentInfo.AbbreviatedMonthNames.Where(m => !string.IsNullOrWhiteSpace(m)).ToList();

    var MonthNow = MonthNames[DateTime.Now.Month - 1];

    var random = new Random();

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Event");
}

@section css{
    <style>
        #buttons-years .btn,
        #buttons-months .btn {
            position: relative;
            /*width: 16%;*/
            color: #fff;
            font-size: 14px;
            border: 0;
            font-weight: bold;
            padding: 10px 10px;
            line-height: normal;
            /*min-width: 170px;*/
            /*margin-bottom: 3px !important;*/
        }

            #buttons-years .btn:not(.active),
            #buttons-months .btn:not(.active) {
                -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4);
                box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4);
            }

            #buttons-years .btn:hover,
            #buttons-months .btn:hover {
                outline: 0;
                -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
                box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            }
    </style>
}

<section id="events">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-md-5">
            <h2 style="margin: 5px;">EVENTS</h2>
        </div>
        <div class="col-md-3">
            <label>Eventi filtrati per stato:&nbsp;</label>
            <div id="buttons-states" role="group" class="btn-group controls">
                <label class="btn btn-default btn-sm active" data-filter=".status-true">True</label>
                <label class="btn btn-default btn-sm" style="font-size: 11.5px;" data-filter=".status-false">False</label>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="container">
        <div class="col-md-4">
        </div>
        <div class="col-md-6">
            <h3 id="lbYear" style="margin: 10px;">Anno selezionato: @YearNow , mese: @MonthNow</h3>
        </div>
        <div class="col-md-2">
            <button style="margin: 10px;" class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal-event"> Nuovo</button>
        </div>
        <center id="buttons-years" class="controls mtb_30 row">
            <label id="btn-year-2017" class="btn control" data-filter=".year-2017" style="background-color: #e03d58;">2017</label>
            @foreach (string year in Years)
            {
                <label id="btn-year-@year" class="btn control @(year.Equals(date.Year.ToString()) ? "active" : string.Empty)" data-filter=".year-@year" style="background-color: #e03d58;">@year</label>
            }
        </center>
        <center id="buttons-months" class="controls mtb_30 row">
            @foreach (string month in MonthNames)
            {
                <label id="btn-month-@month" class="col-lg-1 col-md-2 btn control @(month.Equals(date.ToString("MMMM")) ? "active" : string.Empty)" data-filter=".month-@month" style="background-color: #0095d4;">@month.ToUpper()</label>
            }
        </center>
        <center id="listevents" class="row mtb_30" data-toggle="buttons">
            @foreach (Events eventi in EventsList)
            {
                <div style="display:none" id="@eventi.Event_Id" class="col-xs-12 col-sm-3 col-md-3 event mix year-@eventi.Event_DateStart.Year month-@eventi.Event_DateStart.ToString("MMMM") status-@eventi.Event_Status.ToString().ToLower()" status="@eventi.Event_Status.ToString().ToLower()" @*style="display:@(eventi.Event_Status ? "block" : "none")"*@>
                    <div class="event_data" data-toggle="modal" data-target="#modal-event" data-Event_Id="@eventi.Event_Id">
                        <div class="loader_container"><div class="loader"></div></div>
                        <div style="position:relative;display:inline-block;">
                            <img src="/@eventi.Event_Thumbanil" onerror="this.src='https://via.placeholder.com/243x186'" class="img-responsive activity-image">
                            <span style="position:absolute;bottom:10px;right:10px;color: white;font-size: 20px;font-weight: bold;text-shadow: 2px 0 0 #013751, -2px 0 0 #013751, 0 2px 0 #013751, 0 -2px 0 #013751, 1px 1px #013751, -1px -1px 0 #013751, 1px -1px 0 #013751, -1px 1px 0 #013751;"></span>
                        </div>
                        <h2>@eventi.Event_Title</h2>
                        <div class="dateEventi"><i class="fa fa-calendar" aria-hidden="true"></i> @( eventi.Event_DateStartFormat == eventi.Event_DateEndFormat ? eventi.Event_DateStartFormat : " dal " + eventi.Event_DateStartFormat + " al " + eventi.Event_DateEndFormat) </div>
                        <div class="dateprice hide">
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> @eventi.Event_ScheduleEndFormat hrs</span>
                        </div>
                        <p class="introduction hide">@eventi.Event_Introduction</p>
                    </div>
                </div>
            }
        </center>

        <div class="modal inmodal" id="modal-event" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="border:0;">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">NUOVO</h4>
                    </div>


                    <form id="event-form" method="post" class="modal-form" autocomplete="off" validate="true" role="form">
                        <input type="hidden" name="Event_Id" value="0" />
                        <input type="hidden" name="Event_IdSite" value="2" />

                        <div id="tabs" class="modal-body" style="padding:0px;background-color:transparent;">
                            <ul class="nav nav-tabs nav-tabs-center nav-tabs-border">
                                <li class="active col-md-2"><a data-toggle="tab" href="#tab-0" aria-expanded="true">Event</a></li>
                                <li class="col-md-2"><a data-toggle="tab" href="#tab-1" aria-expanded="false">Images</a></li>
                                <li class="col-md-2"><a data-toggle="tab" href="#tab-2" aria-expanded="false">Instagram</a></li>
                                <li class="col-md-2"><a data-toggle="tab" href="#tab-3" aria-expanded="false">Faqs</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-0" class="tab-pane active">
                                    <div class="modal-body">
                                        <div class="clearfix row">
                                            <div class="form-group col-sm-6">
                                                @Html.LabelFor(model => events.Event_Title)
                                                @Html.EditorFor(model => events.Event_Title, new { htmlAttributes = new { Name = "Event_Title", @class = "form-control", @required = "required", MaxLength = "200", MinLength = "5" } })
                                            </div>
                                            <div class="form-group col-sm-2">
                                                @Html.LabelFor(model => events.Event_Status)
                                                <div>
                                                    <input type="checkbox" class="js-switch" data-switchery="true" id="Event_Status" name="Event_Status" value="true" checked />
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                @Html.LabelFor(model => events.Event_LanguageCode)
                                                @{
                                                    Model.LanguagesItems_Index = string.IsNullOrEmpty(events.Event_LanguageCode) ? Global.Lang : events.Event_LanguageCode;
                                                    if (Model.LanguagesItems.Count() == 1)
                                                    {
                                                        Model.LanguagesItems_Index = Model.LanguagesItems.Last().Value;
                                                    }
                                                }
                                                @Html.DropDownListFor(model => events.Event_LanguageCode, Model.LanguagesItems, new { Name = "Event_LanguageCode", @class = "form-control", @required = "required" })
                                            </div>
                                        </div>
                                        <div class="clearfix row">
                                            <div class="form-group col-sm-6">
                                                @Html.LabelFor(model => events.Event_Url)
                                                @Html.EditorFor(model => events.Event_Url, new { htmlAttributes = new { Name = "Event_Url", @class = "form-control", @required = "required", MaxLength = "100", MinLength = "5" } })
                                            </div>
                                            <div class="form-group col-sm-6">
                                                @Html.LabelFor(model => events.Event_UrlShop)
                                                @Html.EditorFor(model => events.Event_UrlShop, new { htmlAttributes = new { Name = "Event_UrlShop", @class = "form-control", @required = "required", MaxLength = "100", MinLength = "5" } })
                                            </div>
                                        </div>
                                        <div class="clearfix row">
                                            <div class="form-group col-xs-12 col-sm-6 m-b-sm">
                                                @Html.LabelFor(model => events.Event_DateStart)
                                                <div class="input-daterange input-group">
                                                    @Html.EditorFor(model => events.Event_DateStart, new { htmlAttributes = new { Id = "Event_DateStart", Name = "Event_DateStart", Value = "", @class = "form-control", @required = "required" } })
                                                    <span class="input-group-addon">to</span>
                                                    @Html.EditorFor(model => events.Event_DateEnd, new { htmlAttributes = new { Id = "Event_DateEnd", Name = "Event_DateEnd", Value = "", @class = "form-control", @required = "required" } })
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-6 m-b-sm">
                                                @Html.LabelFor(model => events.Event_ScheduleStart)
                                                <div class="input-group">
                                                    @Html.EditorFor(model => events.Event_ScheduleStartFormat, new { htmlAttributes = new { Id = "Event_ScheduleStart", Name = "Event_ScheduleStart", Value = "", @class = "form-control clockpicker", data_autoclose = "true", @required = "required" } })
                                                    <span class="input-group-addon">to</span>
                                                    @Html.EditorFor(model => events.Event_ScheduleEndFormat, new { htmlAttributes = new { Id = "Event_ScheduleEnd", Name = "Event_ScheduleEnd", Value = "", @class = "form-control clockpicker", data_autoclose = "true" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix row">
                                            <div class="form-group col-xs-6">
                                                @Html.LabelFor(model => events.Event_Introduction)
                                                @Html.TextAreaFor(model => events.Event_Introduction, new { Id = "Event_Introduction", Name = "Event_Introduction", @class = "form-control", @required = "required", @rows = 3, MaxLength = "140", MinLength = "5" })
                                            </div>
                                            <div class="form-group col-xs-6">
                                                @Html.LabelFor(model => events.Event_Description)
                                                @Html.TextAreaFor(model => events.Event_Description, new { Id = "Event_Description", Name = "Event_Description", @class = "form-control", @required = "required", @rows = 3, MinLength = "5" })
                                            </div>
                                        </div>
                                        <div class="clearfix row">
                                            <div class="form-group col-xs-12">
                                                @Html.LabelFor(model => events.Event_Promotion)
                                                @Html.TextAreaFor(model => events.Event_Promotion, new { Id = "Event_Promotion", Name = "Event_Promotion", @class = "form-control text_editor", @rows = 3, Required = "required", MaxLength = "3000" })
                                                <label id="Event_Promotion-msn" class="error" for="Event_Promotion" style="display: none;">This field is required</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-1" class="tab-pane">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 mb_xs_15">
                                                @Html.LabelFor(model => events.Event_Thumbanil)
                                                @{
                                                    ImagesTypes thumbanil = ImagesTypes.Instance().GetImageType(ImagenType.EVENTTHUMBNAIL);
                                                }
                                                <div id="Event_Thumbanil" class="dropzone one" data-name="" data-thumbnailWidth="@thumbanil.ImageType_Width" data-thumbnailHeight="@thumbanil.ImageType_Height" required></div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 mb_xs_15">
                                                @Html.LabelFor(model => events.Event_Image)
                                                @{
                                                    ImagesTypes image = ImagesTypes.Instance().GetImageType(ImagenType.EVENTIMAGE);
                                                }
                                                <div id="Event_Image" class="dropzone one" data-name="" data-thumbnailWidth="@image.ImageType_Width" data-thumbnailHeight="@image.ImageType_Height" required></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <label class="control-label">Url Instagram</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="Instagram_Url">
                                                    <span class="input-group-btn">
                                                        <button id="add-url" class="btn btn-default" type="button">@General.lblAdd</button>
                                                    </span>
                                                </div>
                                                <div class="small help-block m-b-none text-warning">Only accept url from instagram!</div>
                                            </div>
                                            <div class="form-group col-xs-12">
                                                <div id="instagram-container" class="row"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="modal-body">
                                        <div id="module-events-faqs" class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="BtnDelete" type="button" class="btn btn-danger">Delete</button>&nbsp;
                            <a id="Preview" href="#" target="_blank" class="btn btn-info" style="display:none;">Preview</a>
                            <button id="BtnSave" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>



    <script async defer src="//www.instagram.com/embed.js"></script>
    @section Scripts {
        <script type="text/javascript">
            Dropzone.autoDiscover = false;
            var events = @Html.Raw(Json.Encode(EventsList));
            var event = null;
            var Event_Id;

            var $form = $("#event-form");
            var currentMix = null;
            var $instagram = $('#instagram-container');
            var $instagramUrl = $('[name="Instagram_Url"]');

            function filterTestResult(testResult, target) {
                var status = Boolean(target.dom.el.getAttribute('data-status'));
                return status;
            }

            $(document).ready(function () {


                $("#Event_IdSite").rules("add", { required: true });
                $instagram.rules('add', { instagram_url: true, minlength: 4 });

                currentMix = $("#buttons-states label.active, #buttons-years label.active, #buttons-months label.active").map((index, element) => $(element).data("filter")).toArray().join("");

                $("#listevents").find("div.event" + currentMix).fadeIn();

                $("#buttons-years .btn, #buttons-months .btn, #buttons-states .btn").on("click", function (e) {
                    $("#listevents").find("div.event").hide();
                    var $this = $(this);
                    var container = ($this.closest("center").length ? $this.closest("center") : $this.closest("div"));
                    container.find("label").removeClass("active");
                    $this.addClass("active");
                    var value = $this.data("filter");

                    var filterState = ($this.closest("div.controls").attr("id") == "buttons-states" ? value : $("#buttons-states .btn.active").data("filter"));
                    var filterYear  = ($this.closest("div.controls").attr("id") == "buttons-years" ? value :$("#buttons-years .btn.active").data("filter"));
                    var filterMonth = ($this.closest("div.controls").attr("id") == "buttons-months" ? value :$("#buttons-months .btn.active").data("filter"));

                    $("#lbYear").html("Anno selezionato: " + filterYear.substring(6) + " , mese: " + filterMonth.substring(7));

                    currentMix = $("#buttons-states label.active, #buttons-years label.active, #buttons-months label.active").map((index, element) => $(element).data("filter")).toArray().join("");


                    $("#listevents").find("div.event" + currentMix).fadeIn();
                });


                $.validator.addMethod("instagram_url", function (value, element) {
                    var id = getIdInstagramUrl(value);
                    return !$instagram.find("[id-instagram='" + id + "']").length;
                }, "This Id was added");


                $('[name="Event_Title"]').bind("paste", function (e){
                    var value = e.originalEvent.clipboardData.getData('text');
                    var url = value ? (value.toLowerCase().replace(/\s/g,"-")) : "";
                    $('[name="Event_Url"]').val(url);
                });

                $('.event_data').on("click", function(e){
                    e.stopPropagation();
                    var $target = $(this);
                    $target.find(".loader_container").show("fast", function(){
                        $($target.attr("data-target")).modal("show", $target);
                    });
                });

                $("#modal-event").on("show.bs.modal", function (e) {

                    var $modal = $(e.target);
                    var $target = $(e.relatedTarget);
                    var $modalForm = $modal.find('.modal-form');
                    var idEvent = $target.attr("data-event_id") || 0;
                    if (idEvent) {
                        Event_Id = idEvent;
                        $("#BtnDelete").css('visibility', 'visible');
                        slickCarousel();
                        event = events.find(a => a.Event_Id == idEvent);
                        $modal.find(".modal-title").text("MODIFICA: " + event.Event_Title);
                        $modal.find("#Preview").attr("href", "@GlobalSettings.UrlZoomarine" + "/eventi/" + event.Event_Url).show();
                        CKEDITOR.instances.Event_Promotion.setData(event.Event_Promotion);
                        $modalForm.setValues(event);
                        $modal.find('#Event_DateStart').data("DateTimePicker").date(event.Event_DateStartFormat.toDate());
                        $modal.find('#Event_DateEnd').data("DateTimePicker").date(event.Event_DateEndFormat.toDate());
                        $modal.find('#Event_ScheduleStart').val(event.Event_ScheduleStartFormat);
                        $modal.find('#Event_ScheduleEnd').val(event.Event_ScheduleEndFormat);
                        $modalForm.find('[name="Event_Url"]').rules("remove", "event_url");
                        event.Event_Instagrams.forEach(function (eventInstagram) {
                            var id = eventInstagram.EventInstagram_Identifier;
                            if (id) { addIframeInstagram(id); }
                        });
                        $.post("/Admin/GetEventsFaqsHTML", {
                            event_Id: idEvent
                        }, function (response) {
                            $modal.find("#module-events-faqs").html(response);
                            $target.find(".loader_container").hide();
                            $modal.find(".text_editor").ckeditor(function () { $(this.element.$).parent().show() }, { height: 150 });
                            $.showSwitchery();
                        },"html").fail(function (response, status, xhr) {
                            $.error("ERROR", "@General.lblMsgError" + " | Event Faqs");
                            console.log("response", response);
                            console.log("status", status);
                            console.log("xhr", xhr);
                        });
                    } else {
                        $("#BtnDelete").css('visibility', 'hidden');
                        $modal.find('.nav-tabs [href="#tab-2"]').addClass('disabled');
                        $modal.find('.nav-tabs [href="#tab-3"]').addClass('disabled');
                    }
                }).on('hidden.bs.modal', function (e) {
                    var $modal = $(e.target);
                    var $modalForm = $modal.find('.modal-form');
                    $modalForm.find('[name="Event_Url"]').rules('add', { event_url: true, minlength: 4 });
                    $modal.find('.nav-tabs [data-toggle="tab"]:first').tab('show');
                    $modal.find('.nav-tabs [href="#tab-2"]').removeClass('disabled');
                    $modal.find('.nav-tabs [href="#tab-3"]').removeClass('disabled');
                    $modal.find(".modal-title").text("NUOVO: ");
                    $modal.find(".modal-content").find(".has-error").each(function (idx, element) {
                        $(this).removeClass("has-error");
                    });
                    $modal.find("#Preview").attr("href", "").hide();
                    if ($instagram.hasClass("slick-initialized")) {
                        $instagram.slick('unslick').empty();
                        if ($instagram.slick("getSlick").slideCount != event.Event_Instagrams.length) $.reload();
                    }
                    $modal.clear();
                });

                $("#modal-event .modal-form").on("submit", function (e){
                    e.preventDefault();
                    var $form = $(this);
                    var validator = $form.data("validator");
                    var dropzones = $form.find(".dropzone").validarDropzones();
                    var promotion = CKEDITOR.instances.Event_Promotion.getData() != "";
                    if (promotion) { $("#cke_Event_Promotion").removeClass("error"); $("#Event_Promotion-msn").hide(); }
                    else { $("#cke_Event_Promotion").addClass("error"); $("#Event_Promotion-msn").text("Campo obbligatorio").show(); return false; }

                    if (validator.valid() && $form.valid() && dropzones)
                    {
                        var formDataJson = $form.serializeJSON({
                            useIntKeysAsArrayIndex: true,
                            parseBooleans: true,
                            parseNumbers: true
                        });

                        var $btn = $form.find(":submit").button("loading");
                        var formData = new FormData();

                        $.each(formDataJson, function(key, value){ formData.append(key, value); });

                        $form.find(".dropzone").each(function() {
                            var paramName = $(this).attr("id");
                            var $dz = $(this);
                            var dropzone = $dz.data("Dropzone");
                            if(dropzone.files.length){
                                if(dropzone.options.maxFiles != null && dropzone.options.maxFiles == 1){
                                    var file = dropzone.files[0];
                                    if(file.status == "queued") {
                                        var name = $dz.attr("data-name");
                                        var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                        formData.append(paramName, file, fileName);
                                    }
                                    else formData.append(paramName, file.url.replace("/Content", "Content"));
                                }else{
                                    $.each(dropzone.files, function(i, file){
                                        if(file.status == "queued") {
                                            var name = $dz.attr("data-name");
                                            var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                            formData.append(paramName + '[' + i + ']', file, fileName);
                                        }
                                        else formData.append(paramName, file.url.replace("/Content", "Content"));
                                    });
                                }
                            }
                        });

                        $.ajax({
                            url: "/admin/InsertOrUpdateEvent",
                            method: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                $.redirect(location.href, { Action: formDataJson.Event_Id == 0 ? "insert" : "update", Status: true });
                            },
                            error: function(xhr, status, error){
                                console.log(xhr, status, error);
                            },
                            always: function(){
                                $btn.button("reset");
                            }
                        });
                    }

                    return false;
                });


                $("#BtnSave").click(function (e) {

                    var tit = $("#events_Event_Title").val();
                    var url = $("#events_Event_Url").val();
                    var urls = $("#events_Event_UrlShop").val();
                    var ds = $("#Event_DateStart").val();
                    var de = $("#Event_DateEnd").val();
                    var ss = $("#Event_ScheduleStart").val();
                    var se = $("#Event_ScheduleEnd").val();
                    var ei = $("#Event_Introduction").val();
                    var ed = $("#Event_Description").val();
                    var pr = $("#Event_Promotion").val();

                    if (tit == '')
                    {
                        $.error("AVVISO", "Titolo obbligatorio");
                        e.preventDefault();
                        return;
                    }

                    if (url == '') {
                        $.error("AVVISO", "Url obbligatorio");
                        e.preventDefault();
                        return;
                    }

                    if (urls == '') {
                        $.error("AVVISO", "Url shop obbligatorio");
                        e.preventDefault();
                        return;
                    }

                    if (ds == '') {
                        $.error("AVVISO", "Data Inizio obbligatoria");
                        e.preventDefault();
                        return;
                    }

                    if (de == '') {
                        $.error("AVVISO", "Data Fine obbligatoria");
                        e.preventDefault();
                        return;
                    }

                    if (ss == '') {
                        $.error("AVVISO", "Orario Inizio obbligatorio");
                        e.preventDefault();
                        return;
                    }

                    if (se == '') {
                        $.error("AVVISO", "Orario Fine obbligatorio");
                        e.preventDefault();
                        return;
                    }

                    if (ei == '') {
                        $.error("AVVISO", "Introduzione obbligatorio");
                        e.preventDefault();
                        return;
                    }

                    if (ed == '') {
                        $.error("AVVISO", "Descrizione obbligatorio");
                        e.preventDefault();
                        return;
                    }

                    if (pr == '') {
                        $.error("AVVISO", "Promozione obbligatoria");
                        e.preventDefault();
                        return;
                    }


                })

                $("#BtnDelete").click(function () {
                    var risp = confirm("Vuoi eliminare questo evento?");

                    if (risp == true) {
                        var URL = "/Admin/DeleteEvent/";
                        var Info = { Id: Event_Id };

                        var promise = $.post(URL, Info);

                        promise.done(function (data) {
                            $.warning("Avviso", "Cancellazione effettuata");

                            //reload
                            window.location.href = "/Admin/Events";
                        });
                    }
                })

                /***/
                $(".dropzone").each(function (index, el) {
                    var oneFile = $(this).hasClass('one');
                    var name = this.dataset && this.dataset.name ? this.dataset.name : null;
                    var thumbnailWidth = this.dataset && this.dataset.thumbnailwidth ? parseFloat(this.dataset.thumbnailwidth) : null;
                    var thumbnailHeight = this.dataset && this.dataset.thumbnailheight ? parseFloat(this.dataset.thumbnailheight) : null;
                    $(this).dropzone({
                        url: '/admin/InsertOrUpdateEvent',
                        autoProcessQueue: false,
                        thumbnailWidth: thumbnailWidth,
                        thumbnailHeight: thumbnailHeight,
                        dictDefaultMessage: "Drop files here to upload<br><b>" + thumbnailWidth + "x" + thumbnailHeight,
                        maxFiles: oneFile ? 1 : null,
                        uploadMultiple: oneFile ? false : true,
                        addRemoveLinks: true,
                        init: function () {
                            var $el = $(this.element);
                            $el.data("Dropzone", this);
                            this.on("thumbnail", function (file) {
                                if (!file.id && (file.status != "error" && file.status != "success")) {
                                    if (thumbnailWidth && file.width != thumbnailWidth || thumbnailHeight && file.height != thumbnailHeight) file.rejectDimensions();
                                    else file.acceptDimensions();
                                }
                                $(file.previewElement).find(".dz-remove").removeClass("btn-circle btn-circle-xs");
                            });

                            this.on('addedfile', function (file) {
                                if (oneFile && this.files.length > 1) this.removeFile(this.files[0]);
                                if (file.id) $(file.previewElement).attr("id", file.id);
                                if (file.idx) $(file.previewElement).append('<div class="dz-index">' + file.idx + '</div>');
                                if ($el.hasClass("sortable")) $(file.previewElement).addClass("sortable-item");
                                $(file.previewElement).find(".dz-remove").attr("title", "Delete " + file.name);
                            });

                            this.on('complete', function (file, response) {
                                if (this.sortable && this.filesToAdd == this.files.length) {
                                    this.reorder();
                                }
                            });
                        },
                        accept: function (file, done) {
                            var dz = this;
                            file.acceptDimensions = done;
                            file.rejectDimensions = function () {
                                var porcentaje = thumbnailWidth * 0.1;
                                var medidas = file.width + " x " + file.height;
                                var minWidth = thumbnailWidth - porcentaje;
                                var maxWidth = thumbnailWidth + porcentaje;
                                if (file.width < minWidth) {
                                    $.warning(file.name, "La imagen mide " + medidas + " es demasiado pequeña.<br/>El ancho minimo debe ser de " + minWidth + "px");
                                    setTimeout(function () {
                                        dz.removeFile(file);
                                    }, 1500);
                                } else if (file.width > maxWidth) {
                                    $.warning(file.name, "La imagen mide " + medidas + " es demasiado grande.<br/>El ancho maximo debe ser de " + maxWidth + "px");
                                    setTimeout(function () {
                                        dz.removeFile(file);
                                    }, 1500);
                                } else {
                                    BootstrapDialog.show({
                                        type: BootstrapDialog.TYPE_WARNING,
                                        title: file.name,
                                        closable: false,
                                        message: "You selected an image of " + medidas + " The image should be " + (thumbnailWidth + " x " + thumbnailHeight) + "<br/>Do you wish to continue?",
                                        buttons: [{
                                            label: 'Cancel',
                                            action: function (dialog) {
                                                dz.removeFile(file);
                                                dialog.close();
                                            }
                                        }, {
                                            label: 'Continue',
                                            action: function (dialog) {
                                                done();
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            };
                        }
                    });
                });

                $("#add-url").on("click", function (e) {
                    var id = getIdInstagramUrl($instagramUrl.val());
                    if (id && $instagramUrl.valid()) {
                        var $btn = $(this).button("loading");
                        var validator = $form.data("validator");
                        var data = $form.getValues();
                        if (parseInt(data.Event_Id)) {
                            addIframeInstagram(id);
                            var addEventsInstagrams = {
                                EventInstagram_Id: null,
                                EventInstagram_IdEvent: $form.find("[name='Event_Id']").val(),
                                EventInstagram_Identifier: id
                            }
                            console.log(addEventsInstagrams, $form.valid());
                            $.post("/Admin/EventInstagramAdd", {
                                eventInstagram: addEventsInstagrams
                            }, function (response) {
                                $.success("SUCCESS", "El link Instragram se añadio correctamente");
                            }).fail(function (response, status, xhr) {
                                console.log(response, status, xhr);
                                $.error("ERROR", "@General.lblMsgError");
                            });
                        } else {
                            $("#tabs .nav-tabs a[href='#tab-0']").click();
                            $form.valid();
                        }
                        $btn.button("reset");
                    }
                });

                function addIframeInstagram(id) {
                    var url = "http://instagram.com/p/" + id + "/embed/captioned/";
                    var $iframe = $("<iframe/>").attr('src', url);

                    var $div = $("<div/>").addClass("item").attr("id-instagram", id);
                    $div.append($iframe);
                    $div.append('<div class="item_background"><i class="fa fa-times remove-instagram" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="remove"></i></div>');
                    $instagram.slick('slickAdd', $div);
                    if (window.instgrm) {
                        window.instgrm.Embeds.process()
                    }
                    $('[data-toggle="tooltip"]').tooltip();
                    $instagramUrl.val("");
                }

                $(this).on("click", ".item_background i.remove-instagram", function () {
                    var $item = $(this).closest('.item'), index = $item.attr("data-slick-index"), instagram = $item.attr("id-instagram");

                    if(instagram){
                        var deleteEventsInstagrams = {
                            EventInstagram_Id: "",
                            EventInstagram_IdEvent: $form.find("[name='Event_Id']").val(),
                            EventInstagram_Identifier: instagram
                        }
                        console.log(deleteEventsInstagrams);
                        $.post("/Admin/EventInstagramDelete", {
                            eventInstagram: deleteEventsInstagrams
                        }, function(response){
                            $instagram.slick('slickRemove', index).slick('refresh');
                            $.success("SUCCESS", "El link Instragram se elimino correctamente");
                        }).fail(function(response, status, xhr){
                            console.log(response, status, xhr);
                            $.error("ERROR", "@General.lblMsgError");
                        });
                    }
                });

                function slickCarousel() {
                    $instagram.slick({
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        dots: true
                    });
                }

                function getIdInstagramUrl(url) {
                    if (url) {
                        var regExp = /^(.*instagram.com\/p\/)(.*)[\/](.*)?/;
                        var match = url.match(regExp);
                        if (match && match[2].length == 11) {
                            return match[2];
                        }
                    }
                    return null;
                }

                $('#tabs .nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    if(target == "#tab-2"){
                        if($instagram.hasClass("slick-initialized")){ $instagram.slick('setPosition'); }
                    }
                });
            });
        </script>
    }
</section>