﻿@using Core;
@using Dictionary = Core.Resources.Faqs;
@using General = Core.Resources.General;

@model BackOfficeAcquaJoss.Models.FaqsModel
@{
    List<Faqs> faqsList = Model.faqs.OrderBy(s => s.Faqs_Order).ToList();
    int size = 10;
    double index = 0;
    double page = 0;
    if (Model.Faqs == null)
    {

        Model.Faqs = new Faqs();
    }
    else {
        index = faqsList.FindIndex(s => s.Faqs_Id.Equals(Model.Faqs.Faqs_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", Dictionary.lblSection);
}

<section id="createFaqs" class="createFaqs">
    <div class="clearfix">
        <div class="ibox-title">
            <h5><i class="fa fa-ticket"></i> @Dictionary.lblSection.ToUpper()</h5>
            <div class="ibox-tools">
                <a class="btn btn-primary btn-xs" href="@Url.Action("Faq")">New @Dictionary.lblSection</a>
            </div>
        </div>
        <div class="ibox-content clearfix">
            <div class="row">
                <div class="col-sm-6">
                    <table id="table-faqs" class="table footable table-order table-striped table-hover table-fixed" data-show-toggle="false" data-index="@index" data-paging="false" data-paging-size="@size" data-paging-current="@page" data-filtering="true" data-sorting="true" style="display:none;">
                        <thead>
                            <tr>
                                <th data-name="Faqs_Id" data-breakpoints="xs" data-sortable="false" class="text-center">ID</th>
                                <th data-name="Faqs_Order" data-visible="false" data-sortable="true" class="text-center">@Dictionary.Faqs_Order</th>
                                <th data-name="Faqs_Question" data-sortable="false" class="text-center">@Dictionary.Faqs_Question</th>
                                <th data-name="Faqs_Status" data-sortable="false" data-type="html" class="text-center">@Dictionary.Faqs_Status</th>
                                <th class="text-center">@General.lblActions</th>
                            </tr>
                        </thead>
                        <tbody class="sortable" data-table="@Faqs.TABLE" data-keyId="Faqs_Id" data-keyValue="Faqs_Order">
                            @{
                                foreach (Faqs faqs in faqsList.OrderBy(p => p.Faqs_Order).ToList()) {
                                    <tr id="@faqs.Faqs_Id" index="@faqs.Faqs_Order" class="@(faqs.Faqs_Id.Equals(Model.Faqs.Faqs_Id) ? "active" : string.Empty) sortable-item" data-id_promotion="@faqs.Faqs_Id">
                                        <td class="text-center">
                                            <div class="order-arrow">
                                                <span class="index">@faqs.Faqs_Order</span>
                                            </div>
                                            @faqs.Faqs_Id
                                        </td>
                                        <td>@faqs.Faqs_Order</td>
                                        <td class="text-center">@faqs.Faqs_Question</td>
                                        <td class="switch text-center">
                                            <p class="hide">@faqs.Faqs_Status</p>
                                            <div class="onoffswitch" style="margin:auto;">
                                                <input id="Faqs_Status_@faqs.Faqs_Id"
                                                       faqs_id="@faqs.Faqs_Id"
                                                       name="Faqs_Status_@faqs.Faqs_Id"
                                                       class="onoffswitch-checkbox change_state_faqs"
                                                       data-parameter="faqs_status"
                                                       checked="@faqs.Faqs_Status"
                                                       value="@faqs.Faqs_Status.ToString()"
                                                       type="checkbox" />
                                                <label class="onoffswitch-label" for="Faqs_Status_@faqs.Faqs_Id">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center col-lg-1">
                                            <a class="btn btn-default btn-xs @(faqs.Faqs_Id.Equals(Model.Faqs.Faqs_Id) ? "active" : string.Empty)" href="@Url.Action("FaqUpdate", "Admin", new { id = faqs.Faqs_Id })"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <form id="faq-form"  validate="true" method="post" autocomplete="off">
                        @Html.HiddenFor(model => Model.Faqs.Faqs_Id, new { Id = "Faqs_Id", Name = "Faqs_Id" })
                        <div class="clearfix row">
                            <div class="form-group col-md-8">
                                @Html.LabelFor(model => Model.Faqs.Faqs_Question)
                                @Html.EditorFor(model => Model.Faqs.Faqs_Question, new { htmlAttributes = new { Id = "Faqs_Question", Name = "Faqs_Question", @class = "form-control input-sm", @required = "required", MaxLength = "200", MinLength = "5" } })
                            </div>
                            <div class="form-group col-md-3 hide">
                                @Html.LabelFor(model => Model.Faqs.Faqs_Order)
                                @Html.EditorFor(model => Model.Faqs.Faqs_Order, new { htmlAttributes = new { Id = "Faqs_Order", Name = "Faqs_Order", @class = "form-control input-sm" } })
                            </div>
                            <div class="form-group col-md-3 m-b-sm">
                                @Html.LabelFor(model => Model.Faqs.Faqs_Status)
                                <div>
                                    <input id="Faqs_Status" name="Faqs_Status" checked="checked" class="js-switch check-box" data-switchery="true" data-val="true" type="checkbox" value="true">
                                </div>
                            </div>
                            <div class="col-sm-12 form-group m-b-sm">
                                <div class="form-group m-b-sm">
                                    @Html.LabelFor(model => Model.Faqs.Faqs_Content)
                                    <div class="editor">
                                        @Html.TextAreaFor(model => Model.Faqs.Faqs_Content, new { Id = "Faqs_Content", Name = "Faqs_Content", @class = "form-control text_editor", Required = "required", MaxLength = "3000" })
                                        <label id="Faqs_Content-msn" class="error" for="Faqs_Content" style="display: none;">This field is required</label>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div id="buttons" class="text-right">
                            @*<button type="reset" form="faq-form" class="btn btn-white btn-sm btn-reset">Reset</button>*@
                            @*<button type="submit" form="faq-form" class="btn btn-primary btn-sm btn-save">
                                @Html.Raw(Faq == null ? "<i class='fa fa-plus'></i> " + General.lblAdd : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                            </button>*@
                            <button type="submit" form="faq-form" class="btn btn-primary btn-save">
                                @Html.Raw(Model.Faqs.Faqs_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    
<script type="text/javascript">
    var $form = $('#faq-form'), $table = $('#table-faqs');

    $(document).on("change", ".change_state_faqs", function (e) {
        console.log($(e.currentTarget).data("parameter"));
        var parameter = $(e.currentTarget).data("parameter");
        var status = this.checked;           
        this.value = status ? "True" : "False";
        $(this).closest("td").find("p.hide").text(status ? "True" : "False");

        $.post("@Url.Action("ChangeStatusFaq", "Admin")", {
            faqs_id: $(this).attr("faqs_id"),
            [parameter]: status
        }, function (res) {
            res == 1 ? $.success("SUCCESS", "@General.lblState".format("@Dictionary.lblSection", (status ? "@General.lblActive" : "@General.lblDeactivated"))) : $.error("ERROR", "");
        }).fail(function (response, status, xhr) {
            console.log(response, status, xhr);
        });
    });

    FooTable.Filtering = FooTable.Filtering.extend({
        construct: function (instance)
        {
            this._super(instance);
            this.status = ["True", "False"];
            this.def = 'By Status';
            this.$status = null;
        },
        $create: function ()
        {
            this._super();
            var self = this;
            var $form_grp = $('<div/>', { 'class': 'form-group' }).append($('<label/>', { 'class': 'sr-only', text: 'PromotionDeal_Status' })).prependTo(self.$form);
            self.$status = $('<select/>', { 'class': 'form-control input-sm', 'id': 'footable-filter-status' }).on('change', { self: self }, self._onStatusDropdownChanged).append($('<option/>', { text: self.def })).appendTo($form_grp);
            $.each(self.status, function (i, state)
            {
                self.$status.append($('<option/>').text(state.toUpperCase()).val(state));
            });
        },
        _onStatusDropdownChanged: function (e)
        {
            var self = e.data.self, selected = $(this).val();
            selected !== self.def ? self.addFilter('Faqs_Status', selected, ['Faqs_Status']) : self.removeFilter('Faqs_Status');
            self.filter();
        },
        draw: function ()
        {
            this._super();
            var state = this.find('Faqs_Status');
            console.log(state);
            state instanceof FooTable.Filter ? this.$status.val(state.query.val()) : this.$status.val(this.def);
        }
    });
    FooTable.components.register('filtering', FooTable.Filtering);

    $(document).ready(function ()
    {
        var $sortable = $table.find("tbody");
        $table.footable({
            on: {
                "postdraw.ft.table": function ()
                {
                    var filtering = FooTable.get($table).use(FooTable.Filtering);
                    $sortable.sortable("enable");
                    $table.find(".order-arrow").addClass("show");
                }
            }
        });
        $(".sortable").sortableDB(".sortable-item");


        $form.on('submit', function (e)
        {
            e.preventDefault();
            e.stopPropagation();
            var $form = $(this);
            var description = CKEDITOR.instances.Faqs_Content.getData() != "";;
            if (description) { $("#cke_Faqs_Content").removeClass("error"); $("#Faqs_Content-msn").hide(); }
            else { $("#cke_Faqs_Content").addClass("error"); $("#Faqs_Content-msn").text("This field is required.").show(); }

                $("#Faqs_Content-msn").hide();
                var formDataJson = $form.serializeJSON({
                    useIntKeysAsArrayIndex: true,
                    parseBooleans: true,
                    parseNumbers: true
                });

                var $btn = $form.find(".btn-save").button("loading");
                var formData = new FormData();
                $.each(formDataJson, function (key, value)
                {
                    formData.append(key, value);
                });


                $.ajax({
                    url: "/admin/InsertOrUpdateFaq",
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result, status, xhr)
                    {
                        $.success("SUCCESS", "@General.lblState".format("content of @Dictionary.lblSection", "update"));
                        $.reload();
                    },
                    error: function (xhr, status, error)
                    {
                        $.error("ERROR", "@General.lblMsgError");
                        $btn.button("reset");
                        console.log(response, status, xhr);
                    },
                    always: function ()
                    {
                        $btn.button("reset");
                    }
                });
            
            return false;
        });

    });
</script>
    
    }
