﻿@using Core
@using General = Core.Resources.General;
@model BackOfficeAcquaJoss.Models.AquaHomeModel


@{ 
    AquaHome home = Model.home;

  //  Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Home");
}
<style>
    .ibox .ibox-title {
        padding: 15px 15px 7px;
        min-height: 48px;
    }
    .ibox-content {
            padding: 15px 20px 20px 20px;
    }
</style>
<section id="Home">
    <div class="row">
        <form id="home-form" method="post"  autocomplete="off" validate="true">
            <input type="hidden" name="Home_Id" value="0" />
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding:5px;">
                    <div class="col-sm-6">
                        <h2 class="">AQUA HOME</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <a id="Preview" href="#" target="_blank" class="btn btn-info">Preview</a>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>                  
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-desktop"></i>Content Inizio</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" class="form-control" name="Home_Title" required value="@home.Home_Title" />
                        </div>
                        <div class="form-group m-b-sm">
                            <label>Description</label>
                            <div class="editor">
                                <textarea Id="AquaHome_Description" Name="Home_Description" class="form-control text_editor" Required="required" MaxLength="3000">@home.Home_Description</textarea>
                                <label id="AquaHome_Description-msn" class="error" for="AquaHome_Description" style="display: none;">This field is required</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Title 2</label>
                            <input type="text" class="form-control" name="Home_Title2" required value="@home.Home_Title2" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Carousel Title</label>
                            <input type="text" class="form-control" name="Home_Carousel_Title" required value="@home.Home_Carousel_Title" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Address Title</label>
                            <input type="text" class="form-control" name="Home_Address_Title" required value="@home.Home_Address_Title" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <input type="text" class="form-control" name="Home_Address" required value="@home.Home_Address" />
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</section>
@section Scripts{
    <script language="javascript" type="text/javascript">
          Dropzone.autoDiscover = false;
            var home = @Html.Raw(Json.Encode(home));            
            //console.log(home);
            $(document).ready(function ()
            {               
                $('#home-form').on("submit", function(){
                    var $form = $(this);
                    var validator = $form.data("validator");
                    if(validator.valid() && $form.valid()){
                        var formDataJson = $form.serializeJSON({
                            useIntKeysAsArrayIndex: true,
                            parseBooleans: true,
                            parseNumbers: true
                        });
                        console.log(formDataJson);
                        var $btn = $form.find(":submit").button("loading");
                        var formData = new FormData();
                        $.each(formDataJson, function(key, value){
                            formData.append(key, value);
                        });
                        $form.find(".dropzone").each(function() {
                            var paramName = $(this).attr("id");
                            var $dz = $(this);
                            var dropzone = $dz.data("Dropzone");
                            if(dropzone.files.length){
                                if(dropzone.options.maxFiles != null && dropzone.options.maxFiles == 1){
                                    var file = dropzone.files[0];
                                    if(file.status == "queued") {
                                        var name = $dz.attr("data-name");
                                        var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                        formData.append(paramName, file, fileName);
                                    }
                                    else formData.append(paramName, file.url.replace("/Content", "Content"));
                                }else{
                                    $.each(dropzone.files, function(i, file){
                                        if(file.status == "queued") {
                                            var name = $dz.attr("data-name");
                                            var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                            formData.append(paramName + '[' + i + ']', file, fileName);
                                        }
                                        else formData.append(paramName, file.url.replace("/Content", "Content"));
                                    });
                                }
                            }
                        });

                        $.ajax({
                            url: "/admin/InsertOrUpdateHome",
                            method: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                $.redirect(location.href, { Action: formDataJson.Home_Id == 0 ? "insert" : "update", Status: true });
                            },
                            error: function(xhr, status, error){
                                console.log(xhr, status, error);
                            },
                            always: function(){
                                $btn.button("reset");
                            }
                        });

                    }
                    return false;
                });


                $(".dropzone").each(function (index, el){
                    var oneFile = $(this).hasClass('one');
                    var name = this.dataset && this.dataset.name ? this.dataset.name : null;
                    var thumbnailWidth = this.dataset && this.dataset.thumbnailwidth ? parseFloat(this.dataset.thumbnailwidth) : null;
                    var thumbnailHeight = this.dataset && this.dataset.thumbnailheight ? parseFloat(this.dataset.thumbnailheight) : null;
                    $(this).dropzone({
                        url: '/admin/InsertOrUpdateHome',
                        autoProcessQueue: false,
                        thumbnailWidth: thumbnailWidth,
                        thumbnailHeight: thumbnailHeight,
                        dictDefaultMessage: "Drop files here to upload<br><b>" + thumbnailWidth + "x" + thumbnailHeight,
                        maxFiles: oneFile ? 1 : null,
                        uploadMultiple: oneFile ? false : true,
                        addRemoveLinks: true,
                        init: function ()
                        {
                            var $el = $(this.element);
                            $el.data("Dropzone", this);
                            this.on("thumbnail", function (file)
                            {
                                if (!file.id && (file.status != "error" && file.status != "success")) {
                                    if (thumbnailWidth && file.width != thumbnailWidth || thumbnailHeight && file.height != thumbnailHeight) file.rejectDimensions();
                                    else file.acceptDimensions();
                                }
                                $(file.previewElement).find(".dz-remove").removeClass("btn-circle btn-circle-xs");
                            });

                            this.on('addedfile', function (file)
                            {
                                if (oneFile && this.files.length > 1) this.removeFile(this.files[0]);
                                if(file.id) $(file.previewElement).attr("id", file.id);
                                if(file.idx) $(file.previewElement).append('<div class="dz-index">' + file.idx + '</div>');
                                if($el.hasClass("sortable")) $(file.previewElement).addClass("sortable-item");
                                $(file.previewElement).find(".dz-remove").attr("title", "Delete " + file.name);
                            });

                            this.on('complete', function(file, response) {
                                if (this.sortable && this.filesToAdd == this.files.length) {
                                    this.reorder();
                                }
                            });
                        },
                        accept: function (file, done){
                            var dz = this;
                            file.acceptDimensions = done;
                            file.rejectDimensions = function ()
                            {
                                var porcentaje = thumbnailWidth * 0.1;
                                var medidas = file.width + " x " + file.height;
                                var minWidth = thumbnailWidth - porcentaje;
                                var maxWidth = thumbnailWidth + porcentaje;
                                if (file.width < minWidth) {
                                    $.warning(file.name, "La imagen mide " + medidas + " es demasiado pequeña.<br/>El ancho minimo debe ser de " + minWidth + "px");
                                    setTimeout(function ()
                                    {
                                        dz.removeFile(file);
                                    }, 1500);
                                } else if (file.width > maxWidth) {
                                    $.warning(file.name, "La imagen mide " + medidas + " es demasiado grande.<br/>El ancho maximo debe ser de " + maxWidth + "px");
                                    setTimeout(function ()
                                    {
                                        dz.removeFile(file);
                                    }, 1500);
                                } else {
                                    BootstrapDialog.show({
                                        type: BootstrapDialog.TYPE_WARNING,
                                        title: file.name,
                                        closable: false,
                                        message: "You selected an image of " + medidas + " The image should be " + (thumbnailWidth + " x " + thumbnailHeight) + "<br/>Do you wish to continue?",
                                        buttons: [{
                                            label: 'Cancel',
                                            action: function (dialog)
                                            {
                                                dz.removeFile(file);
                                                dialog.close();
                                            }
                                        }, {
                                            label: 'Continue',
                                            action: function (dialog)
                                            {
                                                done();
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            };
                        }
                    });
                });
                var $Form = $('#home-form');
                $Form.setValues(home);
                
                $("#Preview").attr("href", "@GlobalSettings.UrlZoomarine").show();

                $('[name="Home_Video"]').on("change", function (e){
                    var id = null;
                    if (this.value) {
                        var id = getIdYoutubeUrl(this.value);
                        if (id) {
                            $(this).closest(".form-group").removeClass("has-error");
                            var url = "https://www.youtube.com/embed/" + id;
                            if(this.value != url) $(this).val(url);
                            $("#video-preview").attr('src', (url  + "?rel=0&showinfo=0")).parent().show();
                        } else {
                            $(this).closest(".form-group").addClass("has-error");
                        }
                    }
                    if (!this.value || !id) {
                        $("#video-preview").removeAttr('src').parent().hide();
                    }
                });



                $(".sortable").sortableDB(".sortable-item");

               
                $Form.find('[name="Home_Video"]').change();
                function getIdYoutubeUrl(url)
                {
                    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                    var match = url.match(regExp);
                    if (match && match[2].length == 11) {
                        return match[2];
                    }
                    return null;
                }
            });



    </script>
}
