﻿@model Core.HotelInfo

@{
    Core.HotelInfo elem = Model;
    ViewBag.Title = "Hotel Info";
}

<h2>Hotel info</h2>

<div class="ibox">
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-wandering-cubes">
            <div class="sk-cube1"></div>
            <div class="sk-cube2"></div>
        </div>
        <div class="container">
            <table id="table-redirects" class="table table-hover table-bordered no-margins" data-filtering="true">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 10%;">Id</th>
                        <th class="text-center" style="width: 80%;">Descrizione</th>
                        <th class="text-center" style="width: 10%;">Salva</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="discountcoupon">
                        <td id="HotelInfoId" style="width: 10%;">@elem.Id</td>
                        <td id="Description" style="width: 80%;">@Html.EditorFor(model => elem.Description, new { htmlAttributes = new { @class = "form-control input-sm", @maxlength = 255 } })</td>
                        <td class="text-center" style="width: 10%;">
                            <button id="BtnSave"
                                    onclick="Save()"
                                    type="button" data-toggle="tooltip"
                                    class="btn btn-sm btn-white btn-save-coupon">
                                <i class="fa @(elem != null ? "fa-pencil" : "fa-save")"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">

    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function Save()
        {
            var Id = $("#HotelInfoId").html();
            var Description = $("#elem_Description").val();

            var URL = "/Admin/UpdateHotelInfo";

            var Info = { Id: Id, Description: Description};

            var promise = $.post(URL, Info);

            promise.done(function () {
                $.success("Avviso", "Salvataggio effettuato");
            });

        }

    </script>
}


