﻿@using Core;
@using General = Core.Resources.General;
@model BackOfficeAcquaJoss.Models.HotelUsersModel
@{
    List<HotelUsers> HotelUsers = Model.HotelUsers;
    List<Hotels> Hotels = Model.Hotels;
    List<int> IDsUsers = HotelUsers.Select(i => i.HotelOperator_Id).ToList();
    List<Users> Users = Model.OperatorsHotel.Where(i => !IDsUsers.Contains(i.User_Id)).ToList();
}

@section Css{
    <style>
        .lable { padding: 0px; }

        .text_overflow:hover { overflow: hidden; white-space: nowrap; max-width: 90%; }

        .clear-list {
            cursor: pointer !important;
        }

        div > .sort {
            display: inline-block;
            margin: 4px 24px;
            border: 1px dashed grey;
            vertical-align: top;
            min-height: 29px;
        }

        .list-hotels ul, .list-users ul {
            min-width: 200px;
            max-width: 93%;
            min-height: 35px;
            max-height: 100%;
            list-style: none;
        }

        .list-hotels li, .list-users li {
            height: 22px;
            margin: 5px 0px;
            border: 1px solid none;
            padding: 0px;
            cursor: move;
            display: inline-block;
        }

        .list-hotels li { width: 100%; }

        .list-users li { }
    </style>
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Hotels</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="list-hotels row">
                    @foreach (Hotels hotel in Hotels.OrderBy(i => i.Product.Product_Name))
                    {
                        <div class="col-lg-6 col-md-6" style="padding-right: 0px;">
                            <span class="label label-primary pull-left text_overflow" title="@hotel.Product.Product_Name.ToUpper()"><i class="fa fa-hotel"></i> @hotel.Product.Product_Name.ToUpper()</span>
                            <span class="label label-danger pull-right clear-list" title="CLEAR ALL">x</span>
                            <div class="clearfix">
                                <ul id="@hotel.Hotel_Id" class="sort col-lg-11" data-id="@hotel.Hotel_Id">
                                    @foreach (HotelUsers hoteluser in HotelUsers.FindAll(i => i.Hotel_Id.Equals(hotel.Hotel_Id)))
                                    {
                                        <li id="@hoteluser.HotelOperator_Id" class="item col-lg-12" data-id="@hoteluser.HotelOperator_Id" data-hoteluser="@hoteluser.HotelUser_Id">
                                            <div class="col-lg-12 no-padding text_overflow">
                                                <span class="label label-success"><i class="fa fa-user-circle-o"></i></span> <span class="name" title="@hoteluser.Hotel_Operator.ToUpper()"><strong>@hoteluser.Hotel_Operator.ToUpper()</strong></span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Operator</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="list-users row">
                    <ul class="sort col-lg-12 storage" storagex>
                        @foreach (Users user in Users.OrderBy(i => i.User_FullName))
                        {
                            <li id="@user.User_Id" class="item col-lg-4 col-md-6 col-sm-6" data-id="@user.User_Id">
                                <div class="col-lg-12 no-padding text_overflow">
                                    <span class="label label-warning"><i class="fa fa-user-circle-o"></i></span> <span class="name" title="@user.User_FullName.ToUpper()"><strong>@user.User_FullName.ToUpper()</strong></span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var $ListUL = $(".list-users ul");

        var Shools = @Html.Raw(Json.Encode(Users.Select(i => new { i.User_Id, i.User_FullName })));

        $(document).ready(function(){
            ApplySortable();

            $('.clear-list').on("click", function(){
                var $ul = $(this).closest("div").find(".sort");
                var widget = $ul.sortable("widget");

                var remove = $ul.find("li").GetItems(0);

                console.log(remove);

                //RunAjax("telemarketings", remove, "The schools was removed.", function() {
                //    $ul.children().each(function(index, item){
                //        $(this).addClass("animated fadeOutRight").delay(1000).queue(function (next) {
                //            $(this).remove().dequeue();
                //        });
                //    })
                //});
            });
        });

        function ApplySortable() {
            $('.sort').sortable({
                revert: 'invalid',
                tolerance: 'pointer',
                cursorAt: { left: 50, top: 45 },
                cursor: 'pointer',
                connectWith: '.sort',
                stop: function(event, ui) {
                    // Enable all sortables
                    $('.sort').each(function () {
                        var $this = $(this);
                        //$this.find(".label").removeClass("label-warning").addClass("label-success");
                        $this.css('borderColor', 'gray');
                        $this.sortable('enable');
                    });
                },
                update: function(event, ui){
                    //console.log("update", event, ui);
                    var SortedHotel = $(event.target).closest(".list-hotels");
                    if(SortedHotel.length > 0) {
                        var $sort = $(event.target);
                        var $item = $(ui.item);
                        var $IDHotel = $sort.data("id");
                        var $IDUser = $item.data("id");
                        var $IDTelemarketing = $item.data("hoteluser");
                    }
                },
                remove( event, ui )
                {
                    //console.log("remove", event, ui);
                    var SortedHotel = $(event.target).closest(".list-hotels");
                    if(SortedHotel.length > 0){
                        var $sort = $(event.target);
                        var $item = $(ui.item);
                        var $IDHotel = $sort.data("id");
                        var $IDUser = $item.data("id");
                        var $IDHotelUser = $item.data("hoteluser");

                        var remove = {
                            HotelUsers_Id: $IDHotelUser,
                            HotelUsers_IdHotel: $IDHotel,
                            HotelUsers_IdUser: $IDUser,
                            HotelUsers_Index: 1
                        }

                        console.log("remove: ", remove);

                        //RunAjax("hotelusers", [remove], "The operator was removed.");
                    }
                },
                receive( event, ui )
                {
                    //console.log("receive", event, ui);
                    var SortedHotel = $(event.target).closest(".list-hotels");
                    if(SortedHotel.length > 0){
                        var $sort = $(event.target);
                        var $item = $(ui.item);
                        var $IDHotel = $sort.data("id");
                        var $IDUser = $item.data("id");
                        var $IDHotelUser = $item.data("hoteluser");

                        var insert = {
                            HotelUsers_Id: $IDHotelUser,
                            HotelUsers_IdHotel: $IDHotel,
                            HotelUsers_IdUser: $IDUser,
                            HotelUsers_Index: 1
                        }

                        console.log("insert: ", insert);

                        RunAjax("hotelusers", [insert], "The operator was " + ($IDHotelUser != undefined ? "updated" : "insert") + ".");
                    }
                }
            });

            $('.sort li').mousedown(function () {
                // Check number of elements already in each sortable
                $('.sort:not([storage])').not($(this).parent()).each(function () {
                    var $this = $(this);

                    if ($this.find('li').length >= 1) {
                        if(!$this.hasClass("storage")) $this.find(".label").removeClass("label-warning").addClass("label-success");
                        $this.css('borderColor', 'red');
                        $this.sortable('disable');
                    } else {
                        $this.css('borderColor', '#abe2a5');
                        $this.sortable('enable');
                    }
                });
            });
        }

        $.fn.GetItems = function (removeItemParameter) {
            var array = $(this).map(function (index, item) {
                var ParentID = $(item).closest("ul").data("id");
                var ExistID = $(item).data("hoteluser");
                var ChildID = $(item).data("id");
                var obj = {
                    HotelUsers_Id: (ExistID == undefined ? null : ExistID),
                    HotelUsers_IdHotel: ParentID,
                    HotelUsers_IdUser: (removeItemParameter == undefined ? (ChildID == undefined ? null : ChildID) : removeItemParameter),
                    HotelUsers_Index: index + 1
                };
                return obj;
            }).toArray();

            return array;
        }

        function RunAjax(namePostParameter, dataPostParameter, successParameter, callbackParameter) {
            $.post("/admin/hotelusers/InsertOrUpdate", {
                [namePostParameter]: dataPostParameter,
            }, function ( data ) {
                console.log(data);
                if(callbackParameter != undefined) callbackParameter();
                $.success("SUCCESS", successParameter);
            }).fail( function (response, status, xhr) {
                $.error("ERROR", "@General.lblMsgError");
            }).always( function () {
                //$btn.button('reset');
            });
        }
    </script>
}