﻿@using Core;
@using System.Globalization;
@using General = Core.Resources.General
@model BackOfficeAcquaJoss.Models.NewsModel

@{
    DateTime date = DateTime.Now;

    News New = new News();
    List<News> NewsList = Model.News;

    if (NewsList != null)
    {
        NewsList = News.Instance().GetNews().OrderByDescending(a => a.News_CreationDate).ToList();
    }

    var queyYears = from year in Model.News group year by year.News_CreationDate.Year into g orderby g.Key select g;
    List<string> Years = new List<string>();
    foreach (var year in queyYears)
    {
        if (year != null)
        {
            Years.Add(year.Key.ToString());
        }
    }

    List<string> MonthNames = DateTimeFormatInfo.CurrentInfo.MonthNames.Where(m => !string.IsNullOrWhiteSpace(m)).ToList();
    List<string> MonthShortNames = DateTimeFormatInfo.CurrentInfo.AbbreviatedMonthNames.Where(m => !string.IsNullOrWhiteSpace(m)).ToList();

    var random = new Random();

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Event");
}

@section css{
    <style>
        #buttons-years .btn,
        #buttons-months .btn {
            position: relative;
            /*width: 16%;*/
            color: #fff;
            font-size: 14px;
            border: 0;
            font-weight: bold;
            padding: 10px 10px;
            line-height: normal;
            /*min-width: 170px;*/
            /*margin-bottom: 3px !important;*/
        }

            #buttons-years .btn:not(.active),
            #buttons-months .btn:not(.active) {
                -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4);
                box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4);
            }

            #buttons-years .btn:hover,
            #buttons-months .btn:hover {
                outline: 0;
                -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
                box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            }
    </style>
}

<section id="news">
    <div class="row wrapper border-bottom white-bg page-heading">
        <h2 class="m-b-n">NEWS</h2>
        <div class="pull-right">
            @*@Html.LabelFor(model => Model.Event.Event_Status) <input type="checkbox" class="js-switch-small" value="true" checked />*@
            <div id="buttons-states" role="group" class="btn-group controls">
                <label class="btn btn-default btn-sm active" data-filter=".status-true">True</label>
                <label class="btn btn-default btn-sm" style="font-size: 11.5px;" data-filter=".status-false">False</label>
            </div>
        </div>
    </div>
    <div class="container">
        <center id="buttons-years" class="controls mtb_30 row">
            @*<label id="btn-year-2017" class="btn control" data-filter=".year-2017" style="background-color: #e03d58;">2017</label>*@
            @foreach (string year in Years)
            {
                <label id="btn-year-@year" class="btn control @(year.Equals(date.Year.ToString()) ? "active" : string.Empty)" data-filter=".year-@year" style="background-color: #e03d58;">@year</label>
            }
        </center>
        @*<center id="buttons-months" class="controls mtb_30 row">
            @foreach (string month in MonthNames)
            {
                <label id="btn-month-@month" class="col-lg-1 col-md-2 btn control @(month.Equals(date.ToString("MMMM")) ? "active" : string.Empty)" data-filter=".month-@month" style="background-color: #0095d4;">@month.ToUpper()</label>
            }
        </center>*@
        <center id="listnews" class="row mtb_30" data-toggle="buttons">
            @foreach (News news in NewsList)
            {
                <div style="display:none" id="@news.News_Id" class="col-xs-12 col-sm-3 col-md-3 news mix year-@news.News_CreationDate.Year month-@news.News_CreationDate.ToString("MMMM") status-@news.News_Status.ToString().ToLower()" status="@news.News_Status.ToString().ToLower()" @*style="display:@(eventi.Event_Status ? "block" : "none")"*@>
                    <div class="news_data" data-toggle="modal" data-target="#modal-news" data-News_Id="@news.News_Id">
                        <div class="loader_container"><div class="loader"></div></div>
                        <div style="position:relative;display:inline-block;">
                            <img src="/@news.News_Thumbanil" onerror="this.src='https://via.placeholder.com/243x186'" class="img-responsive activity-image">
                            <span style="position:absolute;bottom:10px;right:10px;color: white;font-size: 20px;font-weight: bold;text-shadow: 2px 0 0 #013751, -2px 0 0 #013751, 0 2px 0 #013751, 0 -2px 0 #013751, 1px 1px #013751, -1px -1px 0 #013751, 1px -1px 0 #013751, -1px 1px 0 #013751;"></span>
                        </div>
                        <h2>@news.News_Title</h2>
                        <div class="dateNews"><i class="fa fa-calendar" aria-hidden="true"></i> @news.News_CreationDate </div>
                        <p class="introduction hide">@news.News_Description</p>
                    </div>
                </div>
            }
        </center>
        <div class="modal inmodal" id="modal-news" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="border:0;">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">NEW EVENT</h4>
                    </div>
                    <form id="news-form" method="post" class="modal-form" autocomplete="off" validate="true" role="form">
                        <input type="hidden" name="News_Id" value="0" />
                        <input type="hidden" name="News_IdSite" value="2" />

                        <div id="tabs" class="modal-body" style="padding:0px;background-color:transparent;">
                            <ul class="nav nav-tabs nav-tabs-center nav-tabs-border">
                                <li class="active col-md-2"><a data-toggle="tab" href="#tab-0" aria-expanded="true">News</a></li>
                                <li class="col-md-2"><a data-toggle="tab" href="#tab-1" aria-expanded="false">Images</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-0" class="tab-pane active">
                                    <div class="modal-body">
                                        <div class="clearfix row">
                                            <div class="form-group col-sm-6">
                                                @Html.LabelFor(model => New.News_Title)
                                                @Html.EditorFor(model => New.News_Title, new { htmlAttributes = new { Name = "News_Title", @class = "form-control", @required = "required", MaxLength = "200", MinLength = "5" } })
                                            </div>
                                            <div class="form-group col-sm-2">
                                                @Html.LabelFor(model => New.News_Status)
                                                <div>
                                                    <input type="checkbox" class="js-switch" data-switchery="true" id="News_Status" name="News_Status" value="true" checked />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix row">
                                            <div class="form-group col-sm-6">
                                                @Html.LabelFor(model => New.News_Url)
                                                @Html.EditorFor(model => New.News_Url, new { htmlAttributes = new { Name = "News_Url", @class = "form-control", @required = "required", MaxLength = "100", MinLength = "5" } })
                                            </div>
                                        </div>
                                        <div class="clearfix row">
                                            <div class="form-group col-xs-12">
                                                @Html.LabelFor(model => New.News_Introduction)
                                                @Html.TextAreaFor(model => New.News_Introduction, new { Id = "News_Introduction", Name = "News_Introduction", @class = "form-control", @required = "required", @rows = 3, MaxLength = "140", MinLength = "5" })
                                            </div>
                                        </div>
                                        <div class="clearfix row">
                                            <div class="form-group col-xs-12">
                                                @Html.LabelFor(model => New.News_Description)
                                                @Html.TextAreaFor(model => New.News_Description, new { Id = "News_Description", Name = "News_Description", @class = "form-control text_editor", @rows = 3, Required = "required", MaxLength = "3000" })
                                                <label id="News_Description-msn" class="error" for="News_Description" style="display: none;">This field is required</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-1" class="tab-pane">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 mb_xs_15">
                                                @Html.LabelFor(model => New.News_Thumbanil)
                                                @{
                                                    ImagesTypes thumbanil = ImagesTypes.Instance().GetImageType(ImagenType.NEWSTHUMBNAIL);
                                                }
                                                <div id="News_Thumbanil" class="dropzone one" data-name="" data-thumbnailWidth="@thumbanil.ImageType_Width" data-thumbnailHeight="@thumbanil.ImageType_Height" required></div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 mb_xs_15">
                                                @Html.LabelFor(model => New.News_Image)
                                                @{
                                                    ImagesTypes image = ImagesTypes.Instance().GetImageType(ImagenType.NEWSIMAGE);
                                                }
                                                <div id="News_Image" class="dropzone one" data-name="" data-thumbnailWidth="@image.ImageType_Width" data-thumbnailHeight="@image.ImageType_Height" required></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <a id="Preview" href="#" target="_blank" class="btn btn-info" style="display:none;">Preview</a>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="position: fixed;right: 15px;bottom: 15px;">
        <button class="btn btn-circle btn-lg btn-info" type="button" data-toggle="modal" data-target="#modal-news">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</section>
@section Scripts {
<script type="text/javascript">
    Dropzone.autoDiscover = false;
    var News = @Html.Raw(Json.Encode(NewsList));
    var news = null;

    var $form = $("#news-form");
    var currentMix = null;

    function filterTestResult(testResult, target) {
        var status = Boolean(target.dom.el.getAttribute('data-status'));
        return status;
    }
    $(document).ready(function(){
        $("#News_IdSite").rules("add", { required: true });

        currentMix = $("#buttons-states label.active, #buttons-years label.active, #buttons-months label.active").map((index, element) => $(element).data("filter")).toArray().join("");
        
        $("#listnews").find("div.news" + currentMix).fadeIn();

        $("#buttons-years .btn, #buttons-months .btn, #buttons-states .btn").on("click", function (e) {
            $("#listnews").find("div.news").hide();
            var $this = $(this);
            var container = ($this.closest("center").length ? $this.closest("center") : $this.closest("div"));
            container.find("label").removeClass("active");
            $this.addClass("active");
            var value = $this.data("filter");

            var filterState = ($this.closest("div.controls").attr("id") == "buttons-states" ? value : $("#buttons-states .btn.active").data("filter"));
            var filterYear  = ($this.closest("div.controls").attr("id") == "buttons-years" ? value :$("#buttons-years .btn.active").data("filter"));
            var filterMonth = ($this.closest("div.controls").attr("id") == "buttons-months" ? value :$("#buttons-months .btn.active").data("filter"));

            currentMix = $("#buttons-states label.active, #buttons-years label.active, #buttons-months label.active").map((index, element) => $(element).data("filter")).toArray().join("");

            console.log(currentMix)

            $("#listnews").find("div.news"+ currentMix).fadeIn();
        });

        $('[name="News_Title"]').bind("paste", function (e){
            var value = e.originalEvent.clipboardData.getData('text');
            var url = value ? (value.toLowerCase().replace(/\s/g,"-")) : "";
            $('[name="News_Url"]').val(url);
        });

        $('.news_data').on("click", function(e){
            e.stopPropagation();
            var $target = $(this);
            $target.find(".loader_container").show("fast", function(){
                $($target.attr("data-target")).modal("show", $target);
            });
        });

        $("#modal-news").on("show.bs.modal", function (e) {
            var $modal = $(e.target);
            var $target = $(e.relatedTarget);
            var $modalForm = $modal.find('.modal-form');
            var idNews = $target.attr("data-news_id") || 0;
            if (idNews) {
                //slickCarousel();
                news = News.find(a => a.News_Id == idNews);
                $modal.find(".modal-title").text("UPDATE NEWS " + news.News_Title);
                $modal.find("#Preview").attr("href", "@GlobalSettings.UrlZoomarine" + "/news/" + news.News_Url).show();
                CKEDITOR.instances.News_Description.setData(news.News_Description);
                $modalForm.setValues(news);
                $modalForm.find('[name="News_Url"]').rules("remove", "news_url");
                $target.find(".loader_container").hide();
            } else {
                $modal.find('.nav-tabs [href="#tab-2"]').addClass('disabled');
                $modal.find('.nav-tabs [href="#tab-3"]').addClass('disabled');
            }
        }).on('hidden.bs.modal', function (e) {
            var $modal = $(e.target);
            var $modalForm = $modal.find('.modal-form');
            $modalForm.find('[name="News_Url"]').rules('add', { news_url: true, minlength: 4 });
            $modal.find('.nav-tabs [data-toggle="tab"]:first').tab('show');
            $modal.find('.nav-tabs [href="#tab-2"]').removeClass('disabled');
            $modal.find('.nav-tabs [href="#tab-3"]').removeClass('disabled');
            $modal.find(".modal-title").text("NEW NEWS");
            $modal.find(".modal-content").find(".has-error").each(function (idx, element) {
                $(this).removeClass("has-error");
            });
            $modal.find("#Preview").attr("href", "").hide();
            $modal.clear();
        });

        $("#modal-news .modal-form").on("submit", function (e){
            e.preventDefault();
            var $form = $(this);
            var validator = $form.data("validator");
            var dropzones = $form.find(".dropzone").validarDropzones();
            var description = CKEDITOR.instances.News_Description.getData() != "";
            if (description) { $("#cke_News_Description").removeClass("error"); $("#News_Description-msn").hide(); }
            else { $("#cke_News_Description").addClass("error"); $("#News_Description-msn").text("This field is required.").show(); return false; }

            if (validator.valid() && $form.valid() && dropzones) {
                var formDataJson = $form.serializeJSON({
                    useIntKeysAsArrayIndex: true,
                    parseBooleans: true,
                    parseNumbers: true
                });

                var $btn = $form.find(":submit").button("loading");
                var formData = new FormData();

                $.each(formDataJson, function(key, value){ formData.append(key, value); });

                $form.find(".dropzone").each(function() {
                    var paramName = $(this).attr("id");
                    var $dz = $(this);
                    var dropzone = $dz.data("Dropzone");
                    if(dropzone.files.length){
                        if(dropzone.options.maxFiles != null && dropzone.options.maxFiles == 1){
                            var file = dropzone.files[0];
                            if(file.status == "queued") {
                                var name = $dz.attr("data-name");
                                var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                formData.append(paramName, file, fileName);
                            }
                            else formData.append(paramName, file.url.replace("/Content", "Content"));
                        }else{
                            $.each(dropzone.files, function(i, file){
                                if(file.status == "queued") {
                                    var name = $dz.attr("data-name");
                                    var fileName = name && !file.name.findText(name) ? (name + "_" + file.name) : file.name;
                                    formData.append(paramName + '[' + i + ']', file, fileName);
                                }
                                else formData.append(paramName, file.url.replace("/Content", "Content"));
                            });
                        }
                    }
                });

                $.ajax({
                    url: "/admin/InsertOrUpdateNews",
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $.redirect(location.href, { Action: formDataJson.News_Id == 0 ? "insert" : "update", Status: true });
                    },
                    error: function(xhr, status, error){
                        console.log(xhr, status, error);
                    },
                    always: function(){
                        $btn.button("reset");
                    }
                });
            }
            return false;
        });

        /***/
        $(".dropzone").each(function (index, el) {
            var oneFile = $(this).hasClass('one');
            var name = this.dataset && this.dataset.name ? this.dataset.name : null;
            var thumbnailWidth = this.dataset && this.dataset.thumbnailwidth ? parseFloat(this.dataset.thumbnailwidth) : null;
            var thumbnailHeight = this.dataset && this.dataset.thumbnailheight ? parseFloat(this.dataset.thumbnailheight) : null;
            $(this).dropzone({
                url: '/admin/InsertOrUpdateNews',
                autoProcessQueue: false,
                thumbnailWidth: thumbnailWidth,
                thumbnailHeight: thumbnailHeight,
                dictDefaultMessage: "Drop files here to upload<br><b>" + thumbnailWidth + "x" + thumbnailHeight,
                maxFiles: oneFile ? 1 : null,
                uploadMultiple: oneFile ? false : true,
                addRemoveLinks: true,
                init: function () {
                    var $el = $(this.element);
                    $el.data("Dropzone", this);
                    this.on("thumbnail", function (file) {
                        if (!file.id && (file.status != "error" && file.status != "success")) {
                            if (thumbnailWidth && file.width != thumbnailWidth || thumbnailHeight && file.height != thumbnailHeight) file.rejectDimensions();
                            else file.acceptDimensions();
                        }
                        $(file.previewElement).find(".dz-remove").removeClass("btn-circle btn-circle-xs");
                    });

                    this.on('addedfile', function (file) {
                        if (oneFile && this.files.length > 1) this.removeFile(this.files[0]);
                        if (file.id) $(file.previewElement).attr("id", file.id);
                        if (file.idx) $(file.previewElement).append('<div class="dz-index">' + file.idx + '</div>');
                        if ($el.hasClass("sortable")) $(file.previewElement).addClass("sortable-item");
                        $(file.previewElement).find(".dz-remove").attr("title", "Delete " + file.name);
                    });

                    this.on('complete', function (file, response) {
                        if (this.sortable && this.filesToAdd == this.files.length) {
                            this.reorder();
                        }
                    });
                },
                accept: function (file, done) {
                    var dz = this;
                    file.acceptDimensions = done;
                    file.rejectDimensions = function () {
                        var porcentaje = thumbnailWidth * 0.1;
                        var medidas = file.width + " x " + file.height;
                        var minWidth = thumbnailWidth - porcentaje;
                        var maxWidth = thumbnailWidth + porcentaje;
                        if (file.width < minWidth) {
                            $.warning(file.name, "La imagen mide " + medidas + " es demasiado pequeña.<br/>El ancho minimo debe ser de " + minWidth + "px");
                            setTimeout(function () {
                                dz.removeFile(file);
                            }, 1500);
                        } else if (file.width > maxWidth) {
                            $.warning(file.name, "La imagen mide " + medidas + " es demasiado grande.<br/>El ancho maximo debe ser de " + maxWidth + "px");
                            setTimeout(function () {
                                dz.removeFile(file);
                            }, 1500);
                        } else {
                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_WARNING,
                                title: file.name,
                                closable: false,
                                message: "You selected an image of " + medidas + " The image should be " + (thumbnailWidth + " x " + thumbnailHeight) + "<br/>Do you wish to continue?",
                                buttons: [{
                                    label: 'Cancel',
                                    action: function (dialog) {
                                        dz.removeFile(file);
                                        dialog.close();
                                    }
                                }, {
                                    label: 'Continue',
                                    action: function (dialog) {
                                        done();
                                        dialog.close();
                                    }
                                }]
                            });
                        }
                    };
                }
            });
        });


    });
</script>
}
