﻿@model BackOfficeAcquaJoss.Models.PartnersModel
@using Core;

@{
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", Core.Resources.Partners.Partners_Title);
    List<PartnersTypes> partnersTypes = Model.partnersTypes.OrderBy(pt => pt.PartnerType_Index).ToList();
    ImagesTypes it = ImagesTypes.Instance().GetImageType(ImagenType.PARTNER);
}

<style>
    .items {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 10px 15px;
        cursor:pointer;
    }
    
    .dropzone .dz-preview .dz-image img{
        width: 100% !important;
    }
</style>

<section class="adminParnets">
    <div class="row wrapper border-bottom white-bg page-heading">
        <h2 class="m-b-n">@Core.Resources.Partners.Partners_Title.ToUpper()</h2>
        <div class="pull-right">
            <div data-toggle="buttons" class="btn-group">
                <label class="btn btn-default btn-sm active">
                    <span>True</span><input type="radio" name="Status" value="true">
                </label>
                <label class="btn btn-default btn-sm" style="font-size: 11.5px;">
                    <span>False</span><input type="radio" name="Status" value="false">
                </label>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeIn">
        @if (Model.partners != null)
        {
            foreach (PartnersTypes pt in partnersTypes)
            {
                List<Partners> partners = Model.partners.FindAll(p => p.Partner_IdType.Equals(pt.PartnerType_Id)).OrderBy(p => p.Partner_Index).ToList();
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>@pt.PartnerType_Name.ToUpper()</h5>
                        <div class="ibox-tools">
                            <a href="#modal-newPartner" data-toggle="modal" data-PartnerType_Id="@pt.PartnerType_Id" data-PartnersLength="@partners.Count">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="sortable partners">
                            @foreach (Partners p in partners)
                            {
                                <img id="@p.Partner_Id" status="@p.Partner_Status.ToString().ToLower()" class="items img-responsive" src="/@p.Partner_Image" alt="@p.Partner_Name" data-id="@p.Partner_Id" data-toggle="modal" data-target="#modal-update" style="max-width:100%;display:@(p.Partner_Status ? "inline-block" : "none")" />
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="modal inmodal" id="modal-newPartner" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-picture-o modal-icon" aria-hidden="true"></i>
                    <h4 class="modal-title">NEW PARTNER</h4>
                </div>
                <form class="modal-form" autocomplete="off">
                    <input id="Partner_IdType" type="hidden" name="Partner_IdType" />
                    <input id="Partner_Index" type="hidden" name="Partner_Index" value="0" />
                    <input id="Partner_Status" type="hidden" name="Partner_Status" value="true" />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" name="Partner_Name" required />
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="control-label">Link</label>
                                <input type="text" class="form-control" name="Partner_Link" />
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="control-label">Validity date</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <div class="input-daterange input-group">
                                        <input type="text" class="form-control datepicker" name="Partner_DateStart" value="@DateTime.Now.ToShortDateString()" required>
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control datepicker" name="Partner_DateEnd">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropzone"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="modal-update" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">UPDATE PARTNER</h4>
                    <img id="Partner_Image" style="display:none;max-width:100%;" />
                </div>
                <form class="modal-form" autocomplete="off" action="/admin/InsertOrUpadtePartner">
                    <input type="hidden" name="Partner_Id" />
                    <input type="hidden" name="Partner_Image" />
                    <input type="hidden" name="Partner_Index" />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label class="control-label">@Core.Resources.Partners.PartnerType_Name</label>
                                <select class="form-control" name="Partner_IdType" required>
                                    @foreach (PartnersTypes pt in partnersTypes)
                                    {
                                        <option value="@pt.PartnerType_Id">@pt.PartnerType_Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="control-label">@Core.Resources.Partners.Partner_Name</label>
                                <input type="text" class="form-control" name="Partner_Name" required />
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="control-label">@Core.Resources.Partners.Partner_Link</label>
                                <input type="text" class="form-control" name="Partner_Link" />
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="control-label">Validity date</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <div class="input-daterange input-group">
                                        <input type="text" class="form-control datepicker" name="Partner_DateStart" required />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control datepicker" name="Partner_DateEnd" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <label class="control-label">@Core.Resources.Partners.ParnertType_Status</label>
                                <div>
                                    <input class="js-switch check-box" data-switchery="true" name="Partner_Status" type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button id="delete" type="button" class="btn btn-danger">Delete</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var partners = @Html.Raw(Json.Encode(Model.partners));
        Dropzone.autoDiscover = false;
        $(document).ready(function ()
        {
            var thumbnailWidth = @it.ImageType_Width;
            var thumbnailHeight = @it.ImageType_Height;
            $(".dropzone").dropzone({
                url: '/admin/InsertOrUpadtePartner',
                thumbnailWidth: @it.ImageType_Width,
                thumbnailHeight: @it.ImageType_Height,
                dictDefaultMessage: "Drop files here to upload<br><b>" + thumbnailWidth + "x" + thumbnailHeight,
                addRemoveLinks: true,
                acceptedFiles: 'image/*',
                autoProcessQueue: false,
                maxFiles: 1,
                uploadMultiple: false,
                parallelUploads: 1,
                init: function ()
                {
                    var $el = $(this.element);
                    $el.data("Dropzone", this);

                    this.on('addedfile', function (file){
                        if (this.files.length > 1) {
                            this.removeFile(this.files[0]);
                        }
                        $(file.previewElement).find(".btn-circle").removeClass(".btn-circle .btn-circle-xs");
                        this.validarDropzone();
                    });

                    this.on("thumbnail", function(file) {
                        if (!file.id && file.status != "error") {
                            if (thumbnailWidth && file.width != thumbnailWidth || thumbnailHeight && file.height != thumbnailHeight) file.rejectDimensions();
                            else file.acceptDimensions();
                        }
                        $(file.previewElement).find(".dz-remove").removeClass("btn-circle btn-circle-xs");
                    });
                    
                    this.on("sending", function (file, xhr, formData)
                    {
                        var $form = $el.closest('form');
                        if ($form.length) {
                            var data = $form.serializeArray();
                            console.log(data);
                            $.each(data, function ()
                            {
                                formData.append(this.name, this.value);
                            });
                        }
                    });
                },
                accept: function(file, done) {
                    var dz = this;
                    file.acceptDimensions = done;
                    file.rejectDimensions = function() {
                        var porcentaje = thumbnailWidth * 0.20;
                        var medidas = file.width + " x " + file.height;
                        var minWidth = thumbnailWidth - porcentaje;
                        var maxWidth = thumbnailWidth + porcentaje;
                        if (file.width < minWidth) {
                            $.warning(file.name, "La imagen mide " + medidas + " es demasiado pequeña.<br/>El ancho minimo debe ser de " + minWidth + "px");
                            setTimeout(function() {
                                dz.removeFile(file);
                            }, 1500);
                        } else if (file.width > maxWidth) {
                            $.warning(file.name, "La imagen mide " + medidas + " es demasiado grande.<br/>El ancho maximo debe ser de " + maxWidth + "px");
                            setTimeout(function() {
                                dz.removeFile(file);
                            }, 1500);
                        } else {
                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_WARNING,
                                title: file.name,
                                closable: false,
                                message: "You selected an image of " + medidas + " The image should be " + (thumbnailWidth + " x " + thumbnailHeight) + "<br/>Do you wish to continue?",
                                buttons: [{
                                    label: 'Cancel',
                                    action: function(dialog) {
                                        dz.removeFile(file);
                                        dialog.close();
                                    }
                                }, {
                                    label: 'Continue',
                                    action: function(dialog) {
                                        done();
                                        dialog.close();
                                    }
                                }]
                            });
                        }
                    };
                }
            });

            $("#modal-newPartner").on('show.bs.modal', function (e)
            {
                var $modal = $(e.target);
                var $btn = $(e.relatedTarget);
                var dataSet = e.relatedTarget.dataset;
                var $modalForm = $modal.find('.modal-form');
                $modalForm.find("#Partner_IdType").val(dataSet.partnertype_id);
                $modalForm.find("#Partner_Index").val(dataSet.partnerslength);
            });

            $("#modal-newPartner .modal-form").on("submit", function (e)
            {
                e.preventDefault();
                var $form = $(this);
                var dz = $form.find(".dropzone").data('Dropzone');
                if ($form.valid() && dz.validarDropzone()) {
                    dz.on("success", function(file, response){
                        $.reload();
                    }).processQueue();
                }
            });

            $("#modal-update .modal-form").on("submit", function (e)
            {
                //e.preventDefault();
                var $form = $(this);
                if ($form.valid()) {
                  var form_update =  $("#modal-update form").serializeJSON();
                  var partner_date_start = form_update.Partner_DateStart.toMoment().format(dateTimeFormatDB);
                  var partner_date_end = form_update.Partner_DateEnd.toMoment().format(dateTimeFormatDB);
                 
                  $form.find('[name="Partner_DateStart"]').val(partner_date_start);
                  $form.find('[name="Partner_DateEnd"]').val(partner_date_end);
                  if($form.find('[name="Partner_Status"]').is(":checked"))
                  {
                      $form.find('[name="Partner_Status"]').val("true");
                  }
                  else
                  {
                      $form.find('[name="Partner_Status"]').val("false");
                  }
                  document.querySelector("#modal-update .modal-form").submit();
                }
            });

            $(".sortable").sortableDB({
                table: "@Partners.TABLE",
                keyId: "Partner_Id",
                keyValue: "Partner_Index"
            });

            $("#modal-update").on('show.bs.modal', function (e)
            {
                var $modal = $(e.target);
                var $btn = $(e.relatedTarget);
                var dataSet = e.relatedTarget.dataset;
                var $modalForm = $modal.find('.modal-form');
                var partner = partners.find(p => p.Partner_Id == dataSet.id);
                if(partner){
                    if(!partner.formated){
                        partner.Partner_DateStart = partner.Partner_DateStart ? moment(partner.Partner_DateStart).format("L") : null;
                        partner.Partner_DateEnd = partner.Partner_DateEnd ? moment(partner.Partner_DateEnd).format("L") : null;
                        partner.formated = true;
                    }
                    $modal.find("#Partner_Image").attr("src", "/" + partner.Partner_Image).show();
                }else{
                    $modal.find("#Partner_Image").removeAttr("src").hide();
                }
                $modalForm.setValues(partner);
            });

            $("#modal-update").on("click", "#delete", function(){
                var $form = $(this).closest('form');
                var id = $form.find('[name="Partner_Id"]').val();
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#EC4758",
                    confirmButtonText: "Yes, delete it!"
                }, function (isConfirm)
                {
                    if(isConfirm){
                        $.post('/admin/DeletePartner', {
                            id: id
                        }, function (data, textStatus, xhr){
                            $.reload();
                        });
                    }
                });
            });

            $("[name='Status']").on("change", function(){
                $('.items').hide();
                $('[status="' + this.value + '"].items').show();
            });
        });
    </script>
</section>