﻿@using Core
@using BackOfficeAcquaJoss.Models
@using System.Data.SqlClient
@using ReportViewerForMvc 

@model SearcReservationsModel
@{
    List<Reservations> reservations = Model.reservations;
    string today = DateTime.Now.ToString();
    DateTime? Reservation_Ini = null;
    DateTime? Reservation_Fin = null;
    bool requestDates = !string.IsNullOrEmpty(Request.Form["Reservation_Ini"]);
    if (Request.Form.Count == 0)
    {
        Reservation_Ini = DateTime.Now;
        Reservation_Fin = DateTime.Now;
        List<SqlParameter> parameters = new List<SqlParameter>();
        parameters.Add(new SqlParameter("Reservation_Ini", Reservation_Ini.Value.ToString(Core.Db.CRUD.DATEFORMAT)));
        parameters.Add(new SqlParameter("Reservation_Fin", Reservation_Fin.Value.ToString(Core.Db.CRUD.DATEFORMAT)));
        reservations = new SearcReservationsModel(parameters).reservations;
    }

    if (requestDates)
    {
        Reservation_Ini = DateTime.Parse(Request.Form["Reservation_Ini"]);
        Reservation_Fin = string.IsNullOrEmpty(Request.Form["Reservation_Fin"]) ? DateTime.Now : DateTime.Parse(Request.Form["Reservation_Fin"]);
    }
}

<section class="searchReservations">
    <div class="ibox">
        <div class="ibox-title">
            <h5>ANALISI ECONOMICA</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form id="form-search" autocomplete="off" method="post">
                <div class="row">

                    <div class="form-group col-xs-6 col-sm-2">
                        @{Model.ProductsTypesItems_Index = string.IsNullOrEmpty(Request.Form["Product_Type"]) ? null : Request.Form["Product_Type"]; }
                        @Html.LabelFor(model => Model.ProductsTypes, new { @class = "control-label" })
                        @Html.DropDownListFor(model => Model.ProductsTypes.FirstOrDefault().ProductType_Identifier, Model.ProductsTypesItems, new { Name = "Product_Type", @class = "form-control" })

                    </div>
                    <div class="form-group col-xs-6 col-sm-2">
                        @{ Model.SalesChannelItems_Index = string.IsNullOrEmpty(Request.Form["Sale_Channel"]) ? null : Request.Form["Sale_Channel"]; }
                        @Html.LabelFor(model => Model.SalesChannel, new { @class = "control-label" })
                        @Html.DropDownListFor(model => Model.SalesChannel.FirstOrDefault().SaleChannel_Identifier, Model.SalesChannelItems, new { Name = "Sale_Channel", @class = "form-control" })
                    </div>
                    
                  
                    <div class="form-group col-xs-12 col-sm-5 col-md-3">
                        <label class="control-label">Data di acquisto</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="input-daterange input-group datepicker">
                                <input id="fechareservacionIni" type="text" class="form-control" name="Reservation_Ini" value="@(string.Empty)"/>
                                <span class="input-group-addon">to</span>
                                <input id="fechareservacionFin" type="text" class="form-control" name="Reservation_Fin" value="@(string.Empty)"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-3">
                        <label class="control-label">Data di ingresso</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="input-daterange input-group datepicker">
                                <input id="DateIni" type="text" class="form-control" name="Date_Ini" value="@(string.Empty)" />
                                <span class="input-group-addon">to</span>
                                <input id="DateFin" type="text" class="form-control" name="Date_Fin" value="@(string.Empty)" />
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-xs-6 col-sm-2">
                        <label class="control-label">TIPO PAGAMENTO</label>
                        <select name="tipo_pagamento" class="form-control" id="tipo_pagamento">
                            <option value=""></option>
                            <option value="CC">CARTE CREDITO</option>
                            <option value="BB">BONIFICO BANCARIO</option>
                        </select>
                    </div>
                </div>
                <div class="ibox-footer text-right">
                    <button id="btnCerca" type="submit" class="btn btn-primary">
                        CERCA <i class="fa fa-search"></i>
                       
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="ibox">

        <div class="container">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)           
        </div>
        
    </div>

    <!--loader-->
    <div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 100px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function ()
        {
            var $table = $('#table-result');
            $table.DataTable({
                dom: 'Blfrtip',
                buttons: [],
                lengthMenu: [[10, 50, 100, 200, 500, 1000], [10, 50, 100, 200, 500, 1000]],
                drawCallback: function (settings)
                {
                    var rowCount = settings.aiDisplayMaster.length;
                    $('.dataTables_length, .dataTables_filter, .tableSearch_info, .dataTables_paginate').css('display', rowCount <= 10 ? 'none' : 'inline-block');
                    $table.show();
                }
            });
        });

        $("#btnCerca").click(function () {           
            $('#loader').modal('show');
        });

    </script>
</section>
