﻿@using Core
@model ExtendedSettings
@{
    ViewBag.Title = "Settings";
}

<h2>Impostazioni del sito</h2>

<div class="container">
    <div class="row">
        <div class="form-group col-sm-9">
        </div>

        <div class="form-group col-sm-1">
            <label>&nbsp;</label>
            <div>
                <button class="btn btn-primary" onclick="Save()" type="button" data-toggle="modal" data-target="#modal-new">Conferma</button>
            </div>
        </div>

        <div class="form-group col-sm-1"></div>
    </div>

    <div class="container">
        <table id="table-check" class="table table-hover table-bordered " tyle="width:100%;">
            <thead>
                <tr>
                    <th>Prezzi Dinamici</th>
                    <th>Abbonamenti</th>
                    <th>Promozioni</th>
                    <th>Pacchetti Famiglia</th>
                    <th>Gruppi</th>
                    <th>Hotels</th>
                    <th>Codici Sconto</th>
                    <th>Cambio data hotel</th>
                    <th style="display: none;">Prezzi per Alta o Bassa stagione</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Html.CheckBoxFor(m => m.Settings.Tickets)</td>
                    <td>@Html.CheckBoxFor(m => m.Settings.Subscriptions)</td>
                    <td>@Html.CheckBoxFor(m => m.Settings.Promotions)</td>
                    <td>@Html.CheckBoxFor(m => m.Settings.FamPacks)</td>
                    <td>@Html.CheckBoxFor(m => m.Settings.Groups)</td>
                    <td>@Html.CheckBoxFor(m => m.Settings.Hotels)</td>
                    <td>@Html.CheckBoxFor(m => m.Settings.Discounts)</td>
                    <td>@Html.CheckBoxFor(m => m.Settings.ChangeDate)</td>
                    <td style="display: none;">@Html.CheckBoxFor(m => m.Settings.HighLowSeasonPrices)</td>
                </tr>
            </tbody>
        </table>

        <h3 style="margin: 2px;">PREZZI PIENI DI RIFERIMENTO:</h3>
        <table id="table5" class="table table-hover table-bordered " tyle="width:100%;">
            <thead>
                <tr>
                    <th>Ingresso Intero</th>
                    <th>Ingresso Ridotto</th>
                    <th>Hotel</th>
                    <th>Pacch. Famiglia 3x</th>
                    <th>Pacch. Famiglia 4x</th>
                    <th>Pacch. Famiglia 5x</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Html.TextBoxFor(m => m.BasePriceSettings.FullBasePrice, new { @class = "form-control input-sm num" })</td>
                    <td>@Html.TextBoxFor(m => m.BasePriceSettings.ReducedBasePrice, new { @class = "form-control input-sm num" })</td>
                    <td>@Html.TextBoxFor(m => m.BasePriceSettings.HotelBasePrice, new { @class = "form-control input-sm num" })</td>
                    <td>@Html.TextBoxFor(m => m.BasePriceSettings.FamPack3xBasePrice, new { @class = "form-control input-sm num" })</td>
                    <td>@Html.TextBoxFor(m => m.BasePriceSettings.FamPack4xBasePrice, new { @class = "form-control input-sm num" })</td>
                    <td>@Html.TextBoxFor(m => m.BasePriceSettings.FamPack5xBasePrice, new { @class = "form-control input-sm num" })</td>
                </tr>
            </tbody>
        </table>

        <h3 style="margin: 2px;">IMPOSTAZIONI DATE:</h3>
        <table id="table5" class="table table-hover table-bordered " style="width:100%;">
            <thead>
                <tr>
                    <th>Data inizio calendario</th>
                    <th>Data inizio vendite</th>
                    <th>Data fine vendite</th>
                    <th>Acquisto stesso giorno</th>
                    <th>Orario limite acquisto stesso giorno</th>
                    <th>Limite visitatori</th>
                    <th>Massimo visitatori</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.TextBoxFor(m => m.DateSettings.StartInfoCalendarDate, "{0:dd/MM/yyyy}", new { maxlength = 10 })</td>
                    <td>@Html.TextBoxFor(m => m.DateSettings.StartCalendarDate, "{0:dd/MM/yyyy}", new { maxlength = 10 })</td>
                    <td>@Html.TextBoxFor(m => m.DateSettings.LastCalendarDate, "{0:dd/MM/yyyy}", new { maxlength = 10 })</td>
                    <td>@Html.CheckBoxFor(m => m.DateSettings.SameDay)</td>
                    <td>@Html.TextBoxFor(m => m.DateSettings.HourLimit, new { @class = "form-control input-sm num", maxlength = 4 })</td>
                    <td>@Html.CheckBoxFor(m => m.DateSettings.LimitVisitors)</td>
                    <td>@Html.TextBoxFor(m => m.DateSettings.MaxVisitors, new { @class = "form-control input-sm num", maxlength = 4 })</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function Save() {
            var risp = confirm("Vuoi confermare queste impostazioni?");

            if (risp == true) {
                var URL = "/Admin/UpdateSiteSettings/";

                var Tickets = $("#Settings_Tickets").prop('checked');
                var Subscriptions = $("#Settings_Subscriptions").prop('checked');
                var Promotions = $("#Settings_Promotions").prop('checked');
                var FamPacks = $("#Settings_FamPacks").prop('checked');
                var Groups = $("#Settings_Groups").prop('checked');
                var Hotels = $("#Settings_Hotels").prop('checked');
                var Discounts = $("#Settings_Discounts").prop('checked');
                var ChangeDate = $("#Settings_ChangeDate").prop('checked');
                var HighLowSeasonPrices = $("#Settings_HighLowSeasonPrices").prop('checked');

                //basepricesettings
                var FullBasePrice = $("#BasePriceSettings_FullBasePrice").val();
                var ReducedBasePrice = $("#BasePriceSettings_ReducedBasePrice").val();
                var HotelBasePrice = $("#BasePriceSettings_HotelBasePrice").val();
                var FamPack3xBasePrice = $("#BasePriceSettings_FamPack3xBasePrice").val();
                var FamPack4xBasePrice = $("#BasePriceSettings_FamPack4xBasePrice").val();
                var FamPack5xBasePrice = $("#BasePriceSettings_FamPack5xBasePrice").val();

                //datesettings
                var StartInfoCalendarDate = $("#DateSettings_StartInfoCalendarDate").val();
                var StartCalendarDate = $("#DateSettings_StartCalendarDate").val();
                var LastCalendarDate = $("#DateSettings_LastCalendarDate").val();
                var HourLimit = $("#DateSettings_HourLimit").val();
                var LimitVisitors = $("#DateSettings_LimitVisitors").prop('checked');
                var MaxVisitors = $("#DateSettings_MaxVisitors").val();

                //date check
                if (moment(StartInfoCalendarDate, 'DD/MM/YYYY', true).isValid() == false) {
                    alert("Data inizio calendario errata");
                    return;
                }

                if (moment(StartCalendarDate, 'DD/MM/YYYY', true).isValid() == false) {
                    alert("Data inizio vendite errata");
                    return;
                }

                if (moment(LastCalendarDate, 'DD/MM/YYYY', true).isValid() == false) {
                    alert("Data fine vendite errata");
                    return;
                }

                var Sameday = $("#DateSettings_SameDay").prop('checked');

                //hourcheck
                if (HourLimit.length < 4) {
                    alert("L'orario limite deve avere 4 cifre: hhmm");
                    return;
                }

                var Info1 = {
                    Tickets: Tickets,
                    Subscriptions: Subscriptions,
                    Promotions: Promotions,
                    FamPacks: FamPacks,
                    Groups: Groups,
                    Hotels: Hotels,
                    Discounts: Discounts,
                    ChangeDate: ChangeDate,
                    HighLowSeasonPrices: HighLowSeasonPrices
                };

                var Info3 = {
                    FullBasePrice: FullBasePrice,
                    ReducedBasePrice: ReducedBasePrice,
                    HotelBasePrice: HotelBasePrice,
                    FamPack3xBasePrice: FamPack3xBasePrice,
                    FamPack4xBasePrice: FamPack4xBasePrice,
                    FamPack5xBasePrice: FamPack5xBasePrice
                }

                var Info4 = {
                    StartInfoCalendarDate: StartInfoCalendarDate,
                    StartCalendarDate: StartCalendarDate,
                    LastCalendarDate: LastCalendarDate,
                    Sameday: Sameday,
                    HourLimit: HourLimit,
                    LimitVisitors: LimitVisitors,
                    MaxVisitors: MaxVisitors
                }

                var Info = { Info1, Info3, Info4 };

                var promise = $.post(URL, Info);

                promise.done(function () {
                    $.warning("Avviso", "Impostazioni cambiate");
                });
            }

        }
    </script>
}



