﻿@using Core;
@using System.Globalization;
@using General = Core.Resources.General;
@model BackOfficeAcquaJoss.Models.TMasterMapeoModel

@{
    int? parkOperational_Id = Model.ParkOperational_Id;    
    List<ParkOperational> parkOperationalList = Model.ParkOperationalList.Where(i => i.ParkOperational_Status == true).ToList();

    ParkOperational parkOperational = null;
    List<TmasterMap> tmasterMaps = null;
    List<ProductsTickets> productsTickets = null;

    List<Products> products = null;
    List<int> Ids = null;
    List<Products> ListaDD = ViewBag.ListaDD;

    //default null value
    Products Pr = new Products();
    ListaDD.Insert(0, Pr);

    if (parkOperational_Id.HasValue)
    {
        parkOperational = parkOperationalList.Find(p => p.ParkOperational_Id.Equals(parkOperational_Id.Value));
        tmasterMaps = Model.TmasterMaps.FindAll(t => t.ParkOperational_Id.Equals(parkOperational_Id.Value));
        Model.TMasters = tmasterMaps;
        products = Model.Products;
        Ids = tmasterMaps.Select(TM => TM.Id).ToList();
        //productsTickets = Model.ProductsTickets.Where(PT => Ids.Contains(PT.ProductTicket_IdTicket)).ToList();
        productsTickets = ViewBag.ProductTickets;

    }

    foreach (TmasterMap elem in Model.TMasters)
    {
        elem.Description = elem.Description + "  - € " + elem.Price.ToString();
    }

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "TMasterModel");
}


<section id="TMasterMapeo">
    <div class="ibox">
        <div class="ibox-content">
            <form id="form" action="/admin/tmastermapeo/" class="mb_30">
                <div class="form-group">
                    <div class="row">
                        <div class="row col-sm-3" style="margin: 5px;">
                            <label>Calendario</label>
                            @{ Model.ParkOperationalItems_Index = (parkOperational != null ? parkOperational.ParkOperational_Id : 0); }
                            @Html.DropDownList("Id", new SelectList(parkOperationalList, "ParkOperational_Id", "ParkOperational_Code"), new { @Id = "idParkOperational", Name = "idParkOperational", @class = "form-control input-sm" })                          
                            @*@Html.DropDownListFor(model => Model.ParkOperational_Id, Model.ParkOperationalItems, null, new { @id = "idParkOperational", @Name = "idParkOperational", @class = "form-control input-sm" })*@
                        </div>

                        <div class="form-group col-sm-3" style="margin: 5px;">
                            <label>Prodotto</label>
                            <div>
                                @Html.DropDownList("Product_Id", new SelectList(ListaDD, "Product_Id", "Product_Key"), new { Id = "idProductSearch", Name = "idProductSearch", Class = "col-lg-12 chosen-select", Required = "required" })
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>&nbsp;</label>
                            <div>
                                <button type="submit" class="btn btn-primary" id="Avvia" >Avvia</button>
                            </div>
                        </div>


                        <div class="form-group col-sm-1">
                            <label>&nbsp;</label>
                            <div>
                                <button class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#modal-new">Nuovo</button>
                            </div>
                        </div>

                    </div>

                    <div id="helpIdParkOperational" class="small help-block m-b-none" style="display:@(parkOperational != null ? "block" : "none")">
                        <i class="fa fa-circle" style="color:@(parkOperational != null ? parkOperational.ParkOperational_Color : string.Empty)"></i>
                        @{
                            string legend = (parkOperational != null ? string.Format("{0:D}", parkOperational.ParkOperational_DateStart) + " - " + string.Format("{0:D}", parkOperational.ParkOperational_DateEnd) : string.Empty);
                        }
                        <span>@legend</span>
                    </div>

                </div>
            </form>
            <div class="row">
                <div class="col-lg-12">
                    <table id="table-result" class="table table-bordered table-striped table-hover fixed_header" style="width:1150px;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">Id</th>
                                <th align="center" style="width: 300px;">Product</th>
                                <th align="center" style="width: 300px;">Ticket</th>
                                <th align="center" style="width: 100px;">Price</th>
                                <th align="center" style="width: 300px;">Coupon</th>
                                <th align="center" class="no-sort" style="width: 50px;">Save</th>
                                <th align="center" class="no-sort" style="width: 50px;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (tmasterMaps != null)
                            {
                                if (parkOperational_Id.HasValue)
                                {
                                    foreach(ProductsTickets item in productsTickets)
                                    {
                                        object _row = new { ProductTicket_Id = item.ProductTicket_Id, ProductTicket_IdProduct = item.ProductTicket_IdProduct, ProductTicket_IdTicket = item.ProductTicket_IdTicket, ProductTicket_IdCoupon = item.ProductTicket_IdCoupon };
                                        string IdForm = "form-" + item.ProductTicket_Id;
                                        <tr productticket="@item.ProductTicket_Id" data-row='@Html.Raw(Json.Encode(_row).Trim())'>
                                            <td style="width: 50px;">@item.ProductTicket_Id</td>
                                            <td style="width: 300px;">
                                                @item.Product.Product_Key.ToUpper()
                                            </td>
                                            <td style="width: 300px;">
                                                @item.TmasterMap.Description.ToUpper()   
                                            </td>
                                            <td style="width: 100px;">
                                                €@item.TmasterMap.Price
                                            </td>
                                            <td style="width: 300px;">
                                                @{ string _Discount = item.DiscountCoupon.DiscountCoupon_Id != 0 ? item.DiscountCoupon.DiscountCoupon_Identifier.ToUpper() : string.Empty; }
                                                @{ string name_product = "";
                                                    if (item.DiscountCoupon.DiscountCoupon_Product_Id.HasValue)
                                                    {
                                                        name_product = Products.Instance().GetProduct(item.DiscountCoupon.DiscountCoupon_Product_Id.Value).Product_Name;
                                                        name_product = " (" + name_product + ") ";
                                                    }
                                                }
                                                @{ string Dis = _Discount + name_product;}
                                                @Dis
                                            </td>
                                            <td align="center" style="width: 50px;">
                                                <input type="hidden" name="ProductTicket_Id" value="@item.ProductTicket_Id" />
                                                <input type="hidden" name="ParkOperational_Id" value="@parkOperational_Id" />
                                                <button class="btn btn-default btn-sm btn-link btn-outline" onclick="UnDelete();" type="button" data-toggle="modal" data-target="#modal-new">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </td>
                                            <td align="center" style="width: 50px;">
                                                <button class="btn btn-danger btn-sm btn-link btn-outline" onclick="Delete(@item.ProductTicket_Id);" type="button" data-toggle="modal" data-target="#modal-new">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" style="bottom:0px;">
        <div class="pull-left">
            ProductsTickets: <b>@(parkOperational_Id.HasValue ? productsTickets.Count : 0)</b>
        </div>
    </div>

    <div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="modal-new-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <form id="form-insert" class="modal-form" validate="true" autocomplete="off" action="/admin/InsertOrUpadteTMasterMapeo">
                    <input type="hidden" name="Id" value="0" />
                    <div class="modal-body">
                        <input type="hidden" name="ProductTicket_Id" value="" />
                        <label id="Stagione"></label>
                        <br />&nbsp;
                        <div class="row">
                           
                            <div class="form-group col-sm-4">
                                <label>Prodotto</label>
                                <div id="ProdottoSel">
                                    @{ Model.ProductsItems_Index = 0; }
                                 
                                    @Html.DropDownList("Product_Id", new SelectList(ListaDD, "Product_Id", "Product_Key"), new { Id = "ProductTicket_IdProduct", Name = "ProductTicket_IdProduct", Class = "col-lg-12", Required = "required" })                                  
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Biglietto</label>
                                <div id="BigliettoSel">
                                    @{ Model.TMastersItems_Index = 0; }
                                    @Html.DropDownListFor(model => Model.TMasters.First().Id, Model.TMastersItems, new { Id = "ProductTicket_IdTicket", Name = "ProductTicket_IdTicket", Class = "col-lg-12", Required = "required" })
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Coupon</label>
                                <div id="CouponSel">
                                    <select class="col-lg-12" id="ProductTicket_IdCoupon" name="ProductTicket_IdCoupon">
                                        <option value=""></option>
                                        @foreach (DiscountCoupon discount in Model.DiscountsCupons)
                                        {
                                            string name_product = "";
                                            if (discount.DiscountCoupon_Product_Id.HasValue)
                                            {
                                                name_product = Products.Instance().GetProduct(discount.DiscountCoupon_Product_Id.Value).Product_Name;
                                            }
                                            <option value="@discount.DiscountCoupon_Id">@discount.DiscountCoupon_Identifier.ToUpper() (@name_product)</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">                    
                        <button type="submit" class="btn btn-primary" id="SaveChanges">Save changes</button>
                        <button type="button" class="btn btn-danger" id="Delete" style="visibility: hidden;">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

@section Scripts {

    <script src="http://loudev.com/js/jquery.quicksearch.js" type="text/javascript"></script>
    <script src="http://loudev.com/js/jquery.multi-select.js"></script>

    <script type="text/javascript">
        var ParkOp = '@parkOperational_Id';
        var ParkOpDesc = '';

        var $Form = $("#form-insert");

        var ProductId;

        function Delete(value) {
            ProductId = value;
            $("#SaveChanges").css("visibility", "hidden");
            $("#Delete").css("visibility", "visible");
            DisableSel();
        }

        function UnDelete() {
            $("#SaveChanges").css("visibility", "visible");
            $("#Delete").css("visibility", "hidden");
            EnableSel();
        }

        function DisableSel() {
            $("#ProdottoSel").children().prop('disabled', true);
            $("#BigliettoSel").children().prop('disabled', true);
            $("#CouponSel").children().prop('disabled', true);
        }

        function EnableSel() {
            $("#ProdottoSel").children().prop('disabled', false);
            $("#BigliettoSel").children().prop('disabled', false);
            $("#CouponSel").children().prop('disabled', false);
        }

        $("#idParkOperational").on("change", function () {
            $("#form").submit();
        });


        $(document).ready(function () {
            if (ParkOp != "")
            {
                $("#idParkOperational").val(ParkOp);
                ParkOpDesc = $("#idParkOperational option:selected").text();
                $("#Stagione").text("Stagione: " + ParkOpDesc);
            }

            $Form.validate({
                rules: {
                    ProductTicket_IdProduct: {
                        required: true,
                        //remote: {
                        //    url: "/admin/CheckUniqueTMasterMapeoAjax",
                        //    type: "post",
                        //    data:  $('#form-insert').getValues()
                        //}
                    },
                    ProductTicket_IdTicket: {
                        required: true,
                        //remote: {
                        //    url: "/admin/CheckUniqueTMasterMapeoAjax",
                        //    type: "post",
                        //    data: {
                        //        productsTicket: $('#form-insert').getValues()
                        //    }
                        //}
                    },
                }
            });

            $("#Avvia").on("click", function () {

                if (this.value) {
                    $("#form").submit();
                } else {
                    $("#helpIdParkOperational").hide();
                    $("#table-result_wrapper").hide();
                }
            });

            var $table = $('#table-result');



            $("#Delete").on("click", function (e) {
                e.preventDefault();

                $.post("/admin/DeleteTMasterMapeoAjax/", {
                    ProductId: ProductId
                }, function (data) {
                    if (data != null && data == 1) {
                        $.success("SUCCESS", "Cancellazione effettuata");
                        $("#form").submit();
                    }
                    else $.error("ERROR", "@General.lblMsgError");
                    $btn.button("reset");
                }, "json").fail(function (error, xhr, response) {
                    $.error("ERROR", "@General.lblMsgError");
                    $btn.button("reset");
                });
                return false;

            });



            $table.on("click", "btn-save", function (e) {
                e.preventDefault();
                var $row = $(this).closest("tr");
                var $btn = $(this).button("loading");
                var values = $row.getValues();
                $.post("/admin/InsertOrUpadteTMasterMapeoAjax/", {
                    productsTicket: values
                }, function (data) {
                    if (data != null && data == 1) {
                        $.success("SUCCESS", "Salvataggio effettuato");
                        $("#form").submit();
                    }
                    else $.error("ERROR", "@General.lblMsgError");
                    $btn.button("reset");
                }, "json").fail(function (error, xhr, response) {
                    $.error("ERROR", "@General.lblMsgError");
                    $btn.button("reset");
                });
                return false;
            });

            $table.on("keydown", "input", function (e) {
                if (e.ctrlKey && e.keyCode === 13) {
                    $(this).closest("tr").find(".btn-save").trigger("click");
                }
            });

            $('#modal-new').on('shown.bs.modal', function (e) {
                var $target = $(e.target);
                var $btn = $(e.relatedTarget);
                var data = $btn.closest("tr").data("row");

                if (data != null) {
                    if (data.ProductTicket_Id) {
                        $Form.setValues(data);
                    }
                }

            });


            $('#modal-new').on('hide.bs.modal', function (e) {
                UnDelete();
            });

            //$("#form-insert").on("submit", function (e) {
            //    e.preventDefault();
            //    var $form = $(e.target);
            //    console.log($form.valid());
            //    if ($form.valid()) {
            //        return false;
            //    }
            //    return false;
            //});

            //$('#my-select').multiSelect({
            //    cssClass: "col-lg-12",
            //    selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='try \"12\"'>",
            //    selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='try \"4\"'>",
            //    afterInit: function (ms) {
            //        var that = this,
            //            $selectableSearch = that.$selectableUl.prev(),
            //            $selectionSearch = that.$selectionUl.prev(),
            //            selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
            //            selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            //        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
            //            .on('keydown', function (e) {
            //                if (e.which === 40) {
            //                    that.$selectableUl.focus();
            //                    return false;
            //                }
            //            });

            //        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
            //            .on('keydown', function (e) {
            //                if (e.which == 40) {
            //                    that.$selectionUl.focus();
            //                    return false;
            //                }
            //            });
            //    },
            //    afterSelect: function () {
            //        this.qs1.cache();
            //        this.qs2.cache();
            //    },
            //    afterDeselect: function () {
            //        this.qs1.cache();
            //        this.qs2.cache();
            //    }
            //})
        });
    </script>
}