﻿@using Core;
@model BackOfficeAcquaJoss.Models.TmasterMapModel

@{
    int? parkOperational_Id = Model.ParkOperational_Id;
    List<ParkOperational> parkOperationalList = Model.parkOperationalList.Where(i => i.ParkOperational_Status == true).ToList();

    ParkOperational parkOperational = null;
    List<TmasterMap> tmasterMapList = null;
    if (parkOperational_Id.HasValue)
    {
        parkOperational = parkOperationalList.Find(p => p.ParkOperational_Id.Equals(parkOperational_Id.Value));
        tmasterMapList = Model.TmasterMapList.FindAll(t => t.ParkOperational_Id.Equals(parkOperational_Id.Value));
    }
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "TMaster");
}

<section>
    <div class="ibox">
        <div class="ibox-content">
            <form id="form" action="/admin/tmaster/" class="mb_30">
                <div class="form-group">
                    <div class="row">
                        <div class="row col-sm-3" style="margin: 5px;">
                            <label>Calendario:</label>
                            <select id="idParkOperational" name="idParkOperational" class="form-control">
                                @*<option value=""></option>*@
                                @if (parkOperationalList != null)
                                {
                                    foreach (ParkOperational item in parkOperationalList)
                                    {
                                        <option value="@item.ParkOperational_Id" selected="@(parkOperational != null && parkOperational.ParkOperational_Id.Equals(item.ParkOperational_Id))">@item.ParkOperational_Code</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="row col-sm-5">

                        </div>

                        <div class="form-group col-sm-3">
                            <label>&nbsp;</label>
                            <div>
                                <button class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#modal-new">
                                    Nuovo
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="helpIdParkOperational" class="small help-block m-b-none" style="display:@(parkOperational != null ? "block" : "none")">
                        <i class="fa fa-circle" style="color:@(parkOperational != null ? parkOperational.ParkOperational_Color : string.Empty)"></i>
                        <span>@(parkOperational != null ? string.Format("{0:D}", parkOperational.ParkOperational_DateStart) + " - " + string.Format("{0:D}", parkOperational.ParkOperational_DateEnd) : string.Empty)</span>
                    </div>
                </div>
            </form>

            <div class="row">
                <label style="display: inline;">&nbsp;Search:&nbsp;</label>
                <input id="search-user" type="text" style="width:300px; display: inline;" placeholder="" class="input form-control">
                <br /><br />

                <table id="table-result" class="table table-bordered table-striped table-hover" style="display:none;">
                    <thead>
                        <tr>
                            <th align="center">Description</th>
                            <th align="center">Provider</th>
                            <th align="center">Code</th>
                            <th align="center">Parameter</th>
                            <th align="center">Price</th>
                            <th align="center">Multiplier</th>
                            <th align="center">Open</th>
                            <th align="center" class="no-sort">Save</th>
                            <th align="center" class="no-sort">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (tmasterMapList != null)
                        {
                            foreach (TmasterMap item in tmasterMapList)
                            {
                                <tr>
                                    <td style="display: none;">@item.Description</td> <!--for search -->
                                    <td><input class="form-control input-sm" type="text" name="Description" value="@item.Description" required style="width:100%;" /></td>
                                    <td><input class="form-control input-sm" type="text" name="Provider" value="@item.Provider" style="width:100%;" /></td>

                                    <td style="display: none;">@item.CodeProvider</td> <!--for search -->
                                    <td><input class="form-control input-sm" type="text" name="CodeProvider" value="@item.CodeProvider" style="width:100%;" /></td>

                                    <td style="display: none;">@item.ParameterProvider</td> <!--for search -->
                                    <td><input class="form-control input-sm" type="text" name="ParameterProvider" value="@item.ParameterProvider" style="width:100%;" /></td>

                                    <td style="display: none;">@item.Price</td> <!--for search -->
                                    <td><input class="form-control input-sm num" type="text" name="Price" value="@item.Price" required style="width:100%;" /></td>
                                    <td><input class="form-control input-sm" type="number" min="0" step="0.01" name="EmissionMultiplier" value="@item.EmissionMultiplier" style="width:100%;" /></td>
                                    <td align="center">
                                        <input class="i-checks" name="TOpen" value="@item.TOpen.ToString().ToLower()" @(item.TOpen ? "checked" : string.Empty) type="checkbox" />
                                    </td>
                                    <td align="center">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <input type="hidden" name="ParkOperational_Id" value="@item.ParkOperational_Id" />
                                        <button class="btn btn-default btn-sm btn-link btn-outline btn-save" data-toggle="tooltip" data-title="Ctrl + Enter"><i class="fa fa-pencil"></i></button>
                                    </td>

                                    <td align="center">
                                        <button class="btn btn-danger btn-sm btn-link btn-outline" onclick="Delete(@item.Id);" type="button">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>



        <div class="modal" id="modal-new" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    </div>
                    <form class="modal-form" validate="true" autocomplete="off" action="/admin/InsertOrUpadteTMaster">
                        <input type="hidden" name="Id" value="0" />
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Park Operational</label>
                                    <select name="ParkOperational_Id" class="form-control" required>
                                        <option value=""></option>
                                        @if (parkOperationalList != null)
                                        {
                                            foreach (ParkOperational item in parkOperationalList)
                                            {
                                                <option value="@item.ParkOperational_Id">@item.ParkOperational_Code</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label class="control-label">Description</label>
                                    <input type="text" class="form-control" name="Description" maxlength="50" required />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Provider</label>
                                    <input type="text" class="form-control" name="Provider" value="Lottomatica" maxlength="30" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Code</label>
                                    <input type="text" class="form-control" name="CodeProvider" maxlength="2" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Parameter</label>
                                    <input type="text" class="form-control" name="ParameterProvider" maxlength="30" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Price</label>
                                    <input class="form-control input-sm num" type="text" name="Price" required />
                                    @*<input type="number" min="0" step=".1" class="form-control" name="Price" required />*@
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Emission Multiplier</label>
                                    <input type="number" min="1" step="1" class="form-control" name="EmissionMultiplier" required />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Open</label>
                                    <div>
                                        <input class="js-switch check-box" data-switchery="false"
                                               name="TOpen" value="true" type="checkbox" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script type="text/javascript">

            var ProductId;

            function Delete(Id) {
                var risp = confirm("Vuoi eliminare questo prodotto?");


                if (risp == true) {
                    var URL = "/Admin/TmasterDelete/";
                    var Info = { Id: Id };

                    var promise = $.post(URL, Info);

                    promise.done(function (data) {
                        $.warning("Avviso", "Cancellazione effettuata");

                        //reload
                        window.location.href = "/Admin/TMaster";
                    });
                }

            };


            $(document).ready(function () {
                //search:
                $("#search-user").on("keyup", function () {
                    $(".table").filterText(this.value);
                });


                $("#idParkOperational").on("change", function () {
                    if (this.value) {
                        $("#form").submit();
                    } else {
                        $("#helpIdParkOperational").hide();
                        $("#table-result_wrapper").hide();
                    }
                });

                var $table = $('#table-result');
                $table.show();


                $table.on("click", ".btn-save", function () {
                    var $row = $(this).closest("tr");
                    var $btn = $(this).button("loading");
                    var values = $row.getValues();

                    //avoid decimal separator bug
                    var Prc = values.Price.toString();
                    Prc = Prc.replace(".", ",");
                    values.Price = Prc;

                    $.post("/admin/InsertOrUpadteTMasterAjax/", {
                        tmasterMap: values
                    }, function (data) {
                        if (data != null && data == 1) $.success("SUCCESS", "Operazione completata");
                        else $.error("ERROR", "Si è verificato un errore");
                        $btn.button("reset");
                    }, "json").fail(function (error, xhr, response) {
                        $.error("ERROR", "SSi è verificato un errore");
                        $btn.button("reset");
                    });

                    $table.on("keydown", "input", function (e) {
                        if (e.ctrlKey && e.keyCode === 13) {
                            $(this).closest("tr").find(".btn-save").trigger("click");
                        }
                    });
                });
            });
        </script>
        }
    </section>