﻿@using Core;
@using General = Core.Resources.General;
@using Dictionary = Core.Resources.Customers;
@model BackOfficeAcquaJoss.Models.CustomersModel
@{
    List<Core.Customers> clients = Model.Customers;
    int size = 10;
    double index = 0;
    double page = 0;
    if (Model.Customer == null)
    {
        Model.Customer = new Core.Customers();
    }
    else
    {
        index = clients.FindIndex(s => s.Customer_Id.Equals(Model.Customer.Customer_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Clients");
}

@section Css{
    <style>
        .fixed_header {
            width: 400px;
            table-layout: fixed;
            border-collapse: collapse;
        }

            .fixed_header tbody::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5;
            }

            .fixed_header tbody::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 12px;
            }

            .fixed_header tbody::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            .fixed_header tbody {
                display: block;
                width: 100%;
                height: 426px;
                overflow: hidden;
            }

                .fixed_header tbody:hover {
                    overflow: auto;
                }

                .fixed_header tbody .footable-empty {
                    width: 100%;
                    display: inline-table;
                }

            .fixed_header thead tr:last-child {
                display: block;
            }

            .fixed_header thead .footable-filtering th {
                width: 100%;
                display: block;
            }

            .fixed_header th, .fixed_header td {
                padding: 5px;
                text-align: left;
                width: 200px;
            }

        .nav-tabs > li {
            float: right;
        }
    </style>
}

<div class="row">
    <div class="col-sm-7">
        <section id="Clients">
            <div class="ibox clearfix">
                <div class="ibox-title">
                    <h5><i class="fa fa-group"></i> @General.lblClient.ToUpper()</h5> <!-- fa-group | fa-handshake-o -->
                    <div class="ibox-tools">
                        <a class="btn btn-primary btn-xs btn-new-client" form_type="section#Clients" href="javascript:void(0)">@string.Format(General.lblNew, General.lblClient)</a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content clearfix" style="padding:0px 5px;">
                    <div class="row">
                        <div class="col-md-12" id="">
                            <table id="table-clients" class="table table-order table-stripped table-hover toggle-arrow-tiny fixed_header" data-paging="false" data-sorting="true" data-filtering="true" data-filter-dropdown-title="Search in:"></table>
                            @*data-show-toggle="false" data-index="@index" data-paging="true" data-paging-size="@size" data-paging-current="@page"*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-sm-5">
        <section id="Register">
            <div class="ibox clearfix">
                <div class="ibox-title">
                    <h5><i class="fa fa-group"></i> CLIENT</h5>
                    <div class="ibox-tools">
                        <a class="" style="visibility:hidden;" href=""></a>
                    </div>
                </div>
                <div class="ibox-content clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="form-customer" role="form" action="/Ajax/CustomersInsertOrUpdate" method="post" data-toggle="validator" autocomplete="off">
                                @Html.HiddenFor(model => Model.Customer.Customer_Id, new { Id = "Client_Customer_Id", name = "Customer_Id" })
                                <div class="row">
                                    <div class="col-lg-10 personal-fields p-r-no-paddings">
                                        <div class="form-group col-lg-5 col-md-6 p-l-no-paddings">
                                            @Html.LabelFor(model => Model.Customer.Customer_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_Name, new { htmlAttributes = new { @name = "Customer_Name", @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-5 col-md-6 p-l-no-paddings">
                                            @Html.LabelFor(model => Model.Customer.Customer_LastName)
                                            @Html.EditorFor(model => Model.Customer.Customer_LastName, new { htmlAttributes = new { @name = "Customer_LastName", @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-2 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Sex)
                                            <select id="Client_Customer_Sex" name="Customer.Customer_Sex" class="form-control input-sm mandatory" required>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenina</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2 col-md-6 text-center">
                                        @Html.LabelFor(model => Model.Customer.Customer_Status)
                                        <div class="">
                                            @Html.EditorFor(model => Model.Customer.Customer_Status, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 contact-fields">
                                        <div class="form-group no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Fax)
                                            @Html.EditorFor(model => Model.Customer.Customer_Fax, new { htmlAttributes = new { @class = "form-control input-sm input-number" } })
                                        </div>

                                        <div class="form-group no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Phone)
                                            @Html.EditorFor(model => Model.Customer.Customer_Phone, new { htmlAttributes = new { @class = "form-control input-sm input-number" } })
                                        </div>

                                        <div class="form-group no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_CellPhone)
                                            @Html.EditorFor(model => Model.Customer.Customer_CellPhone, new { htmlAttributes = new { @class = "form-control input-sm input-number" } })
                                        </div>

                                        <div class="form-group no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Email)
                                            @Html.EditorFor(model => Model.Customer.Customer_Email, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        </div>

                                        <div class="form-group col-md-4 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_ZipCode)
                                            @Html.EditorFor(model => Model.Customer.Customer_ZipCode, new { htmlAttributes = new { @class = "form-control input-sm input-number", @autocomplete = "new" } })
                                        </div>

                                        <div class="form-group col-md-8 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_SSN)
                                            @Html.EditorFor(model => Model.Customer.Customer_SSN, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 ubication-fields">
                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_CountryCode)
                                            <select name="Customer.Customer_CountryCode" class="form-control input-sm chosen-select" data-placeholder="&nbsp;" required>
                                                <option value="" selected></option>
                                                @foreach (Countries c in Model.CoutriesList)
                                                {
                                                    <option value="@c.Country_Code">@c.Country_Name</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_City)
                                            @Html.EditorFor(model => Model.Customer.Customer_City, new { htmlAttributes = new { @class = "form-control input-sm input_key allow-space", @autocomplete = "new", @required = "required" } })
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Region)
                                            @Html.EditorFor(model => Model.Customer.Customer_Region, new { htmlAttributes = new { @class = "form-control input-sm input_key allow-space" } })
                                        </div>

                                        @*<div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_State)
                                            @Html.EditorFor(model => Model.Customer.Customer_State, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>*@
                                        
                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_State_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_State_Name, new { htmlAttributes = new { @class = "form-control input-sm input_key allow-space", @required = "required" } })
                                        </div>                                        

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_VAT_Number)
                                            @Html.EditorFor(model => Model.Customer.Customer_VAT_Number, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-2 col-sm-6 col-lg-offset-4 text-center">
                                        @Html.LabelFor(model => Model.Customer.Customer_Marketing)
                                        <div>
                                            @Html.EditorFor(model => Model.Customer.Customer_Marketing, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-2 col-sm-6 text-center" ">
                                        @Html.LabelFor(model => Model.Customer.Customer_Invoice)
                                        <div>
                                            @Html.EditorFor(model => Model.Customer.Customer_Invoice, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                        </div>
                                    </div>

                                    @*<div class="col-lg-4 col-md-12 school-fields">
                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Company_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_Company_Name, new { htmlAttributes = new { @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Mechanographic_Code, new { @class = "text_overflow" })
                                            @Html.EditorFor(model => Model.Customer.Customer_Mechanographic_Code, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_SchoolCategory, new { @class = "text_overflow" })
                                            <div class="input-group">
                                                <select name="Customer.Customer_SchoolCategory" class="form-control input-sm mandatory" data-placeholder="&nbsp;" required style="position: relative;-ms-flex: 1 1 auto;flex: 1 1 auto;width: 75%;margin-bottom: 0;">
                                                    <option></option>
                                                    @foreach (SchoolCategories c in SchoolCategories.Instance().GetSchoolCategories())
                                                    {
                                                        <option value="@c.SchoolCategory_Identifier">@c.SchoolCategory_Name</option>
                                                    }
                                                </select>
                                                <div class="input-group-append">
                                                    <a data-toggle="modal" class="input-group-addon" href="#modal-add-schoolcategory" style="border-color: transparent;"><span class="fa fa-plus"></span></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Headquarter)
                                            @Html.EditorFor(model => Model.Customer.Customer_Headquarter, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_School_Headquarters)
                                            @Html.EditorFor(model => Model.Customer.Customer_School_Headquarters, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>*@
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-6">
                                        @Html.LabelFor(model => Model.Customer.Customer_Address)
                                        @Html.TextAreaFor(model => Model.Customer.Customer_Address, new { @class = "form-control input-sm", @autocomplete = "new" })
                                    </div>

                                    <div class="form-group col-lg-6 col-sm-6">
                                        @Html.LabelFor(model => Model.Customer.Customer_Direction)
                                        @Html.TextAreaFor(model => Model.Customer.Customer_Direction, new { @class = "form-control input-sm", @autocomplete = "new" })
                                    </div>
                                </div>

                                <div id="buttons" class="text-right">
                                    <button type="submit" class="btn btn-primary btn-save">
                                        @Html.Raw(Model.Customer.Customer_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>*@

    <script>
        var $sectionClients = $("section#Clients"),
            $sectionRegister = $("section#Register"),
            $formCustomer = $("#form-customer");

        $(document).ready(function () {

            FooTable.FilteringStatusClient = FooTable.Filtering.extend({
                construct: function (instance) {
                    this._super(instance);
                    this.status = ["true", "false"];
                    this.def = 'ALL';
                    this.$status = null;
                },
                $create: function () {
                    this._super();
                    var self = this,
                        $form_grp = $('<div/>', { class: 'form-group footable-filtering-status', "data-toggle": "tooltip", "data-original-title": "@Dictionary.Customer_Status" })
                                    .append($('<label/>', { class: 'sr-only', text: 'status' }))
                                    .prependTo(self.$form);
                        $label_length = $('<span/>', { class: 'label label-default pull-left p-xs' }).html("<span class='rows_total'>" + self.ft.rows.all.length + "</span> of rows available")
                                        .prependTo(self.$form);

                    self.$status = $('<select/>', { 'class': 'form-control input-sm' })
                        .on('change', { self: self }, self._onStatusDropdownChanged)
                        .append($('<option/>', { text: self.def }))
                        .appendTo($form_grp);

                    $.each(self.status, function (i, status) {
                        self.$status.append($('<option/>').text(status.toUpperCase()).val(status));
                    });
                },
                _onStatusDropdownChanged: function (e) {
                    var self = e.data.self,
                        selected = $(this).val();
                    if (selected !== self.def) {
                        self.addFilter("Customer_Status", selected, ['Customer_Status']);
                    } else {
                        self.removeFilter("Customer_Status");
                    }
                    self.filter();
                },
                draw: function () {
                    this._super();
                    var self = this,
                        items = self.ft.rows.array.length;
                    self.ft.$el.find(".rows_total").text(items);
                    var status = this.find("Customer_Status");
                    if (status instanceof FooTable.Filter) {
                        this.$status.val(status.query.val());
                    } else {
                        this.$status.val(this.def);
                    }
                },
                //filter: function(){
                //    // this goes through all filters and ensures they are actually filters setting default properties etc.
                //    this.filters = this.ensure(this.filters);
                //    // use the filters array to figure out the url to load
                //    //var url = ...;
                //    // once you have the url ajax load the rows and push them into the table
                //    //var self = this;
                //    //$.get(url).then(function(rows){
                //    //    self.ft.loadRows(rows);
                //    //});

                //    console.log("filter", this.filters);
                //}
            });

            var ftClients = FooTable.init(
                '#table-clients',
                {
                    columns: [
                        { name: "Customer_Id", title: "ID", style: { width: 60, maxWidth: 60 }, breakpoints: "xs sm", classes: "text-left", sortable: false, filterable: false },
                        { name: "Customer_Name", title: "@Dictionary.Customer_Name", visible: false, sortable: false },
                        { name: "Customer_LastName", title: "@Dictionary.Customer_LastName", visible: false, sortable: false, "sorted": false },
                        { name: "Customer_FullName", title: "Nome e cognome", style: { width: 500, maxWidth: 500 }, sortable: false, sorted: true },
                        { name: "Customer_Sex", title: "@Dictionary.Customer_Sex", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Email", title: "@Dictionary.Customer_Email", classes: "text-center text_overflow", sortable: false },
                        { name: "Customer_Phone", title: "@Dictionary.Customer_Phone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CellPhone", title: "@Dictionary.Customer_CellPhone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Fax", title: "Fax", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_ZipCode", title: "@Dictionary.Customer_ZipCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Direction", title: "@Dictionary.Customer_Direction", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CountryCode", title: "@Dictionary.Customer_CountryCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_City", title: "@Dictionary.Customer_City", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Region", title: "@Dictionary.Customer_Region", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State", title: "@Dictionary.Customer_State", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State_Name", title: "@Dictionary.Customer_State_Name", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Address", title: "@Dictionary.Customer_Address", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_VAT_Number", title: "@Dictionary.Customer_VAT_Number", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_SSN", title: "@Dictionary.Customer_SSN", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Marketing", title: "@Dictionary.Customer_Marketing", type: "text", breakpoints: "xs sm", classes: "text-center switch", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = $(document).GenerateSwitch(value, rowData.Customer_Id, "Customer_Marketing", "Customer_Marketing", "customer_id", "@Url.Action("ChangeCustomers", "Ajax")", rowData, "@General.lblMsgError");
                                return div;
                            }
                        },
                        {
                            name: "Customer_Status", title: "@General.lblStatus", type: "text", classes: "text-center switch", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = $(document).GenerateSwitch(value, rowData.Customer_Id, "Customer_Status", "Customer_Status", "customer_id", "@Url.Action("ChangeCustomers", "Ajax")", rowData, "@General.lblMsgError");
                                return div;
                            }
                        },
                        {
                            name: "", title: "@General.lblActions", classes: "text-center", sortable: false, filterable: false, //"breakpoints": "xs sm md",
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "";
                                div.style = "margin:auto;";

                                var anchorIcon = document.createElement("i");
                                anchorIcon.className = "fa fa-edit visible-xs";
                                var anchorText = document.createElement("span");
                                anchorText.className = "hidden-xs";
                                anchorText.textContent = "@General.lblEdit";

                                var anchor = document.createElement("a");
                                anchor.className = "btn btn-default btn-sm ladda-button ladda-button-demo edit_client"
                                anchor.setAttribute("data-style", "zoom-in");
                                anchor.appendChild(anchorIcon);
                                anchor.appendChild(anchorText);
                                anchor.onclick = function (e) {
                                    e.preventDefault();
                                    var $this = $(this);
                                    $sectionClients.find("tbody tr.active").removeClass();
                                    $this.closest("tr").addClass("active");
                                    $this.button('loading');
                                    var dataRow = $this.closest("tr").data("__FooTableRow__");
                                    $formCustomer.RefactoryForm(true, dataRow);
                                    $formCustomer.setValues(dataRow.val(), "Customer.");
                                    $this.button('reset');
                                };
                                div.appendChild(anchor);

                                return div;
                            }
                        }
                    ],
                    rows: [], //$.post('@Url.Action("GetCustomersClientsJson", "Ajax")'),
                    components: {
                        filtering: FooTable.FilteringStatusClient
                    },
                    on: {
                        "postdraw.ft.table": function (e, ft) {
                            $.each(ft.rows.array, function (i, row) {
                                var attrs = {
                                    "id": row.value.Customer_Id
                                };
                                ft.$el.find("tbody tr").eq(i).attr(attrs);
                            });

                        },
                        "ready.ft.table": function (e, ft) {
                            $(document).tooltipAll();
                        },
                        "after.ft.filtering": function (e, ft, filter) {
                            console.log("after.ft.filtering", e, ft, filter);
                            var _Customer_Text = ft.$el.find(".form-inline").find(":text").val();
                            var _Customer_Status = ft.$el.find(".form-inline").find("select").val();

                            var data = {
                                Customer_Text: _Customer_Text,
                                Customer_Status: (_Customer_Status == "ALL" ? null : _Customer_Status)
                            }

                            $.post('@Url.Action("GetCustomersClientsJson", "Ajax")', {
                                table: "C", allData: JSON.stringify(data)
                            }, function (rows) {
                                console.log(rows);
                                if (rows.length) {
                                    ft.rows.load(rows);
                                } else {
                                    ft.rows.load(null);
                                }
                            });
                        },
                    }
                }
            );

            $(".btn-new-client").on("click", function (e) {
                $(this).RefactoryForm(true, null);
            });

            $formCustomer.validator();
            $formCustomer.on("submit", function (e) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    e.preventDefault();
                    var $form = $(this),
                        $table = $($form.data('footable_id')),
                        row = $form.data('row'),
                        customer = $form.getValues();

                    customer["Customer.Customer_Status"] = $("#form-customer").find("#Customer_Customer_Status").val();
                    customer["Customer.Customer_Invoice"] = $("#form-customer").find("#Customer_Customer_Invoice").val();
                    customer["Customer.Customer_Marketing"] = $("#form-customer").find("#Customer_Customer_Marketing").val();

                    if (customer["Customer.Customer_Name"] == "" || customer["Customer.Customer_LastName"] == "") {
                        customer["Customer.Customer_Name"] = " ";
                        customer["Customer.Customer_LastName"] = " ";
                    }

                    //console.log("response:", customer);

                    $form.find("[type='submit']").button("loading");
                    $.post(e.currentTarget.action, customer, function (data) {
                        var values = data;
                        //console.log("request:", values);
                        if (row instanceof FooTable.Row) {
                            row.val(values);
                            row.$el.addClass("active");
                            $.success("SUCCESS", "Los datos se han actualizado correctamente");
                        } else {
                            $table.rows.add(values);
                            $.success("SUCCESS", "Los datos se han guardado correctamente");
                        }
                        $form.find("[type='submit']").button("reset");
                    }).fail(function (response, status, xhr) {
                        console.log(response, status, xhr);
                        $.error("ERROR", "@General.lblMsgError");
                        $form.find("[type='submit']").button("reset");
                    });
                }
                return false;
            });

            //$(".btn-new-client").trigger("click");
        });

        $.fn.RefactoryForm = function (hide, dataRow) {
            if (dataRow) $formCustomer.data('footable_id', '#table-clients');
            if (dataRow == null) {
                $formCustomer.clear();
                $("[href='#tab-customer']").click();
                //$("[href='#tab-telemarketing']").attr("disabled", "disabled");
                //$("#table-schools-telemarketing").data("__FooTable__").rows.load(null);
                $formCustomer.find("button[type='submit']").html("<i class='fa fa-save'></i> @General.lblAdd");
            } else {
                $formCustomer.data('row', dataRow);
                //$("[href='#tab-telemarketing']").removeAttr("disabled");
                $formCustomer.find("button[type='submit']").html("<i class='fa fa-edit'></i> @General.lblEdit");
            }
        }
    </script>
}
