﻿@using Core;
@using General = Core.Resources.General;
@using DictionaryCustomers = Core.Resources.Customers;
@using DictionaryTelemarketing = Core.Resources.Telemarketing;
@model BackOfficeAcquaJoss.Models.CustomersModel
@{
    List<Core.Customers> schools = Model.Schools;
    int size = 10;
    double index = 0;
    double page = 0;
    if (Model.Customer == null)
    {
        Model.Customer = new Core.Customers();
    }
    else
    {
        index = schools.FindIndex(s => s.Customer_Id.Equals(Model.Customer.Customer_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Schools");
}

@section Css{
    <style>
        .fixed_header {
            width: 400px;
            table-layout: fixed;
            border-collapse: collapse;
        }

            .fixed_header tbody::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5;
            }

            .fixed_header tbody::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 12px;
            }

            .fixed_header tbody::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            .fixed_header tbody {
                display: block;
                width: 100%;
                height: 500px;
                overflow: hidden;
            }

                .fixed_header tbody:hover {
                    overflow: auto;
                }

                .fixed_header tbody .footable-empty {
                    width: 100%;
                    display: inline-table;
                }



            .fixed_header thead tr:last-child {
                display: block;
            }

            .fixed_header thead .footable-filtering th {
                width: 100%;
                display: block;
            }

            .fixed_header th, .fixed_header td {
                padding: 5px;
                text-align: left;
                width: 200px;
            }

        .has-error .switchery {
            border-color: #ed5565 !important;
            border: 1px solid rgb(237, 85, 101) !important;
            box-shadow: rgb(237, 85, 101) 0px 0px 0px 16px inset !important;
            border-color: rgb(237, 85, 101) !important;
            background-color: rgb(237, 85, 101) !important;
            transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s !important;
        }

        tr > .sk-spinner {
            display: none;
        }

        tr.sk-loading {
            position: relative;
        }

            tr.sk-loading > .sk-spinner {
                display: block;
                position: absolute;
                top: 65%;
                left: 0;
                right: 0;
                z-index: 2000;
            }

        .nav-tabs>li {
            float: right;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs hide" role="tablist" style="border: none;">
                <li><a class="nav-link" data-toggle="tab" href="#tab-telemarketing"> @DictionaryTelemarketing.lblSection.ToUpper()</a></li>
                <li class="active"><a class="nav-link active" data-toggle="tab" href="#tab-customer"> @General.lblSchool.ToUpper()</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-customer" class="tab-pane active">
                    <div class="panel-body row">
                        <section id="Schools" class="col-sm-7">
                            <table id="table-schools" class="table table-order table-stripped table-hover toggle-arrow-tiny fixed_header" data-paging="false" data-sorting="true" data-filtering="true" data-filter-dropdown-title="Search in:"></table>
                        </section>
                        <section id="Register" class="col-sm-5">
                            <form id="form-customer" role="form" action="/Ajax/CustomersInsertOrUpdate" method="post" data-toggle="validator" autocomplete="off">
                                @Html.HiddenFor(model => Model.Customer.Customer_Id, new { Id = "Client_Customer_Id", name = "Customer_Id" })
                                <div class="row hide">
                                    <div class="personal-fields p-r-no-paddings clearfix">
                                        <div class="form-group col-lg-5 col-md-6 p-l-no-paddings">
                                            @Html.LabelFor(model => Model.Customer.Customer_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_Name, new { htmlAttributes = new { @type = "hidden", @name = "Customer_Name", @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-5 col-md-6 p-l-no-paddings">
                                            @Html.LabelFor(model => Model.Customer.Customer_LastName)
                                            @Html.EditorFor(model => Model.Customer.Customer_LastName, new { htmlAttributes = new { @type = "hidden", @name = "Customer_LastName", @class = "form-control input-sm mandatory", @required = "required" } })
                                        </div>

                                        @*
                                        <div class="form-group col-lg-2 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Sex)
                                            <select id="Client_Customer_Sex" name="Customer.Customer_Sex" class="form-control input-sm mandatory" required>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenina</option>
                                            </select>
                                        </div>
                                        *@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="personal-fields p-r-no-paddings clearfix">
                                        <div class="form-group col-lg-2 col-lg-offset-3 col-md-6 text-center">
                                            @Html.LabelFor(model => Model.Customer.Customer_Status)
                                            <div class="">
                                                @Html.EditorFor(model => Model.Customer.Customer_Status, new { htmlAttributes = new { @class = "js-switch form-control input-sm", @type = "checkbox", @data_switchery = "true" } }) @*, @required = "required"*@
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-2 col-sm-6 text-center">
                                            @Html.LabelFor(model => Model.Customer.Customer_Marketing)
                                            <div>
                                                @Html.EditorFor(model => Model.Customer.Customer_Marketing, new { htmlAttributes = new { @class = "js-switch form-control input-sm", @type = "checkbox", @data_switchery = "true" } })
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-2 col-sm-6 text-center" ">
                                            @Html.LabelFor(model => Model.Customer.Customer_Invoice)
                                            <div>
                                                @Html.EditorFor(model => Model.Customer.Customer_Invoice, new { htmlAttributes = new { @class = "js-switch form-control input-sm", @type = "checkbox", @data_switchery = "true" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row contact-fields">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => Model.Customer.Customer_Fax)
                                        @Html.EditorFor(model => Model.Customer.Customer_Fax, new { htmlAttributes = new { @class = "form-control input-sm input-number" } })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => Model.Customer.Customer_Phone)
                                        @Html.EditorFor(model => Model.Customer.Customer_Phone, new { htmlAttributes = new { @class = "form-control input-sm input-number" } })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => Model.Customer.Customer_CellPhone)
                                        @Html.EditorFor(model => Model.Customer.Customer_CellPhone, new { htmlAttributes = new { @class = "form-control input-sm input-number" } })
                                    </div>
                                </div>
                                <div class="row contact-fields">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => Model.Customer.Customer_Email)
                                        @Html.EditorFor(model => Model.Customer.Customer_Email, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => Model.Customer.Customer_ZipCode)
                                        @Html.EditorFor(model => Model.Customer.Customer_ZipCode, new { htmlAttributes = new { @class = "form-control input-sm input-number", @autocomplete = "new" } })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => Model.Customer.Customer_SSN)
                                        @Html.EditorFor(model => Model.Customer.Customer_SSN, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-5 ubication-fields">
                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_CountryCode)
                                            <select name="Customer.Customer_CountryCode" class="form-control input-sm chosen-select" data-placeholder="&nbsp;" required>
                                                <option value=""></option>
                                                @foreach (Countries c in Model.CoutriesList)
                                                {
                                                    <option value="@c.Country_Code">@c.Country_Name</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_City)
                                            @Html.EditorFor(model => Model.Customer.Customer_City, new { htmlAttributes = new { @class = "form-control input-sm input_key", @autocomplete = "new", @required = "required" } })
                                        </div>

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Region)
                                            @Html.EditorFor(model => Model.Customer.Customer_Region, new { htmlAttributes = new { @class = "form-control input-sm input_key", @autocomplete = "new" } })
                                        </div>


                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_State)
                                            @Html.EditorFor(model => Model.Customer.Customer_State, new { htmlAttributes = new { @class = "form-control input-sm input_key", @autocomplete = "new" } })
                                        </div>

                                        @*
                                            <div class="form-group col-md-12 no-padding">
                                                @Html.LabelFor(model => Model.Customer.Customer_State_Name)
                                                @Html.EditorFor(model => Model.Customer.Customer_State_Name, new { htmlAttributes = new { @class = "form-control input-sm input_key", @required = "required" } })
                                            </div>
                                        *@

                                        <div class="form-group col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_VAT_Number)
                                            @Html.EditorFor(model => Model.Customer.Customer_VAT_Number, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>

                                    <div class="col-lg-8 col-md-12 school-fields">
                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Company_Name)
                                            @Html.EditorFor(model => Model.Customer.Customer_Company_Name, new { htmlAttributes = new { @class = "form-control input-sm mandatory", @autocomplete = "new", @required = "required" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Mechanographic_Code, new { @class = "text_overflow" })
                                            @Html.EditorFor(model => Model.Customer.Customer_Mechanographic_Code, new { htmlAttributes = new { @class = "form-control input-sm input_key", @autocomplete = "new" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_SchoolCategory)
                                            <div class="input-group">
                                                <select name="Customer.Customer_SchoolCategory" class="form-control input-sm mandatory" data-placeholder="&nbsp;" required style="position: relative;-ms-flex: 1 1 auto;flex: 1 1 auto;width: 90%;margin-bottom: 0;">
                                                    <option></option>
                                                    @foreach (SchoolCategories c in SchoolCategories.Instance().GetSchoolCategories())
                                                    {
                                                        <option value="@c.SchoolCategory_Identifier">@c.SchoolCategory_Name</option>
                                                    }
                                                </select>
                                                <div class="input-group-append">
                                                    <a data-toggle="modal" class="input-group-addon" href="#modal-add-schoolcategory" style="border-color: transparent;"><span class="fa fa-plus"></span></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_Headquarter)
                                            @Html.EditorFor(model => Model.Customer.Customer_Headquarter, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>

                                        <div class="form-group col-lg-12 col-md-6 no-padding">
                                            @Html.LabelFor(model => Model.Customer.Customer_School_Headquarters)
                                            @Html.EditorFor(model => Model.Customer.Customer_School_Headquarters, new { htmlAttributes = new { @class = "form-control input-sm input_key" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 col-sm-6">
                                        @Html.LabelFor(model => Model.Customer.Customer_Address)
                                        @Html.TextAreaFor(model => Model.Customer.Customer_Address, new { @class = "form-control input-sm", @autocomplete = "new" })
                                    </div>

                                    <div class="form-group col-lg-6 col-sm-6">
                                        @Html.LabelFor(model => Model.Customer.Customer_Direction)
                                        @Html.TextAreaFor(model => Model.Customer.Customer_Direction, new { @class = "form-control input-sm", @autocomplete = "new" })
                                    </div>
                                </div>

                                <div id="buttons" class="text-right">
                                    <button type="submit" class="btn btn-primary btn-save">
                                        @Html.Raw(Model.Customer.Customer_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                                    </button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
                <div role="tabpanel" id="tab-telemarketing" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="form-customer-telemarketing" role="form" action="/Ajax/CustomersInsertOrUpdate" method="post" data-toggle="validator">
                                    <input type="hidden" id="Telemarketing_Id" name="Telemarketing_Id" value="" />
                                    <input type="hidden" id="Telemarketing_IdCustomer" name="Telemarketing_IdCustomer" value="" required />

                                    <div class="row">
                                        <div class="form-group col-lg-7 col-md-6">
                                            @Html.LabelFor(model => Model.Customer.Customer_Telemarketing.FirstOrDefault().Telemarketing_IdUser)
                                            <div class="">
                                                @{
                                                    Model.Users = Users.Instance().GetUsersByIdType(UserType.OPERATOR);
                                                    Model.UsersItems_Index = "";
                                                }
                                                @Html.DropDownListFor(model => Model.Users.FirstOrDefault().User_Id, Model.UsersItems, new { Id = "Telemarketing_IdUser", Name = "Telemarketing_IdUser", @class = "form-control input-sm", @required = "required" })
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6">
                                            @Html.LabelFor(model => Model.Customer.Customer_Telemarketing.FirstOrDefault().Telemarketing_Season)
                                            <div class="">
                                                <input type="text" id="Telemarketing_Season" name="Telemarketing_Season" value="" class="form-control input-sm" autocomplete="off" required />
                                            </div>
                                        </div>

                                        <div id="buttons" class="col-lg-2 col-md-6 text-right p-sm">
                                            <button type="submit" class="btn btn-primary btn-sm btn-save-telemarketing">
                                                <i class='fa fa-save'></i> @General.lblSave
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr class="clearfix m-xxs" />
                            </div>
                            <div class="col-lg-12">
                                <table id="table-schools-telemarketing" class="table table-order table-stripped table-hover toggle-arrow-tiny" data-paging="true" data-sorting="true" data-filtering="true" data-filter-dropdown-title="Search in:"></table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

    <script type="text/html" id="HTML-Telemarketing_IdUser">
        @{
            Model.Users = Users.Instance().GetUsersByIdType(UserType.OPERATOR);
            Model.UsersItems_Index = "";
        }
        @Html.DropDownListFor(model => Model.Users.FirstOrDefault().User_Id, Model.UsersItems, new { Id = "Telemarketing", Name = "Telemarketing_IdUser", @class = "form-control input-sm change_state_agent", @required = "required" })
    </script>

    <script type="text/html" id="HTML-Spinner">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
    </script>

    <script>
        var $sectionSchools = $("section#Schools"),
            $sectionRegister = $("section#Register"),
            $formCustomer = $("#form-customer"),
            $formTelemarketing = $("#form-customer-telemarketing"),
            $rowCustomer = $("#tab-telemarketing");

        $(document).ready(function () {
            /** START FILTER TABLE **/
            FooTable.FilteringStatusClient = FooTable.Filtering.extend({
                construct: function (instance) {
                    this._super(instance);
                    this.status = ["true", "false"]; @*["@General.lblActive", "@General.lblDeactivated"]*@
                    this.def = 'ALL';
                    this.$status = null;
                },
                $create: function () {
                    this._super();
                    var self = this,
                        $form_grp = $('<div/>', { class: 'form-group footable-filtering-status' })
                                    .append($('<label/>', { class: 'sr-only', text: 'Customer_Status' }))
                                    .prependTo(self.$form);
                    $label_length = $('<span/>', { class: 'label label-default pull-left p-xs' }).html("<span class='rows_total'>" + self.ft.rows.all.length + "</span> of rows available")
                                    .prependTo(self.$form);
                    //<button class="btn btn-primary pull-left btn-sm m-r-xs btn-new-school" form_type="section#Schools" href="javascript:void(0)">Nuovo Scuola</button>
                    $btn_new = $('<button/>', { type: 'button', class: 'btn btn-primary pull-left btn-sm m-r-xs btn-new-school', form_type: 'section#Schools' })
                                .append('@General.lblAdd')
                                .prependTo(self.$form);

                    self.$status = $('<select/>', { 'class': 'form-control input-sm' })
                        .on('change', { self: self }, self._onStatusDropdownChanged)
                        .append($('<option/>', { text: self.def }))
                        .appendTo($form_grp);

                    $.each(self.status, function (i, status) {
                        self.$status.append($('<option/>').text(status.toUpperCase()).val(status));
                    });
                },
                _onStatusDropdownChanged: function (e) {
                    var self = e.data.self,
                        selected = $(this).val();
                    if (selected !== self.def) {
                        self.addFilter("Customer_Status", selected, ['Customer_Status']);
                    } else {
                        self.removeFilter("Customer_Status");
                    }
                    self.filter();
                },
                draw: function () {
                    this._super();
                    var self = this,
                        items = self.ft.rows.array.length;
                    self.ft.$el.find(".rows_total").text(items);
                    var status = this.find("Customer_Status");
                    if (status instanceof FooTable.Filter) {
                        console.log("self: ", self, "status: ", status.query.val(), "this.$status: ", this.$status.val());
                        this.$status.val(status.query.val());
                    } else {
                        this.$status.val(this.def);
                    }
                },
                //filter: function(){
                //    // this goes through all filters and ensures they are actually filters setting default properties etc.
                //    this.filters = this.ensure(this.filters);
                //    // use the filters array to figure out the url to load
                //    //var url = ...;
                //    // once you have the url ajax load the rows and push them into the table
                //    //var self = this;
                //    //$.get(url).then(function(rows){
                //    //    self.ft.loadRows(rows);
                //    //});

                //    console.log("filter", this.filters);
                //}
            });
            /** END FILTER TABLE **/

            /** START TABLE TELEMARKETING **/
            var ftTelemarketing = FooTable.init(
                '#table-schools-telemarketing',
                {
                    columns: [
                        { name: "Telemarketing_Id", title: "ID", style: { width: 60, maxWidth: 60 }, classes: "text-left", sortable: false },
                        { name: "Telemarketing_Customer", title: "@DictionaryTelemarketing.Telemarketing_IdCustomer", visible: false, sortable: false, sorted: false },
                        { name: "Telemarketing_IdCustomer", title: "@DictionaryTelemarketing.Telemarketing_IdCustomer", classes: "text-left", visible: false, sortable: false },
                        {
                            name: "Telemarketing_User", title: "@DictionaryTelemarketing.Telemarketing_IdUser", visible: true, sortable: false, sorted: false,
                            formatter: function (value, options, rowData) {
                                var result = $($("#HTML-Telemarketing_IdUser").html());
                                result.setValue(rowData.Telemarketing_IdUser);
                                return result;
                            }
                        },
                        { name: "Telemarketing_IdUser", title: "@DictionaryTelemarketing.Telemarketing_IdUser", visible: false, sortable: false, sorted: true },
                        { name: "Telemarketing_Season", title: "@DictionaryTelemarketing.Telemarketing_Season", style: { width: 75, maxWidth: 75 }, visible: true, sortable: false, sorted: false, classes: "text-center", },
                    ]
                    , on: {
                        "postdraw.ft.table": function (e, ft) {
                            $.each(ft.rows.array, function (i, row) {
                                var attrs = {
                                    "id": row.value.Telemarketing_Id
                                };
                                ft.$el.find("tbody tr").eq(i).attr(attrs);
                                ft.$el.find("tbody tr").eq(i).append($("#HTML-Spinner").html())
                            });

                            //IDs.forEach(function (id) {
                            //    console.log(ft.$el.find("[id='" + id + "']"));
                            //    ft.$el.find("[id='" + id + "']").addClass("active").delay(5000).queue(function (next) {
                            //        $(this).removeClass("active").dequeue();
                            //    });
                            //});
                        },
                    }
                }
            );
            /** END TABLE TELEMARKETING **/

            /** START TABLE SCHOOLS **/
            var ftScholls = FooTable.init(
                '#table-schools',
                {
                    columns: [
                        { name: "Customer_Id", title: "ID", style: { width: 60, maxWidth: 60 }, classes: "text-left", sortable: false },
                        { name: "Customer_Telemarketing", title: "Customer_Telemarketing", classes: "text-left", visible: false, sortable: false, type: "array" },
                        { name: "Customer_Name", title: "@DictionaryCustomers.Customer_Name", visible: false, sortable: false },
                        { name: "Customer_LastName", title: "@DictionaryCustomers.Customer_LastName", visible: false, sortable: false, sorted: false },
                        { name: "Customer_FullName", title: "Nome e cognome", visible: false, sortable: false, sorted: false },
                        { name: "Customer_Company_Name", title: "@General.lblSchoolName", style: { width: 500, maxWidth: 500 }, classes: "text-center", sortable: false, sorted: true },
                        { name: "Customer_Sex", title: "@DictionaryCustomers.Customer_Sex", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Email", title: "@DictionaryCustomers.Customer_Email", visible: false, style: { width: 300, maxWidth: 300 }, classes: "text-center text_overflow", sortable: false },
                        { name: "Customer_Phone", title: "@DictionaryCustomers.Customer_Phone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CellPhone", title: "@DictionaryCustomers.Customer_CellPhone", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Fax", title: "Fax", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_ZipCode", title: "@DictionaryCustomers.Customer_ZipCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Direction", title: "@DictionaryCustomers.Customer_Direction", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_CountryCode", title: "@DictionaryCustomers.Customer_CountryCode", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_City", title: "@DictionaryCustomers.Customer_City", visible: true, classes: "text-center", sortable: false },
                        { name: "Customer_Region", title: "@DictionaryCustomers.Customer_Region", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State", title: "@DictionaryCustomers.Customer_State", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_State_Name", title: "@DictionaryCustomers.Customer_State_Name", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Invoice", title: "@DictionaryCustomers.Customer_Invoice", type: "text", visible: false, classes: "text-center", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = $(document).GenerateSwitch(value, rowData.Customer_Id, "Customer_Invoice", "Customer_Invoice", "customer_id", "@Url.Action("ChangeCustomers", "Ajax")", rowData, "@General.lblMsgError");
                                return div;
                            }
                        },
                        { name: "Customer_Address", title: "@DictionaryCustomers.Customer_Address", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_VAT_Number", title: "@DictionaryCustomers.Customer_VAT_Number", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_SSN", title: "@DictionaryCustomers.Customer_SSN", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Marketing", title: "@DictionaryCustomers.Customer_Marketing", visible: false, type: "text", classes: "text-center", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = $(document).GenerateSwitch(value, rowData.Customer_Id, "Customer_Marketing", "Customer_Marketing", "customer_id", "@Url.Action("ChangeCustomers", "Ajax")", rowData, "@General.lblMsgError");
                                return div;
                            }
                        },
                        { name: "Customer_SchoolCategory", title: "@DictionaryCustomers.Customer_SchoolCategory", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Mechanographic_Code", title: "@DictionaryCustomers.Customer_Mechanographic_Code", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_Headquarter", title: "@DictionaryCustomers.Customer_Headquarter", visible: false, classes: "text-center", sortable: false },
                        { name: "Customer_School_Headquarters", title: "@DictionaryCustomers.Customer_School_Headquarters", visible: false, classes: "text-center", sortable: false },
                        {
                            name: "Customer_Status", title: "@DictionaryCustomers.Customer_Status", style: { width: 100, maxWidth: 100 }, type: "text", classes: "text-center switch", sortable: false,
                            formatter: function (value, options, rowData) {
                                var div = $(document).GenerateSwitch(value, rowData.Customer_Id, "Customer_Status", "Customer_Status", "customer_id", "@Url.Action("ChangeCustomers", "Ajax")", rowData, "@General.lblMsgError");
                                return div;
                            }
                        },
                        {
                            name: "", title: "@General.lblActions", style: { width: 120, maxWidth: 120 }, classes: "text-center", sortable: false, //"breakpoints": "xs sm md",
                            formatter: function (value, options, rowData) {
                                var div = document.createElement("div");
                                div.className = "";
                                div.style = "margin:auto;";

                                var anchorIcon = document.createElement("i");
                                anchorIcon.className = "fa fa-edit visible-xs";
                                var anchorText = document.createElement("span");
                                anchorText.className = "hidden-xs";
                                anchorText.textContent = "@General.lblEdit";

                                var anchor = document.createElement("a");
                                anchor.className = "btn btn-default btn-sm ladda-button ladda-button-demo edit_school"
                                anchor.setAttribute("data-style", "zoom-in");
                                anchor.appendChild(anchorText);
                                anchor.onclick = function (e) {
                                    e.preventDefault();
                                    var $this = $(this);
                                    $sectionSchools.find("tbody tr.active").removeClass();
                                    $this.closest("tr").addClass("active");
                                    $this.button('loading');
                                    var dataRow = $this.closest("tr").data("__FooTableRow__"),
                                        dataRowValues = dataRow.val();

                                    $("#tab-telemarketing").data("rowCustomer", dataRow);
                                    $formCustomer.RefactoryForm(false, dataRow);
                                    $formCustomer.setValues(dataRowValues, "Customer.");
                                    $formTelemarketing.find("#Telemarketing_IdCustomer").val(dataRowValues.Customer_Telemarketing.length > 0 ? dataRowValues.Customer_Telemarketing[0].Telemarketing_IdCustomer : dataRowValues.Customer_Id);
                                    ftTelemarketing.rows.load(dataRowValues.Customer_Telemarketing);
                                    $this.button('reset');
                                };
                                div.appendChild(anchor);

                                return div;
                            }
                        }
                    ],
                    rows: [], //$.post('@Url.Action("GetCustomersSchoolsJson", "Ajax")'),
                    components: {
                        filtering: FooTable.FilteringStatusClient
                    },
                    on: {
                        "postdraw.ft.table": function (e, ft) {
                            $.each(ft.rows.array, function (i, row) {
                                var attrs = {
                                    "id": row.value.Customer_Id
                                };
                                ft.$el.find("tbody tr").eq(i).attr(attrs);
                            });
                            $(document).tooltipAll();
                        },
                        "after.ft.filtering": function (e, ft, filter) {
                            var _Customer_Text = ft.$el.find(".form-inline").find(":text").val();
                            var _Customer_Status = ft.$el.find(".form-inline").find("select").val();

                            var data = {
                                Customer_Text: _Customer_Text,
                                Customer_Status: (_Customer_Status == "ALL" ? null : _Customer_Status)
                            }

                            $.post('@Url.Action("GetCustomersClientsJson", "Ajax")', {
                                table: "S", allData: JSON.stringify(data)
                            }, function (rows) {
                                console.log(rows);
                                if (rows.length) {
                                    ft.rows.load(rows);
                                } else {
                                    ft.rows.load(null);
                                }
                            });
                        },
                    }
                }
            );
            /** END TABLE SCHOOLS **/

            /** START SUBMIT SCHOOLS **/
            $(document).on("click", ".btn-new-school", function (e) {
                $(this).RefactoryForm(false, null);
            });

            $formCustomer.validator();
            $formCustomer.on("submit", function (e) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    e.preventDefault();
                    var $form = $(this),
                        $table = $($form.data('footable_id')),
                        row = $form.data('row'),
                        customer = $form.getValues();

                    customer["Customer.Customer_Status"] = $("#form-customer").find("#Customer_Customer_Status").val();
                    customer["Customer.Customer_Invoice"] = $("#form-customer").find("#Customer_Customer_Invoice").val();
                    customer["Customer.Customer_Marketing"] = $("#form-customer").find("#Customer_Customer_Marketing").val();

                    if (customer["Customer.Customer_Name"] == "" || customer["Customer.Customer_LastName"] == "") {
                        customer["Customer.Customer_Name"] = " ";
                        customer["Customer.Customer_LastName"] = " ";
                    }

                    //console.log("response:", customer, "row", row);

                    $form.find("[type='submit']").button("loading");
                    $.post(e.currentTarget.action, customer, function (data) {
                        var values = data;
                        console.log("request:", values);
                        if (values.Customer_Id > 0) {
                            if (row instanceof FooTable.Row) {
                                row.val(values);
                                row.$el.addClass("active");
                                $.success("SUCCESS", "Los datos se han actualizado correctamente");
                            } else {
                                ftScholls.rows.add(values);
                                $("[href='#tab-telemarketing']").removeAttr("disabled");
                                $.success("SUCCESS", "Los datos se han guardado correctamente");
                            }
                            $form.find("[type='submit']").button("reset");
                        } else {
                            $.error("ERROR", "@General.lblMsgError");
                        }
                    }).fail(function (response, status, xhr) {
                        console.log(response, status, xhr);
                        $.error("ERROR", "@General.lblMsgError");
                        $form.find("[type='submit']").button("reset");
                    });
                }
                return false;
            });

            $formTelemarketing.validator();
            $formTelemarketing.on("submit", function (e) {
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    e.preventDefault();
                    var $form = $(this),
                        dataRequest = $form.getValues();

                    InsertOrUpdate(dataRequest, dataRequest, e);
                }
            });
            /** END SUBMIT SCHOOLS **/

            /** START CHANGES ON STATE PRODUCT **/
            $(document).on("change", ".change_state_agent", function () {
                var value = this.value;
                var row = $(this).closest("tr").data("__FooTableRow__"),
                    rowData = $(this).closest("tr").data("__FooTableRow__").value;
                rowData.Telemarketing_IdUser = value;

                InsertOrUpdate(row, rowData);
            });
            /** END CHANGES ON STATE PRODUCT **/

            function InsertOrUpdate(rowParameter, dataParameter, e) {
                var rowParent = $rowCustomer.data("rowCustomer");
                if (e != undefined) $(e.currentTarget).find(":submit").button("loading");
                $.post("@Url.Action("TelemarketingInsertOrUpdate", "Ajax")", {
                    telemarketing: dataParameter
                }, function (data) {
                    var values = data;
                    if (values.Telemarketing_Id > 0) {
                        if (rowParameter instanceof FooTable.Row) {
                            $("#table-schools-telemarketing tbody tr.active").removeClass();
                            rowParameter.val(values);
                            if (rowParent instanceof FooTable.Row) {
                                var rowParentData = rowParent.val();
                                var index = rowParentData.Customer_Telemarketing.findIndex(i => i.Telemarketing_Id == values.Telemarketing_Id)
                                rowParentData.Customer_Telemarketing[index] = values;
                            }
                            rowParameter.$el.addClass("active");
                            $.success("SUCCESS", "Los datos se han actualizado correctamente");
                        } else {
                            ftTelemarketing.rows.add(values);
                            if (rowParent instanceof FooTable.Row) {
                                var rowParentData = rowParent.val();
                                rowParentData.Customer_Telemarketing.push(values);
                            }
                            $.success("SUCCESS", "Los datos se han guardado correctamente");
                        }
                    } else {
                        $.error("ERROR", "@General.lblMsgError");
                    }
                }).fail(function (response, status, xhr)
                {
                    console.log(response, status, xhr);
                    $.error("ERROR", "@General.lblMsgError");
                }).always(function() {
                    if (e != undefined) $(e.currentTarget).find(":submit").button("reset");
                });
            }

            $(".btn-new-school").trigger("click");
        });

        $.fn.RefactoryForm = function (hide, dataRow) {
            if (dataRow) $formCustomer.data('footable_id', '#table-schools');
            if (dataRow == null) {
                $formCustomer.clear();
                $formTelemarketing.clear();
                $("[href='#tab-customer']").click();
                //$("[href='#tab-telemarketing']").attr("disabled", "disabled");
                //$("#table-schools-telemarketing").data("__FooTable__").rows.load(null);
                $formCustomer.find("button[type='submit']").html("<i class='fa fa-save'></i> @General.lblAdd");
            } else {
                $formCustomer.data('row', dataRow);
                //$("[href='#tab-telemarketing']").removeAttr("disabled");
                $formCustomer.find("button[type='submit']").html("<i class='fa fa-edit'></i> @General.lblEdit");
            }
        }
    </script>
}
