﻿@using Core;
@using BackOfficeAcquaJoss.Models
@using System.Data.SqlClient
@using General = Core.Resources.General;
@using ResourceTelemarketing = Core.Resources.Telemarketing;
@model TelemarketingModel
@{
    List<Telemarketing> Telemarketing = Model.Telemarketings;
    int? Telemarketing_Season = null;
    bool requestYear = !string.IsNullOrEmpty(Request.Form["Telemarketing_Season"]);
    if (Request.Form.Count == 0)
    {
        Telemarketing_Season = DateTime.Now.Year;
        List<SqlParameter> parameters = new List<SqlParameter>();
        parameters.Add(new SqlParameter("Telemarketing_Season", Telemarketing_Season.Value));
        Telemarketing = new TelemarketingModel(parameters).Telemarketings;
    }

    if (requestYear)
    {
        Telemarketing_Season = Convert.ToInt32(Request.Form["Telemarketing_Season"]);
    }
    Telemarketing = Telemarketing.Where(i => i.Telemarketing_Season > 0).ToList();
    List<int> IDsUsers = Telemarketing.Select(i => i.Telemarketing_IdUser).ToList();
    List<int> IDsSchools = Telemarketing.Select(i => i.Telemarketing_IdCustomer).ToList();
    List<Users> Users = Model.Agents;
    List<Customers> Schools = Model.Schools.Where(i => (IDsSchools.Count > 0 ) ? !IDsSchools.Contains(i.Customer_Id) : i.Customer_Id > 0).Take((IDsSchools.Count > 0 ? IDsSchools.Count : Users.Count)).ToList();
}

@section Css{
    <style>
        .clear-list{
            cursor: pointer !important;
        }

        div > .sort {
            display: inline-block;
            margin: 4px 24px;
            border: 1px dashed grey;
            vertical-align: top;
            min-height: 29px;
        }

        .list-agents ul, .list-school ul {
            width: 90%;
            min-width: 200px;
            max-width: 100%;
            min-height: 35px;
            max-height: 100%;
            list-style: none;
        }

        .list-agents li, .list-school li {
            width: 100%;
            height: 22px;
            margin: 5px 0px;
            border: 1px solid none;
            padding: 0px;
            cursor: move;
            display: inline-block;
        }
    </style>
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>@ResourceTelemarketing.Telemarketing_Season</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form id="form-filter" class="row" action="/customers/schools/telemarketing" method="POST">
                    <div class="col-xs-12 form-group">
                        <label>YEAR</label>
                        <select name="Telemarketing_Season" class="form-control input-sm" onchange="this.form.submit()">
                            @for (int i = 2017; i <= DateTime.Now.Year + 1; i++)
                            {
                                <option value="@i" @(Telemarketing_Season == i? "selected" : string.Empty)>@i</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
        <div class="ibox">
            <div class="ibox-title">
                <h5>@General.lblSchool</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form id="school-search" class="row" validate="true" novalidate="novalidate">
                    <div class="clearfix">
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label>Città</label>
                            <input type="text" name="Customer_City" class="form-control input-sm ui-autocomplete-input valid" autocomplete="off" required="" aria-required="true" aria-invalid="false">
                        </div>
                        <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <label>Nome della scuola</label>
                            <div class="input-group col-xs-3">
                                <input id="search-school" type="text" class="form-control input-sm ui-autocomplete-input valid" placeholder="..." autocomplete="off" aria-invalid="false">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-sm"> <i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Agents</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="list-agents row">
                    @foreach (Users user in Users)
                    {
                        <div class="col-lg-12">
                            <span class="label label-primary pull-left"><i class="fa fa-user"></i> @user.User_FullName.ToUpper()</span>
                            <span class="label label-danger pull-right clear-list">CLEAR ALL</span>
                            <div class="row">
                                <ul id="@user.User_Id" class="sort col-lg-11" data-id="@user.User_Id">
                                    @*<div class="total">8</div>*@
                                    @foreach (Telemarketing telemarketing in Telemarketing.FindAll(i => i.Telemarketing_IdUser == user.User_Id))
                                    {
                                        Customers customer = Customers.Instance().GetCustomer(telemarketing.Telemarketing_IdCustomer);
                                        <li id="@customer.Customer_Id" class="item col-lg-12" data-id="@customer.Customer_Id" data-telemarketing="@telemarketing.Telemarketing_Id">
                                            <div class="col-lg-12 no-padding">
                                                <span class="label label-success"><i class="fa fa-graduation-cap"></i></span> <span class="name"><strong>@customer.Customer_Company_Name</strong> (@customer.Customer_City.ToUpper())</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>                            
                        </div>
                        <hr class="m-xs" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>@General.lblSchool</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="list-school row">
                    <ul class='sort col-lg-12' storage>
                        @foreach (Customers customer in Schools)
                        {
                            <li id="@customer.Customer_Id" class="item col-lg-12" data-id="@customer.Customer_Id">
                                <div class="col-lg-12 no-padding">
                                    <span class="label label-warning"><i class="fa fa-graduation-cap"></i></span> <span class="name"><strong>@customer.Customer_Company_Name</strong> (@customer.Customer_City.ToUpper())</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="HTML-ItemSchool" type="text/html">
    <li class="item col-lg-12" data-id="N/A">
        <div class="col-lg-12 no-padding">
            <span class="label label-warning"><i class="fa fa-graduation-cap"></i></span>  <span class="name">TEMPLATE NAME</span>
        </div>
    </li>
</script>

@section Scripts {
    <script>
        var $ListUL = $(".list-school ul");

        var Shools = @Html.Raw(Json.Encode(Schools.Select(i => new { i.Customer_Id, i.Customer_FullName, i.Customer_Company_Name, i.Customer_City })));

        $(document).ready(function(){
            ApplySortable();

            $('.clear-list').on("click", function(){
                var $ul = $(this).closest("div").find(".sort");
                var widget = $ul.sortable("widget");

                var remove = $ul.find("li").GetTelemarketing(0);

                RunAjax("telemarketings", remove, "The schools was removed.", function() {
                    $ul.children().each(function(index, item){
                        $(this).addClass("animated fadeOutRight").delay(1000).queue(function (next) {
                            $(this).remove().dequeue();
                        });
                    })
                });
            });

            function ApplySortable() {
                $('.sort').sortable({
                    revert: 'invalid',
                    tolerance: 'pointer',
                    cursorAt: { left: 50, top: 45 },
                    cursor: 'pointer',
                    connectWith: '.sort',
                    //helper: function (event, item) {
                    //    // make sure at least one item is selected.
                    //    if (!item.hasClass("ui-state-active")) {
                    //        item.addClass("ui-state-active").siblings().removeClass("ui-state-active");
                    //    }
            
                    //    var $helper = $("<li><ul></ul></li>");
                    //    var $selected = item.parent().children(".ui-state-active");
                    //    var $cloned = $selected.clone();
                    //    $helper.find("ul").append($cloned);

                    //    // hide it, don't remove!
                    //    $selected.hide();

                    //    // save the selected items
                    //    item.data("multi-sortable", $cloned);

                    //    return $helper;
                    //},
                    stop: function(event, ui) {
                        //console.log("stop");
                        //var SortedAgent = $(event.target).closest(".list-agents");
                        //if(SortedAgent.length > 0){
                        //    var $sort = $(event.target);
                        //    var $item = $(ui.item);
                        //    console.log($sort.data("id"), $item.data("id"), $sort, $item);
                        //}
                        // Enable all sortables
                        $('.sort').each(function () {
                            var $this = $(this);
                            //$this.find(".label").removeClass("label-warning").addClass("label-success");
                            $this.css('borderColor', 'gray');
                            $this.sortable('enable');
                        });
                    },
                    update: function(event, ui){
                        console.log("update", event, ui);
                        var SortedAgent = $(event.target).closest(".list-agents");
                        if(SortedAgent.length > 0){
                            var $sort = $(event.target);
                            var $item = $(ui.item);
                            var $IDAgent = $sort.data("id");
                            var $IDSchool = $item.data("id");
                            var $IDTelemarketing = $item.data("telemarketing");
                            @*console.log("actualizar", listTelemarketing, $IDAgent, $IDSchool, $IDTelemarketing);
                            listTelemarketing = listTelemarketing.filter(i => i.Telemarketing_IdUser == $IDAgent && i.Telemarketing_IdCustomer == $IDSchool);
                            if(listTelemarketing.length == 1) listTelemarketing[0].Telemarketing_Index = 1
                            console.log("finded", listTelemarketing);
                            $.post("/customers/schools/telemarketing/InsertOrUpdate", {
                                telemarketings: listTelemarketing,
                            }, function ( data ) {
                                console.log(data);
                                //if(data.statusUpdate)
                                //    $.success("TELEMARKETING CONSOLIDATION", "Telemarketing confirm was updated.");
                                //else
                                //    $.error("TELEMARKETING CONSOLIDATION", "Telemarketing confirm was failed.");
                            }, "json" ).fail( function (response, status, xhr) {
                                console.log(response);
                                $.error("ERROR", "@General.lblMsgError");
                            }).always( function () {
                                //$btn.button('reset');
                            });*@
                        }
                    },
                    remove( event, ui )
                    {
                        console.log("remove", event, ui);
                        var SortedAgent = $(event.target).closest(".list-agents");
                        if(SortedAgent.length > 0){
                            var $sort = $(event.target);
                            var $item = $(ui.item);
                            var $IDAgent = $sort.data("id");
                            var $IDSchool = $item.data("id");
                            var $IDTelemarketing = $item.data("telemarketing");

                            var remove = {
                                Telemarketing_Id: $IDTelemarketing,
                                Telemarketing_IdCustomer: 0,
                                Telemarketing_IdUser: $IDAgent,
                                Telemarketing_Season: @Telemarketing_Season,
                                Telemarketing_Index: 1
                            }

                            RunAjax("telemarketings", [remove], "The school was removed.");

                            @*$.post("/customers/schools/telemarketing/InsertOrUpdate", {
                                telemarketings: [remove],
                            }, function ( data ) {
                                $.warning("SUCCESS", "The school was removed.");
                            }, "json" ).fail( function (response, status, xhr) {
                                $.error("ERROR", "@General.lblMsgError");
                            }).always( function () {
                                //$btn.button('reset');
                            });*@
                        }
                    },
                    receive( event, ui )
                    {
                        console.log("receive", event, ui);
                        var SortedAgent = $(event.target).closest(".list-agents");
                        if(SortedAgent.length > 0){
                            var $sort = $(event.target);
                            var $item = $(ui.item);
                            var $IDAgent = $sort.data("id");
                            var $IDSchool = $item.data("id");
                            var $IDTelemarketing = $item.data("telemarketing");

                            var insert = {
                                Telemarketing_Id: $IDTelemarketing,
                                Telemarketing_IdCustomer: $IDSchool,
                                Telemarketing_IdUser: $IDAgent,
                                Telemarketing_Season: @Telemarketing_Season,
                                Telemarketing_Index: 1
                            }

                            RunAjax("telemarketings", [insert], "The scholl was insert.", function(data) {
                                $item.attr("data-telemarketing", data[0].Telemarketing_Id);
                            });

                            @*$.post("/customers/schools/telemarketing/InsertOrUpdate", {
                                telemarketings: [remove],
                            }, function ( data ) {
                                $.success("SUCCESS", "The scholl was insert.");
                            }, "json" ).fail( function (response, status, xhr) {
                                $.error("ERROR", "@General.lblMsgError");
                            }).always( function () {
                                //$btn.button('reset');
                            });*@
                        }
                    }
                });

                $('.sort li').mousedown(function () {
                    // Check number of elements already in each sortable
                    $('.sort:not([storage])').not($(this).parent()).each(function () {
                        var $this = $(this);

                        if ($this.find('li').length >= 1) {
                            //$this.find(".label").removeClass("label-warning").addClass("label-success");
                            //    $this.css('borderColor', 'red');
                            //    $this.sortable('disable');
                        } else {
                            //$this.css('borderColor', '#abe2a5');
                            //$this.sortable('enable');
                        }
                    });
                });

                $( ".list-agents li" ).mousemove(function( event ) {
                    getOutput();
                });
            }

            function getOutput() {
                var array = $(".list-agents li").map(function (index, item) {
                    var AgentID = $(item).closest("ul").data("id");
                    var TelemarketingID = $(item).data("telemarketing");
                    var SchoolID = $(item).data("id");
                    var obj = {
                        Telemarketing_Id: (TelemarketingID == undefined ? null : TelemarketingID),
                        Telemarketing_IdUser: AgentID,
                        Telemarketing_IdCustomer: (SchoolID == undefined ? null : SchoolID),
                        Telemarketing_Season: @Telemarketing_Season,
                        Telemarketing_Index: index + 1
                    };
                    return obj;
                }).toArray();

                return array;
            }

            $('#search-school').keyup(function () {
                var $this = $(this),
                    $allListElements = $('.list-school ul > li'),
                    Value = this.value;

                var $btn = $this.closest("form").find("button");
                var isOk = $("#school-search").valid();
                if (isOk) {
                    $btn.button("loading");
                    var City = $("#school-search").find("[name='Customer_City']").val();
                    if(City != "" && Value.length > 2){
                        $.getJSON("/Functions/GetSchoolData/", { school: Value, city: City }, function (data, status, xhr)
                        {
                            var NotAlow = getOutput().map(i => i.Telemarketing_IdCustomer).filter(i => i != null);
                            var Schools = data.filter(i => !NotAlow.includes(i.Customer_Id));
                            $ListUL.empty();

                            var last = Schools.length - 1;
                        
                            if(last > 0){
                                $.each(Schools, function (index, item)
                                {
                                    var ID = item.Customer_Id;
                                    var _template = $($("#HTML-ItemSchool").html());
                                    _template.attr("data-id", ID);
                                    _template.find(".name").html("<strong>" + item.Customer_Company_Name + "</strong>" + " (" + item.Customer_City + ")");
                                    $ListUL.append(_template);
                                    ApplySortable();
                                    if(last == index) $btn.button("reset");
                                });
                            } else {
                                $btn.button("reset");
                            }
                        });
                    }else {
                        $btn.button("reset");
                    }
                }
            });

            $("[name='Customer_City']").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    var _this = this;
                    var dataRequest = { City: request.term};
                    $.post('@Url.Action("GetSchoolsLocation", "Ajax")', {
                        allData: JSON.stringify(dataRequest)
                    },function (dataResponse) {
                        var json = JSON.parse(dataResponse);
                        var dataResponse = $.map(json, function (item) {
                            var text = item.Customer_City;
                            return {
                                data: item,
                                value: text,
                                label: text,
                                id: text
                            }
                        });
                        response(dataResponse);
                        _this.data = json;
                    }, 'JSON');
                },
                select: function (event, ui) {
                    console.log("select", event, ui);
                    //var selectedObj = ui.item;
                    ////$("[name='Customer_City']").val(selectedObj.value);
                    ////getcitydetails(selectedObj.value);
                    //return false;

                    var school = ui.item.data;
                    $("#school-search").setValues(school);
                    $('#search-school').focus();
                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
            $("[name='Customer_City']").autocomplete("option", "delay", 100);

            $.fn.GetTelemarketing = function (removeItemParameter) {
                var array = $(this).map(function (index, item) {
                    var AgentID = $(item).closest("ul").data("id");
                    var TelemarketingID = $(item).data("telemarketing");
                    var SchoolID = $(item).data("id");
                    var obj = {
                        Telemarketing_Id: (TelemarketingID == undefined ? null : TelemarketingID),
                        Telemarketing_IdUser: AgentID,
                        Telemarketing_IdCustomer: (removeItemParameter == undefined ? (SchoolID == undefined ? null : SchoolID) : removeItemParameter),
                        Telemarketing_Season: @Telemarketing_Season,
                        Telemarketing_Index: index + 1
                    };
                    return obj;
                }).toArray();

                return array;
            }

            function RunAjax(namePostParameter, dataPostParameter, successParameter, callbackParameter) {
                $.post("/customers/schools/telemarketing/InsertOrUpdate", {
                    [namePostParameter]: dataPostParameter,
                }, function ( data ) {
                    console.log(data);
                    if(callbackParameter != undefined) callbackParameter(data);
                    $.success("SUCCESS", successParameter);
                }, "json" ).fail( function (response, status, xhr) {
                    $.error("ERROR", "@General.lblMsgError");
                }).always( function () {
                    //$btn.button('reset');
                });
            }
        });
    </script>
}