﻿@model BackOfficeAcquaJoss.Models.AddonsModel
@using Core.Resources;
@{
    int size = 10;
    double index = 0;
    double page = 0;

    int Product_id = 0;

    int CurrentParkOperational = ViewBag.CurrentParkOperational;
    List<Core.ParkOperational> parkOperationalActive = ViewBag.parkOperationalActive;
    Core.ParkOperational parkOperational = null;

    List<Core.ProductsTypes> productsTypes = Model.ProductsTypes.FindAll(pt => pt.ProductType_Type.Equals(Core.ProductType.ADDON));
    List<Core.Products> addons = Model.Addons;

    if (Model.Addon == null)
    {
        Model.Addon = new Core.Products();
    }
    else
    {
        Product_id = Model.Addon.Product_Id;
        addons = addons.Where(x => x.Product_Id == Model.Addon.Product_Id).ToList();

        index = addons.FindIndex(s => s.Product_Id.Equals(Model.Addon.Product_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", Addons.lblSection);
}


<section id="createAddon" class="createAddon" Product_id="@(Model.Addon != null ? Model.Addon.Product_Id.ToString() : string.Empty)" typeSelected="@(Model.Addon != null && Model.Addon.Product_Id != 0 ? Model.Addon.Product_ProductType.ProductType_Identifier : string.Empty)">
    <div class="clearfix">
        <div class="ibox-title">
            <h5><i class="fa fa-ticket"></i> PRODOTTI ADDON</h5>
            <div class="ibox-tools">
                <a class="btn btn-primary btn-xs" href="/addons/Addon">Nuovo Prodotto</a>
            </div>
        </div>
        <div class="ibox-content clearfix">
            <div class="row">
                <div class="col-md-6">
                    <table id="table-addons" class="table table-order fixed_header table-stripped table-hover toggle-arrow-tiny footable" data-show-toggle="false" data-index="@index" data-paging="false" data-paging-size="@size" data-paging-current="@page" data-filtering="true" style="display:none;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 10%;">ID</th>
                                <th class="text-center" style="width: 53%;">@Addons.Product_Key</th>
                                <th class="text-center" style="width: 10%;">@Addons.Product_Status</th>
                                <th data-name="productsTypes" data-visible="false" align="center">Types</th>
                                <th class="text-center">@General.lblActions</th>
                            </tr>
                        </thead>
                        <tbody class="sortable" data-table="@Core.Products.TABLE" data-keyId="Product_Id" data-keyValue="Product_Order">
                            @foreach (Core.Products Addon in addons)
                            {
                                <tr id="@Addon.Product_Id" index="@Addon.Product_Order" class="@(Addon.Product_Id == Model.Addon.Product_Id  ? "active" : string.Empty) sortable-item" type="@Addon.Product_ProductType.ProductType_Identifier" data-id_promotion="@Addon.Product_Id">
                                    <td class="text-center" style="width: 10%;">
                                        <div class="order-arrow">
                                            <span class="index">@Addon.Product_Order</span>
                                        </div>
                                        @Addon.Product_Id
                                    </td>
                                    <td style="width: 53%;">@Addon.Product_Key</td>
                                    <td class="switch" style="width: 10%;">
                                        <div class="onoffswitch" style="margin:auto;">
                                            <input id="Product_Status_@Addon.Product_Id"
                                                   Product_id="@Addon.Product_Id"
                                                   name="Product_Status_@Addon.Product_Id"
                                                   class="onoffswitch-checkbox change_state_product"
                                                   checked="@Addon.Product_Status"
                                                   type="checkbox" />
                                            <label class="onoffswitch-label" for="Product_Status_@Addon.Product_Id">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td align="center">@Addon.Product_Type.ToLower()</td>
                                    <td class="text-center" style="width: 27%;">
                                        <div class="btn-group">
                                            <a class="btn @(Addon.Product_Id == Model.Addon.Product_Id  ? "active" : string.Empty) btn-default btn-xs" href="@Url.Action("Update","Addons", new { id = Addon.Product_Id })">Edit</a>
                                            <button data-addon-id="@Addon.Product_Id" data-url="@Url.Action("UpdateInfo","Addons")" data-section="section#ProductInfo" class="btn btn-white btn-xs btn-updateInfo" data-toggle="modal" data-target="#ModalProductInfo">Content</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <div>
                        <form id="form-product" action="/Addons/InsertOrUpdate" method="post" validate="true">
                            @Html.HiddenFor(model => Model.Addon.Product_Id)
                            <input type="hidden" id="ParkOp" name="ParkOp" value="@CurrentParkOperational" />

                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label>Tipo</label>
                                    @{
                                        List<SelectListItem> productsTypesSelectList = new List<SelectListItem>();
                                        productsTypesSelectList.Add(new SelectListItem()
                                        {
                                            Text = string.Empty,
                                            Value = string.Empty
                                        });

                                        foreach (Core.ProductsTypes pt in productsTypes)
                                        {
                                            productsTypesSelectList.Add(new SelectListItem()
                                            {
                                                Text = pt.ProductType_Identifier.ToUpper(),
                                                Value = pt.ProductType_Identifier,
                                                Selected = (Model.Addon != null && Model.Addon.Product_Id != 0 && Model.Addon.Product_Type.Equals(pt.ProductType_Identifier))
                                            });
                                        }
                                        @Html.DropDownListFor(model => Model.Addon.Product_Type, productsTypesSelectList, null, new { @class = "form-control input-sm", @required = "required" })
                                    }
                                </div>

                                <div class="form-group col-sm-2">
                                    <label>Calendario</label>
                                    <select id="idParkOperational" name="idParkOperational" class="form-control">
                                        @*<option value=""></option>*@
                                        @if (parkOperationalActive != null)
                                        {
                                            foreach (Core.ParkOperational item in parkOperationalActive)
                                            {
                                                <option value="@item.ParkOperational_Id" selected="@(parkOperational != null && parkOperational.ParkOperational_Id.Equals(item.ParkOperational_Id))">@item.ParkOperational_Code</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-sm-3">
                                    <label>Prezzo alta stagione online</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">€</span>
                                        <input type="text" id="HighPrice" name="HighPrice" class="form-control input-sm num">
                                    </div>
                                </div>


                                <div class="form-group col-sm-3">
                                    <label>Prezzo bassa stagione online</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">€</span>
                                        <input type="text" id="LowPrice" name="LowPrice" class="form-control input-sm num">
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>In caso di nessuna differenza tra alta e bassa stagione impostare i due prezzi online uguali ed i due prezzi alle casse uguali</label>
                                </div>

                                <div class="form-group col-sm-3">
                                    <label>Prezzo alta stagione casse</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">€</span>
                                        <input type="text" id="HighPriceBase" name="HighPriceBase" class="form-control input-sm num">
                                    </div>
                                </div>


                                <div class="form-group col-sm-3">
                                    <label>Prezzo bassa stagione casse</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">€</span>
                                        <input type="text" id="LowPriceBase" name="LowPriceBase" class="form-control input-sm num">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-sm-5">
                                    @Html.LabelFor(model => Model.Addon.Product_Article)
                                    @Html.EditorFor(model => Model.Addon.Product_Article, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                </div>

                                <div class="form-group col-sm-5">
                                    @Html.LabelFor(model => Model.Addon.Product_Offer)
                                    @Html.EditorFor(model => Model.Addon.Product_Offer, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                </div>

                                <div class="form-group col-sm-2">
                                    <label>Calendarizzato</label>
                                    <div>
                                        @Html.EditorFor(model => Model.Addon.Product_Calendarized, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display: none;">
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(model => Model.Addon.Product_ProviderCode)
                                    @Html.EditorFor(model => Model.Addon.Product_ProviderCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                </div>

                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(model => Model.Addon.Product_ProviderParameter)
                                    @Html.EditorFor(model => Model.Addon.Product_ProviderParameter, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-8">
                                    @Html.LabelFor(model => Model.Addon.Product_Key)
                                    @Html.EditorFor(model => Model.Addon.Product_Key, new { htmlAttributes = new { @class = "form-control input-sm input_key", @required = "required" } })
                                </div>

                                <div class="form-group col-sm-2">
                                    <label>IVA</label>
                                    @Html.EditorFor(model => Model.Addon.Product_Vat, new { htmlAttributes = new { @class = "form-control input-sm input_key input-sm" } })
                                </div>

                                <div class="form-group col-sm-2">
                                    <label>Stato</label>
                                    <div>
                                        @Html.EditorFor(model => Model.Addon.Product_Status, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-b-sm">
                                @Html.LabelFor(model => Model.Addon.Product_Note)
                                <div class="editor">
                                    @Html.TextAreaFor(model => Model.Addon.Product_Note, new { @class = "form-control input-sm text_editor", @cols = "20", @rows = "6" })
                                </div>
                                @if (Model.Addon != null && Model.Addon.Product_CreationDate != null)
                                {
                                    <div><small><b>@Addons.Product_CreationDate: </b>@Model.Addon.Product_CreationDate.ToString()</small></div>
                                }
                            </div>

                            <div id="buttons" class="text-right">
                                @if (Model.Addon.Product_Id != 0)
                                {
                                    <button data-addon-id="@Model.Addon.Product_Id" data-url="@Url.Action("UpdateInfo","Addons")" data-section="section#ProductInfo" class="btn-white btn btn-updateInfo" data-toggle="modal" data-target="#ModalProductInfo">Content</button>
                                }
                                <button type="submit" class="btn btn-primary btn-save" id="BtnSave">
                                    @Html.Raw(Model.Addon.Product_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ProductInfo"></section>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">
        Addons: <b>@Model.Addons.Count</b>
    </div>
</div>

@section Scripts {
    <script>
        var productsTypes = @Html.Raw(Json.Encode(productsTypes));
        var addon_list = @Html.Raw(Json.Encode(Model.Addons));
        var $table = $('#table-addons');

        var CurrentParkOperational = '@CurrentParkOperational';
        var ProductId = '@Product_id';

        var HighPrice = '@ViewBag.HighPrice';
        var LowPrice = '@ViewBag.LowPrice';
        var HighPriceBase = '@ViewBag.HighPriceBase';
        var LowPriceBase = '@ViewBag.LowPriceBase';

        $("#idParkOperational").on("change", function ()
        {

            if (this.value != CurrentParkOperational)
            {
                CurrentParkOperational = this.value;
                $("#ParkOp").val(CurrentParkOperational);


                var URL = "/Products/GetProductSeasonPrices";

                var Info = {
                    ParkOperational: CurrentParkOperational,
                    ProductId: ProductId
                };

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    HighPrice = data.HighPrice;
                    LowPrice = data.LowPrice;
                    HighPriceBase = data.HighPriceBase;
                    LowPriceBase = data.LowPriceBase;

                    $("#HighPrice").val(HighPrice);
                    $("#LowPrice").val(LowPrice);
                    $("#HighPriceBase").val(HighPriceBase);
                    $("#LowPriceBase").val(LowPriceBase);
                });
            }
        });

        $("#BtnSave").click(function(e){
            //addons validations

            var codart = $("#Addon_Product_Article").val();
            var codoff = $("#Addon_Product_Offer").val();

            //if (codart.length > 0 && codoff.length > 0) {
            //      $.error("Errore","Immettere o l'articolo o l'offerta");
            //      e.preventDefault();
            //}


            var hp = $("#HighPrice").val().replace(",",".");
            var lp = $("#LowPrice").val().replace(",", ".");

            var codart = $("#Addon_Product_Article").val().trim();
            var codoff = $("#Addon_Product_Offer").val().trim();

            //if (codart == "" && codoff == "") {
            //    $.error("Errore", "Immettere articolo oppure Offerta");
            //    e.preventDefault();
            //}

            //if (codart != "" && codoff != "") {
            //    $.error("Errore", "Immettere articolo oppure Offerta");
            //    e.preventDefault();
            //}

            var iva = $("#Addon_Product_Vat").val();

            if (isNaN(iva) || Number(iva) == 0)
            {
                $.error("Errore","Iva obbligatoria");
                e.preventDefault();
            }

            if (isNaN(hp) || Number(hp) == 0)
            {
                $.error("Errore","Immettere il prezzo alto");
                e.preventDefault();
            }

            if (isNaN(lp) || Number(lp) == 0)
            {
                $.error("Errore","Immettere il prezzo basso");
                e.preventDefault();
            }

        })


        $(document).ready(function () {
            //curent season
            $("#idParkOperational").val(CurrentParkOperational);
            $("#HighPrice").val(HighPrice);
            $("#LowPrice").val(LowPrice);
            $("#HighPriceBase").val(HighPriceBase);
            $("#LowPriceBase").val(LowPriceBase);

            FooTable.MyFiltering = FooTable.Filtering.extend({
                construct: function(instance){
                    this._super(instance);
                    this.productsTypes = productsTypes.map(pt => pt.ProductType_Identifier);
                    this.def = 'ALL';
                    this.$status = null;
                },
                $create: function(){
                    this._super();
                    var self = this,
                        $form_grp = $('<div/>', { 'class': 'form-group' })
                            .append("<a class='btn btn-primary btn-xs' href='/addons/update'>Tutti</a>")
                            .append($('<label/>', {'class': 'sr-only', text: 'productsTypes'}))
                            .prependTo(self.$form);

                    self.$status = $('<select/>', { 'class': 'form-control input-sm' })
                        .on('change', {self: self}, self._onStatusDropdownChanged)
                        .append($('<option/>', {text: self.def}))
                        .appendTo($form_grp);

                    $.each(self.productsTypes, function(i, status){
                        self.$status.append($('<option/>').text(status.toUpperCase()).val(status));
                    });
                },
                _onStatusDropdownChanged: function(e){
                    var self = e.data.self,
                        selected = $(this).val();
                    if (selected !== self.def){
                        self.addFilter('productsTypes', selected, ['productsTypes']);
                    } else {
                        self.removeFilter('productsTypes');
                    }
                    self.filter();
                },
                draw: function(){
                    this._super();
                    var status = this.find('productsTypes');
                    if (status instanceof FooTable.Filter){
                        this.$status.val(status.query.val());
                    } else {
                        this.$status.val(this.def);
                    }
                }
            });
            FooTable.components.register('filtering', FooTable.MyFiltering);
            var $sortable = $table.find("tbody");
            $table.footable({
                on: {
                    "postdraw.ft.table" : function() {
                        var filtering = FooTable.get($table).use(FooTable.MyFiltering);
                        if(filtering && filtering.filters.length){
                            $sortable.sortable("disable");
                            $table.find(".order-arrow").toggleClass("disabled");
                        }else{
                            $sortable.sortable("enable");
                            $table.find(".order-arrow").addClass("show");
                            $table.find(".order-arrow").removeClass("disabled");
                        }
                    }
                }
            });
            $(".sortable").sortableDB(".sortable-item");

            /** START CHANGES ON STATE PRODUCT **/
            $(document).on("change", ".change_state_product", function (){
                var status = this.checked;
                $.post("@Url.Action("ChangeStatus", "Addons")", {
                    addon_id: $(this).attr("product_id"),
                    addon_status: status
                }, function (res){
                    res == 1 ? $.success("SUCCESS", "El addon se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "Surgio un error inesperato intentelo mas tarde");
                }).fail(function (response, status, xhr)
                {
                    console.log(response, status, xhr);
                });
            });
            /** END CHANGES ON STATE PRODUCT **/

            /** START MODAL THE INFO ADDON **/
            $(document).on("click", ".btn-updateInfo", function (e) {
                e.preventDefault();
                var $btn = $(this);
                var $section = $($btn.data("section"));
                var url = $btn.data("url");
                var addon_id = $btn.data("addon-id");
                var addon = addon_list.find(p => p.Product_Id == addon_id);
                $btn.button('loading');
                $section.empty();

                var Info = { product: addon, HighPrice: HighPrice, LowPrice: LowPrice, HighPriceBase: HighPriceBase, LowPriceBase: LowPriceBase, ParkOp: CurrentParkOperational};
                $.post(url, Info, function (response) {
                    $btn.button('reset');
                    $section.html(response);
                }).fail(function (response, status, xhr) {
                    console.log(response, status, xhr);
                });
            });
            /** END MODAL THE INFO ADDON **/

        });
    </script>
}