﻿@using Core
@using BackOfficeAcquaJoss.Models
@using System.Data.SqlClient

@model ReportsModel.ReservationSalesDetailsZM
@{
    string rec = DateTime.Now.ToString();

    ViewBag.Title = "SalesDetails";
    List<ReservationSalesReportDetailsZM> Sales = Model.ReservationSales;

    List<ProductBaseInfo> Products = ViewBag.Products;

    //default null value
    Products.Insert(0, new ProductBaseInfo());

    string today = DateTime.Now.ToString();
    String Reservation_Ini = null;
    String Reservation_Fin = null;
    String Admission_Ini = null;
    String Admission_Fin = null;

    List<SelectListItem> SellersItems = Model.SellersItems.ToList();
    SellersItems.Insert(1, (new SelectListItem { Text = "Acquajoss", Value = "0" }));

    List<SelectListItem> PaymentsType = ViewBag.PaymentType;
    PaymentsType.Insert(0, (new SelectListItem { Text = "", Value = "" }));

    List<SelectListItem> Invoice = new List<SelectListItem>();
    Invoice.Insert(0, (new SelectListItem { Text = "", Value = "" }));
    Invoice.Insert(1, (new SelectListItem { Text = "SI", Value = "1" }));
    Invoice.Insert(2, (new SelectListItem { Text = "NO", Value = "0" }));

    if (Request.Form.Count == 0)
    {
        Reservation_Ini = DateTime.Now.ToString("dd/MM/yyyy");
        Reservation_Fin = DateTime.Now.ToString("dd/MM/yyyy");
        FormCollection form = new FormCollection();
        form.Add("Reservation_Ini", Reservation_Ini);
        form.Add("Reservation_Fin", Reservation_Fin);
        form.Add("Status", "OK");
        Sales = new ReportsModel.ReservationSalesDetailsZM(form).ReservationSales;
    }
    else
    {
        Reservation_Ini = !string.IsNullOrEmpty(Request.Form["Reservation_Ini"]) ? DateTime.Parse(Request.Form["Reservation_Ini"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Ini"];
        Reservation_Fin = !string.IsNullOrEmpty(Request.Form["Reservation_Fin"]) ? DateTime.Parse(Request.Form["Reservation_Fin"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Fin"];
        Admission_Ini = !string.IsNullOrEmpty(Request.Form["Admission_Ini"]) ? DateTime.Parse(Request.Form["Admission_Ini"]).ToString("dd/MM/yyyy") : null;
        Admission_Fin = !string.IsNullOrEmpty(Request.Form["Admission_Fin"]) ? DateTime.Parse(Request.Form["Admission_Fin"]).ToString("dd/MM/yyyy") : null;

    }

}

@section Css{
    @*<link href="/Content/iCheck/custom.css" rel="stylesheet" />*@
}

<section class="searchReservations">
    <div class="ibox">
        <div class="ibox-title">
            <h5>REPORT DETTAGLIO VENDITE</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form id="form-search" validate="true" action="/Reports/SalesDetails" method="post" autocomplete="off">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-reservation">
                        <label class="control-label">Data di acquisto</label>
                        <div class="input-group">
                            <div class="input-daterange input-group datepicker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="fechareservacionIni" type="text" class="form-control input-sm" name="Reservation_Ini" value="@Reservation_Ini" required />
                                <span class="input-group-addon">to</span>
                                <input id="fechareservacionFin" type="text" class="form-control input-sm" name="Reservation_Fin" value="@Reservation_Fin" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-admission">
                        <label class="control-label">Data di ingresso</label>
                        <div class="input-group">
                            <div class="input-daterange input-group datepicker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="DateIni" type="text" class="form-control input-sm" name="Admission_Ini" value="@Admission_Ini" disabled />
                                <span class="input-group-addon">to</span>

                                <input id="DateFin" type="text" class="form-control input-sm" name="Admission_Fin" value="@Admission_Fin" disabled />
                                <span class="input-group-addon i-checks checkbox-small" data-toggle="tooltip" title="Only dates of admission"><input type="checkbox" name="Only_Admission" @(!string.IsNullOrEmpty(Request.Form["Only_Admission"]) ? "checked" : "") class="input-sm only-admission"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Prodotto</label>
                        @{
                            Model.ProductsItems_Index = null;
                            int val = Convert.ToInt16(Request.Form["Id"]);
                            if (val != 0) { Model.ProductsItems_Index = val; }
                        }
                        @Html.DropDownList("Product_Id", new SelectList(Products, "Id", "Key"), new { @class = "form-control input-sm select-product", Name = "Product_Id" })
                    </div>

                    <div class="form-group col-xs-12 col-sm-5 col-md-2">                                                      
                        <label>VENDITORE</label>
                        @Html.DropDownListFor(model => Model.Sellers.FirstOrDefault().User_Id, SellersItems, new { Name = "Seller_Id", @class = "form-control" })
                    </div>

                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Coupon Type</label>
                        <input id="discountcoupon" type="text" class="form-control input-sm" name="Coupon_Type" value="@(string.IsNullOrEmpty(Request.Form["Coupon_Type"]) ? "" : Request.Form["Coupon_Type"])" />
                    </div>

                </div>
                <div class="row">

                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label>TIPO PAGAMENTO</label>
                        @Html.DropDownList("Payment_Id", new SelectList(PaymentsType, "Value", "Text"), new { @class = "form-control" })
                    </div>

                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label>FATTURA</label>
                        @Html.DropDownList("Invoice", new SelectList(Invoice, "Value", "Text"), new { @class = "form-control" })
                    </div>

                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Status</label>
                        <select id="status" name="Status" class="form-control input-sm">
                            <option value="OK" @(string.IsNullOrEmpty(Request.Form["Status"]) ? "" : Request.Form["Status"].Equals("OK") ? "selected='selected'" : "")>OK</option>
                            <option value="PR" @(string.IsNullOrEmpty(Request.Form["Status"]) ? "" : Request.Form["Status"].Equals("PR") ? "selected='selected'" : "")>PR</option>
                        </select>
                    </div>
                </div>
                <div class="ibox-footer text-right">
                    <button id="btnCerca" type="submit" class="btn btn-primary"> CERCA <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>DATA RESULT @(Sales == null ? string.Empty : ("(" + Sales.Count + ")"))</h5>
            <div class="ibox-tools">
                <a data-namefile="SALES" onclick="clipboard(this);" data-toggle="tooltip" title="" data-original-title="Copia su Excel">
                    <i class="fa fa-file-excel-o fa-lg text-success" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-result" class="table table-hover table-bordered" border="1" width="700">
                <thead>
                    <tr>
                        <th align="center">ID Acquisto</th>
                        <th align="center">Venditore</th>
                        <th align="center">Data acquisto</th>
                        <th align="center">Data ingresso</th>
                        <th align="center">Nome</th>
                        <th align="center">Cognome</th>
                        <th align="center">Prodotto</th>
                        <th align="center">Tipo</th>
                        <th align="center">Iva</th>
                        <th align="center">Stato</th>
                        <th align="center">Tipo pagamento</th>
                        <th align="center">Fattura</th>
                        <th align="center">Banca</th>
                        <th align="center">Quantita</th>
                        <th align="center">Prezzo</th>
                        <th align="center">Totale</th>
                </thead>
                <tbody>
                    @{
                        string tempType = "";
                        int tempTypeCount = 1;
                        int index = 0;
                        int breakSpan = 1;
                        int showTotal = 0;

                        //Totals
                        int sumQuantities = 0;
                        decimal sumTotals = 0;

                        //Totals Global
                        int sumQuantitiesGlobal = 0;
                        decimal sumTotalsGlobal = 0;

                        //int sumQuantitiesGlobal = Sales.Select(s => s.Quantity).ToList().Sum();
                        //decimal sumTotalsGlobal = Sales.Select(s => s.Total).ToList().Sum();

                        if (Sales != null)
                        {
                            foreach (ReservationSalesReportDetailsZM item in Sales)
                            {
                                //string _Coupon = item.Coupon == null ? "---" : item.Coupon;
                                //if (item.Type != tempType)
                                //{
                                //    tempType = item.Type;
                                //    breakSpan = index;
                                //    tempTypeCount = Sales.FindAll(s => s.Type.Equals(tempType)).Count;
                                //    sumQuantities = Sales.FindAll(s => s.Type.Equals(tempType)).Select(s => s.Quantity).ToList().Sum();
                                //    sumTotals = Sales.FindAll(s => s.Type.Equals(tempType)).Select(s => s.Total).ToList().Sum();
                                //}

                                if (breakSpan == index)
                                {
                                    showTotal = (index + tempTypeCount) - 1;
                                }

                                        <tr span="@breakSpan" idx="@index" ok="@showTotal" items="@tempTypeCount" type="@tempType" align="center">
                                            <td>@item.IdReservation</td>
                                            <td>@item.SellerName</td>
                                            <td>@item.CreationDate</td>
                                            <td>@item.AdmissionDate</td>
                                            <td>@item.Name</td>
                                            <td>@item.LastName</td>
                                            <td>@item.Prodotto</td>
                                            <td>@item.Tipo</td>
                                            <td>@item.Iva</td>
                                            <td>@item.Stato</td>
                                            <td>@item.TipoPagamento</td>
                                            <td>@item.Fattura</td>
                                            <td>@item.Banca</td>
                                            <td>@item.Quantita</td>
                                            <td>@item.Prezzo</td>
                                            <td>@item.Totale</td>
                                        </tr>


                                @*if (showTotal == index)
                                {
                                    <tr class="totals font-bold" style="background: lightgray;" align="center">
                                        <td colspan="3" class="text-center">TOTALE</td>
                                        <td>@sumQuantities</td>
                                        <td>@sumTotals.ToString("C")</td>
                                    </tr>
                                    sumTotals = 0;
                                }*@

                                index++;

                            }
                        }
                    }
                </tbody>
                <tfoot style="background: black; color: white;">

                    @*<tr class="totals-global font-bold">
                        <td colspan="3" class="text-center" align="center">TOTALE COMPLESSIVO</td>
                        <td>@sumQuantitiesGlobal</td>
                        <td>@sumTotalsGlobal.ToString("C")</td>
                    </tr>*@

                </tfoot>

            </table>
        </div>
    </div>

    <!--loader-->
    <div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 100px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
                </div>
            </div>

        </div>
    </div>
</section>

@*<script src="/Scripts/clipboard.min.js"></script>
<script src="/Scripts/icheck.min.js"></script>*@

@section Scripts{
<script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script>
        var $form = $("#form-search");

        var coupons_all = @Html.Raw(Json.Encode(Model.DiscountsCupons.Select(c => c.DiscountCoupon_Identifier.ToUpper()).Distinct()));
        $("#discountcoupon").autocomplete({
            source: coupons_all
        });

        $(document).ready(function () {
            //selected value
            $('[name=product_id]').val(@ViewBag.product_id);
            $('[name=Seller_Id]').val(@ViewBag.Seller_Id);
            $('[name=Payment_Id]').val(@ViewBag.Payment_Id);
            $('[name=Invoice]').val(@ViewBag.Invoice);

            var $table = $('#table-result');
            //$table.footable();
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.only-admission').on('ifChanged', function (event) {
                //$(event.target).trigger('change');
                var isChecked = this.checked;
                if (isChecked) {
                    $(".range-reservation :input").attr("disabled", "disabled");
                    $(".range-admission :input").removeAttr("disabled");
                    $('[name="Admission_Ini"]').rules('add', { required: true });
                    $('[name="Admission_Fin"]').rules('add', { required: true });
                    $('[name="Reservation_Ini"]').rules('remove');
                    $('[name="Reservation_Fin"]').rules('remove');
                } else {
                    $(".range-admission :input:not(:checkbox)").attr("disabled", "disabled");
                    $(".range-reservation :input").removeAttr("disabled");
                    $('[name="Admission_Ini"]').rules('remove');
                    $('[name="Admission_Fin"]').rules('remove');
                    $('[name="Reservation_Ini"]').rules('add', { required: true });
                    $('[name="Reservation_Fin"]').rules('add', { required: true });
                }
                return true;
            });

            $("#btnCerca").click(function () {
                if ($form.valid()) {
                    $('#loader').modal('show');
                }
            });

            $('.only-admission').trigger("ifChanged");
        });


    </script>
}