﻿@using Core
@using BackOfficeAcquaJoss.Models
@using System.Data.SqlClient

@model ReportsModel.ReportsSales
@{

    ViewBag.Title = "Sales";
    List<ReservationItemsReport> Sales = Model.ReservationItems;
    List<ReservationItemsReport> SalesTickets = new List<ReservationItemsReport>();
    List<ReservationItemsReport> SalesAddons = new List<ReservationItemsReport>();

    if (Sales != null)
    {
        SalesTickets = Sales.Where(x => x.Type == "ADMISSION" || x.Type == "DYNAMIC" || x.Type == "HOTEL" || x.Type == "GROUP" || x.Type == "SUBSCRIPTION").ToList();
        SalesAddons = Sales.Where(x => x.Type == "MENU" || x.Type == "ACTIVITY" || x.Type == "EXTRA").ToList();
    }


    string rec = DateTime.Now.ToString();

    string today = DateTime.Now.ToString();
    String Reservation_Ini = null;
    String Reservation_Fin = null;
    String Admission_Ini = null;
    String Admission_Fin = null;

    List<SelectListItem> SellersItems = Model.SellersItems.ToList();
    SellersItems.Insert(1, (new SelectListItem { Text = "Zoomarine", Value = "0" }));

    if (Request.Form.Count == 0)
    {
        Reservation_Ini = DateTime.Now.ToString("dd/MM/yyyy");
        Reservation_Fin = DateTime.Now.ToString("dd/MM/yyyy");
        FormCollection form = new FormCollection();
        form.Add("Reservation_Ini", Reservation_Ini);
        form.Add("Reservation_Fin", Reservation_Fin);
        form.Add("Status", "OK");
        Sales = new ReportsModel.ReportsSales(form).ReservationItems;

        SalesTickets = Sales.Where(x => x.Type == "ADMISSION" || x.Type == "DYNAMIC" || x.Type == "HOTEL" || x.Type == "GROUP" || x.Type == "SUBSCRIPTION").ToList();

        SalesAddons = Sales.Where(x => x.Type == "MENU" || x.Type == "ACTIVITY" || x.Type == "EXTRA").ToList();

    }
    else
    {
        Reservation_Ini = !string.IsNullOrEmpty(Request.Form["Reservation_Ini"]) ? DateTime.Parse(Request.Form["Reservation_Ini"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Ini"];
        Reservation_Fin = !string.IsNullOrEmpty(Request.Form["Reservation_Fin"]) ? DateTime.Parse(Request.Form["Reservation_Fin"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Fin"];
        Admission_Ini = !string.IsNullOrEmpty(Request.Form["Admission_Ini"]) ? DateTime.Parse(Request.Form["Admission_Ini"]).ToString("dd/MM/yyyy") : null;
        Admission_Fin = !string.IsNullOrEmpty(Request.Form["Admission_Fin"]) ? DateTime.Parse(Request.Form["Admission_Fin"]).ToString("dd/MM/yyyy") : null;

    }

}

@section Css{
    <link href="/Content/iCheck/custom.css" rel="stylesheet" />
}

<section class="searchReservations">
    <div class="ibox">
        <div class="ibox-title">
            <h5>REPORT VENDITE</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form id="form-search" validate="true" action="/Reports/Sales" method="post" autocomplete="off">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-reservation">
                        <label class="control-label">Data di acquisto</label>
                        <div class="input-group">
                            <div class="input-daterange input-group datepicker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="fechareservacionIni" type="text" class="form-control input-sm" name="Reservation_Ini" value="@Reservation_Ini" />
                                <span class="input-group-addon">to</span>
                                <input id="fechareservacionFin" type="text" class="form-control input-sm" name="Reservation_Fin" value="@Reservation_Fin" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-admission">
                        <label class="control-label">Data di ingresso</label>
                        <div class="input-group">
                            <div class="input-daterange input-group datepicker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="DateIni" type="text" class="form-control input-sm" name="Admission_Ini" value="@Admission_Ini" />
                                <span class="input-group-addon">to</span>

                                <input id="DateFin" type="text" class="form-control input-sm" name="Admission_Fin" value="@Admission_Fin" />
                                <span class="input-group-addon i-checks checkbox-small" data-toggle="tooltip" title="Only dates of admission"><input type="checkbox" name="Only_Admission" @(!string.IsNullOrEmpty(Request.Form["Only_Admission"]) ? "checked" : "") class="input-sm only-admission"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Prodotto Type</label>
                        @{ Model.ProductsTypesItems_Index = string.IsNullOrEmpty(Request.Form["Product_Type"]) ? "" : Request.Form["Product_Type"]; }
                        @Html.DropDownListFor(model => Model.ProductsTypes.FirstOrDefault().ProductType_Identifier, Model.ProductsTypesItems, new { Name = "Product_Type", @class = "form-control input-sm" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Coupon Type</label>
                        <input id="discountcoupon" type="text" class="form-control input-sm" name="Coupon_Type" value="@(string.IsNullOrEmpty(Request.Form["Coupon_Type"]) ? "" : Request.Form["Coupon_Type"])" />
                    </div>

                    <div class="form-group col-xs-6 col-sm-2">
                        @{Model.SellersItems_Index = string.IsNullOrEmpty(Request.Form["Seller_Id"]) ? 0 : int.Parse(Request.Form["Seller_Id"]); }
                        <label>Venditore</label>
                        @Html.DropDownListFor(model => Model.Sellers.FirstOrDefault().User_Id, SellersItems, new { Name = "Seller_Id", @class = "form-control" })
                    </div>

                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Status</label>
                        <select id="status" name="Status" class="form-control input-sm">
                            <option value="OK" @(string.IsNullOrEmpty(Request.Form["Status"]) ? "" : Request.Form["Status"].Equals("OK") ? "selected='selected'" : "")>OK</option>
                            <option value="PR" @(string.IsNullOrEmpty(Request.Form["Status"]) ? "" : Request.Form["Status"].Equals("PR") ? "selected='selected'" : "")>PR</option>
                        </select>
                    </div>
                </div>
                <div class="ibox-footer text-right">
                    <button id="btnCerca" type="submit" class="btn btn-primary"> CERCA <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>DATA RESULT @(Sales == null ? string.Empty : ("(" + Sales.Count + ")"))</h5>
            <div class="ibox-tools">
                <a class="copy_clipboard" data-namefile="SALES" onclick="clipboard(this);" data-toggle="tooltip" title="" data-original-title="Copy to clipboard">
                    <i class="fa fa-file-excel-o fa-lg text-success" aria-hidden="true"></i>
                </a>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            @{
                string tempType = "";
                int tempTypeCount = 1;
                int index = 0;
                int breakSpan = 1;
                int showTotal = 0;

                //Totals
                int sumQuantities = 0;
                decimal sumTotals = 0;

                //Totals Global
                int sumall = Sales.Select(s => s.Quantity).ToList().Sum();
                int sumQuantitiesGlobal = SalesTickets.Select(s => s.Quantity).ToList().Sum();
                decimal sumTotalsGlobal = SalesTickets.Select(s => s.Total).ToList().Sum();

                int sumQuantitiesAddons = SalesAddons.Select(s => s.Quantity).ToList().Sum();
                decimal sumTotalsAddons = SalesAddons.Select(s => s.Total).ToList().Sum();
            }
            <h3>Report Ingressi:</h3>
            <table id="table-result1" class="table table-hover table-bordered" border="1" width="700px">
                <thead>
                    <tr>
                        <th align="center">TYPE</th>
                        <th align="center">PRODUCT</th>
                        <th align="center">COUPON</th>
                        <th align="center">PAX</th>
                        <th align="center">TOTALE</th>
                    </tr>
                </thead>

                <tbody>
                    @{ if (Sales != null)
                        {
                            foreach (ReservationItemsReport item in SalesTickets)
                            {
                                string _Coupon = item.Coupon == null ? "---" : item.Coupon;
                                if (item.Type != tempType)
                                {
                                    tempType = item.Type;
                                    breakSpan = index;
                                    tempTypeCount = Sales.FindAll(s => s.Type.Equals(tempType)).Count;
                                    sumQuantities = Sales.FindAll(s => s.Type.Equals(tempType)).Select(s => s.Quantity).ToList().Sum();
                                    sumTotals = Sales.FindAll(s => s.Type.Equals(tempType)).Select(s => s.Total).ToList().Sum();
                                }

                                if (breakSpan == index)
                                {
                                    showTotal = (index + tempTypeCount) - 1;
                                }

                                <tr span="@breakSpan" idx="@index" ok="@showTotal" items="@tempTypeCount" type="@tempType" align="center">
                                    @if (breakSpan == index)
                                    {
                                        <td rowspan="@tempTypeCount" class="break1 text-center font-bold">@item.Type</td>
                                    }
                                    <td>@item.Product</td>
                                    <td>@_Coupon</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Total.ToString("C")</td>
                                </tr>

                                if (showTotal == index)
                                {
                                    <tr class="totals font-bold" style="background: lightgray;" align="center">
                                        <td colspan="3" class="text-center">TOTALE</td>
                                        <td>@sumQuantities</td>
                                        <td>@sumTotals.ToString("C")</td>
                                    </tr>
                                    sumTotals = 0;
                                }

                                index++;

                            }
                        }
                    }
                </tbody>
                <tfoot style="background: black; color: white;">
                    <tr class="totals-global font-bold">
                        <td colspan="3" class="text-center" align="center">TOTALE INGRESSI</td>
                        <td>@sumQuantitiesGlobal</td>
                        <td>@sumTotalsGlobal.ToString("C")</td>
                    </tr>
                </tfoot>
            </table>

            <br />
            <h3>Report Addons:</h3>
            <br />

            <table id="table-result2" class="table table-hover table-bordered" border="1" width="700px">
                <thead>
                    <tr>
                        <th align="center">TYPE</th>
                        <th align="center">PRODUCT</th>
                        <th align="center">COUPON</th>
                        <th align="center">PAX</th>
                        <th align="center">TOTALE</th>
                    </tr>
                </thead>

                <tbody>
                    @{if (Sales != null)
                        {
                            foreach (ReservationItemsReport item in SalesAddons)
                            {
                                string _Coupon = item.Coupon == null ? "---" : item.Coupon;
                                if (item.Type != tempType)
                                {
                                    tempType = item.Type;
                                    breakSpan = index;
                                    tempTypeCount = Sales.FindAll(s => s.Type.Equals(tempType)).Count;
                                    sumQuantities = Sales.FindAll(s => s.Type.Equals(tempType)).Select(s => s.Quantity).ToList().Sum();
                                    sumTotals = Sales.FindAll(s => s.Type.Equals(tempType)).Select(s => s.Total).ToList().Sum();
                                }

                                if (breakSpan == index)
                                {
                                    showTotal = (index + tempTypeCount) - 1;
                                }

                                <tr span="@breakSpan" idx="@index" ok="@showTotal" items="@tempTypeCount" type="@tempType" align="center">
                                    @if (breakSpan == index)
                                    {
                                        <td rowspan="@tempTypeCount" class="break1 text-center font-bold">@item.Type</td>
                                    }
                                    <td>@item.Product</td>
                                    <td>@_Coupon</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Total.ToString("C")</td>
                                </tr>

                                if (showTotal == index)
                                {
                                    <tr class="totals font-bold" style="background: lightgray;" align="center">
                                        <td colspan="3" class="text-center">TOTALE</td>
                                        <td>@sumQuantities</td>
                                        <td>@sumTotals.ToString("C")</td>
                                    </tr>
                                    sumTotals = 0;
                                }

                                index++;

                            }
                        }
                    }
                </tbody>
                <tfoot style="background: black; color: white;">
                    <tr class="totals-global font-bold">
                        <td colspan="3" class="text-center" align="center">TOTALE ADDONS</td>
                        <td>@sumQuantitiesAddons</td>
                        <td>@sumTotalsAddons.ToString("C")</td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>

    <!--loader-->
    <div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 100px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
                </div>
            </div>

        </div>
    </div>
</section>

<script src="/Scripts/clipboard.min.js"></script>
<script src="/Scripts/icheck.min.js"></script>

@section Scripts{
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script>
        var $clipboard = $(document).find(".copy_clipboard");
        var $form = $("#form-search");

        var coupons_all = @Html.Raw(Json.Encode(Model.DiscountsCupons.Select(c => c.DiscountCoupon_Identifier.ToUpper()).Distinct()));
        $("#discountcoupon").autocomplete({
            source: coupons_all
        });

        $(document).ready(function () {
            var $table = $('#table-result');
            //$table.footable();
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.only-admission').on('ifChanged', function (event) {

                var isChecked = this.checked;
                if (isChecked) {
                    //$(".range-reservation :input").attr("disabled", "disabled");
                    $(".range-admission :input").removeAttr("disabled");
                    $('[name="Reservation_Ini"]').rules('remove');
                    $('[name="Reservation_Fin"]').rules('remove');
                    //$('[name="Reservation_Ini"]').val('');
                } else {
                    //$(".range-admission :input:not(:checkbox)").attr("disabled", "disabled");
                    //$(".range-reservation :input").removeAttr("disabled");
                    $('[name="Admission_Ini"]').rules('remove');
                    $('[name="Admission_Fin"]').rules('remove');
                    $('[name="Admission_Ini"]').val('');
                    $('[name="Admission_Fin"]').val('');
                }

                return true;
            });

            $("#btnCerca").click(function () {
                if ($form.valid()) {
                    $('#loader').modal('show');
                }
            });

            $('.only-admission').trigger("ifChanged");
        });


    </script>
}