﻿@using Core
@using BackOfficeAcquaJoss.Models
@using System.Data.SqlClient

@model ReportsModel.ReportsSalesAddons
@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "SalesAddons";
    List<ReservationItemsReportAddons> Sales = Model.ReservationItemsAddons;
    string today = DateTime.Now.ToString();
    String Reservation_Ini = null;
    String Reservation_Fin = null;
    String Admission_Ini = null;
    String Admission_Fin = null;
    if (Request.Form.Count == 0)
    {
        Reservation_Ini = DateTime.Now.ToString("dd/MM/yyyy");
        Reservation_Fin = DateTime.Now.ToString("dd/MM/yyyy");
        FormCollection form = new FormCollection();
        form.Add("Admission_Ini", Reservation_Ini);
        form.Add("Admission_Fin", Reservation_Fin);
        form.Add("Status", "OK");
        Sales = new ReportsModel.ReportsSalesAddons(form).ReservationItemsAddons;
    }
    else
    {
        // Reservation_Ini = !string.IsNullOrEmpty(Request.Form["Reservation_Ini"]) ? DateTime.Parse(Request.Form["Reservation_Ini"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Ini"];
        // Reservation_Fin = !string.IsNullOrEmpty(Request.Form["Reservation_Fin"]) ? DateTime.Parse(Request.Form["Reservation_Fin"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Fin"];
        Admission_Ini = !string.IsNullOrEmpty(Request.Form["Admission_Ini"]) ? DateTime.Parse(Request.Form["Admission_Ini"]).ToString("dd/MM/yyyy") : null;
        Admission_Fin = !string.IsNullOrEmpty(Request.Form["Admission_Fin"]) ? DateTime.Parse(Request.Form["Admission_Fin"]).ToString("dd/MM/yyyy") : null;
    }

}

@section Css{
<link href="/Content/iCheck/custom.css" rel="stylesheet" />
}

<section class="searchReservations">
    <div class="ibox">
        <div class="ibox-title">
            <h5>REPORTS ADDONS</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form id="form-search" validate="true" action="/Reports/SalesAddons" method="post" autocomplete="off">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-reservation">
                        <label class="control-label"></label>
                        @*<div class="input-group">
                            <div class="input-daterange input-group datepicker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="fechareservacionIni" type="text" class="form-control input-sm" name="Reservation_Ini" value="@Reservation_Ini" required />
                                <span class="input-group-addon">to</span>
                                <input id="fechareservacionFin" type="text" class="form-control input-sm" name="Reservation_Fin" value="@Reservation_Fin" required />
                            </div>
                        </div>*@
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-admission">
                        <label class="control-label">Data di ingresso</label>
                        <div class="input-group">
                            <div class="input-daterange input-group datepicker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="DateIni" type="text" class="form-control input-sm" name="Admission_Ini" value="@Admission_Ini" />
                                <span class="input-group-addon">to</span>

                                <input id="DateFin" type="text" class="form-control input-sm" name="Admission_Fin" value="@Admission_Fin"  />
                                <span class="input-group-addon i-checks checkbox-small" data-toggle="tooltip" title="Only dates of admission"><input type="checkbox" name="Only_Admission" @(!string.IsNullOrEmpty(Request.Form["Only_Admission"]) ? "checked" : "") class="input-sm only-admission"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Prodotto Type</label>
                        @{ Model.ProductsTypesItems_Index = string.IsNullOrEmpty(Request.Form["Product_Type"]) ? "" : Request.Form["Product_Type"]; }
                        @Html.DropDownListFor(model => Model.ProductsTypes.FirstOrDefault().ProductType_Identifier, Model.ProductsTypesItems, new { Name = "Product_Type", @class = "form-control input-sm" })
                    </div>
                    @*<div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Coupon Type</label>
                        <input id="discountcoupon" type="text" class="form-control input-sm" name="Coupon_Type" value="@(string.IsNullOrEmpty(Request.Form["Coupon_Type"]) ? "" : Request.Form["Coupon_Type"])" />
                    </div>*@
                    <div class="form-group col-xs-12 col-sm-5 col-md-2">
                        <label class="control-label">Status</label>
                        <select id="status" name="Status" class="form-control input-sm">
                            <option value="OK" @(string.IsNullOrEmpty(Request.Form["Status"]) ? "" : Request.Form["Status"].Equals("OK") ? "selected='selected'" : "")>OK</option>
                            <option value="PR" @(string.IsNullOrEmpty(Request.Form["Status"]) ? "" : Request.Form["Status"].Equals("PR") ? "selected='selected'" : "")>PR</option>
                        </select>
                    </div>
                </div>
                <div class="ibox-footer text-right">
                    <button id="btnCerca" type="submit" class="btn btn-primary"> CERCA <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>DATA RESULT @(Sales == null ? string.Empty : ("(" + Sales.Count + ")"))</h5>
            <div class="ibox-tools">
                <a class="copy_clipboard" data-namefile="SALES" onclick="clipboard(this);" data-toggle="tooltip" title="" data-original-title="Copy to clipboard">
                    <i class="fa fa-file-excel-o fa-lg text-success" aria-hidden="true"></i>
                </a>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table id="table-result" class="table table-hover table-bordered" border="1" width="700px">
                <thead>
                    <tr>
                        @*<th align="center" style="min-width:40px;">Id</th>*@
                        <th align="center">Id</th>
                        <th align="center">Product</th>
                        <th align="center">Idreservation</th>
                        <th align="center">Purchase</th>
                       <th align="center">Admission</th>
                        <th align="center">Schedule</th>
                        <th align="center">Client</th>
                        <th align="center">Price</th>
                        <th align="center">Quantity</th>
                        <th align="center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        string tempType = "";
                        int tempTypeCount = 1;
                        int index = 0;
                        int breakSpan = 1;
                        int showTotal = 0;

                        //Totals
                        int sumQuantities = 0;
                        decimal sumTotals = 0;



                        if (Sales != null)
                        {
                            foreach (ReservationItemsReportAddons item in Sales)
                            {




<tr span="@breakSpan" idx="@index" align="center">
    <td>@item.ID</td>
    <td>@item.Product</td>
    <td>@Html.ActionLink(item.IdReservation.ToString(), "Summary", "Reservations", new { id = item.IdReservation }, new { @target = "_blank" })</td>
    <td>@item.Purchase</td>
    <td>@item.Admission</td>
    <td>@item.Schedule</td>
    <td>@item.Client</td>
    <td>@item.Price</td>
    <td>@item.Quantity</td>
    <td>@item.Total</td>

                    </tr>

                                }
                            }
                        }
                </tbody>
                <tfoot style="background: black; color: white;">
                    <tr class="totals-global font-bold">
                        <!--<td colspan="3" class="text-center" align="center">TOTALE COMPLESSIVO</td>-->
                        
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

    <!--loader-->
    <div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 100px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
                </div>
            </div>

        </div>
    </div>
</section>

<script src="/Scripts/clipboard.min.js"></script>
<script src="/Scripts/icheck.min.js"></script>

@section Scripts{
<script src="~/Scripts/report.js?rec='@rec'" type="text/javascript"></script>
    <script>
        var $clipboard = $(document).find(".copy_clipboard");
        var $form = $("#form-search");

       // var coupons_all = @Html.Raw(Json.Encode(Model.DiscountsCupons.Select(c => c.DiscountCoupon_Identifier.ToUpper()).Distinct()));
        //$("#discountcoupon").autocomplete({
        //    source: coupons_all
        //});

        $(document).ready(function () {
            $("#ProductType_Identifier").find('[value="admission"], [value="dynamic"], [value="hotel"], [value="promotion"], [value="subscription"]').remove();
            var $table = $('#table-result');
            //$table.footable();
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            $('.only-admission').trigger("ifChanged");
        });


        $('.only-admission').on('ifChanged', function (event) {
            //$(event.target).trigger('change');
            var isChecked = this.checked;
            if (isChecked) {
                $(".range-reservation :input").attr("disabled", "disabled");
                $('[name="Admission_Ini"]').rules('add', { required: true });
                $('[name="Admission_Fin"]').rules('add', { required: true });
            } else {
                $(".range-reservation :input").removeAttr("disabled");
                $('[name="Admission_Ini"]').rules('remove');
                $('[name="Admission_Fin"]').rules('remove');
            }
            return true;
        });

        $("#btnCerca").click(function () {
            if ($form.valid()) {
                $('#loader').modal('show');
            }
        });
    </script>
}