﻿@model BackOfficeAcquaJoss.Models.SchedulesModel

@{
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "schedule");
}

<section>
    <div class="clearfix">
        <div class="ibox-title">
            <h5><i class="fa fa-time"></i> Schedules</h5>
        </div>
        <div class="ibox-content clearfix">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-white active"><input id="newsletter" type="radio" name="option" value="all"> All</label>
                            <label class="btn btn-white"><input id="products" type="radio" name="option" value="products"> Products</label>
                            <label class="btn btn-white"><input id="addons" type="radio" name="option" value="addons"> Addons</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <input id="search-product" type="text" placeholder="Search product" class="input form-control" filterIntoTable="#table-products"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                        </span>
                    </div>

                    <table id="table-products" class="footable table table-stripped toggle-arrow-tiny" data-page-size="10" style="margin-top:20px;">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Product</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Core.Products p in Model.AllProducts)
                            {
                                <tr addon="@(p.Product_IsAddOn ? "true" : "false")">
                                    <td class="text-center">@p.Product_Id</td>
                                    <td>@p.ProductInfo_Name</td>
                                    <td class="text-center">
                                        <a class="btn-white btn btn-xs" href="/schedules/update/@p.Product_Id">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-8">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function ()
    {
        $('[name="option"]').on("change", function ()
        {
            var $table = $("#table-products tbody");
            var $rows = $table.find("tr");
            $rows.hide();
            switch (this.value) {
                case "products":
                    $table.find('tr[addon="false"]').show();
                    break;
                case "addons":
                    $table.find('tr[addon="true"]').show();
                    break;
                default:
                    $rows.show();
                    break;
            }
        });
    });
</script>