﻿@model Core.PriceModelTravel

@{
    string rec = DateTime.Now.ToString();
    ViewBag.Title = "Dematerialized";
    List<Core.PriceTravel> Elenco = Model.PriceTravelList;
    List<Core.ProductBaseInfo> Products = Model.TravelProducts;

    int ProdSel = Model.ProdSel;

    List<Core.ParkOperational> parkOperationalActive = ViewBag.parkOperationalActive;


    int CurrentParkOperational = ViewBag.ParkOp;

    Core.ParkOperational parkOperational = null;
}

<h2>Price Travel dematerialized</h2>


<input type="hidden" id="ProdSel" name="ProdSel" />
<div class="container">
    <div class="row">
        <div class="form-group col-sm-2">
            <label>Calendario</label>
            <select id="idParkOperational" name="idParkOperational" class="form-control">
                @*<option value=""></option>*@
                @if (parkOperationalActive != null)
                {
                    foreach (Core.ParkOperational item in parkOperationalActive)
                    {
                        <option value="@item.ParkOperational_Id" selected="@(parkOperational != null && parkOperational.ParkOperational_Id.Equals(item.ParkOperational_Id))">@item.ParkOperational_Code</option>
                    }
                }
            </select>
        </div>

        <div class="form-group col-sm-7"></div>

        <div class="form-group col-sm-1">
            <label>&nbsp;</label>
            <div>
                <button class="btn btn-primary" onclick="New()" type="button" data-toggle="modal" data-target="#modal-new">Nuovo</button>
            </div>
        </div>

        <div class="form-group col-sm-1"></div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-wandering-cubes">
            <div class="sk-cube1"></div>
            <div class="sk-cube2"></div>
        </div>

        <div class="container">
            <label style="display: inline;">&nbsp;Search:&nbsp;</label>
            <input id="search-user" type="text" style="width:300px; display: inline;" placeholder="" class="input form-control">
            <br /><br />


            <table id="table-packages" class="table table-hover table-bordered no-margins" data-filtering="true" style="width:100%;">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 10%;">Id</th>
                        <th class="text-center" style="width: 25%;">Biglietto</th>
                        <th class="text-center" style="width: 15%;">Prezzo Cliente</th>
                        <th class="text-center" style="width: 15%;">Prezzo Tmaster</th>
                        <th class="text-center" style="display:none;"></th>
                        <th class="text-center" style="width: 25%;">hotel</th>
                        <th class="text-center" style="width: 5%;">Save</th>
                        <th class="text-center" style="width: 5%;">Delete</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Core.PriceTravel elem in Elenco)
                    {
                        <tr>
                            <td style="width: 10%;">@elem.PriceTravel_Id</td>
                            <td id="Description_@elem.PriceTravel_Id" style="width: 25%;">@elem.PriceTravel_Description</td>
                            <td id="Price_@elem.PriceTravel_Id" style="width: 15%;">@elem.PriceTravel_Price</td>
                            <td id="Tmaster_@elem.PriceTravel_Id" style="width: 15%;">@elem.PriceTravel_Tmaster</td>
                            <td id="IdPackage_@elem.PriceTravel_Id" style="display:none;">@elem.PriceTravel_IdPackage</td>
                            <td id="IdPackage_Key_@elem.PriceTravel_Id" style="width: 25%;">@elem.PriceTravel_IdPackage_Key</td>
                            <td class="text-center" style="width: 5%;">
                                <button onclick="Select(@elem.PriceTravel_Id)"
                                        type="button" data-toggle="modal" data-target="#modal-new"
                                        class="btn btn-sm btn-white btn-save-coupon">
                                    <i class="fa @(elem != null ? "fa-pencil" : "fa-save")"></i>
                                </button>
                            </td>
                            <td align="center" style="width: 5%;">
                                <button class="btn btn-danger btn-sm btn-link btn-outline" onclick="Delete(@elem.PriceTravel_Id);"
                                        type="button" data-toggle="modal" data-target="#modal-new">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="modal-new-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <form id="form-insert" class="modal-form" validate="true" autocomplete="off">
                <input type="hidden" name="Id" value="0" />
                <div class="modal-body">
                    <input type="hidden" name="PriceTravel_Id" value="" />

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label id="Stagione"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label>Descrizione Biglietto</label>
                            <div>
                                <input id="DescriptionSel" class="form-control input-sm" type="text" maxlength="30" />
                            </div>
                        </div>

                        <div class="form-group col-sm-4">
                            <label>hotel</label>
                            <div>
                                @Html.DropDownList("Id", new SelectList(Products, "Id", "Key"), new { Id = "IdPackageSel", Name = "IdPackageSel", Class = "col-lg-12" })
                            </div>
                        </div>

                        <div class="form-group col-sm-2">
                            <label>Prezzo Cliente</label>
                            <input id="PriceSel" class="form-control input-sm num" type="text" />
                            <div>
                                <select id="PriceSelProp" class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-sm-2">
                            <label>Prezzo Tmaster</label>
                            <div>
                                <input id="TmasterSel" class="form-control input-sm num" type="text" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="SaveChanges" onclick="Save()">Save changes</button>
                    <button type="button" class="btn btn-danger" id="Delete" style="visibility: hidden;">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script type="text/javascript">

            var CurrentParkOperational = '@CurrentParkOperational';
            var ParkOpDesc = $("#idParkOperational option:selected").text();
            $("#Stagione").text("Calendario: " + ParkOpDesc);

            $("#idParkOperational").on("change", function () {
                var ParkOp = $("#idParkOperational option:selected").val();
                window.location.href = '/Products/Dematerialized?ParkOp=' + ParkOp;
            });

            $("#IdPackageSel").on("change", function () {
                $("#PriceSel").empty();
                $("#PriceSelProp").empty();

                var URL = "/Products/GetProductSeasonPrices";

                var ProductId = $("#IdPackageSel option:selected").val();

                var Info = {
                    ParkOperational: CurrentParkOperational,
                    ProductId: ProductId
                };

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    FillPrice(data);
                });

            });


            function FillPrice(data) {

                if (data.HighPrice == "0") {
                    $.error("ERRORE", "Listino prezzi non configurato per questo calendario");
                    return;
                }

                var HighPrice = data.HighPrice;
                var LowPrice = data.LowPrice;

                $("#PriceSelProp").append('<option value="0">' + LowPrice + "</option>'");
                $("#PriceSelProp").append('<option value="1">' + HighPrice + "</option>'");

            }


            $("#idProductSearch").change(function () {
                var pr = $(this).val();
                $('[name=ProdSel]').val(pr);
            });

            $("#idProductSearch").val('@ProdSel').prop('selected', true);

            $(document).ready(function () {

                $("#idParkOperational").val(CurrentParkOperational);

                //search:
                $("#search-user").on("keyup", function () {
                    $(".table").filterText(this.value);
                });

            });

            var ProdSel = @ProdSel;

            var ProdSel = 0;
            var SelectedItem = 0;

            function New()
            {
                ProdSel = 0;
                SelectedItem = 0;

                $("#DescriptionSel").val("").prop('selected', true);
                $("#PriceSel").val(0).prop('selected', true);
                $("#TmasterSel").val(0).prop('selected', true);
                $("#IdPackageSel").val(0).prop('selected', true);

                UnDelete();
            }

            function Select(Id)
            {
                SelectedItem = Id;
                ProdSel = @ProdSel;

                var Description = $("#Description_" + Id).html();
                var Price = $("#Price_" + Id).html();
                var Tmaster = $("#Tmaster_" + Id).html();
                var IdPackage = $("#IdPackage_" + Id).html();

                $("#DescriptionSel").val(Description);

                $("#PriceSel").val(Price);
                $("#PriceSelProp").empty();
                var URL = "/Products/GetProductSeasonPrices";

                var ProductId = IdPackage;

                var Info = {
                    ParkOperational: CurrentParkOperational,
                    ProductId: ProductId
                };

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    FillPrice(data);
                });

                $("#TmasterSel").val(Tmaster);
                $("#IdPackageSel").val(IdPackage);

                UnDelete();

            }

            function Save()
            {
                var Id = SelectedItem;

                var Description = $("#DescriptionSel").val();
                //var Price = $("#PriceSel option:selected").text();
                var Price = $("#PriceSel").val();
                Price = Price.replace(",", ".");

                var Tmaster = $("#TmasterSel").val().replace(",", ".");

                var IdPackage = $("#IdPackageSel").val();

                var URL = "/Products/";
                var Info;
                var msg;

                var idParkOperational = $("#idParkOperational").val();


                if (Id != 0)
                {
                    if ( Validation(Description, Price, Tmaster) != 0){return;}

                    //update
                    URL = URL + "UpdatePriceTravel";
                    Info = { Id: Id, Description: Description, Price: Price, Tmaster: Tmaster, IdPackage: IdPackage, idParkOperational: idParkOperational};
                    msg = "Salvataggio effettuato";
                }
                else
                {
                    //insert
                    if ( Validation(Description, Price, Tmaster) != 0){return;}

                    URL = URL + "InsertPriceTravel";
                    Info = { Description: Description, Price: Price, Tmaster: Tmaster, IdPackage: IdPackage, idParkOperational: idParkOperational};
                    msg = "Inserimento effettuato";
                }

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    $.warning("Avviso", msg);
                    window.location.href = '/Products/Dematerialized';
                });

            }

            function Validation(Description, Price, Tmaster)
            {
                if(Description == "")
                {
                    $.error("Errore","Descrizione obbligatoria");
                    return 1;
                }

                if(isNaN(Price)){
                    $.error("Errore","Prezzo Cliente non valido");
                    return 1;
                }

                if(Number(Price) == 0 )
                {
                    $.error("Errore","Prezzo Cliente obbligatorio");
                    return 1;
                }

                if(isNaN(Tmaster)){
                    $.error("Errore","Prezzo Tmaster non valido");
                    return 1;
                }

                if(Number(Tmaster) == 0 )
                {
                    $.error("Errore","Prezzo Tmaster obbligatorio");
                    return 1;
                }

                return 0;
            }

            function UnDelete() {
                $("#Delete").css("visibility", "hidden");
                $("#SaveChanges").css("visibility", "visible");
                EnableSel(false);
            }

            function Delete(value)
            {
                Select(value);

                $("#Delete").css("visibility", "visible");
                $("#SaveChanges").css("visibility", "hidden");
                EnableSel(true);
            }


            function EnableSel(value) {
                $("#DescriptionSel").prop('disabled', value);
                $("#PriceSel").prop('disabled', value);
                $("#PriceSelProp").prop('disabled', value);
                $("#TmasterSel").prop('disabled', value);
                $("#IdPackageSel").prop('disabled', value);
            }

            $("#PriceSelProp").on("click", function (e) {
                var PriceProp = $("#PriceSelProp option:selected").text();
                $("#PriceSel").val(PriceProp);
            });


            $("#Delete").on("click", function (e) {

                var URL = "/Products/DeletePriceTravel/";
                var Info = { Id: SelectedItem};

                var promise = $.post(URL, Info);

                promise.done(function (data) {
                    $.warning("Avviso", "Cancellazione effettuata");

                    //reload
                    window.location.href = '/Products/Dematerialized';
                });

            });

    </script>
}





