﻿@using Core;
@model List<DynamicPrice>
@{
    string rec = DateTime.Now.ToString();

    int Index = 0;
    List<SelectListItem> Years = ViewBag.Years;
    List<SelectListItem> Months = ViewBag.Months;
}

<div class="row">
    <form id="form" action="/products/DynPrices/">
        <div class="form-group col-md-2">
            <label>Anno</label>
            @Html.DropDownList("Year", new SelectList(Years, "Value", "Text"), new { @class = "form-control" })
        </div>

        <div class="form-group col-md-2">
            <label>Mese</label>
            @Html.DropDownList("Month", new SelectList(Months, "Value", "Text"), new { @class = "form-control" })
        </div>

        <div class="form-group col-md-2">
            <br />
            <button id="btnCerca" type="submit" class="btn btn-primary">
                CERCA <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="form-group col-md-6"></div>
    </form>

    <br />



    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>TICKET DYNAMIC PRICES</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table id="table-result" class="table table-bordered table-striped table-hover" style="width: 900px;">
                        <thead>
                            <tr>
                                <th class="center" style="width: 200px;">Data</th>
                                <th class="center" style="width: 200px;">Giorno</th>
                                <th align="center" style="width: 200px;">Prezzo Intero</th>
                                <th align="center" style="width: 200px;">Prezzo Ridotto</th>
                                <th align="center" style="width: 100px;">Save</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DynamicPrice item in Model)
                            {
                                string Day = Impostazioni.ConvertiDataDateFormatTwo(item.Data).DayOfWeek.ToString();
                                string ItDay = Impostazioni.ItalianDay(Day);

                                Index = Convert.ToInt32(item.Data.Substring(0, 2));

                                <tr>
                                    <td>@item.Data</td>
                                    <td>@ItDay</td>
                                    <td><input style="width: 100px;" id="Price1_@Index" type="text" onkeydown="return NumbersDecimal(event)" value="@item.Price1" /></td>
                                    <td><input style="width: 100px;" id="Price2_@Index" type="text" onkeydown="return NumbersDecimal(event)" value="@item.Price2" /></td>
                                    <td style="text-align:center;">
                                        <button id="Save_@Index" onclick="SavePrice(@Index)" type="button" class="btn btn-sm btn-white btn-save-coupon">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>

</div>

<!--loader-->
<div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 100px;">
        <div class="modal-content">
            <div class="modal-body">
                <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
    <script type="text/javascript">

        var Year;
        var Month;

        //default
        $("#btnCerca").prop("disabled", true);


        $("#btnCerca").on("click", function () {
            $('#loader').modal('show');
            var URL = "/Products/VerifyParkOpen";

            Year = $("#Year").val();
            Month = $("#Month").val();
            var MonthDes = $("#Month option:selected").text();

            var Info = { Year: Year, Month: Month };

            var promise = $.post(URL, Info);
            promise.done(function (data) {
                $('#loader').modal('hide');
                if (data == "KO") {
                    alert(MonthDes + " " + Year + " non ha giorni di apertura");
                }

            });
        });


        $("#Month").change(function () {
            EnableSearch();
            $("#table-result").empty();
        });

        $("#Year").change(function () {
            EnableSearch();
            $("#table-result").empty();
        });


        function EnableSearch() {
            Month = $("#Month").val();
            Year = $("#Year").val();

            if (Month == 0 || Year == 0) {
                $("#btnCerca").prop("disabled", true);
            }
            else {
                $("#btnCerca").prop("disabled", false);
            }
        }

        function SavePrice(Index) {
            Year = $("#Year").val();
            Month = $("#Month").val();

            var Price1 = $("#Price1_" + Index).val();
            var Price2 = $("#Price2_" + Index).val();

            Price1 = Price1.replace(",", ".");
            Price2 = Price2.replace(",", ".");

            //validation
            if (Price1 == '' || Number(Price1) == 0 || isNaN(Price1)) {
                $.error("Errore", "Giorno: " + Index + " Prezzo Intero non valido");
                return;
            }

            if (Price2 == '' || Number(Price2) == 0 || isNaN(Price2)) {
                $.error("Errore", "Giorno: " + Index + " Prezzo Ridotto non valido");
                return;
            }


            $('#loader').modal('show');

            var URL = "/Products/UpdateDynamicPrice";
            var Info = { Year: Year, Month: Month, Index: Index, Price1: Price1, Price2: Price2 };
            var promise = $.post(URL, Info);

            promise.done(function (data) {
                $('#loader').modal('hide');
                if (data == "OK") {
                    $.success("AVVISO", "salvataggio effettuato");
                }

            });
        }

    </script>
}
