﻿@model BackOfficeAcquaJoss.Models.PricesModel
@{
    List<Core.ParkOperational> parkOperationalList = Model.ParkOperationalList;
    List<Core.SalesChannel> salesChannelList = Model.SalesChannelList;
    List<Core.PriceList> priceList = Model.PriceList;
    List<Core.Products> productsList = Model.ProductsList;
    Core.PriceList priceListSelected = Model.PriceListSelected;

    if(priceListSelected == null ){
        priceListSelected = new Core.PriceList();
    }

    var priceListSelectedForJson = new
    {
        PriceList_Id = priceListSelected.PriceList_Id,
        PriceList_IdParkOperational = priceListSelected.PriceList_IdParkOperational,
        PriceList_Name = priceListSelected.PriceList_Name,
        PriceList_Status = priceListSelected.PriceList_Status,
        PriceList_CreationDate = priceListSelected.PriceList_CreationDate,
        PriceListSalesChannelList = priceListSelected.PriceListSalesChannelList
    };

    var priceListForJson = priceList.Select(i => new
    {
        PriceList_Id = i.PriceList_Id,
        PriceList_IdParkOperational = i.PriceList_IdParkOperational,
        PriceList_Name = i.PriceList_Name,
        PriceList_Status = i.PriceList_Status,
        PriceList_CreationDate = i.PriceList_CreationDate,
        PriceListSalesChannelList = i.PriceListSalesChannelList
    }).ToList();

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "price");
}
<style>
    .label.error {
        display: none !important;
    }

    #salesChannel .active{
        background: #1ab394;
        color: white;
    }
</style>
<div class="row">
    <div class="col-sm-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5><i class="fa fa-money"></i> Prices</h5>
                <div class="ibox-tools">
                    <a data-toggle="modal" class="btn btn-primary btn-xs" href="#modal-list">Add new list</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="input-group">
                    <input id="search-price" type="text" placeholder="Search Seasson" class="input form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"> <i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover m-n">
                        <thead>
                            <tr>
                                <th class="text-center">List</th>
                                <th class="text-center">Seasson</th>
                                <th class="text-center">Channels</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Core.PriceList pl in priceList) {
                                <tr>
                                    <td>@pl.PriceList_Name</td>
                                    <td>@parkOperationalList.Find(p => p.ParkOperational_Id.Equals(pl.PriceList_IdParkOperational)).ParkOperational_Code</td>
                                    <td class="text-center">@string.Join(" - ", salesChannelList.Where(sc => pl.PriceListSalesChannelList.Where(plscl => plscl.PriceListSalesChannel_Status.Equals(true)).Select(plsc => plsc.PriceListSalesChannel_Channel).ToList().Contains(sc.SaleChannel_Identifier)).Select(c => c.SaleChannel_Identifier))</td>
                                    <td class="switch">
                                        <div class="onoffswitch" style="margin:auto;">
                                            <input id="PriceList_Status_@pl.PriceList_Id"
                                                   pricelist_id="@pl.PriceList_Id"
                                                   name="PriceList_Status_@pl.PriceList_Id"
                                                   class="onoffswitch-checkbox change_state_pricelist"
                                                   checked="@pl.PriceList_Status"
                                                   type="checkbox" />
                                            <label class="onoffswitch-label" for="PriceList_Status_@pl.PriceList_Id">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a id-list="@pl.PriceList_Id" class="btn btn-default btn-xs" href="#modal-list" data-toggle="modal"><i class="fa fa-pencil" title="Update" data-toggle="tooltip"></i></a>
                                            <a class="btn btn-default btn-xs" href="/products/prices/@pl.PriceList_Id" title="List Prices" data-toggle="tooltip"><i class="fa fa-list" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    <span>@(priceListSelected != null && priceListSelected.PriceList_Id != 0 ? priceListSelected.PriceList_Name : "Price List")</span>
                    @if (priceListSelected != null)
                    {
                        <small class="text-info" style="display:block;">@string.Join(" - ", salesChannelList.Where(sc => priceListSelected.PriceListSalesChannelList.Where(pls => pls.PriceListSalesChannel_Status.Equals(true)).Select(plsc => plsc.PriceListSalesChannel_Channel).ToList().Contains(sc.SaleChannel_Identifier)).Select(c => c.SaleChannel_Name))</small>
                    }
                </h5>
                <div class="ibox-tools">
                    <a class="btn btn-primary btn-xs" href="/products/prices/">BACK</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Product</th>
                                <th class="text-center">Price High</th>
                                <th class="text-center">Price Low</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Core.Products p in productsList)
                            {
                                Core.Prices price = null;
                                if (priceListSelected != null && priceListSelected.PriceList_Id != 0)
                                {
                                    price = priceListSelected.PriceList_Prices.Find(pl => pl.Price_IdProduct.Equals(p.Product_Id));
                                }
                                <tr>
                                    <td>
                                        @p.Product_Id
                                    </td>
                                    <td>
                                        @p.Product_Key<br />
                                        <small class="text-muted">@Html.Raw(p.Product_Name)</small>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">@Global.CultureInfo.NumberFormat.CurrencySymbol</span>
                                            <input type="text" name="Price_High" class="form-control input-sm num" value="@(price != null ? price.Price_High.ToString(Global.CultureInfo) : string.Empty)" @(priceListSelected != null && priceListSelected.PriceList_Id != 0 ? string.Empty : "disabled") />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">@Global.CultureInfo.NumberFormat.CurrencySymbol</span>
                                            <input type="text" name="Price_Low" class="form-control input-sm num" value="@(price != null ? price.Price_Low.ToString(Global.CultureInfo) : string.Empty)" @(priceListSelected != null && priceListSelected.PriceList_Id != 0 ? string.Empty : "disabled")/>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <input id="status_@p.Product_Id"
                                               name="Price_Status"
                                               type="checkbox"
                                               checked="@(price != null && price.Price_Status)"
                                               value="@(price != null && price.Price_Status ? "true" : "false")"
                                               @(priceListSelected != null && priceListSelected.PriceList_Id != 0 ? string.Empty : "disabled") />
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="Price_IdProduct" value="@p.Product_Id" />
                                        <input type="hidden" name="Price_CurrencyCode" value="EUR" />
                                        <button type="button"
                                                class="btn btn-sm btn-white btn-save-price"
                                                price_id ="@(price != null ? price.Price_Id : 0)"
                                                @(priceListSelected != null && priceListSelected.PriceList_Id != 0 ? string.Empty : "disabled")>
                                            <i class="fa @(price != null ? "fa-pencil" : "fa-save")"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-list" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content animated fadeIn" action="/Products/InsertOrUpdateListPrice" method="post">
            <input id="PriceList_Id" name="PriceList_Id" type="hidden" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    @Html.EditorFor(m => Core.PriceList.Instance().PriceList_Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
                <div class="form-group">
                    <label>Calendar</label>
                    @{
                        List<SelectListItem> parkOperationalSelectList = new List<SelectListItem>();
                        parkOperationalSelectList.Add(new SelectListItem() {
                            Text = string.Empty,
                            Value = string.Empty
                        });

                        foreach (Core.ParkOperational po in parkOperationalList)
                        {
                            parkOperationalSelectList.Add(new SelectListItem()
                            {
                                Text = po.ParkOperational_Code,
                                Value = po.ParkOperational_Id.ToString()
                            });
                        }
                        @Html.DropDownListFor(m => Core.PriceList.Instance().PriceList_IdParkOperational, parkOperationalSelectList, null, new { @class = "form-control", @required = "required" });
                    }
                </div>
                <div class="form-group">
                    <label>Sales Channel</label>
                    <div>
                        <div id="salesChannel" data-toggle="buttons" class="btn-group">
                            @foreach (Core.SalesChannel s in salesChannelList)
                            {
                               <label class="btn btn-sm btn-white" idSaleChannel="@s.SaleChannel_Id"><input type="checkbox" name="SelectedSalesChannelList" value="@s.SaleChannel_Identifier">@s.SaleChannel_Name</label>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div>
                        @Html.EditorFor(m => Core.PriceList.Instance().PriceList_Status, new { htmlAttributes = new { @class = "js-switch", @type = "checkbox", @data_switchery = "true" } })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-close" class="btn btn-white" type="button" data-dismiss="modal">Close</button>
                <button id="btn-save" class="btn btn-primary" type="submit" style="display:none" disabled>SAVE <i class="fa fa-save"></i></button>
                <button id="btn-update" class="btn btn-primary" type="submit" style="display:none">UPDATE <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>

<script>
    var salesChannelList = @Html.Raw(Json.Encode(salesChannelList));
    var priceListSelected = @Html.Raw(Json.Encode(priceListSelectedForJson));
    var priceList = @Html.Raw(Json.Encode(priceListForJson));
    console.log(priceListSelected);
    console.log(priceList);
    $(document).ready(function ()
    {
        $(".change_state_pricelist").on("change", function (){
            var status = this.checked;
            $.post("/Products/ChangePriceListStatus/", {
                pricelist_id: $(this).attr("pricelist_id"),
                pricelist_status: status
            }, function (res){
                res == 1 ? $.success("SUCCESS", "La lista de precios se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "Surgio un error inesperato intentelo mas tarde");
            }).fail(function (response, status, xhr)
            {
                console.log(response, status, xhr);
            });
        });

        $('#modal-list').on('show.bs.modal', function (e)
        {
            var $modal = $(e.target);
            var id_list = $(e.relatedTarget).attr("id-list");
            $modal.clear();
            $modal.find(".modal-footer .btn:not(#btn-close)").hide();
            if (id_list) {
                var p = priceList.find(l => l.PriceList_Id == id_list);
                console.log(p);
                $modal.setValues(p);
                $modal.find("#PriceList_IdParkOperational").trigger("change");
                $.each(p.PriceListSalesChannelList, function(){
                    if(this.PriceListSalesChannel_Status){
                        $modal.find('[name="SelectedSalesChannelList"][value="' + this.PriceListSalesChannel_Channel + '"]').prop("checked", true).parent().addClass("active").removeAttr("disabled");
                    }
                });
                $modal.find("#btn-update").show();
                $modal.find("#PriceList_Id").val(id_list);
            } else {
                $modal.find("#PriceList_Id").val(0);
                $modal.find("#btn-save").show();
            }
        }).on("change", "#PriceList_IdParkOperational", function(){
            var listSalesSaved = [];
            var id_parkOperational = this.value;
            $("#btn-save").prop("disabled", true);
            $('#salesChannel label').removeAttr("disabled").removeClass("active");
            if(id_parkOperational){
                $.each(priceList.filter(l => l.PriceList_IdParkOperational == id_parkOperational), function(){
                    $.each(this.PriceListSalesChannelList, function(){
                        if(this.PriceListSalesChannel_Status) listSalesSaved.push(this.PriceListSalesChannel_IdSaleChannel);
                    });
                });

                $.each(listSalesSaved, function(i, v){
                    var $label = $('#salesChannel label[idsalechannel="' + v + '"]');
                    if(!$label.hasClass("active")) $label.attr("disabled", true);
                });
            }
        }).on("change", "[name='SelectedSalesChannelList']", function(){
            $("#btn-save").prop("disabled", !$('#salesChannel :checkbox:checked').length);
        });

        $(".btn-save-price").on("click", function(){
            var $btn = $(this);
            var $row = $btn.closest("tr");
            console.log($row, priceListSelected, priceListSelected.PriceList_Id); // &&  $row.valid()
            if(priceListSelected && priceListSelected.PriceList_Id){
                var values = $row.getValues();
                values._Price_High = values.Price_High.toString();
                values._Price_Low = values.Price_Low.toString();
                values.Price_Id = $btn.attr("price_id");
                values.Price_IdPriceList = priceListSelected.PriceList_Id;
                console.log(values);
                $.post("/Products/InsertOrUpdatePrice", values, function (res){
                    if (res != 0) {
                        $btn.find(".fa").removeClass("fa-save").addClass("fa-pencil");
                        $.success("SUCCESS", values.Price_Id != 0 ? "Price updated successfully" : "Price saved successfully");
                    } else {
                        $.error("ERROR", "An unexpected error occurred, try later");
                    }
                });
            }
        });
    });
</script>