﻿@model BackOfficeAcquaJoss.Models.ProductsModel
@using Core.Resources;
@{
    int size = 10;
    double index = 0;
    double page = 0;

    int Product_id = 0;

    int CurrentParkOperational = ViewBag.CurrentParkOperational;
    List<Core.ParkOperational> parkOperationalActive = ViewBag.parkOperationalActive;
    Core.ParkOperational parkOperational = null;

    List<Core.ProductsTypes> productsTypes = Model.ProductsTypes.FindAll(pt => pt.ProductType_Type.Equals(Core.ProductType.PRODUCT));
    List<Core.Products> products = Model.Products;

    if (Model.Product == null)
    {
        Model.Product = new Core.Products();
    }
    else
    {
        Product_id = Model.Product.Product_Id;
        products = products.Where(x => x.Product_Id == Product_id).ToList();

        index = products.FindIndex(s => s.Product_Id.Equals(Model.Product.Product_Id)) + 1;
        page = index > 0 ? (index / size) : 0;
        page = Math.Ceiling(page);
    }



    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", Products.lblSection);
}

@section Css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
}

<section id="createProduct" class="createProduct" product_id="@(Model.Product != null ? Model.Product.Product_Id.ToString() : string.Empty)" typeSelected="@(Model.Product != null && Model.Product.Product_Id != 0 ? Model.Product.Product_ProductType.ProductType_Identifier : string.Empty)">
    <div class="clearfix">
        <div class="ibox-title">
            <h5><i class="fa fa-ticket"></i> PRODOTTI PRINCIPALI</h5>
            <div class="ibox-tools">
                <a class="btn btn-primary btn-xs" href="/products/product">Nuovo Prodotto</a>
            </div>
        </div>
        <div class="ibox-content clearfix">
            <div class="row">
                <div class="col-md-6">
                    <table id="table-products" class="table table-order fixed_header table-stripped table-hover toggle-arrow-tiny" data-show-toggle="false" data-index="@index" data-paging="false" data-paging-size="@size" data-paging-current="@page" data-filtering="true" data-sorting="true" style="display:none;">
                        <thead>
                            <tr>
                                <th align="center" style="width: 100px;" data-sorted="false">ID</th>
                                <th align="center" style="width: 100px;" data-type="number" data-visible="false" data-sortable="true" data-sorted="true">Order</th>
                                <th align="center" data-sorted="false">@Products.Product_Key</th>
                                <th align="center" data-sorted="false">@Products.Product_Status</th>
                                <th data-name="productsTypes" data-visible="false" align="center" data-sorted="false">Types</th>
                                <th align="center" style="width: 180px;">@General.lblActions</th>
                            </tr>
                        </thead>
                        <tbody class="sortable" data-table="@Core.Products.TABLE" data-keyId="Product_Id" data-keyValue="Product_Order">
                            @{
                                foreach (Core.Products Product in products)
                                {
                                    <tr id="@Product.Product_Id" index="@Product.Product_Order" class="@(Product.Product_Id == Model.Product.Product_Id  ? "active" : string.Empty) sortable-item" type="@Product.Product_ProductType.ProductType_Identifier" data-id_product="@Product.Product_Id">
                                        <td align="center" style="width: 100px;">
                                            <div class="order-arrow">
                                                <span class="index">@Product.Product_Order</span>
                                            </div>
                                            @Product.Product_Id
                                        </td>
                                        <td>@Product.Product_Order</td>
                                        <td>@Product.Product_Key</td>
                                        <td class="switch">
                                            <div class="onoffswitch" style="margin:auto;">
                                                <input id="Product_Status_@Product.Product_Id"
                                                       product_id="@Product.Product_Id"
                                                       name="Product_Status_@Product.Product_Id"
                                                       class="input-sm onoffswitch-checkbox change_state_product"
                                                       checked="@Product.Product_Status"
                                                       type="checkbox" />
                                                <label class="onoffswitch-label" for="Product_Status_@Product.Product_Id">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td align="center">@Product.Product_Type.ToLower()</td>
                                        <td align="center" style="width: 180px;">
                                            <div class="btn-group">
                                                <a class="@(Product.Product_Id == Model.Product.Product_Id  ? "active" : string.Empty) btn-default btn btn-xs" href="/products/update/@Product.Product_Id">Edit</a>
                                                <button data-product-id="@Product.Product_Id" data-url="@Url.Action("UpdateInfo","Products")" data-section="section#ProductInfo" class="btn-white btn btn-xs btn-updateInfo" data-toggle="modal" data-target="#ModalProductInfo">Content</button>
                                                @if (Product.Product_ProductType.ProductType_Identifier.Equals(Core.ProductIdentifier.Hotel))
                                                {
                                                    <button data-product-id="@Product.Product_Id" data-url="@Url.Action("HotelInfo","Products")" data-section="section#HotelInfo" class="btn-white btn btn-xs btn-updateHotel" data-toggle="modal" data-target="#ModalHotel">Hotel</button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <form id="form-product" action="/Products/InsertOrUpdate" method="post" validate="true">
                        @Html.HiddenFor(model => Model.Product.Product_Id)

                        <input type="hidden" id="ParkOp" name="ParkOp" value="@CurrentParkOperational" />

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label>Tipo</label>
                                @{
                                    List<SelectListItem> productsTypesSelectList = new List<SelectListItem>();
                                    productsTypesSelectList.Add(new SelectListItem()
                                    {
                                        Text = string.Empty,
                                        Value = string.Empty
                                    });

                                    foreach (Core.ProductsTypes pt in productsTypes)
                                    {
                                        productsTypesSelectList.Add(new SelectListItem()
                                        {
                                            Text = pt.ProductType_Identifier.ToUpper(),
                                            Value = pt.ProductType_Identifier,
                                            Selected = (Model.Product != null && Model.Product.Product_Id != 0 && Model.Product.Product_Type.Equals(pt.ProductType_Identifier))
                                        });
                                    }
                                    @Html.DropDownListFor(model => Model.Product.Product_Type, productsTypesSelectList, null, new { @class = "form-control input-sm", @required = "required" });
                                }
                            </div>

                            <div class="form-group col-sm-2">
                                <label>Calendario</label>
                                <select id="idParkOperational" name="idParkOperational" class="form-control">
                                    @*<option value=""></option>*@
                                    @if (parkOperationalActive != null)
                                    {
                                        foreach (Core.ParkOperational item in parkOperationalActive)
                                        {
                                            <option value="@item.ParkOperational_Id" selected="@(parkOperational != null && parkOperational.ParkOperational_Id.Equals(item.ParkOperational_Id))">@item.ParkOperational_Code</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-sm-3">
                                <label>Prezzo alto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    <input type="text" id="HighPrice" name="HighPrice" class="form-control input-sm num">
                                </div>
                            </div>


                            <div class="form-group col-sm-3">
                                <label>Prezzo basso</label>
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    <input type="text" id="LowPrice" name="LowPrice" class="form-control input-sm num">
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(model => Model.Product.Product_Article)
                                @Html.EditorFor(model => Model.Product.Product_Article, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>

                            <div class="form-group col-sm-6">
                                @Html.LabelFor(model => Model.Product.Product_Offer)
                                @Html.EditorFor(model => Model.Product.Product_Offer, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(model => Model.Product.Product_ProviderCode)
                                @Html.EditorFor(model => Model.Product.Product_ProviderCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>

                            <div class="form-group col-sm-6">
                                @Html.LabelFor(model => Model.Product.Product_ProviderParameter)
                                @Html.EditorFor(model => Model.Product.Product_ProviderParameter, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-8">
                                @Html.LabelFor(model => Model.Product.Product_Key)
                                @Html.EditorFor(model => Model.Product.Product_Key, new { htmlAttributes = new { @class = "form-control input_key input-sm", @required = "required" } })
                            </div>

                            <div class="form-group col-sm-2">
                                <label>Iva</label>
                                @Html.EditorFor(model => Model.Product.Product_Vat, new { htmlAttributes = new { @class = "form-control input_key input-sm" } })
                            </div>

                            <div class="form-group col-sm-2">
                                <label>Stato</label>
                                <div>
                                    @Html.EditorFor(model => Model.Product.Product_Status, new { htmlAttributes = new { @class = "js-switch input-sm", @type = "checkbox", @data_switchery = "true" } })
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-b-sm">
                            @Html.LabelFor(model => Model.Product.Product_Note)
                            <div class="editor">
                                @Html.TextAreaFor(model => Model.Product.Product_Note, new { @class = "form-control text_editor", @cols = "20", @rows = "6" })
                            </div>
                            @if (Model.Product != null && Model.Product.Product_CreationDate != null)
                            {
                                <div><small><b>@Products.Product_CreationDate: </b>@Model.Product.Product_CreationDate.ToString()</small></div>
                            }
                        </div>

                        <div id="buttons" class="text-right">
                            @if (Model.Product.Product_Id != 0)
                            {
                                <button data-product-id="@Model.Product.Product_Id" data-url="@Url.Action("UpdateInfo","Products")" data-section="section#ProductInfo" class="btn-white btn btn-updateInfo" data-toggle="modal" data-target="#ModalProductInfo">Content</button>

                                if (Model.Product.Product_ProductType.ProductType_Identifier.Equals(Core.ProductIdentifier.Hotel))
                                {
                                    <button data-product-id="@Model.Product.Product_Id" data-url="@Url.Action("HotelInfo", "Products")" data-section="section#HotelInfo" class="btn-white btn btn-updateHotel" data-toggle="modal" data-target="#ModalHotel">Hotel</button>
                                }
                            }
                            <button type="submit" class="btn btn-primary btn-save" id="BtnSave">
                                @Html.Raw(Model.Product.Product_Id == 0 ? "<i class='fa fa-save'></i> " + General.lblSave : "<i class='fa fa-pencil-square-o'></i> " + General.lblUpdate)
                            </button>
                            <button id="btn-next" type="button" class="btn btn-default" style="display:none;">
                                NEXT <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ProductInfo"></section>

<section id="HotelInfo"></section>

<div class="footer" style="bottom:0px;">
    <div class="pull-left">
        @Products.lblSection: <b>@Model.Products.Count</b>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

    <script>
        var currrentTab = null;

        var $targetModal = $('#ModalHotel');
        var $targetForm = $('#frmHotelInfo');
        var $table      = $('#table-products');

        var productsTypes = @Html.Raw(Json.Encode(productsTypes));
        var product_list = @Html.Raw(Json.Encode(products));

        var CurrentParkOperational = '@CurrentParkOperational';
        var ProductId = '@Product_id';

        var HighPrice = '@ViewBag.HighPrice';
        var LowPrice = '@ViewBag.LowPrice';

        $("#idParkOperational").on("change", function ()
        {

            if (this.value != CurrentParkOperational)
            {
                CurrentParkOperational = this.value;
                $("#ParkOp").val(CurrentParkOperational);


                var URL = "/Products/GetProductSeasonPrices";

                var Info = {
                    ParkOperational: CurrentParkOperational,
                    ProductId: ProductId
                };

                var promise = $.post(URL, Info);

                promise.done(function (data) {

                    if (data == "KO") {
                        $.error("ERRORE", "Listino prezzi non configurato per questa stagione");
                        return;
                    }

                    HighPrice = data.HighPrice;
                    LowPrice = data.LowPrice;
                    $("#HighPrice").val(HighPrice);
                    $("#LowPrice").val(LowPrice);
                });


            }
        });

        $("#BtnSave").click(function(e){
            //main product validations
            var codart = $("#Product_Product_Article").val();
            var codoff = $("#Product_Product_Offer").val();

            if (codart.length > 0 && codoff.length > 0) {
                  $.error("Errore","Immettere o l'articolo o l'offerta");
                  e.preventDefault();
            }


            var hp = $("#HighPrice").val().replace(",",".");
            var lp = $("#LowPrice").val().replace(",",".");

            var iva = $("#Product_Product_Vat").val();

            if (isNaN(iva) || Number(iva) == 0)
            {
                $.error("Errore","Iva obbligatoria");
                e.preventDefault();
            }


            //if (isNaN(hp) || Number(hp) == 0)
            //{
            //    $.error("Errore","Immettere il prezzo alto");
            //    e.preventDefault();
            //}

            //if (isNaN(lp) || Number(lp) == 0)
            //{
            //    $.error("Errore","Immettere il prezzo basso");
            //    e.preventDefault();
            //}

        })

        $(document).ready(function () {
            //curent season
            $("#idParkOperational").val(CurrentParkOperational);
            $("#HighPrice").val(HighPrice);
            $("#LowPrice").val(LowPrice);

            FooTable.MyFiltering = FooTable.Filtering.extend({
                construct: function(instance){
                    this._super(instance);
                    this.productsTypes = productsTypes.map(pt => pt.ProductType_Identifier);
                    this.def = 'ALL';
                    this.$status = null;
                },
                $create: function(){
                    this._super();
                    var self = this,
                        $form_grp = $('<div/>', { 'class': 'form-group' })
                            .append("<a class='btn btn-primary btn-xs' href='/products/update'>Tutti</a>")
                            .append($('<label/>', {'class': 'sr-only', text: 'productsTypes'}))
                            .prependTo(self.$form);

                    self.$status = $('<select/>', { 'class': 'form-control input-sm' })
                        .on('change', {self: self}, self._onStatusDropdownChanged)
                        .append($('<option/>', {text: self.def}))
                        .appendTo($form_grp);

                    $.each(self.productsTypes, function(i, status){
                        self.$status.append($('<option/>').text(status.toUpperCase()).val(status));
                    });
                },
                _onStatusDropdownChanged: function(e){
                    var self = e.data.self,
                        selected = $(this).val();
                    if (selected !== self.def){
                        self.addFilter('productsTypes', selected, ['productsTypes']);
                    } else {
                        self.removeFilter('productsTypes');
                    }
                    self.filter();
                },
                draw: function(){
                    this._super();
                    var status = this.find('productsTypes');
                    if (status instanceof FooTable.Filter){
                        this.$status.val(status.query.val());
                    } else {
                        this.$status.val(this.def);
                    }
                }
            });
            FooTable.components.register('filtering', FooTable.MyFiltering);
            var $sortable = $table.find("tbody");
            $table.footable({
                on: {
                    "postdraw.ft.table" : function() {
                        var filtering = FooTable.get($table).use(FooTable.Filtering);
                        if(filtering && filtering.filters.length){
                            $sortable.sortable("disable");
                            $table.find(".order-arrow").toggleClass("disabled");
                        }else{
                            $sortable.sortable("enable");
                            $table.find(".order-arrow").addClass("show");
                            $table.find(".order-arrow").removeClass("disabled");
                        }
                    }
                }
            });
            $(".sortable").sortableDB(".sortable-item");

            $(document).on("change", ".change_state_product", function () {
                var status = this.checked;
                $.post("/Products/ChangeStatus/", {
                    product_id: $(this).attr("product_id"),
                    product_status: status
                }, function (res){
                    res == 1 ? $.success("SUCCESS", "El producto se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "");
                }).fail(function (response, status, xhr)
                {
                    console.log(response, status, xhr);
                });
            });

            $(document).on("click", ".btn-updateInfo, .btn-updateHotel", function (e) {
                e.preventDefault();
                var $btn = $(this);
                var $section = $($btn.data("section"));
                var url = $btn.data("url");
                var product_id = $btn.data("product-id");
                var product = product_list.find(p => p.Product_Id == product_id);
                $btn.button('loading');
                $section.empty();

                var Info = {product: product, HighPrice: HighPrice, LowPrice: LowPrice, ParkOp: CurrentParkOperational};
                $.post(url, Info, function (response) {
                    $btn.button('reset');
                    $section.html(response);
                }).fail(function (response, status, xhr) {
                    console.log(response, status, xhr);
                });
            });


        });
    </script>
}
