﻿@using Core;
@using System;
@using System.Collections;
@using MainModel = BackOfficeAcquaJoss.Models.MainModel;
@using General = Core.Resources.General
@model BackOfficeAcquaJoss.Models.HotelAllotmentModel
@{
    string aa = DateTime.Now.Year.ToString();
    string mm = DateTime.Now.Month.ToString();
    string dd = DateTime.Now.Day.ToString();
    string DataOggi = Impostazioni.Adatta(mm) + "/" + Impostazioni.Adatta(dd) + "/" + aa;

    Boolean IsValidAllotment = false;
    string RequestHotelId = Request.Form["HotelAllotment_IdHotel"];
    string RequestPriceId = Request.Form["HotelAllotment_Price_Id"];
    //List<Prices> prices = Model.Prices;
    List<ParkOperational> parkOperationalList = Model.ParkOperationalList;

    List<ParkOperational> parkOperationalActive = parkOperationalList;
    ParkOperational parkOperational = null;

    List<int> parkOperationalIds = parkOperationalList.Select(i => i.ParkOperational_Id).ToList();
    List<PriceList> pricesList = PriceList.Instance().GetPriceList(new Hashtable() { { "PriceList_Status", true } }).FindAll(i => parkOperationalIds.Contains(i.PriceList_IdParkOperational)).ToList();
    List<ParkCalendar> parkCalendarList = Model.ParkCalendarList;
    List<HotelAllotments> hotelAllotments = Model.HotelAllotments;
    List<ParkSchedules> parkSchedulesList = Model.ParkSchedulesList;
    IsValidAllotment = (hotelAllotments != null && hotelAllotments.Count > 0 ? true : false);

    MainModel mainModel = new MainModel();
    List<Core.ProductsTypes> productsTypes = mainModel.ProductsTypes.FindAll(pt => pt.ProductType_Type.Equals(Core.ProductType.PRODUCT));
    List<Hotels> hotels = mainModel.Hotels;

    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "Allotments");
}

@section  Css{
    <style>
        .row-new .form-control {
            display: inline-block;
            margin-right: 25px;
        }

        .fixed_header {
            width: 400px;
            table-layout: fixed;
            border-collapse: collapse;
        }

            .fixed_header > tbody::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }

            .fixed_header > tbody::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 12px;
            }

            .fixed_header > tbody::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            .fixed_header > tbody {
                display: block;
                width: 100%;
                height: 495px;
                overflow: auto;
            }

                .fixed_header > tbody:hover {
                    overflow: auto;
                }

                .fixed_header > tbody .footable-empty {
                    width: 100%;
                    display: inline-table;
                }

            .fixed_header > thead tr:last-child {
                display: block;
            }

            .fixed_header > thead .footable-filtering th {
                width: 100%;
                display: block;
            }

            .fixed_header th, .fixed_header td {
                padding: 5px;
                /*text-align: left;*/
                width: 200px;
            }
    </style>
}

<!--@**@Html.Raw(Json.Encode(parkOperationalIds)) -->
<!-- @**@Html.Raw(Json.Encode(pricesList)) -->

<div class="row">
    <div class="row col-sm-3" style="margin: 5px;">
        <label>Calendario</label>
        <select id="idParkOperational" name="idParkOperational" class="form-control">
            <option value=""></option>
            @if (parkOperationalActive != null)
            {
                foreach (ParkOperational item in parkOperationalActive)
                {
                    <option value="@item.ParkOperational_Id" selected="@(parkOperational != null && parkOperational.ParkOperational_Id.Equals(item.ParkOperational_Id))">@item.ParkOperational_Code</option>
                }
            }
        </select>
    </div>
</div>


<div class="row">
    <div id="search" class="ibox" style="display:none;">
        <div class="ibox-title">
            <h5><i class="fa fa-hotel"></i> HOTELS </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up hide"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form id="form-search" validate="true" autocomplete="off" method="post">
                <div class="row">
                    <div class="form-group col-xs-6 col-sm-6">
                        Hotel
                        @{
                            string IdHotel = RequestHotelId;
                            Model.HotelsItems_Index = (string.IsNullOrEmpty(IdHotel) ? default(int) : int.Parse(IdHotel));
                        }
                        @Html.DropDownListFor(model => model.Products.FirstOrDefault().Product_Id, Model.HotelsItems, new { Id = "HotelAllotment_IdHotel", Name = "HotelAllotment_IdHotel", Class = "chosen-select", Required = "required" })
                    </div>
                    <div class="form-group col-xs-6 col-sm-6">
                        Prezzi
                        <select id="HotelAllotment_Price_Id" name="HotelAllotment_Price_Id" class="chosen-select" required>
                            <option value=""></option>
                            @foreach (PriceList prices in pricesList)
                            {
                                foreach (Prices price in prices.PriceList_Prices)
                                {
                                    Hotels HotelId = Hotels.Instance().GetHotel(null, price.Price_IdProduct);
                                    string PriceId = RequestPriceId;
                                    var _class = !string.IsNullOrEmpty(IdHotel) ? price.Price_Id.Equals(int.Parse(PriceId)) ? "" : "hide" : "hide";
                                    <option data-HotelId="@(HotelId != null ? HotelId.Hotel_Id : 0)" value="@price.Price_Id" @(!price.Price_Status ? "disabled" : "") class="@_class">High: @price.Price_High - Low: @price.Price_Low</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="ibox-footer text-right">
                    <button id="BtnSearch" type="submit" data-loading-text="Loading..." class="btn btn-primary">
                        SEARCH <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="Main" class="ibox" style="display:none;">
            <div class="ibox-title">
                <h5>RISULTATI</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up hide"></i>
                    </a>
                    <div class="pull-right text-right">
                        @if (parkSchedulesList != null)
                        {
                            foreach (Core.ParkSchedules s in parkSchedulesList.FindAll(s => s.ParkSchedule_Status == true))
                            {
                                <span><i class="fa fa-circle" style="color:@s.ParkSchedule_Color"></i> <span>@s.ParkSchedule_TimeStartString - @s.ParkSchedule_TimeEndString</span>&nbsp;</span>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsivex">
                    <div class="row row-new m-b-xs" style="margin: auto 0px 5px 0px;">
                        <div class="col-md-3 col-sm-3 text-center">
                            <div class="input-daterange daterange-customize input-group">
                                <input type="text" class="input-sm form-control text-center" id="HotelAllotment_DateStart"
                                       name="HotelAllotment_DateStart" required>
                                <span class="input-group-addon">to</span>

                                <input type="text" class="input-sm form-control text-center" id="HotelAllotment_DateEnd"
                                       name="HotelAllotment_DateEnd" required>
                            </div>

                            @*<div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="HotelAllotment_DateStart" type="text" class="form-control" name="HotelAllotment_DateStart" />
                                        <span class="input-group-addon">to</span>
                                        <input id="HotelAllotment_DateEnd" type="text" class="form-control" name="HotelAllotment_DateEnd" />
                                </div>*@

                        </div>

                        <div class="col-md-2 col-sm-2 text-center">
                            @{
                                IDictionary<string, object> htmlattr = new Dictionary<string, object>();
                                htmlattr.Add("Class", "form-control input-sm");
                                htmlattr["Id"] = "HotelAllotment_RoomType_0";
                                htmlattr["Name"] = "HotelAllotment_RoomType";
                                Model.HotelRoomsTypesItems_Index = "";
                            }
                            @Html.DropDownList("HotelAllotment_RoomType", Model.HotelRoomsTypesItems, htmlattr)
                        </div>
                        @{
                            htmlattr.Remove("Required");
                            htmlattr["Id"] = "HotelAllotment_Rooms_0";
                            htmlattr["Name"] = "HotelAllotment_Rooms";

                            htmlattr.Add("Type", "number");
                            htmlattr.Add("Min", "0");
                            htmlattr.Add("Style", "width: 45px;");
                        }
                        <div class="col-md-6 col-sm-6 text-center">
                            @Html.TextBox("HotelAllotment_Rooms", 0, htmlattr)
                            @{
                                htmlattr["Id"] = "HotelAlltoment_ExtraRooms_0";
                                htmlattr["Name"] = "HotelAlltoment_ExtraRooms";
                            }
                            @Html.TextBox("HotelAlltoment_ExtraRooms", 0, htmlattr)
                            @{
                                htmlattr["Id"] = "HotelAllotment_Rooms_Confirmed_0";
                                htmlattr["Name"] = "HotelAllotment_Rooms_Confirmed";
                            }
                            @Html.TextBox("HotelAllotment_Rooms_Confirmed", 0, htmlattr)
                            @{
                                htmlattr["Id"] = "HotelAllotment_Rooms_Hangs_0";
                                htmlattr["Name"] = "HotelAllotment_Rooms_Hangs";
                            }
                            @Html.TextBox("HotelAllotment_Rooms_Hangs", 0, htmlattr)
                            @{
                                htmlattr["Id"] = "HotelAllotment_Adults_0";
                                htmlattr["Name"] = "HotelAllotment_Adults";
                            }
                            @Html.TextBox("HotelAllotment_Adults", 0, htmlattr)
                            @{
                                htmlattr["Id"] = "HotelAllotment_Kids_0";
                                htmlattr["Name"] = "HotelAllotment_Kids";
                            }
                            @Html.TextBox("HotelAllotment_Kids", 0, htmlattr)
                            @{
                                htmlattr["Id"] = "HotelAllotment_Infants_0";
                                htmlattr["Name"] = "HotelAllotment_Infants";
                            }
                            @Html.TextBox("HotelAllotment_Infants", 0, htmlattr)
                            <label class="checkbox-inline i-checks">
                                <input id="HotelAllotment_Status_0"
                                       name="HotelAllotment_Status"
                                       type="checkbox"
                                       checked="checked"
                                       value="true"
                                       disabled="disabled" />
                            </label>
                        </div>
                        <div class="col-md-1 col-sm-1 text-center">
                            <input type="hidden" name="HotelAllotment_Id" value="0" />
                            <input type="hidden" name="HotelAllotment_IdHotel" value="@RequestHotelId" />
                            <button disabled type="button" id="BtnSaveAlltoment" class="btn btn-sm btn-white btn-block btn-save-allotment" hotelallotment_id="@RequestHotelId">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                    <table id="table-hotelallotments" class="table table-hover table-bordered fixed_header" data-sorting="true" data-filtering="true">
                        <thead>
                            <tr style="display: inline-table; width: 100%;">
                                <th colspan="2" align="center" style="width: 15%;"></th>
                                <th colspan="6" align="center" style="width: 46%;">ROOMS</th>
                                <th colspan="3" align="center" style="width: 23%;">OCCUPANCY</th>
                                <th colspan="2" align="center" style="width: 15%;"></th>
                            </tr>
                            <tr>
                                <th data-name="HotelAllotment_IdHotel" align="center">IDHOTEL</th>
                                <th data-name="HotelAllotment_Id" align="center">ID</th>
                                <th data-name="HotelAllotment_Date" align="center">DateNormal</th>
                                <th data-name="HotelAllotment_DateFormat" align="center">DateNormal</th>
                                <th data-name="HotelAllotment_DateFormat" align="center">Date</th>
                                <th data-name="HotelAllotment_RoomType" align="center">Type</th>
                                <th data-name="HotelAllotment_Rooms" align="center">Qty</th>
                                <th data-name="HotelAlltoment_ExtraRooms" align="center">Extra</th>
                                <th data-name="HotelAllotment_Rooms_Confirmed" align="center">Confirmed</th>
                                <th data-name="HotelAllotment_Rooms_Hangs" align="center">Hangs</th>
                                <th data-name="HotelAllotment_Adults" align="center" data-toggle="tooltip" data-placement="top" data-original-title="Adults">A</th>
                                <th data-name="HotelAllotment_Kids" align="center" data-toggle="tooltip" data-placement="top" data-original-title="Kids">K</th>
                                <th data-name="HotelAllotment_Infants" align="center" data-toggle="tooltip" data-placement="top" data-original-title="Infants">I</th>
                                <th data-name="HotelAllotment_Status" align="center">Status</th>
                                <th align="center" class="no-sort">Save</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="footer" style="bottom:0px;">
        <div class="pull-left">
            Hotel Allotment: <b class=".count">@hotelAllotments.Count</b>
        </div>
    </div>*@


<script type="text/html" id="HTML_HotelAllotment_RoomType">
    @{
        IDictionary<string, object> html = new Dictionary<string, object>();
        html.Add("Class", "form-control input-sm");
        html["Id"] = "HotelAllotment_RoomType_0";
        html["Name"] = "HotelAllotment_RoomType";
        Model.HotelRoomsTypesItems_Index = "";
    }
    @Html.DropDownList("HotelAllotment_RoomType", Model.HotelRoomsTypesItems, html)
</script>

@section Scripts{
    <script>
            var ft = null;
            var IDs = [];
            var IDHotel = @(string.IsNullOrEmpty(RequestHotelId) ? "null" : RequestHotelId);
            var IDPrice = @(string.IsNullOrEmpty(RequestPriceId) ? "null" : RequestPriceId);
            var productsTypes = @Html.Raw(Json.Encode(productsTypes));
            var parkSchedulesList = @Html.Raw(Json.Encode(parkSchedulesList));
            var parkOperationalList = @Html.Raw(Json.Encode(parkOperationalList));
            var parkCalendarList = @Html.Raw(Json.Encode(parkCalendarList));

            var parkCalendarListFilter = (parkCalendarList != null ? parkCalendarList.filter(calendar => calendar.ParkCalendar_Status).map(date => date.ParkCalendar_DateFormat.toMoment("DD/MM/YYYY").format('L')) : null);
            //var available = (parkCalendarList != null ? parkCalendarList.filter(calendar => calendar.ParkCalendar_Status && calendar.ParkCalendar_ParkCalendarSchedule).map(date => moment(date.ParkCalendar_Date).toDate()) : false);
            var available = (parkCalendarList != null ? parkCalendarList.filter(calendar => calendar.ParkCalendar_Status && calendar.ParkCalendar_ParkCalendarSchedule) : false);
            var minDateAvailable = '@DataOggi';
            var maxDateAvailable = "01/01/2022";
            //var minDateAvailable = parkOperationalList[0].ParkOperational_DateStartFormat.toMoment("DD/MM/YYYY").format("L"); //parkCalendarListFilter.reduce((min, p) => p < min ? p : min);
            //var maxDateAvailable = parkOperationalList[0].ParkOperational_DateEndFormat.toMoment("DD/MM/YYYY").format("L");//parkCalendarListFilter.reduce((max, p) => p > max ? p : max);


            var $table = $("#table-hotelallotments");
            var $ChosenHotels = $('#HotelAllotment_IdHotel');
            var $ChosenPricess = $('#HotelAllotment_Price_Id');

            var PriceCh = 0;

            $(document).ready(function () {

                $("#BtnSearch").on("click", function ()
                {
                    PriceCh = $("#HotelAllotment_Price_Id").val();
                });

                //$("#BtnSaveAlltoment").on("click", function (e)
                //{
                //    var room = $("#HotelAllotment_RoomType_0").val();

                //    if (room == ""){
                //        $.error("ERROR", "Indicare una tipologia di camera");
                //        e.preventDefault();
                //    }
                //});


                $("#idParkOperational").on("change", function ()
                {
                    $("#table-hotelallotments tbody").empty();

                    if (this.value) {
                        $("#search").css("display","block");
                        $("#Main").css("display","block");
                    }
                    else
                    {
                        $("#search").css("display","none");
                        $("#Main").css("display","none");
                    }


                    $('#HotelAllotment_IdHotel')
                    .find('option:first-child').prop('selected', true)
                    .end().trigger('chosen:updated');

                    $('#HotelAllotment_Price_Id')
                   .find('option:first-child').prop('selected', true)
                   .end().trigger('chosen:updated');

                });



                $ChosenHotels.chosen().change(function (e) {
                    var IDHotel = $(this).val();
                    var IdOperational = $("#idParkOperational").val();

                    var URL = "/Products/GetHotelSeasonPrice";

                    var Info = {
                        IDHotel: IDHotel,
                        IdOperational: IdOperational
                    };

                    var promise = $.post(URL, Info);


                    promise.done(function (data) {
                        if (IDHotel) {
                            //$("#HotelAllotment_Price_Id_0").find("option").addClass("hide");
                            //$("#HotelAllotment_Price_Id_0").find("option[value=" + data + "]").removeClass("hide").trigger("chosen:updated");

                            $ChosenPricess.find("option").addClass("hide");
                            $ChosenPricess.find("option[value=" + data + "]").removeClass("hide").trigger("chosen:updated");
                        } else {
                            $ChosenPricess.find("option").addClass("hide");
                        }
                        $ChosenPricess.val("").trigger("chosen:updated");
                    });


                });

                /** START FILTER TABLE **/
                FooTable.FilteringRoomsType = FooTable.Filtering.extend({
                    construct: function (instance) {
                        this._super(instance);
                        this.typesroom = @Html.Raw(Json.Encode(Model.HotelRoomsTypes.Select(i => i.HotelRoomType_Identifier)));
                        this.def = 'ALL';
                        this.$typesroom = null;
                    },
                    $create: function () {
                        this._super();
                        var self = this;
                        $form_grp = $('<div/>', { class: 'form-group footable-filtering-typesroom' })
                                        .append($('<label/>', { class: 'sr-only', text: 'HotelAllotment_RoomType' }))
                                        .prependTo(self.$form);
                        $label_length = $('<span/>', { class: 'label label-default pull-left p-xs' }).html("<span class='rows_total'>" + self.ft.rows.all.length + "</span> rows available")
                                        .prependTo(self.$form);

                        self.$typesroom = $('<select/>', { 'class': 'form-control input-sm' })
                            .on('change', { self: self }, self._onStatusDropdownChanged)
                            .append($('<option/>', { text: self.def }))
                            .appendTo($form_grp);

                        $.each(self.typesroom, function (i, typesroom) {
                            self.$typesroom.append($('<option/>').text(typesroom.toUpperCase()).val(typesroom));
                        });
                    },
                    _onStatusDropdownChanged: function (e) {
                        var self = e.data.self,
                            selected = $(this).val();
                        if (selected !== self.def) {
                            self.addFilter("HotelAllotment_RoomType", selected, ['HotelAllotment_RoomType']);
                        } else {
                            self.removeFilter("HotelAllotment_RoomType");
                        }
                        self.filter();
                    },
                    draw: function () {
                        this._super();
                        var self = this,
                            items = self.ft.rows.array.length;
                        self.ft.$el.find(".rows_total").text(items);
                        var typesroom = this.find("HotelAllotment_RoomType");
                        if (typesroom instanceof FooTable.Filter) {
                            console.log("self: ", self, "typesroom: ", typesroom.query.val(), "this.$typesroom: ", this.$typesroom.val());
                            this.$typesroom.val(typesroom.query.val());
                        } else {
                            this.$typesroom.val(this.def);
                        }
                    },
                    //filter: function(){
                    //    // this goes through all filters and ensures they are actually filters setting default properties etc.
                    //    this.filters = this.ensure(this.filters);
                    //    // use the filters array to figure out the url to load
                    //    //var url = ...;
                    //    // once you have the url ajax load the rows and push them into the table
                    //    //var self = this;
                    //    //$.get(url).then(function(rows){
                    //    //    self.ft.loadRows(rows);
                    //    //});

                    //    console.log("filter", this.filters);
                    //}
                });
                /** END FILTER TABLE **/

                /** START TABLE ALLOTMENTS **/
                ft = FooTable.init(
                    '#table-hotelallotments', {
                        components: {
                            filtering: FooTable.FilteringRoomsType
                        },
                        columns: [
                            {
                                "name": "HotelAllotment_IdHotel", visible: false, sortable: false, sorted: false
                            },
                            {
                                "name": "HotelAllotment_Id", "style": { "width": 80, "maxWidth": 80, "minWidth": 60, "display": "table-cell" }, "classes": "text-center", visible: true, filterable: true, sortable: false, sorted: false
                            },
                            {
                                "name": "HotelAllotment_Date", visible: false, sortable: false, sorted: false
                            },
                            {
                                "name": "HotelAllotment_DateFormat", visible: false, sortable: true, sorted: true, type: "date", formatString: "DD/MM/YYYY",
                                "sortValue": function(valueOrElement)
                                {
                                    //console.log("valueOrElement: ", valueOrElement);
                                    if (FooTable.is.element(valueOrElement) || FooTable.is.jq(valueOrElement))
                                    {
                                        //console.log("element || jq: ", valueOrElement);
                                        return jQuery(valueOrElement).data('sortValue') || this.parser(valueOrElement);
                                    }
                                    if (FooTable.is.hash(valueOrElement) && FooTable.is.hash(valueOrElement.options))
                                    {
                                        //console.log("hash || hash.options: ", valueOrElement);
                                        if (FooTable.is.string(valueOrElement.options.sortValue))
                                        {
                                            //console.log("string: ", valueOrElement);
                                            return valueOrElement.options.sortValue;
                                        }
                                        if (FooTable.is.defined(valueOrElement.value))
                                        {
                                            //console.log("defined: ", valueOrElement);
                                            valueOrElement = valueOrElement.value;
                                        }
                                    }
                                    if (FooTable.is.defined(valueOrElement) && valueOrElement != null)
                                    {
                                        //console.log("defined || !=null: ", valueOrElement);
                                        valueOrElement = typeof(valueOrElement) != "string" ? valueOrElement.format("MM-DD-YYYY") : valueOrElement.toMoment("DD/MM/YYYY").format("MM-DD-YYYY");
                                        return valueOrElement;
                                    }
                                    return null;
                                }
                            },
                            {
                                "name": "HotelAllotment_DateFormat", "style": { "width": 147, "maxWidth": 147, "minWidth": 126 }, "sortable": false, "sorted": false, "classes": "text-center dateformat", type: "date", formatString: "DD/MM/YYYY",
                                "formatter": function (value, options, rowData) {
                                    //console.log(value, rowData.HotelAllotment_DateFormat);
                                    value = value.format("L");
                                    var exist = available.find(i => i.ParkCalendar_DateFormat == value);
                                    var color = "";
                                    if(exist != undefined){
                                        color = exist.ParkCalendar_ParkCalendarSchedule.ParkSchedule.ParkSchedule_Color;
                                    } //<i class="fa fa-circle" style="color:' + color + '"></i>
                                    var div = '<input type="text" id="HotelAllotment_Date_' + rowData.HotelAllotment_Id + '" name="HotelAllotment_Date" value = "' + value +'" class="form-control input-sm datepicker" data_validation = "true" data_validation_format = "" required style = "width: 100px; border-color: ' + color + '; display: inline-block;" />';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_RoomType", "style": { "width": 130, "maxWidth": 130, "minWidth": 120 }, "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = $($("#HTML_HotelAllotment_RoomType").html());
                                    div.setValue(value);
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_Rooms", "style": { "width": 100, "maxWidth": 100, "minWidth": 60 }, "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input class="form-control input-sm" min="0" name="HotelAllotment_Rooms" style="width: 45px;" type="number" value="' + (value != null ? value : '0') +'">';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAlltoment_ExtraRooms", "style": { "width": 100, "maxWidth": 100, "minWidth": 60 }, "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input class="form-control input-sm" min="0" name="HotelAlltoment_ExtraRooms" style="width: 45px;" type="number" value="' + (value != null ? value : '0') + '">';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_Rooms_Confirmed", "style": { "width": 100, "maxWidth": 100, "minWidth": 80 }, "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input class="form-control input-sm" min="0" name="HotelAllotment_Rooms_Confirmed" style="width: 45px;" type="number" value="' + (value != null ? value : '0') + '">';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_Rooms_Hangs", "style": { "width": 100, "maxWidth": 100, "minWidth": 60 }, "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input class="form-control input-sm" min="0" name="HotelAllotment_Rooms_Hangs" style="width: 45px;" type="number" value="' + (value != null ? value : '0') + '">';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_Adults", "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input class="form-control input-sm" min="0" name="HotelAllotment_Adults" style="width: 45px;" type="number" value="' + ( value != null ? value : '0') + '">';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_Kids", "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input class="form-control input-sm" min="0" name="HotelAllotment_Kids" style="width: 45px;" type="number" value="' + (value != null ? value : '0') + '">';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_Infants", "classes": "text-center", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input class="form-control input-sm" min="0" name="HotelAllotment_Infants" style="width: 45px;" type="number" value="' + (value != null ? value : '0') + '">';
                                    return div;
                                }
                            },
                            {
                                "name": "HotelAllotment_Status", "type": "text", "classes": "text-center i-checks", sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var isChecked = (typeof value == "string" ? value.toLowerCase() == "true" ? true : false : value);
                                    var div = '<input name="HotelAllotment_Status" type="checkbox" ' + (isChecked ? 'checked="checked"' : '') + '  value="' + value + '">';
                                    return div;
                                    //var div = $(document).GenerateSwitch(value, rowData.HotelAllotment_Id, "HotelAllotment_Status", "HotelAllotment_Status", "allotment_id", "@Url.Action("ChangeCustomers", "Ajax")", rowData, "@General.lblMsgError");
                                    //return div;
                                }
                            },
                            {
                                "classes": "text-center", "style": { "width": 80, "maxWidth": 80, "minWidth": 40 }, sortable: false, sorted: false,
                                "formatter": function (value, options, rowData) {
                                    var div = '<input type="hidden" name="HotelAllotment_Id" value="' + rowData.HotelAllotment_Id + '">' +
                                        '<input type="hidden" name="HotelAllotment_IdHotel" value="' + rowData.HotelAllotment_IdHotel + '">' +
                                        '<button type="button" class="btn btn-sm btn-white btn-save-allotment" hotelallotment_id="' + rowData.HotelAllotment_IdHotel + '">' +
                                        '<i class="fa fa-pencil"></i>' +
                                        '</button >';
                                    return div;
                                }
                            },
                        ]
                        , rows: []//$.post('/products/hotels/GetAllotmentsJson', { "allData": "" })
                        , on: {
                            "postdraw.ft.table": function (e, ft) {
                                $.each(ft.rows.array, function (i, row) {
                                    var attrs = {
                                        "id": row.value.HotelAllotment_Id
                                    };
                                    ft.$el.find("tbody tr").eq(i).attr(attrs).addClass("row-update");
                                });
                                //console.log(ft.$el.find("tbody"));
                                ft.$el.find("tbody").datepicker(
                                    {
                                        minDate: minDateAvailable,
                                        maxDate: maxDateAvailable,
                                        enabledDates: parkCalendarListFilter
                                    }
                                );
                                ft.$el.find("tbody .datepicker").datepickerevents();

                                IDs.forEach(function (id) {
                                    //console.log(ft.$el.find("[id='" + id + "']"));
                                    ft.$el.find("[id='" + id + "']").addClass("active").delay(5000).queue(function (next) {
                                        $(this).removeClass("active").dequeue();
                                    });
                                });

                                $(document).find("#form-search").find("button[type='submit']").button('reset');
                                //$(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", increaseArea: "20%" });
                            },
                            "ready.ft.table": function (e, ft) {
                                $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", increaseArea: "20%" });
                            },
                            "after.ft.filtering": function (e, ft) {
                                $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", increaseArea: "20%" });
                            },
                        }
                    }
                );
                /** END TABLE ALLOTMENTS **/

                $("#form-search").on("submit", function (e) {
                    e.preventDefault();
                    var $form = $(e.currentTarget);
                    var data = $form.getValues();
                    var $btn = $form.find("button[type='submit']");
                    $btn.button('loading');
                    if ($form.validValues()) {
                        $(".row-new").find("[name='HotelAllotment_Price_Id'] option").addClass("hide");
                        $.post('/products/hotels/GetAllotmentsJson', { "allData": JSON.stringify(data) }, function (rows) {
                            $(".row-new").find("[disabled]:not(option)").removeAttr("disabled");
                            $(".row-new").find("[name='HotelAllotment_IdHotel']").val(data.HotelAllotment_IdHotel);
                            $(".row-new").find("[name='HotelAllotment_Price_Id']").find("[data-hotelid='" + data.HotelAllotment_IdHotel + "']").removeClass().show();
                            $(".row-new").find(".btn-save-allotment").attr("hotelallotment_id", data.HotelAllotment_IdHotel);
                            ft.rows.load(rows);
                            //$btn.button('reset');
                        });
                    } else {
                        $btn.button('reset');
                    }

                    return false;
                });

                $(this).on("click", ".btn-save-allotment", function () {



                    var $btn = $(this);
                    var $row = $btn.closest(".row-new, .row-update");
                    if ($row.validValues()) {
                        $btn.button('loading');
                        var row = ($row.data("__FooTableRow__") != undefined ? $row.data("__FooTableRow__") : null);
                        var values = $row.getValues();

                        //aovid overbooking
                        var nr = Number(values.HotelAllotment_Rooms);
                        var er = Number(values.HotelAlltoment_ExtraRooms);

                        var cr = Number(values.HotelAllotment_Rooms_Confirmed);
                        var hr = Number(values.HotelAllotment_Rooms_Hangs);

                        var Overb = nr + er - cr - hr;

                        if ((Overb) < 0 && values.HotelAllotment_Status == 1) {
                            $btn.button('reset');
                            $.error("Errore", "Overbooking");
                            return false;
                        }

                        PriceCh = $("#HotelAllotment_Price_Id").val();
                        values.HotelAllotment_Price_Id = PriceCh;

                        if($row.hasClass("row-new")){
                            var dates = $row.find(".input-daterange").data("Dates");
                            var hotelsallotments = $.map(dates, function (n, i) {
                                var tmp = {
                                    "HotelAllotment_Id": values.HotelAllotment_Id,
                                    "HotelAllotment_IdHotel": values.HotelAllotment_IdHotel,
                                    "HotelAllotment_Price_Id": PriceCh,
                                    "HotelAllotment_Date": n,
                                    "HotelAllotment_DateFormat" : n,
                                    "HotelAllotment_Infants": values.HotelAllotment_Infants,
                                    "HotelAllotment_Adults": values.HotelAllotment_Adults,
                                    "HotelAllotment_Kids": values.HotelAllotment_Kids,
                                    "HotelAllotment_RoomType": values.HotelAllotment_RoomType,
                                    "HotelAllotment_Rooms": values.HotelAllotment_Rooms,
                                    "HotelAllotment_Rooms_Confirmed": values.HotelAllotment_Rooms_Confirmed,
                                    "HotelAllotment_Rooms_Hangs": values.HotelAllotment_Rooms_Hangs,
                                    "HotelAllotment_Status": values.HotelAllotment_Status,
                                    "HotelAlltoment_ExtraRooms": values.HotelAlltoment_ExtraRooms,
                                };
                                return tmp;
                            });

                            var promises = updateCart(hotelsallotments);

                            Promise.all(promises).then(function (values) {
                                $("#form-search").submit();
                                //console.log(values);
                                //IDs = values.map((allots) => allots.HotelAllotment_Id);
                                ////console.log(IDs);
                                //ft.rows.load(values, true);
                                $(".row-new .btn-save-allotment").button('reset');
                            });
                        } else {

                            $.ajax({
                                url: "/products/hotels/manage",
                                type: "POST",
                                data: values,
                                success: function (data, textStatus, jqXHR) {
                                    $.success("SUCCESS", "The data was updated.");
                                    if (row instanceof FooTable.Row){
                                        $btn.button('reset');
                                        values.HotelAllotment_DateFormat = values.HotelAllotment_Date.toMoment("YYYY/MM/DD").format("L");
                                        row.val(values);
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    $.error("ERROR", "@General.lblMsgError");
                                    console.error('Could not update item: ', values , 'due to: ', textStatus, ' | ', errorThrown);
                                    $btn.button('reset');
                                }
                            });
                        }
                    }
                });

                $(".row-new").datepicker({
                    //enabledDates: parkCalendarListFilter,
                    minDate: minDateAvailable,
                    maxDate: maxDateAvailable,
                    //debug: true
                });


                $(".input-daterange input").datepickerevents();

                if (IDHotel != null || IDPrice != null)
                {
                    $ChosenPricess.find("option").addClass("hide");
                    $ChosenPricess.find("option[data-hotelid='" + IDHotel + "']").removeClass("hide").trigger("chosen:updated");
                    $ChosenPricess.val(IDPrice).trigger("chosen:updated");
                }
            });

            $.fn.datepickerevents = function () {
                this.on("dp.show", getSchedulesByDate)
                    .on("dp.update", getSchedulesByDate)
                    .on("dp.change", function (e) {
                        console.log(e.date, e.oldDate);
                        var $target = $(e.currentTarget);
                        var data = $target.data();
                        var $row = $target.closest("tr");
                        var color = "";
                        if (data && data.dataSelected) {
                            if (data.dataSelected.parkOperational != null) {
                                if (data.dataSelected.parkSchedule != null) {
                                    var parkSchedule = data.dataSelected.parkSchedule.ParkSchedule_Id;
                                    color = data.dataSelected.parkSchedule.ParkSchedule_Color;
                                    $row.find("td.dateformat input").css("border-color", color);
                                } else {
                                    $row.find("td.dateformat input").css("border-color", color);
                                }
                            } else {
                                //$.warning("ALERT", "The selected date is outside the park's operational calendar. Do you want to continue?")
                            }
                        }
                    });
            }

            function updateCart(array) {
                //console.log("Updating Table");
                var promises = [];
                for (var i = 0; i < array.length; i++) {
                    var obj = array[i];
                    console.log(array, i, obj);
                    var p = new Promise(function (resolve, reject) { updateToTable(obj, resolve, reject); });
                    promises.push(p);
                }

                return promises;
            }

            function updateToTable(obj, resolve, reject) {
                //console.log("Sending request to update table: ", obj);
                $.ajax({
                    url: "/products/hotels/manage",
                    type: "POST",
                    data: obj,
                    success: function (data, textStatus, jqXHR) {
                        allotment = obj;
                        allotment.HotelAllotment_Id = data;
                        console.log(data, 'Item: ',  obj , textStatus);
                        return resolve(allotment);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Could not update item: ', obj , 'due to: ', textStatus, ' | ', errorThrown);
                        return reject();
                    }
                });
            }

            function getSchedulesByDate(e) {
                var $target = $(e.currentTarget);

                var $dtp = $target.parent().find(".bootstrap-datetimepicker-widget");
                //$dtp.addClass("custom");
                $target.data("data-selected", null);
                $dtp.find(".day").removeClass("today");
                $dtp.find('.day:not(.disabled)').each(function (i, obj) {
                    var $this = $(this);
                    var date = $this.attr('data-day');//.toMoment();
                    var data = getDataByDate(date);
                    var day = $this.text();
                    var color = data.parkOperational && data.parkSchedule ? data.parkSchedule.ParkSchedule_Color : ""; //color schedule
                    var background = data.parkOperational ? data.parkOperational.ParkOperational_Color : ""; //color calendar
                    var dataSelected = data == null ? {} : data;
                    var isOperational = background != "";
                    var hasSchedule = color != "";
                    var _class = (isOperational ? hasSchedule ? "color:" + color + " !important;font-weight: bolder; text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;" : "font-weight: bolder;" : "color: #444; font-weight: bolder;");
                    //var _msg = (isOperational ? "" : "data-toggle=\"tooltip\" data-placement=\"auto\" title=\"Parco chiuso\" data-original-title=\"Parco Chiuso\"");
                    var _append = '<div class="custom_date"> <div class="day" style="' + _class + '">' + day + '</div></div>'
                    $this.empty().append(_append);
                    $this.data("data-selected", dataSelected).on("click", function (e) {
                        $target.data("data-selected", $(this).data("data-selected"));
                    });
                    //console.log("data: ", data, "dataSelected: ", dataSelected, "$this.data: ", $this.data);
                });
                //$('[data-toggle="tooltip"]').tooltip({
                //    container: 'body'
                //});
            }

            function getDataByDate(date) {
                var parkOperational = null;
                var parkCalendar = null;
                var parkSchedule = null;
                if (date) {
                    var dateFormat = moment(date, "DD/MM/YYYY").format("L");
                    parkCalendar = parkCalendarList.find(p => dateFormat == moment(p.ParkCalendar_DateFormat, "DD/MM/YYYY").format("L"));
                    if (parkCalendar) {
                        //console.log("dateFormat:", dateFormat, date, parkCalendar);
                        parkOperational = parkCalendar.ParkOperational;
                        if (parkCalendar.ParkCalendar_ParkCalendarSchedule) {
                            parkSchedule = parkCalendar.ParkCalendar_ParkCalendarSchedule.ParkSchedule;
                        }
                    }
                }
                return {
                    parkOperational: parkOperational,
                    parkCalendar: parkCalendar,
                    parkSchedule: parkSchedule
                };
            }
    </script>
}
