﻿.p-r-no-paddings{
    padding-right: 0px !important;
}

.p-l-no-paddings{
    padding-left: 0px !important;
}

.text-primary {
    color: #1ab394;
}

[status] {
    text-transform: uppercase;
}

[status="ok" i],
[status="true" i] {
    color: #1ab326;
}

[status="pending" i] {
    color: #005aff;
    font-weight: bold;
}

[status="false" i] {
    color: indianred;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

    .dropdown-submenu > a:after {
        display: block;
        float: right;
        width: 0;
        height: 0;
        margin-top: 7px;
        border-color: transparent;
        border-left-color: #cccccc;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        content: " ";
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
    padding: 6px 10px;
}

.ui-autocomplete .ui-menu-item:hover {
    background: #dcdcdc;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    color: #1ab394;
}

[disabled],
.chosen-container .chosen-results li.disabled-result {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e9ecef;
    opacity: 1;
}

.btn.focus {
    outline: none !important;
}

div.dt-buttons, .dataTables_length {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
}

.dataTables_wrapper {
    position: relative;
}

table.dataTable {
    clear: both;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    max-width: none !important;
    width: 100% !important;
}

div.dataTables_filter, div.dataTables_paginate {
    right: 0px;
    position: absolute;
}

.dataTables_filter label {
    margin-right: 0;
}

    .dataTables_filter label + label {
        margin-left: 5px !important;
    }

.colorpicker-element {
    z-index: auto !important;
}

.datepicker input[type="text"],
.input-daterange input[type="text"],
input[type="number"],
.datepicker,
.clockpicker,
.clockpicker input {
    text-align: center;
}

    .datepicker .input-group-addon {
        cursor: pointer;
    }

.ibox .ibox-title,
.ibox .ibox-content {
    padding: 10px 15px;
    position: relative;
}

.ibox .ibox-title{
    min-height: 0px;
}

label {
    margin-bottom: 0px !important;
}

    label.error {
        margin-left: 0px !important;
    }

        label.error + label.error {
            margin-left: 5px !important;
        }

textarea.form-control {
    resize: none !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

th[align="center"] {
    text-align: center !important;
}

.ibox-title .btn-xs {
    padding-top: 3px;
    padding-bottom: 3px;
}

.input-group {
    width: 100%;
}

.top-navigation .wrapper.wrapper-content {
    padding: 10px 0px !important;
}

.editor, .text_editor {
    display: none;
}

.flag {
    width: 20px;
    height: 15px;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 2px;
    background-repeat: no-repeat;
}

.lang .ibox-tools .dropdown-menu > li > a {
    font-weight: 700;
    font-size: 14px;
}

.lang .open > .dropdown-menu {
    right: 0;
    left: auto;
}

.lang .dropdown-menu {
    min-width: 66px;
}

.title-list {
    margin-bottom: 8px;
}

    .title-list p {
        font-size: 18px;
        display: inline-block;
    }

    .title-list .btn-info {
        float: right;
    }

.chosen-container-active .chosen-single {
    border: 1px solid #1ab394 !important;
    box-shadow: none !important;
}

.switchery-sm {
    background-color: #929292;
    width: 40px;
    height: 20px;
}

    .switchery-sm > small {
        width: 20px;
        height: 20px;
    }

.productos:not(.active) {
    display: none;
}

[data-toggle="collapse"] .fa-chevron:before {
    content: "\f078";
}

[data-toggle="collapse"][aria-expanded="true"] .fa-chevron:before {
    content: "\f077";
}


#toast-container > .toast {
    background-image: none !important;
}

    #toast-container > .toast:before {
        position: fixed;
        font-family: FontAwesome;
        font-size: 24px;
        line-height: 18px;
        float: left;
        color: #FFF;
        padding-right: 0.5em;
        margin: auto 0.5em auto -1.5em;
    }

#toast-container > .toast-warning:before {
    content: "\f0e7";
}

#toast-container > .toast-error:before {
    content: "\f071";
}

#toast-container > .toast-info:before {
    content: "\f005";
}

#toast-container > .toast-success:before {
    content: "\f00C";
}

.table.table-sm > thead > tr > td,
.table.table-sm > thead > tr > th,
.table.table-sm > tbody > tr > td {
    padding: 3px 4px;
    line-height: 1;
}

.nav > .disabled > a {
    color: #999999 !important;
    pointer-events: none !important;
}

.tooltip.tooltip-error {
    width: auto !important;
    color: #000000 !important;
    background: #ffffff !important;
}

    .tooltip.tooltip-error .tooltip-inner,
    .tooltip.tooltip-error .tooltip-arrow {
        color: inherit !important;
        background-color: inherit !important;
    }

    .tooltip.tooltip-error .tooltip-inner {
        border: 1px solid #DDDDDD;
        border-radius: 0px;
        padding: 6px;
    }

        .tooltip.tooltip-error .tooltip-inner:before {
            content: "\f12a";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            vertical-align: middle;
            color: #ffffff;
            background: #FEAF21;
            padding: 3px 8px;
            margin-right: 3px;
            width: 20px;
        }

    .tooltip.tooltip-error.tooltip.left .tooltip-arrow {
        border-left-color: #DDDDDD;
    }


#table-Seasons tr[productseason_id] .btn-remove-season {
    display: none !important;
}


#button .btn {
    display: none;
}

#createProduct[product_id="0"][TypeSelected="hotel"] #buttons .btn {
    display: none;
}

#createProduct[TypeSelected="hotel"] #li-tab-data {
    display: block !important;
}

#createProduct[product_id="0"][TypeSelected="hotel"] #buttons #btn-next {
    display: inline-block !important;
}

#price_container h2 {
    margin: 0;
}

.ibox {
    margin-bottom: 10px !important;
}

.dd-bg {
    color: inherit;
    border: 1px dashed #e7eaec;
    background: #f3f3f4;
    padding: 10px;
    margin: 5px 0;
}

.price_addons {
    color: #23c6c8;
    font-weight: 700;
    font-size: 14px;
}

.num_photos {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.boton-add {
    padding: 1px 6px !important;
}

.PriceDisc {
    font-size: 16px !important;
}

.onoffswitch-label {
    text-align: initial;
}

.viewBanner:hover {
    color: #1ab394;
}

.viewBanner .hover-img {
    position: relative;
}

    .viewBanner .hover-img span {
        position: absolute;
        left: -9999px;
        top: -9999px;
        z-index: 9999;
    }

.viewBanner:hover .hover-img span {
    top: 20px;
    left: 0;
}

/* Custom Elastislide Styling */

.gallery .elastislide-horizontal {
    padding: 10px 37px;
    border-radius: 10px/90px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
}

.gallery .elastislide-wrapper:before,
.gallery .elastislide-wrapper:after {
    content: '';
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 20px;
    width: 50%;
    height: 20%;
    border-radius: 10px/90px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.gallery .elastislide-wrapper:after {
    right: 20px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.gallery .elastislide-vertical {
    max-width: 170px;
    padding: 37px 10px;
    border-radius: 90px/10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), inset 0 10px 10px 1px rgba(155, 155, 155, 0.1);
}

    .gallery .elastislide-vertical:before {
        top: 30px;
        bottom: 30px;
        left: 0;
        right: 0;
        content: " ";
        position: absolute;
        z-index: -2;
        box-shadow: 0 0 15px rgba(0,0,0,0.6);
        border-radius: 20px/160px;
    }

    .gallery .elastislide-vertical:after {
        content: " ";
        position: absolute;
        z-index: -2;
    }

.gallery .elastislide-horizontal {
    background-color: #000;
    padding: 30px 60px;
}

.no-touch .gallery .elastislide-horizontal {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

    .no-touch .gallery .elastislide-horizontal:hover {
        opacity: 1;
    }

.gallery .elastislide-wrapper nav span {
    background-color: #000;
}

.gallery .elastislide-carousel ul li a {
    padding: 0 10px;
}

    .gallery .elastislide-carousel ul li a img {
        border-radius: 10px;
        border: none;
    }

.gallery .elastislide-horizontal {
    background-color: transparent;
    border-radius: 20px 20px 0 0;
}

    .gallery .elastislide-horizontal.elastislide-loading,
    .gallery .elastislide-horizontal.elastislide-loading {
        background-image: url(../images/loading_dark.gif);
    }

.gallery .elastislide-carousel ul li a {
    padding: 2px;
}

    .gallery .elastislide-carousel ul li a img {
        border-radius: 10px;
        border: none;
        box-shadow: 0 1px 2px #000;
    }

.gallery .elastislide-wrapper nav span {
    background-color: #666;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.gallery .image-preview img {
    border-radius: 0 0 20px 20px;
    max-width: 100%;
    display: block;
}

.dropzone .dz-index {
    position: absolute;
    left: 0;
    top: 0px;
    background: #23c6c8;
    color: white;
    padding: 5px 10px;
    z-index: 10;
}

.dropzone .dz-remove.btn-circle-xs {
    position: absolute;
    font-size: 12px;
    top: -11px;
    left: -10px;
    z-index: 10;
}

.dropzone .dz-remove * {
    cursor: pointer;
}

.dropzone .dz-remove.btn-circle-xs {
    width: 20px;
    height: 20px;
    padding: 0px;
}

.dropzone .dz-preview .dz-image img {
    max-width: 100%;
}

/* styles nav tabs*/
.nav-tabs-center > li {
    float: none;
    display: inline-block;
    zoom: 1;
}

.nav-tabs-center {
    text-align: center;
}

.nav-tabs-border.nav-tabs > li.active > a,
.tabs-container .nav-tabs-border.nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs-border.nav-tabs > li.active > a:focus .tabs-container .tab-pane .panel-body,
.nav-tabs-border.nav-tabs > li.active > a,
.tabs-container .nav-tabs-border.nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs-border.nav-tabs > li.active > a:focus .tabs-container .tab-pane .panel-body {
    border-width: 4px 2px 1px 10px !important;
}

.bootstrap-datetimepicker-widget.custom {
    min-width: 270px !important;
}

    .bootstrap-datetimepicker-widget.custom td {
        border: 1px solid #A4AAB1 !important;
        min-width: 30px;
    }

    .bootstrap-datetimepicker-widget.custom .day,
    .bootstrap-datetimepicker-widget.custom .custom_date {
        padding: 0px;
    }

        .bootstrap-datetimepicker-widget.custom .day * {
            pointer-events: none !important;
        }

        .bootstrap-datetimepicker-widget.custom .custom_date,
        .bootstrap-datetimepicker-widget.custom .custom_date .schedule {
            line-height: normal !important;
        }

            .bootstrap-datetimepicker-widget.custom .custom_date .schedule {
                padding: 2px;
                color: white;
                font-weight: bold;
            }

.bootstrap-datetimepicker-widget .day.range:not(.range-start):not(.range-end) {
    color: #000;
    background-color: #eee;
    border-color: #bbb;
    border-radius: 0;
}

.bootstrap-datetimepicker-widget .day.range:not(.active).range-start,
.bootstrap-datetimepicker-widget .day.range:not(.active).range-end {
    background-color: #777;
}

.bootstrap-datetimepicker-widget .day.range.range-start {
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bootstrap-datetimepicker-widget .day.range.range-end {
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.control-label {
    text-transform: uppercase;
}

.modal-backdrop.fade.in {
    z-index: 2049 !important;
    /*opacity: 0.8 !important;*/
}


/* Start Loader */
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3b9eda;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
}

.loader_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    z-index: 1;
    width: 100% !important;
    height: 100% !important;
    display: none;
}
/* End Loader */
/* Start Order Arrow */
.table-order tbody tr td:first-child {
    position: relative;
}

.table-order .order-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: none;
}

    .table-order .order-arrow span {
        color: white; /* #1ab394 */
        font-size: 9px;
        position: absolute;
        left: -10px;
        top: 4px;
        right: 0;
        margin: auto;
    }

    .table-order .order-arrow:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        border-color: transparent;
        border-style: solid;
        border-width: 0px 0px 30px 30px;
        border-left-color: #23c6c8; /* #23c6c8 #f3f3f4 */
    }

    .table-order .order-arrow.disabled:before{
        border-left-color: #777; /* #23c6c8 #f3f3f4 */
    }
/* End Order Arrow*/

/* Start Error */
.error:not(label) {
    border: 1px dotted #cc5965 !important;
}
/* End Error */

/* Start ClockPicker */
.clockpicker-popover {
    z-index: 9999;
}
/* End ClockPicker */

/*  */
/*@font-face {
    font-family: 'Hiruko Pro';
    src: url('http://www.zoomarineroma.it/fonts/HirukoPro/HirukoPro-Regular.eot');
    src: url('http://www.zoomarineroma.it/fonts/HirukoPro/HirukoPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('http://www.zoomarineroma.it/fonts/HirukoPro/HirukoPro-Regular.woff2') format('woff2'),
         url('http://www.zoomarineroma.it/fonts/HirukoPro/HirukoPro-Regular.woff') format('woff'),
         url('http://www.zoomarineroma.it/fonts/HirukoPro/HirukoPro-Regular.ttf') format('truetype'),
         url('http://www.zoomarineroma.it/fonts/HirukoPro/HirukoPro-Regular.svg#HirukoPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*  */

/*###################################*/
/*          START EVENTS             */
/*###################################*/

a[data-toggle="tab"].disabled {
    color: rgba(0, 0, 0, 0.2) !important;
    pointer-events: none;
}

/* Start Event Data */
section#events #listevents, section#news #listnews {
    display: flex;
    flex-wrap: wrap;
}

    section#events #listevents .event, section#news #listnews .news {
        margin-bottom: 15px;
    }

        section#events #listevents .event h2, section#news #listnews .news h2 {
            font-family: 'Hiruko Pro';
            color: #f4752a;
            font-size: 18px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre-wrap;
            height: 20px;
        }

        section#events #listevents .event .event_data, section#news #listnews .news .news_data{
            padding: 10px;
            background: #fff;
            margin-bottom: 25px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            cursor: pointer;
            position: relative;
        }

            section#events #listevents .event .event_data:hover {
                box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
            }
            section#news #listnews .news .news_data:hover {
                 box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
            }

section#events .event .dateEventi, section#news .news .dateNews  {
    font-family: 'Hiruko Pro';
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

/* End Event Data */

section#events #listevents .event:nth-of-type(3n+1) .dateEventi {
    background: #108bc4;
}

section#news #listnews .news:nth-of-type(3n+1) .dateNews {
    background: #108bc4;
}

section#events #listevents .event:nth-of-type(3n+2) .dateEventi {
    background: #92016e;
}

section#news #listnews .news:nth-of-type(3n+2) .dateNews {
    background: #92016e;
}

section#events #listevents .event:nth-of-type(3n+3) .dateEventi {
    background: #013751;
}

section#news #listnews .news:nth-of-type(3n+3) .dateNews {
    background: #013751;
}

section#events #listevents .event:nth-of-type(3n+4) .dateEventi {
    background: #f26c00;
}

section#news #listnews .news:nth-of-type(3n+4) .dateNews {
    background: #f26c00;
}

section#events #listevents .event .dateprice {
    text-align: center;
}

    section#events #listevents .event .dateprice span {
        font-family: 'Hiruko Pro';
        color: #013751;
        font-size: 18px;
        margin: 10px 0px;
        display: block;
    }

section#events #listevents .event p.introduction {
    font-family: 'Circular Std';
    font-size: 16px;
    text-align: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    max-height: calc(3 * 1.2 * 1em);
    -webkit-box-orient: vertical;
    line-height: 1.2;
}

section#events #listevents .event a {
    padding: 8px;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    display: block;
    margin-top: auto;
}

/* START INSTAGRAM IFRAME INSIDE */
#instagram-container .item {
    margin: 15px;
    position: relative;
}

    #instagram-container .item:hover .item_background {
        display: block !important;
    }

#instagram-container .item_background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: none;
}

    #instagram-container .item_background i {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        color: white;
        font-size: 50px;
        width: 40px;
        height: 50px;
        cursor: pointer;
    }

        #instagram-container .item_background i:hover {
            color: red;
        }


#instagram-container iframe {
    width: 100%;
    border: 0;
}
/* END INSTAGRAM IFRAME INSIDE */

/* START SLICK INSIDE */
.slick-prev {
    left: -14px;
    z-index: 1;
}

.slick-next {
    right: -4px;
    z-index: 1;
}

    .slick-prev:before, .slick-next:before {
        font-size: 30px;
    }
/* END SLICK INSIDE */

/* START DROPZONE INSIDE */
.dropzone {
    min-height: initial;
}

    .dropzone .dz-preview .dz-image {
        display: block !important;
    }

        .dropzone .dz-preview .dz-image img {
            max-width: 100% !important;
        }

    .dropzone .dz-preview .dz-image,
    .dropzone .dz-preview .dz-remove {
        border-radius: 0;
    }

    .dropzone.one .dz-preview .dz-image,
    .dropzone.one .dz-preview .dz-image img {
        width: auto;
        height: auto;
        display: inline-block;
    }

dropzone.one .dz-preview {
    margin: 5px auto !important;
    width: 100% !important;
    max-width: 100% !important;
    float: none !important;
}

.dropzone:not(.one) {
    text-align: left !important;
}

    .dropzone:not(.one) .dz-preview {
        margin: 5px;
    }

        .dropzone:not(.one) .dz-preview .dz-image {
            max-width: 190px !important;
            width: auto;
            height: auto;
        }
/* END DROPZONE INSIDE */

/*###################################*/
/*          END EVENTS               */
/*###################################*/


/*###################################*/
/*          START TABLE               */
/*###################################*/

/* Start Table */

.table tbody tr.active td input,
.table tbody tr.active td select {
    color: #676a6c;
}

.table-fixed-thead {
    width: 100%;
    /*height: 100%;
    overflow: hidden;*/
}

    .table-fixed-thead tbody {
        height: 100%;
        overflow-y: auto;
        width: 100%;
    }

    .table-fixed-thead > thead,
    .table-fixed-thead > tbody,
    .table-fixed-thead > tr,
    .table-fixed-thead > td,
    .table-fixed-thead > th {
        display: block;
    }

.footable a, .table .btn-white {
    color: #676a6c !important;
    background: white !important;
}

/* End Table */


.fixed_header {
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

    .fixed_header tbody::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .fixed_header tbody::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 12px;
    }

    .fixed_header tbody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .fixed_header tbody {
        display: block;
        width: 100%;
        height: 426px;
        overflow: hidden;
    }

        .fixed_header tbody:hover {
            overflow: auto;
        }

        .fixed_header tbody .footable-empty {
            width: 100%;
            display: inline-table;
        }

    .fixed_header thead tr:last-child {
        display: block;
    }

    .fixed_header thead .footable-filtering th {
        width: 100%;
        display: block;
    }

    .fixed_header th, .fixed_header td {
        padding: 5px;
        width: 200px;
        /*text-align: left;*/
    }

    .footable-filtering-search .checkbox label::before{
        margin-left: 0px;
    }

    .footable-filtering-search .checkbox input[type="checkbox"] {
        opacity: 1;
        width: 17px;
        height: 17px;
    }

    .footable-filtering-search input[type=checkbox] {
        margin: 0px 0 0;
    }

    

/*###################################*/
/*          END TABLE               */
/*###################################*/

.chosen-container-single .chosen-single {
    color: #555 !important;
    height: 30px;
}

.chosen-container {
    font-size: 12px;
}

.form-control.input-sm + .chosen-container .search_field{
    height: 30px;
    font-size: 12px;
}

/*

*/

.absolute_text_overflow, .text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
}

.text_overflow:hover {
    white-space: normal;
    max-width: 100%;
    overflow: visible;
}


@keyframes strike{
  from {
      text-decoration-color: transparent;

  }
  to { text-decoration-color: auto; }
}

.strike {
  text-decoration: line-through;
  animation: strike 2s linear;
}

/*

*/


@media screen and (max-width: 460px) {
    .gallery .elastislide-horizontal {
        padding: 10px 40px;
    }
}

@media (max-width: 767px) {
    .top-navigation nav .navbar-nav li {
        text-align: center;
        border-bottom: 1px solid #f1f1f1 !important;
    }

    .top-navigation nav .navbar-right {
        margin: 0 -15px !important;
    }

    .top-navigation nav .dropdown-menu > li > a {
        text-align: center;
    }

    .top-navigation nav .navbar-nav li.divider {
        display: none !important;
    }

    .top-navigation nav .navbar-nav .dropdown-menu,
    .top-navigation nav .navbar-nav .dropdown-menu li {
        border: 0px !important;
    }
}

@media (max-width: 461px) {
    .calendar table {
        width: 100%;
    }
}
