a[href=""]{
    pointer-events: none !important;
    cursor: default;
}

.reserve-form {
    border: 1px solid #ccc;
}

.calt {
    font-feature-settings: "calt";
}

.salt {
    font-feature-settings: "salt";
}

.swsh {
    font-feature-settings: "swsh";
}

.liga {
    font-feature-settings: "liga", "dlig";
}

.lnum {
    font-feature-settings: "lnum";
}

.ordn {
    font-feature-settings: "ordn";
}

.ligsw {
    font-feature-settings: "liga", "dlig", "swsh";
}

.ws_nowrap{
    white-space: nowrap;
}

.ws_pl {
    white-space: pre-line;
}

section {
    position: relative;
}

.has-error.dropzone {
    border-color: #a94442 !important;
}

.error, .has-error {
    color: #a94442 !important;
}

.form-control.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.responsive_padding {
    padding: 80px 0px;
}

.simple-thumbnail {
    line-height: 0px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    padding: 0 !important;
}

.capital_letter::first-letter {
    text-transform: uppercase;
}

vr {
    border-left: 1px solid;
    height: 100%;
    position: absolute;
}

.alpha {
    padding-left: 0px !important;
}

.omega {
    padding-right: 0px !important;
}
.opacity_0 {
    opacity: 0;
}
.opacity_1 {
    opacity: 1;
}
.display_none {
    display:none;
}
.display_block {
    display: block;
}

.display_inline_block {
    display: inline-block;
}

.z_index_1 {
    z-index: 1;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.w-200p {
    width: 200px;
}

.w-225p {
    width: 225px;
}

.h-100 {
    height: 100%;
}

.h-100-important {
    height: 100% !important;
}

.mx_w_100 {
    max-width: 100%;
}

.ab {
    position: absolute;
}

.rl {
    position: relative;
}

.inh {
    position: inherit;
}

.t_0 {
    top: 0px;
}

.t_5 {
    top: 5px;
}

.t_10 {
    top: 10px;
}

.t_30 {
    top: 30px;
}

.t_40 {
    top: 40px;
}

.l_0 {
    left: 0px;
}
.l_5 {
    left: 5px;
}
.l_10 {
    left: 10px;
}

.l_30 {
    left: 30px;
}

.l_50 {
    left: 50px;
}

.r_0 {
    right: 0px;
}
.r_5{
    right: 5px;
}

.r_10{
    right: 10px;
}

.b_0 {
    bottom: 0px;
}

.b_5 {
    bottom: 5px;
}

.b_10 {
    bottom: 10px;
}

.b_40 {
    bottom: 40px;
}

.m_0_important {
    margin: 0px !important;
}

.m_0 {
    margin: 0px;
}

.mt_0 {
    margin-top: 0px;
}

.mt_5 {
    margin-top: 5px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_15 {
    margin-top: 15px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_25 {
    margin-top: 25px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_35 {
    margin-top: 35px;
}

.mt_50 {
    margin-top: 50px;
}

.mt_70 {
    margin-top: 70px;
}

.mt_80 {
    margin-top: 80px;
}

.ml_5 {
    margin-left: 5px;
}

.ml_10 {
    margin-left: 10px;
}

.ml_25 {
    margin-left: 25px;
}
.mlr_0 {
    margin-left:0px;
    margin-right: 0px;
}
.mlr_70 {
    margin: 0 70px;
}

.mlr_45 {
    margin: 0 45px;
}

.mlr_55 {
    margin: 0 55px;
}

.mr_0 {
    margin-right: 0px;
}

.mr_5 {
    margin-right: 5px;
}

.mr_10 {
    margin-right: 10px;
}

.mr_20 {
    margin-right: 20px;
}

.mr_55 {
    margin-right: 55px;
}

.mlr_15 {
    margin: 0 15px;
}

.mb_0 {
    margin-bottom: 0px;
}

.mb_5 {
    margin-bottom: 5px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_60 {
    margin-bottom: 60px;
}


.mtb_0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mtb_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mtb_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mtb_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.p_0_important {
    padding: 0px !important;
}
.p_0 {
    padding: 0px;
}
.p_2 {
    padding: 2px;
}
.p_4 {
    padding: 4px;
}
.p_5 {
    padding: 5px;
}

.p_10 {
    padding: 10px;
}

.p_20 {
    padding: 20px;
}

.p_30 {
    padding: 30px;
}

.pt {
    padding-top: 0px;
}

.pt_10 {
    padding-top: 10px;
}

.pt_20 {
    padding-top: 20px;
}

.pt_40 {
    padding-top: 40px;
}

.pt_80 {
    padding-top: 80px;
}

.pl_0 {
    padding-left: 0px;
}

.pl_5 {
    padding-left: 5px;
}

.pl_10 {
    padding-left: 10px;
}

.pl_20 {
    padding-left: 20px;
}

.pl_30 {
    padding-left: 30px;
}

.pr_0 {
    padding-right: 0px;
}

.pr_5 {
    padding-right: 5px;
}

.pr_10 {
    padding-right: 10px;
}

.pr_30 {
    padding-right: 30px;
}

.pb_0 {
    padding-bottom: 0px;
}

.pb_10 {
    padding-bottom: 10px;
}

.pb_20 {
    padding-bottom: 20px;
}

.pb_30 {
    padding-bottom: 30px;
}

.pb_60 {
    padding-bottom: 60px;
}

.ptb_5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ptb_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb_15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ptb_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb_25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.ptb_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb_80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ptb_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ptb_150 {
    padding-top: 150px;
    padding-bottom: 150px;
}


.plr_0 {
    padding-left: 0px;
    padding-right: 0px;
}

.plr_3 {
    padding-left: 3px;
    padding-right: 3px;
}

.plr_5 {
    padding-left: 5px;
    padding-right: 5px;
}

.plr_15 {
    padding-left: 15px;
    padding-right: 15px;
}

.plr_30 {
    padding-left: 30px;
    padding-right: 30px;
}

.plr_90 {
    padding-left: 90px;
    padding-right: 90px;
}

.plr_100 {
    padding-left: 100px;
    padding-right: 100px;
}

.lh_0 {
    line-height: 0px;
}

.lh_7 {
    line-height: 0.7;
}

.lh_1 {
    line-height: 1;
}
.lh_1_i {
    line-height: 1 !important;
}
.br_0 {
    border-radius: 0;
}

.br_100 {
    border-radius: 100%;
}

.font_beba {
    font-family: 'Bebas Neue Light';
}

.fz_10px {
    font-size: 10px;
}

.fz_12px {
    font-size: 12px;
}

.fz_14px {
    font-size: 14px;
}

.fz_15px {
    font-size: 15px;
}

.fz_16px {
    font-size: 16px;
}
.fz_18px {
    font-size: 18px;
}

.fz_20px {
    font-size: 20px;
}
.fz_25px {
    font-size: 25px;
}
.fz_30px {
    font-size: 30px;
}
.fz_35px {
    font-size: 35px;
}
.fz_40px {
    font-size: 40px;
}
.fz_50px {
    font-size: 50px;
}

.fz_1-16 {
    font-size: 1.16em;
}

.fz_2 {
    font-size: 2em;
}

.fz_3 {
    font-size: 3em;
}

.fz_4 {
    font-size: 4em;
}

.fz_5 {
    font-size: 5em;
}
.fz_6 {
    font-size: 6em;
}
.fz_7 {
    font-size: 7em;
}

.fz_small {
    font-size: small;
}

.fz_smaller {
    font-size: smaller;
}

.currentColor {
    color: currentColor;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.strong_yellow {
    color: #d7d535;
}
.bright_yellow {
    color:#d9d73a;
}
.vivid_yellow{
    color: #fce80c;
}

.pure {
    color: #ff0067;
}

.moderate_green {
    color: #8dc657;
}

.bg_color_transparent {
    background-color: transparent;
}

.bg_color_white {
    background-color: white;
}

.bg_color_white_important {
    background-color: white !important;
}


.bg_current_color {
    background: currentColor;
}

.vertical_align_middle {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.vertical_align_middle_important {
    vertical-align: middle !important;
    vertical-align: -webkit-baseline-middle !important;
}

.vertical-align_text_botoom {
    vertical-align: text-bottom;
}

.vertical_align_baseline_middle {
    vertical-align: -webkit-baseline-middle;
}

.lemongreen {
    color: #d7d535;
}

.cream {
    color: #fdedb2;
}

.pinkm {
    color: #942e89;
}

.oranges {
    color: #c13717;
}

.peach {
    color: #f7b551;
}

.blue {
    color: #afd0eb;
}

.shadow_lemongreen {
    text-shadow: 3px 2px 2px #5db12f;
}

.shadow_pink {
    text-shadow: 3px 2px 2px #e72475;
}

.shadow_purple {
    text-shadow: 3px 2px 2px #904480;
}

.shadow_oranges {
    text-shadow: 0px 0px 3px #e45210;
}

.shadow_yellow {
    text-shadow: 3px 2px 0px yellow;
}

.shadow_bluegreen {
    text-shadow: 3px 2px 2px #007f7c;
}

.shadow_black {
    -webkit-filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.5));
    -moz-filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.5));
    -ms-filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.5));
    -o-filter: drop-shadow(2px 1px 1px rgba(0,0,0,0. 5));
}

.bgp_l {
    background-position: left;
}

.bgp_r {
    background-position: right;
}

.bg_size_cover {
    background-size: cover;
}

.bg_size_wh_100 {
    background-size: 100% 100%;
}

.bg_size_h_100 {
    background-size: auto 100%;
}

.o_h {
    overflow: hidden;
}

.float_none {
    float: none;
}

.resize_none {
    resize: none;
}

.border_none {
    border:none;
}

.border_none_important {
    border:none !important;
}

.pointer_events_none {
   pointer-events: none;
   cursor: default;
}

.table_row {
     display: table;
}

.table_row > div[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.table_row_none {
    display:inherit;
}

.table_row_none > div[class*="col-"] {
    float: initial;
    display: inherit;
    vertical-align: inherit;
}

.scrollup {
    display: none;
    opacity: 0.3;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.scrollup:hover {
    opacity: 1;
    cursor: pointer;
}

.datepicker_icon {
    background-image: url(src/calendar.jpg);
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: auto!important;
}

/*hidden-lg*/
@media (min-width: 1200px) {
    .p_lg_0 {
        padding: 0px !important;
    }
    .p_lg_10 {
        padding: 10px !important;
    }

    .mr_lg_0 {
        margin-right: 0px !important;
    }

    .mb_lg_5 {
        margin-bottom: 5px !important;
    }

    .mb_lg_10 {
        margin-bottom: 10px !important;
    }

    .mb_lg_15 {
        margin-bottom: 15px !important;
    }

    .text_lg_center {
        text-align: center !important;
    }

    .text_lg_left {
        text-align: left !important;
    }

    .text_lg_right {
        text-align: right !important;
    }

    .mx_w_lg_none {
        max-width: none;
    }

    .fz_lg_16px {
        font-size: 16px;
    }

    .bg_lg_current_color {
        background: currentColor !important;
    }

    .table_lg_row {
        display: table;
    }

    .table_lg_row > div[class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .table_lg_row_none {
        display:inherit;
    }

    .table_lg_row_none > div[class*="col-"] {
        float: initial;
        display: inherit;
        vertical-align: inherit;
    }

    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
    }
}
/*hidden-md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .t_md_0 {
        top: 0px !important;
    }
    .mt_md_0 {
        margin-top: 0px !important;
    }

    .mt_md_5 {
        margin-top: 5px !important;
    }

    .mt_md_10 {
        margin-top: 10px !important;
    }

    .m_md_0 {
        margin: 0px !important;
    }

     .mb_md_0 {
        margin-bottom: 0px !important;
    }

    .mb_md_5 {
        margin-bottom: 5px !important;
    }

    .mb_md_10 {
        margin-bottom: 10px !important;
    }

    .mb_md_15 {
        margin-bottom: 10px !important;
    }

    .p_md_0 {
        padding: 0px !important;
    }

    .p_md_3 {
        padding: 3px !important;
    }

    .plr_md_25 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .ptb_md_30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .ptb_md_40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .ptb_md_50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .ptb_md_60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .text_md_center {
        text-align: center !important;
    }

    .text_md_left {
        text-align: left !important;
    }

    .text_md_right {
        text-align: right !important;
    }

    .bg_size_md_cover {
        background-size: cover !important;
    }

    .mask_md_none {
        -webkit-mask-image: none !important;
    }

    .lh_md_15 {
        line-height: 15px;
    }

    .fz_md_100 {
        font-size: 100%;
    }

    .fz_md_120 {
        font-size: 120%;
    }

    .fz_md_150 {
        font-size: 150%;
    }

    .fz_md_160 {
        font-size: 160%;
    }

    .bg_md_current_color {
        background: currentColor !important;
    }

    .table_md_row {
        display: table;
    }

    .table_md_row > div[class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .table_md_row_none {
        display:inherit;
    }

    .table_md_row_none > div[class*="col-"] {
        float: initial;
        display: inherit;
        vertical-align: inherit;
    }

    .seven-cols .col-md-1 {
        width: 14.285714285714285714285714285714%;
    }
}

/*media-sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .t_sm_0 {
        top: 0px !important;
    }

    .b_sm_0 {
        bottom: 0px !important;
    }

    .b_sm_10 {
        bottom: 10px !important;
    }

    .b_sm_25 {
        bottom: 25px !important;
    }

    .b_sm_45 {
        bottom: 45px !important;
    }

    .b_sm_50 {
        bottom: 50px !important;
    }

    .b_sm_80 {
        bottom: 80px !important;
    }

    .l_sm_3 {
        left: 3px !important;
    }

    .pos_sm_absolute {
        position: absolute !important;
    }

    .pos_sm_relative {
        position: relative !important;
    }

    .w_sm_auto {
        width: auto !important;
    }

    .m_sm_0 {
        margin: 0px !important;
    }

    .mt_sm_0 {
        margin-top: 0px !important;
    }

    .mt_sm_10 {
        margin-top: 10px !important;
    }

    .mt_sm_15 {
        margin-top: 15px !important;
    }

    .mt_sm_40 {
        margin-top: 40px !important;
    }

    .mt_sm_50 {
        margin-top: 50px !important;
    }

    .mr_sm_0 {
        margin-right: 0px !important;
    }

    .mr_sm_25 {
        margin-right: 25px !important;
    }

    .mb_sm_0 {
        margin-bottom: 0px !important;
    }

    .mb_sm_5 {
        margin-bottom: 5px !important;
    }

    .mb_sm_10 {
        margin-bottom: 10px !important;
    }

    .mb_sm_20 {
        margin-bottom: 20px !important;
    }

    .mb_sm_50 {
        margin-bottom: 50px !important;
    }

    .mb_sm_60 {
        margin-bottom: 60px !important;
    }

    .mb_sm_120 {
        margin-bottom: 120px !important;
    }

    .mlr_sm_0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .p_sm_0 {
        padding: 0px !important;
    }

    .pl_sm_0 {
        padding-left: 0px !important;
    }

    .pl_sm_20 {
        padding-left: 20px !important;
    }

    .pl_sm_25 {
        padding-left: 25px !important;
    }

    .pr_sm_0 {
        padding-right: 0px !important;
    }

    .pt_sm_0 {
        padding-top: 0px !important;
    }

    .pt_sm_10 {
        padding-top: 10px !important;
    }

    .pb_sm_0 {
        padding-bottom: 0px !important;
    }

    .pb_sm_10 {
        padding-bottom: 10px !important;
    }

    .pb_sm_30 {
        padding-bottom: 30px !important;
    }

    .ptb_sm_0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .ptb_sm_5 {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    
    .ptb_sm_10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .ptb_sm_20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .ptb_sm_30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .ptb_sm_40 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .ptb_sm_50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .plr_sm_0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .plr_sm_5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .plr_sm_10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .plr_sm_15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .plr_sm_20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .ptb_sm_20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .responsive_padding {
        padding: 0px !important;
    }

    .section_sm_full {
        margin: 0 !important;
        padding: 0 !important;
    }

    .text_sm_center {
        text-align: center !important;
    }

    .text_sm_left {
        text-align: left !important;
    }

    .text_sm_right {
        text-align: right !important;
    }

    .mask_sm_none {
        -webkit-mask-image: none !important;
    }

    .bg_size_sm_cover {
        background-size: cover !important;
    }

    .bg_size_sm_contain {
        background-size: contain !important;
    }

    .r_sm_0 {
        right: 0px !important;
    }

    .r_sm_27 {
        right: -27px !important;
    }

    .rl_sm {
        position: relative !important;
    }

    .ab_sm {
        position: absolute !important;
    }

    .pull_left_sm {
        float: left !important;
    }

    .pull_right_sm {
        float: right !important;
    }

    .h_sm_100 {
        height: 100% !important;
    }

    .w_sm_100 {
        width: 100% !important;
    }

    .fz_sm_2 {
        font-size: 2em !important;
    }

    .fz_sm_3 {
        font-size: 3em !important;
    }

    .fz_sm_12px {
        font-size: 12px !important;
    }

    .fz_sm_14px {
        font-size: 14px !important;
    }

    .fz_sm_16px {
        font-size: 16px !important;
    }

    .fz_sm_40px {
        font-size: 40px !important;
    }

    .bg_sm_current_color {
        background: currentColor !important;
    }

    .table_sm_row {
        display: table;
    }
    
    .table_sm_row > div[class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .table_sm_row_none {
        display:inherit;
    }

    .table_sm_row_none > div[class*="col-"] {
        float: initial;
        display: inherit;
        vertical-align: inherit;
    }

    .seven-cols .col-sm-1 {
        width: 14.285714285714285714285714285714%;
    }
}

/*hidden-xs*/
@media (max-width: 767px) {
    .t_xs_0 {
        top: 0px !important;
    }

    .l_xs_0 {
        left: 0px !important;
    }

    .b_xs_0 {
        bottom: 0px !important;
    }

    .pos_xs_absolute {
        position: absolute !important;
    }

    .pos_xs_relative {
        position: relative !important;
    }

    .w_xs_auto {
        width: auto !important;
    }

    .m_xs_0 {
        margin: 0px !important;
    }

    .mt_xs_0 {
        margin-top: 0px !important;
    }

    .mt_xs_10 {
        margin-top: 10px !important;
    }

    .mt_xs_15 {
        margin-top: 15px !important;
    }

    .mt_xs_20 {
        margin-top: 20px !important;
    }

    .mt_xs_30 {
        margin-top: 30px !important;
    }

    .mt_xs_40 {
        margin-top: 40px !important;
    }

    .mt_xs_50 {
        margin-top: 50px !important;
    }

    .ml_xs_0 {
        margin-left: 0px !important;
    }

    .mr_xs_0 {
        margin-right: 0px !important;
    }

    .mr_xs_25 {
        margin-right: 25px !important;
    }

    .mb_xs_40 {
        margin-bottom: 40px !important;
    }

    .mb_xs_50 {
        margin-bottom: 50px !important;
    }

    .mb_xs_60 {
        margin-bottom: 60px !important;
    }

    .mb_xs_120 {
        margin-bottom: 120px !important;
    }

    .mb_xs_0 {
        margin-bottom: 0px !important;
    }

    .mb_xs_10 {
        margin-bottom: 10px !important;
    }

    .mb_xs_15 {
        margin-bottom: 15px !important;
    }

    .mb_xs_20 {
        margin-bottom: 20px !important;
    }

    .mb_xs_30 {
        margin-bottom: 30px !important;
    }
    .mlr_xs_0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .mtb_xs_0 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mtb_xs_10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .mtb_xs_15 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .p_xs_0 {
        padding: 0px !important;
    }

    .p_xs_5 {
        padding: 5px !important;
    }

    .p_xs_10 {
        padding: 10px !important;
    }

    .p_xs_15 {
        padding: 15px !important;
    }

    .p_xs_20 {
        padding: 20px !important;
    }

    .pt_xs_0 {
        padding-top: 0px !important;
    }

    .pt_xs_10 {
        padding-top: 10px !important;
    }

    .pt_xs_20 {
        padding-top: 20px !important;
    }
    .pl_xs_15 {
        padding-left: 15px !important;
    }
    .pl_xs_20 {
        padding-left: 20px !important;
    }

    .pl_xs_35 {
        padding-left: 35px !important;
    }

    .pl_xs_100 {
        padding-left: 100px !important;
    }
    .plr_xs_0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .plr_xs_5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .plr_xs_10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .plr_xs_15 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .plr_xs_20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .plr_xs_30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .plr_xs_40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .pr_xs_15 {
        padding-right: 15px !important;
    }
    .pr_xs_30 {
        padding-right: 30px !important;
    }

    .pb_xs_0 {
        padding-bottom: 0px !important;
    }

    .pb_xs_5 {
        padding-bottom: 5px !important;
    }

    .pb_xs_10 {
        padding-bottom: 10px !important;
    }

    .pb_xs_20 {
        padding-bottom: 20px !important;
    }

    .pb_xs_30 {
        padding-bottom: 30px !important;
    }

    .pb_xs_65{
        padding-bottom: 65px !important;
    }

    .ptb_xs_0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .ptb_xs_5 {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    
    .ptb_xs_10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .ptb_xs_20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .ptb_xs_30 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .ptb_xs_50 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .ptb_xs_100 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .text_xs_center {
        text-align: center !important;
    }

    .text_xs_left {
        text-align: left !important;
    }

    .text_xs_right {
        text-align: right !important;
    }

    .capital_letter_xs:first-letter {
        text-transform: uppercase !important;
    }

    .mask_xs_none {
        -webkit-mask-image: none !important;
    }

    .bg_size_xs_cover {
        background-size: cover !important;
    }

    .bg_size_xs_contain {
        background-size: contain !important;
    }

    .r_xs_0 {
        right: 0px !important;
    }

    .h_xs_100 {
        height: 100%;
    }

    .rl_xs {
        position: relative !important;
    }

    .ab_xs {
        position: absolute !important;
    }

    .pull_right_xs {
        float: right !important;
    }

    .pull_left_xs {
        float: left !important;
    }

    .bg_xs_current_color {
        background: currentColor !important;
    }

    .bg_size_xs_w_100 {
        background-size: 100% auto !important;
    }

    .bg_size_xs_wh_100 {
        background-size: 100% 100% !important;
    }

    .h_xs_100 {
        height: 100% !important;
    }

    .w_xs_50 {
        width: 50% !important;
    }

    .w_xs_100 {
        width: 100% !important;
    }
    
    .fz_xs_1 {
        font-size: 1em;
    }

    .fz_xs_2 {
        font-size: 2em;
    }

    .fz_xs_3 {
        font-size: 3em;
    }
    .fz_xs_4 {
        font-size: 4em;
    }

    .fz_xs_30px {
        font-size: 30px !important;
    }
    
    .table_xs_row {
         display: table;
    }

    .table_xs_row > div[class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
    
    .table_xs_row_none {
        display:inherit;
    }

    .table_xs_row_none > div[class*="col-"] {
        float: initial;
        display: inherit;
        vertical-align: inherit;
    }

    .pointer_events_xs_auto {
        pointer-events: auto !important;
        cursor: auto !important;
    }
}

@media (max-width: 400px) {
    .hidden_400 {
        display: none !important;
    }
}