﻿<div class="row">
    <div class="col-sm-8">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Cancellations</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label>ID RESERVATION</label>
                        <div class="input-group">
                            <input type="text" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-7 form-group">
                        <label>Reason</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="editor form-group m-b-sm">
                    <textarea class="form-control text_editor" rows="8"></textarea>
                </div>
                <div class="text-right">
                    <input id="btn-clear" type="button" class="btn btn-white" value="Clear" />
                    <input id="btn-cancel" type="button" class="btn btn-danger" value="Cancel"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Reservation Summary</h5>
            </div>
            <div class="ibox-content">
                <ul class="list-group clear-list" style="margin-bottom:0px;">
                    <li class="list-group-item fist-item">
                        <span class="pull-right">name</span>
                        <span>Name</span>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right">last name</span>
                        <span>Last Name</span>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right">email@example.com</span>
                        <span>Email</span>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right">name + last name</span>
                        <span>Seller</span>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right">@DateTime.Now.ToShortDateString()</span>
                        <span>Reservation Date</span>
                    </li>
                    <li class="list-group-item">
                        <span class="pull-right"><b>$200 USD</b></span>
                        <span>Total</span>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" role="button" data-toggle="collapse" data-target="#products_div" aria-expanded="true">Show products <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                        <div id="products_div" class="collapse" aria-expanded="false">
                            <table id="table-products" class="table table-stripped table-bordered" style="margin-top:10px;margin-bottom:0px;">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>FULL TICKET</td>
                                        <td>$38.12 USD</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function ()
    {
        $('#btn-cancel').click(function ()
        {
            swal({
                title: "Sei sicuro?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#EC4758",
                confirmButtonText: "Si, procedi"
            }, function (isConfirm)
            {
                console.log(isConfirm);
            });
        });
    });
</script>