﻿@using BackOfficeAcquaJoss.Models;
@using Core;

@model ReservationModel
@{
    Reservations reservation = Model.reservation;
    Customers customer = Model.reservation.Reservation_Customer;
    Currencies currency = reservation.Reservation_Currency;
    @*
    string format = Model.format;
    string funcion = Model.funcion;
    ReservationSummary reservationSummary = Model.Reservation;
    List<ReservationTours> reservaciones = reservationSummary.Reserva_Reservaciones;
    List<Rescc> pays = Model.Pays;
    List<Country> countries = Model.paises;
    string moneda = Model.moneda;
    string today = Model.today;
    Client client = reservationSummary.Cliente;
    decimal toPayment = reservationSummary.Reserva_PorPagar;

    bool clientMexicano = client != null && client.clientes_coutry != null && !string.IsNullOrEmpty(client.clientes_coutry.countryCode) && client.clientes_coutry.countryCode.ToUpper().Equals("MX");
    ViewBag.seccion = "CHECKOUT RESERVATION";
    ViewBag.idReserva = reservationSummary.Reserva_Id;
    *@
    bool isCancelled = false;
    bool showBtnReserve = true;
    
//if (reservation.Reservation_Status || reservation.Reservation_Total == default(decimal))
    //{
    //    showBtnReserve = false;
    //}
}


<style>
    .container, [class*="col-"], #page-wrapper {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .row, .form-horizontal .form-group {
        margin-right: -5px;
        margin-left: -5px;
    }
    .form-group {
        margin-bottom: 10px;
    }
</style>

<section>
    <div id="checkout" class="ibox">
        <!-- START: INFO HEADER -->
        @Html.Partial("~/Views/Shared/Reservations/_Summary.cshtml")
        <!-- END: INFO HEADER -->
    </div>

    <div class="col-sm-8 left-content clearfix m-t-xs no-paddings" style="padding: 0px;">
        <!-- START: PAYMENT METHOD -->
        <div id="formPayment" class="ibox clearfix">
            <div class="ibox-title">
                <h5>CREDIT CARD INFORMATION</h5>
                @if (reservation.Reservation_Total > 0)
                {
                    <div class="ibox-tools">
                        <b class="text-danger"><a href="/Reservations/Payment/@reservation.Reservation_Id" style="color:inherit;">REQUEST A PAYMENT</a></b>
                    </div>
                }
            </div>
            <div class="ibox-content form-horizontal clearfix">
                <div class="clearfix">
                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Pay Method</label>
                        <div class="col-md-9 col-lg-10 no-padding">
                            <select id="payment_method" name="tipoPago" class="form-control input-sm" autofocus>
                                <option value="">Select Method</option>
                                <option value="creditcard" selected>CREDIT/DEBIT CARD</option>
                                @*
                                <option value="precredit">PRECHARGED CARD</option>
                                <option value="transfer">BANK TRANSFER</option>
                                <option value="cupon">COUPON</option>
                                @if (clientMexicano)
                                    {
                                        <option value="dineromail">OXXO &amp; 7ELEVEN</option>
                                    }
                                    <option value="tarjeta">BANK TERMINAL</option>
                                    <option value="paypal">PAYPAL</option>
                                    @if (clientMexicano)
                                    {
                                        <option value="efectivo">EFECTIVO</option>
                                    }
                                *@
                            </select>
                        </div>
                    </div>
                </div>

                <!-- CREDICART -->
                <!-- Overlap Layer -->
                <div id="FreezePane" class="Off"></div>
                <div id="InnerFreezePane" class="Off">
                    <div id="text"></div>
                </div>
                @*<div id="ErrorBox" class="@Model.ErrorClass" @Model.ErrorCode - @Model.ErrorDescription></div>*@
                <!-- Overlap Layer END -->
                <!-- Create the iFrame-->
                <!-- main Box -->
                <!-- Credit card form, hidden before browser check and untill the iFrame is properly loaded -->
                <form @*id="creditcard"*@ id="CCForm" name="CCForm" OnSubmit="return CheckCC();" class="Off clearfix" validate="true" method="post" autocomplete="off">

                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-4 control-label">Holder's Name</label>
                                <div class="col-md-9 col-lg-8">
                                    <input name="nombre" class="form-control input-sm" type="text" placeholder="Card Holder's Name" value="@customer.Customer_FullName" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-4 control-label">Holder's Email</label>
                                <div class="col-md-9 col-lg-8">
                                    <input name="email" class="form-control input-sm" type="text" placeholder="Card Holder's Email" value="@customer.Customer_Email" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @*<div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-4 control-label">Type of card</label>
                                <div class="col-md-9 col-lg-8">
                                    <span class="radio radio-inline"><input id="ccc" type="radio" name="card_payment_method" value="credit" checked /><label for="ccc">Credit card</label></span>
                                    <span class="radio radio-inline"><input id="dcc" type="radio" name="card_payment_method" value="debit" /><label for="dcc">Debit card</label></span>
                                </div>
                            </div>
                        </div>*@

                        @*<div class="col-sm-6 col-md-12 col-lg-3">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-5 control-label">Card Type</label>
                                <div class="col-md-9 col-lg-10">
                                    <div class="input-group" style="width:100%;">
                                        <select name="card_type" class="form-control input-sm card_type" required>
                                            <option value=""></option>
                                            <option class="debit" value="visa" icon="fa-cc-visa">VISA</option>
                                            <option class="debit" value="mastercard" icon="fa-cc-mastercard">Mastercard</option>
                                            <option class="credit" value="amex" icon="fa-cc-amex">American Express</option>
                                            <option class="credit" value="discover" icon="fa-cc-discover">Discover</option>
                                        </select>
                                        <span class="input-group-addon" style="display:none;padding:0;"><i id="icon" class="" style="font-size:205%;"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                        @*<div class="col-sm-6 col-md-12 col-lg-3">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-2 control-label">Country</label>
                                <div class="col-md-9 col-lg-10">
                                    <select name="billing_country" class="form-control input-sm chosen-select" required>
                                        @{
                                            string clientCountry = customer.Customer_CountryCode;
                                            if (string.IsNullOrEmpty(clientCountry))
                                            {
                                                <option value=""></option>
                                            }

                                            foreach (Countries c in Countries.AllCountries)
                                            {
                                                <option value="@c.Country_Code" @(!string.IsNullOrEmpty(clientCountry) && clientCountry.Equals(c.Country_Code) ? "selected" : string.Empty)>@c.Country_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    </div>

                    <div id="meses_sin_intereses_container" class="form-group clearfix meses_sin_intereses" style="display:none;">
                        <label class="col-md-3 col-lg-2 control-label">Months Without Interest</label>
                        <div class="col-md-9 col-lg-10">
                            <table id="meses_sin_intereses" class="table-bordered table-responsive nowrap">
                                <thead>
                                    <tr>
                                        <td>Plan</td>
                                        <td>3</td>
                                        <td>6</td>
                                        <td>9</td>
                                        <td>12</td>
                                        <td>Months</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr banco="bancomer">
                                        <td><img src="~/Content/images/bancomer.png" /></td>
                                        <td><input type="radio" name="installments" value="3" /></td>
                                        <td><input type="radio" name="installments" value="6" /></td>
                                        <td><input type="radio" name="installments" value="9" /></td>
                                        <td><input type="radio" name="installments" value="12" /></td>
                                        <td class="total text-warning"></td>
                                    </tr>
                                    <tr banco="banamex">
                                        <td><img src="~/Content/images/banamex.png" /></td>
                                        <td><input type="radio" name="installments" value="3" /></td>
                                        <td><input type="radio" name="installments" value="6" /></td>
                                        <td><input type="radio" name="installments" value="9" /></td>
                                        <td><input type="radio" name="installments" value="12" /></td>
                                        <td class="total text-warning"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">Card Number</label>
                                <div class="col-md-9 col-lg-8">
                                    <div class="input-group">
                                        <input name="card_number" type="tel" class="form-control input-sm card_number hideNumberCard creditcard hiddenValue" placeholder="Valid Card Number" required />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-2 control-label">Expiration</label>
                                <div class="col-md-9 col-lg-10">
                                    <div class="input-group">
                                        <div class="clearfix">
                                            <select name="expiration_date_months" class="form-control input-sm" required style="width:44%;">
                                                <option value="">MM</option>
                                                @for (var i = 1; i <= 12; i++)
                                                {
                                                    var month = (i < 10) ? "0" + i : i.ToString();
                                                    <option value="@month">@month</option>
                                                }
                                            </select>
                                            <span class="" style="width: 12%;display: table-cell;position: relative;float: left;height: 30px;line-height: 30px;text-align: center;">
                                                /
                                            </span>
                                            <select name="expiration_date_years" class="form-control input-sm" required style="width:44%;">
                                                <option value="">YYYY</option>
                                                @for (var i = 0; i < 15; i++)
                                                {
                                                    var year = DateTime.Now.AddYears(i).Year;
                                                    <option value="@year">@year</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix isnational amex_required" style="display:none;">
                        <label class="col-md-3 col-lg-2 control-label">Nationality</label>
                        <div class="col-md-9 col-lg-10">
                            <select id="isnational" name="nacionalidad" class="form-control input-sm" required>
                                <option value="extranjero">Foreign</option>
                                <option value="nacional" @(!string.IsNullOrEmpty(customer.Customer_CountryCode) && customer.Customer_CountryCode.Equals("MX") ? "selected" : string.Empty)>National</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix billing_address amex_required" style="display:none;">
                                <label class="col-md-3 col-lg-4 control-label">Billing Address</label>
                                <div class="col-md-9 col-lg-8">
                                    <input name="billing_address" class="form-control input-sm" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix billing_codigo_postal amex_required" style="display:none;">
                                <label class="col-md-3 col-lg-2 control-label">Postal Code</label>
                                <div class="col-md-9 col-lg-10">
                                    <input name="billing_codigo_postal" class="form-control input-sm" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">Security Code</label>
                                <div class="col-md-9 col-lg-8">
                                    <input name="card_security" class="form-control input-sm" type="password" placeholder="CVV" autocomplete="new-password" maxlength="3" data-toggle="password" data-eye-open-class="fa fa-lock" data-eye-close-class="fa fa-unlock-alt" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-2 control-label">Currency</label>
                                <div class="col-md-9 col-lg-10">
                                    <select name="currency" class="form-control input-sm">
                                        <option value="EUR" @(currency.Equals("EUR") ? "selected" : string.Empty)>EUR</option>
                                        <option value="USD" @(currency.Equals("USD") ? "selected" : string.Empty)>USD</option>
                                        <option value="MXN" @(currency.Equals("MXN") ? "selected" : string.Empty)>MXN</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix dollar_exchange meses_sin_intereses_required dollar_required" style="display:none;">
                        <label class="col-md-3 col-lg-2 control-label">Dollar Exchange</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="form-group" style="margin:0px;">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    @*<input type="text" name="dollar" class="form-control price" fixed="3" value="@Model.dolar">*@
                                    <span class="input-group-addon moneda_value">MXN</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix amount_to_pay">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">@currency.Currency_Symbol</span>
                                <input type="text" name="monto" moneda="@currency.Currency_Code" class="form-control input-sm price price_reserva" value="@reservation.Reservation_Total">
                                <span class="input-group-addon moneda_value">@currency.Currency_Code</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix amount_to_pay amex_required meses_sin_intereses_required amount_required" style="display:none;">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay @*@Model.monedaConvert*@</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" name="monto" moneda="@*@Model.monedaConvert*@" class="form-control price" value="@*@Model.totalToConvert*@">
                                <span class="input-group-addon moneda_value">@*@Model.monedaConvert*@</span>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- PRECREDIT -->
                <form id="precredit" class="clearfix" validate="true" method="post" autocomplete="off" style="display:none;">
                    <table class="table table-small table-responsive table-bordered table-hover" style="margin-bottom:5px !important;">
                        <thead>
                            <tr>
                                <td>ID CARD</td>
                                <td>CARD HOLDER</td>
                                <td>CARD NUMBER</td>
                                <td>TYPE</td>
                                <td>DATE</td>
                            </tr>
                        </thead>
                        <tbody>
                            @*@if (pays != null)
                                {
                                    foreach (Rescc rescc in pays)
                                    {
                                        Billinginfo info = rescc.rescc_billinginfo;
                                        <tr>
                                            <td class="text-center text-danger"><a class="billingindo_id" href="">@info.IDbillinginfo</a></td>
                                            <td class="text-center">@info.billinginfo_nombre</td>
                                            <td class="text-center">@info.billinginfo_numero</td>
                                            <td class="text-center">@info.billinginfo_tipo</td>
                                            <td class="text-center">@info.billinginfo_fecha</td>
                                        </tr>
                                    }
                                }*@
                        </tbody>
                    </table>
                </form>

                <!-- BANK TRANSFER -->
                <form id="transfer" class="clearfix" validate="true" method="post" autocomplete="off" style="display:none;">
                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Client Name</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="nombre" class="form-control input-sm" type="text" value="@customer.Customer_FullName" required />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Authorization</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="autorizacion" type="text" class="form-control input-sm" required />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Transfer Number</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <input id="transfer_number" name="transferencia" type="text" class="form-control input-sm" required />
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Payment Date</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group date">
                                <input name="expiracion" type="text" class="form-control datepicker" required>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix amount_to_pay">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">@currency.Currency_Symbol</span>
                                <input type="text" name="monto" moneda="@currency.Currency_Code" class="form-control input-sm price price_reserva" value="@reservation.Reservation_Total">
                                <span class="input-group-addon moneda_value">@currency.Currency_Code</span>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- CUPON -->
                <form id="cupon" class="clearfix" validate="true" method="post" autocomplete="off" style="display:none;">
                    <input type="hidden" name="procesador" value="cupon" />
                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Client Name</label>
                        <div class="col-md-9 col-lg-10">
                            <input name="nombre" class="form-control input-sm" type="text" value="@customer.Customer_FullName" required />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Coupon Number</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <input id="coupon_number" name="card_number" type="text" class="form-control input-sm" required />
                                <span class="input-group-addon"><i class="fa fa fa-barcode"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Date</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group date">
                                <input id="expiration_date" name="expiracion" type="text" class="form-control datepicker" placeholder="@*@format*@" value="@*@today*@" required>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">@currency.Currency_Symbol</span>
                                <input type="text" name="monto" class="form-control price" value="@reservation.Reservation_Total" required>
                                <span class="input-group-addon moneda_value">@currency.Currency_Code</span>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- DINERO MAIL -->
                <form id="dineromail" class="clearfix" validate="true" method="post" autocomplete="off" style="display:none;">
                    <input name="moneda" type="hidden" value="MXN" />
                    <input name="billing_country" type="hidden" value="MX" />
                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">First Name</label>
                                <div class="col-md-9 col-lg-8">
                                    <input type="text" name="first_name" class="form-control input-sm" value="@customer.Customer_Name" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label" required>Last Name</label>
                                <div class="col-md-9 col-lg-8">
                                    <input type="text" name="last_name" class="form-control input-sm" value="@customer.Customer_LastName" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">Email</label>
                                <div class="col-md-9 col-lg-8">
                                    <input type="email" name="email" class="form-control input-sm" value="@customer.Customer_Email" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">Phone</label>
                                <div class="col-md-9 col-lg-8">
                                    <input type="tel" name="telefono" class="form-control input-sm" value="@(!string.IsNullOrEmpty(customer.Customer_Phone) ? customer.Customer_Phone : customer.Customer_Phone)" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Type Payment</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="radio_content clearfix">
                                <span class="radio_inline"><input type="radio" name="card_type" value="OXXO" checked /> OXXO</span>
                                <span class="radio_inline"><input type="radio" name="card_type" value="7-ELEVEN" /> 7ELEVEN</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">@currency.Currency_Symbol</span>
                                <input type="text" name="monto" class="form-control price" value="@reservation.Reservation_Total">
                                <span class="input-group-addon moneda_value">@currency.Currency_Code</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-xs-12 text-right">
                            <button id="previewDineroMail" class="btn btn-sm btn-default" type="button"><i class="fa fa-eye" aria-hidden="true"></i> PREVIEW</button>
                        </div>
                    </div>
                </form>

                <!-- BANK TERMINAL -->
                <form id="tarjeta" class="clearfix" validate="true" method="post" autocomplete="off" style="display:none;">
                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Holder's Name</label>
                        <div class="col-md-9 col-lg-10">
                            <input class="form-control input-sm" name="nombre" type="text" value="@customer.Customer_FullName" placeholder="Card Holder's Name" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-4 control-label">Type of card</label>
                                <div class="col-md-9 col-lg-8">
                                    <span class="radio radio-inline"><input id="cbt" type="radio" name="card_payment_method" value="credit" checked /><label for="cbt">Credit card</label></span>
                                    <span class="radio radio-inline"><input id="dbt" type="radio" name="card_payment_method" value="debit" /><label for="dbt">Debit card</label></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-3 col-lg-2 control-label">Bank</label>
                                <div class="col-md-9 col-lg-10">
                                    <span class="radio radio-inline"><input id="bancobt" type="radio" name="bank" value="bancomer" checked /><label for="bancobt">BANCOMER</label></span>
                                    <span class="radio radio-inline"><input id="banabt" type="radio" name="bank" value="banamex" /> <label for="banabt">BANAMEX</label></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">Authorization Code</label>
                                <div class="col-md-9 col-lg-8">
                                    <input class="form-control input-sm" name="autorizacion" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-2 control-label">Date</label>
                                <div class="col-md-9 col-lg-10">
                                    <div class="input-group date">
                                        <input type="text" name="payment_date" class="form-control input-sm datepicker">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">Card Number</label>
                                <div class="col-md-9 col-lg-8">
                                    <div class="input-group">
                                        <input name="card_number" type="tel" class="form-control input-sm card_number hideNumberCard creditcard hiddenValue" placeholder="Valid Card Number" required />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-2 control-label">Card Type</label>
                                <div class="col-md-9 col-lg-10">
                                    <div class="input-group" style="width:100%;">
                                        <select name="card_type" class="form-control input-sm card_type" type="text" required>
                                            <option value=""></option>
                                            <option class="debit" value="visa" icon="fa-cc-visa">VISA</option>
                                            <option class="debit" value="mastercard" icon="fa-cc-mastercard">Mastercard</option>
                                            <option class="credit" value="amex" icon="fa-cc-amex">American Express</option>
                                            <option class="credit" value="discover" icon="fa-cc-discover">Discover</option>
                                        </select>
                                        <span class="input-group-addon" style="display:none;padding:0;"><i id="icon" class="" style="font-size:205%;"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Expiration Date</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <div class="clearfix">
                                    <select name="expiration_date_months" class="form-control input-sm" required style="width:50%;">
                                        <option value="">MM</option>
                                        @for (var i = 1; i <= 12; i++)
                                        {
                                            var month = (i < 10) ? "0" + i : i.ToString();
                                            <option value="@month">@month</option>
                                        }
                                    </select>

                                    <select name="expiration_date_years" class="form-control input-sm" required style="width:50%;">
                                        <option value="">YYYY</option>
                                        @for (var i = 0; i < 15; i++)
                                        {
                                            var year = DateTime.Now.AddYears(i).Year;
                                            <option value="@year">@year</option>
                                        }
                                    </select>
                                </div>

                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-4 control-label">Security Code</label>
                                <div class="col-md-9 col-lg-8">
                                    <input name="card_security" class="form-control input-sm" type="password" placeholder="CVV" autocomplete="new-password" maxlength="3" data-toggle="password" data-eye-open-class="fa fa-lock" data-eye-close-class="fa fa-unlock-alt" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-12 col-lg-6">
                            <div class="form-group clearfix">
                                <label class="col-md-3 col-lg-2 control-label">Currency</label>
                                <div class="col-md-9 col-lg-10">
                                    <select name="currency" class="form-control input-sm">
                                        <option value="EUR" @(currency.Currency_Code.Equals("EUR") ? "selected" : string.Empty)>EUR</option>
                                        <option value="USD" @(currency.Currency_Code.Equals("USD") ? "selected" : string.Empty)>USD</option>
                                        <option value="MXN" @(currency.Currency_Code.Equals("MXN") ? "selected" : string.Empty)>MXN</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix dollar_exchange meses_sin_intereses_required dollar_required" style="display:none;">
                        <label class="col-md-3 col-lg-2 control-label">Dollar Exchange</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="form-group" style="margin:0px;">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" name="dollar" class="form-control price" fixed="3" value="@*@Model.dolar*@">
                                    <span class="input-group-addon moneda_value">MXN</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix amount_to_pay">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" name="monto" moneda="@*@Model.moneda*@" class="form-control input-sm price price_reserva" value="@reservation.Reservation_Total">
                                <span class="input-group-addon moneda_value">@*@Model.moneda*@</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix amount_to_pay amex_required meses_sin_intereses_required amount_required" style="display:none;">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay @*@Model.monedaConvert*@</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" name="monto" moneda="@*@Model.monedaConvert*@" class="form-control price" value="@*@Model.totalToConvert*@">
                                <span class="input-group-addon moneda_value">@*@Model.monedaConvert*@</span>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- PAYPAL -->
                @*
                <form id="paypal" class="clearfix" validate="true" method="post" autocomplete="off" style="display:none;">
                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Client Name</label>
                        <div class="col-md-9 col-lg-10">
                            <input class="form-control input-sm" name="nombre" type="text" value="@client.cliente" required />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Paypal Transaction</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <input id="paypal_transaction" type="text" class="form-control input-sm" error-used="This Transaction Number Was Used" name="transferencia" required />
                                <span class="input-group-addon"><i class="fa fa-cc-paypal"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Payment Date</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group date">
                                <input name="expiracion" type="text" class="form-control datepicker" placeholder="@format" value="@today" required>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Paid Amount</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control price" name="monto" value="@toPayment">
                                <span class="input-group-addon moneda_value">@moneda</span>
                            </div>
                        </div>
                    </div>
                </form>
                *@

                <!-- EFECTIVO -->
                @*
                <form id="efectivo" class="clearfix" validate="true" method="post" autocomplete="off" style="display:none;">
                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Client Name</label>
                        <div class="col-md-9 col-lg-10">
                            <input class="form-control input-sm" type="text" name="nombre" value="@client.cliente" required />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Payment Concept</label>
                        <div class="col-md-9 col-lg-10">
                            <input class="form-control input-sm" type="text" name="payment_concept" value="Cash payment" required />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Payment Date</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group date">
                                <input name="payment_date" type="text" class="form-control datepicker" placeholder="@format" value="@today" required>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3 col-lg-2 control-label">Amount to pay</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control price" name="monto" value="@toPayment">
                                <span class="input-group-addon moneda_value">@moneda</span>
                            </div>
                        </div>
                    </div>
                </form>
                *@

                @if (!isCancelled)
                {
                    <div class="panel-footer col-xs-12" style="padding: 10px;">
                        <div class="pull-right">
                            @*<button id="btn-reserve-nsr" class="btn btn-success btn-w-m" style="display:@(showBtnReserve ? "inline-block" : "none")">RESERVE</button>*@
                            <button id="btn-pay" class="btn btn-primary btn-w-m">PAGARE</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- END: PAYMENT METHOD -->
        <!-- LIST PAYMENTS -->
        <div>
            @*@{ Html.RenderPartial("~/Views/Shared/_PaymentsList.cshtml"); }*@
        </div>
        <!-- END LIST PATMENTS-->
    </div>

    <!-- STATIC -->
    <div class="col-sm-4 right-content clearfix m-t-xs" style="padding: 0px 0px 0px 5px;">
        <div class="make_static">
            <div id="nsr-unavailable" class="ibox" style="display:none;">
                <div class="ibox-content">
                    <div class="alert alert-warning m-b-none"><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> NSR UNAVAILABLE</span></div>
                </div>
            </div>
            <div id="checkPaypal" class="ibox" style="display:none;">
                <div class="ibox-title">
                    <h5>PAYPAL</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
                <div id="checkPaypalSummary" class="ibox-content clearfix" style="display:none;">
                    <div><label>TransactionId: <span id="TransactionId" class="text-success value"></span></label></div>
                    <div><label>Client: <span id="UserName" class="value"></span> <span id="UserLastName" class="value"></span></label></div>
                    <div><label>Email: <span id="UserEmail" class="value"></span></label></div>
                    <div><label>Status: <span id="Status" class="value"></span></label></div>
                    <div><label>Payment Date: <span id="PaymentCreateDate" class="value"></span></label></div>
                    <h3 class="text-right m_0"><label>Total: <span class="text-danger"><span id="Total" class="value"></span></span></label></h3>
                </div>
            </div>
            <div id="shopcart" class="ibox">
                <div class="ibox-title">
                    <h5>SHOP CART</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div id="shopcartList" class="ibox-content clearfix">
                    @Html.Partial("~/Views/Shared/Reservations/_ItemsShopCart.cshtml")
                </div>
            </div>
        </div>
    </div>
    <!-- END STATIC -->

</section>

@section Scripts{
    <!-- GestPay Javascript -->
    <script type="text/javascript" src="https://testecomm.sella.it/Pagam/JavaScript/js_GestPay.js"></script>

    <script language="javascript" type="text/javascript">
        //declaring local object to handle asynchronous responses from the payment page
        var LocalObj = {}
        //setting up a function to handle asynchronous security check result after creating the iFrame and loading the payment page
        LocalObj.PaymentPageLoad = function (Result) {
            //check for errors, if the Result.ErroCode is 10 the iFrame is created correctly and the security check are passed
            if (Result.ErrorCode == 10) {
                var Errb = '@ViewBag.BankError';
                if (Errb != "")
                {
                    document.getElementById('ErrorBox').innerHTML = 'Errore: ' + Errb;
                    document.getElementById('ErrorBox').className = 'On';
                    document.getElementById('CC').focus();
                }
                    
                //iFrame created and and the security check passed
                //Handle 3D authentication 2nd call
                var PARes = '';@*@Model.PARes*@
                if (PARes.length > 0) {
                    //The card holder land for the 2nd call after 3d authentication so we can proceed to process the transaction without showing the form
                    document.getElementById('text').innerHTML = 'Pagamento in corso...';
                    GestPay.SendPayment({ PARes: PARes, TransKey: '' }, LocalObj.PaymentCallBack);@*@Model.TransKey*@
                } else {
                    document.getElementById('InnerFreezePane').className = 'Off';
                    document.getElementById('FreezePane').className = 'Off';
                    document.getElementById('CCForm').className = 'On';
                    document.getElementById('submit').disabled = false;
                }
                //now we can show the form with the credit card fields
            } else {
                //An error has occurred, check the Result.ErrorCode and Result.ErrorDescription
                //place error handle code HERE
                document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' ' + Result.ErrorDescription;
                document.getElementById('ErrorBox').className = 'On'
                document.getElementById('InnerFreezePane').className = 'Off'
                document.getElementById('FreezePane').className = 'Off'
            }
        }

        //setting up a function to handle payment result
        LocalObj.PaymentCallBack = function (Result) {
            if (Result.ErrorCode == 0) {
                //Transaction correctly processed
                var cn = $("#CC").val();

                var Nst = "***********";
                Nst = Nst.substr(0, cn.length - 10);
                cn = cn.substring(0, 6) + Nst + cn.substring(cn.length - 4);

                var d = new Date();
                d.setTime(d.getTime() + (20 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = "bscn=" + cn + ";" + expires + ";path=/";

                //Decrypt the string to read the Transaction Result
                document.location.replace('Complete?a=@*@Model.Shop_Login*@&b=' + Result.EncryptedString);
            } else {
                //An error has occurred
                //check for 3D authentication required
                if (Result.ErrorCode == 8006) {
                    //The credit card is enrolled we must send the card holder to the authentication page on the issuer website
                    //Get the TransKey, IMPORTANT! this value must be stored for further use
                    var TransKey = Result.TransKey
                    //put the TransKey in a cookie for later use, the cookies will expire in 20 minutes
                    document.cookie = 'TransKey=' + TransKey + '; path=/';
                    //put the EcryptedString generated by the WSCryptDecrypt webservice in a cookies for later use the cookies will expire in 20 minutes
                    document.cookie = 'encString=@*@Model.EncryptedString*@; path=/';
                    //Get the VBVRisp encrypted string required to access the issuer authentication page
                    var VBVRisp = Result.VBVRisp
                    //redirect the user to the issuer authentication pages
                    var a = '@*@Model.Shop_Login*@';
                    var b = VBVRisp;
                    var c = document.location.href; //this is the landing page where the user will be redirected after the issuer authentication must be ABSOLUTE
                    var AuthUrl = '@*@Model.AuthUrl*@'; //TESTCODES
                        
                    document.location.replace(AuthUrl + '?a=' + a + '&b=' + b + '&c=' + c);
                } else {
                    //Hide overlapping layer
                    document.getElementById('InnerFreezePane').className = 'Off';
                    document.getElementById('FreezePane').className = 'Off';
                    document.getElementById('submit').disabled = false;
                    //Check the ErrorCode and ErrorDescription
                    if (Result.ErrorCode == 1119 || Result.ErrorCode == 1120) {
                        document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                        document.getElementById('ErrorBox').className = 'On';
                        document.getElementById('CC').focus();
                    }
                    if (Result.ErrorCode == 1124 || Result.ErrorCode == 1126) {
                        document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                        document.getElementById('ErrorBox').className = 'On';
                        document.getElementById('EXPMM').focus();
                    }
                    if (Result.ErrorCode == 1125) {
                        document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                        document.getElementById('ErrorBox').className = 'On';
                        document.getElementById('EXPYY').focus();
                    }
                    if (Result.ErrorCode == 1149) {
                        document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                        document.getElementById('ErrorBox').className = 'On';
                        document.getElementById('CVV2').focus();
                    }
                    if (Result.ErrorCode != 1149 || Result.ErrorCode != 1119 || Result.ErrorCode != 1120 || Result.ErrorCode != 1124 || Result.ErrorCode != 1126 || Result.ErrorCode != 1125) {
                        document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                        document.getElementById('ErrorBox').className = 'On'
                    }
                    if (Result.ErrorCode == 4707) {
                        //the second call after 3D authentication has been sent twice or more
                        //response string was sent to the URL Server to Server if any address is set on the Merchant Back Office
                        //to retrieve transaction result make an ajax call to a function that will access the DB
                        document.getElementById('ErrorBox').innerHTML = 'Error:' + Result.ErrorCode + ' - ' + Result.ErrorDescription;
                        document.getElementById('ErrorBox').className = 'On'
                    }
                }
            }
        }

        //Send data to GestPay and process transaction
        function CheckCC() {
            document.getElementById('submit').disabled = true; //disable submit button
            //raise the Overlap layer
            document.getElementById('FreezePane').className = 'FreezePaneOn';
            //raise the loading message
            document.getElementById('text').innerHTML = 'Pagamento in corso...';
            document.getElementById('InnerFreezePane').className = 'On';
            GestPay.SendPayment({
                CC: document.getElementById('CC').value,
                EXPMM: document.getElementById('EXPMM').value,
                EXPYY: document.getElementById('EXPYY').value,
                CVV2: document.getElementById('CVV2').value,
                Name: document.getElementById('Name').value,
                Email: document.getElementById('Email').value
            }, LocalObj.PaymentCallBack);
            return false;

        }

        var x = @Html.Raw(Json.Encode(new ShoppingList() { Buyer =  new InfoBuyer(), Options = new OptionList(), Tickets = new List<Core.Product>() }));

        console.log(x);

        $(document).ready( function () {
            var $checkout = $( "#checkout" );
            var reserva = @Html.Raw(Json.Encode(reservation));
            console.log(reserva);
            var reservaciones = reserva.Reserva_Reservaciones;
            console.log(reservaciones);

            var cliente = reserva.Reservation_Customer;
            console.log(cliente);

            var currency = "@currency.Currency_Code"; //moneda para cobro
            var country = cliente.clientes_pais;
            console.log(country);

            //$("#coupon_number").on("keydown", function(e){
            //    if(e.keyCode == 188){
            //        e.preventDefault();
            //    }
            //}).rules('add', {
            //    coupon: true,
            //    alphanumeric: true,
            //    minlength: 4
            //});

            $("#paypal_transaction").on("success", function(){
                var data = $(this).data("response");
                console.log(data);
                $("#checkPaypalSummary").find("#Status").attr("status", data.Status);
                $("#checkPaypalSummary").setText(data);
                $("#checkPaypalSummary").find("#Total").text(data.Total).newPrice(data.Currency);
                $("#checkPaypalSummary").slideDown();
                $("form#paypal input[name='nombre']").val(data.UserFullName);
                $("form#paypal input[name='expiracion']").val(data.PaymentCreateDateFormat);
                $("form#paypal input[name='monto']").val(data.Total);
                $("form#paypal .moneda_value").val(data.Currency);
                currency = data.Currency;
            }).on("error", function(){
                $("#checkPaypalSummary").find("#Status").removeAttr("status");
                $("#checkPaypalSummary").slideUp();
                $("#checkPaypalSummary").find(".value").empty();
            }).rules('add', {
                paypal_transaction: true,
                minlength: 15
            });

            var $formPayment = $checkout.find( "#formPayment" );
            var $formSelected = $formPayment.find("form:first");
            $formSelected.find('[name="billing_country"]').on("change", function(){
                country = this.value;
                $("#meses_sin_intereses").find(":radio").prop("checked", false);
                $("#meses_sin_intereses").find("total").empty();
                $(".meses_sin_intereses").hide();
                $formSelected.find("[name='currency']").prop("disabled", false);
                if(country == "MX" && currency == "MXN") {
                    $(".meses_sin_intereses").show();
                }
            }).change(); //Change for first load

            var $radiosCreditType = $checkout.find("input[type='radio'][name='card_payment_method']");
            var $select = $checkout.find("select[name='card_type']");
            var $meses_sin_intereses_container = $checkout.find("#meses_sin_intereses_container");
            $radiosCreditType.on("change", function(){
                $select.find("option").show();
                if(this.value == "debit") {
                    $select.find("option.credit").hide();
                    $meses_sin_intereses_container.find(":radio[name='installments']").removeAttr("checked").prop("checked", false);
                    $meses_sin_intereses_container.hide();
                }else if(currency == "MXN"){
                    $meses_sin_intereses_container.show();
                }
            });

            var $radioButtons = $checkout.find("input[type='radio'][name='installments']");
            $radioButtons.on('click', function () {
                var $form = $( this ).closest( "form" );
                var $radio = $(this);
                $radio.data('waschecked') ? $radio.prop('checked', false).data('waschecked', false) : $radio.data('waschecked', true);
                $("#meses_sin_intereses").find(".total").empty();
                $radioButtons.not(this).data('waschecked', false);
                $("option[value='amex']").show();
                $form.find("[name='currency']").prop("disabled", false);
                if(this.checked){
                    var totalMxn = $form.find('input[name="monto"][moneda="MXN"]').getNumber();
                    var pago = (totalMxn / $(this).getNumber()).toFixed(2);
                    var $total = $(this).closest("tr").find(".total");
                    $total.text(pago);
                    $total.newPrice("MXN");

                    var $select = $("option[value='amex']").closest("select");
                    if($select.val() == "amex") $select.val("").change();
                    if(reserva.Reserva_Moneda == "USD") $(".meses_sin_intereses_required").show();
                    $("option[value='amex']").hide();
                    $form.find("[name='currency'][value='MXN']").prop("selected", true);
                    $form.find("[name='currency']").prop("disabled", true);
                }
            });

            $checkout.find(".card_number").on('paste keyup', function () {
                if(this.value){
                    var ct = $(this).attr("text").GetCardType();
                    $(this).attr('maxlength', ct && ct.maxLength ? ct.maxLength : 16);
                    $(this).closest("form").find(".card_type").val(ct && ct.type ? ct.type : "").change();
                }
            });

            $formPayment.find( "#payment_method" ).on( "change", function () {
                var $title = $formPayment.find( ".ibox-title h5" );
                $formPayment.find( "form" ).hide();
                $formPayment.find( ".ibox-title h5" ).text( this.value );

                this.value == "paypal" ? $("#checkPaypal").show() : $("#checkPaypal").hide();
                if ( this.value ){
                    $title.text($(this).find("option:selected").text() + " INFORMATION");
                    $formSelected = $formPayment.find( "#" + this.value);
                    $formSelected.show();
                } else{
                    $title.text("PAYMENT INFORMATION");
                }
            });

            $checkout.find( ".card_type" ).on( "change", function () {
                var $icon = $(this).parent().find("#icon");
                $icon.attr("class", "");
                $icon.parent().hide();
                if ( this.value ){
                    $icon.addClass( "fa " + $( this ).find( "option:selected" ).attr( "icon" ) );
                    $icon.parent().show();
                }

                var $dollarExchange = $formSelected.find(".dollar_exchange");
                if(this.value == "amex") {
                    $formSelected.find(".amex_required").show();
                    $formSelected.find('[name="card_security"]').val("").attr("maxlength", 4);
                    if($formSelected.find('#isnational').val() == "nacional") $dollarExchange.show();
                }else{
                    $(".amex_required").hide();
                    $formSelected.find('[name="card_security"]').val("").attr("maxlength", 3);
                    $dollarExchange.hide();
                }
            });

            $('input[name="dollar"]').on("keyup", function(){
                var $form = $( this ).closest( "form" );
                var $total = $form.find(".price_reserva");
                var $monto = $form.find('input[name="monto"]:not(.price_reserva)');
                $monto.val(convert($total.attr("moneda") == "USD" ? "MXN" : "USD", $total.getNumber(), this.value.getNumber())).trigger("focusout");
            });

            $('input[name="monto"]').on("keyup", function(){
                var $form = $( this ).closest( "form" );
                var $monto = $form.find('input[name="monto"]').not(this);
                var $dollar = $form.find('input[name="dollar"]');
                if($dollar.length) $monto.val(convert($(this).attr("moneda") == "USD" ? "MXN" : "USD", this.value.getNumber(), $dollar.getNumber())).trigger("focusout");
            });

            $("[name='currency']").on("change", function(){
                currency = this.value;
                console.log(currency);
                var $form = $( this ).closest( "form" );
                var $required = $form.find(".dollar_required, .amount_required");
                var $meses_sin_intereses = $(".meses_sin_intereses");
                $required.hide();
                $meses_sin_intereses.hide();
                if(currency != reserva.Reserva_Moneda) $required.show();
                if(currency == "MXN" && country == "MX") $meses_sin_intereses.show();
            });

            $("#btn-pay").on( "click", function (e) {
                var $btn = $(this);
                var $selectTipoPago = $formPayment.find("#payment_method");
                var PayMethodEnum = null;//@*@(Html.Raw(CRM3.Controllers.FunctionsController.instance().PayMethodEnum.ToLower())).toJSON();*@

                var paymentType = $selectTipoPago.val();
                var payMethod = PayMethodEnum[paymentType];

                var paymentData = $formSelected.serializeJSON();
                paymentData.tipoCambio = paymentData.dollar ? paymentData.dollar : 1;
                paymentData.tipoPago = paymentType;

                if(!paymentData.procesador) paymentData.procesador = "BANCOMER";//DEFAULT
                if(paymentData.hasOwnProperty("expiration_date_months") && paymentData.hasOwnProperty("expiration_date_years")) paymentData.expiracion = paymentData.expiration_date_months + "/" + paymentData.expiration_date_years;
                if(!paymentData.hasOwnProperty("expiracion")) paymentData.expiracion = moment().add(1, 'days').format('L');
                if(!paymentData.hasOwnProperty("nombre") && paymentData.hasOwnProperty("first_name") && paymentData.hasOwnProperty("last_name")) paymentData.nombre = paymentData.first_name + " " +  paymentData.last_name;
                if(!paymentData.hasOwnProperty("moneda")) paymentData.moneda = currency;
                if($formSelected.find("input[name='monto']").length > 1) {
                    paymentData.monto = $formSelected.find("input[name='monto'][moneda='" + currency + "']").val();
                    //paymentData.monto = $formSelected.find("input[name='monto'][moneda='MXN']").val();//for get monto converted in currency selected
                    //paymentData.montoMxn = $formSelected.find("input[name='monto'][moneda='MXN']").val();
                }

                paymentData.EsCelular = true;
                if(!paymentData.hasOwnProperty("telefono")){
                    paymentData.telefono = reserva.Cliente_Celular ? reserva.Cliente_Celular : reserva.Cliente_Telefono;
                    paymentData.EsCelular = reserva.Cliente_Celular ? true : false;
                }
                paymentData.monto = paymentData.monto.getNumber();
                if ($formSelected.valid()){
                    var customer = {
                        Nombre: cliente.clientes_nombre,
                        Apellido: cliente.clientes_apellido,
                        Email: cliente.clientes_email,
                        Telefono: paymentData.telefono,
                        EsCelular: paymentData.EsCelular,
                        Pais: cliente.clientes_pais,
                        Ciudad: cliente.clientes_ciudad,
                        Sexo: cliente.clientes_sexo,
                        Hotel: reserva.Reserva_Hotel,
                        CruiseshipName: reserva.Reserva_Crucero,
                        Comentarios: "",
                        GuidKey: "@(Guid.NewGuid().ToString().Replace("-", string.Empty).ToUpper())",
                        Id: 0,
                    };

                    var avs = null;
                    if (payMethod == PayMethodEnum.creditcard && paymentData.card_type == "amex") {
                        avs = {
                            cardAddress: paymentData.billing_address,
                            cardZip: paymentData.billing_codigo_postal
                        };
                    }

                    //OBJETO PARA LOS PAGOS CON PAYPAL
                    if(payMethod == PayMethodEnum.paypal) {
                        paymentData.card_number = 'Paypal';
                        paymentData.card_security = '468';
                        paymentData.expiration_date_months = '12';
                        paymentData.expiration_date_years = '18';
                    }

                    var cc = {
                        CardPaymentMethod: paymentData.card_payment_method,
                        CardType: paymentData.card_type,
                        CardHoldername: paymentData.nombre,
                        CardHoldernumber: paymentData.card_number,
                        Ccv: paymentData.card_security,
                        Expirationmonth: paymentData.expiration_date_months,
                        Expirationyear: paymentData.expiration_date_years,
                        Expiration: paymentData.expiration_date_months + "-" + paymentData.expiration_date_years,
                        Avs: avs,
                    }

                    var installments = 0;
                    var issuer = "bancomer";
                    //meses sin intereses, solo Banamex y Bancomer
                    if(paymentData.hasOwnProperty("installments")){
                        var $radioButton = $radioButtons.filter(":checked");
                        paymentData.procesador = $radioButton.closest("tr").attr("banco");
                    }

                    if (paymentData.procesador && (paymentData.procesador == "bancomer" || paymentData.procesador == "banamex")) {
                        gateway = payMethod;
                        issuer = paymentData.procesador;
                        installments = paymentData.installments;
                    }

                    var localization = {
                        CountryCode: paymentData.billing_country,
                        Language: "EN",
                        Currency: paymentData.moneda
                    }

                    var vk = getData("/Functions/GetMK", { amount: paymentData.monto }, "text");
                    var infoPago = {
                        PayMethod: payMethod,
                        Issuer: issuer,
                        Installments: parseInt(installments),
                        Amount: String(paymentData.monto),
                        Currency: paymentData.moneda,
                        VK: vk,
                        cc: cc,
                        ReferenceID: String(reserva.Reserva_Id),
                    };

                    var source = {
                        SiteID: 700,
                        SiteName: "CRM",
                        UrlSource: "http://10.0.16.15/",
                        AffiliateID: reserva.Afiliado_Id
                    }

                    var dto = {
                        'payInfo': infoPago,
                        'customer': customer,
                        'localization': localization,
                        'source': source,
                        'idReserva': reserva.Reserva_Id,
                        'idCliente': reserva.Cliente_Id,
                        'data': paymentData
                    };
                    console.log(dto);
                    $btn.button("loading");
                    if(paymentType == 'creditcard' || paymentType == 'dineromail'){
                        $.post("/Functions/Payment", dto, function(data){
                            console.log(data);
                            if(data.Success){
                                if(paymentType == "dineromail"){//Send email
                                    $btn.button("loading");
                                    $.post("/Email/SendDineroMail/", {
                                        id: reserva.Reserva_Id,
                                        cliente: paymentData.nombre,
                                        email: paymentData.email,
                                        telefono: paymentData.telefono,
                                        barcode: data.Response.Barcode,
                                        amount: paymentData.monto,
                                        moneda: paymentData.moneda,
                                    }, function ( data ) {
                                        if(data.status == "success"){
                                            $.success("Confirmation email sent", data.response, true);
                                        }else console.log(data);
                                    }, "json" ).always( function () {
                                        $btn.button( 'reset');
                                    });
                                }
                                else{
                                    $.success($selectTipoPago.find("option:selected").text(), "Payment was successful.", true);
                                }
                            }
                            else{
                                $.error("ERROR", data.Response.ErrorMessage);
                            }
                        }, "json" ).fail( function ( response, status, xhr ) {
                            $.newTab(response.responseText);
                            console.log(response);
                            console.log(xhr);
                        }).always(function(){
                            $btn.button( 'reset' );
                        });
                    }
                    else{ //transfer, cupon, efectivo,tarjeta
                        console.log(paymentData);
                        $.post("/Functions/ReservationPayment", {
                            idReserva: reserva.Reserva_Id,
                            idCliente: reserva.Cliente_Id,
                            data: paymentData
                        }, function ( data, status, response ) {
                            console.log(data);
                            if(data && (data.pagado || data.statusMessage == "success")) $.success($selectTipoPago.find("option:selected").text(), "Payment was successful.", true);
                            else $.error($selectTipoPago.find("option:selected").text(), "Error to payment");
                        }, "json" ).fail( function ( response, status, xhr ) {
                            console.log( response );
                            $.error("ERROR", "Please contact the web developer");
                        } ).always( function () {
                            $btn.button( 'reset' );
                        } );
                    }
                }else{
                    console.log($formSelected.validate().errorList);
                }
            });

            $("#btn-reserve, #btn-reserve-nsr").on( "click", function ( e ) {
                console.log(reservaciones);
                var id = $(this).attr("id");
                var $btn = $(this);
                var parameters = {
                    idReserva: reserva.Reserva_Id
                }
                if(id == "btn-reserve"){
                    parameters.tipoPago = "CUPON";
                    parameters.procesador = "cupon";
                }
                $btn.button( 'loading' );
                parameters.protection = null;
                console.log(parameters);

                @*//Verificamos si contrato el seguro InterMundial
            var interMundial = @(DTraveller.Core.InterMundial.InterMundial.ShowProtection.ToString().ToLower()) ? reservaciones.findKeyValue("IDtour", "@DTraveller.Core.InterMundial.InterMundial.Instance().Clave") : null;
            console.log("interMundial", interMundial);
            if(interMundial && interMundialApi){
                var apiData = {
                    url: "@DTraveller.Core.InterMundial.InterMundial.Instance().Url",
                    user: "@DTraveller.Core.InterMundial.InterMundial.Instance().User",
                    password: "@DTraveller.Core.InterMundial.InterMundial.Instance().Password",
                    idPolicy: "@DTraveller.Core.InterMundial.InterMundial.Instance().IdPolicy"
                };

                var customer = {
                    name: cliente.clientes_nombre,
                    lastName: cliente.clientes_apellido,
                    email: cliente.clientes_email,
                    countryCode: cliente.clientes_pais,
                    telefono: cliente.clientes_tel ? cliente.clientes_tel : cliente.clientes_teltarde
                };

                var fechaNado = new Date(interMundial.detalletour_fechatourFormat);
                var fechaNadoString = fechaNado.yyyymmdd();
                var pax = interMundial.detalletour_adultos + interMundial.detalletour_ninos;

                interMundialApi(apiData, customer, {
                    fecha: fechaNadoString,
                    pax: pax
                }, function(data){
                    console.log(data);
                    parameters.protection = data;
                    parameters.protection.poliza_numero = data.poliza.numero;
                    parameters.protection.response = JSON.stringify(parameters.protection);
                    GenerateNSR($btn, parameters);
                }, function(response){
                    console.log(response);
                    $.warning(interMundial.detalletour_tour.tour_name, response.responseJSON.error.message);
                });
            }else{
                GenerateNSR($btn, parameters);
            }*@
            });

            $("#previewDineroMail").on("click", function(){
                var paymentData = $formSelected.serializeJSON();
                paymentData.monto = paymentData.monto.getNumber();
                var cliente = paymentData.first_name + " " + paymentData.last_name;
                var email = paymentData.email;
                var telefono = paymentData.telefono;
                var amount = paymentData.monto;
                BootstrapDialog.show({
                    cssClass: 'dialog_fixed modalConfirma',
                    title: 'PREVIEW CONFIRMATION ' + reserva.Reserva_Id,
                    message: $('<div></div>').load("/Email/DineroMail/", {
                        id: reserva.Reserva_Id,
                        cliente: cliente,
                        email: email,
                        telefono: telefono
                    }).html('<div class="loader"></div>'),
                    buttons: [{
                        id: 'btn-enviar-confirma',
                        label: 'Close',
                        cssClass: 'btn-primary',
                        action: function (dialog) {
                            dialog.close();
                        }
                    }]
                });
            });

            function GenerateNSR($btn, params){
                $.post("/Functions/GenerateReservacionNSR", params, function(data, status, response){
                    $("#nsr-unavailable").hide();
                    if(data && !data.nsrConnected){
                        $("#nsr-unavailable").show();
                    }
                    if(data.status == 'success' || data.status == 'warning'){
                        var time = 1500;
                        if(data.status == 'success') $.success("Reservation", data.statusMessage);
                        else {
                            time = 2500;
                            $.warning("Reservation", data.statusMessage);
                        }
                        $.redirect("/Reservations/Summary/" + reserva.Reserva_Id, time);
                    }
                    else $.error("Reservation", data.statusMessage);
                }, "json").fail( function ( response, status, xhr ) {
                    console.log(response);
                }).always( function () {
                    $btn.button('reset');
                });
            }
        } );
    </script>
}

    <style>
        #meses_sin_intereses td.total {
            min-width: 75px !important;
        }

        #meses_sin_intereses thead td {
            padding: 2px 4px;
        }

        #meses_sin_intereses td:not(:first-of-type) {
            text-align: center;
            min-width: 24px;
        }

        #meses_sin_intereses input[type="radio"] {
            margin: 0px;
            cursor: pointer;
        }

        #meses_sin_intereses img {
            padding: 2px 0px;
        }

        #checkout #personal_info .ibox {
            margin: 0px !important;
        }

        #checkout #shopcartList [class*="col-"] {
            width: 100% !important;
        }

        #checkout #shopcartList label {
            margin-bottom: 0px !important;
        }

        #checkout #shopcartList small {
            font-size: 100% !important;
        }

        #checkout #shopcartList h4 {
            text-align: right;
        }

        #checkout #shopcartList img,
        #checkout #shopcartList .buttons,
        #checkout #shopcartList .row[morethanone="false"] h4 {
            display: none !important;
        }

        @@media screen and (max-width: 767px) {
            #reservation_summary > .col-sm-4 {
                padding: 0px !important;
            }
        }
    </style>
