﻿@model BackOfficeAcquaJoss.Models.ReservationsModel
<section class="newReservations">
    <section id="creacionReserva" class="clearfix row">
        <section class="left-content col-sm-7 clearfix">
            <form>
                <!--Data User-->
                <div class="ibox">
                    <div class="ibox-title">
                        <h5><i class="fa fa-list-alt" aria-hidden="true"></i> ADD GROUP</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="row">
                            <div class="col-sm-3 form-group-sm">
                                <label>Name</label>
                                <input type="text" name="Custumer_Name" id="Custumer_Name" class="form-control input-sm" />
                            </div>
                            <div class="col-sm-3 form-group-sm">
                                <label>Last Name</label>
                                <input type="text" name="Custumer_LastName" id="Custumer_LastName" class="form-control input-sm" />
                            </div>
                            <div class="col-sm-3 form-group-sm">
                                <label>Sex</label>
                                <select id="Custumer_Sex" name="Custumer_Sex" class="form-control input-sm">
                                    <option></option>
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>
                            </div>
                            <div class="col-sm-3 form-group-sm">
                                <label>Email</label>
                                <input type="text" name="Custumer_Email" id="Custumer_Email" class="form-control input-sm" />
                            </div>
                            <div class="col-sm-3 form-group-sm">
                                <label>Phone</label>
                                <input type="text" name="Custumer_Phone" id="Custumer_Phone" class="form-control input-sm" />
                            </div>
                            <div class="col-sm-3 form-group-sm">
                                <label>Cell Phone</label>
                                <input type="text" name="Custumer_CellPhone" id="Custumer_CellPhone" class="form-control input-sm" />
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Data User-->
                <!--Pass-->
                <section class="admission">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Park</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content clearfix">
                            <div class="row">
                                <div class="col-sm-2 form-group-sm">
                                    <label>Full Ticket</label>
                                    <input type="number" name="Reservation_Adult" id="Reservation_Adult" class="form-control input-sm" />
                                </div>
                                <div class="col-sm-2 form-group-sm">
                                    <label>Reduced Ticket</label>
                                    <input type="number" name="Reservation_Kids" id="Reservation_Kids" class="form-control input-sm" />
                                </div>
                                <div class="col-sm-2 form-group-sm">
                                    <label>Infants</label>
                                    <input type="number" name="Reservation_Infants" id="Reservation_Infants" class="form-control input-sm" />
                                </div>                              
                                <div class="col-sm-3 form-group-sm">
                                    <label>Date</label>
                                    <div class="input-group">
                                        <input id="Reserva_Llegada" name="Reserva_Llegada" type="text" class="form-control datepicker" value="" data-validation="date" data-validation-format="" placeholder="" />
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 form-group-sm">
                                    <label>Promotion</label>
                                    <select name="Reservation_Promotion" id="Reservation_Promotion" class="form-control input-sm">
                                        <option></option>
                                        <option value="">10OFF17</option>
                                        <option value="">15OFF17</option>
                                        <option value="">20OFF17</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox-title">
                                    <h5>Menu</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link" style=" border-radius: 10px;">
                                            <input id="reservaAfiliado" type="checkbox" class="js-switch-small" />
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="display:none;">
                                    <div class="row">
                                        <div class="col-sm-3 form-group-sm">
                                            <label>Food</label>
                                            <select id="Menu_Food" name="Menu_Food" class="form-control input-sm">
                                                <option></option>
                                                <option value="">MENÙ HAMBURGER</option>
                                                <option value="">MENÙ PIZZA</option>
                                                <option value="">MENU HOTDOG</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 form-group-sm">
                                            <label>Quantity</label>
                                            <select name="Menu_Quantity" id="Menu_Quantity" class="form-control input-sm">
                                                <option></option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 form-group-sm quan_beer" style="display:none;">
                                            <label>Quantity Beer</label>
                                            <select id="Menu_Beer" name="Menu_Beer" class="form-control input-sm">
                                                <option></option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 form-group-sm">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="option1" id="inlineCheckbox1"> Maxi format with only $ 1 more
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="option2" id="inlineCheckbox2" class="chkBeer">Beer instead of drinks with only $ 1 more
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </section>
                <!--End Pass-->

            </form>
        </section>
        <section class="rigth-content col-sm-5 clearfix">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>RATES</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content clearfix">
                    <div id="price_container">
                        <div class="m-b-xs">
                            <span class="label label-info">PRICES</span>
                        </div>
                        <h2>
                            <small>FULL TICKET: </small>
                            <span id="adultPrice" class="text-info price_container" style="display: inline;">
                                <b>
                                    $<span id="adultPriceValue" class="price_value">32</span> <span class="siglas_moneda"></span>
                                </b>
                                <span class="totalxAdults" style="display:inline;">
                                    <small class="num_adults">x2</small>
                                    <b>
                                        $<span id="adultPricexAdultsValue" class="price_value">64</span> <span class="siglas_moneda"></span>
                                    </b>
                                </span>
                            </span>
                        </h2>
                        <h2>
                            <small>REDUCED TICKET: </small>
                            <span id="kidPrice" class="text-info price_container" style="display: inline;">
                                <b>
                                    $<span id="kidPriceValue" class="price_value">26</span> <span class="siglas_moneda"></span>
                                </b>
                                <span class="totalxKids" style="display:inline;">
                                    <small class="num_kids">x2</small>
                                    <b>
                                        $<span id="kidPricexKidsValue" class="price_value">52</span> <span class="siglas_moneda"></span>
                                    </b>
                                </span>
                            </span>
                        </h2>
                        <h2>
                            <small>INFANTS: </small>
                            <span class="text-info price_container">
                                <b><span id="kidPriceValue" class="price_value">FREE</span></b>
                            </span>

                        </h2>

                        <!--Addons-->
                        <div id="nestable2">
                            <ol class="dd-list dd-nodrag">
                                <!--Activities with animals-->
                       
                                <!--Menu-->
                                <li class="dd-item">
                                    <div class="dd-bg">
                                        <span class="btn-xs btn-info "><i class="fa fa-cutlery"></i></span> Menu
                                        <button class="btn btn-primary pull-right boton-add" type="submit">Add <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    </div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="6">
                                            <div class="dd-bg">
                                                <span class="pull-right price_addons">
                                                    <b>$8.30</b>
                                                    <span class="totalxMenu" style="display:none;">
                                                        <small class="num_menu">x2</small>
                                                        <b>
                                                            $<span id="" class="price_value">30</span> <span class="siglas_moneda"></span>
                                                        </b>
                                                    </span>
                                                </span>
                                                <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> Menù hamburger +Maxi +Birra
                                            </div>
                                        </li>
                                        <li class="dd-item" data-id="7">
                                            <div class="dd-bg">
                                                <span class="pull-right price_addons">
                                                    <b>$7.90</b>
                                                    <span class="totalxMenu" style="display:none;">
                                                        <small class="num_menu">x2</small>
                                                        <b>
                                                            $<span id="" class="price_value">30</span> <span class="siglas_moneda"></span>
                                                        </b>
                                                    </span>
                                                </span>
                                                <span class="btn-xs btn-danger "><i class="fa fa-times"></i></span> Menù Pizza +Maxi +Birra
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                          
                              
                            </ol>
                        </div>
                        <!--End Addons-->
                    </div>
                    <div id="discount_container" style="display: block;">
                        <hr />
                        <div class="m-b-xs">
                            <span class="label label-warning">DISCOUNT</span>
                        </div>
                        <h2>
                            <small>FULL TICKET: </small>
                            <span id="adultPriceDiscount" class="text-warning price_container" style="display: inline;">
                                <b>
                                    $<span id="adultPriceDiscountValue" class="price_value">8</span> <span class="siglas_moneda"></span>
                                </b>
                                <span class="totalxAdults" style="display:inline;">
                                    <small class="num_adults">x2</small>
                                    <b>
                                        $<span id="adultPriceDiscountxAdultsValue" class="price_value">16</span> <span class="siglas_moneda"></span>
                                    </b>
                                </span>
                            </span>
                            <small class="text-right" style="display:inline-block;font-size:60%;">
                                New Price  <span class="text-info">$<span id="descuentoxAdulto">16</span> <span class="siglas_moneda"></span> </span>
                            </small>
                        </h2>

                        <h2>
                            <small>REDUCED TICKET: </small>
                            <span id="kidPriceDiscount" class="text-warning price_container" style="display: inline;">
                                <b>
                                    $<span id="kidPriceDiscountValue" class="price_value">8</span> <span class="siglas_moneda"></span>
                                </b>
                                <span class="totalxKids" style="display:inline;">
                                    <small class="num_kids">x2</small>
                                    <b>
                                        $<span id="kidPriceDiscountxKidsValue" class="price_value">16</span> <span class="siglas_moneda"></span>
                                    </b>
                                </span>
                            </span>
                            <small class="text-right" style="display:inline-block;font-size:60%;">
                                New Price  <span class="text-info">$<span id="descuentoxKid">16</span> <span class="siglas_moneda"></span> </span>
                            </small>
                        </h2>
                    </div>
                    <hr />

                    <div class="m-b-xs">
                        <span class="label label-success">TOTAL</span>
                    </div>
                    <div class="text-right">
                        <div id="totalPrice" class="m-b-xs" style="display: block;">
                            <h2>
                                <b>
                                    TOTAL:
                                    <span class="text-info price_container">
                                        $<span id="totalPriceValue" class="price_value">116</span> <span class="siglas_moneda"></span>
                                    </span>
                                </b>
                            </h2>
                        </div>
                        <div id="totalDiscount" class="m-b-xs" style="display:block;">
                            <h2>
                                <b>
                                    DISCOUNT:
                                    <span class="text-warning price_container">
                                        $<span id="totalDiscountValue" class="price_value">32</span> <span class="siglas_moneda"></span>
                                    </span>
                                </b>
                            </h2>
                        </div>
                        <div id="totalFinalDiscount" style="display:none;">
                            <hr style="margin:0px;" />
                            <h1>
                                <b>
                                    <span class="text-danger price_container">
                                        $<span id="totalFinalDiscountValue" class="price_value price_format"></span> <span class="siglas_moneda"></span>
                                    </span>
                                </b>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

           
            
            <div class="ibox">
                <div class="ibox-title">
                    <h5>SHOP CART</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                                <tr>
                                    <td class="desc">
                                        <h3 class="text-navy">
                                            PRIVATE GROUP TICKETS
                                        </h3>
                                        <p class="small">
                                            <div><label>Date: <span class="text-info"> 08/12/2017</span></label></div>
                                            <div><label>Full Ticket: <span class="text-info">2</span></label></div>
                                            <div><label>Reduced Ticket: <span class="text-info">2</span></label></div>
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Addons</dt>
                                            <dd>
                                                <div><span class="text-info">  PASSIONE DELFINI</span></div>
                                                <div><span class="text-info">   Menù hamburger +Maxi +Birra</span></div>
                                            </dd>
                                        </dl>
                                        <div class="m-t-sm">
                                            <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>
                                    <td>
                                        <span>
                                            Total
                                        </span>
                                        <h4 style="font-size:22px;">
                                            $42.90
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content clearfix">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <h2 class="font-bold">
                                Total:
                                <span class="text-danger">
                                    $42.90
                                </span>
                            </h2>
                            <hr>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                                    <a id="btn-profile" type="button" class="btn btn-sm btn-info"><i class="fa fa-file-text-o"></i> Profile</a>
                                    <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>




<script type="text/javascript">
    $(document).ready(function () {


        // activate Nestable for list 2
        $('#nestable2').nestable({

        })

        //show select quantity beer
        $(function () {
            $(".chkBeer").click(function () {
                if ($(this).is(":checked")) {
                    $(".quan_beer").show();
                } else {
                    $(".quan_beer").hide();
                }
            });
        });

    });

</script>

