﻿@model BackOfficeAcquaJoss.Models.ReservationsModel
@using Core;
@using System.Data.SqlClient;
@using General = Core.Resources.General;
@{
    string lang = Model.Lang;
    List<SalesSource> salesSourceList = Model.SalesSourceList;
    List<Affiliates> affiliatesList = Model.AffiliatesList;
    List<Products> productsList = Model.ProductsList.FindAll(p => p.Product_Status.Equals(true));

    List<ParkOperational> parkOperationalList = Model.ParkOperationalList;
    List<ParkCalendar> parkCalendarList = Model.ParkCalendarList.FindAll(pc => pc.ParkCalendar_Date >= DateTime.Now);
    List<ParkSchedules> parkSchedulesList = Model.ParkSchedulesList;
    List<DiscountCoupon> discountCouponList = Model.DiscountCouponList;

    List<string> ProductsWithSchedule = new List<string>() {
        Core.ProductIdentifier.Activity,
        Core.ProductIdentifier.ActivitySchool
    };

    List<string> SkipUsers = new List<string>() {
        UserType.ADMIN,
        UserType.DEVELOPER
    };

    List<SqlParameter> parameters = null;
    if (!SkipUsers.Contains(Global.UserProfile.User_Type))
    {
        parameters = new List<SqlParameter>() {
            new SqlParameter("Telemarketing_IdUser", Global.UserProfile.User_Id),
        };
    }

    List<Telemarketing> available = Telemarketing.Instance().GetTelemarketingBySchool(parameters);
    List<Customers> assignedSchools = Customers.GetSchools().FindAll(i => available.Select(t => t.Telemarketing_IdCustomer).Contains(i.Customer_Id));
}
<section class="newReservations">
    <section id="creacionReserva" class="clearfix row">
        <section class="left-content col-sm-7 clearfix">
            <!-- #region School -->
            <div class="ibox">
                <div class="ibox-title">
                    <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> @General.lblSchool.ToUpper()</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content clearfix">
                    <div class="clearfix">
                        <div class="form-group input-group">
                            <select id="search-school" name="School" class="form-control input-sm chosen-select-sm" data-placeholder="-- SCUOLE ASSEGNATE --" required>
                                <option>-- SCUOLE ASSEGNATE --</option>
                                @foreach (Telemarketing item in available)
                                {
                                <option value="@item.Telemarketing_IdCustomer">@(Customers.Instance().GetCustomer(item.Telemarketing_IdCustomer).Customer_Company_Name)</option>
                                }
                            </select>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-sm"> <i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed m-xs"></div>
                    <form id="school-form" class="row" validate="true" autocomplete="off">
                        <input type="hidden" name="Customer_Id" />
                        <div class="clearfix">
                            <div class="col-sm-4 form-group m-b-sm">
                                <label>@General.lblSchoolName</label>
                                <input type="text" name="Customer_Company_Name" class="form-control input-sm" autocomplete="off" required />
                            </div>
                            <div class="col-sm-4 form-group m-b-sm">
                                <label>Scuole Tipo</label>
                                <div class="input-group">
                                    <select name="Customer_SchoolCategory" class="form-control input-sm" data-placeholder="&nbsp;" required>
                                        <option></option>
                                        @foreach (SchoolCategories c in SchoolCategories.Instance().GetSchoolCategories())
                                        {
                                        <option value="@c.SchoolCategory_Identifier">@c.SchoolCategory_Name</option>
                                        }
                                    </select>
                                    <a data-toggle="modal" class="input-group-addon" href="#modal-add-schoolcategory" style="border-color: transparent;"><span class="fa fa-plus"></span></a>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group m-b-sm">
                                <label>Mechanographic Code</label>
                                <input type="text" name="Customer_Mechanographic_Code" class="form-control input-sm" autocomplete="off" />
                            </div>

                        </div>
                        <div class="clearfix">
                            <div class="col-sm-12 form-group m-b-sm">
                                <label>@General.lblAddress</label>
                                <input type="text" name="Customer_Address" class="form-control input-sm" autocomplete="off" />
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-sm-3 form-group m-b-sm">
                                <label>@General.lblEmail</label>
                                <input type="text" name="Customer_Email" class="form-control input-sm" autocomplete="off" />
                            </div>
                            <div class="col-sm-3 form-group m-b-sm">
                                <label>Fax</label>
                                <input type="text" name="Customer_Fax" class="form-control input-sm" autocomplete="off" />
                            </div>
                            <div class="col-sm-3 form-group m-b-sm">
                                <label>@General.lblCellPhone</label>
                                <input type="text" name="Customer_CellPhone" class="form-control input-sm" autocomplete="off" />
                            </div>
                            <div class="col-sm-3 form-group m-b-sm">
                                <label>@General.lblPhone</label>
                                <input type="text" name="Customer_Phone" class="form-control input-sm" autocomplete="off" />
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-sm-4 form-group m-b-sm">
                                <label>@General.lblCountry</label>
                                <select name="Customer_CountryCode" class="form-control input-sm chosen-select" data-placeholder="&nbsp;" required>
                                    <option></option>
                                    @foreach (Countries c in Model.CoutriesList)
                                    {
                                    <option value="@c.Country_Code">@c.Country_Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-4 form-group m-b-sm">
                                <label>@General.lblCity</label>
                                <input type="text" name="Customer_City" class="form-control input-sm" autocomplete="off" required />
                            </div>
                            <div class="col-sm-4 col-md-2 form-group m-b-sm">
                                <label>@General.lblPostalCode</label>
                                <input type="text" name="Customer_ZipCode" class="form-control input-sm" autocomplete="off" required />
                            </div>
                            <div class="col-sm-4 col-md-2 form-group m-b-sm">
                                <label>Media</label>
                                <select name="Reservation_IdSalesSource" class="form-control input-sm" required>
                                    <option></option>
                                    @foreach (SalesSource s in salesSourceList)
                                    {
                                    <option value="@s.SaleSource_Id">@s.SaleSource_Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="modal-add-schoolcategory" class="modal fade" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<h3 class="m-t-none m-b">DATA</h3>*@
                                    <form>
                                        @*<p>Sign in today for more expirience.</p>*@
                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="col-lg-4 col-form-label">@General.lblLanguage</label>
                                                <div class="col-lg-8">
                                                    <input type="text" name="SchoolCategory_LanguageCode" placeholder="Language" class="form-control input-sm" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="col-lg-4 col-form-label">Identifier</label>
                                                <div class="col-lg-8">
                                                    <input type="text" name="SchoolCategory_Identifier" placeholder="Identifier" class="form-control input-sm" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label class="col-lg-4 col-form-label">Name</label>
                                                <div class="col-lg-8">
                                                    <input type="text" name="SchoolCategory_Name" placeholder="Name" class="form-control input-sm" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="col-lg-4 col-form-label">Status</label>
                                                <div class="col-lg-8">
                                                    <div class="i-checks"><input type="checkbox" name="SchoolCategory_Status"><i></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-sm btn-white" type="submit">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <hr />
                                <div class="col-sm-12">
                                    <h4>DATA</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion School -->
            <!-- #region Addmissions Schools -->
            <section class="admission productos active">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5><i class="fa fa-ticket"></i> @General.lblTickets.ToUpper()</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content clearfix">
                        <form id="reservation_admission" validate="true" method="post" class="addToCart">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 form-group m-b-sm">
                                    <label>@General.lblTicket</label>
                                    <select id="ticket" name="idProduct" class="form-control input-sm" required>
                                        <option value=""></option>
                                        @foreach (Products p in productsList.FindAll(p => p.Product_Type.Equals(ProductIdentifier.School)))
                                        {
                                        <option value="@p.Product_Id">@p.Product_Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 form-group m-b-sm">
                                    <label>@General.lblDate</label>
                                    <div class="input-group datepicker">
                                        <input id="Adate" name="date" type="text" class="form-control input-sm" required autocomplete="off" />
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-2 form-group m-b-sm">
                                    <label>@General.lblQuantity</label>
                                    <input id="tickets" name="quantity" type="number" class="form-control input-sm" min="1" required />
                                </div>
                                <div class="col-sm-6 col-md-3 form-group m-b-sm">
                                    <label>Promo</label>
                                    <select id="coupon" name="coupon" class="form-control input-sm">
                                        <option value=""></option>
                                        @*
                                            @foreach (DiscountCoupon c in discountCouponList)
                                            {
                                                <option value="@c.DiscountCoupon_Identifier">@c.DiscountCoupon_Identifier</option>
                                            }
                                        *@
                                    </select>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-sm-6 col-md-2 form-group m-b-sm">
                                        <label>Intero</label>
                                        <input id="tickets" name="quantity" type="number" class="form-control input-sm" min="1" required />
                                    </div>
                                    <div class="col-sm-6 col-md-2 form-group m-b-sm">
                                        <label>Ridotto</label>
                                        <input id="tickets" name="quantity" type="number" class="form-control input-sm" min="1" required />
                                    </div>
                                </div>*@
                            <div class="clearfix">
                                <div class="pull-left form-group">
                                    @foreach (ParkSchedules s in parkSchedulesList.FindAll(s => s.ParkSchedule_Status == true))
                                    {
                                    <span class="vertical_align_middle">
                                        <i class="fa fa-circle" style="color:@s.ParkSchedule_Color"></i>
                                        <span>@s.ParkSchedule_TimeStartString - @s.ParkSchedule_TimeEndString</span>&nbsp;
                                    </span>
                                    }
                                </div>
                                <div class="pull-right text-right">
                                    <button class="btn btn-info btn-sm btn-w-m" type="submit">@General.lblAddToCart.ToUpper()</button>
                                </div>
                            </div>
                            <input class="static" name="type" type="hidden" value="@ProductIdentifier.School" />
                            <input name="schedule" type="hidden" class="showInCart" />
                            <input name="product" type="hidden" />
                            <input name="price" type="hidden" />
                            <input name="currency_code" type="hidden" />
                            <input name="currency_symbol" type="hidden" />
                            <input name="total" type="hidden" />
                            <input name="discount" type="hidden" />
                            <input name="totalWithDiscount" type="hidden" />
                        </form>
                    </div>
                </div>
                @{
                    var DataView = new ViewDataDictionary(ViewData)
                    {
                        new KeyValuePair<string, object>("filterMenu", ProductIdentifier.MenuSchool),
                        new KeyValuePair<string, object>("filterActivity", ProductIdentifier.ActivitySchool)
                    };
                }

            </section>
            <!-- #endregion Addmissions -->

            <div id="addons" style="display:none;">
                @Html.Partial("~/Views/Shared/_AddonsPartial.cshtml", DataView)
            </div>

            <!-- #region Animal Explorer -->
            @*<section class="AnimalExplorer productos active">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Animal Explorer</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content clearfix">
                            <div class="row">
                                <div class="col-sm-4 form-group m-b-sm">
                                    <label>@General.lblDate</label>
                                    <div class="input-group">
                                        <input id="Animal_Date" name="Animal_Date" type="text" class="form-control" />
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group m-b-sm">
                                    <label>@General.lblQuantity</label>
                                    <select id="Animal_Quantity" name="Animal_Quantity" class="form-control iput-sm">
                                        <option></option>
                                        <option value=""> 1</option>
                                        <option value=""> 2</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 form-group m-b-sm">
                                    <label>@General.lblSchedule</label>
                                    <select id="Animal_Schedule" name="Animal_Schedule" class="form-control imput-sm">
                                        <option></option>
                                        <option value="">10:00</option>
                                        <option value="">13:30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>*@
            <!-- #endregion Animal Explorer -->
        </section>
        <section class="rigth-content col-sm-5 clearfix">
            <div id="affiliate-info" class="ibox" style="display:none;">
                <div class="ibox-title">
                    <h5>@General.lblAffiliate</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="m-b-xs"><label><span>@General.lblName:</span> <span id="Affiliate_Name" class="text-info"></span></label></div>
                    <div class="m-b-xs"><label><span>@General.lblContactName:</span> <span id="Affiliate_ContactName" class="text-info"></span></label></div>
                    <div class="m-b-xs"><label><span>@General.lblEmail:</span> <span id="Affiliate_Email" class="text-info"></span></label></div>
                    <div class="m-b-xs"><label><span>@General.lblPhone:</span> <span id="Affiliate_Phone" class="text-info"></span></label></div>
                    <div class="m-b-xs"><label><span>@General.lblDescription:</span> <span id="Affiliate_Description" class="text-info"></span></label></div>
                    <div class="m-b-xs"><label><span>Url:</span> <span id="Affiliate_Url" class="text-info"></span></label></div>
                    <div class="m-b-xs"><label><span>@General.lblCreationDate:</span> <span id="Affiliate_CreationDate" class="text-info"></span></label></div>
                </div>
            </div>
            <div class="make_static">
                @Html.Partial("~/Views/Shared/_Rates.cshtml")
                <form id="shopcart-form">
                    @Html.Partial("~/Views/Shared/_ShopCart.cshtml")
                    <input id="subtotal" type="hidden" name="reservation[Reservation_Subtotal]" />
                    <input id="total" type="hidden" name="reservation[Reservation_Total]" />
                    <input id="currencyCode" type="hidden" name="reservation[Reservation_CurrencyCode]" />
                </form>
                <div id="hotel-info" class="ibox" style="display:none;">
                    <div class="ibox-title">
                        <h5>HOTEL</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="row">
                            <div class="col-sm-12">
                                <div><label>@General.lblRooms: <span id="rooms" class="text-info"></span></label></div>
                                <div><label>@General.lblStars: <span id="Hotel_Stars" class="text-info"></span></label></div>
                                <div><label>@General.lblEmailContact: <span id="Hotel_EmailContact" class="text-info"></span></label></div>
                                <div><label>@General.lblEmailReservation: <span id="Hotel_EmailReserve" class="text-info"></span></label></div>
                                <div><label>@General.lblPhone: <span id="Hotel_Phone" class="text-info"></span></label></div>
                                <div><label>@General.lblAddress: <span id="Hotel_Address" class="text-info"></span></label></div>
                                <div><label>@General.lblServices: <span class="text-info"></span></label></div>
                                <div><label>URL: <span id="Hotel_Url" class="text-info"></span></label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<script type="text/javascript">
    var productsList = @Html.Raw(Json.Encode(productsList));
    var affiliatesList = @Html.Raw(Json.Encode(affiliatesList));
    var parkOperationalList = @Html.Raw(Json.Encode(parkOperationalList));
    var parkCalendarList = @Html.Raw(Json.Encode(parkCalendarList));
    var parkSchedulesList = @Html.Raw(Json.Encode(parkSchedulesList));
    var discountCouponList = @Html.Raw(Json.Encode(discountCouponList));
    var ProductsWithSchedule = @Html.Raw(Json.Encode(ProductsWithSchedule));
    var assignedSchools = @Html.Raw(Json.Encode(assignedSchools));

    var $addons = $("#addons"),
        $addonsMenus = $addons.find("#addons_menus"),
        $addonsAnimals = $addons.find("#addons_animals"),
        $addonsExtras = $addons.find("#addons_extras"),
        $addonsGadgets = $addons.find("#addons_gadgets");


    console.log("parkOperationalList:", parkOperationalList);
    console.log("parkCalendarList:", parkCalendarList);
    console.log("parkSchedulesList:", parkSchedulesList);


    $(document).ready(function () {
        var $shopCartForm = $("#shopcart-form");
        var $shopCart = $shopCartForm.find("#shopcart");
        var $shopcartList = $shopCart.find("#shopcart-list");

        $.each(parkCalendarList, function(){
            this.ParkCalendar_ParkOperational = parkOperationalList.find(po => po.ParkOperational_Id == this.ParkCalendar_IdOperational);
            if(this.ParkCalendar_ParkCalendarSchedule){
                this.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_Schedule = parkSchedulesList.find(s => s.ParkSchedule_Id == this.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkSchedule)
            }
        });

        //$("#datadyn").css("visibility", "hidden");
        //$("#Dticket").on("change", function() {
        //    var sel = this.value;
        //    if (sel == ''){
        //        $("#datadyn").css("visibility", "hidden");
        //    }
        //    else
        //    {
        //        $("#datadyn").css("visibility", "visible");
        //    }
        //});

        $('.datetimepicker-addon').on('click', function() {
            $(this).prev('input.datetimepicker').data('DateTimePicker').toggle();
        });

        //$("#TypeProduct").prop("selectedIndex", 0);
        //$(".productos").slideUp();

        //$("#TypeProduct").on("change", function () {
        //    var optionValue = this.value;
        //    if (optionValue) {
        //        $(".productos").not("." + optionValue).hide();
        //        $("." + optionValue).slideDown();
        //    } else {
        //        $(".productos").slideUp();
        //    }
        //});

        $("#reservaAfiliado").on("change", function(){
            $("#Affiliate_Id").findAffiliate();
        });

        $("#afiliado_btn").on("click", function(e){
            $(this).closest(".input-group").find("#Affiliate_Id").findAffiliate();
        });

        $("#Affiliate_Name").on("change", function(e){
            $(this).findAffiliate(e);
        });

        $('#search-school').on("change", function(){
            var $this = $(this);
            var ID = this.value;

            var school = assignedSchools.find(i => i.Customer_Id == ID);
            if(school){
                $("#school-form").setValues(school);
            }else{
                $("#school-form").clear();
            }
        });

        $("#rooms").on("change", function (){
            var value = parseInt(this.value);
            var $table = $("#listBedrooms");
            var $body = $table.find("tbody");

            showRates();

            if (value >= $(this).attr("min")) {
                var rows = $body.find("tr").length;
                if (rows < value) {
                    for (var i = rows + 1; i <= value; i++) {
                        var $row = $body.find("tr:last").clone().clear();
                        $row.removeAttr("people");
                        $row.find(".input-adults").attr("id", "input-adults-" + i);
                        $row.find(".input-kids").attr("id", "input-kids-" + i);
                        $row.find(".input-infants").attr("id", "input-infants-" + i);
                        $row.find("td:first .count").text(i);
                        $row.find("label.error").remove();
                        $row.find(".error").removeClass("error");
                        $row.find('[type="number"]').val(0);
                        $row.find('.input-adults').val(1);
                        $body.append($row);
                    }
                } else if (rows > value) {
                    for (var i = rows; i > value; i--) {
                        $body.find("tr:last").remove();
                    }
                }
            } else {
                $body.find("tr").clear();
            }
            $("#listBedrooms").countRooms();
        });

        var $rates = $("#rates");
        var $productPriceContainer = $rates.find("#price_container #price_container_product");

        $('[name="idProduct"]').on("change", function(){
            var Pid = $(this).attr('id');

            //product allotment
            if (Pid == "productActivity"){

                $("#scheduleActivity option").remove();
            }

            var option = 0;

            //dynamic ticket
            var option = 0;
            //var selprod = $("#TypeProduct option:selected").text();
            $("#addons").css("display","block");


            //if (selprod == "ACTIVITY"){$("#addons").css("display","none"); }
            //if (selprod == "ADMISSION"){$("#addons").css("display","block"); }
            //if (selprod == "DYNAMIC"){$("#addons").css("display","block");}
            //if (selprod == "HOTEL"){$("#addons").css("display","block"); }
            //if (selprod == "PROMOTION"){$("#addons").css("display","none"); }
            //if (selprod == "SUBSCRIPTION"){$("#addons").css("display","none"); }

            //if (selprod == "DYNAMIC" && Pid == "Dticket")
            //{
            //    option = 1;
            //}

            getAllRates(this.value, option);
            $(this).getRate();
            $(this).calculateRates();
            $(this)
        });

        $('[name="quantity"], [name="coupon"]').on("change", function(){
            $(this).getRate();
            $(this).calculateRates();
        });

        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        //console.log(firstDay);

        $(".datepicker").datetimepicker({
            minDate: firstDay,
            maxDate: moment.max(parkCalendarList.map(p => p.ParkCalendar_DateFormat.toMoment())),
            enabledDates: parkCalendarList.map(function(p){
                if(p.ParkCalendar_Status){
                    return p.ParkCalendar_DateFormat.toDate();
                }
            }),
        })
        .on("dp.show",  getSchedulesByDate)
        .on("dp.update", getSchedulesByDate)
        .on("dp.change", function(e){
            var $target = $(e.currentTarget);

            var dat = $("#Adate").val();

            //var selprod = $("#TypeProduct option:selected").text();
            //if (selprod == "ADMISSION"){dat = $("#Adate").val(); }
            //if (selprod == "DYNAMIC"){dat = $("#Ddate").val();}
            //if (selprod == "HOTEL"){dat = $("#Hdate").val();}


            $("#Menudate").val(dat);
            $("#Activitydate").val(dat);
            $("#Extradate").val(dat);


            var data = $target.data();
            var $form = $target.closest("form");
            if($target.hasClass("input-daterange")){
                $form.find('[name="datesSelected[]"], [name="datesClosed[]"], [name="datesOpened[]"]').remove();
                var $start = $target.find(":text").first();
                var $end = $target.find(":text").last();

                var start = $start.val();
                var end = $end.val();
                if(start && end){
                    var dates = getDates(start.toMoment(), end.toMoment());
                    $.each(dates, function(){
                        var data = getDataByDate(this);
                        var date =  this.format("L");
                        if(data.parkOperational){
                            $form.append('<input type="hidden" name="datesOpened[]" value="' + date + '">');
                        }else{
                            $form.append('<input type="hidden" name="datesClosed[]" value="' + date + '">');
                        }
                        $form.append('<input type="hidden" name="datesSelected[]" value="' + date + '">');
                    });
                    $form.find('[name="days"]').val(dates && dates.length ? dates.length - 1 : 0);
                }
                $target.trigger("change");

            }
            else{
                if(data && data.dataSelected){
                    var $inputSchedule = $form.find('[name="schedule"]');
                    if($inputSchedule.length && data.dataSelected.parkSchedule){
                        $inputSchedule.val(data.dataSelected.parkSchedule.ParkSchedule_TimeStartShort);
                        $target.parent().find(".input-group-addon").css({"background-color" : data.dataSelected.parkSchedule.ParkSchedule_Color, "color" : "white"});
                    }else{
                        $target.parent().find(".input-group-addon").css({"color" : "inherit"});
                    }
                    $(this).data("rate", data.dataSelected.rate ? data.dataSelected.rate : null);
                }
                $(this).getRate();
            }
            $(this).calculateRates();

        });

        $(this).on("change dp.change", ".datepicker, #ticket, [name='idProduct']", function(){
            var $form = $(this).closest("form");
            var type = $form.find('[name="type"]').val();
            var productId = $form.find("[name='idProduct']").val();
            var notCoupon = $form.find(".no-coupon").length == 0;
            var hasSchedule = $form.find(".allow-schedule").length > 0;

            $form.find("[name='coupon']").find("option").not("[value='']").remove();
            if(productId != "" && !notCoupon){
                $.post("/Ajax/GetDiscountCouponAvailable", {
                    date: $form.find("[name='date']").val(),
                    product_Id: productId
                }, function(data){
                    data.forEach(function(element) {
                        $form.find("[name='coupon']").append(new Option(element.DiscountCoupon_Identifier.toUpperCase(), element.DiscountCoupon_Id));
                        $form.find("[name='coupon'] option:last").attr("productId", element.DiscountCoupon_Product_Id);
                    });
                }, "JSON");
            }

            if(ProductsWithSchedule.includes(type)){
                if(productId != "" && hasSchedule) {
                    var dataResponse = getData("/Ajax/GetProductAlltoment", { idProduct: productId, date: $form.find("[name='date']").val() });
                    if(dataResponse != null){
                        dataResponse.forEach(function(element) {
                            $form.find("[name='schedule']").append(new Option(element.Schedule.toUpperCase(), element.Schedule));
                            $form.find("[name='schedule'] option:last").attr("productId", element.Product_Id);
                        });
                    }
                }
            }
        });

        $('.getHotels').on("change", function(){
            $(this).closest("form").getHotels();
        });

        $(this).on("change", "#listBedrooms .input-adults, #listBedrooms .input-kids", function(e){
            var $row = $(this).closest("tr");
            var $form = $(this).closest("form");
            var formData = $form.serializeJSON();
            var adults = formData.adults ? formData.adults.sum() : 0;
            var kids = formData.kids ? formData.kids.sum() : 0;
            var people = adults + kids;

            var $adults = $row.find(".input-adults");
            var adults = $adults.val() ? parseInt($adults.val()) : 0;
            var $kids = $row.find(".input-kids");
            var kids = $kids.val() ? parseInt($kids.val()) : 0;

            var max = $adults.attr("max-ori");
            $adults.attr("max", max - kids);
            $kids.attr("max", max - adults);

            if((adults + kids) > max) {
                //$(this).hasClass(".input-adults") ? $kids.val($kids.attr("max")) : $adults.val($adults.attr("max"));
            }

            var room = "";
            switch(adults + kids){
                case 2:
                    room = "double";
                    break;
                case 3:
                    room = "triple";
                    break;
                case 4:
                    room = "quadruple";
                    break;
            }
            $row.attr("people", (adults + kids));
            $("#listBedrooms").countRooms();

            $(this).calculateRates();
        })

        $(this).on("change", ".checkbox-hotel", function(){
            var $container = $("#listHotels");
            var $this = $(this);
            var $form = $(this).closest('form');
            var $hotel = $this.closest('.hotel');
            var idProduct = $this.attr("id-product");
            var $form = $this.closest("form");

            var formData = $form.serializeJSON();

            var adults = formData.adults ? formData.adults.sum() : 0;
            var kids = formData.kids ? formData.kids.sum() : 0;
            var people = adults + kids;

            var dayInPark = formData.datesOpened ? formData.datesOpened.length : 0;

            $container.find(".checkbox-hotel").not($this).prop("checked", false).val(false);

            $form.find('[name="idProduct"]').val("");
            $form.find('[name="product"]').val("");
            $form.find('[name="price"]').val($hotel.attr("price") ? $hotel.attr("price") : "");
            $form.find('[name="currency_code"]').val($hotel.attr("currency_code") ? $hotel.attr("currency_code") : "");
            $form.find('[name="currency_symbol"]').val($hotel.attr("currency_symbol") ? $hotel.attr("currency_symbol") : "");
            $form.find('[name="quantity"]').val(people);

            if(this.checked && idProduct){
                var hotelName = $(this).closest(".text-info").find(".hotel-name").text();
                var package = hotelName + " + " + (dayInPark * people) + " TICKETS";
                $form.find('[name="idProduct"]').val(idProduct);
                $form.find('[name="product"]').val(package);
                showRates("Package", package);
                $.post("/Functions/GetHotelData", {
                    idProduct: idProduct
                }, function(data){
                    $("#hotel-info").setValues(data).show();
                }, "JSON");
            }else{
                showRates();
                $("#hotel-info").find("span[id]").empty();
            }
            $(this).calculateRates();
        });

        $(".addToCart").find(".btn").on("click", function(){
            var $form = $(this).closest("form");
            var formData = $form.serializeJSON();
            var type = formData.type;
            $.each($form.find(".sum"), function(){
                var name = $(this).attr("name");
                name = name.replace('[', '');
                name = name.replace(']', '');
                var data =  formData[name];
                formData[name] = Array.isArray(data) ? data.sum() : data;
            });

            console.log(formData);

            if($form.valid() && formData.total){
                var currency_symbol = formData.currency_symbol;
                var currency_code = formData.currency_code;
                var totalWithDiscount = formData.totalWithDiscount;
                var $item = creteItemCart();
                //formData.discount = parseFloat(formData.discount);
                $item.attr("type", type);
                $form.find(".showInCart, [name]:not([type='hidden'])").each(function(){
                    var $formGroup = $(this).closest(".form-group");
                    var name = $(this).attr("name");
                    var label = $formGroup.find("label").length ? $formGroup.find("label").text() : name.toCamelCase();
                    var value = formData[name];

                    if($(this).is("select")){
                        formData[$(this).attr("name") + "_text"] = $(this).find("option:selected").text();
                        if(name == "coupon" && value){
                            value = discountCouponList.find(c => c.DiscountCoupon_Id == value).DiscountCoupon_Identifier.toUpperCase();
                        }
                        if(name == "schedule" && value){
                            value = $(this).find("option:selected").text();
                        }
                    }
                    if($(this).closest('.input-daterange').length){
                        var start = $(this).closest('.input-daterange').find("input:first").val();
                        var end = $(this).closest('.input-daterange').find("input:last").val();
                        value = start + " - " + end;
                    }
                    if($(this).attr("name") != "idProduct" && value && $item.text().indexOf(label)){
                        $item.find(".item_content").append('<label><span>' + label + ':</span> <span class="text-info">' + value  + '</span></label>');
                    }

                });
                $item.find(".item_title").text(formData.product);
                $item.find(".item_subtotal").text(currency_symbol + "" + totalWithDiscount);
                $item.data("data", formData);

                $shopcartList.append($item);
                $shopCart.recalculate();
                $form.find("[name='idProduct']").val("").trigger("change").focus();
                $form.find("#coupon").val("").trigger("change");
                showRates();
                $("#hotel-info").find("span[id]").empty();
                $("#hotel-info").hide();
            }
            return false;
        });

        $shopCartForm.on("click", ".remove_item", function(){
            var $li = $(this).closest("li");
            $li.slideUp("fast", function(){
                $(this).remove();
                $shopCart.recalculate();
            });
        });

        $shopCartForm.on("click", ".update_item", function(){
            var $li = $(this).closest("li");
            console.log($li, this);
            //$li.slideUp("fast", function(){
            //    $(this).remove();
            //    $shopCart.recalculate();
            //});
        });

        $shopCartForm.on("click", "#btn-checkout", function(e) {
            e.preventDefault();
            var $btn = $(this);
            var $clientForm = $("#school-form");
            var jsonData = $shopCartForm.serializeJSON({ useIntKeysAsArrayIndex: true, parseBooleans: true/*, parseNumbers: true*/});

            var customer = $clientForm.serializeJSON();
            var reservation = jsonData.reservation;
            reservation.Reservation_IdSalesSource = customer.Reservation_IdSalesSource;
            delete customer.Reservation_IdSalesSource;
            var checkoutReservation = {
                customer: customer,
                reservation: reservation,
                reservations: {
                    admissions: [],
                    dynamics: [],
                    schools: [],
                    extras: [],
                    activities: [],
                    activitiesschools: [],
                    menus: [],
                    menusschools: [],
                    gadgets: [],
                    hotels: [],
                }
            };
            $shopcartList.find("> li").each(function(){
                var $li = $(this);
                var data = $li.data("data");
                switch($li.attr("type")){
                    case "@ProductIdentifier.Admission":
                        checkoutReservation.reservations.admissions.push(data);
                        break;
                    case "@ProductIdentifier.Dynamic":
                        checkoutReservation.reservations.dynamics.push(data);
                        break;
                    case "@ProductIdentifier.School":
                        checkoutReservation.reservations.schools.push(data);
                        break;
                    case "@ProductIdentifier.Extra":
                        checkoutReservation.reservations.extras.push(data);
                        break;
                    case "@ProductIdentifier.Activity":
                        checkoutReservation.reservations.activities.push(data);
                        break;
                    case "@ProductIdentifier.ActivitySchool":
                        checkoutReservation.reservations.activitiesschools.push(data);
                        break;
                    case "@ProductIdentifier.Menu":
                        checkoutReservation.reservations.menus.push(data);
                        break;
                    case "@ProductIdentifier.MenuSchool":
                        checkoutReservation.reservations.menusschools.push(data);
                        break;
                    case "@ProductIdentifier.Gadget":
                        checkoutReservation.reservations.gadgets.push(data);
                        break;
                    case "@ProductIdentifier.Hotel":
                        checkoutReservation.reservations.hotels.push(data);
                        break;
                }
            });

            if($clientForm.valid()){
                $btn.button( 'loading' );
                console.log("checkoutReservation: ", checkoutReservation);
                $.post("/Ajax/Reservation/", checkoutReservation, function ( data ) {
                    if(data && data.status){
                        $.redirect("/reservations/summary/" + data.idReserva);
                    }
                }, "json" ).fail( function (response, status, xhr) {
                    console.log(response, status, xhr);
                }).always(function (){
                    $btn.button('reset');
                });
            }else{
                $.warning("Customer", "Please verify customer data");
            }
        });

        $.fn.recalculate = function(){
            var $shopCart = $(this);
            var total = 0, subtotal = 0;
            var currency_symbol = "", currency_code = "";
            var $items = $shopcartList.find("> li");
            $items.each(function(){
                var data = $(this).data("data");
                subtotal += Number(data.total);
                total += Number(data.totalWithDiscount);
                currency_symbol = data.currency_symbol;
                currency_code = data.currency_code;
            });
            $shopCartForm.find("#subtotal").val(subtotal.toFixed(2));
            $shopCartForm.find("#total").val(total);
            $shopCartForm.find("#currencyCode").val(currency_code);
            $shopCartForm.find("#shopcart-total").text(currency_symbol + "" + total + " " + currency_code);
            $shopCart.attr("items", $items.length);
        }

        function showRates(label, product){
            if(product){
                $productPriceContainer.find("#product_type").text(label + ": ");
                $productPriceContainer.find("#product").text(product);
                $productPriceContainer.show();
            }else{
                $productPriceContainer.find("#product_type").empty();
                $productPriceContainer.find("#product").empty();
                $productPriceContainer.hide();
            }
        }

        function getSchedulesByDate(e){
            var $target = $(e.currentTarget);

            var $form = $target.closest("form");
            var $formData = $form.serializeJSON();
            var $dtp = $target.find(".bootstrap-datetimepicker-widget");
            $dtp.addClass("custom");
            $target.data("data-selected", null);
            $dtp.find(".active").removeClass("active today");
            var idProduct = $formData.idProduct;
            $dtp.find('.day:not(.disabled)').each(function (i, obj) {
                var $this = $(this);
                var date = $this.attr('data-day').toMoment();
                var data = getDataByDate(date);
                var day = $this.text();
                var rate = getRate(idProduct, date);
                var price = rate && rate.price ? (rate.currency_symbol + "" + rate.price) : "";

                var color = data.parkOperational && data.parkSchedule ? data.parkSchedule.ParkSchedule_Color : ""; //color schedule
                var background = data.parkOperational ? data.parkOperational.ParkOperational_Color : ""; //color calendar

                var dataSelected = data == null ? {} : data;
                dataSelected.rate = rate;
                $this.empty().append('<div class="custom_date"><div class="day">' + day + '</div><div class="schedule" style="background:' + color + '">' + price + '</div></div>');
                $this.data("data-selected", dataSelected).on("click", function(e){

                    $target.data("data-selected", $(this).data("data-selected"));
                });
            });


        }

        function getDataByDate(date){
            var parkOperational = null;
            var parkCalendar = null;
            var parkSchedule = null;
            if(date){
                parkCalendar = parkCalendarList.find(p => date.format("L") == p.ParkCalendar_DateFormat);
                if(parkCalendar){
                    parkOperational = parkCalendar.ParkCalendar_ParkOperational;
                    if(parkCalendar.ParkCalendar_ParkCalendarSchedule){
                        parkSchedule = parkCalendar.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_Schedule;
                    }
                }
            }
            return {
                parkOperational: parkOperational,
                parkCalendar: parkCalendar,
                parkSchedule: parkSchedule
            };
        }

        $.fn.calculateRates = function(){
            var $form = $(this).closest("form");
            var formData = $form.serializeJSON();
            var idProduct = formData.idProduct;
            var quantity = formData.quantity ? formData.quantity : 0;
            var days = formData.days ? formData.days : 1;
            var coupon_code = formData.coupon;
            var currency_code = formData.currency_code;
            var currency_symbol = formData.currency_symbol;

            var price = formData.price ? formData.price : 0;

            var $product = $form.find('[name="idProduct"]');
            if($product.is("select")){
                var $group = $product.closest(".form-group");
                var label = $group.find("label").text();
                var product = $product.find('option:selected').text();
                $form.find('[name="product"]').val(product);
                idProduct ? showRates(label, product) : showRates();
            }
            $form.printRates(idProduct, formData.price, quantity, days, currency_code, currency_symbol, coupon_code);
        }

        $.fn.getHotels = function() {
            var $form = $(this);
            var formData = $form.serializeJSON();

            var adults = formData.adults.sum();
            var kids = formData.kids.sum();
            var dayInPark = formData.datesOpened ? formData.datesOpened.length : 0;
            var nightsAtHotel = formData.datesSelected ? formData.datesSelected.length - 1  : 0;

            $form.find('[name="tickets"]').val(dayInPark);
            $form.find('[name="nights"]').val(nightsAtHotel);

            $("#listHotels").empty();
            if(formData.arrival && formData.departure && formData.rooms){
                $.post("/Ajax/GetHotels", {
                    lang: "@lang",
                    rooms: formData.rooms,
                    adults: adults,
                    kids: kids
                }, function(response){
                    $("#listHotels").html(response);
                    $("#listHotels").find('.hotel').each(function(){
                        var $hotel = $(this);
                        var idProduct = $hotel.attr("idProduct");
                        if(formData.datesOpened && formData.datesOpened.length){
                            var total = 0, i = 0;
                            $.each(formData.datesOpened, function(i, value){
                                var rate = getRate(idProduct, value);
                                if(rate){
                                    if(i == 0){
                                        $hotel.find('.hotel-rate').text(rate.currency_symbol + "" + rate.price + " " + rate.currency_code);
                                    }
                                    $hotel.attr({
                                        currency_symbol: rate.currency_symbol,
                                        price: rate.price,
                                        currency_code: rate.currency_code
                                    });
                                }
                                i++;
                            });
                        }
                    });

                    $("#listHotels").find('.hotel .hotel-info').html(
                        '<span>' + (formData.arrival + ' - ' + formData.departure) + '</span> ' +
                        '<span>(' + ((nightsAtHotel + ' nights at the hotel') + ' + '  + (dayInPark + ' days in the park')) + ')</span>'
                    );
                    $("#listBedrooms").countRooms();
                }).fail(function(response, status, xhr){
                    console.log(response, status, xhr);
                });
            }
        };

        $.fn.countRooms = function(){
            var $form = $(this).closest('form');
            var $rooms = $(this).find("tbody");

            var sigle = $rooms.find('[people="1"]').length;
            var double = $rooms.find('[people="2"]').length;
            var triple = $rooms.find('[people="3"]').length;
            var quadruple = $rooms.find('[people="4"]').length;

            var people = 0;
            var rooms = [];
            if(sigle) rooms.push('<span>' + sigle + ' Single</span>');
            if(double) rooms.push('<span>' + double + ' Double</span>');
            if(triple) rooms.push('<span>' + triple + ' Triple</span>');
            if(quadruple) rooms.push('<span>' + quadruple  + ' Quadruple</span>');
            $rooms.find('[people]').each(function(i, obj){
                people += parseInt($(this).attr('people'));
                $(this).find('.roomsType_adults').attr("name", "roomsTypes[" + i + "][adults]").val($(this).find(".input-adults").val());
                $(this).find('.roomsType_kids').attr("name", "roomsTypes[" + i + "][kids]").val($(this).find(".input-kids").val());
                $(this).find('.roomsType_infants').attr("name", "roomsTypes[" + i + "][infants]").val($(this).find(".input-infants").val());
            });

            $("#listHotels .hotel .hotel-rooms").html(rooms.join(', '));
            $form.find('[name="quantity"]').val(people);
        }

        var allRates = [];
        function getAllRates(idProduct, option){
            var URL = "/Ajax/GetProductRate";
            if (option == 1){
                URL = "/Ajax/GetDynamicProductRate";
            }

            var data = null;
            if(idProduct){
                var rate = allRates.find(r => r.idProduct == idProduct);
                rate = null;
                if(!rate){
                    data = getData(URL,{
                        idProduct: idProduct
                    });

                    allRates.push({
                        idProduct: idProduct,
                        data: data
                    });
                }
            }
            return data;
        }

        function getRate(idProduct, date){
            date = date ? (moment.isMoment(date) ? date : date.toMoment()) : null;

            var data = null
            if(idProduct && date){
                var rate = allRates.find(r => r.idProduct == idProduct);
                //console.log("allRates: ", rate);
                if(rate){
                    data = $.map(rate.data, function(obj) {
                        if(obj.Price_IdProduct == idProduct && moment(obj.ParkCalendar_Date).format("L") == date.format("L")){
                            return obj;
                        }
                    });

                    if(data && data.length){
                        data = data[0];
                    }


                }
                else{

                    var URL = "/Ajax/GetProductRate";
                    if (option == 1){
                        URL = "/Ajax/GetDynamicProductRate";
                    }
                    data = getData(URL,{
                        idProduct: idProduct,
                        date: date.format("L")
                    });
                }
            }

            return {
                price: data ? data.PriceSeason : 0,
                currency_code: data ? data.Currency_Code : "",
                currency_symbol: data ? data.Currency_Symbol : ""
            }
        }

        $.fn.getRate = function(idProduct, date){
            var $form = $(this).is("form") ? $(this) : $(this).closest("form");
            var rate = $(this).data("rate");

            if(!rate){
                idProduct = idProduct ? idProduct : $form.find('[name="idProduct"]').val();
                date = date ? date : $form.find('[name="date"]').val();
                date = date ? (moment.isMoment(date) ? date : date.toMoment()) : null;
                rate = getRate(idProduct, date);
            }

            if(rate != null && $form && $form.length){
                $form.find('[name="price"]').val(rate.price);
                $form.find('[name="currency_code"]').val(rate.currency_code);
                $form.find('[name="currency_symbol"]').val(rate.currency_symbol);
            }
        }

        $.fn.printRates = function(idProduct, price, quantity, days, currency_code, currency_symbol, coupon_code){
            var $form = $(this);
            var $rates = $("#rates");
            var total = idProduct ? (Number(price) * Number(quantity)) : 0;
            if(idProduct && price && quantity && quantity > 1){
                $productPriceContainer.find(".price_more_than_one .quantity").text("x" + quantity);
                $productPriceContainer.find(".price_more_than_one .price_value").text(total);
                $productPriceContainer.find(".price_more_than_one").show();
            }else{
                $productPriceContainer.find(".price_more_than_one .price_value").empty();
                $productPriceContainer.find(".price_more_than_one .quantity").empty();
                $productPriceContainer.find(".price_more_than_one").hide();
            }

            total = total > 0 ? (total * Number(days)) : total;
            $rates.find("#total").empty().text(total);

            var promo = 0.0;
            if(idProduct && price && currency_code){
                $rates.find(".currency_symbol").text(currency_symbol);
                $rates.find(".currency_code").text(currency_code);

                $productPriceContainer.find(".price_unit .price_value").text(price);
                $productPriceContainer.find(".price_unit").show();
            }else{
                $rates.find(".currency_symbol, .currency_code").empty();
                $productPriceContainer.find(".price_unit").hide();
            }

            var coupon = null;
            var coupon_type = 0; //0 amount, 1 percent
            var coupon_discountValue = 0;
            if(idProduct && coupon_code && currency_code){
                coupon = discountCouponList.find(c => c.DiscountCoupon_Id == coupon_code);
                coupon_type = coupon.DiscountCoupon_Type;
                promoValue = coupon.DiscountCoupon_Value;
                promo = coupon_type == 1 ? total.restPercent(promoValue) : promoValue; //discount = coupon_type == 1 ? total.restPercent(promoValue) : promoValue;
                price = promoValue;
                total = ((promoValue * Number(quantity)) * Number(days));
                $rates.find('#totalPrice').css("text-decoration","line-through");
                $rates.find("#discount_container #coupon").text(coupon.DiscountCoupon_Identifier.toUpperCase());
                $rates.find("#discount_container #discount_type").text((coupon_type == 1 ? "PERCENT" : "PRICE") + ":");
                $rates.find("#discount_container #discount_value").text(coupon_type == 1 ? (promoValue + "%") : (currency_symbol ? (currency_symbol + "" + promoValue) : ""));
            }else{
                $rates.find('#totalPrice').css("text-decoration","none");
                $rates.find("#discount_container #coupon").empty();
                $rates.find("#discount_container #discount_type").empty();
                $rates.find("#discount_container #discount_value").empty();
            }

            if(idProduct && coupon_code && coupon && price && quantity && quantity > 1 && coupon_type == 1){
                $rates.find("#discount_container .discount_more_than_one .discount_value").text(Number(price).restPercent(promoValue));
                $rates.find("#discount_container .discount_more_than_one").show();
            }else{
                $rates.find("#discount_container .discount_more_than_one .discount_value").empty();
                $rates.find("#discount_container .discount_more_than_one").hide();
            }

            var totalHasPromo = total ? Number(total) : 0.0; //var totalWithDiscount = total ? Number(total - discount) : 0.0;
            $rates.data({
                "price": price,
                "total": total,
                "discount": promo,
                "totalWithDiscount": totalHasPromo
            });
            $rates.find("#totalDiscount #totalDiscountValue").empty().text(total);
            $rates.find("#totalFinalDiscount #totalFinalDiscountValue").empty().text(total);
            promo > 0 ? $rates.find("#discount_container, #totalDiscount, #totalFinalDiscount").show() : $rates.find("#discount_container, #totalDiscount, #totalFinalDiscount").hide();
            $form.find('[name="price"]').val(Number(price).toFixed(2));
            $form.find('[name="total"]').val(total.toFixed(2));
            $form.find('[name="discount"]').val(Number(promo).toFixed(2));
            $form.find('[name="totalWithDiscount"]').val(Number(totalHasPromo).toFixed(2));
        }

        $.fn.findAffiliate = function(e){
            var id_affiliate = $(this).val();
            if($("#reservaAfiliado").is(":checked") && id_affiliate && e){
                var affiliate = affiliatesList.find(a => a.Affiliate_Id == id_affiliate);
                $("#affiliate-info .ibox-content .text-info").each(function(){
                    var $div = $(this).closest("div");
                    var id = $(this).attr("id");
                    if(affiliate[id]){
                        $(this).text(id == "Affiliate_CreationDate" ? affiliate[id].toMoment().format("LLLL") : affiliate[id]);
                        $div.show();
                    }else{
                        $(this).empty();
                        $div.hide();
                    }
                });
                $("#affiliate-info").show();
            }else{
                $("#affiliate-info").hide();
            }
            $(this).closest(".ibox-content").find("#Affiliate_Id, #Affiliate_Name").not(this).setValue(id_affiliate);
        }

        function creteItemCart(){
            var item = '<li>';
            item += '<h3 class="item_title text-navy"></h3>';
            item += '<div class="item_content"></div>';
            item += '<div class="clearfix mt_5">';
            item += '<div class="btn-group pull-left">';
            item += '<a href="#" class="btn btn-xs btn-danger remove_item"><i class="fa fa-trash"></i> Remove</a>';
            item += '<a href="#" class="btn btn-xs btn-default update_item"><i class="fa fa-pencil"></i> Update</a>';
            item += '</div>';
            item += '<h3 class="text-right pull-right no-margins">Subtotal: <span class="item_subtotal text-warning"></span></h3>';
            item += '</div>';
            item += '</li>';
            return $(item);
        }
    });
</script>