﻿@using Core
@using BackOfficeAcquaJoss.Models
@using System.Data.SqlClient

@model SearcReservationsModel
@{
    string rec = DateTime.Now.ToString();
    string Year = DateTime.Now.Year.ToString();

    List<Reservations> reservations = Model.reservations;
    string today = DateTime.Now.ToString();
    String Reservation_Ini = null;
    String Reservation_Fin = null;
    String Admission_Ini = null;
    String Admission_Fin = null;

    List<SelectListItem> SellersItems = Model.SellersItems.ToList();
    SellersItems.Insert(1, (new SelectListItem { Text = "acquajoss", Value = "0" }));

    List<SelectListItem> Invoice = new List<SelectListItem>();
    Invoice.Insert(0, (new SelectListItem { Text = "", Value = "" }));
    Invoice.Insert(1, (new SelectListItem { Text = "SI", Value = "1" }));
    Invoice.Insert(2, (new SelectListItem { Text = "NO", Value = "0" }));


    bool requestDates = !string.IsNullOrEmpty(Request.Form["Reservation_Ini"]);
    if (Request.Form.Count == 0)
    {
        Reservation_Ini = DateTime.Now.ToString("dd/MM/yyyy");
        Reservation_Fin = DateTime.Now.ToString("dd/MM/yyyy");
        List<SqlParameter> parameters = new List<SqlParameter>();
        parameters.Add(new SqlParameter("Reservation_Ini", Reservation_Ini));
        parameters.Add(new SqlParameter("Reservation_Fin", Reservation_Fin));
        //reservations = new SearcReservationsModel(parameters).reservations;
    }
    else
    {
        Reservation_Ini = !string.IsNullOrEmpty(Request.Form["Reservation_Ini"]) ? DateTime.Parse(Request.Form["Reservation_Ini"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Ini"];
        Reservation_Fin = !string.IsNullOrEmpty(Request.Form["Reservation_Fin"]) ? DateTime.Parse(Request.Form["Reservation_Fin"]).ToString("dd/MM/yyyy") : Request.Form["Reservation_Fin"];
        Admission_Ini = !string.IsNullOrEmpty(Request.Form["Admission_Ini"]) ? DateTime.Parse(Request.Form["Admission_Ini"]).ToString("dd/MM/yyyy") : null;
        Admission_Fin = !string.IsNullOrEmpty(Request.Form["Admission_Fin"]) ? DateTime.Parse(Request.Form["Admission_Fin"]).ToString("dd/MM/yyyy") : null;

    }
}

@section Css{
    <link href="/Content/iCheck/custom.css" rel="stylesheet" />
}

<section class="searchReservations">
    <div class="ibox">
        <div class="ibox-title">
            <h5>FILTRI</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form id="form-search" validate="true" action="/Reservations/Search" autocomplete="off" method="post">
                <div class="row">
                    <div class="form-group col-xs-6 col-sm-2">
                        <label class="control-label">Id Acquisto</label>
                        <input id="Reservation_Id" name="Reservation_Id" type="text" class="form-control" value="@(string.IsNullOrEmpty(Request.Form["Reservation_Id"]) ? string.Empty : Request.Form["Reservation_Id"])">
                    </div>
                    <div class="form-group col-xs-6 col-sm-2">
                        @{Model.ProductsTypesItems_Index = string.IsNullOrEmpty(Request.Form["Product_Type"]) ? null : Request.Form["Product_Type"]; }
                        @Html.LabelFor(model => Model.ProductsTypes, new { @class = "control-label" })
                        @Html.DropDownListFor(model => Model.ProductsTypes.FirstOrDefault().ProductType_Identifier, Model.ProductsTypesItems, new { Name = "Product_Type", @class = "form-control" })

                    </div>

                    <div class="form-group col-xs-6 col-sm-3 col-md-2">
                        <label class="control-label">Nome Cliente</label>
                        <input type="text" name="Customer_Name" class="form-control" value="@(string.IsNullOrEmpty(Request.Form["Customer_Name"]) ? string.Empty : Request.Form["Customer_Name"])" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-2">
                        <label class="control-label">Cognome Cliente</label>
                        <input type="text" name="Customer_LastName" class="form-control" value="@(string.IsNullOrEmpty(Request.Form["Customer_LastName"]) ? string.Empty : Request.Form["Customer_LastName"])" />
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-2">
                        <label class="control-label">Email Cliente</label>
                        <input type="text" name="Customer_Email" class="form-control" value="@(string.IsNullOrEmpty(Request.Form["Customer_Email"]) ? string.Empty : Request.Form["Customer_Email"])" />
                    </div>
                 
                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-reservation">
                        <label class="control-label">@Core.Resources.Models.DateOfReservation</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <div class="input-daterange input-group datepicker">
                                <input id="fechareservacionIni" type="text" class="form-control" name="Reservation_Ini" value="@Reservation_Ini" />
                                <span class="input-group-addon">to</span>
                                <input id="fechareservacionFin" type="text" class="form-control" name="Reservation_Fin" value="@Reservation_Fin" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-5 col-md-3 range-admission">
                        <label class="control-label">Data di ingresso</label>
                        <div class="input-group">
                            <div class="input-daterange input-group datepicker">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="fechaadmissionIni" type="text" class="form-control input-sm" name="Admission_Ini" value="@Admission_Ini" />
                                <span class="input-group-addon">to</span>
                                <input id="fechaadmissionFin" type="text" class="form-control input-sm" name="Admission_Fin" value="@Admission_Fin" />
                                <span class="input-group-addon i-checks checkbox-small" data-toggle="tooltip" title="Only dates of admission"><input type="checkbox" name="Only_Admission" @(!string.IsNullOrEmpty(Request.Form["Only_Admission"]) ? "checked" : "") class="input-sm only-admission"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-6 col-sm-2">
                        @{Model.SellersItems_Index = string.IsNullOrEmpty(Request.Form["Seller_Id"]) ? 0 : int.Parse(Request.Form["Seller_Id"]); }
                        @Html.LabelFor(model => Model.Sellers, new { @class = "control-label" })
                        @Html.DropDownListFor(model => Model.Sellers.FirstOrDefault().User_Id, SellersItems, new { Name = "Seller_Id", @class = "form-control" })
                    </div>

                    <div class="form-group col-xs-8 col-sm-2">
                        <b>STATO</b>
                        @Html.DropDownList("Status_Id", new SelectList(ViewBag.PaymentList, "StateId", "Description"), new { @class = "form-control" })
                    </div>

                    <div class="form-group col-xs-12 col-sm-5 col-md-1">
                        <label>FATTURA</label>
                        @Html.DropDownList("Invoice", new SelectList(Invoice, "Value", "Text"), new { @class = "form-control" })
                    </div>

                </div>
                <div class="ibox-footer text-right">
                    <button id="btnCerca" type="submit" class="btn btn-primary">
                        CERCA <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="ibox">      
        <div class="ibox-title">
            <h5>RISULTATI: @(reservations == null ? string.Empty : ("(" + reservations.Count + ")"))</h5>
            <div class="ibox-tools">
                <a class="copy_clipboard" data-namefile="Reservations" onclick="clipboard(this);" data-toggle="tooltip" title="" data-original-title="Copia su Excel">
                    <i class="fa fa-file-excel-o fa-lg text-success" aria-hidden="true"></i>
                </a>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <table id="table-result" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th align="center" style="min-width:40px;">Id</th>
                        <th align="center">Cliente</th>
                        <th align="center">Venditore</th>
                        <th align="center">Data Ingresso</th>
                        <th align="center">Fattura</th>
                        <th align="center">Acquisto</th>
                        <th align="center">Stato</th>
                        <th align="center">Info</th>
                        <th align="center">Totale</th>
                        <th align="center">Creato il</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (reservations != null)
                        {
                            foreach (Reservations R in reservations)
                            {
                                R.Reservation_IdSite = 6; <!-- bug correction default Zoomarine-->


                                List<ReservationItems> Itm = R.Reservation_Items;
                                List<ReservationItems> Itl = Itm.Where(x => x.ReservationItem_Product.Product_Key != null).ToList();
                                string Coupon = Itl.Select(y => y.ReservationItem_Product.Product_Key).First();

                                if (Itl.Count > 1)
                                {
                                    Coupon = Coupon + "...";
                                }

                                List<ReservationItems> Cp = Itm.Where(x => x.ReservationItem_Coupon != null).ToList();

                                if (Cp.Count() > 0)
                                {
                                    Coupon = Coupon + "-" + Cp.Select(x => x.ReservationItem_Coupon.DiscountCoupon_Identifier).First();
                                }

                                Currencies currency = R.Reservation_Currency;
                                string DayArrive = Impostazioni.ConvertiDBaData((DateTime)R.Reservation_Items[0].ReservationItem_Date);
                                <tr>
                                    <td align="center"><a class="font-bold text-info" href="/reservations/summary/@R.Reservation_Id" target="_blank">@R.Reservation_Id</a></td>
                                    <td>@R.Reservation_Customer.Customer_FullName</td>
                                    <td>@(R.Reservation_SellerName)</td>
                                    <td>@DayArrive</td>
                                    <td align="center">@R.Reservation_Invoice</td>
                                    <td align="center">@(string.Join(" + ", R.Reservation_Items.GroupBy(i => i.ReservationItem_Type).Select(i => i.First().ReservationItem_Type.ToUpper()).ToList()).Trim())</td>
                                    <td align="center" status="@R.Reservation_Status"><b>@R.Reservation_Status</b></td>
                                    <td align="center">@Coupon</td>
                                    <td align="right" class="font-bold text-danger">@(currency.Currency_Symbol + "" + R.Reservation_Total)</td>
                                    <td align="center">@R.Reservation_CreationDate.ToString()</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>

    <!--loader-->
    <div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 100px;">
            <div class="modal-content">
                <div class="modal-body">
                    <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
                </div>
            </div>

        </div>
    </div>
</section>

<script src="/Scripts/icheck.min.js"></script>

@section Scripts{
<script src="~/Scripts/ShopVariables.js?rec='@rec'" type="text/javascript"></script>
<script>
        var $form = $("#form-search");

        $(document).ready(function ()
        {
            //selected value
            $('[name=Invoice]').val(@ViewBag.Invoice);

            var $table = $('#table-result');
            $table.DataTable({
                dom: 'Blfrtip',
                buttons: [],
                lengthMenu: [[10, 50, 100, 200, 500, 1000], [10, 50, 100, 200, 500, 1000]],
                drawCallback: function (settings)
                {
                    var rowCount = settings.aiDisplayMaster.length;
                    $('.dataTables_length, .dataTables_filter, .tableSearch_info, .dataTables_paginate').css('display', rowCount <= 10 ? 'none' : 'inline-block');
                    $table.show();
                }
            });

            $("#Status_Id").val('@(string.IsNullOrEmpty(Request.Form["Status_Id"]) ? string.Empty : Request.Form["Status_Id"])');

            $('.only-admission').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.only-admission').on('ifChanged', function (event) {
                //$(event.target).trigger('change');
                var isChecked = this.checked;
                if (isChecked) {
                    //$(".range-reservation :input").attr("disabled", "disabled");
                    $(".range-admission :input").removeAttr("disabled");
                    $('[name="Reservation_Ini"]').rules('remove');
                    $('[name="Reservation_Fin"]').rules('remove');
                } else {
                    $(".range-admission :input:not(:checkbox)").attr("disabled", "disabled");
                    //$(".range-reservation :input").removeAttr("disabled");
                    $('[name="Admission_Ini"]').rules('remove');
                    $('[name="Admission_Fin"]').rules('remove');
                    $('[name="Admission_Ini"]').val('');
                    $('[name="Admission_Fin"]').val('');
                }
                return true;
            });

            $("#btnCerca").click(function () {

                var din = $("#fechareservacionIni").val();

                if (din == "" || din.substr(0, 5) == '01/01') {

                    var Resid = $("#Reservation_Id").val();
                    var Lastname = $("input[name='Customer_LastName']").val();
                    var Email = $("input[name='Customer_Email']").val();
                    var AdmIni = $("#fechaadmissionIni").val();

                    if (Resid == '' && Lastname == '' && Email == '' && AdmIni == '') {
                        if (!confirm("ATTENZIONE: Pochi parametri, la ricerca può durare a lungo, proseguire?")) {
                            return;
                        }
                    }

                }

                if (din == "")
                {
                    var stdate = "01/01/" + '@Year';
                    $("#fechareservacionIni").val(stdate);
                }


                if ($form.valid()) {
                    $('#loader').modal('show');
                }
            });

            $('.only-admission').trigger("ifChanged");
        });
</script>
}
