﻿@using Core;
@using BackOfficeAcquaJoss.Models;
@using General = Core.Resources.General;

@model ReservationModel

@{
    string rec = DateTime.Now.ToString();

    Reservations reservation = Model.reservation;
    Customers customer = reservation.Reservation_Customer;
    Users seller = reservation.Reservation_Seller;
    SalesSource source = reservation.Reservation_SaleSource;
    Currencies currency = reservation.Reservation_Currency;
    List<ReservationItems> items = reservation.Reservation_Items;
    List<ReservationLogs> logs = reservation.Reservation_Logs;
    BankPayment Pagamenti = ViewBag.Pagamenti;
    ViewBag.Title = "Summary " + reservation.Reservation_Id;

    string Date = reservation.Reservation_CreationDate.ToString();

    Date = Date.Substring(6, 4) + "-" + Date.Substring(3, 2) + "-" + Date.Substring(0, 2);

    bool isSchool = !string.IsNullOrEmpty(customer.Customer_SchoolCategory);
}

    <section>
        <div class="ibox">
            <!-- START: SECTION SUMMARY -->
            @Html.Partial("~/Views/Shared/Reservations/_Summary.cshtml")
            <!-- END: SECTION SUMMARY -->
        </div>
        <!-- #region Admissions -->
        @{
            List<ReservationItems> admissions = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Admission));
            @tableByProduct("AMMISSIONE", admissions);
        }
        <!-- #endregion Admissions -->

        @{
            List<ReservationItems> groups = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Group));
            @tableByProduct("GRUPPI", groups);
        }

        <!-- #region Schools -->
        @{
            List<ReservationItems> schools = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.School));
            @tableByProduct("SCHOOLS", schools);
        }
        <!-- #endregion Schools -->
        <!-- #region Subscriptions -->
        @{
            List<ReservationItems> subscriptions = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Subscription));
            @tableByProduct("ABBONAMENTI", subscriptions);
        }
        <!--#endregion Subscriptions -->
        <!-- #region Dynamics -->
        @{
            List<ReservationItems> dynamics = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Dynamic));
            @tableByProduct("DINAMICO", dynamics);
        }
        <!--#endregion Dynamics -->
        <!-- #region Hotels -->
        @{
            List<ReservationItems> hotels = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Hotel));
            @*@tableByProduct("HOTELS", hotels);*@
            if (hotels.Count > 0)
            {
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Hotel <b>(@hotels.Count)</b></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa @(hotels.Count > 0 ? "fa-chevron-up" : "fa-chevron-down")"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display:@(hotels.Count > 0 ? "block" : "none")">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm m_0">
                                <thead>
                                    <tr>
                                        <th align="center">Hotel</th>
                                        <th align="center">Arrival - Departue</th>
                                        <th align="center">Tickets</th>
                                        <th align="center">Nights at <br />The hotel</th>
                                        <th align="center">Rate</th>
                                        <th align="center">Quantity</th>
                                        <th align="center">Total</th>
                                        <th align="center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (hotels != null)
                                    {
                                        foreach (ReservationItems i in hotels)
                                        {
                                            Core.Products p = i.ReservationItem_Product;
                                            Currencies c = i.ReservationItem_Currency;
                                            string cc = c.Currency_Code;
                                            ReservationsItemsHotel h = ReservationsItemsHotel.GetReservationsItemsHotel(i.ReservationItem_Id);
                                            List<ReservationsItemsHotelRooms> r = ReservationsItemsHotelRooms.GetReservationsItemsHotelRooms(h.ReservationItemHotel_Id);
                                            <tr>
                                                <td align="center">@p.Product_Name</td>
                                                <td align="center">@(h.ReservationItemHotel_Arrival.ToShortDateString() + " - " + h.ReservationItemHotel_Departure.ToShortDateString())</td>
                                                <td align="center">@h.ReservationItemHotel_Tickets</td>
                                                <td align="center">@h.ReservationItemHotel_Nights</td>
                                                <td align="center" class="text-info">@i.ReservationItem_Price.FormatCurrency(cc)</td>
                                                <td align="center">@i.ReservationItem_Quantity</td>
                                                <td align="center" class="text-danger"><b>@i.ReservationItem_Total.FormatCurrency(cc)</b></td>
                                                <td align="center"><b status="@i.ReservationItem_Status">@i.ReservationItem_Status</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="8">
                                                    <table class="table table-bordered table-sm mtb_10">
                                                        <thead>
                                                            <tr>
                                                                <th align="center">Rooms</th>
                                                                <th align="center">Adults</th>
                                                                <th align="center">Kids</th>
                                                                <th align="center">Infants</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (ReservationsItemsHotelRooms rms in r)
                                                            {
                                                                <tr>
                                                                    <td align="center">@rms.ReservationItemsHotelRoom_RoomType.ToUpper()</td>
                                                                    <td align="center">@rms.ReservationItemsHotelRoom_Adults</td>
                                                                    <td align="center">@rms.ReservationItemsHotelRoom_Kids</td>
                                                                    <td align="center">@rms.ReservationItemsHotelRoom_Infants</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- #endregion Hotels -->
        <!-- #region Menus -->
        @{
            List<ReservationItems> menus = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Menu));
            @tableByProduct("MENU", menus);
        }
        <!-- #endregion Menus -->
        <!-- #region MenuSchool -->
        @{
            List<ReservationItems> menusschools = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.MenuSchool));
            @tableByProduct("MENU", menusschools);
        }
        <!-- #endregion MenuSchool -->
        <!-- #region Activities with animals -->
        @{
            List<ReservationItems> activities = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Activity));
            @tableByProduct("ACTIVITIES", activities);
        }
        <!-- #endregion Activities with animals -->
        <!-- #region Activities with animals -->
        @{
            List<ReservationItems> activitiesschools = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.ActivitySchool));
            @tableByProduct("ACTIVITIES", activitiesschools);
        }
        <!-- #endregion Activities with animals -->
        <!-- #region Gadgets -->
        @{
            List<ReservationItems> gadgets = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Gadget));
            @tableByProduct("GADGETS", gadgets);
        }
        <!-- #endregion Gadgets -->
        <!-- #region Extras -->
        @{
            List<ReservationItems> extra = items.FindAll(i => i.ReservationItem_Type.Equals(ProductIdentifier.Extra));
            @tableByProduct("EXTRAS", extra);
        }
        <!-- #endregion Extras -->
        <!-- #region Log School/Groups -->
        @{
            //if (isSchool)
            //{
            if (logs != null)
            {
                { Html.RenderPartial("~/Views/Shared/Reservations/_SummaryLogs.cshtml"); }
            }
            //}
        }
        <!-- #endregion Log School/Groups-->
        <!--#region Payments-->
        <div class="ibox">
            <div class="ibox-title">
                <h5>PAGAMENTI</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                @if (reservation.Reservation_Status != "OK")
                {
                    <h4 id="pagams">PAGAMENTO NON ESEGUITO</h4>
                }
                else
                {
                    <h4>PAGAMENTO ESEGUITO</h4>
                    if (Pagamenti.ReservationId != 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered table-responsive table-hover table-sm m_0">
                                <thead>
                                    <tr>
                                        <th align="center">N.Transazione</th>
                                        <th align="center">Codice Autorizzazione</th>
                                        <th align="center">N. Carta</th>
                                        <th align="center">Totale</th>
                                        <th align="center">Esito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center">@Pagamenti.BankShopId</td>
                                        <td align="center">@Pagamenti.AuthorizationCode</td>
                                        <td align="center">@Pagamenti.CardNumber</td>
                                        <td align="center" class="text-danger"><b>@Pagamenti.Total €</b></td>
                                        <td align="center">@Pagamenti.Message</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }

                }
            </div>
        </div>
        <!--#endregion Payments-->
        <!-- #region Change -->
        <div class="ibox">
            <div class="ibox-title">

                <div class="ibox-tools">
                    <div class="row">
                        <div class="form-group col-sm-9" id="cambiostato">
                            <div class="form-group col-sm-3">
                                <h5><b>CAMBIA TIPO PAGAMENTO:</b></h5>
                                @Html.DropDownList("PaymentType", new SelectList(ViewBag.PaymentType, "Id", "Description"), new { @class = "form-control" })
                            </div>

                            <div class="form-group col-sm-3">
                                <h5><b>CAMBIA STATO ACQUISTO:</b></h5>
                                @Html.DropDownList("PaymentState", new SelectList(ViewBag.PaymentState, "StateId", "Description"), new { @class = "form-control" })
                            </div>

                            <div class="form-group col-sm-3" style="display: inline;">
                                <br />
                                <button id="BtnCambia" type="submit" class="btn btn-danger" style="visibility: hidden;">CAMBIA</button>
                                <br /><br />
                                <button id="BtnEmetti" type="submit" class="btn btn-primary" style="visibility: hidden;">EMETTI ED INVIA >></button>

                                @* <button id="BtnEmitAll" type="submit" class="btn btn-primary">EMETTI TUTTO></button>*@
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
                            @if (ViewBag.TicketsEmitted == 0 && reservation.Reservation_Status == "OK")
                            {
                                <h5 style="color: red">(!) Biglietti non emessi, rimettere lo stato su OK ed emetterli di nuovo</h5>
                            }
                            @if (isSchool)
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalBooking">
                                    Riepilogo Prenotazione Scuola
                                </button>
                            }
                        </div>

                        <div id="scarichi" class="form-group col-xs-6 col-sm-3">
                            <br />

                            @if (ViewBag.TicketsEmitted > 0)
                            {
                                <a id="btnDownload" style="color:white;" class="btn btn-success"
                                   href="/Reservations/DownloadFile?ReservationId=@reservation.Reservation_Id">
                                    Download Biglietto<i class="fa fa-chevron-down"></i>
                                </a>
                      
                            }

                            @if (reservation.Reservation_Status == "OK" && (!string.IsNullOrEmpty(reservation.Reservation_Invoice)))
                            {
                            
                                <br />
                                <br />
                                <a id="BtnDownloadFatture" style="color:white;" class="btn btn-success"
                                   href="/Reservations/DownloadInvoice?ReservationId=@reservation.Reservation_Id">
                                    Download Fattura<i class="fa fa-chevron-down"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion Change -->
        <!--loader-->
        <div class="modal" id="loader" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="width: 100px;">
                <div class="modal-content">
                    <div class="modal-body p-xxs">
                        <img style="margin: auto; display: block;" src="~/images/ajax-loader.gif" />
                    </div>
                </div>
            </div>
        </div>

        <div id="ModalBooking" class="modal fade" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="modal-content-booking" class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 b-r">
                                @Html.Partial("~/Views/Shared/Reservations/_BookingSummaryXLS.cshtml", Model)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="clipboard()">Excel</button>
                        <button type="button" class="btn btn-default" onclick="printDiv()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

@helper table(string title, List<ReservationItems> items)
{
if (items.Count > 0)
{
        <tr class="title border-bottom" style="height: 15px; color: #0f0fa0; font-weight: bold; text-align: center; background-color: #999999bf;">
            <td colspan="30" style="border-top: 1px solid black; border-bottom: 1px solid black;">@title</td>
        </tr>
        <tr class="separator summary" style="height: 10px;">
            <td colspan="30" style="padding: 3px;"></td>
        </tr>
        <tr class="thead border-bottom" style="height: 10px;background-color: lightgray;">
            <td class="thead-title" style="text-align: center;" colspan="17">DESCRIZIONE</td>
            <td class="thead-title" style="text-align: center;" colspan="6">IMPORTO UNITARIO</td>
            <td class="thead-title" style="text-align: center;" colspan="3">QUANTIT&Aacute;</td>
            <td class="thead-title" style="text-align: center;" colspan="4">IMPORTO TOTALE</td>
        </tr>

    string CurrencySum = null;
    int QuantitySum = 0;
    decimal TotalSum = default(decimal);
    foreach (ReservationItems item in items)
    {
        Core.Products p = item.ReservationItem_Product;
        Currencies c = (item.ReservationItem_Currency != null ? item.ReservationItem_Currency : null);
        string cc = c.Currency_Code;
        string promo = (item.ReservationItem_Coupon != null ? item.ReservationItem_Coupon.DiscountCoupon_Identifier.ToUpper() : string.Empty);

        if (CurrencySum == null) { CurrencySum = cc; }
        QuantitySum += item.ReservationItem_Quantity;
        TotalSum += item.ReservationItem_Total;

            <tr class="item">
                <td style="text-align: left;" colspan="17">@p.Product_Name</td>
                <td style="text-align: right;" colspan="6">@item.ReservationItem_Price.FormatCurrency(cc)</td>
                <td style="text-align: right;" colspan="3">@item.ReservationItem_Quantity</td>
                <td style="text-align: right;" colspan="4">@item.ReservationItem_Total.FormatCurrency(cc)</td>
            </tr>
    }

    if (items != null)
    {
            <tr class="totals">
                <td style="" colspan="17"></td>
                <td style="text-align: right;" colspan="6">TOTALE:</td>
                <td style="text-align: right; font-weight: bold;" colspan="3">@QuantitySum</td>
                <td style="text-align: right; font-weight: bold;" colspan="4">@TotalSum.FormatCurrency(CurrencySum)</td>
            </tr>
    }
}
    <tr class="separator" style="height: 10px;">
        <td colspan="30" style="padding: 3px;"></td>
    </tr>
}

@helper tableByProduct(string title, List<ReservationItems> items)
{
    if (items.Count > 0)
    {
        <div class="ibox">
            <div class="ibox-title">
                <h5>@title <b>(@items.Count)</b></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa @(items.Count > 0 ? "fa-chevron-up" : "fa-chevron-down")"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="display:@(items.Count > 0 ? "block" : "none")">
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive table-hover table-sm m_0">
                        <thead>
                            <tr>
                                @switch (title)
                                {
                                    case "AMMISSIONE":
                                    case "SCHOOLS":
                                        <th align="center">BIGLIETTO</th>
                                        <th align="center" style="width: 100px;">@General.lblDate.ToUpper()</th>
                                        <th align="center" style="width: 100px;">@General.lblSchedule.ToUpper()</th>
                                        <th align="center" style="width: 150px;">PROMO</th>
                                        break;
                                    case "ABBONAMENTI":
                                        <th align="center">ABBONAMENTO</th>
                                        <th align="center">DATA</th>
                                        break;
                                    case "HOTELS":
                                        <th align="center">HOTEL</th>
                                        <th align="center" style="width: 100px;">@General.lblDate.ToUpper()</th>
                                        <th align="center" style="width: 100px;">@General.lblSchedule.ToUpper()</th>
                                        <th align="center" style="width: 150px;">PROMO</th>
                                        break;
                                    case "DINAMICO":
                                        <th align="center">BIGLIETTO DINAMICO</th>
                                        <th align="center" style="width: 100px;">@General.lblDate.ToUpper()</th>
                                        <th align="center" style="width: 100px;">@General.lblSchedule.ToUpper()</th>
                                        <th align="center" style="width: 150px;">PROMO</th>
                                        break;
                                    case "GRUPPI":
                                        <th align="center">GRUPPI</th>
                                        <th align="center" style="width: 100px;">@General.lblDate.ToUpper()</th>
                                        break;
                                    case "MENU":
                                    case "MENU SCHOOLS":
                                        <th align="center">MENU</th>
                                        <th align="center" style="width: 100px;">@General.lblDate.ToUpper()</th>
                                        <th align="center" style="width: 100px;">@General.lblSchedule.ToUpper()</th>
                                        <th align="center" style="width: 150px;">PROMO</th>
                                        break;
                                    case "ACTIVITIES":
                                    case "ACTIVITIES SCHOOLS":
                                        <th align="center">ATTIVITÀ</th>
                                        <th align="center" style="width: 100px;">@General.lblDate.ToUpper()</th>
                                        <th align="center" style="width: 100px;">@General.lblSchedule.ToUpper()</th>
                                        <th align="center" style="width: 150px;">PROMO</th>
                                        break;
                                    case "GADGETS":
                                        <th align="center">GADGET</th>
                                        <th align="center" style="width: 100px;">@General.lblDate.ToUpper()</th>
                                        <th align="center" style="width: 100px;">@General.lblSchedule.ToUpper()</th>
                                        <th align="center" style="width: 150px;">PROMO</th>
                                        break;
                                    case "EXTRAS":
                                        <th align="center">EXTRA</th>
                                        <th align="center" style="width: 100px;">DATA</th>
                                        @*<th align="center">SCHEDULE</th>*@
                                        @*<th align="center">PROMO</th>*@
                                        break;
                                    default:
                                        break;
                                }
                                <th align="center" style="width: 100px;">@General.lblPrice.ToUpper()</th>
                                <th align="center" style="width: 100px;">@General.lblQuantity.ToUpper()</th>
                                <th align="center" style="width: 100px;">@General.lblTotal.ToUpper()</th>
                                <th align="center" style="width: 100px;">@General.lblStatus.ToUpper()</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@items != null)
                            {
                                foreach (ReservationItems a in @items)
                                {
                                    Core.Products p = a.ReservationItem_Product;
                                    Currencies c = (a.ReservationItem_Currency != null ? a.ReservationItem_Currency : null);
                                    string cc = c.Currency_Code;
                                    string promo = (a.ReservationItem_Coupon != null ? a.ReservationItem_Coupon.DiscountCoupon_Identifier.ToUpper() : string.Empty);

                            <tr>
                                <td>@p.Product_Name</td>
                                <td align="center">@(a.ReservationItem_Date.HasValue ? a.ReservationItem_Date.Value.ToShortDateString() : string.Empty)</td>
                                @switch (title)
                                {
                                    case "AMMISSIONE":                                  
                                    case "SCHOOLS":
                                        <td align="center">@(a.ReservationItem_Schedule.HasValue ? a.ReservationItem_Schedule.Value.ToShortTimeString() : string.Empty)</td>
                                        <td align="center">@promo</td>
                                        break;
                                    case "DINAMICO":
                                        <td align="center">@(a.ReservationItem_Schedule.HasValue ? a.ReservationItem_Schedule.Value.ToShortTimeString() : string.Empty)</td>
                                        <td align="center">@promo</td>
                                        break;
                                    case "MENU":
                                    case "MENU SCHOOLS":
                                        <td align="center">@(a.ReservationItem_Schedule.HasValue ? a.ReservationItem_Schedule.Value.ToShortTimeString() : string.Empty)</td>
                                        <td align="center">@promo</td>
                                        break;
                                    case "ACTIVITIES":
                                    case "ACTIVITIES SCHOOLS":
                                        <td align="center">@(a.ReservationItem_Schedule.HasValue ? a.ReservationItem_Schedule.Value.ToShortTimeString() : string.Empty)</td>
                                        <td align="center">@promo</td>
                                        break;
                                    default:
                                        break;

                                }
                                <td align="right" class="text-info"><b>@a.ReservationItem_Price.FormatCurrency(cc)</b></td>
                                <td align="center">@a.ReservationItem_Quantity</td>
                                <td align="right" class="text-danger"><b>@a.ReservationItem_Total.FormatCurrency(cc)</b></td>
                                <td align="center"><b status="@a.ReservationItem_Status">@a.ReservationItem_Status</b></td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}


@section Scripts{
    <script type="text/javascript">

        var stato = '@reservation.Reservation_Status';
        var typep = '@ViewBag.PagId';

        var ResId = '@reservation.Reservation_Id';
        var CreatDate = '@Date';

        $("#PaymentState").val('');
        $("#PaymentType").val('');

        if (stato != 'OK') {
            $("#scarichi").css("visibility", "hidden");
        }
        else {
            $("#scarichi").css("visibility", "visible");
        }

        $("#PaymentType").on('change', function () {
            if (this.value == "") {
                $("#BtnCambia").css("visibility", "hidden");
            }
            else {
                $("#BtnCambia").css("visibility", "visible");
            }

        });

        $("#PaymentState").on('change', function () {
            if (this.value == "") {
                $("#BtnCambia").css("visibility", "hidden");
            }
            else {
                $("#BtnCambia").css("visibility", "visible");
            }

            if (this.value == "OK") {
                $("#BtnEmetti").css("visibility", "visible");
            }
            else {
                $("#BtnEmetti").css("visibility", "hidden");
            }
        });

        $("#BtnInv").click(function () {
            $('#loader').modal('show');
            var Info = { ReservationId: ResId};

            var URL = "/Reservations/Resend";
            var promise = $.post(URL, Info);

            promise.done(function (data) {
                if (data == "")
                {
                    $.warning("Avviso", "Biglietto inviato");
                }
                else
                {
                    $.error("Errore", "Si è verificato un errore");
                }
                $('#loader').modal('hide');
            });

            promise.fail(function (err) {
                $('#loader').modal('hide');
                console.log("error promise: " + URL);
            });

        });

        $("#BtnFatture").click(function () {
            var URL = "/Reservations/EmitInvoice";
            var Info = { ReservationId: ResId };

            var promise = $.post(URL, Info);

            promise.done(function (data) {
                $.warning("Avviso", "Fattura emessa");
            });

        });

        $("#BtnDownloadFatture").click(function () {

            setTimeout(function () {
                $.warning("Avviso", "Download completato");
            }, 2000);
        });



        $("#BtnEmitAll").click(function () {
            var URL = "/Reservations/EmitAll";
            var Info = { ReservationId: ResId };

            var promise = $.post(URL, Info);

            promise.done(function (data) {
                $.warning("Avviso", "Fatture ricreate");
            });

        });


        $("#BtnEmetti").click(function () {
            $('#loader').modal('show');

            //test tmaster connection
            var URLt = "/Reservations/VerifyEmission";

            var Info = { ReservationId: ResId};
            var ErrMsg = "I biglietti risultano già emessi";

            var promiseB = $.post(URLt, Info);
            promiseB.done(function (data) {

                if (data == "KO") {
                    $('#loader').modal('hide');
                    $.error("Errore", ErrMsg);
                }
                else {
                    var Info = { ReservationId: ResId, Payment: typep };

                    var URL = "/Reservations/Emission";
                    var promise = $.post(URL, Info);

                    promise.done(function (data) {
                        $('#loader').modal('hide');
                        if (data != "") {
                            alert(data);
                        }
                        else {
                            $.warning("Avviso", "Biglietto emesso ed inviato");
                            $("#status").text("OK");
                            $("#pagams").text("PAGAMENTO ESEGUITO");
                            $("#scarichi").css("visibility", "visible");
                        }

                        location.reload();
                        $('#loader').modal('hide');
                    });

                    promise.fail(function (err) { console.log("error promise: " + URL); });

                }

            });


        });

        $("#BtnCambia").click(function () {
            var statoC = $("#PaymentState option:selected").val();
            if (statoC == "") { statoC = stato; }


            var typepC = $("#PaymentType option:selected").val();
            if (typepC == "0" || typepC == null) { typepC = typep; }

            var Info = { ReservationId: ResId, State: statoC, Payment: typepC };

            var URL = "/Reservations/ChangeEmission";
            var promise = $.post(URL, Info);

            promise.done(function (data) {
                $.warning("Avviso", "Stato Biglietto variato");
                $("#cambioannullo").css("visibility", "hidden");
                $("#status").text(stato);

                //$("#BtnEmetti").css("display", "none");
                $("#BtnEmetti").css("visibility", "hidden");
                $("#scarichi").css("visibility", "hidden");

                location.reload();
                $('#loader').modal('hide');
            });

            promise.fail(function (err) { console.log("error promise: " + URL); });
        });

        $("#btnDownload").click(function () {
            setTimeout(function () {
                $.warning("Avviso", "Download completato");
            }, 2000);
        })
    </script>

    <script>
        $clipboard = $(document).find(".copy_clipboard");
        function clipboard(_this) {
            //var $this = $(_this);
            //var $container = $this.closest("div.ibox");
            var $table = $("#booking");
            var namefile = "Riepilogo Prenotazione (@reservation.Reservation_Id) - @customer.Customer_Company_Name";
            //var namefile = $this.data("namefile").toUpperCase() + '-' + moment().format("YYYY-MM-DD HH:mm:ss");

            var html = $table.prop('outerHTML');

            var tmpElemento = document.createElement('a');
            var data_type = 'data:application/vnd.ms-excel;charset=utf-8;';
            var tabla_html = html.replace(/ /g, '%20');
            tmpElemento.href = data_type + ', ' + tabla_html;

            tmpElemento.download = namefile + '.xls';
            tmpElemento.click();

            //console.log($this, $container, $table, html, tmpElemento);
            console.log(html);
        }

        function printDiv() {

            var divToPrint = document.getElementById('modal-content-booking');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);

        }
    </script>
}