﻿@using Core;
@using Newtonsoft.Json;
@using System.Collections;

@using Dictionary = Core.Resources.General
@{
    Hashtable model = Model;
    string json = model["data"].ToString();

    if (!string.IsNullOrEmpty(json) && !json.Equals("[]"))
    {
        <table class="table table-bordered table-hover">
            @switch (model["type"].ToString())
            {
                case "N":
                    List<Newsletters> newslettersData = JsonConvert.DeserializeObject<List<Newsletters>>(json);
                    <thead>
                        <tr>
                            <th align="center">@Dictionary.lblName</th>
                            <th align="center">@Dictionary.lblEmail</th>
                            <th align="center">@Dictionary.lblCountry</th>
                            <th align="center">@Dictionary.lblStatus</th>
                            <th align="center">@Dictionary.lblCreationDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Newsletters item in newslettersData)
                        {
                            <tr>
                                <td>@item.Newsletter_FullName</td>
                                <td>@item.Newsletter_Email</td>
                                <td>@item.Newsletter_Country.Country_Name</td>
                                <td align="center" status="@item.Newsletter_Status.ToString().ToLower()">@(item.Newsletter_Status ? Dictionary.lblActive : Dictionary.lblInactive)</td>
                                <td align="center">@item.Newsletter_CreationDate.ToString()</td>
                            </tr>
                        }
                    </tbody>
                    break;
                case "T":
                    List<FormContact> formContactData = JsonConvert.DeserializeObject<List<FormContact>>(json);
                    <thead>
                        <tr>
                            <th align="center">@Dictionary.lblName</th>
                            <th align="center">@Dictionary.lblEmail</th>
                            <th align="center">@Dictionary.lblComments</th>
                            <th align="center">@Dictionary.lblCountry</th>
                            <th align="center">@Dictionary.lblCreationDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (FormContact item in formContactData)
                        {
                            <tr>
                                <td>@item.FormContact_FullName</td>
                                <td>@item.FormContact_Email</td>
                                <td>@item.FormContact_Comments</td>
                                <td>@item.FormContact_CountryCode</td>
                                <td>@item.FormContact_CreationDate.ToString()</td>
                            </tr>
                        }
                    </tbody>
                break;
                case "M":
                    List<FormLanding> formLandingData = JsonConvert.DeserializeObject<List<FormLanding>>(json);
                    <thead>
                        <tr>
                            <th align="center">@Dictionary.lblName</th>
                            <th align="center">@Dictionary.lblEmail</th>
                            <th align="center">@Dictionary.lblPhone</th>
                            <th align="center">@Dictionary.lblSchoolName</th>
                            <th align="center">@Dictionary.lblSchool</th>
                            <th align="center">@Dictionary.lblComments</th>
                            <th align="center">@Dictionary.lblLanding</th>
                            <th align="center">@Dictionary.lblStatus</th>
                            <th align="center">@Dictionary.lblCreationDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (FormLanding item in formLandingData)
                        {
                            <tr>
                                <td>@item.FormLanding_FullName</td>
                                <td>@item.FormLanding_Email</td>
                                <td>@item.FormLanding_Phone</td>
                                <td>@item.FormLanding_School</td>
                                <td>@item.FormLanding_SchoolCategoryData.SchoolCategory_Name</td>
                                <td>@item.FormLanding_Comments</td>
                                <td align="center"><a href="@(GlobalSettings.UrlZoomarine + "/" + item.FormLanding_Landing)" target="_blank">@item.FormLanding_Landing</a></td>
                                <td align="center" status="@item.FormLanding_Marketing.ToString().ToLower()">@(item.FormLanding_Marketing ? Dictionary.lblActive : Dictionary.lblInactive)</td>
                                <td align="center">@item.FormLanding_CreationDate.ToString()</td>
                            </tr>
                        }
                    </tbody>
                    break;
                case "C":
                    List<Customers> customersData = JsonConvert.DeserializeObject<List<Customers>>(json);
                    <thead>
                        <tr>
                            <th align="center">@Dictionary.lblName</th>
                            <th align="center">@Dictionary.lblEmail</th>
                            <th align="center">@Dictionary.lblGender</th>
                            <th align="center">@Dictionary.lblCountry</th>
                            <th align="center">@Dictionary.lblCity</th>
                            <th align="center">@Dictionary.lblStatus</th>
                            <th align="center">@Dictionary.lblCreationDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Customers item in customersData)
                        {
                            <tr>
                                <td>@item.Customer_FullName</td>
                                <td>@item.Customer_Email</td>
                                <td align="center">@(string.IsNullOrEmpty(item.Customer_Sex) ? string.Empty : (item.Customer_Sex.Equals("M") ? Dictionary.lblMale : Dictionary.lblFemale))</td>
                                <td>@item.Customer_Country.Country_Name</td>
                                <td>@item.Customer_City</td>
                                <td align="center" status="@item.Customer_Marketing.ToString().ToLower()">@(item.Customer_Marketing ? Dictionary.lblActive : Dictionary.lblInactive)</td>
                                <td align="center">@item.Customer_CreationDate.ToString()</td>
                            </tr>
                        }
                    </tbody>
                    break;
                case "S":
                    List<Customers> schoolsData = JsonConvert.DeserializeObject<List<Customers>>(json);
                    <thead>
                        <tr>
                            <th align="center">@Dictionary.lblName</th>
                            <th align="center">@Dictionary.lblSchool</th>
                            <th align="center">School Category</th>
                            <th align="center">@Dictionary.lblEmail</th>
                            <th align="center">@Dictionary.lblGender</th>
                            <th align="center">@Dictionary.lblCountry</th>
                            <th align="center">@Dictionary.lblCity</th>
                            <th align="center">@Dictionary.lblStatus</th>
                            <th align="center">@Dictionary.lblCreationDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Customers item in schoolsData)
                        {
                            SchoolCategories category = SchoolCategories.Instance().GetSchoolCategory(item.Customer_SchoolCategory.ToLower());
                            <tr>
                                <td>@item.Customer_FullName</td>
                                <td>@item.Customer_Company_Name</td>
                                <td>@(category != null ? category.SchoolCategory_Name : string.Empty)</td>
                                <td>@item.Customer_Email</td>
                                <td align="center">@(string.IsNullOrEmpty(item.Customer_Sex) ? string.Empty : (item.Customer_Sex.Equals("M") ? Dictionary.lblMale : Dictionary.lblFemale))</td>
                                <td>@item.Customer_Country.Country_Name</td>
                                <td>@item.Customer_City</td>
                                <td align="center" status="@item.Customer_Marketing.ToString().ToLower()">@(item.Customer_Marketing ? Dictionary.lblActive : Dictionary.lblInactive)</td>
                                <td align="center">@item.Customer_CreationDate.ToString()</td>
                            </tr>
                            }
                    </tbody>
                    break;
                        }
        </table>
    }
}