﻿@using Core;
@using Dictionary = Core.Resources.General
@model BackOfficeAcquaJoss.Models.SeoEmailsModel
@{
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "seoEmails");
}

<style>
    .mailing{
        display:none;
    }
</style>

<div class="ibox">
    <div class="ibox-title">
        <h5 style="margin: auto;position: absolute;top: 0;bottom: 0;float: none;height: 18px;"><i class="fa fa-envelope" aria-hidden="true"></i> @Dictionary.lblEmail</h5>
        <div class="ibox-tools">
            <div id="options" data-toggle="buttons" class="btn-group btn-group-sm">
                <label class="btn btn-sm btn-white active">
                    <input id="newsletter" type="radio" name="option" value="N" checked> Newsletter
                </label>
                <label class="btn btn-sm btn-white">
                    <input id="clients" type="radio" name="option" value="C"> Customers
                </label>
                <label class="btn btn-sm btn-white dropdown">
                    <input id="schools" type="radio" name="option" value="S"> Schools
                </label>
                <label class="btn btn-sm btn-white">
                    <input id="mailing" type="radio" name="option" value="M"> Mailing Landing
                </label>
                <label class="btn btn-sm btn-white">
                    <input id="contact" type="radio" name="option" value="T"> Mailing Contact
                </label>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <form id="filters" autocomplete="off" method="post">
                <div class="col-sm-6 col-md-4 col-lg-3 form-group">
                    <label class="control-label">@Dictionary.lblDate</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <div class="input-daterange input-group date datepicker">
                            <div class="input-group" style="width: 100%;">
                                <input id="dateStart" name="dateStart" type="text" class="form-control" value="@DateTime.Now.AddDays(-7).ToShortDateString()">
                                <span class="input-group-addon">to</span>
                                <input id="dateEnd" name="dateEnd" type="text" class="form-control" value="@DateTime.Now.ToShortDateString()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-1 form-group">
                    <label class="control-label">@Dictionary.lblStatus</label>
                    <select class="form-control" name="status">
                        <option value=""></option>
                        <option value="true">@Dictionary.lblActive.ToUpper()</option>
                        <option value="false">@Dictionary.lblInactive.ToUpper()</option>
                    </select>
                </div>
               
                @if(Model.CoutriesList != null) { 
                    <div class="col-sm-3 col-md-2">
                        <label class="control-label">@Dictionary.lblCountry</label>
                        <select class="form-control chosen-select" name="countryCode">
                            <option value=""></option>
                            @foreach (Countries c in Model.CoutriesList)
                            {
                                <option value="@c.Country_Code">@c.Country_Name</option>
                            }
                        </select>

                    </div>
                }

                <div class="col-sm-3 col-md-2 schools" style="display: none;">
                    <label class="control-label">@Dictionary.lblSchoolName</label>
                    <input type="text" class="form-control" name="school" disabled />
                </div>

                @if (Model.SchoolCategoriesList != null)
                {
                    <div class="col-sm-3 col-md-2 schools" style="display: none;">
                        <label class="control-label">@Dictionary.lblSchool</label>
                        <select class="form-control" name="schoolCategory" disabled>
                            <option value=""></option>
                            @foreach (SchoolCategories c in Model.SchoolCategoriesList)
                            {
                                <option value="@c.SchoolCategory_Identifier">@c.SchoolCategory_Name</option>
                            }
                        </select>
                    </div>
                }
                <div class="col-xs-12 text-right">
                    <button id="search-emails" type="button" class="btn btn-primary">Search <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <div id="table-result"></div>   
    </div>
</div>

<script>    
    
    var nameOfSchools = @Html.Raw(Json.Encode(Model.NameOfSchools));
    console.log(nameOfSchools);

    $(document).ready(function ()
    {
        $('[name="option"]').on("change", function (){
            var type = this.value;
            console.log(type);
            if (type == "S") {
                $(".schools").show();
                $(".schools :input").removeAttr("disabled");
            } else {
                $(".schools .form-control").val("");
                $(".schools").hide();
                $(".schools :input").attr("disabled","disabled");
            }
        });

        $('#search-emails').on("click", function () {
            var type = $("[name=option]:checked").val();
            var data = $("#filters").getValues();
            console.log(data);
            var $btn = $(this).button("loading");
            $.post("/Seo/FilterEmails/", {
                type: type,
                allData: JSON.stringify(data),
            }, function (res)
            {
                $("#table-result").html(res);
                dataTable();
            }).fail(function (response, type, xhr)
            {
                $("#table-result").empty();
                console.log(response, type, xhr);
            }).always(function ()
            {
                $btn.button('reset');
            });
        });

        $('[name="school"]').autocomplete({
            source: nameOfSchools
        });

        function dataTable()
        {
            var $table = $('#table-result table');
            $table.DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Excel'
                    },
                    //{
                    //    text: 'Reload',
                    //    action: function ( e, dt, node, config ) {
                    //        dt.ajax.reload();
                    //    }
                    //}
                ],
                lengthMenu: [[10, 50, 100, 200, 500, 1000], [10, 50, 100, 200, 500, 1000]],
                drawCallback: function (settings)
                {
                    var rowCount = settings.aiDisplayMaster.length;
                    $('.dataTables_length, .dataTables_filter, .tableSearch_info, .dataTables_paginate').css('display', rowCount <= 10 ? 'none' : 'inline-block');
                    $table.show();
                }
            });
        }
    });
</script>