﻿@model BackOfficeAcquaJoss.Models.SeoModel
@{
    List<Core.Seo> seoList = Model.AllSeo;
    List<Core.Sites> sitesList = Model.SitesList;
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "seo");
}

<div class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-line-chart" aria-hidden="true"></i> SEO</h5>
        <div class="ibox-tools">
            <a data-toggle="modal" class="btn btn-primary btn-xs" href="#modal-form">New Seo</a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3">
                <label>Site</label>
                @{
                    List<SelectListItem> sitesSelectList = new List<SelectListItem>();
                    foreach (Core.Sites s in sitesList)
                    {
                        sitesSelectList.Add(new SelectListItem()
                        {
                            Text = s.Site_Id + " - " + s.Site_Identifier,
                            Value = s.Site_Id.ToString()
                        });
                    }
                    @Html.DropDownListFor(model => sitesList, sitesSelectList, "Please select a site", new { @class = "form-control", @required = "required" });
                }
            </div>
            <div class="col-sm-3">
                <label>Filter</label>
                <input type="text" class="form-control" filterIntoTable="#table-seo"/>
            </div>
            <div class="col-sm-6 col-md-4 form-group m-b-xs">
                <label>Creation Date</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <div class="input-daterange input-group date">
                        <div class="input-group" style="width: 100%;">
                            <input id="dateStart" type="text" class="input-sm form-control" autocomplete="off"/>
                            <span class="input-group-addon">to</span>
                            <input id="dateEnd" type="text" class="input-sm form-control" autocomplete="off"/>
                        </div>
                        <span class="input-group-btn">
                            <button id="filter-date" type="button" class="btn btn-sm btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* FORM INSERT/UPDATE ITEM *@
<div class="ibox">
    <div class="ibox-content">
        <table id="table-seo" class="table table-stripped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Site</th>
                    <th class="text-center">Identifier</th>
                    <th class="text-center">Url</th>
                    <th class="text-center">Meta Tag Title</th>
                    <th class="text-center">Meta Tag Keywords</th>
                    <th class="text-center">Meta Tag Description</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Core.Seo seo in seoList)
                {
                    <tr id-site="@seo.Seo_Id" created="@(seo.Seo_CreationDate.Value.ToShortDateString())">
                        <td align="center">@seo.Seo_Id</td>
                        <td>@seo.Seo_Identifier</td>
                        <td>@seo.Seo_UrlPage</td>
                        <td>@seo.Seo_MetaTitle</td>
                        <td>@seo.Seo_MetaKeywords</td>
                        <td>@seo.Seo_MetaDescription</td>
                        <td class="ws_nowrap">@seo.Seo_CreationDate</td>
                        <td align="center">
                            <a data-toggle="modal" class="btn btn-white btn-xs" href="#modal-form" id-seo="@seo.Seo_Id"><i class="fa fa-pencil-square-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@* FORM MODAL *@
<div id="modal-form" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form id="form-seo" class="modal-content animated fadeIn" action="/Seo/InsertOrUpdate" method="post" validate="true">
            <input id="Seo_Id" name="Seo_Id"  type="hidden"/>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Site</label>
                    <select id="Seo_IdSite" name="Seo_IdSite" class="form-control" required>
                        <option value=""></option>
                        @foreach (Core.Sites s in sitesList)
                        {
                            <option value="@s.Site_Id">@(s.Site_Id.ToString() + " - " + s.Site_Identifier)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Identifier</label>
                    <input id="Seo_Identifier" name="Seo_Identifier" type="text" class="form-control input_key" required/>
                </div>
                <div class="form-group">
                    <label>Url Page</label>
                    <input id="Seo_UrlPage" name="Seo_UrlPage" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Meta Tag Title</label>
                    <input id="Seo_MetaTitle" name="Seo_MetaTitle" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Meta Tag Keywords</label>
                    <textarea id="Seo_MetaKeywords" name="Seo_MetaKeywords" class="form-control" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label>Meta Tag Description</label>
                    <textarea id="Seo_MetaDescription" name="Seo_MetaDescription" class="form-control" rows="3" required></textarea>
                </div>      
            </div>
            <div class="modal-footer">
                <div id="buttons" class="text-right">
                    <button id="btn-close" type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button id="btn-save" type="submit" class="btn btn-primary" style="display:none;">
                        <i class='fa fa-save'></i> SAVE
                    </button>
                    <button id="btn-update" type="submit" class="btn btn-primary" style="display:none;">
                        <i class='fa fa-pencil-square-o'></i> UPDATE
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        var seoList = @Html.Raw(Json.Encode(seoList));
        console.log(seoList);

        var $tableSeo = $("#table-seo");
        $('#sitesList').on("change", function(){
            var id_site = this.value;
            var $rows = $tableSeo.find("tbody tr");
            if(id_site){
                $rows.hide();
                $tableSeo.find("tbody tr[id-site='" + id_site + "']").show();
            }else{
                $rows.show();
            }
        });

        $('#filter-date').on("click", function(){
            var $container = $(this).closest('.input-daterange');
            var start = $container.find("#dateStart").val();
            var end = $container.find("#dateEnd").val();
            var $rows = $tableSeo.find("tbody tr");
            if(start && end){
                $rows.hide();
                $rows.filter(function(){
                    var created = $(this).attr("created");
                    var date = moment(created).format("L");
                    return moment(date).isBetween(start, end, null, '[]');
                }).show();
            }else{
                $rows.show();
            }
        });

        $('#modal-form').on('show.bs.modal', function (e)
        {
            var $modal = $(e.target);
            var id_seo = $(e.relatedTarget).attr("id-seo");
            $modal.find(".btn:not(#btn-close)").hide();
            if (id_seo) {
                var seo = seoList.find(s => s.Seo_Id == id_seo);
                $modal.setValues(seo);
                $modal.find("#btn-update").show();
            } else {
                $modal.clear(true);
                $modal.find("#Seo_Id").val(0);
                $modal.find("#btn-save").show();
            }
        });
    });
</script>