﻿@model Core.ParkSeasons
@{
    Core.ParkSeasons ps = Model;
    string date_start = string.Empty;
    string date_end = string.Empty;
    if (ps.ParkSeason_IdOperation != 0)
    {
        Core.ParkOperational po = Core.ParkOperational.Instance().GetParkOperational(ps.ParkSeason_IdOperation);
        date_start = po.ParkOperational_DateStartFormat;
        date_end = po.ParkOperational_DateEndFormat;
    }

    <tr ParkSeason_Id="@ps.ParkSeason_Id">
        <td class="text-center">@ps.ParkSeason_Id</td>
        <td class="text-center">
            <select class="input-sm form-control" name="ParkSeason_Season">
                <option value="H" @(ps.ParkSeason_Id != 0 && ps.ParkSeason_Season.Equals("H") ? "selected" : string.Empty)>High</option>
                <option value="L" @(ps.ParkSeason_Id != 0 && ps.ParkSeason_Season.Equals("L") ? "selected" : string.Empty)>Low</option>
            </select>
        </td>
        <td class="text-center">
            <form class="form-range-dates" validate="true">
                <div class="datepicker input-daterange input-group">
                    <input type="text" class="input-sm form-control" name="ParkSeason_DateStart" value="@(ps.ParkSeason_Id != 0 ? ps.ParkSeason_DateStartFormat : date_start)" data-date-start-date="@date_start" data-date-end-date="@date_end" required />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="ParkSeason_DateEnd" value="@(ps.ParkSeason_Id != 0 ? ps.ParkSeason_DateEndFormat : string.Empty)" data-date-start-date="@date_start" data-date-end-date="@date_end" required />
                </div>
            </form>
        </td>
        <td class="switch">
            <div class="onoffswitch" style="margin:auto;">
                <input id="ParkSeason_Status"
                       name="ParkSeason_Status"
                       class="onoffswitch-checkbox change_state"
                       checked="@ps.ParkSeason_Status"
                       value="@(ps.ParkSeason_Status ? "true" : "false")"
                       type="checkbox" />
                <label class="onoffswitch-label" for="ParkSeason_Status">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </td>
        <td class="text-center">
            @if (ps.ParkSeason_Id == 0)
            {
                <button type="button" class="btn btn-white btn-save-range"><i class="fa fa-save"></i></button>
            }
            else
            {
                <button type="button" class="btn btn-white btn-save-range" id-season="@ps.ParkSeason_Id"><i class="fa fa-@(ps.ParkSeason_Id > 0 ? "edit" : "save")"></i></button>
            }
        </td>
    </tr>
}