﻿@model BackOfficeAcquaJoss.Models.ParkCalendarModel
@using Core
@{

    ParkOperational parkOperational = Model.ParkOperational;
    List<ParkOperational> parkOperationalList = Model.ParkOperationalList;
    List<ParkCalendar> calendarList = Model.CalendarList;
    List<ParkSchedules> schedulesList = Model.SchedulesList;
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "calendario");
}
<style>
    #calendar table td.active:not(.btn-success):not(.btn-warning):not(.btn-danger),
    #calendar table td[saved]:not(.btn-success):not(.btn-warning):not(.btn-danger){
        background: @(parkOperational != null && parkOperational.ParkOperational_Id != 0 ? parkOperational.ParkOperational_Color : "#1ab394");
        color: white;
    }

    #calendarSchedules table td[saved]:not(.btn-success):not(.btn-warning):not(.btn-danger){
        color: white;
        background-color: @(parkOperational != null && parkOperational.ParkOperational_Id != 0 ? parkOperational.ParkOperational_Color : "#1ab394");
    }

    .contextMenu[idParkSchedule]{
        color: #ffffff !important;
        background-color: #000000 !important;
        border-radius: 0px !important;
    }
</style>

<div class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</h5>
        <div class="ibox-tools">
            <a data-toggle="modal" class="btn btn-primary btn-xs" href="#modal-form">New Calendar</a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-5 col-lg-4">
                <table id="operationals" class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Code</th>
                            <th class="text-center hidden-sm hidden_400">Range Dates</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ParkOperational p in parkOperationalList)
                        {
                            <tr data-id="@p.ParkOperational_Id">
                                <td class="text-center"><i class="fa fa-circle" style="color: @p.ParkOperational_Color"></i></td>
                                <td class="text-center">@p.ParkOperational_Code</td>
                                <td class="text-center hidden-sm hidden_400">@p.ParkOperational_DateStartFormat - @p.ParkOperational_DateEndFormat</td>
                                <td class="switch">
                                    <div class="onoffswitch" style="margin:auto;">
                                        <input id="ParkOperational_Status_@p.ParkOperational_Id"
                                               id-operational="@p.ParkOperational_Id"
                                               name="ParkOperational_Status_@p.ParkOperational_Id"
                                               class="onoffswitch-checkbox change_state"
                                               checked="@p.ParkOperational_Status"
                                               type="checkbox" />
                                        <label class="onoffswitch-label" for="ParkOperational_Status_@p.ParkOperational_Id">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-center" style="width:85px;">
                                    <div class="btn-group">
                                        <a class="btn btn-white btn-xs" href="#modal-form" data-toggle="modal" id-operational="@p.ParkOperational_Id"><i class="fa fa-pencil-square-o"></i></a>
                                        <a class="btn-white btn btn-xs" href="/park/calendar/@p.ParkOperational_Id"><i class="fa fa-calendar"></i></a>
                                        <a class="btn-white btn btn-xs" href="/park/schedule/@p.ParkOperational_Id"><i class="fa fa-clock-o"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-7 col-lg-8">
                <div id="calendar_container" class="@(Model.action.Equals("calendar") ? string.Empty : "collapse")">
                    @if (parkOperational != null && parkOperational.ParkOperational_Id > 0)
                    {
                        <div class="clearfix row">
                            <div class="form-group col-xs-8 col-sm-7 col-md-9 m-b-none">
                                <h3 class="m-n">@parkOperational.ParkOperational_Code</h3>
                                <small>@parkOperational.ParkOperational_DateStart.ToShortDateString() - @parkOperational.ParkOperational_DateEnd.ToShortDateString()</small>
                                <small>* <b>left click</b> to select and <b>right click</b> for more options</small>
                            </div>
                            <div class="form-group col-xs-4 col-sm-5 col-md-3">
                                <a class="btn btn-block btn-info" href="/park/calendar/">Back</a>
                            </div>
                        </div>
                    }
                    <div id="calendar"></div>
                    <div class="clearfix">
                        <div class="pull-left">
                            <div>
                                <span><i class="fa fa-circle" style="color:@parkOperational.ParkOperational_Color"></i> Active date</span>&nbsp;
                                <span><i class="fa fa-circle text-success"></i> New date</span>&nbsp;
                                <span><i class="fa fa-circle text-danger"></i> Remove date</span>&nbsp;
                            </div>
                            <div>
                                <small>* <b>left click</b> to select and <b>right click</b> for more options</small>
                            </div>
                        </div>
                        <div class="pull-right text-right">
                            <button id="btn-clear-calendar" type="button" class="btn btn-w-m">
                                Clear All
                            </button>
                            <button id="btn-save-calendar" type="button" class="btn btn-primary btn-w-m" @(parkOperational != null && parkOperational.ParkOperational_Id != 0 ? string.Empty : "disabled")>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div id="schedule_calendar" class="@(Model.action.Equals("schedule") ? string.Empty : "collapse")">
                    @if (parkOperational != null && parkOperational.ParkOperational_Id > 0)
                    {
                        <div class="clearfix row">
                            <div class="form-group col-xs-8 col-sm-7 col-md-9 m-b-none">
                                <h3 class="m-n">@parkOperational.ParkOperational_Code</h3>
                                <small>@parkOperational.ParkOperational_DateStart.ToShortDateString() - @parkOperational.ParkOperational_DateEnd.ToShortDateString()</small>
                            </div>
                            <div class="form-group col-xs-4 col-sm-5 col-md-3">
                                <a class="btn btn-block btn-info" href="/park/calendar/">Back</a>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <span>* <b>left click</b> to select and <b>right click</b> for more options</span>
                            </div>
                            <div class="pull-right text-right">
                                @foreach (Core.ParkSchedules s in schedulesList.FindAll(s => s.ParkSchedule_Status == true))
                                {
                                    <span><i class="fa fa-circle" style="color:@s.ParkSchedule_Color"></i> <span>@s.ParkSchedule_TimeStart - @s.ParkSchedule_TimeEnd</span>&nbsp;</span>
                                }
                            </div>
                        </div>
                    }

                    <div id="calendarSchedules"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="/Park/InsertOrUpdateOperational/" class="modal-content animated fadeIn" validate="true" autocomplete="off">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Orari</h4>
            </div>
            <div class="modal-body">
                <input id="ParkOperational_Id" name="ParkOperational_Id" type="hidden" />
                <div class="form-group m-b-sm">
                    <label>Range Dates</label>
                    <div class="input-daterange input-group">
                        <input type="text" class="input-sm form-control" id="ParkOperational_DateStart" name="ParkOperational_DateStart" required>
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" id="ParkOperational_DateEnd" name="ParkOperational_DateEnd" required>
                    </div>
                </div>
                <div class="form-group m-b-sm">
                    <label>Code</label>
                    <textarea id="ParkOperational_Code" name="ParkOperational_Code" class="form-control" rows="2" required></textarea>
                    <div style="display:none;"><small><b>Creation Date: </b><span id="ParkOperational_CreationDate"></span></small></div>
                </div>
                <div class="row">
                    <div class="form-group m-b-sm col-sm-4">
                        <label>Color</label>
                        <div class="input-group">
                            <input type="text" id="ParkOperational_Color" name="ParkOperational_Color" class="form-control input-sm colorpicker" required />
                            <div class="input-group-addon"><i class="fa fa-tint"></i></div>
                        </div>
                    </div>
                    <div class="form-group m-b-sm col-sm-3">
                        <label>Status</label>
                        <div>
                            <input type="checkbox" id="ParkOperational_Status" name="ParkOperational_Status" class="js-switch" data-switchery="true" value="true" />
                        </div>
                    </div>

                    <div class="form-group m-b-sm col-sm-5">
                        <label>Visibile in InfoCalendario</label>
                        <div>
                            <input type="checkbox" id="ParkOperational_Status" name="ParkOperational_Visible" class="js-switch" data-switchery="true" value="true" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-close" class="btn btn-white" type="button" data-dismiss="modal">Close</button>
                <button id="btn-save" class="btn btn-primary" type="submit" style="display:none">SAVE <i class="fa fa-save"></i></button>
                <button id="btn-update" class="btn btn-primary" type="submit" style="display:none">UPDATE <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>

<div id="modal-schedules" class="modal">
    <div class="modal-dialog">
        <form class="modal-content animated fadeIn" action="/park/calendarSchedules/" method="post">
            <input type="hidden" name="idOperational" value="@parkOperational.ParkOperational_Id" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Orari</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Schedule</label>
                    <select id="schedules" name="schedule" class="form-control" required>
                        <option value=""></option>
                        @foreach (Core.ParkSchedules s in schedulesList.FindAll(s => s.ParkSchedule_Status == true))
                        {
                            <option value="@s.ParkSchedule_Id">@s.ParkSchedule_TimeStart - @s.ParkSchedule_TimeEnd</option>
                        }
                    </select>
                    <div>
                        <small id="schedule_description_container" style="display:none;">
                            <span><i id="schedule_color" class="fa fa-circle"></i> </span>
                            <span>Description: </span>
                            <span id="schedule_description"></span>
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Dates</label>
                    <ul id="selected-dates" class="list-inline"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-close" class="btn btn-white" type="button" data-dismiss="modal">Close</button>
                <button id="btn-save" class="btn btn-primary" type="submit">SAVE <i class="fa fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function (){
        var parkOperational = @Html.Raw(parkOperational.ParkOperational_Id == 0 ? "null" : Json.Encode(parkOperational));
        var parkOperationalList = @Html.Raw(Json.Encode(parkOperationalList));
        var calendarList = @Html.Raw(Json.Encode(calendarList));
        var calendarListDates = getDatesList(calendarList);
        var schedulesList = @Html.Raw(Json.Encode(schedulesList));

        console.log("calendarList:", calendarList);
        console.log("calendarListDates:", calendarListDates);
        console.log("schedulesList:", schedulesList);

        var $modalSchedules = $("#modal-schedules");

        $(".change_state").on("change", function (){
            var status = this.checked;
            $.post("/Park/ChangeStatusCalendar/", {
                idOperational: $(this).attr("id-operational"),
                status: status
            }, function (res){
                res == 1 ? $.success("SUCCESS", "El calendario se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "Surgio un error inesperato intentelo mas tarde");
            }).fail(function (response, status, xhr)
            {
                console.log(response, status, xhr);
            });
        });

        if($('#calendar').is(":visible")){
            var $calendar = $('#calendar').calendar({
                language: lang,
                startYear: parkOperational && parkOperational.ParkOperational_DateStart ? parkOperational.ParkOperational_DateStartFormat.toDate().getFullYear() : new Date().getFullYear(),
                minDate: parkOperational && parkOperational.ParkOperational_DateStart ? parkOperational.ParkOperational_DateStartFormat.toDate() : null,
                maxDate: parkOperational && parkOperational.ParkOperational_DateEnd ? parkOperational.ParkOperational_DateEndFormat.toDate() : null,
                active: true,
                enableRangeSelection: true,
                enableContextClear: true,
                clickDay: function (e){
                    var $element = $(e.element);
                    if($element.attr('saved')){
                        $element.toggleClass('btn-danger');
                    }else{
                        $element.toggleClass('btn-success');
                    }
                },
                selectRange: function (e){
                    if(e.elements.length > 1){
                        $(e.elements).each(function(){
                            var $element = $(this);
                            if($element.attr('saved')){
                                $element.removeClass('btn-danger');
                            }else{
                                $element.addClass('btn-success');
                            }
                        });
                    }
                },
                renderEnd: function (e){
                    if($calendar && calendarList && calendarList.length){
                        $calendar.setDatesSelected(calendarListDates.filter(c => c.getFullYear() == $calendar.getYear()));
                    }
                }
            });
            $calendar.setDatesSelected(calendarListDates);
            $("#btn-clear-calendar").on("click", function (){
                $calendar.clear();
            });
        }

        if($("#calendarSchedules").is(":visible")){
            var $calendarSchedules = $("#calendarSchedules").calendar({
                language: lang,
                startYear: parkOperational && parkOperational.ParkOperational_DateStart ? parkOperational.ParkOperational_DateStartFormat.toDate().getFullYear() : new Date().getFullYear(),
                minDate: parkOperational && parkOperational.ParkOperational_DateStart ? parkOperational.ParkOperational_DateStartFormat.toDate() : null,
                maxDate: parkOperational && parkOperational.ParkOperational_DateEnd ? parkOperational.ParkOperational_DateEndFormat.toDate() : null,
                hideEmptyMonths: true,
                enableRangeSelection: true,
                enableContextMenuCustom: true,
                contextMenuCustomItems: [
                    {
                        text: 'Insert Schedules',
                        click: function(e){
                            if(e.selected.length){
                                var $ulDates = $modalSchedules.find("#selected-dates");
                                $ulDates.empty();
                                $modalSchedules.find(".date").remove();
                                $.each(e.selected.dates, function(){
                                    var date = moment(this);
                                    $ulDates.append($("<li/>").text(date.format("L")));
                                    $modalSchedules.find("form").append('<input type="hidden" class="date" name="dates[]" value="' + date.toISOString() + '"/>');
                                });
                                $modalSchedules.modal("show");
                            }else{
                                $.warning("Dates", "Please select at least one date without schedule");
                            }
                        }
                    },
                   {
                       text: 'Update Schedules',
                       click: function (event) {

                           var $this = $(this);
                            var $ulDates = $modalSchedules.find("#selected-dates");
                            $ulDates.empty();
                            $modalSchedules.find(".date").remove();

                            var date = event.date.toLocaleDateString().toMoment();
                            var parkCalendar = calendarList.find(c => c.ParkCalendar_DateFormat.toMoment().format("L") == date.format("L"));
                            var idParkSchedule = parkCalendar.ParkCalendar_ParkCalendarSchedule.ParkCalendarSchedule_IdParkSchedule;
                            $("#schedules").val(idParkSchedule);

                            $ulDates.append($("<li/>").text(date.format("L")));
                            $modalSchedules.find("form").append('<input type="hidden" class="date" name="dates[]" value="' + date.toISOString() + '"/>');

                            $modalSchedules.modal("show");

                       }
                   },
                   {
                       text: 'Remove schedule',
                       click: function(e){
                           var $element = e.element;
                           var idParkCalendarSchedule = $element.attr("idParkCalendarSchedule");
                           if(idParkCalendarSchedule){
                               $.post("/Park/ChangeStatusCalendarSchedule/",{
                                   idParkCalendarSchedule: idParkCalendarSchedule,
                                   status: false
                               }, function (res){
                                   console.log(res);
                                   if(res != 0){
                                       $element.removeAttr("idparkschedule").css({
                                           "color": "",
                                           "border-radius": ""
                                       });
                                       $.success("SUCCESS", "The schedule was successfully eliminated");
                                   }else{
                                       $.error("ERROR", "An unexpected error occurred, try later");
                                   }
                               });
                           }else{
                               $.error("ERROR", "First add a schedule in the date selected");
                           }
                       }
                   }
                ],
                dayContextMenu: function(e){
                    e.element.addClass('contextMenu');
                },
                dayContextMenuHide: function(e){
                    e.element.removeClass('contextMenu');
                },
                clickDay: function (e){
                    var $element = $(e.element);
                    if(!$element.attr("idParkSchedule"))
                        $element.toggleClass('active btn-success');
                },
                selectRange: function (e){
                    if(e.elements.length > 1){
                        $(e.elements).each(function(){
                            if(!$(this).attr("idParkSchedule"))
                                $(this).addClass('active btn-success');
                        });
                    }
                },
                customDayRenderer: function(element, date) {
                    var $element = $(element);
                    var parkCalendar = calendarList.find(c => c.ParkCalendar_DateFormat.toMoment().format("L") == moment(date).format("L") && c.ParkCalendar_Status);
                    if(parkCalendar){
                        var parkCalendarSchedule = parkCalendar.ParkCalendar_ParkCalendarSchedule;
                        if(parkCalendarSchedule && parkCalendarSchedule.ParkCalendarSchedule_Status){
                            var idParkSchedule = parkCalendarSchedule.ParkCalendarSchedule_IdParkSchedule;
                            var schedule = schedulesList.find(s => s.ParkSchedule_Id == idParkSchedule);
                            $element.closest(".day").attr({
                                "idParkSchedule": idParkSchedule,
                                "idParkCalendarSchedule": parkCalendarSchedule.ParkCalendarSchedule_Id
                            }).css({
                                "color": schedule.ParkSchedule_Color
                            });
                        }
                    }else{
                        $element.closest('.day').addClass('disabled').css("pointer-events", "none");;
                    }
                },
                renderEnd: function(e){
                    if($calendarSchedules && calendarList && calendarList.length){
                        $calendarSchedules.setDatesSelected(calendarListDates.filter(c => c.getFullYear() == $calendarSchedules.getYear()));
                    }
                    $(this).find('.active').removeClass('active');
                }
            });
            $calendarSchedules.setDatesSelected(calendarListDates);
        }

        $("#schedules").on("change", function(){
            var idSchedule = this.value;
            if(idSchedule){
                var schedule = schedulesList.find(l => l.ParkSchedule_Id == idSchedule);
                $modalSchedules.find("#schedule_color").css("color", schedule.ParkSchedule_Color);
                $modalSchedules.find("#schedule_description").text(schedule.ParkSchedule_Description);
                $modalSchedules.find("#schedule_description_container").show();
            }else{
                $modalSchedules.find("#schedule_description_container").hide();
            }
        });

        if(parkOperational && parkOperational.ParkOperational_Id){
            $("#btn-save-calendar").on("click", function (){
                var $btn = $(this).button('loading');
                $.post("/Park/ManageCalendar", {
                    idOperational: parkOperational.ParkOperational_Id,
                    datesAdded: $calendar.getDatesCellISO($calendar.element.find('.btn-success')),
                    datesRemoved: $calendar.getDatesCellISO($calendar.element.find('.btn-danger')),
                }, function (res){
                    if(res != 0){
                        $.redirect(location.href, { Action: "update", Status: res });
                    }else{
                        $.error("ERROR", "An unexpected error occurred, try later");
                    }
                    $btn.button('reset');
                });
            });
        }

        $('#modal-form').on('show.bs.modal', function (e) {
            var $modal = $(e.target);
            var id_operational = $(e.relatedTarget).attr("id-operational");
            $modal.find(".btn:not(#btn-close)").hide();
            if(id_operational){
                var p = parkOperationalList.find(o => o.ParkOperational_Id == id_operational);
                $modal.setValues(p);
                $modal.find('#ParkOperational_DateStart').data("DateTimePicker").date(p.ParkOperational_DateStartFormat.toDate());
                $modal.find('#ParkOperational_DateEnd').data("DateTimePicker").date(p.ParkOperational_DateEndFormat.toDate());
                $modal.find('#ParkOperational_Color').colorpicker('setValue', p.ParkOperational_Color)
                $modal.find(".fa-tint").css("color", p.ParkOperational_Color);
                $modal.find("#btn-update").show();
            }else{
                $modal.clear();
                $modal.find("#ParkOperational_Id").val(0);
                $modal.find("#btn-save").show();
            }
        });
    });

    function getDatesList(calendar){
        var dates = [];
        $(calendar).each(function(){
            if(this.ParkCalendar_Status) dates.push(this.ParkCalendar_DateFormat.toDate());
        });
        return dates;
    }
</script>
