﻿@using System.Globalization
@model BackOfficeAcquaJoss.Models.ParkSchedulesModel
@{
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "horario");
}
<div class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Schedules</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Schedule</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Core.ParkSchedules s in Model.ParkSchedules)
                        {
                            <tr>
                                <td class="text-center"><i class="fa fa-circle" style="color: @s.ParkSchedule_Color"></i></td>
                                <td>@s.ParkSchedule_Description</td>
                                <td class="text-center" style="line-height:1">
                                    <div>@s.ParkSchedule_TimeStart - @s.ParkSchedule_TimeEnd</div>
                                    <small>@DateTime.Today.Add(s.ParkSchedule_TimeStart).ToString("hh:mm tt", new CultureInfo("en"))  - @DateTime.Today.Add(s.ParkSchedule_TimeEnd).ToString("hh:mm tt", new CultureInfo("en"))</small>
                                </td>
                                <td class="text-center">
                                    <div>@s.ParkSchedule_Status.ToString()</div>
                                </td>
                                <td class="text-center"><a class="btn-white btn btn-xs" href="/park/schedules/@s.ParkSchedule_Id">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="clearfix row">
                    <div class="form-group col-xs-8 col-sm-7 col-md-9">
                        <h3 class="m-n">Schedule</h3>
                        <small>when the park is open</small>
                    </div>
                    <div class="form-group col-xs-4 col-sm-5 col-md-3">
                        <a class="btn btn-block btn-info" href="/park/schedules/">New Schedule</a>
                    </div>
                </div>

                <form method="post" action="/Park/SchedulesInsertOrUpdate/">
                    @if (Model.ParkSchedule != null && Model.ParkSchedule.ParkSchedule_Id != 0)
                    {
                        @Html.HiddenFor(model => Model.ParkSchedule.ParkSchedule_Id)
                    }
                    <div class="row">
                        <div class="col-xs-6 form-group m-b-sm">
                            <label>Open</label>
                            <div class="input-group clockpicker" data-autoclose="true">
                                @Html.EditorFor(model => Model.ParkSchedule.ParkSchedule_TimeStart, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @Value = Model.ParkSchedule.ParkSchedule_Id == 0 ? string.Empty : Model.ParkSchedule.ParkSchedule_TimeStartString } })
                                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                        <div class="col-xs-6 form-group m-b-sm">
                            <label>Close</label>
                            <div class="input-group clockpicker" data-autoclose="true">
                                @Html.EditorFor(model => Model.ParkSchedule.ParkSchedule_TimeEnd, new { htmlAttributes = new { @class = "form-control input-sm", @required = "required", @Value = Model.ParkSchedule.ParkSchedule_Id == 0 ? string.Empty : Model.ParkSchedule.ParkSchedule_TimeEndString } })
                                <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-sm">
                        <label>Description</label>
                        @Html.TextAreaFor(model => Model.ParkSchedule.ParkSchedule_Description, new { @class = "form-control", @required = "required", @rows = "3" })
                        @if (Model.ParkSchedule != null && Model.ParkSchedule.ParkSchedule_CreationDate != null)
                        {
                            <div><small><b>Creation Date: </b>@Model.ParkSchedule.ParkSchedule_CreationDate.ToString()</small></div>
                        }
                    </div>
                    <div class="row">
                        <div class="form-group m-b-sm col-sm-6">
                            <label>Color</label>
                            <div class="input-group">
                                @Html.EditorFor(model => Model.ParkSchedule.ParkSchedule_Color, new { htmlAttributes = new { @class = "form-control input-sm colorpicker", @required = "required" } })
                                <div class="input-group-addon"><i class="fa fa-tint" style="color:@Model.ParkSchedule.ParkSchedule_Color"></i></div>
                            </div>
                        </div>

                        <div class="form-group m-b-sm col-sm-6">
                            <label>Status</label>
                            <div>
                                @Html.EditorFor(model => Model.ParkSchedule.ParkSchedule_Status, new { htmlAttributes = new { @class = "js-switch", @type = "checkbox", @data_switchery = "true" } })
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-right">
                        @if (Model.ParkSchedule.ParkSchedule_Id == 0)
                        {
                            <button class="btn btn-primary" type="submit">SAVE <i class="fa fa-save"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="submit">UPDATE <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $(".change_state").on("change", function ()
        {
            var status = this.checked;
            $.post("/Park/ChangeStatusSchedule/", {
                idSchedule: $(this).attr("id-schedule"),
                status: status
            }, function (res)
            {
                res == 1 ? $.success("SUCCESS", "El horario se " + (status ? "activo" : "desactivo") + " correctamente") : $.error("ERROR", "Surgio un error inesperato intentelo mas tarde");
            }).fail(function (response, status, xhr)
            {
                console.log(response, status, xhr);
            });
        });
    });
</script>