﻿@model BackOfficeAcquaJoss.Models.ParkSeasonsModel
@{
    Core.ParkOperational parkOperational = Model.ParkOperational;
    Html.RenderPartial("~/Views/Shared/_AlertStatusAndAction.cshtml", "season");
}

<style>
    .form-range-dates label.error{
        display:none !important;
    }
</style>
<div class="ibox">
    <div class="ibox-title">
        <h5><i class="fa fa-snowflake-o" aria-hidden="true"></i> SEASONS</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>    
                            <th class="text-center">Code</th>
                            <th class="text-center">Range Dates</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Core.ParkOperational o in Model.ParkOperationalList)
                        {
                            <tr>
                                <td class="text-center">@o.ParkOperational_Code</td>
                                <td class="text-center">@o.ParkOperational_DateStart.ToShortDateString() - @o.ParkOperational_DateEnd.ToShortDateString()</td>
                                <td class="text-center">
                                    <a class="btn btn-white btn-xs" href="/park/seasons/@o.ParkOperational_Id"><i class="fa fa-pencil-square-o"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="clearfix row">
                    <div class="form-group col-xs-8 col-sm-7 col-md-9">
                        <h3 class="m-n">Seasons</h3>
                        <small>add more seasons if is required</small>
                    </div>
                    <div class="form-group col-xs-4 col-sm-5 col-md-3">
                        <input id="add-season" type="button" class="btn btn-block btn-info" value="Add Season"/>
                    </div>
                </div>
                <table id="table-seasons" class="table table-stripped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Season</th>
                            <th class="text-center">Range Date</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.ParkSeasonsList != null && Model.ParkSeasonsList.Count > 0){
                            foreach (Core.ParkSeasons ps in Model.ParkSeasonsList) {
                                Html.RenderPartial("~/Views/Park/_RowSeason.cshtml", ps);
                            }
                        }
                        else
                        {
                            Core.ParkSeasons ps = new Core.ParkSeasons();
                            ps.ParkSeason_IdOperation = parkOperational.ParkOperational_Id;
                            Html.RenderPartial("~/Views/Park/_RowSeason.cshtml", ps);
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var parkOperational = @Html.Raw(Json.Encode(parkOperational));
    var id_operational = parkOperational.ParkOperational_Id;
    $(document).ready(function ()
    {
        var maxDate = parkOperational.ParkOperational_DateEnd.toMoment().format("L");
        //$(".input-daterange [name='ParkSeason_DateStart']").attr("min-date", parkOperational.ParkOperational_DateStart.toMoment().format("L"));
        //$(".input-daterange [name='ParkSeason_DateEnd']").attr("max-date", maxDate);
        statusIndex();
        $("#add-season").on("click", function ()
        {
            var $table = $("#table-seasons");
            var rowCount = $table.find("tbody tr").length;
            var $firstRow = $table.find("tbody tr:first");
            var $lastRow = $table.find("tbody tr:last");
            var $firstDate = $lastRow.find(".input-daterange :text:first");
            var $lastDate = $lastRow.find(".input-daterange :text:last");
            if ($firstDate.val() && $lastDate.val() && $lastRow.attr("parkseason_id")) {
                var row = $firstRow.html();
                var $row = $($.parseHTML("<tr>" + row + "</tr>"));
                $row.find("td:first").text("NEW")
                $row.clear();
                var $btn = $row.find(".btn-save-range");
                $btn.removeAttr("id-season");
                $btn.find(".fa").removeClass("fa-pencil-square-o").addClass("fa-save");

                $table.find("tbody").append($row);
                //if($lastRow.find(".active").length > 0)
                var nextDay = moment($lastDate.data('DateTimePicker').date());
                //var maxDate = parkOperational.ParkOperational_DateEndFormat.toMoment().format("L");
                var minDate = nextDay.add(1, 'days').format("L");
                $row.find(".input-daterange :text:first").attr("min-date", minDate).val(minDate);
                //$row.find(".input-daterange :text:last").attr("max-date", maxDate).val(maxDate);
                $row.datepicker();
                statusIndex();
            } else {
                $.error("DATES ERROR", "Please first save the last record and first select a valid range");
                $lastRow.addClass("active").delay(1000).removeClass("active");
                $lastRow.find(".btn-save-range").focus();
            }
        });

        $(this).on("click", ".btn-save-range", function ()
        {
            if (id_operational) {
                var $btn = $(this);
                var $row = $btn.closest("tr");
                var $form = $row.find(".form-range-dates");
                if ($form.valid()) {
                    var values = $row.getValues();
                    values.ParkSeason_IdOperation = id_operational;

                    var start = values.ParkSeason_DateStart.toMoment(dateTimeFormatDB);
                    var end = values.ParkSeason_DateEnd.toMoment(dateTimeFormatDB);
                    if(start.isSameOrBefore(end)){
                        values.ParkSeason_DateStart = start.toISOString();
                        values.ParkSeason_DateEnd = end.toISOString();
                        values.ParkSeason_Id = $btn.attr("id-season") ? parseInt($btn.attr("id-season")) : 0;
                        $.post("/Park/ManageSeason", values, function (res){
                            if (res != 0) {
                                $.redirect(location.href, { Action: values.ParkSeason_Id == 0 ? "insert" : "update", Status: res });
                            } else {
                                $.error("ERROR", "An unexpected error occurred, try later");
                            }
                        });
                    } else {
                        $.error("DATES ERROR", "Please, Check the selected dates");
                    }
                }
            }
        });
    });

    function statusIndex(){
        $("#table-seasons tbody tr").each(function (i, obj){
            var $row = $(this);
            var $checkboxStatus = $row.find(".switch .onoffswitch-checkbox");
            var $labelStatus = $row.find(".switch .onoffswitch-label");

            var idx = $checkboxStatus.attr("name") + (i + 1);
            $checkboxStatus.attr("id", idx);
            $labelStatus.attr("for", idx);
        });
    }
</script>